.main-content-wrapper {
    margin-top: 82px;

    @media (max-width: 767px) {
        margin-top: 74px;
    }
}

.section-title {
    margin-bottom: 60px;

    &.mw-550 {
        max-width: 550px;
    }

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;

        &.mw-550 {
            max-width: 100%;
        }
    }

    &.text-center {
        .sort-info {
            margin-left: auto;
            margin-right: auto;
        }
    }

    h1,
    h2 {
        margin-bottom: 20px;
        color: $primary;
    }
    h3 {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .sort-info {
        font-size: 16px;
        max-width: 900px;

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }

    .action {
        margin-top: 30px;
    }

    ul {
        padding: 0;
        margin: 0;
        margin-top: 25px;

        &.with-two-column {
            column-count: 2;

            @media (max-width:991px) {
                column-count: 1;
            }
        }

        li {
            margin-bottom: 12px;
            position: relative;
            font-size: 16px;
            @include flexbox;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                background-image: url(../images/icons/check-circle.svg);
                display: inline-block;
                min-width: 20px;
                max-width: 20px;
                min-height: 20px;
                max-height: 20px;
                background-size: 20px;
                background-repeat: no-repeat;
                content: "";
                margin-right: 10px;
                margin-top: 2px;
            }
        }
    }
}

.hero-header {
    padding: 60px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    .row {
        @media (max-width:767px) {
            @include align-items(center);
            @include flex-direction(column-reverse);
        }
    }

    .section-title {
        margin-bottom: 0;

        h1 {
            line-height: 1.1;
            color: $white;
        }

        color: #ffffff;

        strong {
            color: $secondary;
        }

        .sort-info {
            font-size: 18px;
            max-width: 700px;

            @media (max-width: 992px) {
                font-size: 16px;
            }
        }
    }

    .sub-title {
        color: #ffffff;
        font-size: 28px;
        margin-bottom: 20px;

        @media (max-width: 991px) {
            font-size: 24px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 0px;
        }
    }

    .hero-img {
        text-align: right;
        img {
            max-height: 360px;
        }
        @media (max-width:767px) {
            text-align: center;
            margin-bottom: 30px;

            img {
                max-width: 50%;
            }
        }
    }

    &.case-study-hero-header {
        padding: 250px 0 50px;
        @media (max-width: 992px) {
            padding: 180px 0 50px;
        }
        @media (max-width: 767px) {
            padding: 150px 0 50px;
        }
        .section-title {
            .with-date {
                span {
                    color: rgba($white, 0.9);
                    font-size: 12px;
                }
            }

            .tag {
                padding: 8px 20px;
                background: rgba($white, 0.9);
                display: inline-block;
                color: $primary;
                font-weight: 600;
                line-height: 1;
                font-size: 12px;
                @include border-radius(5px);
                margin-bottom: 15px;
                margin-right: 15px;
            }

            h1 {
                line-height: 1.3;
                font-size: 50px;
                font-weight: 600;

                @media (max-width: 991px) {
                    font-size: 40px;
                }

                @media (max-width: 767px) {
                    font-size: 36px;
                }
            }
        }
    }
}

.cta-section {
    padding: 35px 0px;
    background-color: $secondary;

    a {
        position: relative;
        z-index: 1;
        font-size: 16px;
        font-weight: 500;
        display: inline-flex;
        transition: all .2s ease-in-out;
        color: $black;
        text-decoration: none;
    }

    .icon-content-item {
        .info-dec {
            position: relative;

            &:hover {
                color: $primary;

                &::before {
                    width: 50%;
                    left: 0;
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: -2px;
                background: $primary;
                width: 0;
                height: 1px;
                @include transition(0.3s, ease-in-out);
            }
        }
    }

    .contact-text {
        display: inline-flex;
    }

    .btn {
        color: #ffffff;
    }

    .cta {
        align-items: center;
    }

    .sort-info {
        font-size: 24px;
        font-weight: 500;

        @media (max-width:992px) {
            font-size: 20px;
        }

        @media (max-width:767px) {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .action-block {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);

        @media (max-width:767px) {
            @include justify-content(center);
        }

        @media (max-width: 420px) {
            display: block;
            text-align: center;
        }

        .icon-content-item {
            @include inline-flex;
            @include align-items(center);
            margin-left: 30px;

            @media (max-width: 420px) {
                margin-left: 0px;
                margin-top: 25px;
            }

            .icon-with-bg {
                width: 42px;
                height: 42px;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include transition(0.3s, ease-in-out);
                margin-right: 10px;

                @media (max-width: 767px) {
                    width: 32px;
                    height: 32px;
                }
            }

            .card-title {
                font-size: 14px;
                line-height: 1;
                margin-bottom: 10px;

                @media (max-width: 767px) {
                    font-size: 13px;
                }
            }

            .info-dec {
                font-size: 18px;
                font-weight: 500;
                line-height: 1;

                @media (max-width: 767px) {
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.bg-white {
    background-color: $white;
}

.bg-gray {
    background-color: #F6F6F6;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-secondary-light {
    background-color: #DFFFFF;
}

.bg-praimary-light {
    background-color: #F3F7FC;
}

.bg-parallax-img {
    background-attachment: fixed;
    object-fit: cover;

    @media (max-width: 767px) {
        background-attachment: unset;
    }
}

.bg-circle-img {
    background-image: url(../images/circle-bg-img.svg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}
.bottom-right-wave-img {
    background-image: url(../images/bottom-right-wave-img.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.gradient-bg {
    background: linear-gradient(90deg, #0F3D8B 43%, rgba(15, 61, 139, 0.48) 98%);
}

.main-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;

    @media (max-width: 992px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.logos-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .splide__slide {
        text-align: center;

        .logo-img {
            padding: 10px 35px;

            @media (max-width: 767px) {
                padding: 10px 25px;
            }

            img {
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                    @include transform(scale(1.05));

                    @media (max-width: 767px) {
                        max-height: 40px;
                    }
                }
            }
        }

    }
}

.img-infocard-section {
    .card-image-block {
        background-color: #F1F5FB;
        border-radius: 12px;
        height: 100%;
        @include flexbox;
        @include justify-content(center);

        img {
            align-self: flex-end;
            max-width: 90%;
        }

        @media (max-width:767px) {
            margin-bottom: 20px;
            height: auto;
        }
    }

    .card {
        border: none;
        border-radius: 12px;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        .card-body {
            padding: 20px 25px;
        }

        .card-title {
            font-size: 20px;
            color: $primary;
            font-weight: 500;

            @media (max-width:991px) {
                font-size: 16px;
            }
        }

        .card-info {
            margin-bottom: 20px;

            @media (max-width:991px) {
                font-size: 14px;
            }
        }
    }
}

.infocard-grid-section {
    padding-bottom: 85px;

    @media (max-width: 992px) {
        padding-bottom: 35px;
    }

    .section-title {
        text-align: center;
    }

    .sort-info {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .card-block {
        @media (min-width:767px) {
            margin-bottom: 20px;
        }
    }

}

.info-card {
    border: none;
    padding: 25px;
    border-top: 5px solid #65B7B6;
    @include border-radius(10px);
    @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.1));
    background: $white;
    @include flexbox;
    @include flex-direction(column);

    @media (min-width:768px) {
        height: 100%;
    }

    .card-icon {
        margin-bottom: 15px;
        height: 60px;
        width: 60px;

        img {
            height: 100%;
        }
    }

    .card-body {
        @include flexbox;
        @include flex-direction(column);

        .card-details {
            flex: 1 1 auto;
        }
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 8px;

        @media (max-width:991px) {
            font-size: 16px;
        }
    }

    .card-text {

        margin-bottom: 20px;
        color: $black;
        font-weight: 400;

        @media (max-width:991px) {
            font-size: 14px;
        }
    }

    &.icon-left {
        @include flexbox;
        @include flex-direction(row);
        border-top: none;
        border-left: 5px solid $secondary;

        .card-body {
            padding: 0;
            padding-left: 25px;
            @include flexbox;
            @include flex-direction(column);

            .card-text {
                flex: 1;
            }
        }
    }

    &.with-border {
        border: 1px solid $primary;
    }
}

.testimonial-section {
    .card {
        color: $white;
        background-color: $primary;
        text-align: center;
        border-radius: 24px;
        padding: 50px 50px;

        @media (max-width:991px) {
            padding: 20px 20px;
        }

        @media (max-width:767px) {
            margin-bottom: 20px;

        }

        .card-title {
            h3 {
                color: $white;
                margin-bottom: 0px;
                line-height: 1.1;
            }
        }

        .sub-title {
            color: $secondary;
            margin-bottom: 20px;
        }

        .card-img-top {
            margin-bottom: 20px;
            text-align: center;
            background: url("../../upload/testi-bg.png");
            padding: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 150px;

            img {
                border-radius: 100px;
                height: 100%;
            }

            @media (max-width:991px) {
                padding: 15px;
            }

            @media (max-width:767px) {
                padding: 20px;
            }
        }

    }
}

.counter-box {
    text-align: center;

    &.with-bg {
        background: rgba(#0F3D8B, 0.05);
        @include border-radius(12px);
        padding: 30px;
        @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.1));
    }

    .counter {
        margin-bottom: 10px;
        line-height: 1;
        white-space: nowrap;
    }

    .info-text {
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        text-transform: capitalize;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    @media (max-width:991px) {
        margin-bottom: 40px;
    }
}

.counter-section {
    @media (max-width:991px) {
        padding-bottom: 20px;
    }

    .section-title {
       display: block;

        h2 {
            margin-bottom: 20px;
        }

        
    }

}

.cta-block-section {
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;

    .container {
        padding-top: 400px;
        padding-bottom: 50px;

        @media (max-width: 992px) {
            padding-top: 300px;
            padding-bottom: 30px;
        }

        @media (max-width: 767px) {
            padding-top: 200px;
            padding-bottom: 30px;
        }
    }

    .cta-card {
        max-width: 460px;
        background-color: $secondary;
        color: $primary;
        @include border-radius(25px);
        padding: 30px;

        @media (max-width: 767px) {
            padding: 20px;
            @include border-radius(15px);
        }

        .card-body {
            .section-title {
                margin-bottom: 0;

                h2 {
                    color: $primary;
                    margin-bottom: 10px;
                }

                .sort-info {
                    margin-bottom: 25px;
                }

                .btn-primary {
                    &:hover, &:focus {
                        background: transparent;
                        border-color: $primary;
                        color: $primary;
                    }
                }
            }
        }
    }
}

.image-content-block {
    .card-image-block {
        overflow: hidden;
        @include border-radius(12px);
        margin-right: 30px;

        img {
            @include border-radius(12px);
            @include transition(0.3s, ease-in-out);

            @media (max-width: 992px) {
                max-height: 450px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            @media (max-width: 767px) {
                max-height: 350px;
            }
        }

        @media (max-width: 992px) {
            margin-bottom: 30px;
            margin-right: 0;
        }

        &:hover {
            img {
                @include transform(scale(1.05));
            }
        }
    }

    &.right-image-block {
        .card-image-block {
            margin-left: 30px;
            margin-right: 0;

            @media (max-width: 992px) {
                margin-left: 0;
            }
        }

        .row {
            .col-lg-6 {
                @media (max-width: 992px) {
                    &:first-child {
                        order: 2;
                    }

                    &:last-child {
                        order: 1;
                    }
                }
            }
        }
    }
}

.faq-section {
    padding-bottom: 100px;

    @media (max-width:991px) {
        padding-bottom: 50px;
    }

    .faq-block {
        counter-reset: list;
        margin-bottom: 30px;

        .is-open {
            .collapse-title {
                &::after {
                    @include transform(translateY(-50%) rotate(180deg));
                }
            }
        }

        .collapse-item {
            margin-bottom: 20px;
            border-radius: 10px;
            background: #F6F6F6;
            padding: 20px;
            @include transition(0.3s, ease-in-out);

            @media (max-width: 767px) {
                padding: 15px;
                border-radius: 5px;
            }

            .collapse-title {
                background-color: transparent;
                padding: 0;
                border: none;
                display: block;
                width: 100%;
                text-align: left;
                @include flexbox;
                @include align-items(center);
                position: relative;
                cursor: pointer;

                &::before {
                    width: 40px;
                    background-size: contain;
                    flex: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    content: "0" counter(list);
                    counter-increment: list;
                    color: $black;

                    @media (max-width:991px) {
                        font-size: 15px;
                        width: 30px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 24px;
                    height: 24px;
                    @include transform(translateY(-50%) rotate(0deg));
                    background: url(../images/icons/down.svg) no-repeat center center;
                }

                h3 {
                    margin-bottom: 0;
                    font-size: 18px;
                    font-weight: 500;
                    color: $primary;
                    margin-right: 35px;

                    @media (max-width:991px) {
                        font-size: 16px;
                    }
                }
            }

            .collapse-body {
                margin-left: 40px;

                @media (max-width: 767px) {
                    margin-left: 30px;
                }

                .sort-info {
                    padding-top: 15px;
                }
            }

            &:hover {
                @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.1));
            }
        }
    }
}

.blog-section {
    .blog-post-card {
        margin-bottom: 30px;
        @include flexbox;
        @include transition(0.3s, ease-in-out);
        @include border-radius(10px);
        @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.1));

        @media (max-width: 575px) {
            @include flex-direction(column);
        }

        .post-img-thumb {
            overflow: hidden;
            @include border-radius(10px 0 0 10px);
            min-width: 200px;
            max-width: 200px;

            @media(max-width: 767px) {
                min-width: 150px;
                max-width: 150px;
            }

            @media (max-width: 575px) {
                max-width: 100%;

                @include border-radius(10px 10px 0 0);
            }

            img {
                @include transition(0.3s, ease-in-out);
                max-height: 250px;
                width: 100%;
                @include border-radius(0px);
                object-fit: cover;
                object-position: center;
            }

        }

        .blog-short-info {
            background: #fff;
            width: 100%;
        }

        .blog-post-inner {
            padding: 25px;
            @include flexbox;
            @include flex-direction(column);
            height: 100%;
            width: 100%;

            @media (max-width: 767px) {
                padding: 20px;
            }

            .blog-post-details {
                flex: 1 1 auto;

                .post-date {
                    color: #94A4AD;
                    margin: 0 0 5px;
                    font-size: 12px;
                }

                .post-title {
                    font-weight: 600;
                    font-size: 18px;
                    font-family: "Poppins", sans-serif;
                    margin-bottom: 10px;
                    color: $primary;

                    @media(max-width: 767px) {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                .post-text {
                    margin-bottom: 30px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $black;
                }
            }

            .post-meta-block {
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);

                .post-meta {
                    @include flexbox;
                    @include align-items(center);

                    .post-avatar {
                        margin-right: 8px;

                        img {
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            margin: 0px;
                            flex: none;
                            border-radius: 100%;
                            background: #fff;

                            @media (max-width: 767px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .post-user-name {
                        color: $primary;
                        font-size: 14px;
                        font-weight: 500;

                        @media (max-width: 767px) {
                            font-size: 12px;
                        }
                    }
                }

                .post-action {
                    .btn-link {
                        @media (max-width: 767px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &:hover,
        &:focus {
            border-color: $primary;

            .post-img-thumb {
                img {
                    @include transform(scale(1.05));
                }
            }

            .blog-post-inner {
                .blog-post-details {
                    .post-title {
                        color: $black;
                    }
                }

                .post-meta-block {
                    .post-action {
                        .btn-link {
                            &:before {
                                width: 50%;
                            }

                            &:after {
                                @include transform(translateX(5px));
                            }
                        }
                    }
                }
            }
        }
    }

    .latest-blogs {
        margin-left: 15px;

        @media (max-width: 992px) {
            margin-top: 50px;
            margin-left: 0px;
        }

        h2 {
            color: $primary;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .blog-list {
            .blog-post {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .post-img {
                    min-width: 60px;
                    min-height: 60px;
                    max-width: 60px;
                    max-height: 60px;
                    overflow: hidden;
                    margin-top: 3px;
                    @include border-radius(5px);

                    img {
                        @include border-radius(5px);
                        max-width: 60px;
                        @include transition(0.3s, ease-in-out);
                    }
                }

                .post-title {
                    margin-left: 10px;
                    height: 100%;

                    position: relative;

                    .title {
                        font-size: 14px;
                        color: $black;
                        font-weight: 500;
                        @include transition(0.3s, ease-in-out);

                        &:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            bottom: -2px;
                            background: $primary;
                            width: 0;
                            height: 1px;
                            @include transition(0.3s, ease-in-out);
                        }
                    }

                    .post-date {
                        color: #94A4AD;
                        margin: 5px 0 0;
                        font-size: 12px;

                        @media (max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                }

                &:hover {
                    .post-img {
                        img {
                            @include transform(scale(1.1));
                        }
                    }

                    .post-title {
                        .title {
                            color: $primary;

                            &:before {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        @include justify-content(center);
        margin-top: 50px;

        .page-nav {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            padding: 0;

            li {
                line-height: 0.7;
                margin: 0 3px;
                @include border-radius(40px);

                .page-link {
                    width: 40px;
                    height: 40px;
                    @include border-radius(40px);
                    border: 1px solid rgba(0, 0, 0, 0.15);

                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    font-size: 16px;
                    color: $primary;
                    @include transition(0.2s, ease-in-out);

                    &.prev {
                        min-width: 40px;
                        min-height: 40px;
                        border-color: transparent;
                        background: rgba(0, 0, 0, 0.1);
                        margin-right: 15px;

                        .icon-arrow-left {
                            background: url(../images/icons/icon-arrow-left.svg) no-repeat center center;
                            width: 7px;
                            height: 12px;
                            display: inline-block;
                            background-size: contain;
                            flex: none;
                            @include transition(0.2s, ease-in-out);
                            filter: unset;
                            -webkit-filter: unset;
                        }

                        @media (max-width: 575px) {
                            margin-right: 15px;
                        }
                    }

                    &.next {
                        border-color: transparent;
                        background: rgba(0, 0, 0, 0.1);
                        min-width: 40px;
                        min-height: 40px;
                        margin-left: 15px;


                        .icon-arrow-right {
                            background: url(../images/icons/icon-arrow-right.svg) no-repeat center center;
                            width: 7px;
                            height: 12px;
                            display: inline-block;
                            background-size: contain;
                            flex: none;
                        }
                    }
                }

                &:hover,
                &:focus {
                    .page-link:not(.current) {
                        background: rgba($primary, 0.8);
                        border-color: transparent;
                        color: $white;
                    }

                    .page-link.prev .icon-arrow-left,
                    .page-link.next .icon-arrow-right {
                        filter: brightness(0) invert(1);
                    }
                }

                .current {
                    font-weight: 700;
                    color: #ffffff;
                    border-color: $primary;
                    background: $primary;
                    cursor: default;
                }


            }
        }
    }
}

.blog-details-section {
    padding: 50px 0 70px;

    @media (max-width: 992px) {
        padding: 40px 0 50px;
    }

    .full-view-img {
        @include border-radius(12px);
        overflow: hidden;
        margin-bottom: 30px;
        max-height: 450px;

        img {
            width: 100%;
            object-fit: cover;
            @include transition(0.3s, ease-in-out);
        }

        &:hover,
        &:focus {
            img {
                @include transform(scale(1.05));
            }
        }
    }

    .blog-info {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        margin-bottom: 40px;

        .user-details {
            @include flexbox;
            @include align-items(center);

            .user-img {
                min-width: 40px;
                max-width: 40px;
                min-height: 40px;
                max-height: 40px;
                @include border-radius(50%);
                overflow: hidden;
            }

            .user-name {
                margin-left: 10px;

                .name {
                    color: $primary;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 1;
                    margin-bottom: 5px;
                }

                .date {
                    color: #94A4AD;
                    font-size: 12px;
                }
            }
        }

        .social-list {
            ul {
                @include inline-flex;
                @include justify-content (flex-end);
                @include align-items(center);

                li {
                    margin: 0 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    @media (max-width: 767px) {
                        margin: 0 5px;
                    }

                    a {
                        min-width: 35px;
                        min-height: 35px;
                        border: 1px solid rgba(#94A4AD, 0.4);
                        display: inline-flex;
                        @include align-items(center);
                        @include justify-content(center);
                        @include border-radius(5px);
                        @include transition(0.3s, ease-in-out);

                        .icons {
                            display: inline-block;
                            background-size: contain !important;
                            width: 15px;
                            height: 15px;
                            @include transition(0.3s, ease-in-out);
                        }

                        &:hover,
                        &:focus {
                            background: $primary;
                            border-color: $primary;

                            .icons {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
    }

    .content-block {
        h2,
        h3,
        h4,
        h5 {
            color: $primary;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 30px;

            @media (max-width: 767px) {
                font-size: 24px;
            }
        }

        h3 {
            font-size: 24px;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        blockquote {
            position: relative;
            padding: 30px;
            margin-left: 30px;
            margin-right: auto;
            margin-top: 60px;
            margin-bottom: 0;
            background: $primary;
            color: $white;

            @media (max-width: 767px) {
                padding: 20px;
                margin-left: 20px;
                margin-top: 50px;
            }

            &::before {
                content: '';
                position: absolute;
                left: -30px;
                top: -30px;
                background-color: $secondary;
                width: 50%;
                height: 95%;
                z-index: -1;

                @media (max-width: 767px) {
                    width: 80%;
                    left: -20px;
                    top: -20px;
                }
            }

            a {
                color: $secondary;
                position: relative;
                @include transition(0.3s, ease-in-out);

                &:before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    bottom: 0px;
                    background: $white;
                    width: 0;
                    height: 1px;
                    @include transition(0.3s, ease-in-out);
                }

                &:hover,
                &:focus {
                    color: $white;

                    &::before {
                        width: 50%;
                    }
                }
            }
        }

        a {
            color: $primary;
            position: relative;
            font-weight: 500;
            @include transition(0.3s, ease-in-out);

            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0px;
                background: $black;
                width: 0;
                height: 1px;
                @include transition(0.3s, ease-in-out);
            }

            &:hover,
            &:focus {
                color: $black;

                &::before {
                    width: 50%;
                }
            }
        }

        img {
            @include border-radius(12px);
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-bottom: 15px;

            li {
                list-style-type: disc;
                padding: 5px 0;

                &::marker {
                    color: $primary;
                }
            }
        }

        ol {
            list-style-type: decimal;
            padding-left: 20px;
            margin-bottom: 15px;

            li {
                list-style-type: decimal;
                padding: 5px 0;

                &::marker {
                    color: $primary;
                    font-weight: 700;
                }
            }
        }
    }
}

.relatad-post-section {
    h2 {
        color: $primary;
        margin-bottom: 30px;

        @media (max-width:991px) {
            margin-bottom: 20px;
        }
    }

    .blog-post {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        position: relative;

        .post-img {
            min-width: 150px;
            overflow: hidden;
            margin-left: 20px;
            @include border-radius(10px);

            @media (max-width: 992px) {
                min-width: 120px;
                margin-left: 15px;
            }

            @media (max-width: 575px) {
                min-width: 100px;
            }

            img {
                min-width: 150px;
                min-height: 90px;
                max-width: 150px;
                max-height: 90px;
                object-fit: cover;
                object-position: center;
                @include transition(0.3s, ease-in-out);

                @media (max-width: 992px) {
                    min-width: 120px;
                    max-width: 120px;
                }

                @media (max-width: 575px) {
                    min-width: 100px;
                    min-height: 80px;
                    max-width: 100px;
                    max-height: 80px;
                }
            }
        }

        .post-title {
            width: 100%;
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(stretch);
            @include flex-direction(column);

            .title {
                font-size: 16px;
                color: $black;
                font-weight: 500;
                @include transition(0.3s, ease-in-out);

                @media (max-width: 575px) {
                    font-size: 14px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: -2px;
                    background: $primary;
                    width: 0;
                    height: 1px;
                    @include transition(0.3s, ease-in-out);
                }
            }

            .post-date {
                color: #94A4AD;
                margin: 5px 0 0;
                font-size: 12px;
            }
        }

        &:hover {
            .post-img {
                img {
                    @include transform(scale(1.1));
                }
            }

            .post-title {
                .title {
                    color: $primary;

                    &::before {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.categary-list-block {
    background: #fff;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 40px;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
        height: 6px;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9898aa;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-track {
        background-color: #eeeeee;
        border-radius: 16px;
    }

    .categories-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;

        li {
            flex-grow: 0;
            flex-shrink: 0;

            .categories-btn {
                text-decoration: none;
                display: block;
                padding: 8px 20px;
                border: 1px solid rgba($primary, 0.1);
                color: #5f5f5f;
                margin-right: 10px;
                @include border-radius(6px);
                @include transition(0.3s, ease-in-out);

                &.active,
                &:hover,
                &:focus {
                    border-color: $primary;
                    color: $white;
                    background: $primary;
                }
            }
        }
    }
}

.case-studies-card-section {
    .card {
        border: none;
        height: 100%;
        @include transition(0.3s, ease-in-out);

        .card-img-top {
            @include border-radius(10px);
            overflow: hidden;

            img {
                width: 100%;
                @include transition(0.3s, ease-in-out);
            }
        }

        .card-body {
            padding: 20px 0px 0;
            flex: 1 1 auto;

            .tag {
                font-size: 12px;
                display: inline-block;
                color: #9A9A9A;
                margin-bottom: 10px;
                @include transition(0.3s, ease-in-out);
            }

            .card-title {
                margin-bottom: 15px;
                color: $primary;
                font-size: 20px;

                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }
        }

        .card-footer {
            padding: 0;
            background: transparent;
            border-top: 0;
        }

        &:hover,
        &:focus {
            border-color: $primary;

            .card-img-top {
                img {
                    @include transform(scale(1.05));
                }
            }

            .card-body {
                .card-title {
                    color: $black;
                }
            }

            .card-footer {
                .btn-link {
                    &:before {
                        width: 50%;
                    }

                    &:after {
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    .relatad-card-section {
        @media (max-width: 767px) {
            overflow: hidden;
            overflow-x: auto;
            @include flex-wrap(nowrap);
            padding-bottom: 12px;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 6px;
                height: 6px;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #9898aa;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-track {
                background-color: #eeeeee;
                border-radius: 16px;
            }

            .col-md-4 {
                max-width: 280px;
            }
        }
    }
}

.case-study-details-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;

    @media (max-width: 767px) {
        margin-top: 20px;
    }

    .detail-box {
        height: 100%;

        .title {
            color: $primary;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 5px;

            @media (max-width: 992px) {
                font-size: 16px;
            }
        }

        .details {
            font-size: 16px;

            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

.case-study-detail-section {
    padding: 50px 0;

    .full-view-img {
        @include border-radius(12px);
        overflow: hidden;
        margin-bottom: 30px;

        img {
            width: 100%;
            min-height: 450px;
            object-fit: cover;
            @include transition(0.3s, ease-in-out);

            @media (max-width: 767px) {
                min-height: 300px;
                max-height: 300px;
            }
        }

        &:hover,
        &:focus {
            img {
                @include transform(scale(1.05));
            }
        }
    }

    .project-details {
        margin-left: 30px;
        margin-top: 5px;

        @media (max-width: 992px) {
            margin-left: 10px;
        }

        @media (max-width: 767px) {
            margin-left: 0px;
        }

        .project-name {
            @include flexbox;
            @include align-items(center);
            margin-bottom: 30px;

            .name {
                margin-left: 25px;

                .label {
                    font-size: 14px;
                    display: inline-block;
                    color: #9A9A9A;
                    margin-bottom: 8px;
                }

                h2 {
                    margin-bottom: 0;
                    font-size: 32px;
                    color: $primary;
                    line-height: 1;
                }
            }
        }

        .role {
            margin-top: 30px;

            .title {
                color: $primary;
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }

    .content-block {

        h2,
        h3 {
            color: $primary;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 30px;

            @media (max-width: 767px) {
                font-size: 24px;
            }
        }

        h3 {
            font-size: 24px;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-bottom: 15px;

            li {
                list-style-type: disc;
                padding: 5px 0;

                &::marker {
                    color: $primary;
                }
            }
        }

        ol {
            list-style-type: decimal;
            padding-left: 20px;
            margin-bottom: 15px;

            li {
                list-style-type: decimal;
                padding: 5px 0;

                &::marker {
                    color: $primary;
                    font-weight: 700;
                }
            }
        }
    }
}

.circle-number-list {
    @media (max-width: 992px) {
        margin-top: 30px;
    }

    ul {
        counter-reset: list;

        li {
            margin-bottom: 30px;
            padding-left: 70px;
            position: relative;
            @media (max-width: 767px) { 
                padding-left: 55px;
            }
            &:last-child {
                margin-bottom: 0;

                &::after {
                    content: none;
                }
            }

            &::before {
                content: "0" counter(list);
                counter-increment: list;
                min-width: 48px;
                min-height: 48px;
                max-width: 48px;
                max-height: 48px;
                background: #7CE3E2;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(50%);
                font-size: 18px;
                color: $black;
                font-weight: 600;
                position: absolute;
                top: 0;
                left: 0;
                @media (max-width: 767px) {
                    min-width: 38px;
                    min-height: 38px;
                    max-width: 38px;
                    max-height: 38px;
                    font-size: 14px;
                }
            }

            &::after {
                content: '';
                width: 1px;
                height: 100%;
                background: #F6F6F6;
                display: inline-block;
                position: absolute;
                left: 23px;
                top: 46px;
                z-index: -1;
                @media (max-width: 767px) { 
                    top: 36px;
                    left: 19px;
                }
            }

            h3 {
                font-size: 20px;
                color: $primary;
                margin-bottom: 10px;
                @media (max-width: 767px) { 
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.testimonial-block {
    background: #DFFFFF;
    padding: 70px;
    width: 100%;
    text-align: center;
    position: relative;
    @include border-radius(12px);

    @media (max-width: 767px) {
        padding: 40px;
    }

    &::after {
        content: '';
        background: url(../images/circle-dark-bg-img.svg) no-repeat center center;
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -70px;
        left: -70px;
        background-size: contain;

        @media (max-width: 767px) {
            width: 120px;
            height: 120px;
            left: -12px;
            bottom: -50px;
        }
    }

    &::before {
        content: '';
        background: url(../images/circle-dark-bg-img.svg) no-repeat center center;
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -30px;
        right: -40px;
        background-size: contain;

        @media (max-width: 767px) {
            width: 70px;
            height: 70px;
            right: -12px;
        }
    }

    .user-img {
        margin-bottom: 20px;

        img {
            min-height: 75px;
            max-height: 75px;
            @include border-radius(5px);

            @media (max-width: 767px) {
                min-height: 60px;
                max-height: 60px;
            }
        }
    }

    .sort-info {
        font-size: 18px;
        max-width: 650px;
        margin: 0 auto 20px;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    .user-name {
        .name {
            font-size: 22px;
            font-weight: 600;
            color: $primary;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        .designation {
            font-size: 14px;
            color: #9A9A9A;

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

.contact-detail-block {
    background: #F3F7FC;
    padding: 30px;
    @media (max-width: 767px) {
        padding: 20px;
    }
    h2 {
        color: $primary;
        line-height: 1.5;
        // font-size: 32px;
    }

    .sort-info {
        margin-bottom: 40px;
    }

    a {
        @include inline-flex;
        @include align-items(center);
        color: $primary;
        margin-bottom: 20px;

        span {
            position: relative;
            &::before {
                content: "";
                position: absolute;               
                left: 0;
                bottom: 0px;
                background: $primary;
                width: 0;
                height: 1px;
                @include transition(0.3s, ease-in-out);
            }
        }

        .icon-phone {
            background: url(../images/icons/icon-phone.svg) no-repeat center center;
            background-size: contain;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: 10px;
        }

        .icon-email {
            background: url(../images/icons/icon-mail.svg) no-repeat center center;
            background-size: contain;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: 10px;
        }

        &:hover,
        &:focus {
            span {
                &::before {
                    width: 50%;
                }
            }
        }
    }

    .social-info {
        margin-top: 40px;
        ul {
            @include flexbox;
            @include align-items(center);
            li {
                padding: 0 5px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    min-width: 35px;
                    min-height: 35px;
                    display: inline-flex;
                    border: 1px solid rgba(#94A4AD, 0.4);
                    @include align-items(center);
                    @include justify-content(center);
                    @include border-radius(5px);
                    @include transition(0.3s, ease-in-out);
                    margin-bottom: 0;
                    .icons {
                        display: inline-block;
                        background-size: contain !important;
                        width: 15px;
                        height: 15px;
                        @include transition(0.3s, ease-in-out);
                    }

                    &:hover,
                    &:focus {
                        background: $primary;
                        border-color: $primary;

                        .icons {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
}

.contact-form-block {
    margin-left: 30px;
    @media (max-width: 767px) {
        margin-left: 0px;
        margin-top: 40px;
    }
    .tag {
        color: #9A9A9A;
        font-size: 14px;
    }
    h3 {
        color: $primary;
    }
}
.job-list {
    border: 1px solid rgba(#94A4AD, 0.4); padding: 25px; width: 100%; margin-bottom: 20px; @include border-radius(8px); @include transition(0.3s, ease-in-out); background: #fff;
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: 992px) {
        padding: 20px;
    }
    @media (max-width: 767px) {
        padding: 15px;
    }
    a {
        @include flexbox; @include align-items(center); @include flex-wrap(wrap);
    }
    h3 {
        width: 50%; color: $primary; font-size: 18px; margin-bottom: 0; @include transition(0.3s, ease-in-out); white-space: nowrap;
        @media (max-width: 767px) {
            font-size: 16px;
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .role {
        color: $black; width: 40%;
    }
    .action {
        margin-left: auto;
        .icon-right-arrow {
            background: url(../images/icons/next.svg) no-repeat center center; background-size: contain; width: 18px; height: 18px; display: inline-block; @include transition(0.3s, ease-in-out);
            @media (max-width: 767px) {
                width: 16px; height: 16px;
            }
        }
    }
    &:hover {
        border-color: $primary;
        h3 {
            color: $black; 
        }
        .action {
            .icon-right-arrow {
                @include transform(translateX(5px));
            }
        }
    }
}
.apply-job-section {
    .apply-job-form-block {
        margin-left: 30px;
        @media (max-width: 767px) {
            margin-left: 0px;
        }
    }
}