.accordion{
    .card{
        background-color: transparent;
        border: none;
        position: relative;
        
        &.card-accordion:not(:last-child) {
            margin-bottom: 32px;
        }
        &.card-accordion {
            padding-left: 20px;
            @media (max-width:991px) {
                padding-left: 15px;
            }
        }

        &:before{
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #E8E9EB;
            border-radius: 3px;
        }
        &:after{
            content: '';
            position: absolute;
            width: 6px;
            height: 0%;
            top: 0;
            left: 0;
            background-color: $purple;
            border-radius: 3px;
            @include transition(0.3s, ease-in-out);
        }
        .card-header{
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            @media (min-width:992px) {
                padding-top: 0px;
            }
            @media (max-width:991px) {
                padding-right: 0 !important;
            }
            h4{
                user-select: none;
                position: relative;
                @media (max-width:575px) {
                    font-size: 20px;
                }
                &:after{
                    content: "";
                    background: url(../../assets/images/arrow-up.svg) no-repeat center right;
                    background-size: 16px;
                    width: 17px;
                    height: 15px;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    @include transition(0.3s, ease-in-out);
                    transform: rotate(180deg);
                }
            }
        }
        .card-body{
            padding: .75rem 1.25rem 0px !important;

            .sort-info{
                margin-bottom: 25px;
            }
            .btn-arrow{
                font-size: 18px;
                font-weight: 600;
                position: relative;
                z-index: 1;
                display: inline;
                padding: 0px 30px 0px 0px;
                color: $purple;
                margin: 0;
                @include transition(0.2s, ease-in-out);
                &:after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 15px;
                    background: url(../images/line-arrow-right.svg) no-repeat center;
                    right: 0px;
                    top: 4px;
                }
                &:hover{
                    padding-right: 40px;
                }
            }
        }
        
        &.active{
            &:after{
                height: 50%;
            }
            .card-header{
                h4{
                    &:after{
                    transform: rotate(0deg);
                    right: 10px;
                    }
                }
            }
        }
    }
}