.text-primary   {color: $primary !important;}

.text-white     {color: #fff !important;}
.text-black      {color: $black !important;}
.text-dark      {color: $dark !important;}
.text-gray      {color: $gray !important;}

.text-underline {
    position: relative;
    z-index: 1;
    display: inline-block;
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: 12px;
        bottom: 3px;
        z-index: -1;
        background-color: #EE5D24;
    }
}

.bg-white {
	background-color: $white !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-dark {
    background-color: $black !important;
    & > * {
        color: $white;
    }
}
.bg-gray {
    background-color: $gray !important;
}
.bg-light {
    background-color: $light !important;
}
.bg-lightgray {
    background-color: #f3f3f3 !important;
}
.bg-custom {
    background: var(--header-bg, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.main-content-wrapper {
}
.main-section {
    padding: 100px 0;
    position: relative;
    @media (max-width: 992px) { 
        padding: 60px 0;
    }
    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }


    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
			.sort-info {
				color: rgba(#fff, 0.6) !important;
			}
		}
		.text-color {
			color: rgba(#FFFFFF, 0.6) !important;
		}
    }

    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }

    &.is-dark {
        
    }

    &.hr-top {border-top: 1px solid #f0f7ff;}
	&.hr-bottom {border-bottom: 1px solid #f0f7ff;}

    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
            &.text-center {
                margin: auto;
            }
        }
    }

    @media (max-width: 992px) {
        &.is-row-md-scrollbar .md-scrollbar-col {
            justify-content: flex-start !important;
            @include flex-wrap(nowrap);
            overflow: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory; 
            scroll-padding: 10px;
            padding-bottom: 15px;

            & > .col-info {
                max-width: 300px;
                scroll-snap-align: center;
                flex: 0 0 auto; 
                min-width: 300px;
            }
        }
    }

    @media (max-width:767px) {
		&.m-container-full {
			.container {max-width: 100%;}
		}
		&.m-text-center .section-title {
			text-align: center !important;
		}

		&.m-row-column-reverse {
			& > .container > .row {
				@include flex-direction(column-reverse);
			}
		}

        &.bg-none-m {
            background-image:none !important;
        }

        &.b-radius-dark, &.b-radius-light {
            @include border-radius(0 0 24px 24px);
        }
	}

    &.is-outside-section {
        padding-bottom: 0;
        margin-bottom: 170px;
        @media (max-width: 992px) {
            margin-bottom: 120px;
        }
        @media (max-width: 768px) {
            margin-bottom: 100px;
        }
        .form-content-block {
            margin-bottom: -70px;
            @media (max-width: 992px) {
                margin-bottom: -50px;
            }
        }
    }
    
    // Square Animation Vector
    .square-vector {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 3;
        @media (max-width: 1200px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            top: -70px;
            left: 0;
            width: 100%;
            -webkit-transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: bottom;
            @include transform(scaleY(0));
            @media (max-width: 1200px) {
                top: -50px;
            }
            @media (max-width: 767px) {
                top: -30px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: top;
            @include transform(scaleY(0));
        }
        &.animated {
            &::before, &::after {
                @include transform(scaleY(1));
            }
        }
        &.is-lb-vector {
            left: 70px;
            bottom: -70px;
            @media (max-width: 1200px) {
                left: 30px;
                bottom: -50px;
            }
            @media (max-width: 767px) {
                left: 10px;
                bottom: -30px;
            }
        }
        &.is-tr-vector {
            right: 70px;
            top: 0;
            @media (max-width: 1200px) {
                right: 30px;
            }
            @media (max-width: 767px) {
                right: 10px;
            }
        }
        &.is-br-vector {
            right: 70px;
            bottom: -70px;
            @media (max-width: 1200px) {
                right: 30px;
                bottom: -50px;
            }
            @media (max-width: 767px) {
                right: 10px;
                bottom: -30px;
            }
        }
        &.is-white-orange {
            &::before {
                background: $white;
            }
            &::after {
                background: $primary;
            }
        }
        &.is-white-black {
            &::before {
                background: $white;
            }
            &::after {
                background: $black;
            }
        }
        &.is-vector-style1 {		
            &::before {
                height: 200%;
                left: 0;
                bottom: 0;
            }
            &::after {
                left: 100%;
                top: 0;
            }
            &.is-lb-vector {
                left: 0px;
                bottom: 70px;
                @media (max-width: 1200px) {
                    bottom: 50px;
                }
                @media (max-width: 767px) {
                    bottom: 30px;
                }
            }
        }
        &.is-vector-style2 {		
            &::before {
                left: -70px;
                top: 0;
                transform-origin: right;
                @include transform(scaleX(0));
                @media (max-width: 1200px) {
                    left: -50px;
                }
                @media (max-width: 767px) {
                    left: -30px;
                }
            }
            &::after {
                left: 0;
                top: 0;
                transform-origin: left;
                @include transform(scaleX(0));
            }
            &.animated {
                &::before, &::after {
                    @include transform(scaleX(1));
                }
            }
            &.is-lb-vector {
                left: 0px;
                bottom: 70px;
                @media (max-width: 1200px) {
                    bottom: 50px;
                }
                @media (max-width: 767px) {
                    bottom: 30px;
                }
            }
            &.is-tr-vector {
                right: -70px;
                top: 70px;
                @media (max-width: 1200px) {
                    right: -50px;
                    top: 50px;
                }
                @media (max-width: 767px) {
                    right: 0px;
                    top: 0;
                    &::after {
                        left: -30px;
                        top: -30px;
                    }
                }
            }
            &.is-br-vector {
                right: -70px;
                bottom: 70px;
                @media (max-width: 1200px) {
                    bottom: 50px;
                    right: -50px;
                }
                @media (max-width: 767px) {
                    bottom: 0px;
                    right: 0px;
                     &::after {
                        right: auto;
                        left: -30px;
                        top: auto;
                        bottom: -30px;
                    }
                }
            }
        }
    }
}

.section-title {
    // max-width: 750px;
    margin-bottom: 50px;
    @media (max-width: 767px) { 
        margin-bottom: 40px;
    }
    &.text-center {
        margin: 0 auto 50px;
        @media (max-width: 767px) { 
            margin: 0 auto 40px;
        }
    }
    .tag-line {
        margin-bottom: 10px;
        display: block;
        font-size: 16px;
        color: $primary;
        font-weight: 600;
    }

    h1, h2, h3 {
        margin-bottom: 20px;
    }
    .sort-info {
        a {
            color: $primary;
        }
    }
    .action {
        margin-top: 25px;
    }
}

@mixin staggered-transition($child-count, $delay) {
    @for $i from 1 through $child-count {
        &:nth-child(#{$i}) {
            transition-delay: $i * $delay;
        }
    }
}

// Hero 
.hero-header {
    position: relative;
    background-color: $dark;
    
    .hero-splide-slider {
        padding: 0;
        .hero-slide {
            &.is-active {
                .hero-title.is-animate {
                    & > * {
                        @include opacity(1);
                        @include transform(translateY(0px));
                    }
                }
            }
        }
    }
    .hero-slide {
        background-size: cover;
        background-position: center center;
        padding: 150px 0;
        @media (max-width: 1200px) {            
            padding: 100px 0 150px;
        }
        @media (max-width: 992px) {            
            padding: 70px 0 120px;
        }
        @media (max-width: 767px) {            
            padding: 50px 0 120px;
        }
    }
    .hero-title {
        max-width: 770px;
        margin-left: auto;
        color: #ffffff;

        &.text-left {
            text-align: left;
            margin-left: 0; 
        }
        &.text-center {
            text-align: center;
            margin: auto;   
        }

        & > * {
            @include opacity(0);
            @include transform(translateY(30px));
            @include transition(0.6s, ease-in-out);
            @include staggered-transition(5, 0.3s);
        }
        .tag-line {
            font-size: 30px;
            font-weight: 700;
            @media (max-width: 992px) {            
                font-size: 20px;
            }
            @media (max-width: 767px) {            
                font-size: 16px;
            }
        }  
        .slide-title {
            margin-top: 10px;
            margin-bottom: 20px;

            font-size: 60px;
            font-weight: 900;
            @media (max-width: 992px) { 
                font-size: 50px;
            }
            @media (max-width: 767px) { 
                font-size: 40px;
            }

            span {
                position: relative;
                z-index: 1;
                display: inline-block;
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    height: 12px;
                    bottom: 3px;
                    z-index: -1;
                    background-color: #EE5D24;
                }
            }
        } 
        .action {
            margin-top: 40px;
        }
    }

    .splide__progress {
        background: rgba($white, 0.7);            
        z-index: 1;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 100%;
        max-width: 100px;
        .splide__progress__bar {
            background: $primary;
            height: 3px;
        }
    }
    .splide-progress-wrapper {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        margin-top: 20px;
        gap: 10px;
        position: absolute;
        bottom: 0;
        left: 150px;
        background: $dark;
        padding: 30px 40px;
        width: 100%;
        max-width: 400px;
        @media (max-width: 1200px) {            
            left: 50px;
        }
        @media (max-width: 767px) {            
            left: 50px;
            max-width: calc(100% - 50px);
            padding: 20px;
        }
        .splide-current-slide,
        .splide-total-slide {
            font-size: 16px;
            font-weight: 500;
            color: $white;
            @media (max-width: 767px) {            
               font-size: 14px;
            }
        }
        .splide-progress-bar {
            flex-grow: 1;
            height: 1px;
            background: #ccc;
            position: relative;
            overflow: hidden;
            border-radius: 2px;
            .progress {
                width: 0;
                height: 100%;
                background: #e74c3c; /* Progress bar color */
                transition: width 0.6s ease;
            }
        }
        .icw-pagination {
            position: relative;
            padding: 0;
            padding-left: 15px;
            .splide__pagination__page {
                &.is-active {
                    border-color: $primary;
                }
            }
        }
    }

    // Square Animation Vector
    .square-vector {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 3;
        left: 70px;
        @media (max-width: 1200px) {
            left: 20px; 
            width: 50px;
            height: 50px;
        }
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 200%;
            top: -70px;
            left: 0;
            width: 100%;
            -webkit-transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: bottom;
            @include transform(scaleY(0));
            @media (max-width: 1200px) {
                top: -50px;
            }
            @media (max-width: 767px) {
                top: -30px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 70px;
            -webkit-transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: top;
            @include transform(scaleY(0));
            @media (max-width: 1200px) {
                left: 50px;
            }
            @media (max-width: 767px) {
                left: 30px;
            }
        }
        &.animated {
            &::before, &::after {
                @include transform(scaleY(1));
            }
        }
        &.is-white-orange {
            &::before {
                background: $white;
            }
            &::after {
                background: $primary;
            }
        }
        &.is-white-black {
            &::before {
                background: $white;
            }
            &::after {
                background: $black;
            }
        }
    }
}

// Page header
.page-header {
    background-color: rgb(18,28,34);
    background: linear-gradient(45deg, rgba(18,28,34,1) 0%, rgba(18,28,34,1) 44%, rgba(238,93,36,1) 100%);
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: 100% 100% !important;
    border: none;
    color: $white;
    padding: 130px 0;
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }

    @media (max-width: 992px) {
        padding: 80px 0 100px;
    }
  
    .page-title {
        .tagline {
            border: 1px solid $white;
            @include border-radius(25px);
            
            padding: 8px 16px;
            font-size: 16px;
            color: $white;
            display: inline-block;
            margin-bottom: 30px;
            @media (max-width: 767px) { 
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        h1 {
            margin-bottom: 25px;
        }
        .sort-info {
            
        }
        .action {
            margin-top: 30px;
        }

        &.text-center {
            max-width: 800px;
            margin: 0 auto;
        }
    }
    .square-vector {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 3;
        bottom: -70px;
        left: 70px;
        @media (max-width: 1200px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            top: -70px;
            left: 0;
            width: 100%;
            -webkit-transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: bottom;
            @include transform(scaleY(0));
            @media (max-width: 1200px) {
                top: -50px;
            }
            @media (max-width: 767px) {
                top: -30px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transition: transform 0.5s 0.3s cubic-bezier(0, 0, 0.15, 0.96);
            transform-origin: top;
            @include transform(scaleY(0));
        }
        &.animated {
            &::before, &::after {
                @include transform(scaleY(1));
            }
        }
        &.is-white-black {
            &::before {
                background: $white;
            }
            &::after {
                background: $black;
            }
        }
    }
}

// Trusted-logo
.logo-list-block {
    margin-top: 50px;
    z-index: 3;
    position: relative;
    @media (max-width: 992px) {
        margin-top: 30px;
    }    
    .logo-list {
        @include flexbox;
        @include flex-direction(row);
        gap: 65px;
        @media (max-width: 1200px) {
            gap: 25px;
        }
        .logo-item {  
            flex: none;
            display: inline;
            span {
                display: inline-block;
                transform-origin: center;
                transform-box: fill-box;                
                img {
                    // aspect-ratio: 3/2;
                    @include transition(0.3s, ease-in-out);
                    max-height: 28px;
                    &:hover, &:focus {
                        @include transform(scale(1.05));
                    }
                }
            }
        }
    }
}
.logo-mask-slider {
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
    -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
    mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
    mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
}

.logo-slider {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    overflow: hidden; 
    margin-left: -15px;
    margin-right: -15px;
    .auto-slider {
        flex-shrink: 0;
        @include justify-content(space-around);
        animation: scrollx 25s linear infinite; 
        gap: 0;
        .logo-item {            
            padding: 0 30px;
            span {
                img {
                    aspect-ratio: unset;
                    min-height: 25px;
                }
            }
        }
    }
}
@keyframes scrollx {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    } 
}


.content-block {
    .sort-info {
        line-height: 32px;
        @media (max-width: 992px) {
            line-height: 28px;
        }
    }
}



// Testimonials
.testimonial-card {
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    background: #F3F3F3;
    padding: 70px 30px 30px;
    border-bottom: 2px solid transparent;
    @include transition(0.2s, ease-in-out);
    @media (max-width: 992px) {
        max-width: 320px;
        width: 100%;
    }
    @media (max-width: 767px) {
        padding: 70px 20px 20px;
    }
    .card-icon {
        margin-top: -100px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .icon-quote {
            background: url('data:image/svg+xml,<svg width="101" height="73" viewBox="0 0 101 73" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M79.2 29.7H100.3V72.5H58.1V29.3166L72.3109 0.5H92.7959L78.7516 28.9789L78.3959 29.7H79.2ZM21.6 29.7H42.7V72.5H0.5V29.3166L14.7109 0.5H35.1959L21.1516 28.9789L20.7959 29.7H21.6Z" stroke="rgb(238 93 36)"/></svg>') no-repeat center center;
            background-size: contain !important;
            width: 100px;
            height: 75px;
            display: inline-block;
            // @include transition(0.1s, ease-in-out);
        }
    }
    .card-body {
        flex: 1 1 auto;
        color: $black;
        .card-title {
            color: $primary;
            margin-bottom: 20px;
        }
        .sort-info {
            font-weight: 500;
            font-size: 14px;
        }
    }
    .card-footer {  
        margin-top: 50px;      
        .user-info {
            color: $black;
            @include flexbox;
            @include align-items(center);
            .user-img {
                margin-right: 10px;
                @include border-radius(50%);
                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    @include border-radius(50%);
                }
            }
            .user-detail {
                .name {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.1;
                }
                span {
                    font-size: 12px;
                    display: block;
                }
            }
        }
    }
    &:hover {
        border-color: $primary;
        .card-icon {
            .icon-quote {
                background: url('data:image/svg+xml,<svg width="101" height="73" viewBox="0 0 101 73" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M79.2 29.7H100.3V72.5H58.1V29.3166L72.3109 0.5H92.7959L78.7516 28.9789L78.3959 29.7H79.2ZM21.6 29.7H42.7V72.5H0.5V29.3166L14.7109 0.5H35.1959L21.1516 28.9789L20.7959 29.7H21.6Z" fill="rgb(238 93 36)" stroke="rgb(238 93 36)"/></svg>') no-repeat center center;
            }
        }
    }
}
.testimonials-splide {
    padding: 30px 0 0;
    @media (max-width: 992px) {
        padding: 30px 0 40px;
    }
    .splide__track {
        overflow: visible;
    }
    .splide__slide {
        @include opacity(0.5);
        @include transition(0.1s, ease-in-out);
        &.is-visible {
            @include opacity(1);
        }
        &.is-active {
            .testimonial-card { 
                border-color: $primary;
                .card-icon {
                    .icon-quote {
                        background: url('data:image/svg+xml,<svg width="101" height="73" viewBox="0 0 101 73" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M79.2 29.7H100.3V72.5H58.1V29.3166L72.3109 0.5H92.7959L78.7516 28.9789L78.3959 29.7H79.2ZM21.6 29.7H42.7V72.5H0.5V29.3166L14.7109 0.5H35.1959L21.1516 28.9789L20.7959 29.7H21.6Z" fill="rgb(238 93 36)" stroke="rgb(238 93 36)"/></svg>') no-repeat center center;
                    }
                }
            }
        }
    }
}
.single-testimonials-splide {
    padding: 0 0 60px;
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: 992px) {
        padding: 0px 0 40px;
    }
    .splide__slide {  
        .testimonial-card { 
            border: none;
            padding: 50px 70px 50px 50px;
            @media (max-width: 992px) {
                max-width: 100%;
                padding: 30px 50px 30px 30px;
            }
            .card-icon {
                margin-top: 0;
                .icon-quote {
                    width: 45px;
                    height: 45px;
                    background: url('data:image/svg+xml,<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 42.5V0H18V32.5L0 42.5Z" fill="rgb(238 93 36)"/><path d="M43 9.5H25V40.5L43 29.5V9.5Z" fill="rgb(238 93 36)"/></svg>') no-repeat center center;
                }
            }
        }
    }
}

// Category Card
.category-card {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    transform: translateY(0px);
    @include transition(0.3s, ease-in-out);
    @media (max-width: 992px) {
        max-width: 320px;
        width: 100%;
    }
    .card-img {
        img {
            aspect-ratio: 3 / 4;
            display: block;
            width: 100%;
            filter: grayscale(1);
            @include transition(0.3s, ease-in-out);
        }
    }
    .card-content {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        padding: 30px;
        background-color: $dark;
        @include flexbox;
        @include flex-direction(column);
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            padding: 20px;
            bottom: 30px;
        }
        .card-arrow-icon {
            display: inline-block;
            flex: none;
            width: 16px;
            height: 16px;
            background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 16.5L16.5 1.5M16.5 1.5L5.25 1.5M16.5 1.5L16.5 12.75" stroke="rgb(255 255 255)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
            background-size: contain;
            margin-left: auto;
            @include transition(0.3s, ease-in-out);
        }
        h3 {
            color: $white;
            font-weight: 600;
            @include flexbox;
            @include align-items(center);
            a {
                color: $white;
                text-decoration: none;
                margin-right: 15px;
            }
        }
        .sort-info {
            overflow: hidden;
            transition: height 0.3s ease-out;
            height: 0;
            color: $white;
            font-weight: 600;
            font-size: 16px;             
            @media (max-width: 767px) {
                font-size: 14px;
            }
            & > * {
                margin-top: 20px;
                @media (max-width: 767px) {
                    margin-top: 15px;
                }
            }
            ul {
                li {
                    &::before {
                        content: '-';
                        font-size: 16px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        transform: translateY(-20px);
        .card-img {
            img {
                filter: grayscale(0);
            }
        }
        .card-content { 
            background-color: $primary;
            bottom: 0;
            .card-arrow-icon {
                @include transform(rotate(90deg));
            }
        }
    }
}
.category-splide {
    padding: 0 0 50px;
    @media (max-width: 992px) {
        padding: 0 0 40px;
    }
    .splide__track {
        overflow: visible;
    }
    .splide__slide { 
        &.is-active {
            .category-card {
                .card-img {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

// Product Card
.product-meta-info {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    gap: 15px;
    margin-bottom: 15px;
    .product-meta-badge {
        color: var(--cat-color);
        font-size: 11px;
        font-weight: 600;
        background: var(--cat-bg);
        padding: 5px 10px;
        @include inline-flex;
        width: max-content;
        text-decoration: none;
        @media (max-width:767px) {
            font-size: 10px;
        } 
        
    }
    a.product-meta-badge {
        z-index: 3; 
        position: relative;   
        @include transition(0.3s, ease-in-out);  
        &:hover, &:focus {
            background: var(--cat-color);
            color: var(--cat-bg);
        }
    }
}
.product-card {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    .card-img {
        margin-bottom: 20px;
        overflow: hidden;
        border: 1px solid #f4f4f4;
        img {
            aspect-ratio: 1 / 1;
            @include transition(0.3s, ease-in-out); 
            width: 100%;
        }
        .product-meta-info {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    .card-body {
        flex: 1 1 auto;
        margin-bottom: 20px;
        h3 {
            color: $dark;
            margin-bottom: 20px;
            @include transition(0.3s, ease-in-out); 
        }
        .sort-info {
            color: #4A5257;
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-footer {
        z-index: 3;
        margin-bottom: 10px;
    }
    &:hover, &:focus {
        .card-img {
            img {
                @include transform(scale(1.05));
            }
        }
        .card-body {
            h3 {
                color: $primary;
                a {
                    color: $primary;
                }
            }
        }
        .card-footer {
            .btn-link-arrow {
                background-size: 0% 1px;
                transition-delay: 0s;
                --stroke-dashoffset: 26;
                --stroke-duration: .3s;
                --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
                --stroke-delay: .195s;
                &::after {
                    opacity: 0;
                    transition-delay: 0s;
                }
            }
        }
    }
}

// Icon Grid List Block
.icon-grid-list-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
    .grid-list-item {
        @include flexbox;
        @include align-items(center);
        padding: 0 0 25px;
        border-bottom: 2px solid $dark; 
        position: relative;
        text-decoration: none;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            padding: 0 0 15px;
        }
        &::before, &::after {
            content: '';
            width: 18px;
            height: 18px;
            flex: none;
            display: inline-block;
            background-size: contain !important;
            position: absolute;
            top: 11px;
            right: 0;
            transition: transform 0.3s,opacity 0.3s;
            @media (max-width: 992px) {                
                width: 18px;
                height: 18px;
                top: 16px;
            }
            @media (max-width: 767px) {
                width: 16px;
                height: 16px;
                top: 12px;
            }
        }
        &::before {            
            background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L20 18.5858V6C20 5.44772 20.4477 5 21 5C21.5523 5 22 5.44772 22 6V21C22 21.5523 21.5523 22 21 22H6C5.44772 22 5 21.5523 5 21C5 20.4477 5.44772 20 6 20H18.5858L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="rgb(171 175 181)" fill-opacity="0.6"/></svg>') no-repeat center center;            
        }
        &:after {
            background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L20 18.5858V6C20 5.44772 20.4477 5 21 5C21.5523 5 22 5.44772 22 6V21C22 21.5523 21.5523 22 21 22H6C5.44772 22 5 21.5523 5 21C5 20.4477 5.44772 20 6 20H18.5858L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="rgb(238 93 36)" fill-opacity="1"/></svg>') no-repeat center center;
            @include transform(translate(-150%, -150%));
            @include opacity(0);
        }
        .icon-img {
            margin-right: 50px;
            width: 50px;
            height: 50px;
            flex: none;
            @media (max-width: 1200px) {
                margin-right: 20px;
            }
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
            }
            img {
                max-height: 50px;
                width: 100%;
                @include transition(0.3s, ease-in-out);
                @media (max-width: 767px) {
                    max-height: 40px;
                }
            }
            &.is-icon {
                img {
                    filter: brightness(0);
                }
            }
        }
        .info {
            margin-right: 20px;
            h3 {
                color: $dark;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 0;
                @include transition(0.3s, ease-in-out);
                @media (max-width: 992px) {
                    font-size: 18px;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
            .sort-info {
                font-size: 14px;
                color: $dark;
                margin-top: 8px;
            }
        }
        &:hover, &:focus {
            border-color: $primary;
            &::before {
                @include transform(translate(150%, 150%));
                @include opacity(0);
            }
            &::after {
                @include transform(translate(0, 0));
                @include opacity(1);
            }
            .icon-img.is-icon {
                img {
                    filter: unset;
                }
            }
            .info {
                h3 {
                    color: $primary;
                }
            }
        }
    }
}

// Team Card
.team-card {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    .card-img {
        position: relative;
        margin-bottom: 20px;
        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
        img {
            max-height: 360px;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            filter: grayscale(1);
            @include transition(0.3s, ease-in-out);
        }
        .social-list {
            position: absolute;
            width: 63px;
            height: 100%;
            right: 0;
            bottom: -7px;
            overflow: hidden;
            z-index: 2;
            @include transition(0.3s, ease-in-out);
            text-align: center;
            padding-bottom: 7px;
            @media (max-width: 992px) {
                width: 50px;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 7px;
                width: 100%;
                bottom: 0;
                z-index: 2;
                background-color: $dark;
            }
            ul {
                background: $primary;
                @include flexbox;
                @include justify-content(flex-end);
                @include align-items(center);
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                position: absolute;
                bottom: 7px;
                width: 100%;
                padding: 8px 0;
                @media (max-width: 992px) {
                    padding: 5px 0;
                }
                li {
                    margin: 5px 0;
                    a {
                        width: 36px;
                        height: 36px;
                        @include flexbox;
                        @include justify-content(center);
                        @include align-items(center);
                        @media (max-width: 992px) {
                            width: 30px;
                            height: 30px;
                        }
                        svg {
                            path {
                                @include transition(0.1s, ease-in-out);
                            }
                        }
                        &:hover, &:focus {
                            svg {
                                path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .card-content {
        .desigantion {
            font-size: 14px;
            color: $primary;
            font-weight: 600;
            margin-bottom: 8px;
        }
        .name {
            font-size: 20px;
            font-weight: 600;
            color: $dark;
            @include transition(0.3s, ease-in-out);
            a {
                color: $dark;
                text-decoration: none;
                @include transition(0.3s, ease-in-out);
            }
            @media (max-width: 992px) {
                font-size: 18px;
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                filter: unset;
            }
        }
    }
}
.team-section {
    .content-info-block {
        max-width: 350px;
        margin: 0 auto;
        .special-text {
            @media (max-width: 1200px) {
                .special-text.is-lg-text {
                    font-size: 80px;
                }
            }
        }
        .sort-info {
            font-size: 30px;
            font-weight: 700;
            line-height: normal;
            margin: 20px 0;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}

// FAQ


// Hero CTA



// Col Image + Text
.image-content-block{
    position: relative;
	@media (min-width:1200px) {
		.row-gap { 
			--bs-gutter-y: 5rem;
			--bs-gutter-x: 5rem;
		}

        // .col-info {
        //     .sort-info {
        //         max-width: 465px;  
        //     }
        // }
	}
	.card-image-block {	
		position: relative;	
        img {
            width: 100%;
        }
		@media (max-width: 767px) {
			// max-width: 80%;
			// margin: 0 auto;
		}
		& + .content-info {
			margin-top: 30px;
		}
		img {
			@include border-radius(0px);
		}
		@media (max-width:767px) {
			margin-top: 40px;
		}
		&.right-image {
			@media (min-width:768px) {
				text-align: right;
			}
		}
        .img-text {
            @include transition(0.6s, ease-in-out);
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 15px;
            max-width: 160px;
            min-height: 180px;
            background: $primary;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            color: $white;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            transform: scaleY(0);
            transform-origin: bottom;
            &.animated {
                transform: scaleY(1);
            }
        }
	}
	.section-title {
		margin: 0;
        position: relative;
        z-index: 1;
	}
}



// About Us


// Logos
.trusted-logos-section {
	.title {
        text-transform: uppercase;
        letter-spacing: 1.8px;
        position: relative;
        z-index: 1;
        font-size: 14px;
        margin-bottom: 0px
    }
	.trusted-logos {
		@include align-items(center);
		@include justify-content(center);
		@include flexbox;
		gap: 15px 60px;
		@include flex-wrap(wrap);
		.logo-item {
			img {
				width: auto;
				max-height:60px;
				aspect-ratio: 3/2;
				object-fit: contain;
				// mix-blend-mode: color-burn;
			}
		}
		a.logo-item {
			img {
				@include transition(0.3s, ease-in-out);
			}
			&:hover, &:focus {
				border-color: $primary !important;
				img {
					@include transform(scale(1.04));	
				}
			}
		}
	}

	// Slider
	&.trusted-logo-slider-full {
		& > .container-logos {
			max-width: inherit;
		}
		.mw-full {

		}
	}
	.logo-style-slider {
		-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);

		.splide__arrows {opacity: 0px; visibility: hidden;}


		// .splide__arrow--prev {
		// 	left: -10px;	
		// }
		// .splide__arrow--next {
		// 	right:-10px;	
		// }

		&:hover {
			.splide__arrows {opacity: 1px; visibility: visible;}	
		}

		.splide__slide {
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}

		.logo-item {
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			img {
				width: auto;
				max-height: 180px;
				@media (min-width:992px) {
                    max-height: 215px;
				    flex: none;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    // aspect-ratio: 3/4;
                    object-fit: contain;
                    // mix-blend-mode: color-burn;
				}
			}
		}
		a.logo-item {
			img {
				@include transition(0.3s, ease-in-out);
				opacity: 0.75;
			}
			&:hover, &:focus {
				img {
					opacity: 1;
					@include transform(scale(1.03));	
				}
			}
		}
	}

}



// post-content
.post-content {

}

.single-content {
    h2, h3, h4, h5 {
        color: $dark;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    h2, .h2 {
        font-size: 40px;
        line-height: 1.2;
        @media (max-width: 1200px) { 
            font-size: 36px;
        }
        @media (max-width: 767px) { 
            font-size: 30px;
        }
        &.font-sm {
            font-size: 24px;
            @media (max-width: 767px) { 
                font-size: 20px;
            }
        }
    }
    h3, .h3 {
        font-size: 24px;
    }

    ol:not(.splide__list), ul:not(.splide__list) {
        margin: 0;
        padding: 0;
    }
    ul:not(.splide__list) {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 30px;
        li {
            list-style-type: disc;
            margin-bottom: 8px;
        }
    }
    a {
        color: $primary;
    }
    .marker-list {
        padding-left: 35px !important;
        margin-bottom: 20px !important;
        li:where([data-marker]) {
            position: relative;
            margin-bottom: 10px;
            &::before {
                content: attr(data-marker);
                margin-right: 10px;
                position: absolute;
                left: -35px;
                font-weight: 600;
            }
            .marker-list {
                padding-left: 45px;
                margin-top: 10px;
                li {
                    &::before {
                        left: -45px;
                    }
                }
            }
        }
    }
    u {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    body.single & img {
        width: 100%;
        @include border-radius(16px);
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 20px;
    }
    blockquote {
        background: $gray;
        padding: 50px 40px 50px 130px;
        font-size: 22px;
        @include border-radius(20px);
        margin: 40px 0 50px;
        background-image: url(../images/icons/icon-quote.svg);
        background-repeat: no-repeat;
        background-position: 40px 45px;
        background-size: 45px;
        line-height: 1.5;
        @media (max-width: 767px) { 
            padding: 70px 20px 20px;
            background-position: 20px 20px;
            background-size: 32px;
            font-size: 18px;
        }
        .user-info-content {
            border-top: 1px solid #C8D0D9;
            margin-top: 40px;
            padding-top: 25px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            @media (max-width: 767px) { 
                @include flex-direction(column);
                @include align-items(flex-start);
            }
            .user-info {
                .user-img {
                    margin-right: 12px;
                    img {
                        width: 56px;
                        height: 56px;
                        margin: 0;
                    }
                }
                .user-detail {
                    .name {
                        font-size: 16px;
                    }
                    span {
                        font-size: 14px;
                        display: block;
                    }
                }
            }
            .logo {
                text-align: right;
                @media (max-width: 767px) { 
                    margin-top: 24px;
                    text-align: left;
                }
                img {
                    margin: 0;
                    @include border-radius(0px);
                }
                @media (max-width: 767px) { 
                    img {
                        max-width: 80%;
                    }
                }
            }
        }
    }
    
    .post-sticky-content {  
        .sort-info {
            h3, .h3 {
                font-size: 18px;
                font-weight: 600;
            }
        }   
    }
}


// Info Card
.info-card {
	position: relative;
	height: 100%;
    border: none;
	@include border-radius(0);
	@include flexbox;
	@include flex-direction(column);
    @include transition(0.2s, ease-in-out);

	// padding: 20px;
	
	// &.bg-none {
	// 	background: transparent;
    //     padding: 15px 0;
	// }
    &.is-flex-title {
        .card-title-flex {
            @include flexbox;
            @include align-items(center);
            .card-img-icon {
                width: auto;
                margin-bottom: 0;
                margin-right: 20px; 
                @media (max-width: 767px) {
                    margin-right: 15px; 
                }
                img {
                    max-height: 50px;
                    max-width: 100%;
                    @media (max-width: 767px) {
                        max-height: 45px;
                    }
                }
            }
            h3 {
                margin-bottom: 0;
            }
        }
    }

	.card-img-view {
		margin-bottom: 15px;
	}
    .card-body {
        flex: 1 1 auto;
        padding: 0;
        .special-text {
            font-size: 100px;
            margin-bottom: 15px;
            margin-top: 0;
        }
        h3 {
            margin-bottom: 15px;
			font-weight: 700;
			font-size: 18px;
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        hr {
            border-color: #3A3A3A;
            @include opacity(1);
            margin: 25px 0;
            @media (max-width: 767px) {
                margin: 20px 0;
            }
        }
		.card-info{
			// color: rgba($white, 0.8);
            font-size: 14px;
		}
    }
    .card-footer{
        margin-top: 20px;
        padding: 0;
        border-top: none;
        background: transparent;
    }

	&.only-icon-title-card {
		padding: 30px;
		@media (max-width: 992px) {
			padding: 20px;
		}
		.card-img {
			margin-bottom: 30px;
			@media (max-width: 992px) {
				margin-bottom: 20px;
			}
		}
		h3 {
			font-weight: 400;
			font-size: 18px;
			margin-bottom: 0;
			&.font-lg {
				font-size: 24px;
			}
			@media (max-width: 992px) {
				font-size: 16px;
				&.font-lg {
					font-size: 20px;
				}
			}
			@media (max-width: 767px) {
				&.font-lg {
					font-size: 16px;
				}
			}
		}
	}
	&.only-icon-card {
		@include border-radius(12px);
		border: 1px solid #E6EAEA;
		@media (max-width: 992px) {
			padding: 30px;
			min-height: 150px;
		}
		@media (max-width: 575px) {
			min-height: 100px;
			padding: 20px;
		}
		.card-img {
			margin-bottom: 0;
			height: 100%;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			img {
				max-width: 100%;
				@media (max-width: 575px) {
					max-height: 50px;
				}
			}
		}
	}

	&.is-hover {
		&:hover, &:focus {
			// @include transform(scale(1.05));
            .card-body {
                hr {
                    border-color: $primary;
                }
            }
		}
	}
}

// Special Text
.special-text {
    white-space: nowrap;
    font-family: monospace;
    font-size: 120px;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    -webkit-text-stroke: 1px $primary;
    line-height: 0.8em;
    letter-spacing: -8px;
    opacity: 1;
    margin-top: 70px;
    @media (max-width: 1200px) {
        font-size: 90px;
        letter-spacing: -4px;
    }
    @media (max-width: 767px) {
        font-size: 60px;
        letter-spacing: -2px;
        margin-top: 40px;
    }
    &.is-lg-text {
        font-size: 200px;
        @media (max-width: 1200px) {
            font-size: 130px;
            letter-spacing: -4px;
        }
        @media (max-width: 767px) {
            font-size: 60px;
            letter-spacing: -2px;
        }
    }
}

// Widget Grid Block
.widget-grid-block {
    .widget-block {
        .widget-title {
            font-size: 18px;
            font-weight: 700;
            color: #EE5D24;
            @include flexbox;
            @include align-items(center);
            margin-bottom: 5px;
            .icon {
                margin-right: 10px;
            }
        }
        .widget-content {
            ul {
                li {
                    a {
                        color: $dark;
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: none;
                        &:hover, &:focus {
                            color: $primary;
                        }
                    }
                }
                &.social-list {
                    @include flexbox;
                    @include align-items(center);
                    gap: 10px;
                    li {
                        a {
                            border: 1px solid #28343B;
                            width: 40px;
                            height: 40px;
                            @include border-radius(8px);
                            @include inline-flex;
                            @include align-items(center);
                            @include justify-content(center);
                            @include transition(0.3s, ease-in-out);
                            svg {
                                width: 18px;
                                height: 18px;
                            }
                            &:hover, &:focus {
                                background: rgba(#28343B, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

// Form Block
.form-content-block {
    position: relative;
    padding: 50px;
    @media (max-width: 992px) {
        padding: 30px;
    }
    @media (max-width: 767px) {
        padding: 30px 20px;
        margin-left: -12px;
        margin-right: -12px;
    }
}

// Counter Box
.counter-section{
    &.bg-dark {
        .counter-box {
            .count-number { 
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.counter-box {
    .count-number {
        font-size: 45px;
        font-weight: 500;
        color: $primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: $primary;
        position: relative;
        -webkit-text-stroke: 2px $primary;
        margin-bottom: 10px;
        @media (max-width: 992px) {
            font-size: 36px;
            margin-bottom: 8px;
        }
        @media (max-width: 767px) {
            font-size: 28px;
        }
    }
    .sort-info {
        font-size: 16px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

// History Slider
.history-section {
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $dark;
        display: block;
        margin-top: -12px;
    }
}
.history-splide {
    padding: 0;
    .splide__track {
        overflow: visible;
    }
    .splide__slide {
        @include opacity(0.5);
        @include transition(0.1s, ease-in-out);
        .info-card {
            @media (max-width: 992px) {
                max-width: 300px;
            }
            &::after {
                content: '';
                display: block;
                width: 23px;
                height: 23px;
                background-color: $primary;
                @include border-radius(50%);
                margin-top: 25px;
            }
            .card-body {
                h3 {
                    font-size: 25px;
                    font-weight: 700;
                }
            }
        }
        &.is-visible {
            @include opacity(1);
        }
        &.is-active {
            @include opacity(1);
        }
    }
}