.filter-section {
    background: #F0F9FF;
    padding: 30px 0;
    .search-input-block {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .filter-input {
            margin-right: 30px;
            min-width: 260px;
            @media (max-width: 767px) {
                min-width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
            select, input {
                border: 1px solid #2F9CD8;
                font-family: Nunito Sans;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                background: #ffffff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                padding: 0 15px;
                width: 100%;
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
                -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
                &::placeholder {
                    color: #000000;
                }
            }
        }
    }
    .filter-alphabet-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
        .button {
            width: 30px;
            height: 30px;
            flex: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            color: #2F9CD8;
            font-size: 15px;
            border: 1px solid transparent;
            font-family: Nunito Sans;
            font-weight: 400;
            &.is-active {
                background: #2F9CD8;
                color: #ffffff;
            }
            &:hover, &:focus {
                border-color: #2F9CD8;
            }
        }
    }
}
.member-card-section {
    padding: 100px 0;
}
.member-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.member-card {
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: Nunito Sans;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    .card-img {
        padding: 60px 20px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        img {
            max-height: 115px;
            height: 115px;
        }
        .tag {
            background: #0092FF;
            border-radius: 20px 0 0 20px;
            -webkit-border-radius: 20px 0 0 20px;
            -moz-border-radius: 20px 0 0 20px;
            -ms-border-radius: 20px 0 0 20px;
            -o-border-radius: 20px 0 0 20px;
            font-size: 12px;
            color: #ffffff;
            padding: 6px 15px;
            position: absolute;
            top: 20px;
            right: 0;
            line-height: 1;
        }
    }
    .card-body {
        border-top: 1px solid #E1E3E6;
        background: #EAF6FF;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
        h3 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            line-height: 1;
        }
        .sort-info {
            font-size: 16px;
            color: #616161;
            line-height: normal;
            flex: 1 1 auto;
        }
        .social-action {
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                border: 1px solid #F1F1F1;
                background: #ffffff;
                border-radius: 8px;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: none;
                position: relative;
                transition: all 0.2s, ease-in-out;
                -webkit-transition: all 0.2s, ease-in-out;
                -moz-transition: all 0.2s, ease-in-out;
                -ms-transition: all 0.2s, ease-in-out;
                -o-transition: all 0.2s, ease-in-out;
                z-index: 9;
                &:hover,&:focus{
                    border-color: #0092FF;
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .tooltip {
                    padding: 10px 15px;
                    font-size: 14px;
                    background: #000000;
                    color: #ffffff;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: -42px;
                    line-height: 1;
                    z-index: 10;
                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0px;
                        left: 50%;
                        bottom: 0;
                        border: 6px solid transparent;
                        border-bottom: 0;
                        border-top: 6px solid #000000;
                        transform: translate(-50%, 100%);
                        -webkit-transform: translate(-50%, 100%);
                        -moz-transform: translate(-50%, 100%);
                        -ms-transform: translate(-50%, 100%);
                        -o-transform: translate(-50%, 100%);
                    }
                }
                .icon {
                    display: inline-block; 
                    background-size: contain !important;
                    width: 12px;
                    height: 12px;
                    &.icon-phone {
                        background: url(../images/icon-phone.svg) no-repeat center center;
                    }
                    &.icon-mail {
                        background: url(../images/icon-email.svg) no-repeat center center;
                    }
                    &.icon-website {
                        background: url(../images/icon-website.svg) no-repeat center center;
                    }
                }
            }
        }
        .arrow-link {
            line-height: 1;
            color: #0092FF;
            display: inline-block;
            &::after {
                content: '';
                background: url('data:image/svg+xml; utf8,<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.5H12M12 5.5L7.41667 1M12 5.5L7.41667 10" stroke="rgb(0 146 255)" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center right;
                width: 11px;
                height: 9px;
                display: inline-block;
                margin-left: 5px;
                transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
            &.stretched-link::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                content: "";
            }
        }
    }
    &:hover,&:focus {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        .arrow-link { 
            &::after {
                margin-left: 10px;
            }
        }
    }
}