.filter-section {
    background: #F0F9FF;
    padding: 30px 0;
    .search-input-block {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .filter-input {
            margin-right: 30px;
            min-width: 260px;
            @media (max-width: 767px) {
                min-width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
            select, input {
                border: 1px solid #2F9CD8;
                font-family: Nunito Sans;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                background-color: #ffffff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                padding: 0 15px;
                width: 100%;
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
                -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
                appearance: none;
                line-height: normal;
                &::placeholder {
                    color: #000000;
                }
            }
            select {
                background-image: url('data:image/svg+xml; utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="black"/></svg>');
                background-repeat: no-repeat;
                background-position: calc(100% - 15px) center;
            }
        }
    }
    .filter-alphabet-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
        .button {
            width: 30px;
            height: 30px;
            flex: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            color: #2F9CD8;
            font-size: 15px;
            border: 1px solid transparent;
            font-family: Nunito Sans;
            font-weight: 400;
            &.is-active {
                background: #2F9CD8;
                color: #ffffff;
            }
            &:hover, &:focus {
                border-color: #2F9CD8;
            }
        }
    }
}
.member-card-section {
    padding: 50px 0;
    .title {
        font-family: Nunito Sans;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
    }
}
.member-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.member-card {
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: Nunito Sans;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    .card-img {
        padding: 60px 20px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        img {
            max-height: 115px;
            height: 115px;
        }
        .tag {
            background: #0092FF;
            border-radius: 20px 0 0 20px;
            -webkit-border-radius: 20px 0 0 20px;
            -moz-border-radius: 20px 0 0 20px;
            -ms-border-radius: 20px 0 0 20px;
            -o-border-radius: 20px 0 0 20px;
            font-size: 12px;
            color: #ffffff;
            padding: 6px 15px;
            position: absolute;
            top: 20px;
            right: 0;
            line-height: 1;
        }
    }
    .card-body {
        border-top: 1px solid #E1E3E6;
        background: #EAF6FF;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
        h3 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            line-height: 1;
        }
        .sort-info {
            font-size: 16px;
            color: #616161;
            line-height: normal;
            flex: 1 1 auto;
        }
        .social-action {
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                border: 1px solid #F1F1F1;
                background: #ffffff;
                border-radius: 8px;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: none;
                position: relative;
                transition: all 0.2s, ease-in-out;
                -webkit-transition: all 0.2s, ease-in-out;
                -moz-transition: all 0.2s, ease-in-out;
                -ms-transition: all 0.2s, ease-in-out;
                -o-transition: all 0.2s, ease-in-out;
                z-index: 9;
                &:hover,&:focus{
                    border-color: #0092FF;
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .tooltip {
                    padding: 10px 15px;
                    font-size: 14px;
                    background: #000000;
                    color: #ffffff;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: -42px;
                    line-height: 1;
                    z-index: 10;
                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0px;
                        left: 50%;
                        bottom: 0;
                        border: 6px solid transparent;
                        border-bottom: 0;
                        border-top: 6px solid #000000;
                        transform: translate(-50%, 100%);
                        -webkit-transform: translate(-50%, 100%);
                        -moz-transform: translate(-50%, 100%);
                        -ms-transform: translate(-50%, 100%);
                        -o-transform: translate(-50%, 100%);
                    }
                }                
            }
        }
        .arrow-link {
            line-height: 1;
            color: #0092FF;
            display: inline-block;
            &::after {
                content: '';
                background: url('data:image/svg+xml; utf8,<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.5H12M12 5.5L7.41667 1M12 5.5L7.41667 10" stroke="rgb(0 146 255)" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center right;
                width: 11px;
                height: 9px;
                display: inline-block;
                margin-left: 5px;
                transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
            &.stretched-link::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                content: "";
            }
        }
    }
    &:hover,&:focus {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        .arrow-link { 
            &::after {
                margin-left: 10px;
            }
        }
    }
}
.icon {
    display: inline-block; 
    background-size: contain !important;
    width: 12px;
    height: 12px;
    &.icon-phone {
        background: url('data:image/svg+xml; utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1171 10.9021C13.1171 11.1193 13.0687 11.3426 12.9659 11.5599C12.8632 11.7771 12.7302 11.9823 12.5549 12.1755C12.2588 12.5013 11.9324 12.7367 11.5637 12.8876C11.2011 13.0385 10.8082 13.1169 10.3851 13.1169C9.76859 13.1169 9.10978 12.9721 8.4147 12.6764C7.71962 12.3806 7.02454 11.9823 6.33551 11.4814C5.64043 10.9745 4.98162 10.4132 4.35303 9.79159C3.73048 9.16395 3.16837 8.50612 2.66671 7.81812C2.17109 7.13012 1.77217 6.44212 1.48205 5.76016C1.19193 5.07216 1.04688 4.41433 1.04688 3.78668C1.04688 3.3763 1.1194 2.98402 1.26446 2.62191C1.40952 2.25377 1.6392 1.91581 1.95954 1.61405C2.34637 1.23384 2.76946 1.04675 3.21673 1.04675C3.38596 1.04675 3.5552 1.08296 3.7063 1.15538C3.86345 1.22781 4.00247 1.33644 4.11126 1.49335L5.5135 3.46682C5.6223 3.6177 5.70087 3.75651 5.75527 3.88928C5.80967 4.01602 5.83989 4.14275 5.83989 4.25742C5.83989 4.40226 5.79758 4.5471 5.71296 4.68591C5.63439 4.82472 5.51955 4.96956 5.37449 5.1144L4.91513 5.59117C4.84865 5.65756 4.81843 5.73602 4.81843 5.83258C4.81843 5.88086 4.82447 5.9231 4.83656 5.97138C4.85469 6.01967 4.87282 6.05588 4.88491 6.09209C4.99371 6.29124 5.18108 6.55075 5.44702 6.86458C5.71901 7.1784 6.00913 7.49826 6.32342 7.81812C6.64981 8.13798 6.9641 8.4337 7.28444 8.70528C7.59874 8.97082 7.85864 9.15188 8.06414 9.26051C8.09436 9.27258 8.13062 9.29068 8.17293 9.30879C8.22129 9.32689 8.26964 9.33293 8.32404 9.33293C8.42679 9.33293 8.50536 9.29672 8.57185 9.23033L9.0312 8.7777C9.18231 8.62682 9.32737 8.51216 9.46638 8.43974C9.6054 8.35524 9.74441 8.313 9.89552 8.313C10.0104 8.313 10.1312 8.33714 10.2642 8.39145C10.3972 8.44577 10.5362 8.52423 10.6873 8.62682L12.6879 10.0451C12.8451 10.1537 12.9539 10.2804 13.0203 10.4313C13.0808 10.5822 13.1171 10.7331 13.1171 10.9021Z" fill="white" stroke="rgb(0 146 255)" stroke-miterlimit="10"/></svg>') no-repeat center center;
    }
    &.icon-mail {
        background: url('data:image/svg+xml; utf8,<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.2861 1.32294C1.44055 1.1523 1.65391 1.04675 1.88958 1.04675H15.5447C15.7804 1.04675 15.9937 1.1523 16.1482 1.32294M1.2861 1.32294C1.13166 1.49359 1.03613 1.72934 1.03613 1.98974V12.1739C1.03613 12.6948 1.41824 13.1169 1.88958 13.1169H15.5447C16.0161 13.1169 16.3982 12.6948 16.3982 12.1739V1.98974C16.3982 1.72934 16.3027 1.49359 16.1482 1.32294M1.2861 1.32294L7.51021 7.06836C8.17675 7.80492 9.25756 7.80492 9.9241 7.06836L16.1482 1.32294" fill="white"/><path d="M1.2861 1.32294C1.44055 1.1523 1.65391 1.04675 1.88958 1.04675H15.5447C15.7804 1.04675 15.9937 1.1523 16.1482 1.32294M1.2861 1.32294C1.13166 1.49359 1.03613 1.72934 1.03613 1.98974V12.1739C1.03613 12.6948 1.41824 13.1169 1.88958 13.1169H15.5447C16.0161 13.1169 16.3982 12.6948 16.3982 12.1739V1.98974C16.3982 1.72934 16.3027 1.49359 16.1482 1.32294M1.2861 1.32294L7.51021 7.06836C8.17675 7.80492 9.25756 7.80492 9.9241 7.06836L16.1482 1.32294" stroke="rgb(0 146 255)" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
    }
    &.icon-website {
        background: url('data:image/svg+xml; utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.75627 0.0408936C3.8678 0.0408936 0.715332 3.19336 0.715332 7.08183C0.715332 10.9703 3.8678 14.1228 7.75627 14.1228C11.6447 14.1228 14.7972 10.9703 14.7972 7.08183C14.7972 3.19336 11.6447 0.0408936 7.75627 0.0408936ZM5.45176 1.18529C4.76599 1.93116 4.2229 3.00397 3.89079 4.26548H2.08361C2.78303 2.86665 3.98466 1.76053 5.45176 1.18529ZM1.41943 7.08183C1.41943 6.33926 1.55906 5.63164 1.79518 4.96955H3.73402C3.60729 5.63772 3.53171 6.34371 3.53171 7.08183C3.53171 7.81994 3.60729 8.52594 3.73378 9.19411H1.79518C1.55906 8.53201 1.41943 7.82443 1.41943 7.08183ZM2.08361 9.8982H3.89079C4.22312 11.1597 4.76599 12.2325 5.45176 12.9784C3.98466 12.4031 2.78303 11.297 2.08361 9.8982ZM7.40422 13.3853C6.19929 13.1584 5.1523 11.7835 4.61648 9.8982H7.40422V13.3853ZM7.40422 9.19411H4.44868C4.31325 8.52946 4.2358 7.81901 4.2358 7.08183C4.2358 6.34465 4.31325 5.6342 4.44868 4.96955H7.40422V9.19411ZM7.40422 4.26546H4.61648C5.1523 2.38013 6.19929 1.00525 7.40422 0.778322V4.26546ZM13.4289 4.26546H11.6217C11.2894 3.00394 10.7465 1.93114 10.0608 1.18527C11.5279 1.76053 12.7295 2.86665 13.4289 4.26546ZM8.10831 0.778322C9.31325 1.00528 10.3602 2.38013 10.8961 4.26546H8.10831V0.778322ZM8.10831 4.96955H11.0639C11.1993 5.6342 11.2767 6.34465 11.2767 7.08183C11.2767 7.81901 11.1993 8.52946 11.0639 9.19411H8.10831V4.96955ZM8.10831 13.3853V9.8982H10.8961C10.3602 11.7835 9.31325 13.1584 8.10831 13.3853ZM10.0608 12.9784C10.7465 12.2323 11.2894 11.1597 11.6217 9.8982H13.4289C12.7295 11.297 11.5279 12.4031 10.0608 12.9784ZM11.7785 9.19411C11.9052 8.52594 11.9808 7.81994 11.9808 7.08183C11.9808 6.34371 11.9052 5.63772 11.7788 4.96955H13.7176C13.9535 5.63164 14.0931 6.33926 14.0931 7.08183C14.0931 7.82443 13.9535 8.53201 13.7174 9.19411H11.7785Z" fill="rgb(0 146 255)"/></svg>') no-repeat center center;
    }
}
.pagination-block {
    .icw-pagination {
        list-style-type: none;
        font-family: Nunito Sans;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 30px;
        @media (max-width: 767px) {
            gap: 10px;
        }
        a, span {
            width: 40px;
            height: 40px;
            flex: none;
            border: 1px solid #BEBEBE;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            background: #ffffff;
            color: #000000;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            @media (max-width: 767px) {
                width: 30px;
                height: 30px;
                font-size: 14px;
            }
            svg {
                path {
                    transition: all 0.2s ease-in-out;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                }
                @media (max-width: 767px) {
                   height: 10px;
                }
            }
            &:hover,&:focus {
                border-color: #0092FF;
                color: #0092FF;
                svg {
                    path {
                        fill: #0092FF;
                    }
                }
            }
            &.current {
                border-color: #0092FF;
                color: #0092FF;
                background: #EAF6FF;
            }
        }
    }
}
.member-details-section {  
    font-family: Nunito Sans;
    padding: 50px 0;
    .member-info-block {
        border: 1px solid #E1E6EF;
        background: #F8FCFF;
        display: flex;
        align-items: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 30px;  
        @media (max-width: 767px) {
            padding: 20px;
        }
        @media (max-width: 600px) {
            flex-direction: column;
        }
        .member-img {
            margin-right: 50px;
            padding: 40px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border: 1px solid #E1E6EF;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 992px) {
                padding: 20px;
                margin-right: 30px;
            }
            @media (max-width: 767px) {
               margin-right: 20px;
            }
            @media (max-width: 600px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
            img {
                max-width: 300px;
                width: 300px;
                @media (max-width: 992px) {
                    max-width: 250px;
                    width: 250px;
                }
                @media (max-width: 767px) {
                    max-width: 200px;
                    width: 200px;
                }
            }
        }
        .member-desc {
            .title {
                font-size: 36px;
                color: #000000;
                font-weight: 700;
                margin-bottom: 15px;
                line-height: 1;
                @media (max-width: 992px) {
                    font-size: 28px;
                }
                @media (max-width: 767px) {
                    font-size: 22px;
                }
            }
            .category {
                background: #2F9CD8;
                color: rgba(#ffffff, 0.7);
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
                border-radius: 35px;
                -webkit-border-radius: 35px;
                -moz-border-radius: 35px;
                -ms-border-radius: 35px;
                -o-border-radius: 35px;
                padding: 8px 15px 6px;
                line-height: 1;
                @media (max-width: 767px) {
                    padding: 6px 10px 4px;
                    font-size: 13px;
                }
            }
            .icon-list { 
                display: flex;
                align-items: center;
                margin-top: 10px;
                color: #000000;
                @media (max-width: 767px) {
                    margin-top: 5px;
                    font-size: 13px;
                }
                .icon-img {
                    border: 1px solid #F1F1F1;
                    background: #ffffff;
                    border-radius: 8px;
                    width: 28px;
                    height: 28px;
                    flex: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: none;
                    position: relative;
                    margin-right: 8px;
                    @media (max-width: 767px) {
                        width: 24px;
                        height: 24px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .member-content {
        max-width: 850px;
        margin: 0 auto;
        padding: 30px 0;
        @media (max-width: 767px) {
            padding: 20px 0;
        }
        .keyword {
            margin-top: 30px;
            @media (max-width: 767px) {
                margin-top: 20px;
            }
            span {
                color: #0092FF;
            }
        }
    }
    .back-link {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        padding: 8px 15px 8px 35px;
        text-decoration: none;
        color: #2F9CD8;
        background-color: #F1F1F1;
        background-image: url('data:image/svg+xml; utf8,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 6.00003H1H13ZM1 6.00003L6 1.09094L1 6.00003ZM1 6.00003L6 10.9091L1 6.00003Z" fill="rgb(47 156 216)"/><path d="M13 6.00003H1M1 6.00003L6 1.09094M1 6.00003L6 10.9091" stroke="rgb(47 156 216)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 12px;
        &:hover, &:focus {
            background-color: #2F9CD8;
            background-image: url('data:image/svg+xml; utf8,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 6.00003H1H13ZM1 6.00003L6 1.09094L1 6.00003ZM1 6.00003L6 10.9091L1 6.00003Z" fill="rgb(255 255 255)"/><path d="M13 6.00003H1M1 6.00003L6 1.09094M1 6.00003L6 10.9091" stroke="rgb(255 255 255)" stroke-linecap="round" stroke-linejoin="round"/></svg>');            
            background-position: 10px center;
            color: #ffffff;
        }
    }
}
.membership-form-block {
    .form-block {
        border: 1px solid #F1F1F1;
        background: #F8FCFF;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        max-width: 670px;
        padding: 20px;
        .two-grid-col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            &.mb-15 {
                margin-bottom: 15px;
            }
        }
        .form-group {
            margin-bottom: 15px;
            label {
                display: block;
                color: #454545;
                font-weight: 500;
                span {
                    color: #FF0000;
                }
            }
            .form-control, .form-select {
                width: 100%;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #E1E3E6;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                font-size: 16px;
                padding: 0 15px;
                display: block;
                box-sizing: border-box;
                &::placeholder {
                    color: #666666;
                }
            }
        }
        .form-check {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            .form-check-label {
                color: #000000;
                font-weight: 600;
                line-height: normal;
                padding-left: 5px;
            }
        }
        .form-action {
            margin-top: 30px;
        }
        .btn-submit {
            display: inline-block;
            line-height: 1;
            background-color: #2F9CD8;
            color: #fff;
            text-align: center;
            border: 1px solid #2F9CD8;
            color: #fff;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            font-size: 14px;
            color: #ffffff;
            height: 50px;
            padding: 0 25px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}