:root {
	--bs-primary: #3FE0D0;
}
*,::after, ::before {
	box-sizing: border-box; 
	list-style: none; 
	text-decoration: none;
}
html {
    font-family: sans-serif; 
	-webkit-text-size-adjust: 100%; 
	-webkit-tap-highlight-color: transparent;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
hr {
    box-sizing: content-box; 
	height: 0; 
	overflow: visible;
}
body {
    margin: 0; 
	padding: 0; 
	font-family: $bodyfont; 
	color: $black; 
	font-size: $bodyfontsize; 
	font-weight: 400;
	position: relative; 
	line-height: 1.5; 
	overflow-x: hidden; 
	min-height: 100vh; 
	@include flexbox(); 
	@include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }

	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	font-smooth: always;

	@media (min-width:1920px) {
		font-size: 18px;	
	}
}
@media (min-width:1400px) {
	.container, 
	.container-lg, 
	.container-md, 
	.container-sm, 
	.container-xl, 
	.container-xxl {
		padding: 0 15px;
	}
}

@media (max-width:1200px) and (min-width: 992px) {
	.container{
		max-width:98%;
	}
}


.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.bg-tooltip-primary {
	--bs-tooltip-bg: var(--bs-primary);
	--bs-tooltip-color: $dark;
}

.text-color {
	color: rgba(#002B31, 0.6) !important;
}
.f11 {font-size: 11px;}
.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}

.bg-size-contain {background-size: contain;}
.bg-size-cover {background-size: cover;}
.bg-size-100 {background-size: 100%;}
.bg-no-repeat {background-repeat:no-repeat}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $secondary;
    text-decoration: none;
	text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $primary;
        // text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

[type="submit"] {
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
    }
}


p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img{
    max-width:100%;
	height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}

.pt-0 {padding-top: 0px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-100 {padding-top: 100px !important;}
.pt-120 {padding-top: 120px !important;}
.pt-150 {padding-top: 150px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-100 {padding-bottom: 100px !important;}
.pb-120 {padding-bottom: 120px !important;}
.pb-150 {padding-bottom: 150px !important;}

@media (max-width: 767px) {
	.m-pt-0 {padding-top: 0px !important;}
	.m-pt-25 {padding-top: 25px !important;}
	.m-pt-40 {padding-top: 40px !important;}
	.m-pt-50 {padding-top: 50px !important;}
	.m-pt-80 {padding-top: 80px !important;}
	.m-pt-100 {padding-top: 100px !important;}

	.m-pb-0 {padding-bottom: 0px !important;}
	.m-pb-25 {padding-bottom: 25px !important;}
	.m-pb-40 {padding-bottom: 40px !important;}
	.m-pb-50 {padding-bottom: 50px !important;}
	.m-pb-80 {padding-bottom: 80px !important;}
	.m-pb-100 {padding-bottom: 100px !important;}
}

.clear {clear: both;}

.btn {
	min-height: 48px;
	padding: 5px 30px;
	font-weight: 700;
	font-size: 16px;
	@include transition(0.1s, ease-in-out);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	line-height: 0.7;
	@include border-radius(30px);

	&.mw-200 {
		max-width: 200px;
		width: 100%;
	}
	@media (max-width:767px) {
		font-size: 14px;
		padding: 5px 15px;
		min-height: 40px;
	}
	&.btn-sm {
		min-height: 36px;
		padding: 5px 15px;
		font-size: 14px;
	}

	&.btn-lg {
		min-height: 54px;
		padding: 5px 30px;
		font-size: 17px;
		@media (max-width:767px) {
			font-size: 16px;
			padding: 5px 20px;
			min-height: 48px;
		}
	}

	.icons {
		margin-right: 8px;
	}
	&.btn-icon {
		.icons {
			// filter: brightness(0) contrast(1) invert(1);
			// @include transition(0.3s, ease-in-out);
		}
		&:hover, &:focus, &:active{
			.icons {
				// filter: unset;
			}
		}
	}
	&.btn-rounded {
		@include border-radius(30px);
	}
	&.btn-no-rounded {
		@include border-radius(0px);
	}
	&.btn-primary{
		color: $dark !important;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: $primary;
			color: $dark !important;
			border: 1px solid $primary;
			opacity: 0.8;
		}
	}
	&.btn-primary-outline {
		color: $primary !important;
		border: 1px solid $primary;
		background-color: $dark;
		color: $white !important;
		&:hover, &:focus, &:active{
			background-color: $primary;
			color: $dark !important;
			border: 1px solid $primary;
		}
	}
	&.btn-secondary{
		color: $white !important;
		border: 1px solid transparent;
		background-color:$secondary;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $secondary !important;
			border: 1px solid $secondary;
		}
	}
	&.btn-secondary-outline{
		color: $primary !important;
		border: 1px solid $secondary;
		background-color: $white;
		&:hover, &:focus, &:active{
			background-color: $secondary;
			color: $white !important;
			border: 1px solid $secondary;
		}
	}
	&.btn-white{
		color: $bodycolor !important;
		border: 1px solid transparent;
		background-color:$white;
		&:hover, &:focus, &:active{
			background-color: $primary;
			color: $white !important;
			border: 1px solid $primary;
		}
	}
	&.btn-outline-white {
		color: $dark  !important;
		border: 1px solid #CCD5D6;
		background-color: rgba(#fff, 0.6);
		&:hover, &:focus, &:active{
			background-color: $primary;
			color: $dark !important;
			border: 1px solid $primary;
		}
	}
}

.btn-link {
	color: $secondary;
	font-weight: bold;
	position: relative;
	z-index: 3;
	text-decoration: none;
	padding: 0;
	@include inline-flex;
	@include align-items(center);
	@include transition(0.3s, ease-in-out);

	&:hover, &:focus, &:active, &:focus-visible {
		color: $primary;
		box-shadow: none !important;
		// text-decoration: none;
		text-decoration: underline;
	}
	&:hover,&:focus{
		color: $primary;
	}

	&.text-sm {
		font-size: 14px;
		&.with-icon {
			&:after {
				width: 10px;
				height: 10px;
			}
		}
	}

	&.btn-link-primary {
		color: $primary;
		&:hover, &:focus, &:active, &:focus-visible {
			color: $secondary;
		}
		&:hover,&:focus{
			color: $secondary;
		}
	}
	&.with-back-arrow {
		line-height: 1;
		&::before {
			content: "";
			display: block;
			margin-right: 8px;
			width: 14px;
			height: 8px;
			background: url(../images/icons/arrow.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
		}
		&:hover, &:focus, &:active, &:focus-visible {
			&:before {
				@include transform(translateX(-5px));
				filter: unset;
			}
		}
	}
	&.with-back-white-arrow {
		line-height: 1;
		&::before {
			content: "";
			display: block;
			margin-right: 8px;
			width: 14px;
			height: 8px;
			background: url(../images/icons/next-arrow.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
		}
		&:hover, &:focus, &:active, &:focus-visible {
			&:before {
				@include transform(translateX(-5px));
				filter: unset;
			}
		}
	}
	&.with-back-icon {
		line-height: 1;
		&::before {
			content: "";
			display: block;
			margin-right: 8px;
			width: 12px;
			height: 12px;
			background: url(../images/icons/next.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
			@include transform(rotate(180deg));
			filter: contrast(0.2) brightness(0.4);
		}
		&:hover, &:focus, &:active, &:focus-visible {
			&:before {
				@include transform(translateX(-5px) rotate(180deg));
				filter: unset;
			}
		}
	}
	&.with-icon {
		&:after {
			content: "";
			display: block;
			margin-left: 8px;
			width: 12px;
			height: 12px;
			background: url(../images/icons/next.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
			filter: contrast(0.2) brightness(0.4);
		}
		&:hover, &:focus, &:active, &:focus-visible {
			&:after {
				@include transform(translateX(5px));
				filter: unset;
			}
		}
	}
}

/** Utility: Ripple -------------------------------------------------- */
.js-ripple {position: relative; overflow: hidden;}
.c-ripple {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
	.c-ripple__circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: rgba(255, 255, 255, .25);
	}
	&.is-active & {
		animation: a-ripple .4s ease-in;
	}
}


  
/** Animation: Ripple -------------------------------------------------- */
@keyframes a-ripple {
0% {
	opacity: 0;
}
25% {
	opacity: 1;
}
100% {
	width: 200%;
	padding-bottom: 200%;
	opacity: 0;
}
}

.icw-admin {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	.dashicons {font-size: 16px;}
}

h1, .h1 {
	font-weight: 700;
	font-size: 54px;
	margin-bottom: 20px;
	color: $bodycolor;
	b {
		font-weight: 700;
	}
	strong {
		color: $primary;
	}
	@media (max-width: 1440px) {
		font-size: 36px;
    }
	@media (max-width: 991px) {
		font-size: 26px;
    }
}

h2, .h2 {
	font-weight: 700;
	font-size: 46px;
	margin-bottom: 20px;
	color: $bodycolor;
	@media (max-width: 1440px) {
		font-size: 32px;
    }
	@media (max-width: 991px) {
		font-size: 24px;
    }
}

h3, .h3 {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
	color: $bodycolor;
	line-height: 1.4;
	@media (max-width: 1440px) {
		font-size: 28px;
    }
	@media (max-width:991px) {
		font-size: 22px;
    }	
}

h4, .h4 {
	font-weight: 700;
	color: $bodycolor;
	font-size: 32px;
	margin-bottom: 15px;
	line-height: 1.4;
	@media (max-width: 991px) {
		font-size: 22px;
    }	
}

h5, .h5 {
	font-weight: 700;
	color: $bodycolor;
	font-size: 22px;
	margin-bottom: 15px;
	line-height: 1.4;
	@media (max-width: 991px) {
		font-size: 18px;
    }	
}


.main-header {
	position: sticky; 
	left: 0; 
	right: 0; 
	z-index: 10; 
	top: 0; 
	@include transition(0.3s, ease-in-out); 
	padding: 10px 0; 
	background-color: $dark; 
	&.fixed-header {
		background: rgba($dark, .95);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
	body.logged-in.admin-bar & {
		top: 32px;
	}
	.menu-sidebar {
		display: none;
	}
	@media (max-width:992px) {
		&.is-visible {
			background-color: $dark !important;
			.menu-list {
				// left: 0px;
				@include transform(translateX(0px))
			}
		}
		.menu-sidebar {
			display: inline-block; 
			cursor: pointer; 
			border: none; 
			padding: 8px 11px; 
			background-color: transparent; 
			z-index: 10;
			margin-left: 15px;
			height: 44px;
			width: 44px;
			border: 1px solid $primary;
			border-radius: 30px;
			
			&.is-visible {
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg)); width: 20px; top: 7px;
					}
					&:nth-child(2) {
						@include opacity(0); left: 0px; width: 20px;
					}
					&:nth-child(3) {
						background-color: $primary;
						@include transform(rotate(-135deg)); width: 20px; top: -7px;
					}
				}				
			}
			span {
				width: 20px; 
				height: 2px; 
				margin: 5px 0; 
				background-color: $white; 
				@include border-radius(2px); 
				display: block; 				
				position: relative; 
				@include transition(0.3s, ease-in-out);
				// &:nth-child(1) {
				// 	width: 25px;
				// }
				// &:nth-child(2) {
				// 	background-color: $primary;
				// }
				// &:nth-child(3) {
				// 	width: 25px;
				// }
			}
		}
	}	
	.navbar {
		padding: 0;
		>.container {
			display: block; 
			padding-left:15px; 
			padding-right: 15px;
		}
	}
	.menu-list {
		// margin-left: auto;
		@media (min-width:992px) {
			li {
				&:hover, 
				&:focus, 
				&:focus-visible {
					> ul.sub-menu {
						@include opacity(1); 
						visibility: visible; 
						@include transform(translateY(0px)); 
						z-index: 99;
					}
				}
			}
		}
		// Mobile
		@media (max-width:991px) {
			min-height: calc(100vh - 64px); 
			overflow-y: auto; width: 100%; 
			max-width: 290px; 
			display: block; 
			padding: 15px 15px 30px; 
			background-color: $dark; 
			position: fixed; 
			top: 0; 
			left: 0px; 
			bottom: 0; 
			z-index: 99; 
			margin-top: 64px; 
			body.admin-bar & {
				margin-top: 64px; 
			}
			@include transition(0.3s, ease-in-out);
			@include transform(translateX(-100%));
			> ul {
				display: block;
				> li {
					margin: 0; 
					padding: 0px 0; 
					width: 100%;
					li {
						border-bottom-color: rgba(235, 235, 235, 0.3) !important;
						li {
							border-bottom: 0px !important;
							border-left: 1px solid rgba(235, 235, 235, 0.3) !important;
							padding-left: 10px;
							a {
								padding: 5px 0; 
							}
							&:last-child {
								margin-bottom: 10px !important;
							}
						}
					}
					a {
						color: $white;
						display: inline-block;
						padding: 10px 0; 
						&:hover,&:focus {
							color: $primary;
						}
					}
				}
			}
		}
		> ul {
			@include align-items(center);
		}
		li {
			margin: 0 15px; 
			padding: 10px 0; 
			position: relative;
			@media (max-width:1399px) {
				margin: 0 8px;
			}	
			&.menu-item-has-children {
				.arrow {
					position: relative; 
					float: right; 
					width: 25px;
					// margin-top: 10px; 
					&.is-active {
						&:after {
        					@include transform(rotate(180deg));
                        }
					}
					&:after {
						vertical-align: middle; 
						content: ""; 
						background: url(../images/icons/arrow-down.svg) no-repeat center right; 
						background-size: contain; 
						width: 12px; 
						height: 10px; 
						margin-left: 7px; 
						display: inline-block; 
						@include transition(0.3s, ease-in-out);
                    }
					@media (min-width:1200px) {
						display: none;
					}
				}
				@media (min-width:1200px) {
					& > a {
						// @include flexbox(); 
						// @include align-items(center);
						&:after {
							vertical-align: middle; 
							content: ""; 
							background: url(../images/icons/arrow-down.svg) no-repeat center right; 
							background-size: contain; 
							width: 10px; 
							height: 10px; 
							margin-left: 8px; 
							display: inline-block; 
							@include transition(0.3s, ease-in-out);
							opacity: 0.8;
						}
					}
					&:hover, &:focus {
						> a {
							color: $primary;
							&:before {
								width: 50%; left: 0;
							}
							&:after {
								@include transform(rotate(180deg)); 
								filter: inherit; 
								-webkit-filter: inherit;
								opacity: 1;
							}
						}
					}
				}
			}			
			&:last-child {
				margin-right: 0;
			}
			a {
				color: rgba(255, 255, 255, 0.6); 
				position: relative; 
				z-index: 1; 
				text-decoration: none; 
				font-weight: 600; 
				font-size: 16px; 
				@include transition(0.1s, ease-in-out);
				@media (max-width:1399px) {
					font-size: 14px;
				}
				&:hover,
				&:focus{
					color: $primary;
				}
			}
		}
		li.current-menu-item:not(.hash-menu), 
		li.current_page_parent:not(.hash-menu),
		li.current-menu-parent:not(.hash-menu) {
			> a {
				color: $primary;
			}
		}
	}
	.sub-menu {
		@media (max-width:991px) {
			display: none;
			margin-left: 10px;
			background: #002529;
			@include border-radius(10px);
			padding: 15px !important;
		}
		@media (min-width:992px) {
			visibility: hidden; 
			@include opacity(0); 
			@include transition(0.2s, ease-in-out); 
			background: #FFFFFF;
			// -webkit-backdrop-filter: blur(10px);
			// backdrop-filter: blur(10px);
			position: absolute; 
			left: 0; 
			top: 100%; 
			z-index: 1; 
			padding: 0px; 
			margin: 0; 
			@include transform(translateY(-5px)); 
			min-width: 215px; 
			@include box-shadow(0px 8px 15px rgba(0, 0, 0, 0.15)); 
			@include border-radius(8px);
			padding: 20px !important;
		
			// border: 1px solid rgba($black, 0.20);
			&.is-menu {
				@include opacity(1); 
				visibility: visible; 
				@include transform(translateY(0px)); 
				z-index: 99;
			}
			li {	
				border: none !important;
				padding-bottom: 5px !important;
				&:last-child {
					padding-bottom: 0px !important;
				}
				a {
					display: block !important; 
					color: #002B31;
					@include border-radius(8px);

					&:before {
						display: none !important;
					}
					&:hover, &:focus {
						color: $primary !important;
						background: $light-dark;
					}
				}
				a:after {
					content: unset !important; 
					display: none !important;
				}

				&.current-menu-item, 
				&.current_page_parent,
				&.current-menu-parent  {
					> a {
						color: $primary !important;
						background: $light-dark;
					}
				}

				&.menu-item-has-children:hover, 
				&.menu-item-has-children:focus {
					> a {
						color: $primary !important;
						background: $light-dark;
					}
				}

			}

			li.menu-item-has-children {
				.arrow {
					display: block;
					position: absolute !important;
					right: 5px; top: 4px; z-index: 1;
					&:after {
						background: url(../images/icons/next.svg) no-repeat center right; 
					}
				}
			}
			.sub-menu {
				@include transform(translateY(0px)); 
				position: absolute; 
				@include box-shadow(none); 
				padding: 0px; 
				margin: 0px; 
				border: 0px;
				left: 100%;
				top: 0px;
				border-left: 2px solid $primary;
				li {
					padding-bottom: 0px;
				}
				a {
					font-size: 13px;
				}
			}
		}
		li {
			margin: 0 !important; 
			padding: 0px;
			border-bottom:1px solid #ebebeb;
			&:first-child {
				a {
					@media (max-width: 992px) { padding-top: 0; }
				}
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom:0;
				a {
					@media (max-width: 992px) { padding-bottom: 0; }
				}
			}
			a {
				font-size: 13px; 
				font-weight: 600;
				padding: 10px 15px;
			}
		}
	}
	.mega-menu {
		.sub-menu {
			min-width: 650px;			
			background: #002529;
			@include border-radius(10px);
			padding: 30px !important;
			left: -18rem;
			@media (min-width: 992px) {
				display: grid;
    			grid-template-columns: 45% 55%;
			}
			@media (max-width: 992px) {
				min-width: auto;
				grid-template-columns: 100%;
				padding: 15px !important;
				margin-left: 0 !important;
			}
			& > li {
				border-right: 3px solid #2D4F54  !important;
				padding-bottom: 0 !important;
				@media (max-width: 992px) {
					border-right: none !important;
					border-bottom: 3px solid #2D4F54  !important;
				}
				&:first-child {
					@media (min-width: 992px) {
						padding-right: 30px !important;
					}
				}
				&:last-child {
					border-right: none !important;
					border-bottom: none !important;
				}
				.thumbnail-img {
					padding-left: 30px;		
					@media (max-width: 992px) {
						padding-left: 0;
						padding-top: 20px;
					}			
					.title {
						font-size: 14px;
						font-weight: 600;
						color: $white;
						margin-bottom: 10px;
					}
					.video-img {
						padding: 0;
						@include border-radius(10px);
						overflow: hidden;
						display: block;
						img {
							width: 100%;
						}
					}
				}
				& > ul {
					li {
						@media (max-width: 992px) {
							border-left: none !important;
							border-bottom: 1px solid rgba(235,235,235,0.3) !important;
							padding-left: 0;
							&:last-child {
								border-bottom: none !important;
								margin-bottom: 20px !important;
								a {
									padding-bottom: 0;
								}
							}
							&:first-child {
								a {
									padding-top: 0;
								}
							}
						}
						a {
							color: $white;
							@media (max-width: 992px) {
								padding: 10px 0;
								&:hover, &:focus {
									color: $primary;
								}
							}
						}
					}
				}
			}
		}
	}
	.header-logo {
		flex: none;
		img {
			@include transition(0.3s, ease-in-out); 
			transform-origin: left;
			max-height: 75px;			
			transition: max-height 0.3s ease-in-out;		
		}
		@media (max-width: 1024px) {
			img {
				max-height: 54px;
			}
		}
	}
	.header-first-block {
		@include flexbox(); 
		@include align-items(center); 
		@include justify-content(space-between); 
		position: relative;
		min-height: 47px;
	}
	.action-btn {
		margin-left: 30px;
		.btn {
			white-space: nowrap; 
			// color: $white !important; 
			min-width: auto; 
			padding: 7px 30px; 
			font-weight: 700;
			min-height: 44px;

			@media (max-width: 575px) {
				min-width: 100%; 
				padding: 5px 10px;
			}
		}
		/*
		@media (min-width:1200px) and (max-width:1439px) {
			.btn {
				padding-left: 12px; 
				padding-right: 12px;
			}
			margin-left: 15px;
		}*/
		@media (max-width:992px) {
			margin-left: auto;
		}

		@media (max-width: 1280px) and (min-width: 992px) {
			margin-left: 10px;
			margin-right: 60px;
		}
	}
	
}

.nav-login-user{
	position: relative;
	@media (min-width:1280px) {
		position: absolute;
		right: -59px;
	}
	@media (max-width: 1280px) and (min-width: 992px) {
		position: absolute;
		right: -5px;
	}
    @media (max-width:575px) {
		margin-left: auto;
	}
	
    &:hover{
        .user-sub-menu{
            z-index: 99;
            visibility: visible;
            @include opacity(1);
            @include transform(translateY(0));
        }
    }
	.user-sub-menu{
		visibility: hidden; 
			@include opacity(0); 
			@include transition(0.2s, ease-in-out); 
			background: #FFFFFF;
			position: absolute; 
			right: 0; 
			top: 115%; 
			z-index: 1; 
			padding: 0px; 
			margin: 0; 
			@include transform(translateY(-5px)); 
			min-width: 185px; 
			@include box-shadow(0px 8px 15px rgba(0, 0, 0, 0.15)); 
			@include border-radius(8px);
			padding: 0px;
			overflow: hidden;
		
		.user-sub-menu-inner {
			padding: 20px;
		}

		a {
			display: block !important; 
			text-decoration: none; 
			font-weight: 600; 
			font-size: 13px;
			padding: 10px 15px;
			@include transition(0.1s, ease-in-out);
			@include border-radius(8px);

			color: $primary !important;
			background: $light-dark;

			&:hover, &:focus {
				color: $dark !important;
				background: $primary;
			}
		}
	}
    
    .user-name{
        @include flexbox();
		@include align-items(center);
		@include justify-content(center);

        cursor: pointer;
		height: 44px;
		width: 44px;
		border: 1px solid $primary;
		border-radius: 30px;
		margin-left: 15px;
		background: $primary;
		position: relative;
		&::after {
			height: 20px;
			width: 44px;
			content: "";
			display: block;
			position: absolute;
			bottom: -10px;
		}
    }
    .name{
        font-size: 14px;
        color: $black;
		background: $primary;
        display: block;
        padding: 20px 20px 15px;
        position: relative;
    }
}

.bg-overly {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	z-index: 9; 
	background-color: rgba(0, 0, 0, 0.5); 
	visibility: hidden; 
	@include opacity(0); 
	@include transition(0.3s, ease-in-out);
	&.is-visible {
		@include opacity(1); 
		visibility: visible;
	}
}

.main-footer {
	background: #001114; 
	padding: 80px 0;
	color: #99AAAD;
	font-size: 14px;

	@media (max-width: 767px) {
		.m-order-last {order: 10;}
	}

	.footer-logo-block {
		max-width: 450px;
		.footer-logo {
			margin-bottom: 30px;
			display: inline-block;
			img {
				max-height: 30px;
				width: auto;	
			}
		}
		.sort-info {
			font-size: 14px;
			font-weight: 400;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
	}
	a {
		color: #99AAAD;
		position: relative;
		z-index: 1;	
		text-underline-offset: 4px;	
		text-decoration: none;
		&:hover,
		&:focus,
		&:focus-visible {
			color: $primary;
			text-decoration: underline;
		}
	}
	.divider {
		border-top: 1px solid rgba($white,.15);
		 margin: 50px 0;
		 @media (max-width: 767px) {
			margin: 40px 0;
		 }
	}
	.widget-title {
		font-size: 20px;
		color: #fff;
		font-weight: 500;
	}

	.footer-menu-inline {
		@include flexbox; 
		@include align-items(center);
		@include flex-wrap(wrap); 
		@include justify-content(flex-start);
		
		@media (max-width: 420px) {
			@include justify-content(center);
		}
		li {			
			font-size: 14px;
			margin-bottom: 0 !important;
			margin-right: 15px;
			@media (max-width: 420px) {
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
			&.current-menu-item, &.current_page_parent {
				& > a {
					color: $primary;
					text-decoration: underline;
				}
			}
		}
	}

	.footer-menu {
		&.footer-menu-col2 {
			columns: 2;
			column-gap: 15px;
		}

		li {			
			font-size: 16px;
			margin-bottom: 10px;
			&.current-menu-item, &.current_page_parent {
				& > a {
					color: $primary;
					text-decoration: underline;
				}
			}
		}
	}
	
	.footer-grid-menu {
		
	}

	.footer-bottom {
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-between);
		gap: 15px;
		@include flex-wrap(wrap);

		@media (max-width: 767px) {
			@include flex-direction(column-reverse);
			@include align-items(flex-start);
		}
	}

	.footer-social {
		@include flexbox;
		@include align-items(center);
	}

	.social-media-icons {
		@include flexbox;
		@include flex-wrap(wrap);
		// gap: 10px;
		margin-top: -5px;
		li {
			padding: 5px;
		}
	}

	.copyright-text {
		font-size: 14px;
	}

	.design-by {
		display: none;
	}

	.hs-form {
		@include flexbox;
		@include align-items(center);
		@include border-radius(61px);
		border: 1px solid #363C3E;
		position: relative;
		.hs-form-field {
			width: 100%;			
			& > label {
				position: absolute;
				color: #CCD5D6;
				top: 17px;
				left: 20px;
				@include transition(0.3s, ease-in-out);
				@media (max-width:767px) {
					top: 12px;
				}
			}
			&.has-focus {
				> label {
					top: 5px;
					font-size: 14px;
				}
			}
			&.not-focused {
				> label {
					top: 17px;
					@media (max-width:767px) {
						top: 12px;
					}
				}
			}
			&.has-value {
				> label {
					top: 5px;
					font-size: 14px;
				}
			}
			.hs-input {
				height: 56px;
				width: 100%;
				padding: 18px 20px 0;
				padding-right: 75px;
				@include border-radius(61px);
				background: transparent;
				border: none;
				color: $white;
				@media (max-width: 992px) {
					height: 45px;
				}
				&::placeholder {
					color: #CCD5D6;
				}
			}
		}
		.hs-submit {
			position: absolute;
			top: 0;
			right: 0;
			.hs-button {
				width: 56px;
				height: 56px;
				font-size: 0;
				flex: none;
				background: #3FE0D0;
				@include border-radius(61px);
				border: none;
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M3.33464 10.0005L16.668 10.0005M16.668 10.0005L11.668 5.00049M16.668 10.0005L11.668 15.0005" stroke="rgb(0 43 49)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
				background-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				@include transition(0.3s, ease-in-out);
				&:hover, &:focus {
					background-position: calc(100% - 10px);
				}
				@media (max-width: 992px) {
					width: 45px;
					height: 45px;					
				}
			}
		}
		.hs-error-msgs {
			position: absolute;
			bottom: -20px;
    		font-size: 12px;
			color: #f36161;
		}
		.hs_error_rollup {
			display: none !important;
		}
	}
}

.back-to-top {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: $primary;
	text-align: center;
	position: fixed;
	z-index: 8;
	right: 20px;
	bottom: -100px;
	-webkit-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	-moz-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	@include border-radius(6px);
	&:hover, &:focus {
		@include opacity(0.8);
	}
	&.visible {
        opacity: 1;
        bottom: 25px;
	}
	svg {
		width: 16px;
		height: 16px;
	}

	// @media (max-width:767px) {
	// 	display: none !important;
	// }
}

.grecaptcha-badge {
	right: -300px !important;
}

// minmax
.minmax {
	max-width: var(--maxd, 900px) ;
	@media (max-width: 768px) {
		max-width: var(--maxm, 200px) ;
	}
}

// splide - Arrow 
.splide .splide__arrow {
	width: 50px;
	height: 50px;
	border: 2px solid #E6EAEA;
	background: #fff;
	opacity:1;
	@include transition(0.1s, ease-in-out);
	svg {
		height: 1em;
		width: 1em;	
		path{
			fill: #99AAAD;
			stroke: #99AAAD;
		}
	}

	&:hover:not(:disabled), &:focus:not(:disabled) {
		background: $secondary;
		border-color: $secondary;
		path{
			fill: #fff !important;
			stroke: #fff !important;
		}
	}

	&:disabled {
		opacity: 0.3 !important;
	}
}

.with-lightview {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	@include border-radius(32px);
	@media (max-width: 768px) {
		@include border-radius(18px);
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		inset: 0;
		background: rgba($dark, 0.2);
		@include transition(0.3s, ease-in-out);
		opacity: 0;

		@include border-radius(32px);
		@media (max-width: 768px) {
			@include border-radius(18px);
		}
	}

	&:hover, &:focus {
		&::before {
			opacity: 1;
		}
		@include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));
	}
}

.with-video {
	position: relative;
	display: block;
	overflow: hidden;
	@include border-radius(32px);
	@media (max-width: 768px) {
		@include border-radius(18px);
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		inset: 0;
		background: rgba($dark, 0.2);
		@include transition(0.3s, ease-in-out);
		@include border-radius(32px);
		@media (max-width: 768px) {
			@include border-radius(18px);
		}
	}
	.play-icon {
		position: absolute;
		border: 0px;
		padding: 0px;
		margin: 0px;
		top: 50%;
		left: 50%;
		cursor: pointer;
		@include border-radius(50%);
		@include transition(0.3s, ease-in-out);
		@include transform(translate(-50%, -50%) scale(1));
		&:hover, &:focus {
			@include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));
			@include transform(translate(-50%, -50%) scale(1.1));
		}
	}

	&:hover, &:focus {
		&::before {
			background: rgba($dark, 0.3);
		}
	}
}
.play-video-inline {
	position: relative;
	display: block;
	overflow: hidden;
	@include border-radius(32px);
	@media (max-width: 768px) {
		@include border-radius(18px);
	}
}

.lottie-player-block {
	margin: 0 auto;
	@media (min-width: 992px) {
		height: var(--hd) ;
	}
	@media (max-width: 991px) {
		height: var(--hm) ;
	}
}

.lottie-player-box {
	padding: 60px 40px;
	background-color: #F5F8FB;
	border-radius: 20px;
	@media (max-width: 991px) {
		padding: 50px 30px;
	}
}

// On Hover Video Zigzag
.is-hover-video {

	&:hover {
		.play-icon {opacity: 0;}	
	}
}

.video-player-block {	
	max-width: 680px;
	@media (max-width: 1200px) {
		max-width: 560px;
	}
	@media (max-width: 992px) {
		max-width: 370px;
	}
	@media (max-width: 767px) {
		max-width: 100%;
	}
	@include border-radius(32px);
	position: relative;
	overflow: hidden;
	border: 2px solid #E0E8E9;
	

	.play-icon {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include transition(0.3s, ease-in-out);
		svg {
			width: 56px;
			height: 56px;
			flex: none;
			@include border-radius(50%);
			@include transition(0.3s, ease-in-out);
			@include transform(scale(1));
			z-index: 2;
			&:hover {
				@include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));
				@include transform(scale(1.1));
			}
		}
		&.d-hide {
			opacity: 0;
		}

		&::after {
			content: '';
			top: 0;
			left: 0;
			@include border-radius(32px);
			opacity: 0.025;
			background: #002B31;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.inner-video-player {
		position: relative;
		video {
			// border-radius: 32px;
			vertical-align:bottom;
			max-width: 100%;
		}
		&.ratio-4x3 {
			--bs-aspect-ratio: 67%;
		}
	}
}




.icw-splide-arrows {
	@include flexbox();
	@include align-items(center);
	gap: 15px;

	.icw-splide-arrow {
		width: 50px;
		height: 50px;
		border: 2px solid #E6EAEA;
		background: #fff;
		opacity:1;
		@include transition(0.1s, ease-in-out);
		@include border-radius(100px);
		display: grid;
		justify-content: center;
		align-items: center;

		svg {
			height: 1em;
			width: 1em;	
			path{
				fill: #99AAAD;
			}
		}
		&.splide__arrow--prev svg {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	
		&:hover:not(:disabled), &:focus:not(:disabled) {
			background: $secondary;
			border-color: $secondary;
			path{
				fill: #fff !important;
			}
		}
	
		&:disabled {
			opacity: 0.3 !important;
		}
	}
}

.icw-splide__pagination {
	padding-bottom: 40px;
	.splide__pagination {
		bottom: 20px;
		z-index: 9;
		li {
			padding: 0px !important;
			&::after {content: none; display: none;}
		}
		&__page {
			background: $secondary;
			height:8px;
			width: 14px;
			margin: 3px 6px;
			border-radius:10px;
			&.is-active {				
				background: $primary;
			}
		}
	}
}


.form-block {
	background: #073339;
	@include border-radius(27px);
	padding: 40px;
	@media (max-width: 992px) {
		margin-top: 10px;
	}
	@media (max-width: 767px) {
		padding: 20px;
	}
}

.hbspt-form .submitted-message {
    font-size: 18px;
    color: $primary;
    padding: 0px 0px 20px;
}
.icw-hs-form {
	.hs-form {
		// @include flexbox;
		// @include flex-wrap(wrap);
		.hs-form-field {
			width: 100%;
			margin-bottom: 25px;
			position: relative;
			@include flexbox;
			@include flex-direction(column);
			@media (max-width: 767px) {
				margin-bottom: 15px;
			}
			
			
			label {
				font-size: 15px;
				color: rgba($white, 0.8);
				margin-bottom: 5px;
				span {
					color: rgba($white, 0.8);
				}
			}
			.hs-input {
				height: 46px;
				@include border-radius(72px);
				background: transparent;
				border: 1px solid #3C686F;
				width: 100%;
				padding: 0 20px;
				font-size: 14px;
				color: $white;
				&::placeholder {
					color: rgba($white, 0.4);
				}
			}		
			.hs-error-msgs {
				line-height: normal;
			}
			.hs-error-msg {
				font-size: 12px;
				color: #f36161;
				opacity: 1;
			}
		}
		.hs-submit {
			width: 100%;
			.hs-button {
				width: 100%;
				height: 56px;
				@include border-radius(35px);
				background: #3FE0D0;
				border: 1px solid transparent;
				@include box-shadow(none);
				font-size: 17px;
				letter-spacing: -0.17px;
				color: $dark;
				font-weight: 700;
				outline: none;
				@include inline-flex;
				@include align-items(center);
				@include justify-content(center);
				&::before {
					content: '';
					background: url(../images/icons/btn-icon.svg) no-repeat center center;
					width: 18px;
					height: 18px;
					flex: none;
					display: inline-block;
				}
			}
		}
		.hs_error_rollup {
			display: none;
		}
	}

	.note {
		font-size: 12px;
		color: rgba($white, 0.4);
		margin-top: 25px;
		@media (max-width: 767px) {
			margin-top: 15px;
		}
	}
}

// Search
.search-form-block {
	max-width: 450px;
	margin: 0 auto;
	.hs-form {
		@include flexbox;
		@include align-items(center);
		@include border-radius(61px);
		border: 1px solid #124147;
		background: #124147;
		position: relative;
		.hs-form-field {
			width: 100%;			
			& > label {
				position: absolute;
				color: #CCD5D6;
				top: 18px;
				left: 20px;
				font-size: 14px;
				@include transition(0.3s, ease-in-out);
				@media (max-width: 992px) {
					top: 12px;
				}
			}
			&.has-focus {
				> label {
					top: 5px;
					font-size: 14px;
					@media (max-width: 992px) {
						top: 3px;
					}
				}
			}
			&.not-focused {
				> label {
					top: 18px;
					@media (max-width: 992px) {
						top: 12px;
					}
				}
			}
			&.has-value {
				> label {
					top: 5px;
					font-size: 14px;
					@media (max-width: 992px) {
						top: 3px;
					}
				}
			}
			.hs-input {
				height: 56px;
				width: 100%;
				padding: 18px 20px 0;
				padding-right: 75px;
				@include border-radius(61px);
				background: transparent;
				border: none;
				color: $white;
				@media (max-width: 992px) {
					height: 45px;
				}
				&::placeholder {
					color: #CCD5D6;
				}
			}
		}
		.icw-submit {
			position: absolute;
			top: 0;
			right: 0;
			.icw-button {
				width: 56px;
				height: 56px;
				font-size: 0;
				flex: none;
				background-color: $primary;
				@include border-radius(100px);
				border: none;
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M17.5 17.5002L14.5833 14.5836M16.6667 9.58358C16.6667 11.4622 15.9204 13.2639 14.592 14.5923C13.2636 15.9206 11.4619 16.6669 9.58333 16.6669C7.70472 16.6669 5.90304 15.9206 4.57466 14.5923C3.24628 13.2639 2.5 11.4622 2.5 9.58358C2.5 7.70496 3.24628 5.90329 4.57466 4.5749C5.90304 3.24652 7.70472 2.50024 9.58333 2.50024C11.4619 2.50024 13.2636 3.24652 14.592 4.5749C15.9204 5.90329 16.6667 7.70496 16.6667 9.58358Z" stroke="rgb(0 43 49)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
				background-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				@include transition(0.3s, ease-in-out);
				&:hover, &:focus {
					background-color: #32b3a6;
					// background-position: calc(100% - 10px);
				}
				@media (max-width: 992px) {
					width: 45px;
					height: 45px;					
				}
			}
		}
		.hs-error-msgs {
			position: absolute;
			bottom: -20px;
    		font-size: 12px;
			color: #f36161;
		}
	}

	.actions {
		@include flexbox;
		@include align-items(center);
	}

	.clear-search{
		border: none;
		background: rgba($dark, 0.4);
		color: #fff;
		padding: 0;
		width: 30px;
		height: 30px;
		border-radius: 5px;
		margin-right: 10px;
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include transition(0.3s, ease-in-out);

		&:hover, &:focus {
			background: rgba($dark, 0.9);
		}
	}
}

// 404
.error-404-section {	
	// background: #F5F5F5;
	.section-title {
		.tag {
			display: inline-block;
			font-size: 13px;
			font-weight: 700;
			color: #7177F8;
			letter-spacing: -0.13px;
			padding: 3px 12px;
			@include border-radius(27px);
			background: #F5F8FB;
			margin-bottom: 20px;
		}
		.sort-info {
			color: rgba($dark, 0.6);	
		}
		.card-image-block {		
			margin-bottom: 40px;
			@media (max-width: 767px) {	
				margin-bottom: 30px;
				img {
					max-width: 80%;
				}
			}
		}
	}
}

// post-password-form
.icw-password-form {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 999;
	background: rgba(#000, 0.95);

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);

	font-size: 22px;
	color: #fff;

	.protected-post-form p {padding: 0px; margin: 0px;}
}


// 
body .popover {
	--bs-popover-zindex: 9;
	--bs-popover-border-radius:18px;
	--bs-popover-border-color:#f7f7f7;
	.popover-header {
		border: 0px;
		padding-top: 1rem;
		padding-bottom: 0px;
		background: transparent;
		color: $secondary;
		font-size: 18px;
		font-weight: 600;
	}
	.popover-body{
		padding-top: 0.5rem;
		color: #33555A;
	}
}
.icw-popover {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/icons/bullet.svg) center center no-repeat;
	background-size:contain;
	border: none;
	border-radius: 50px;

	-webkit-animation: icw-shadow-pulse 1s infinite;
	-moz-animation: icw-shadow-pulse 1s infinite;
	-ms-animation: icw-shadow-pulse 1s infinite;
	animation: icw-shadow-pulse 1s infinite; 
	
	&.is-absolute {
		position: absolute;
		left:var(--px, 0%);
		top:var(--py, 0%);
	}
}

.icw-shadow-pulse {
	-webkit-animation: icw-shadow-pulse 1s infinite;
	-moz-animation: icw-shadow-pulse 1s infinite;
	-ms-animation: icw-shadow-pulse 1s infinite;
	animation: icw-shadow-pulse 1s infinite; 
}
@-webkit-keyframes icw-shadow-pulse {
	0% {box-shadow: 0 0 0 0px rgba(#05E5AD, 0.4);}
	100% {box-shadow: 0 0 0 12px rgba(#05E5AD, 0);}
}
@keyframes icw-shadow-pulse {
	0% {box-shadow: 0 0 0 0px rgba(#05E5AD, 0.4);}
	100% {box-shadow: 0 0 0 12px rgba(#05E5AD, 0);}
}
@-moz-keyframes icw-shadow-pulse {
	0% {box-shadow: 0 0 0 0px rgba(#05E5AD, 0.4);}
	100% {box-shadow: 0 0 0 12px rgba(#05E5AD, 0);}
}

.is-shaking {
	-webkit-animation: icwshake linear 1.5s 3 forwards;
	animation: icwshake linear 1.5s 3 forwards;
	-moz-animation: icwshake linear 1.5s 3 forwards;
	-ms-animation: icwshake linear 1.5s 3 forwards;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
}
@-webkit-keyframes icwshake {
	0%,to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}

	10%,30%,50%,70%,90% {
		-webkit-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	20%,40%,60%,80% {
		-webkit-transform: translate3d(5px,0,0);
		transform: translate3d(5px,0,0)
	}
}
@keyframes icwshake {
	0%,to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}

	10%,30%,50%,70%,90% {
		-webkit-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	20%,40%,60%,80% {
		-webkit-transform: translate3d(5px,0,0);
		transform: translate3d(5px,0,0)
	}
}
@-moz-keyframes icwshake {
	0%,to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-moz-transform: translateZ(0)
	}

	10%,30%,50%,70%,90% {
		-webkit-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0);
		-moz-transform: translate3d(-5px,0,0)
	}

	20%,40%,60%,80% {
		-webkit-transform: translate3d(5px,0,0);
		transform: translate3d(5px,0,0);
		-moz-transform: translate3d(5px,0,0)
	}
}


.enlighter-default {
	margin-bottom: 30px; 
	&.enlighter-v-inline {margin-bottom: 0px;
		.enlighter-code {padding: 0px;}
	}
	.enlighter-code {padding: 2px;}
	&.enlighter-linenumbers div.enlighter>div{
		&>div {padding-left: 0px;}
		// &::before {display: none !important;}
	}
	div.enlighter>div>div{
		padding: 2px;
	}

	div.enlighter>div::before {
		background-color:#F1FAF9 !important;
	}
	.enlighter-linenumbers div.enlighter>div::before {
		color: #3FE0D0 !important;
	}
	.enlighter-btn-website {display: none !important;}

	.enlighter-btn {
		background-color: #F1FAF9 !important;
		border-color:#d9ebe9 !important;
		background-position: center center !important;
		background-size: 15px !important;
		background-repeat: no-repeat;

		&:hover {
			border-color:#3FE0D0 !important;
		}
	}
}