.bug-bounty-page {
    &::after {
        content: none !important;
    }
}
.bug-bounty-hero-section {
    background-image: url(../images/bug-bounty-hero-bg.png); background-size: cover; background-position: center right; background-repeat: no-repeat; position: relative; padding: 190px 0 100px; z-index: 2;
    &::after {
        content: ''; background: url(../images/circle-img-5.png) no-repeat center center; width: 120px; height: 115px; display: block; position: absolute; left: 55px; top: 210px;
    }
    &::before {
        content: ''; background: url(../images/circle-img-6.png) no-repeat center center; width: 160px; height: 265px; display: block; position: absolute; right: 0; bottom: -55px;
    }
}
.light-bg.image-content-section{
    background: transparent;
    .card-img-block {
        @media(max-width: 992px) {
            grid-template-columns: repeat(1, 1fr); @include flex-direction(column);
        }
    }
    .section-title {
        text-align: center; margin-bottom: 45px;
        @media(max-width: 767px) {
            margin-bottom: 35px;
        }
        h2 {
            color: #01012A;
        }
    }
}
.image-content-section{
    .card-img-block {
        @media(max-width: 992px) {
            grid-template-columns: repeat(1, 1fr); @include flex-direction(column);
        }
    }
}
.bug-bounty-page {
    .demo-wrapper {
        @media (max-width: 1023px) {
            background: #F5F3FF url(../images/involved-bg.png) no-repeat center center; overflow: hidden;
        }
        .demo-background {
            background: #F5F3FF url(../images/involved-bg.png) no-repeat center center; padding-top: 95%;
            @media (max-width: 1023px) {
                padding-top: initial ;
            }
        }
        .slideshow-container {
            @include flex-direction(column); top: 85px; bottom: 85px;
            @media (max-width: 1440px) {
                top: 65px; bottom: 65px;
            }
            pre {
                padding: 90px 3rem 0; overflow-y: auto; font-size: 16px;
            }
        }
    }
}
.number-list {
    counter-reset: list-number; padding: 0; margin: 0;
    @media(min-width: 1220px) {
        margin-left: 40px;
    }
    @media(max-width: 767px) {
        margin-top: 35px;
    }
    li {
        position: relative; padding-left: 35px; margin-bottom: 25px; line-height: 1.5;
        &::before {
            width: 24px; height: 24px; min-width: 24px; min-height: 24px; background: url(../images/list-circle-bg.png) no-repeat center center; @include inline-flex; @include align-items(center); @include justify-content(center); @include border-radius(50%); margin-right: 10px; color: #FFFFFF; font-weight: 700; font-size: 14px; counter-increment: list-number; content: counter(list-number); position: absolute; top: 2px; left: 0;
        }
        span {
            color: #684BFE;
        }
        a {
            color: #05E5AD; @include transition(0.3s, ease-in-out);
            &:hover, &:focus {
                color: #01012a;
            }
        }
    }
}
.check-list {
    padding: 0; margin: 0;
    @media(min-width: 1220px) {
        margin-left: 40px;
    }
    li {
        position: relative; padding-left: 35px; margin-bottom: 20px; line-height: 1.5;
        &::before {
            background: url(../icons/check-icon.svg) no-repeat center center; overflow: hidden; margin-right: 8px; content: ''; position: absolute; top: 4px; left: 0; background-size: 20px; display: inline-block;
        }
        span {
            color: #684BFE;
        }
        a {
            color: #05E5AD; @include transition(0.3s, ease-in-out);
            &:hover, &:focus {
                color: #01012a;
            }
        }
    }
}
.action-block {
    margin-top: 30px;
    @media(min-width: 1220px) {
        margin-left: 40px;
    }
    .btn-green {
        text-transform: uppercase; padding: 20px 35px; font-weight: 700; font-family: "CentraNo1",sans-serif;
        @media(max-width: 767px) {
            width: 100%; 
        }
    }
}
.title-section {
    .sort-info {
        color: rgba(#01012A, 0.6); font-size: 18px; max-width: 1080px; margin: 0 auto; line-height: 1.6;
    }
}
.why-join-section {
    background: url(../images/why-join-bg.png) no-repeat right bottom; background-size: cover; position: relative; 
    @media(min-width: 1440px) {
        padding-bottom: 0;
    }
    @media(max-width: 767px) {
        background: url(../images/why-join-mobile-bg.png) no-repeat right bottom; background-size: cover;
    }
    &::after {
        content: ''; background: url(../images/circle-img-7.png) no-repeat center center; width: 145px; height: 115px; display: block; position: absolute; right: 40%; bottom: 80px; z-index: -1;
        @media(max-width: 1440px) {
            right: 30%;
        }
        @media(max-width: 992px) {
            right: auto; left: 0; bottom: 40px;
        }
        @media(max-width: 767px) {
            width: 95px; height: 95px; background-size: contain; bottom: 1%;
        }
    }
    &::before {
        content: ''; background: url(../images/circle-img-8.png) no-repeat center center; width: 325px; height: 330px; display: block; position: absolute; right: 0; top: 155px; z-index: -1;
        @media(max-width: 992px) {
            content: none;
        }
    } 
    .section-title {
        margin-bottom: 60px;
        @media(min-width: 1440px) {
            margin-bottom: 0;
        }
        @media(max-width: 992px) {
            margin-bottom: 35px;
        }
    }
    .image-block {
        @media(max-width: 992px) {
            margin-top: -100px; margin-bottom: -120px;
        }
        @media(max-width: 767px) {
            margin-top: -60px; 
        }
        @media(max-width: 575px) {
            margin-top: -30px; 
        }
    }
    .check-list {
        li {
            color: #ffffff !important;
            strong {
                color: #ffffff !important;
            }
        }
    }
}

.table-section {
    .section-title {
        margin-bottom: 35px;
        h2 {
            margin-bottom: 25px;
        }
        .sort-info {
            max-width: 830px; margin: 0 auto; font-weight: 400; font-size: 16px; color: rgba(#01012A, 0.6);
        }
    }
}
.table-content-block {
    background: #F2EEFF url(../images/table-bg.png) no-repeat left bottom; background-size: cover; @include border-radius(35px); padding: 30px 50px; max-width: 740px; margin: 0 auto;
    @media(max-width: 767px) {
        padding: 25px; 
    }
    @media(max-width: 575px) {
        padding: 15px; 
    }
}
.table-block {
    .table-row {
        display: grid; grid-template-columns: 24px auto; grid-gap: 20px;  @include align-items(center); @include border-radius(15px); background: #FFFFFF; padding: 14px 20px; margin-bottom: 5px;    
        &:last-child {
            margin-bottom: 0;
        }    
        &:nth-child(even){
            background: rgba(#FFFFFF, 0.6);
        }
        @media(max-width: 575px) {
            margin-bottom: 8px;
        }
    }
    .table-col {
        display: grid; grid-template-columns: auto 20% 25%;  @include align-items(center);
        @media(max-width: 575px) {
            grid-template-columns: repeat(3, 1fr);
            :first-child {
                grid-column: 1 / -1;
            }
        }
    }
    .table-header {
        font-weight: 400; font-size: 14px; color: rgba(#01012A, 0.6); background: transparent; padding-top: 0;
        .table-col { 
            div {
                &:first-child {
                    text-align: left;
                }
            }
        }
        @media(max-width: 575px) {
           display: none;
        }
    }
    .table-body {
        font-weight: 400; font-size: 16px; color: rgba(#01012A, 0.6);
        span {
            display: none; color: rgba(#01012A, 0.6); font-weight: 400; font-size: 12px; margin-bottom: 2px;
            @media(max-width: 575px) {
                display: block;
            }
        }
        .number {
            font-weight: 700; color: #01012A; font-size: 12px; border: 1px solid #E0DBEE; @include inline-flex; @include align-items(center); @include justify-content(center); max-width: 24px; min-width: 24px; min-height: 24px; @include border-radius(50%);
            &.gradient-bg {
                background: url(../images/number-list-bg.png) no-repeat center center; background-size: cover; border-color: transparent; color: #ffffff;
            }
        }
        .username {
            @include inline-flex; @include align-items(center);
            .user-img {
                max-width: 40px; min-width: 40px; min-height: 40px; @include border-radius(8px); overflow: hidden; line-height: 0.7; margin-right: 12px;
                img {
                    width: 100%;
                }
            }
            .name {
                font-weight: 700; color: #01012A;
            }
            @media(max-width: 575px) {
                margin-bottom: 10px;
            }
        }
    }
}