.resources {
    .resources-container {
        position: relative;
        padding-top: 250px;
        padding-bottom: 70px;
        z-index: 3;

        @media (max-width: 992px) {
            padding-top: 180px;
            overflow: hidden;
        }
        @media (max-width: 767px) {
            padding-top: 150px;
        }

        &::before {
            content: '';
            background: url(../images/circle-img-9.png) no-repeat center left;
            background-size: contain;
            width: 40px;
            height: 100px;
            display: block;
            position: absolute;
            z-index: -1;
            top: 150px;
            left: 0;

            @media (max-width: 992px) {
                top: 275px;
                height: 60px;
            }
        }

        &::after {
            content: '';
            background: url(../images/circle-img-10.png) no-repeat center right;
            background-size: contain;
            width: 110px;
            height: 130px;
            display: block;
            position: absolute;
            z-index: -1;
            top: 205px;
            right: 0;

            @media (max-width: 992px) {
                top: 160px;
                right: -20px;
                width: 55px;
                height: 50px;
            }
        }

        .section-title {
            margin-bottom: 50px;

            @media (max-width: 992px) {
                text-align: center;
            }

            h1,
            h2 {
                background: linear-gradient(90deg, rgba(104, 75, 254, 1) 8.97%, rgba(225, 120, 231, 1) 75.42%, rgba(5, 229, 173, 1) 100.1%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-bottom: 10px;
            }

            .sort-info {
                color: rgba(#01012A, 0.6);
            }
        }
    }

    .resources-content-wrapper {
        display: grid;
        grid-template-columns: 280px auto;

        @media (max-width: 992px) {
            grid-template-columns: 100%;
        }

    }

    .resources-filter-panel {
        @media (min-width: 992px) {
            position: sticky;
            top: 120px;
            align-self: start;
        }

        .section-title {
            display: none;

            @media (max-width: 992px) {
                display: block;
            }
        }

        label {
            font-weight: 700;
            font-size: 18px;
            color: #01012A;
            margin-bottom: 15px;
            display: block;
        }

        .post-search {
            width: 100%;
            @include border-radius(12px);
            border-color: #DFDFE4;
            height: 48px;

            input[type='search'] {
                width: 100%;
                padding: 15px 50px 15px 15px;
                font-size: 16px;
                cursor: initial;
                height: 48px;

                &::placeholder {
                    color: rgba(#01012A, 0.6);
                }
            }

            .q-search {
                background-color: transparent;
                border-color: transparent;
                width: 48px;
                height: 48px;
            }
        }

        .nav-filter {
            margin: 0;
            padding: 0;

            li {
                line-height: 1.5;
                padding: 5px 0;

                a {
                    color: rgba(#01012A, 0.6);
                    @include flexbox;
                    @include align-items(flex-start);
                    font-size: 16px;


                    .check {
                        width: 18px;
                        height: 18px;
                        @include border-radius(4px);
                        border: 1px solid #cbcbd2;
                        display: inline-block;
                        margin-right: 12px;
                        flex: none;
                        margin-top: 3px;
                    }

                    &:hover,
                    &:focus {
                        color: #684BFE;
                    }
                }

                &.active {
                    a {
                        color: #01012A;

                        .check {
                            background: #684BFE url(../icons/icon-check.svg) no-repeat center center;
                            background-size: 12px;
                            border-color: #684BFE;
                        }
                    }
                }
            }
        }

        .clear-filter-action {
            padding-top: 20px;
        }

        .clear-filter-btn {
            font-size: 16px;
            font-weight: 700;
            text-decoration-line: underline;
            color: #684BFE;
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            @include transition(0.3s, ease-in-out);

            &:hover,
            &:focus {
                color: #01012A;
                text-decoration: none;
            }
        }

        .collapse-item-block {
            margin-top: 50px;

            .collapse-header {
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                border-bottom: 1px solid #E5E3F2;
                padding-bottom: 16px;
                cursor: pointer;
                &:hover, &:focus {
                    label {
                        color: #684BFE;
                    }
                }
                &.active {
                    .collapse-action {
                        @include transform(rotate(0deg));
                    }
                }

                label {
                    margin-bottom: 0; @include transition(0.2s, ease-in-out);
                }

                .collapse-action {
                    width: 20px;
                    height: 20px;
                    border: none; 
                    padding: 0; 
                    background: transparent;
                    cursor: pointer;
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    @include transform(rotate(180deg));
                    @include transition(0.3s, ease-in-out);

                    .icon-arrow {
                        background: url(../icons/chev-down-black.svg) no-repeat center center;
                        background-size: contain;
                        display: inline-block;
                        width: 12px;
                        height: 10px;
                    }
                }
            }

            .collapse-body {
                padding-top: 25px;
                padding-bottom: 40px;
                border-bottom: 1px solid #E5E3F2;
                height: calc(100vh - 370px);
                overflow: hidden;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    background-color: transparent;
                    width: 6px;
                    height: 6px;
                    border-radius: 16px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #9898aa;
                    border-radius: 16px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #eeeeee;
                }
            }
        }
    }

    .resources-content-block {
        margin-left: 150px;

        @media (max-width: 1200px) {
            margin-left: 80px;
        }

        @media (max-width: 992px) {
            margin-left: 0px;
            margin-top: 80px;
        }

        .section-title {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    .resource-archive-list {
        .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 55px 40px;
            padding: 0;
            margin: 0px;

            @media (max-width: 767px) {
                gap: 40px;
            }

            @media (max-width: 575px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .pagination {
        margin-top: 80px;

        @media (max-width: 767px) {
            margin-top: 40px;
        }

        ul {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            padding: 0;

            li {
                line-height: 0.7;
                margin: 0 3px;
                @include border-radius(40px);

                a {
                    width: 40px;
                    height: 40px;
                    @include border-radius(40px);
                    border: 1px solid #EBEAF1;
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    font-size: 16px;
                    color: rgba(#01012A, 0.6);
                    @include transition(0.3s, ease-in-out);
                    flex: none;

                    &.page-link-previous {
                        min-width: 40px;
                        min-height: 40px;
                        border-color: rgba(242, 240, 255, 1);
                        background: rgba(242, 240, 255, 1);
                        width: 7px;
                        margin-right: 25px;

                        .icon-arrow-left {
                            background: url(../icons/icon-arrow-left.svg) no-repeat center center;
                            width: 7px;
                            height: 12px;
                            display: inline-block;
                            background-size: contain;
                        }

                        @media (max-width: 575px) {
                            margin-right: 15px;
                        }
                    }

                    &.page-link-next {
                        border-color: rgba(242, 240, 255, 1);
                        background: rgba(242, 240, 255, 1);
                        width: 7px;
                        margin-left: 25px;
                        min-width: 40px;
                        min-height: 40px;

                        @media (max-width: 575px) {
                            margin-left: 15px;
                        }

                        .icon-arrow-right {
                            background: url(../icons/icon-arrow-right.svg) no-repeat center center;
                            width: 7px;
                            height: 12px;
                            display: inline-block;
                            background-size: contain;
                        }
                    }
                }

                &.active {
                    a {
                        font-weight: 700;
                        color: #01012A;
                        border-color: #684BFE;
                    }
                }

                &:hover,
                &:focus {
                    a {
                        background: rgba(242, 240, 255, 1);
                        border-color: rgba(242, 240, 255, 1);
                    }
                }
            }
        }
    }
    .resources-details-section {
        padding: 230px 0 100px;
        .section-title {
            max-width: 475px;
            h1 {
                margin-bottom: 25px;
            }
            .btn {
                text-transform: uppercase; margin-top: 10px;
            }
        }
        .image-block {
            img {
                width: 100%;
            }
        }
    }
}