.page-generate-tests {
    background-color: #fff!important;
}
.page-generate-tests .generate-tests-hero {
    background-color: transparent; background-image: linear-gradient(118.6deg, rgba(10, 6, 60, 0.5) 16.04%, rgba(38, 29, 166, 0.0094955) 63.38%), linear-gradient(92.2deg, rgba(26, 18, 126, 0.5) 21.31%, rgba(39, 29, 168, 0) 64.89%), url(../images/generate-test-hero-bg.svg); background-repeat: no-repeat; background-size: contain; background-position: right bottom; padding-bottom: 0; z-index: unset;
    @media (max-width: 767px) {
        background-size: cover;
    }
    &::before {
        content: ''; background: #01012A; width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; z-index: -1;
    }
    .section-title {
        padding: 100px 0 120px; 
        @media (max-width: 992px) {
            padding: 150px 0 80px;
        }
        @media (max-width: 992px) {
            padding: 150px 0 80px;
        }
        @media (max-width: 767px) {
            padding: 120px 0 50px;
        }
        .sort-info {
            margin-bottom: 0;
            > * {
                color: rgba(255, 255, 255, 0.8) !important; font-size: 18px; font-weight: 400;
            }
        }
    }
    @media (max-width: 767px) {
        .card-img-block {
            @include flex-direction(column);
        }
    }
}
.btn-section {
    padding: 70px 0;
    @media (max-width: 992px) {
        padding: 50px 0;
    }
}

.btn-group {
    @include flexbox; @include align-items(center); @include justify-content(center);
    @media (max-width: 767px) {
        @include flex-wrap(wrap);
    }
    .btn {
        background: #F5F3FF; border: 1px solid #EDEDED; border-radius: 8px; height: 64px; margin: 10px; width: 100%; @include inline-flex; @include align-items(center); @include justify-content(center); font-weight: 700; font-size: 18px; color: #01012A; @include transition(0.3s, ease-in-out); text-align: center; white-space: nowrap;
        &:hover, &:focus, &.btn-active {
            background: #5A3EEC; border-color: #5A3EEC; color: #ffffff;
        }
        @media (max-width: 992px) {
            height: 55px; margin: 8px 5px; font-size: 16px; padding: 10px 5px;
        }
        @media (max-width: 767px) {
            font-size: 14px; height: 45px; max-width: 220px;
        }
        @media (max-width: 575px) {
            max-width: 100%;
        }
    }
}

.getting-started-section {
    .section-title {
        h2 {
            color: #01012A;
        }
        .sort-info {
            color: rgba(#01012A, 0.6); font-size: 18px;
        }
    }
}

.getting-started-block {
    padding-top: 120px; position: relative;
    @media (max-width: 992px) {
        padding-top: 70px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
    }
    &::before {
        content: ''; height: 100%; width: 1px; background: #EDEAFE; display: block; position: absolute; top: 140px; left: 23px; display: block;
        @media (max-width: 992px) {
            top: 105px; left: 18px;
        }
        @media (max-width: 767px) {
            top: 75px; left: 14px; height: 114%;
        }
    }
    &:last-child {
        &::before {
            content: none;
        }
    }
}

.code-content-block {
    display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 30px; margin-left: 98px; 
    @media (max-width: 992px) {
        margin-left: 63px; grid-gap: 15px;
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr); margin-left: 43px;
    }
}

.number-with-heading {
    @include flexbox; @include align-items(center); margin-bottom: 30px;
    .number {
        width: 48px; height: 48px; min-width: 48px; min-height: 48px; background: #5C40F9; box-shadow: inset -21.4843px 14.3229px 21.4843px -7.16144px #05E5AD, inset 2.68554px -6.26626px 7.16144px rgba(255, 107, 156, 0.5); @include inline-flex; @include align-items(center); @include justify-content(center); @include border-radius(50%); overflow: hidden; position: relative; z-index: 1; margin-right: 50px; color: #FFFFFF; font-weight: 700; font-size: 24px;
        @media (max-width: 992px) {
            width: 38px; height: 38px; min-width: 38px; min-height: 38px; font-size: 18px; margin-right: 25px;
        }
        @media (max-width: 767px) {
            width: 28px; height: 28px; min-width: 28px; min-height: 28px; font-size: 16px; margin-right: 15px;
        }
        &::after {
            content: ''; background: url(../images/circle-bg.svg) no-repeat center center;  background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; @include border-radius(50%); mix-blend-mode: overlay; filter: blur(0.44759px); @include transform(rotate(90deg)); z-index: -1;
        }
    }
    h3 {
        color: #01012A; letter-spacing: 0.01em; font-weight: 700; font-size: 28px; margin-bottom: 5px;
        @media (max-width: 992px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    .sort-info {
        color: rgba(#01012A, 0.6); font-size: 18px; max-width: 1000px;
        @media (max-width: 992px) {
            font-size: 16px;
        } 
        @media (max-width: 767px) {
            font-size: 14px;
        } 
        span {
            color: #684BFE;
        }
    }
}

.code-block {
    position: relative; padding-top: 40px; 
    @media (max-width: 575px) {
        padding-top: 25px;
    } 
    .title {
        background: #010121; color: #ffffff; font-weight: 700; font-size: 18px; letter-spacing: 0.01em; padding: 17px 36px 0; @include border-radius(20px 0 0 0); position: absolute; top: 0px; height: 40px;
        @media (max-width: 992px) {
            font-size: 16px; padding: 17px 35px 0 25px;
        } 
        @media (max-width: 575px) {
            font-size: 14px; padding: 10px 25px 0 15px; height: 25px;
        } 
        &:after {
            content: ''; position: absolute; display: block; top: 0; left: calc(100% - 40px); border-bottom: 40px solid #010121; border-left: 40px solid transparent; border-right: 40px solid transparent;
            @media (max-width: 575px) {
                left: calc(100% - 25px); border-bottom: 25px solid #010121; border-left: 25px solid transparent; border-right: 25px solid transparent;
            }
        }
    }
    .content-info {
        background: #010121; padding: 45px 35px 35px; @include border-radius(0 20px 20px 20px); height: 100%;
        @media (max-width: 992px) {
            font-size: 16px; padding: 35px 25px 25px;
        } 
        @media (max-width: 575px) {
            font-size: 14px; padding: 25px 15px 15px;
        } 
        code {
            color: #4b769e; font-size: 18px;
            @media (max-width: 992px) {
                font-size: 16px;
            } 
            @media (max-width: 767px) {
                font-size: 14px;
            } 
            span {
                color: #b3b99a;
            }
        }
    }
}

.note-block {
    margin-top: 50px; margin-left: 98px; @include flexbox;
    @media (max-width: 767px) {
        margin-left: 0px;
    }  
    .title {
        @include inline-flex; margin-right: 30px; font-weight: 700; font-size: 18px;
        @media (max-width: 992px) {
            font-size: 16px; margin-right: 20px;
        } 
        @media (max-width: 767px) {
            font-size: 14px;
        } 
        .icon-information {
            background: url(../icons/icon-information.svg) no-repeat center center; background-size: contain; width: 20px; height: 20px; display: inline-block; margin-right: 8px;
            @media (max-width: 992px) {
                width: 15px; height: 15px; margin-top: 2px;
            } 
        }
    }
    .sort-info {
        font-weight: 400; font-size: 18px; color: #67677F;
        @media (max-width: 992px) {
            font-size: 16px;
        } 
        @media (max-width: 767px) {
            font-size: 14px;
        } 
    }
}