// Comparsion Page
.cms-page-header.comparsion-page-header {
    background: url(../images/circle-img-11.png) no-repeat left 35%;
    background-size: 70px; 
    position: relative;
    padding: 160px 0 50px;
    @media (max-width: 992px) {
        padding: 100px 0 0px;
    }
    &::after {
        content: '';
        background: url(../images/circle-img-13.png) no-repeat center;
        width: 130px;
        height: 250px;
        display: block;
        background-size: contain;
        position: absolute;
        bottom: -100px;
        right: 0px;
    }
    .section-title {
        padding-bottom: 0px !important;
        border-bottom: 0px !important;
    }
}

.cms-page-header.comparsion-page-vector {
    background-image: url(../images/circle-img-17.png), url(../images/half-circle-vector.png) !important;
    background-size: 320px, 93px;
    background-repeat: no-repeat;
    background-position: bottom left, right 70%;
    position: relative;
    padding-bottom: 100px;
    overflow: unset;
    z-index: 2;
    &::before, &::after {
        content: none;
    }
    @media (max-width: 1200px) {
        background-size: 250px, 70px;
        background-position: center left, right 70%;
    }
    @media (max-width: 767px) {
        background-image: url(../images/circle-img-9.png), url(../images/half-circle-vector.png) !important;
        background-size: 50px, 50px;
        padding-bottom: 50px;
        background-position: left 30%, right 70%;
    }
    .star-vector {
        background-image: url(../images/star-vector.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 72px;
        height: 72px;
        flex: none;
        top: -70px;
        margin-left: 80px;
        @media (max-width: 1200px) {
            top: -50px;
            width: 52px;
            height: 52px;
        }
        @media (max-width: 767px) {
            width: 32px;
            height: 32px;
            margin-left: 50px;
        }
        @media (max-width: 575px) {
            margin-left: -10px;
            top: -30px;
        }
    }
    .emoji-vector {
        background-image: url(../images/emoji-vector.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 170px;
        height: 170px;
        flex: none;
        margin-top: 50px;
        margin-left: 200px;
        @media (max-width: 1200px) {            
            width: 120px;
            height: 120px;
            margin-left: 60px;
            margin-top: 30px;
        }
        @media (max-width: 767px) {
            width: 70px;
            height: 70px;
        }
        @media (max-width: 575px) {
            margin-left: -40px;
           
        }
    }
}
body .main-section.comparsion-left-vector {
    background-image: url(../images/circle-img-12.png);
    background-position: -9% top;
    background-repeat: no-repeat;
    background-size: 320px;
    @media (max-width: 1200px) {
        background-size: 250px;
        background-position: -7% top;
    }
    @media (max-width: 767px) {
        background-size: 150px;
        background-position: -15% top;
    }
}
.comparsion-page {
    .section-title {
        &.mw-920 {
            max-width: 920px;
            margin: 0 auto;
        }
        &.mb-80 {
            margin-bottom: 80px;
            @media (max-width: 767px) {
                margin-bottom: 50px;
            }
        }
        .sort-info {
            p {
                color: rgba(#01012A, 0.6);
                // font-size: 18px;
            }
        }
    }
    .two-content-section {
        .section-title {
            &.mr-100 {
                margin-right: 100px;
                @media (max-width: 992px) {
                    margin-right: 0;
                }
            }
            h3 {
                font-size: 30px;
                @media (max-width: 992px) {
                    font-size: 22px;
                }
            }
            .sort-info {
                p {
                    color: rgba(#01012A, 0.6);
                    // font-size: 18px;
                }
            }
        }
        @media (max-width: 992px) {
            .two-content-block {
                gap: 30px;
                grid-template-columns: repeat(2, 1fr) !important;
                &.col-md-50 {
                    grid-template-columns: repeat(1, 1fr) !important;
                }
            }
        }
        @media (max-width: 767px) {
            .two-content-block {
                gap: 30px;
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
    .bg-gradient {
        background: linear-gradient(183deg, #C3B9FF -84.31%, rgba(200, 191, 255, 0.92) -66.55%, rgba(255, 255, 255, 0.00) 57.77%);
        position: relative;
        &::before {
            content: '';
            background: url(../images/circle-img-1.png) no-repeat center;
            width: 130px;
            height: 110px;
            display: block;
            background-size: contain;
            position: absolute;
            top: -60px;
            left: -60px;
            @media (max-width: 767px) {
                width: 70px;
                height: 60px;
                top: -30px;
                left: -30px;
            }
        }
    }
}

.main-section.collapse-section {
    background: #050433 !important;
    background-image: url(../images/subscribe-bg.png) !important;
    background-repeat: no-repeat !important;
    background-position: 102% 18% !important;
    background-size: 200px !important;
    @media (max-width: 992px) {
        background-size: 150px !important;
        background-position: 102% 180px !important;
    }
    @media (max-width: 767px) {
        background-position: 102% 220px !important;
    }
    @media (max-width: 575px) {
        background-position: 102% 350px !important;
    }
}

.collapse-section {
    &.d-md-none {
        @media (min-width: 767px) {
            display: none !important;
        }
    }
    .section-title {
        max-width: 850px;
        margin: 0 auto;
        margin-bottom: 80px !important;
        @media (max-width: 992px) {
            margin-bottom: 50px !important;
        }
        .sort-info p {
            color: rgba(#FFFFFF, 0.6) !important                                                ;
            // font-size: 18px;
        }
    }
    ul.faq {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexbox;
        @include flex-direction(column);
        gap: 20px;
        @include mobile {
            gap: 15px;
        }
        > li {            
            position: relative;
            box-sizing: border-box;
            color: #FFF;
            background: rgba(#01012A, 0.7);
            background-clip: padding-box;
            border: 2px solid transparent;
            @include border-radius(12px);
           
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -2px;
                background: linear-gradient(23deg, rgba(1,1,42,0.4) 0%, rgba(99, 72, 254, 0.1) 100%),linear-gradient(103deg, rgba(255,255,255,0.25) 14.08%, rgba(255,255,255,0.1) 101.19%);               
                background-blend-mode: overlay, normal, normal;
                backdrop-filter: blur(35px);
                @include border-radius(12px);
            }
            
            .question {
                cursor: pointer;
                @include flexbox;
                @include align-items(baseline);
                @include justify-content(space-between);
                text-align: start;
                padding: 20px 25px;
                @include mobile {
                    padding: 15px;
                }
                h3 {
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: 400; 
                    line-height: 1.3;
                    @include mobile {
                        font-size: 18px;
                    }     
                }
                .title-icon {
                    width: 18px;
                    height: 18px;
                    flex: none;
                    @include flexbox;
                    @include align-items(center);
                }
            }
            .answer {
                display: none;
                position: relative;
                text-align: left;
                font-size: 16px;
                color: rgba(#FFFFFF, 0.6);
                // margin: 15px 0 0;
                // max-width: 570px;
                margin: 0px;

                padding: 0px 55px 20px 20px;
                @include mobile {
                    padding:0px 15px 15px;
                }
            }

            &.active {
                &::before {
                    background: linear-gradient(23deg, rgba(1,1,42,0.4) 0%, rgba(99, 72, 254, 0.1) 100%),linear-gradient(103deg, rgba(255,255,255,0.35) 14.08%, rgba(255,255,255,0.1) 101.19%);   
                }  
            }
            &:hover:not(.active) {
                .question {
                    h3 {opacity: 0.8;}
                }
            }
        }
        &.style-2 {
            gap: 0;
            > li {
                background: transparent;
                @include border-radius(0);
                border-bottom: 1px solid rgba(#FFFFFF, 0.15);
                padding: 30px 0 0;
                &:first-child {
                    padding: 0;
                }
                @media (max-width: 420px) {
                    padding: 20px 0 0;
                }
                &::before {
                    content: none;
                }
                .question {
                    padding: 0px 0px 30px;
                    @media (max-width: 420px) {
                        padding: 0px 0px 20px;
                    }
                    h3 {
                        color: rgba(#fff, 0.5);
                    }
                    .title-icon {
                        width: 18px;
                        height: 18px;
                        opacity: 0;
                        visibility: hidden;
                        margin-left: 15px;
                        @include transition(0.3s, ease-in-out);
                        img {
                            transform: scale(1) !important;
                        }
                    }
                }
                .answer {
                    max-width: 100%;
                    margin-top: 0;
                    padding: 0px !important;
                }
                &.active {
                    .question {
                        h3 {
                            color: rgba(#fff, 1);
                            font-weight: 700;
                        }
                    }
                    .answer {
                        display: block;
                    }
                }
                &:hover, &.active {
                    .title-icon { 
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    ul.toggle-img-faq {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexbox;
        @include flex-direction(column);
        gap: 20px;
        @include mobile {
            gap: 15px;
        }
        > li {            
            position: relative;
            box-sizing: border-box;
            color: #FFF;
            background: rgba(#01012A, 0.7);
            background-clip: padding-box;
            border: 2px solid transparent;
            @include border-radius(12px);           
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -2px;
                background: linear-gradient(23deg, rgba(1,1,42,0.4) 0%, rgba(99, 72, 254, 0.1) 100%),linear-gradient(103deg, rgba(255,255,255,0.25) 14.08%, rgba(255,255,255,0.1) 101.19%);               
                background-blend-mode: overlay, normal, normal;
                backdrop-filter: blur(35px);
                @include border-radius(12px);
            }
            
            .question {
                cursor: pointer;
                @include flexbox;
                @include align-items(baseline);
                @include justify-content(space-between);
                text-align: start;
                padding: 20px 25px;
                @include mobile {
                    padding: 15px;
                }
                h3 {
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: 400; 
                    line-height: 1.3;
                    @include mobile {
                        font-size: 18px;
                    }     
                }
                .title-icon {
                    width: 18px;
                    height: 18px;
                    flex: none;
                    @include flexbox;
                    @include align-items(center);
                }
            }
            .answer {
                display: none;
                position: relative;
                text-align: left;
                font-size: 16px;
                color: rgba(#FFFFFF, 0.6);
                // margin: 15px 0 0;
                // max-width: 570px;
                margin: 0px;
                padding: 0px 55px 20px 20px;
                line-height: 1.5;
                @include mobile {
                    padding:0px 15px 15px;
                }
                .img-block {
                    display: none;
                    @media (max-width: 767px) {
                        display: block;
                    }
                }
            }

            &.active {
                &::before {
                    background: linear-gradient(23deg, rgba(1,1,42,0.4) 0%, rgba(99, 72, 254, 0.1) 100%),linear-gradient(103deg, rgba(255,255,255,0.35) 14.08%, rgba(255,255,255,0.1) 101.19%);   
                }  
            }
            &:hover:not(.active) {
                .question {
                    h3 {opacity: 0.8;}
                }
            }
        }
    }
}
.main-section.tab-section {
    background-image: none !important;
    &::before {
        content: '';
        background: url(../images/circle-img-16.png) no-repeat center;
        background-size: contain;
        width: 275px;
        height: 300px;
        display: block;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        @media (max-width: 992px) {
            width: 200px;
            height: 215px;
            top: 70px;
        }
        @media (max-width: 767px) {
            z-index: -1;
            top: 200px;
            width: 150px;
            height: 165px;
        }
    }
}
.h-100 {
    height: 100%;
}
.tab-nav {
    height: 100%;
    @include flexbox;
    @include align-items(center);
    width: 100%;
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        @media (min-width: 1200px) {
            margin-right: 80px;
        }
        li {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            position: relative;
            padding: 30px 0;
            cursor: pointer;
            &:first-child {
                padding-top: 0;
            }
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: rgba(#fff, 0.15);
                position: absolute;
                left: 0;
                bottom: 0;
            }
            h3 {
                font-size: 22px;
                color: rgba(#fff, 0.5) !important;
                font-weight: 400;
            }
            .title-icon {
                width: 16px;
                height: 16px;
                flex: none;                
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include transform(rotate(270deg));
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s, ease-in-out);
                margin-left: 15px;
            }
            &.active {
                &:after {
                    background: linear-gradient(270deg, #44407C 27.05%, #BCB2F6 83.6%);
                }
                h3 {
                    color: #fff !important;
                    font-weight: 700;
                }
            }
            &:hover, &.active {
                h3 {
                    color: #fff !important;
                }
                .title-icon { 
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.tab-content-box {
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: rgba(#01012A, 0.7);
    background-clip: padding-box;
    border: 2px solid transparent;
    @include border-radius(12px);
    padding: 60px;
    min-height: 410px;
    @include flexbox;
    @include align-items(flex-start);
    @include flex-direction(column);
    @media (max-width: 1200px) {
        padding: 40px;  
    }
    @media (max-width: 992px) {
        min-height: 465px;  
    }
    @media (max-width: 767px) {
        padding: 30px;  
        min-height: auto;
        margin-bottom: 30px;
    }
    @media (max-width: 420px) {
        padding: 20px;  
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        background: linear-gradient(23deg, rgba(1,1,42,0.4) 0%, rgba(99, 72, 254, 0.1) 100%),linear-gradient(103deg, rgba(255,255,255,0.25) 14.08%, rgba(255,255,255,0.1) 101.19%);               
        background-blend-mode: overlay, normal, normal;
        backdrop-filter: blur(35px);
        @include border-radius(12px);
    }
    .content {
        display: none;
        &.active {
            display: block;
        }
    }
    .title {
        font-size: 32px;
        margin-bottom: 25px;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
    .sort-info {
        p {
            display: block;
            color: rgba(#FFFFFF, 0.6);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.bg-gradient-content-section {
    background: url(../images/bg-gradient-content-block.png) no-repeat center bottom;
    background-size: 100% 100% !important;
    padding: 180px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media (max-width: 992px) {
        padding: 120px 0;
    }
    @media (max-width: 767px) {
        padding: 80px 0;
        background: url(../images/bg-gradient-content-block-m.png) no-repeat left bottom;
    }
    &::before {
        content: '';
        position: absolute;
        top: 150px;
        left: 115px;
        width: 85px;
        height: 85px;
        display: block;
        background: url(../images/circle-img-14.png) no-repeat center;
        background-size: contain !important;
        z-index: -1;
        @media (max-width: 992px) {
            top: 100px;
            left: 75px;
        }
        @media (max-width: 767px) {
            top: 40px;
            left: -30px;
            width: 60px;
            height: 60px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 80px;
        right: 90px;
        width: 120px;
        height: 85px;
        display: block;
        background: url(../images/circle-img-1.png) no-repeat center;
        background-size: contain !important;
        z-index: -1;
        @media (max-width: 992px) {
            bottom: 50px;
            right: 50px;
        }
        @media (max-width: 767px) {
            bottom: 30px;
            right: -70px;
        }
    }
    &.outside-vector {
        &::before {
            top: 50px;
            left: -70px;
            width: 185px;
            height: 135px;
            background: url(../images/circle-img-9.svg) no-repeat center;
            @media (max-width: 992px) {
                width: 100px;
                height: 85px;
                left: -50px;
                top: 30px;
            }
        }
        &::after {
            bottom: 0px;
            right: 0px;
            width: 130px;
            height: 155px;
            background: url(../images/circle-img-15.png) no-repeat center;            
            @media (max-width: 992px) {
                width: 70px;
                height: 85px;
            }
        }
    }
    .section-title {
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
        .sort-info {
            color: rgba(#01012A, 0.6);
            font-size: 18px;
        }
    }
}
.border-boxes-block {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .border-box {
        @include border-radius(12px);
        border: 1px solid #EDEDED;
        background: #FFF;
        padding: 30px;
        @media (max-width: 767px) {
            padding: 20px;
        }
        h4 {
            font-size: 22px;
            color: #684BFE;
            margin-bottom: 15px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
        .sort-info {
            p {
                color: rgba(#01012A, 0.6);
                font-size: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.features-section {
    .container {padding: 0px !important;}
    .features-header-block {
        grid-template-columns: 180px 1fr 1fr;
        gap: 15px;
        display: grid;
        @media (max-width: 767px) {
            display: none;
        }
        & :nth-child(3) {
            background-color: #FAFAFA;
        }
        & :nth-child(2) {
            background-color: #F8F6FF;
        }
    }
    .features-card-header {
        padding: 30px 30px;
        border-bottom: 1px solid #E9E6FA;
        text-align: center;        
        margin-bottom: -1px;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include border-radius(18px 18px 0 0);
        img {
            width: 155px;
        }
        @media (max-width: 767px) {
            border-bottom: none;
        }
    }
    .features-content {
        grid-template-columns: 180px 1fr 1fr;
        display: grid;
        border-top: 1px solid #E9E6FA;
        gap: 15px;
        @media (max-width: 767px) {
            display: block;
            border: none;
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }    
        .table-list {
            padding: 24px 30px;
            color: #01012A;
            text-align: right;
            font-size: 20px;         
            @media (max-width: 767px) {
                text-align: left;
                font-size: 20px;
                padding: 10px 0px;
            }
    
            img {
                align-items: center;
            }
            p {
                margin-bottom: 0px;
            }    
        } 
        .table-detail-codium {
            background-color: #F8F6FF;
            padding: 24px 40px;
            font-size: 18px;    
            @media (max-width: 767px) {
                border-radius: 12px 12px 12px 12px;
                margin-bottom: 10px;
                padding: 24px 24px;
                font-size: 14px;
            }          
            p {
                color: #01012A99; 
                margin-bottom: 0px;
                strong {
                    color: #01012A;
                }
            }
        }    
        .table-detail-github {
            background-color: #FAFAFA;
            padding: 24px 40px;
            font-size: 18px;    
            @media (max-width: 767px) {
                border-radius: 12px 12px 12px 12px;
                padding: 24px 24px;
                font-size: 14px;
            }          
            p {
                color: #01012A99;
                margin-bottom: 0px;
                strong {
                    color: #01012A;
                }                
            }         
        }
        .end-info {
            padding: 40px 40px;
            @media (max-width: 767px) {
                padding: 24px 24px;
            }
            p {
                padding-bottom: 24px;
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
        }
        img {
            display: none;
            @media (max-width: 767px) {
                display: block;
                width: 112px;
                height: auto;
                padding: 0px 0px;
                align-items: center;
                margin: auto;
                margin-bottom: 20px;
            }
        }
    }
}

// Codium Alpha
.bg-gradient-section{
    background: #ffffff url(../images/bg-gradient-section.png) center center no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;

    @media (max-width:767px) {
        background: #ffffff;
    }

    .two-content-block  {
        @media (max-width: 992px){
            gap: 0px;
        }

        p{
            color: #67677e;
        }
    } 
    .section-title{
        h2{
            color: #000000; 
            text-align: left;
        }
    }
}

.icon-info-box-block{
    padding: 50px 0px;

    display: grid; grid-template-columns: repeat(3, 1fr); 
    grid-gap: 25px; 
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr); 
    }


    .icon-info-card{
        min-width: 210px;
        padding:50px 20px 40px;
        display: block;
        @media only screen and (min-width: 1024px) and (max-width: 1440px) {
            min-width: 170px;
            padding:30px 20px 30px;
        }
        @include mobile {
            padding:30px 15px 30px;
        }
        background: url(../images/alpha-card-bg.png) no-repeat center center;
        background-size: 100% 100%;
        text-align:center;
        .card-icon{
            display: inline-block;
            border-radius: 80px;
            height: 82px;
            margin-bottom:24px;
            // box-shadow:var(--box-shadow);
            @include transition(0.2s, ease-in-out);

            @media only screen and (min-width: 1024px) and (max-width: 1440px) {
            border-radius: 60;
            height: 62px;
            img {
                max-width: 60px;
            }
            }
            @include mobile {
            border-radius: 60;
            height: 62px;
            img {
                max-width: 60px;
            }
            }

            &.pink {
            box-shadow:-13px -10px 70px rgba(255, 107, 156, 0.45), -2.5px 4px 32px rgba(242, 136, 210, 0.57), inset 13px 13px 20px -6px #FF6B9C, inset 2px -6px 6px #C988FD;
            }
            &.green {
            box-shadow:0px 0px 11px #05E5AD, -2.5px 4px 39px rgba(97, 238, 247, 0.33), inset 2.5px -6.06111px 6px rgba(5, 229, 173, 0.7);
            }
            &.blue {
            box-shadow:-2px 4px 36px #7E5DFC, 0px 0px 11px #684BFE, inset 2.5px -6px 6px rgba(255, 107, 156, 0.5);
            }
            &.purple {
            box-shadow:-13px -10px 70px rgba(255, 107, 156, 0.45), -2.5px 4px 32px #5C40F9, inset 13px 13px 20px -6px #FF6B9C, inset 2.5px -6px 6px rgba(5, 229, 173, 0.7);
            }
            &.red {
            box-shadow:-13px -10px 70px rgba(255, 107, 156, 0.45), -2.5px 4px 32px rgba(242, 136, 210, 0.57), inset 13px 13px 20px -6px #FF6B9C, inset 2px -6px 6px #C988FD;
            }
        }
        .card-content{
            h3{
            color:#fff;
            font-size:18px;
            font-weight:bold;
            line-height:1.4;
            }
        }

        &:hover, &:focus {
            .card-icon {
            @include transform(scale(1.15));
            }
        }
    }
    a.icon-info-card {
    @include transition(0.2s, ease-in-out);
    &:hover, &:focus {
        @include opacity(0.8);
    }
    }
}  

.sub-img-block {
    position: relative;
    img {
        width: 100%;
    }
    .small-img {
        position: absolute;
        left: -10%;
        bottom: -10%;
        display: inline-block;
        img {
            max-width: 180px;
        }

        @media only screen and (min-width: 1024px) and (max-width: 1280px) {
            left: -5%;
            bottom: -15%;
        }

        @media (max-width: 1024px) {
            left: 50%;
            bottom: -10%;
            margin-left: -55px;
            img {
                max-width: 110px;
            }
        }
    }
    a.small-img {
        @include transition(0.2s, ease-in-out);
        @include transform(scale(1));
        &:hover, &:focus {
            @include transform(scale(1.05));
        }
    }
}