.resources-container {
    position: relative;
    padding-top: 22rem;
    padding-bottom: 50px;
    z-index: 3;

    @media (max-width: 992px) {
        padding-top: 15rem;
        overflow: hidden;
    }

    @media (max-width: 767px) {
        padding-top: 15rem;
    }

    &::before {
        content: '';
        background: url(../images/circle-img-9.png) no-repeat center left;
        background-size: contain;
        width: 40px;
        height: 100px;
        display: block;
        position: absolute;
        z-index: -1;
        top: 150px;
        left: 0;

        @media (max-width: 992px) {
            top: 275px;
            height: 60px;
        }
    }

    &::after {
        content: '';
        background: url(../images/circle-img-10.png) no-repeat center right;
        background-size: contain;
        width: 110px;
        height: 130px;
        display: block;
        position: absolute;
        z-index: -1;
        top: 205px;
        right: 0;

        @media (max-width: 992px) {
            top: 160px;
            right: -20px;
            width: 55px;
            height: 50px;
        }
    }

    .section-title {
        margin-bottom: 50px;

        @media (max-width: 992px) {
            text-align: center;
        }

        h1,
        h2 {
            background: linear-gradient(90deg, rgba(104, 75, 254, 1) 8.97%, rgba(225, 120, 231, 1) 75.42%, rgba(5, 229, 173, 1) 100.1%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 10px;
            display: inline-block;
        }

        .sort-info {
            color: rgba(#01012A, 0.6);
        }
    }
}

.resources-content-wrapper {
    display: grid;
    grid-template-columns: 280px auto;

    @media (max-width: 992px) {
        grid-template-columns: 100%;
    }

}

.resources-filter-panel {
    @media (min-width: 992px) {
        position: sticky;
        top: 120px;
        align-self: flex-start;
    }

    .section-title {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .label-title {
        font-weight: 700;
        font-size: 18px;
        color: #01012A;
        margin-bottom: 15px;
        display: block;
    }

    .post-search {
        width: 100%;
        @include border-radius(12px);
        border-color: #DFDFE4;
        height: 48px;

        input[type='search'] {
            width: 100%;
            padding: 15px 50px 15px 15px;
            font-size: 16px;
            cursor: initial;
            height: 48px;

            &::placeholder {
                color: rgba(#01012A, 0.6);
            }
        }

        .q-search {
            background-color: transparent;
            border-color: transparent;
            width: 48px;
            height: 48px;
        }

        .q-loader {
            .icw-loading {
                margin-top: 13px;
                margin-left: 6px;
            }
        }
    }

    .nav-filter {
        margin: 0;
        padding: 0;

        li {
            line-height: 1.5;
            padding: 5px 0;

            a {
                color: rgba(#01012A, 0.6);
                @include flexbox;
                @include align-items(flex-start);
                font-size: 16px;


                .check {
                    width: 18px;
                    height: 18px;
                    @include border-radius(4px);
                    border: 1px solid #cbcbd2;
                    display: inline-block;
                    margin-right: 12px;
                    flex: none;
                    margin-top: 3px;
                }

                &:hover,
                &:focus {
                    color: #684BFE;
                }
            }

            &.active {
                a {
                    color: #01012A;

                    .check {
                        background: #684BFE url(../icons/icon-check.svg) no-repeat center center;
                        background-size: 12px;
                        border-color: #684BFE;
                    }
                }
            }
        }
    }

    .clear-filter-action {
        padding-top: 20px;
    }

    .clear-filter-btn {
        font-size: 16px;
        font-weight: 700;
        text-decoration-line: underline;
        color: #684BFE;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        @include transition(0.3s, ease-in-out);
        text-underline-offset: 4px;

        &:hover,
        &:focus {
            color: #01012A;
            text-decoration: underline;
        }
    }

    .collapse-item-block {
        margin-top: 50px;

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        .collapse-header {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            border-bottom: 1px solid #E5E3F2;
            padding-bottom: 16px;

            // &:hover, &:focus {
            //     .label-title {
            //         color: #684BFE;
            //     }
            // }
            &.active {
                .collapse-action .icon-arrow {
                    @include transform(rotate(0deg));
                }
            }

            .label-title {
                margin-bottom: 0;
                @include transition(0.2s, ease-in-out);
            }

            .collapse-action {
                width: 20px;
                height: 20px;
                border: none;
                padding: 0;
                background: transparent;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                cursor: pointer;

                .icon-arrow {
                    background: url(../icons/chev-down-black.svg) no-repeat center center;
                    background-size: contain;
                    display: inline-block;
                    width: 12px;
                    height: 10px;
                    @include transform(rotate(180deg));
                    @include transition(0.3s, ease-in-out);
                }
            }
        }

        .collapse-body {
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #E5E3F2;
            max-height: calc(100vh - 370px);
            overflow: hidden;
            overflow-y: auto;
            min-height: 250px;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 6px;
                height: 6px;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #9898aa;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-track {
                background-color: #eeeeee;
            }
        }
    }
}

.resources-content-block {
    margin-left: 150px;

    @media (max-width: 1200px) {
        margin-left: 80px;
    }

    @media (max-width: 992px) {
        margin-left: 0px;
        margin-top: 40px;
    }

    .section-title {
        @media (max-width: 992px) {
            display: none;
        }
    }
}

.resource-archive-list {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 55px 40px;
        padding: 0;
        margin: 0px;

        @media (max-width: 767px) {
            gap: 40px;
        }

        @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

#main .pagination-pager {
    margin-top: 20px;


    @media (min-width: 576px) {
        margin-top: 40px;
        grid-column: 1 / span 2;

        &.pagination-pager-3 {
            grid-column: 1 / span 2;
        }
    }

    @media (min-width: 1024px) {
        &.pagination-pager-3 {
            grid-column: 1 / span 3;
        }
    }




    ul.icw-pagenavi-pager {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        padding: 0;
        list-style: none;

        li {
            line-height: 0.7;
            margin: 0 3px;
            @include border-radius(40px);
            list-style: none;

            .page-numbers {
                width: 40px;
                height: 40px;
                @include border-radius(40px);
                border: 1px solid #EBEAF1;

                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                font-size: 16px;
                color: rgba(#01012A, 0.6);
                @include transition(0.2s, ease-in-out);

                &.prev {
                    min-width: 40px;
                    min-height: 40px;
                    border-color: rgba(242, 240, 255, 1);
                    background: rgba(242, 240, 255, 1);
                    margin-right: 15px;

                    .icon-arrow-left {
                        background: url(../icons/icon-arrow-left.svg) no-repeat center center;
                        width: 7px;
                        height: 12px;
                        display: inline-block;
                        background-size: contain;
                        flex: none;
                    }

                    @media (max-width: 575px) {
                        margin-right: 15px;
                    }
                }

                &.next {
                    border-color: rgba(242, 240, 255, 1);
                    background: rgba(242, 240, 255, 1);
                    min-width: 40px;
                    min-height: 40px;
                    margin-left: 15px;


                    .icon-arrow-right {
                        background: url(../icons/icon-arrow-right.svg) no-repeat center center;
                        width: 7px;
                        height: 12px;
                        display: inline-block;
                        background-size: contain;
                        flex: none;
                    }
                }
            }

            &:hover,
            &:focus {
                .page-numbers:not(.current) {
                    background: rgba(242, 240, 255, 1);
                    border-color: #684BFE;
                }
            }

            .current {
                font-weight: 700;
                color: #01012A;
                border-color: #684BFE;
                cursor: default;
            }


        }
    }
}

// Details Post
.resources-details-section {
    padding: 22rem 0 80px;

    @media (max-width: 767px) {
        padding: 15rem 0 30px;
    }

    .resources-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        align-items: flex-start;

        @media (max-width:767px) {
            flex-direction: column-reverse;
            display: flex;
            gap: 40px;

            .left-content-block,
            .right-content-block {
                width: 100%;
            }
        }

        &.resources-full-row {
            grid-template-columns: 1fr !important;
            border-bottom: 1px solid #E9E6FA;

            @media(min-width: 992px) {
                padding: 0 100px 70px;
            }

            .resources-post-content {
                @media(min-width: 992px) {
                    max-width: 100%;
                }
            }
        }
    }

    &::before {
        content: '';
        background: url(../images/circle-img-11.png) no-repeat center left;
        background-size: contain;
        width: 70px;
        height: 90px;
        display: block;
        position: absolute;
        z-index: -1;
        top: 200px;
        left: 0;

        @media (max-width: 1200px) {
            top: 130px;
        }

        @media (max-width: 992px) {
            width: 50px;
            height: 50px;
            top: 120px;
        }

        @media (max-width: 767px) {
            top: 100px;
        }
    }

    &::after {
        content: '';
        background: url(../images/circle-img-12.png) no-repeat center right;
        background-size: contain;
        width: 326px;
        height: 239px;
        display: block;
        position: absolute;
        z-index: -1;
        top: 430px;
        right: 5%;

        @media (max-width: 1600px) {
            right: 0px;
        }

        @media (max-width: 1600px) {
            width: 220px;
            height: 160px;
            top: 400px;
        }

        @media (max-width: 992px) {
            width: 140px;
            height: 100px;
            top: 430px;
        }

        @media (max-width: 767px) {
            top: 360px;
        }
    }

    &.resources-bg-after {
        &::before {
            content: '';
            background: url(../images/circle-img-2.png) no-repeat center left;
            background-size: contain;
            width: 100px;
            height: 90px;
            display: block;
            position: absolute;
            z-index: -1;
            top: 700px;
            left: -30px;

            @media (max-width: 1200px) {
                top: 800px;
            }

            @media (max-width: 992px) {
                width: 70px;
                height: 70px;
                top: 750px;
            }
        }

        &::after {
            content: '';
            background: url(../images/circle-img-1.png) no-repeat 30px 0;
            background-size: contain;
            width: 150px;
            height: 125px;
            display: block;
            position: absolute;
            z-index: -1;
            top: 250px;
            right: 0px;

            @media (max-width: 1600px) {
                top: 150px;
            }

            @media (max-width: 992px) {
                width: 140px;
                height: 100px;
            }

            @media (max-width: 767px) {
                width: 120px;
                height: 80px;
                top: 20%;
            }
        }
    }

    .section-title {

        .resources-categories {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #684BFE;
            line-height: 1px;
            margin-bottom: 25px;

            a {
                color: #684BFE;

                &:hover,
                &:focus {
                    color: #684BFE;
                    text-decoration: underline !important;
                }
            }
        }

        h1 {
            margin-bottom: 25px;
        }

        .btn {
            text-transform: uppercase;
            margin-top: 10px;
        }
    }

    .resources-categories-link {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #01012A;
        line-height: 1px;
        margin-bottom: 25px;
        padding-top: 50px;

        a {
            color: #01012A !important;
            text-decoration: none !important;

            &:hover,
            &:focus {
                color: #684BFE !important;
                font-weight: 700;
                text-decoration: underline !important;
            }
        }
    }

    .resources-post-content {
        @media(min-width: 992px) {
            max-width: 620px;
        }
    }

    .hub-post-content {
        padding: 50px 0 20px;
        margin: 0px !important;
    }

    .content-block {
        margin-bottom: 30px;

        p {
            margin-bottom: 20px;
        }

        a:not(.btn) {
            color: #7962FE;
            text-decoration: underline;
            font-weight: 600;

            &:hover,
            &:focus {
                color: #000;
            }
        }

        blockquote {
            margin: 0px;
            padding: 0px;
            font-size: 22px;

            @media (max-width:991px) {
                font-size: 1.8rem;
            }
        }

        h2 {
            font-size: 28px;
            margin-bottom: 20px;
            padding-top: 30px;

            &:first-child {
                padding-top: 0px;
            }

            @media (max-width:991px) {
                font-size: 26px;
                margin-bottom: 15px;
                padding-top: 30px;
            }
        }

        h3 {
            font-size: 24px;
            margin-bottom: 20px;
            padding-top: 30px;

            @media (max-width:991px) {
                font-size: 22px;
                margin-bottom: 15px;
                padding-top: 30px;
            }
        }

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
            padding-top: 30px;

            @media (max-width:991px) {
                font-size: 18px;
                margin-bottom: 15px;
                padding-top: 30px;
            }
        }

        ul,
        ol {
            li {
                &>h3 {
                    font-size: 22px;
                    margin-bottom: 10px;
                    padding-top: 0px;

                    @media (max-width:991px) {
                        font-size: 20px;
                        margin-bottom: 10px;
                        padding-top: 0px;
                    }
                }

                &>h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    padding-top: 0px;

                    @media (max-width:991px) {
                        font-size: 18px;
                        margin-bottom: 10px;
                        padding-top: 0px;
                    }
                }
            }
        }

        ol {
            line-height: 1.5;
            padding: 0 0 0 18px;
            margin: 0 0 25px;
            list-style-type: decimal;

            @media (max-width:991px) {
                font-size: 1.6rem;
                margin-bottom: 15px;
            }

            li {
                margin-bottom: 20px;
                padding-left: 12px;
                position: relative;

                &::marker {
                    color: #7962FE;
                    font-weight: bold;
                }

                @media (max-width:991px) {
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        ul:not(.check-list) {
            line-height: 1.5;
            padding: 0;
            margin: 0 0 25px;

            @media (max-width:991px) {
                font-size: 1.6rem;
                margin-bottom: 15px;
            }

            li {
                margin-bottom: 20px;
                padding-left: 30px;
                position: relative;
                transition: all 0.2s ease-in-out;

                @media (max-width:991px) {
                    margin-bottom: 12px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 10px;
                    height: 10px;
                    background: #7962FE;
                    background-size: contain;
                    transition: all 0.2s ease-in-out;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;

                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width:600px) {

            img.alignright,
            img.alignleft {
                float: none !important;
                margin: 0 0 20px !important;
                width: 100%;
                display: block;
            }
        }
    }

    .resource-thumbnail-block {
        @include flexbox;
        @include align-items(center);
        height: 100%;
        width: 100%;
        @include border-radius(15px);
        @include transform(scale(1));
        @include transition(0.2s, ease);

        img {
            width: 100%;
            @include border-radius(15px);
        }

        // @media(max-width: 992px) {
        //    margin-top: 30px;
        // }
    }

    // Other resources
    .resource-more-articles {
        padding-top: 150px;
        padding-bottom: 50px;
        max-width: 100% !important;

        @media (max-width: 992px) {
            padding-top: 50px;
        }

        margin: 0px;
        gap:0px !important;

        .h3 {
            font-size: 32px;
            margin-bottom: 25px;

            @media (min-width: 768px) {
                font-size: 40px;
                line-height: 50px;
            }
        }

        .related-posts {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;

            @media (max-width: 992px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 25px;

                &.inline-on-mobile {
                    grid-template-columns: repeat(3, 1fr) !important;
                    overflow: auto;
                    scroll-snap-type: x mandatory;
                    margin-left: -15px;
                    margin-right: -15px;
                    gap: 15px;
                    padding: 0px 15px;

                    .resources-card {
                        width: calc(100vw - 50px);

                        @media (max-width: 992px) {
                            width: calc(50vw - 50px);
                        }

                        @media (max-width: 767px) {
                            width: calc(80vw - 50px);
                        }

                        @media (max-width: 575px) {
                            width: calc(100vw - 50px);
                        }

                        scroll-snap-align: 15px;
                        scroll-snap-stop: always;
                    }
                }
            }
        }
    }

    // Tips
    .back-action {
        margin-bottom: 50px;

        a {
            color: #8E8EA7;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            @include transition(0.2s, ease-in-out);

            .icon-arrow-left {
                display: inline-block;
                margin-right: 8px;
                @include transition(0.2s, ease-in-out);
            }

            &:hover,
            &:focus {
                color: #684BFE;
                text-decoration: underline;

                svg path {
                    stroke: #101413;
                }

                .icon-arrow-left {
                    @include transform(translateX(-5px))
                }
            }

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    &.resources-full-section {
        @media(min-width: 992px) {
            .back-action {
                padding: 0 100px;
            }
        }
    }
}


body .thumbnail-video {

    .resource-thumbnail-block {
        @include flexbox;
        @include align-items(center);
        height: 100%;
        width: 100%;
        @include border-radius(15px);
        @include transform(scale(1));
        @include transition(0.2s, ease);

        &::before {
            background: rgba(26, 21, 52, 0.2) !important;
        }

        img {
            width: 100%;
            vertical-align: bottom;
            @include border-radius(15px);
        }
    }

}

.resource-thumbnail-video,
.thumbnail-video {
    display: block;
    position: relative;

    .icon-play {
        background: url(../icons/icon-play.svg) no-repeat center center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        @include transform(translate(-50%, -50%) scale(1));
        @include transition(0.3s, ease-in-out);
        @include border-radius(50%);
        display: inline-block;
        flex: none;
        z-index: 2;
    }

    .resource-thumbnail-block {
        @include flexbox;
        @include align-items(center);
        height: 100%;
        width: 100%;
        @include border-radius(15px);
        @include transition(0.2s, ease);

        @include transform(scale(1));
        position: relative;
        background: #f3f3f3;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            // background: rgba(26, 21, 52, 0.4);
            background: rgba(26, 21, 52, 0.2) !important;
            @include border-radius(15px);
            z-index: 1;
        }

        img {
            width: 100%;
            vertical-align: bottom;
            @include border-radius(15px);
        }
    }

    &:hover,
    &:focus {
        .icon-play {
            @include box-shadow(0px 0px 20px 5px rgba(255, 255, 255, 0.3));
            @include transform(translate(-50%, -50%) scale(1.1));
        }

        .resource-thumbnail-block {
            @include transform(scale(1.02));
        }
    }
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    @include border-radius(15px);
    overflow: hidden;
    background-color: #01012A;

    iframe,
    .embed-responsive-item,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// DEVELOPERS-HUB
body.main--light-gradient-bg #main {
    background: linear-gradient(180deg, rgba(195, 185, 255, 0.2) 0%, rgba(200, 191, 255, 0.2) 10%, rgba(255, 255, 255, 0) 100%);
}

.icon-content-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.icon-content-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.icon-hub-box {
    .icon-box-content {
        display: flex;
        flex-direction: column;
        @include border-radius(16px);
        border: 1px solid transparent;
        background: #FFF;
        padding: 30px;
        height: 100%;

        .icon-img {
            min-width: 64px;
            max-width: 64px;
            min-height: 64px;
            max-height: 64px;
            background: url(../images/icon-bg.png) no-repeat center center;
            @include border-radius(50px);
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            margin-bottom: 25px;
            @include transition(0.3s, ease-in-out);
            overflow: hidden;

            img {
                max-height: 40px;
                min-height: 40px;
                flex: none;
            }

            @media (max-width: 767px) {
                min-width: 54px;
                max-width: 54px;
                min-height: 54px;
                max-height: 54px;

                img {
                    max-height: 30px;
                    min-height: 30px;
                }
            }
        }

        .title {
            font-size: 22px;
            color: #01012a;
            font-weight: 700;
            margin-bottom: 12px;
            @include transition(0.3s, ease-in-out);

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        .sort-info {
            color: rgba(#01012A, 0.6);
            font-size: 16px;
        }
    }

    a.icon-box-content {
        @include transition(0.2s, ease-in-out);

        &:hover,
        &:focus {
            border-color: #01012A;

            .icon-img {
                @include transform(scale(1.1));
            }
        }
    }

    &.left-icon-box {
        display: flex;
        // align-items: center;
        padding: 25px;
        border: 1px solid #EDEDED;

        .icon-img {
            max-width: 150px;
            min-width: 150px;
            margin-right: 50px;
            flex: none;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .sort-info {
            color: rgba(#01012A, 0.6);
            line-height: 1.5;

            @media (max-width: 767px) {
                margin-top: 15px;
            }
        }

        @media (max-width: 767px) {
            display: block;
            padding: 20px;

            .icon-img {
                margin-right: 0px;
            }
        }
    }

    &.top-icon-box {
        display: flex;
        // align-items: center;
        flex-direction: column;
        padding: 25px;
        border: 1px solid #EDEDED;

        h3 {
            margin-bottom: 25px;
            font-size: 1.8rem;
            background: rgba(250, 250, 255, 0.6);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }

        .icon-img {
            max-width: 150px;
            min-width: 150px;
            flex: none;
            margin-bottom: 20px;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .banner-img {
            flex: none;
            margin-bottom: 20px;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .sort-info {
            color: rgba(#01012A, 0.6);
            line-height: 1.5;

            @media (max-width: 767px) {
                margin-top: 15px;
            }
        }

        @media (max-width: 767px) {
            display: block;
            padding: 20px;

            .icon-img {
                margin-right: 0px;
            }
        }
    }

    .sort-info {
        ul:not(.check-list) {
            li {
                margin-bottom: 5px;
            }
        }
    }
}

@media (min-width: 1024px) {
    header.site-header {
        &.slideUp+main {
            .icon-hub-box {
                &.left-icon-box .icon-img {
                    position: sticky;
                    top: 90px;
                    height: fit-content;
                }

                &.top-icon-box h3 {
                    position: sticky;
                    top: 80px;
                }
            }
        }

        &.slideDown+main {
            .icon-hub-box {
                &.left-icon-box .icon-img {
                    position: sticky;
                    top: 130px;
                    height: fit-content;
                }

                &.top-icon-box h3 {
                    position: sticky;
                    top: 126px;
                }
            }
        }
    }
}

.icon-grid-lists {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);

    &.is-grid-5 {
        grid-template-columns: repeat(5, 1fr);

        @media (max-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 575px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.grid-full,
    &.grid-top-icon-banner,
    &.grid-top-icon {
        grid-template-columns: repeat(1, 1fr);
    }

}

.icon-border-box {
    padding: 20px;
    border: 1px solid #EDEDED;
    background: #FFF;
    color: #7962FE;
    @include border-radius(8px);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include transition(0.3s, ease-in-out);

    @media (max-width: 767px) {
        padding: 15px;
    }

    img {
        flex: none;
        max-height: 55px;
        @include transition(0.3s, ease-in-out);

        @media (max-width: 767px) {
            max-height: 40px;
        }
    }

    &:hover,
    &:focus {
        border-color: #01012A;

        img {
            @include transform(scale(1.05));
        }
    }
}

.progress-block {
    margin-bottom: 40px;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }

    .progress-content {
        display: inline-flex;
        align-items: center;
        margin-right: 45px;

        @media (max-width: 767px) {
            display: grid;
            grid-template-columns: 120px auto;
            margin-right: 0;
            margin-top: 20px;
        }

        &:last-child {
            margin-right: 0;
        }

        .progress-title {
            margin-right: 15px;
            font-size: 18px;
            color: rgba(#01012A, 0.6);
            width: 100%;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        .progerss {
            @include border-radius(40px);
            border: 1px solid #E6E2F4;
            display: inline-flex;
            align-items: center;
            padding: 8px 12px;
            width: fit-content;

            .progress-bar {
                height: 8px;
                display: inherit;

                svg {
                    @media (max-width: 767px) {
                        width: 75px;
                    }
                }

                &.high {
                    svg {
                        rect {
                            fill: #ff0000;
                        }
                    }
                }

                &.medium {
                    svg {
                        rect {
                            fill: #F97D0B;
                        }
                    }
                }

                &.low {
                    svg {
                        rect {
                            fill: #05E5AD;
                        }
                    }
                }
            }

            .level {
                font-size: 14px;
                font-weight: 700;
                color: #01012a;
                margin-left: 8px;
                text-transform: capitalize;
            }
        }
    }
}