.main-header {
    display: none;
}
.mw-300 {
    max-width: 300px;
    width: 100%;
}
.main-content-wrapper {
    margin-top: 0;
    .hero-header {
        padding: 50px 0;
    }
    .cta-with-bg {
        background: #0A1A44 url(../images/logo-white-bg.svg) no-repeat center bottom;
        padding: 70px 0;
        margin-top: 50px;
        &.no-bg-img {
            background: #0A1A44;
        }
        @media (max-width: 767px) { 
            padding: 50px 0;
        }
        .cta-block {
            margin-top: -120px;
            @media (max-width: 767px) { 
                margin-top: -90px;
            }
        }
    }
}
.header-section {
    background-color: #0A1A44;
    padding: 40px 0;
    .header-block {
        display: flex;
        align-items: center;
        .header-action {
            margin-left: auto;
            .btn {
                font-size: 30px;
                padding: 14px 25px 10px;
            }
        }
    }
    .logo-img {
        img {
            max-height: 70px;
        }
    }
    @media (max-width: 992px) {
        padding: 20px 0;
        .header-block {
            .header-action {
                .btn {
                    font-size: 20px;
                    padding: 14px 25px 10px;
                }
            }
        }
        .logo-img {
            img {
                max-height: 50px;
            }
        }
    }
    @media (max-width: 767px) {
        .header-block {
            .header-action {
                .btn {
                    font-size: 14px;
                    padding: 10px 10px 8px;
                }
            }
        }
        .logo-img {
            img {
                max-height: 30px;
            }
        }
    }
}
.hero-header {
    .section-title {
        @media (max-width: 992px) { 
            text-align: center;
        }
        h1 {
            font-size: 70px;
            letter-spacing: 2px;
            span {
                display: inline;
            }
            @media (max-width: 992px) { 
                font-size: 60px;
            }
            @media (max-width: 767px) { 
                font-size: 48px;
            }
        }
    }
    .image-block {
        img {
            max-width: 500px;
            width: 100%;
        }
        @media (max-width: 992px) { 
            margin-top: 30px;
            img {
                max-width: 400px;
            }
        }
    }
}
.main-section {
    .section-title {
        h2 {
            font-size: 64px;
            text-transform: uppercase;
            font-family: "Bebas Neue",sans-serif;
            margin-bottom: 10px;
            .text-green {
                color: #00C4CC;
            }
            @media (max-width: 992px) { 
                font-size: 56px;
            }
            @media (max-width: 767px) { 
                font-size: 40px;
            }
        }
        .sub-title {
            font-family: "Poppins",sans-serif;
            font-size: 24px;
            color: #1E3D58;
        }
        .sort-info {
            font-size: 20px;
            color: #1E3D58;
        }
    }
}
.icon-box-content {
    padding-top: 70px;
    @media (max-width: 767px) { 
        padding-top: 50px;
    }
}
.icon-box {
    text-align: center;
    .icon-img {
        width: 120px;
        height: 120px;
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto 25px;
        transform-origin: center;
        transition: all 0.3s ease-in-out;
        img {
            height: 100%;
            width: auto;
        }
        @media (max-width: 767px) { 
            width: 80px;
            height: 80px;
        } 
    }
    .content {
        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 0;
            color: #0E3D8B;
            transition: all 0.3s ease-in-out;
            @media (max-width: 767px) { 
                font-size: 16px;
            }
        }
    }
    &:hover, &:focus {
        .icon-img {
            transform: scale(0.95);
        }
    }
}
a.icon-box {
    &:hover, &:focus {
        .content {
            h3 {
                color: #00C4CC;
            }
        }
    }
}

.cta-block {
    background-color: #E8EEF1;
    max-width: 710px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 25px;
    padding-right: 0;
    @media (max-width: 767px) { 
        padding: 15px 0 15px 15px;
    }
    @media (max-width: 575px) { 
        display: block;
        text-align: center;
        margin-right: -20px;
        margin-left: -20px;
        border-radius: 0;
        padding: 30px 0;
    }
    .action {
        margin-right: 25px;
        .btn {
            font-size: 24px;
            padding: 10px 30px 8px;            
        }
        @media (max-width: 767px) { 
            margin-right: 15px;
            .btn {
                font-size: 18px;
                padding: 10px 15px 8px;
            }
        }
        @media (max-width: 575px) { 
            margin-bottom: 20px;
        }
    }
    .info {
        @media (max-width: 767px) { 
            font-size: 16px;
        }
        @media (max-width: 575px) { 
            margin-bottom: 20px;
        }
    }
    .user-img {
        width: 120px;
        height: 120px;
        flex: none;
        border-radius: 50%;
        border: 5px solid #00C4CC;
        margin: -45px 0;
        margin-left: auto;
        @media (max-width: 767px) { 
            width: 90px;
            height: 90px;
        }
        @media (max-width: 575px) { 
            margin: 0 auto;
            margin-bottom: -75px;
        }
    }
}