*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    @media (max-width: 992px) {
        font-size: 16px;
    }
}
:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2c2c2c;
    --bs-tooltip-opacity: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: $font-darker-grotesque;
}

a {
    color: $primary;
    text-decoration: none;
    word-break:break-word;
    &:focus,
    &:hover {
        color: $black;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img {
    max-width:100%;
    height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
	padding-left: 15px;
	padding-right: 15px;
    &.container-big {
        max-width: 1550px;
        margin: 0 auto;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
        & > * {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.g-15 {
    &.row {
        margin-top: -30px;
        & > * {
            margin-top: 30px;
        }
    }
}
.p-70 {
    padding: 70px 0 !important;
    @media (max-width: 767px) {
        padding: 50px 0 !important;
    }
}

h1, .h1 {
    font-size: 100px;
    margin: 0;
    line-height: 0.9;
    font-weight: 700;
    @media (max-width: 1200px) {
        font-size: 80px;
    }
    @media (max-width: 767px) {
        font-size: 60px;
    }
}
h2, .h2 {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    @media (max-width: 1200px) {
        font-size: 60px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
    }
}
h3, .h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    &.font-lg {
        font-size: 30px;
    }
    @media (max-width: 1200px) {
        font-size: 20px;
        &.font-lg {
            font-size: 24px;
        }
    }
}

.bg-gray {
    background: $gray !important;
}
.bg-black {
    background: $black;
}
.bg-lightblue {
    background: #F1F4F8;
}
.text-primary {
    color: $primary !important;
}

.btn {
    min-height: 44px;
    padding: 0 25px;
    min-width: 150px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    @include transition(0.2s, ease-in-out);
    @include border-radius(4px);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    line-height: 1;
    @media (max-width: 992px) {
        font-size: 14px;
        min-height: 40px;
        padding: 0 20px;
        min-width: auto;
    }
    &.btn-lg {        
        min-width: 280px;
        @media (max-width: 767px) {
            min-width: 100%;
        }
    }
    &.btn-primary {
        color: $white;
        background-color:$primary;
        border:1px solid $primary;
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background-color: #d43417 !important;
            color: $white !important;
            border-color:#d43417 !important;
        }
    }
    &.btn-white {
        color: $primary;
        background-color: $white;
        border:1px solid $white;
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background-color: #eeeeee !important;
            color: $primary !important;
            border-color: #eeeeee !important;
        }
    }
}

.btn-link {
    color: $primary;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
    position: relative;
    &::before {
        content: '';
        height: 1px;
        background: $primary;
        width: 0;
        display: inline-block;
        @include transition(0.2s, ease-in-out);
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    &:hover, &:focus {
        color: $primary;
        &::before {
            width: 100%;
        }
    }
    &.link-white {
        color: $white;
        &::before { 
            background: $white;
        }
        &:hover, &:focus {
            color: $white;
        }
    }
}

.btn-arrow-link {
    background: url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(236 82 54)"/></svg>') no-repeat calc(100% - 10px) center;
    background-size: 15px;
    padding-right: 35px;
    line-height: 0.7;
    display: inline-block;
    @include transition(0.2s, ease-in-out);
    &:hover, &:focus {
        color: $primary;
        background-position: 100% center !important;
    }
    &.is-white {
        color: $white;
        background: url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(255 255 255)"/></svg>') no-repeat calc(100% - 10px) center;
        &:hover, &:focus {
            color: $white;
        }
    }
}

.form-group {
    margin-bottom: 15px;
    position: relative;    
    &.with-icon {
        .icon {
            position: absolute;
            left: 10px;
            bottom: 14px;
        }
        .form-control {
            padding-left: 36px;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="text"],
    input[type="password"],
    input,
    textarea,
    select,
    .form-control {
        padding: 5px 10px;
        @include border-radius(0);
        background: $white;
        border: 1px solid #E4E4E4;
        color: $black;
        font-weight: 400;
        height: 44px;
        width: 100%;
        font-size: 14px;
        &::placeholder {
            color: rgba($black, 0.6)
        }
        &.error {
            border-color: #FF0000;
        }  
        &:focus {
            border-color: rgba($primary, 0.8);
            box-shadow: none;
            outline: 0 none;
        }
    }
    .error-msg {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 12px;
        color: #FF0000;
    }
    textarea.form-control {
        height: auto;
    }
    select, .form-select {
        background: $white url('data:image/svg+xml; utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0" fill="black"/></svg>') no-repeat calc(100% - 10px) center;
        background-size: 10px;
    }
    label {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 7px;
        line-height: 1;
        span {
            color: #FF0000;
        }
    }
    &.input-group {
        @include flexbox;
        @include flex-wrap(nowrap);
        @include border-radius(0);
        .input-group-text {
            @include border-radius(0);
            font-size: 14px;
            line-height: 1;
            padding: 5px 15px;
            min-width: 65px;
            @include justify-content(center);
            background-color: #E4E4E4;
            color: $black;
        }
    }
}
.form-check {
    padding-left: 30px;
    line-height: 1.3;
    .form-check-input {
        width: 18px;
        height: 18px;
        border-color: #E4E4E4;
        @include border-radius(2px);
        margin-left: -28px;
        &:checked {
            background-color: $black;
            border-color: $black;
        }
    }
    .form-check-label {
        color: $black;
        cursor: pointer;
        font-size: 15px;
    }
}

.icw-slide-dots {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    li {
        line-height: 0.7;
        margin: 0 2px;
        @include inline-flex;
        button {
            margin: 0;
            opacity: 1;
            width: 8px;
            height: 8px;
            @include border-radius(15px);
            &.is-active {
                @include transform(scale(1));
                background: $primary;
                width: 25px;
                height: 10px;
            }
        }
    }
}

.splide__arrows {
    .splide__arrow {
        width: 26px;
        height: 26px;
        background: rgba($white, 0.7);
        @include transition(0.2s, ease-in-out);
        opacity: 1;
        @include border-radius(2px);
        svg {
            width: 12px;
            height: 12px;
            @include transition(0.2s, ease-in-out);
        }
        &.splide__arrow--prev {
            left: -50px;
        }
        &.splide__arrow--next {
            right: -50px;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.6;
        }
        &:hover {
            background: $primary;
            opacity: 1;
            svg {
                fill: $white;
            }
        }
    }
}

.check-list {
    li {
        @include flexbox;
        font-size: 16px;
        line-height: 1.5;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
        &::before {
            content: '';
            background: url(../images/icons/icon-check.svg) no-repeat center center;
            background-size: contain;
            width: 22px;
            height: 22px;
            flex: none;
            display: inline-block;
            margin-right: 10px;
            margin-top: 2px;
            @media (max-width: 767px) {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
        }
        .info {
            h3 {
                margin-bottom: 8px;
                font-family: $bodyfont;
                font-size: 20px;
                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }
    &.is-white {
        li {
            &::before {
                filter: brightness(0) invert(1);
            }
        }
    }
    &.with-border {
        li {
            border: 1px solid $white;
            padding: 10px;
            @include border-radius(30px);
        }
    }
    &.two-col-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 30px;
        li {
            margin-bottom: 0;
            &::before {
                margin-top: 0;
            }
        }
        @media (max-width: 1200px) {
            grid-gap: 15px 12px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.main-header {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    max-width: 100vw;
    background: $black;
    &.fixed-header {
        background: $black;
    }
    @media (min-width: 992px) {        
        backdrop-filter: blur(215px);
        background: rgba(184, 184, 184, 0.15);
    }
    .offcanvas {
        background-color: $black;
        --bs-offcanvas-width: 330px;
        .btn-close {
            filter: invert(1);
            opacity: 1;
        }
    }
    .navbar {
        background: transparent;
        padding: 12px 0;
        .navbar-toggler {
            padding: 0;
            margin-left: 10px;
            span {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgb(255 255 255)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');                
                @include transition(0.2s, ease-in-out);
            }
            &:hover, &:focus {
                span {
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgb(236 82 54)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
                }
            }
        }
        .navbar-brand {
            padding: 0;
            margin: 0;
            img {
                max-height: 55px;
                @media (max-width: 992px) {
                    max-height: 40px;
                }
            }
        }
        .call-action {
            line-height: 1;
            margin-top: 20px;
            span {
                font-size: 12px;
                display: block;
                line-height: 1;
                margin-bottom: 5px;
                color: $white;
            }
        }
        .btn {
            @media (max-width: 992px) {                                    
                min-height: 36px; 
            }
        }
        .navbar-nav {
            @media (min-width: 992px) {
                @include align-items(center);
            }
            & > li {
                margin: 0 15px;
                @media (max-width: 1200px) {
                    margin: 0 8px;
                }
                @media (max-width: 992px) {
                    margin: 8px 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0;
                    position: relative;
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                    @media (max-width: 992px) {
                        @include inline-flex;
                    }
                    &::before {
                        content: '';
                        height: 1px;
                        background: $primary;
                        width: 0;
                        display: inline-block;
                        @include transition(0.2s, ease-in-out);
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                    }
                    &.btn {
                        line-height: 1;
                        min-width: auto;  
                        padding: 0 25px;                      
                        min-height: 40px;
                        @media (max-width: 1200px) {
                            padding: 0 15px;                      
                            min-height: 36px;
                        }
                        @media (max-width: 992px) {
                            width: 100%;
                            margin-top: 20px;
                        }
                        &::before {
                            content: none;
                        }
                    }
                    &:hover, &:focus {  
                        color: $primary;
                        &::before {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    & > a {
                        @media (min-width: 992px) {
                            @include inline-flex;
                            @include align-items(center);
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                width: 10px;
                                height: 5px;
                                display: inline-block;
                                background-size: contain;
                                margin-top: 5px;
                                margin-left: 5px;
                                @include transition(0.2s, ease-in-out);
                            }
                        }
                    }
                    .arrow {
                        background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                        background-size: 10px;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        float: right;
                        @include transition(0.2s, ease-in-out);
                        cursor: pointer;
                        @media (min-width: 992px) {
                            display: none;
                        }
                        &.is-active {
                            @include transform(rotate(180deg));
                        }
                        &:hover, &:focus {                            
                            background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(236 82 54)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                        }
                    }
                    .sub-menu {
                        @media (max-width: 992px) {
                            display: none;
                            @include transform(unset);
                            width: 100% !important;
                            background: rgba($white, 0.15);
                            margin-top: 5px;
                            padding: 20px;
                        }
                        @media (min-width: 992px) {
                            @include opacity(0);
                            visibility: hidden;
                            position: absolute;
                            @include border-radius(2px);
                            @include box-shadow(0px 4px 6.5px rgba(0, 0, 0, 0.25));
                            border: none;     
                            background: $black;
                            padding: 15px 15px;
                            left: 0;
                            z-index: 1;
                            top: calc(100% + 10px);
                            @include transition(0.2s, ease-in-out);
                            @include transform(translateY(5px));
                            min-width: 200px;
                        }
                        li {
                            &:first-child {
                                a {
                                    @media (max-width: 992px) {
                                        padding-top: 0;
                                    }
                                }
                            }
                            &:last-child {
                                a {
                                    margin-bottom: 0;
                                    @media (max-width: 992px) {
                                        padding-bottom: 0;
                                        border-bottom: 0;
                                    }
                                }
                            }
                            a {
                                font-size: 14px;
                                padding: 12px 15px;
                                @include border-radius(2px);
                                margin-bottom: 8px;
                                line-height: 1;
                                &::before {
                                    content: none;
                                }
                                @media (min-width: 992px) {
                                    background: rgba($white, 0.15);                                    
                                }
                                @media (max-width: 1200px) {
                                    font-size: 13px;
                                }
                                @media (max-width: 992px) {
                                    padding: 12px 0;
                                    border-bottom: 1px solid rgba(255,255,255,0.15);
                                    margin: 0;
                                    display: block;
                                }
                                &:hover, &:focus {
                                    @media (min-width: 992px) {
                                        background: rgba($white, 0.18);
                                        color: $primary;
                                    }
                                    @media (max-width: 992px) {
                                        color: $primary;
                                        &::before {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover, &:focus {   
                        & > a {
                            &::after {
                                @include transform(rotate(180deg));
                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(236 82 54)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            }
                        }                  
                        .sub-menu {
                            @media (min-width: 992px) {
                                @include opacity(1);
                                visibility: visible;
                                z-index: 99;
                                @include transform(translateY(0px));
                            }
                        }
                    }
                    &.mega-menu {
                        & > .sub-menu {
                            padding: 20px;
                            @media (min-width: 992px) {
                                min-width: 600px;
                                display: grid;
                                grid-template-columns: 45% 55%;
                            }
                            @media (max-width: 992px) {
                                background: rgba($white, 0.15);
                                margin-top: 5px;
                            }
                            .menu-item-has-children {
                                margin: 0;
                                line-height: 1;
                                display: block !important;
                                .arrow {
                                    display: none;
                                }
                                &:first-child {                                    
                                    @media (min-width: 992px) {
                                        border-right: 2px solid rgba($white, 0.18);
                                        padding-right: 20px;
                                    }
                                }
                                &:last-child {                           
                                    @media (min-width: 992px) {
                                        padding-left: 20px;
                                    }
                                    @media (max-width: 992px) {
                                        padding-top: 30px;
                                    }
                                }
                                &.two-col-grid {
                                    .sub-menu {
                                        @media (min-width: 992px) {
                                            display: grid !important;
                                        }
                                        grid-template-columns: repeat(2, 1fr);
                                        grid-column-gap: 8px;
                                    }
                                }
                                & > a {
                                    padding: 0; 
                                    margin-bottom: 10px;
                                    font-size: 12px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    color: $primary;
                                    display: inline-block;
                                    background: transparent;
                                    border-bottom: 0;
                                }
                                .sub-menu {
                                    position: relative;
                                    top: unset;
                                    padding: 0;
                                    display: block !important;
                                    background: transparent;
                                    li {
                                        margin: 0;
                                        @media (max-width: 992px) {
                                            &:first-child {
                                                a {
                                                    padding-top: 0;
                                                }
                                            }
                                            &:last-child {
                                                a {                                                    
                                                    border-bottom: 0;
                                                    padding-bottom: 0;
                                                }
                                            }
                                        }
                                        a {      
                                            @include flexbox;
                                            @include align-items(center);
                                            @include justify-content(space-between);
                                            @include transition(0.2s, ease-in-out);     
                                            @media (min-width: 992px) {
                                                background: rgba($white, 0.15);
                                                margin-bottom: 8px;
                                                padding: 12px 15px;
                                            }                                       
                                            @media (max-width: 992px) {
                                                margin: 0;
                                                padding: 12px 0;
                                                border-bottom: 1px solid rgba($white, 0.15);
                                                &::before {
                                                    content: none;
                                                }
                                            }
                                            &:after {
                                                content: '';
                                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                                @include transform(rotate(-90deg));
                                                background-size: contain;
                                                width: 10px;
                                                height: 10px;
                                                @include transition(0.2s, ease-in-out);
                                            }
                                            &:hover, &:focus {            
                                                @media (min-width: 992px) {                                                 
                                                    background: rgba($white, 0.18);
                                                }
                                                &::after {
                                                    background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(236 82 54)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                                    @include transform(rotate(-90deg) translateY(5px));
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }  
                &:hover, &:focus {  
                    @media (min-width: 992px) {
                        & > a {
                            color: $primary;
                            &::before {
                                width: 100%;
                                right: auto;
                                left: 0;
                            }
                        }
                    }
                }
                &.active {   
                    & > a {
                        color: $primary;
                        &::before {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    } 
                }             
            }
        }
    }
}
.main-footer {
    color: $white;
    .footer-top-block {
        background: #9C2610;
        padding-top: 50px;
        overflow: hidden;
        .section-title {
            .sort-info {
                strong {
                    font-size: 18px;
                    color: $white;
                }
            }
            .contact-info {                
                @media (max-width: 575px) {
                    @include flex-direction(column);
                    @include align-items(center);
                    gap: 10px;
                }
            }
        }
        .footer-top-inner-shape {
            background: $primary;
            box-shadow: 26px 57px 15.7px rgba(0, 0, 0, 0.16);
            @include border-radius(0 500px 500px 0);
            padding: 40px 0 65px;
            position: relative;
            z-index: 1;
            color: $white;
            @media (max-width: 575px) { 
                @include border-radius(500px 500px 0 0);
                text-align: center;
                margin: 0 -15px;
                padding: 100px 20px 10px;
            }
            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 50vw;
                background: $primary;
                top: 0;
                left: -50vw;
                z-index: -1;
                @media (max-width: 575px) { 
                    content: none;    
                }
            }
        }
    }
    .footer-bottom-block {
        padding: 100px 0 50px;
        background: #01061B;
        @media (max-width: 992px) {
            padding: 70px 0 50px;
        }
        @media (max-width: 767px) {
            padding: 40px 0;
        }
        h3 {
            font-size: 18px;
            color: $white;
            font-family: $bodyfont;
            margin-bottom: 15px;
            margin-top: 30px;
            @media (max-width: 992px) {
                font-size: 16px;
            }
        }
        
        a {
            color: $white;
            position: relative;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 992px) {
                font-size: 14px;
            }
            &::before {
                content: '';
                height: 1px;
                background: $primary;
                width: 0;
                display: inline-block;
                @include transition(0.2s, ease-in-out);
                position: absolute;
                bottom: -1px;
                left: 0;
            }
            &.icon-link {
                font-size: 16px;
                @include align-items(flex-start);
                gap: 10px;
                @media (max-width: 992px) {
                    font-size: 14px;
                    gap: 5px;
                }
                &::before {
                    left: 30px;
                }
            }
            &:hover, &:focus {
                color: $primary;
                &::before {
                    width: 100%;
                }
                &.icon-link {                     
                    &::before {
                        width: calc(100% - 30px);
                    }
                    .icon {
                        filter: unset;
                        @include transition(0.2s, ease-in-out);
                    }
                }
            }
        }
        .icon {
            width: 20px;
            height: 20px;
            flex: none;
            display: inline-block;
            background-size: contain !important;
            @include transition(0.2s, ease-in-out);
            filter: brightness(0) invert(1);
            @media (max-width: 992px) {
                width: 15px;
                height: 15px;
                margin-top: 3px;
            }
            &.icon-location {
                background: url(../images/icons/icon-location.svg) no-repeat center center;
            }
            &.icon-phone {
                background: url(../images/icons/icon-phone.svg) no-repeat center center;
            }
            &.icon-mail {
                background: url(../images/icons/icon-mail.svg) no-repeat center center;
            }
        }
        .footer-menu {
            li {
                line-height: 1.3;
                &:not(:last-child) {
                    margin-bottom: 15px;
                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .privacy-menu {
            margin-top: 30px;
            li {
                line-height: 1.2;
                &:not(:last-child) {
                    margin-bottom: 15px;
                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
                a {
                    font-size: 16px;
                    @media (max-width: 992px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .social-list {
            @include flexbox;
            @include align-items(center);
            gap: 15px;
            a {
                svg {
                    path {
                        @include transition(0.2s, ease-in-out);
                    }
                }
                &::before {
                    content: none;
                }
                &:hover, &:focus {
                    svg {
                        path {
                            fill: $primary;
                        }
                    }
                }
            }
        }
        .connect-link-block {
            a {
                font-size: 175px;
                font-family: $font-darker-grotesque;
                line-height: 0.8;
                position: relative;
                display: block;
                @media (max-width: 1200px) {
                    font-size: 120px;
                }
                @media (max-width: 992px) and (min-width: 767px) {
                    font-size: 100px;
                }
                @media (max-width: 767px) {
                    margin-bottom: 40px;
                }
                @media (max-width: 575px){
                    font-size: 80px;
                }
                &::before {
                    content: none;
                }
                &:hover, &:focus {
                    .icon-arrow {
                        right: -15px;
                        @include transform(scale(1.1));
                        @media (max-width: 575px){
                            right: -8px;
                        }
                    }
                }
                .icon-arrow {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    @include inline-flex;
                    width: 75px;
                    height: 75px;
                    flex: none;
                    @include transition(0.2s, ease-in-out);
                    @media (max-width: 1200px) {                        
                        width: 65px;
                        height: 65px;
                        top: 15px;
                    }
                    @media (max-width: 992px) and (min-width: 767px) {                        
                        width: 45px;
                        height: 45px;
                        top: 5px;
                    }
                    @media (max-width: 575px){
                        width: 45px;
                        height: 45px;
                        top: 5px;
                    }
                }
            }
        }
        .copyright-block {
            margin-top: 30px;
            color: #B6BECB;
            font-size: 14px;
            @media (max-width: 767px) {
                font-size: 12px;
            }
            .design-by {
                font-size: 12px;
                margin-top: 5px;
                a {
                    color: #B6BECB;
                    font-size: 12px;
                    &:hover, &:focus {
                        color: $primary;
                    }
                }
            }
        }
    }
}


.section-overlap {
    margin-top: -100px;
    z-index: 3;
}

.top-bg-red-half {
    position: relative;
    color: $white;
    z-index: 1;
    padding: 0 !important;
    .red-bg-shape-half {
        background: $primary;
        width: calc(100% - 150px);
        height: 520px;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 1200px) {
            width: calc(100% - 100px);
        }
        @media (max-width: 992px) {
            width: calc(100% - 70px);
        }
        @media (max-width: 767px) {
        }
        @media (max-width: 575px) {
            width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            height: 520px;
            width: 50vw;
            background: $primary;
            top: 0;
            left: -50vw;
            z-index: -1;
        }
    }
    .inner-content-block {
        padding: 100px 0;
        @media (max-width: 992px) {
            padding: 70px 0;
        }
        @media (max-width: 767px) {
            padding: 50px 0;
        }
    }
}
.top-bg-red-full {
    position: relative;
    color: $white;
    z-index: 1;
    padding: 0 !important;    
    @media (max-width: 575px) {
        background: $primary;
    }
    .red-bg-shape-full {
        background: $primary;
        width: calc(100% - 150px);
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 1200px) {
            width: calc(100% - 100px);
        }
        @media (max-width: 992px) {
            width: calc(100% - 70px);
        }
        @media (max-width: 575px) {
            width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 50vw;
            background: $primary;
            top: 0;
            left: -50vw;
            z-index: -1;
            @media (max-width: 575px) {
                left: 0;
                width: 100%;
            }
        }
    }
    .inner-content-block {
        width: calc(100% - 150px);
        padding: 100px 0;
        @media (max-width: 1200px) {
            width: calc(100% - 100px);
        }
        @media (max-width: 992px) {
            width: calc(100% - 70px);      
            padding: 70px 0;
        }
        @media (max-width: 767px) {
            padding: 50px 0;
        }
        @media (max-width: 575px) {
            width: 100%;
        }
        &.with-br-vector {
            @media (min-width: 575px) {
                position: relative;
            }
            &::after {
                content: '';
                background: url(../images/bg-vector.svg) no-repeat bottom right;
                background-size: contain;
                position: absolute;
                bottom: 0;
                right: -15px;
                width: 450px;
                height: 360px;
                @media (max-width: 1200px) {
                    width: 350px;
                    height: 300px;
                }
                @media (max-width: 992px) {
                    width: 240px;
                    height: 200px;
                }
                @media (max-width: 575px) {
                    right: 0;
                    width: 150px;
                    height: 120px;
                }
            }
        }
        .check-list {
            li {
                border: 1px solid $white;
                padding: 10px;
                @include border-radius(30px);
                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}
.with-vector {
    position: relative;
    &::before {
        content: '';
        background: url(../images/bg-v-vector.svg) no-repeat left center;
        background-size: contain;
        display: inline-block;
        width: 600px;
        height: 600px;
        position: absolute;
        bottom: 20%;
        left: 0;
        @media (max-width: 1200px) {            
            width: 400px;
            height: 400px;
        }
        @media (max-width: 767px) {            
            width: 200px;
            height: 200px;
        }
    }
}
.is-bg-text-animation {
    position: relative;
    overflow: hidden;
    &::before {
        content: var(--animate-text) ' • ' var(--animate-text);
        font-family: $font-darker-grotesque;
        font-weight: 700;
        font-size: 500px;
        line-height: 0.9;
        color: #EAEAEA;
        white-space: nowrap;
        animation: textMove 30s linear infinite;
        position: absolute;
        top: -100px;
        @media (max-width: 992px) {
            top: -50px;
            font-size: 300px;
        }
        @media (max-width: 767px) {
            top: -20px;
            font-size: 200px;
        }
    }
}
@keyframes textMove {
    0% { left: 0; }
    100% { left: -100%; }
}
