.main-section {
    position: relative;
    padding: 150px 0;
    @media (max-width: 992px) {        
        padding: 100px 0;
    }
    @media (max-width: 767px) {        
        padding: 50px 0;
    }
    .container {
        position: relative;
    }
}
.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
    &.is-flex {
        @media (min-width: 1200px) {
            @include flexbox;
            @include justify-content(space-between);
            .title, .sort-info {
                margin-bottom: 0;
            }
        }
    }
    .title {
        margin-top: -15px;
        margin-bottom: 20px;
    }
    .sort-info {
        margin-bottom: 30px;
        small {
            font-size: 18px;
            line-height: 1.5;
            display: inline-block;
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        strong {
            font-size: 25px;
            line-height: 1.5;
            display: inline-block;
            @media (max-width: 1400px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}
.contact-info {
    @include flexbox;
    @include align-items(center);
    gap: 15px;
    @media (max-width: 575px) {
        @include flex-direction(column);
        @include align-items(flex-start);
        gap: 10px;
    }
    span {
        font-size: 14px;
    }
    .call-action {
        line-height: 1;
        span {
            font-size: 12px;
            display: block;
            line-height: 1;
            margin-bottom: 5px;
        }
    }
}
.page-header {
    background-color: #F8F8F8;
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
    overflow: hidden;
    @media (max-width: 992px) {
        padding-top: 65px;
    }
}
.page-header-block {
    padding: 100px 0 300px;
    @media (max-width: 992px) {
        padding: 70px 0 200px;
    }
    @media (max-width: 767px) {
        padding: 50px 0 150;
    }
    .section-title {
        z-index: 3;
        position: relative;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
        &.text-center {
            max-width: 660px;
            margin: 0 auto;
            .sort-info {                
                margin: 0 auto 40px;
            }
            .contact-info {                
                @include justify-content(center);
                @media (max-width: 575px) {
                    @include flex-direction(row);
                    @include align-items(center);
                    gap: 10px;
                }
            }
        }
        .tag {
            background: $primary;
            color: $white;
            font-size: 18px;
            padding: 8px 15px;
            line-height: 1;
            display: inline-block;
            @include border-radius(30px);
        }
        .title {
            color: $primary;
            @media (min-width: 1200px) {                
                white-space: nowrap;
                margin-top: -10px;
            }
            span {
                font-size: 75px;
                color: $white;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 65px;
                }
                @media (max-width: 767px) {
                    font-size: 45px;
                }
            }
        }
        .sort-info {
            color: $white;
            font-size: 22px;
            max-width: 550px;
            @media (max-width: 992px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        .contact-info {
            color: $white;
            margin-top: 40px;
            .call-action span {
                text-align: left;
            }
        }
    }
    .splide {           
        .splide__track {
            @include border-radius(25px);
        }
        .icw-slide-dots {
            bottom: -30px;
            @include justify-content(center);
        }
        .splide__slide {
            max-height: 400px;
        }
    }
    &.is-inner-page {
        .section-title {
            .title {
                color: $white;
                font-size: 90px;
                font-weight: 600;
                @media (max-width: 992px) {
                    font-size: 70px;
                }
                @media (max-width: 767px) {
                    font-size: 50px;
                }
            }
            .sort-info {
                strong {
                    color: $primary; 
                }
            }
        }
    }
}
.auto-width-slider {
    @media (min-width: 992px) {
        margin-left: -50px;
        width: calc(100% + 60%);
    }
    .splide__track {
        @media (max-width: 992px) {
            overflow: visible;
        }
    }
    .icw-slide-dots {
        @include justify-content(flex-start !important);
        padding-left: 250px !important;
        bottom: -30px;
    }
}
.gallery-slider {
    .splide__track {
        overflow: visible;
    }
    .image-block {
        @include border-radius(0);
        img {
            aspect-ratio: 1/1;
        }
    }
}

.image-block, .video-block {
    height: 100%;
    @include border-radius(25px);
    overflow: hidden;
    position: relative;
    img, video {
        width: 100%;
        height: 100%;@include transition(0.3s, ease-in-out);
    }
    &.ratio-4x3 {
        --bs-aspect-ratio: 56%;
    }
    .play-icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        background-size: contain !important;
        background: url(../images/icons/icon-play.svg) no-repeat center center;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        @include transition(0.2s, ease-in-out);
    }
    &:hover, &:focus {
        img, video {
            @include transform(scale(1.05));
        }
        .play-icon {
            @include transform(translate(-50%, -50%) scale(1.1));
        }
    }
}
.video-block {
    cursor: pointer;    
}
.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    .user-info {
        @include flexbox;
        @include align-items(center);
        margin-top: 5px;
        .user-img {
            margin-right: 10px;
            img {
                width: 28px;
                height: 28px;
                flex: none;
                @include border-radius(50%);
            }
        }
        .name {
            font-size: 14px;
            color: rgba($black, 0.6);
            font-weight: 500;
        }
    }
    .card-img {
        overflow: hidden;
        img {
            width: 100%;
            @include transition(0.2s, ease-in-out);
        }
    }
    .card-body {
        background: $white;
        padding: 20px;
        color: $black;
        .category {
            color: $primary;
            font-size: 12px;
            background: #F9CDC5;
            padding: 3px 10px;
            @include border-radius(30px);
            display: inline-block;
            margin-bottom: 15px;
            z-index: 3; 
            position: relative;   
            @include transition(0.2s, ease-in-out);
        }
        a.category {        
            &:hover, &:focus {
                background: $primary;
                color: $white;
            }
        }
        .date-time {
            color: rgba($black, 0.6);
            font-size: 12px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            margin-bottom: 15px;
            .icon-time {
                background: url('data:image/svg+xml; utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.375V6.5L8.0625 7.4375M12.125 6.5C12.125 9.60663 9.60663 12.125 6.5 12.125C3.3934 12.125 0.875 9.60663 0.875 6.5C0.875 3.3934 3.3934 0.875 6.5 0.875C9.60663 0.875 12.125 3.3934 12.125 6.5Z" stroke="black" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                background-size: contain;
                width: 12px;
                height: 12px;
                display: inline-block;
                margin-right: 5px
            }
            span {
                @include inline-flex;
                @include align-items(center);
            }
        }
        .title {
            font-size: 22px;
            font-family: $bodyfont;
            margin-bottom: 10px;
            font-weight: 600;
            @include transition(0.2s, ease-in-out);
            a {
                color: $black;
                @include transition(0.2s, ease-in-out);
            }
        }
        .sort-info {
            font-size: 16px;
        }
    }
    .card-footer {
        background: $white;        
        padding: 0 20px 20px;
        line-height: 1;
        .btn-arrow-link {
            font-size: 16px;
            font-weight: 500; 
            @include transition(0.2s, ease-in-out);
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                @include transform(scale(1.1));
            }
        }
        .card-body { 
            .title {
                color: $primary;
                a {
                    color: $primary;
                }
            }
        }
        .card-footer {
            .btn-arrow-link {
                background-position: 100% center;
            }
        }
    }
}
.counter-block {
    max-width: 1000px;
}
.counter-box {
    .count-number {
        font-size: 150px;
        font-weight: 400;
        line-height: 0.9;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
            font-size: 120px;
        }
        @media (max-width: 992px) {
            font-size: 90px;
        }
        @media (max-width: 767px) {
            font-size: 65px;
        }
        span {
            display: inline-block;
        }
    }
    .info-text {
        font-size: 40px;
        font-family: $font-darker-grotesque;
        line-height: 0.9;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
            font-size: 30px;
        }
        @media (max-width: 992px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    .btn-arrow-link {
        z-index: 3;
        position: relative;
        &:hover {
            opacity: 0.9;
        }
    }
}
.logo-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }
    .logo-item {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
        flex-grow: 1;
        background: $white;
        padding: 20px;
        border: 1px solid transparent;
        @include transition(0.2s, ease-in-out);
        img {
            max-height: 56px;
            @include transition(0.2s, ease-in-out);
        }
    }
    a.logo-item {
        &:hover, &:focus {
            border-color: #E4E4E4;
            @include transform(translateY(-5px));
        }
    }
}
.icon-box {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    padding: 30px;
    position: relative;
    @media (max-width: 992px) {
        padding: 20px;
    }
    &.with-border {
        border: 1px solid rgba($primary, 0.3);
        text-align: center;
    }
    .icon {
        margin-bottom: 20px;
        img {
            width: 82px;
            height: 82px;
            flex: none;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 992px) {
                width: 65px;
                height: 65px;
            }
        }
    }
    .info {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    .arrow {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 34px;
        height: 34px;
        flex: none;
        display: inline-block;
        background: url('data:image/svg+xml; utf8,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.375 27.625L27.625 6.375M27.625 6.375L11.6875 6.375M27.625 6.375V22.3125" stroke="rgb(236 82 54)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: contain;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 992px) {
            width: 25px;
            height: 25px;
        }
    }
    &:hover, &:focus {
        .icon {
            img {
                @include transform(scale(1.1));
            }
        }
        .info { 
            @include opacity(0.9);
        }
        .arrow {
            @include transform(translate(10px, -10px));
        }
    }
}