*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    @media (max-width: 992px) {
        font-size: 14px;
    }
}
:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2c2c2c;
    --bs-tooltip-opacity: 1;
}

a {
    color: $primary;
    text-decoration: none;
    word-break:break-word;
    &:focus,
    &:hover {
        color: $blue;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img {
    max-width:100%;
    height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
	padding-left: 15px;
	padding-right: 15px;
    &.container-big {
        max-width: 1550px;
        margin: 0 auto;
    }
}
.g-15 {
    &.row {
        margin-top: -30px;
        margin-left: -15px;
        margin-right: -15px;
        & > * {
            margin-top: 30px; 
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

h1, .h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 700;
    @media (max-width: 992px) {
        font-size: 42px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
}
h2, .h2 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    @media (max-width: 992px) {
        font-size: 36px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
    }
}
h3, .h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    &.font-lg {
        font-size: 30px;
    }
    @media (max-width: 1200px) {
        font-size: 20px;
        &.font-lg {
            font-size: 24px;
        }
    }
}

.bg-gray {
    background: $gray !important;
}
.text-primary {
    color: $primary !important;
}

.btn {    
    background: transparent;
    border: none;
    min-width: 150px;
    min-height: 44px;
    line-height: 44px;
    @include border-radius(5px);  
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 0 30px;
    position: relative;
    text-align: center;
    text-decoration: none;    
    @include transform(translateY(0));
    -webkit-transition: -webkit-transform.3s cubic-bezier(.5,2.5,.7,.7);
    transition: -webkit-transform.3s cubic-bezier(.5,2.5,.7,.7);
    transition: transform.3s cubic-bezier(.5,2.5,.7,.7);
    transition: transform.3s cubic-bezier(.5,2.5,.7,.7),-webkit-transform.3s cubic-bezier(.5,2.5,.7,.7);
    white-space: nowrap;
    &::before {
        @include border-radius(5px);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        -webkit-transition: bottom.3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom.3s cubic-bezier(.5,2.5,.7,.7);
        width: 100%
    }    
    @media (max-width: 992px) {
        font-size: 14px;
        min-height: 40px;
        line-height: 40px;
        padding: 0 20px;
        min-width: auto;
    }
    &.btn-lg {        
        min-width: 280px;
        @media (max-width: 767px) {
            min-width: 100%;
        }
    }
    &.btn-primary {
        color: $white !important;
        background-color: $primary !important;
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background: $primary !important;
            box-shadow: 0px 4px 0px #87b233 !important;
            color: $white !important;        
            @include transform(translateY(-4px));
            &::before {
                bottom: -4px;
            }
        }
    }
    &.btn-secondary {
        color: $white !important;
        background-color: $secondary !important;
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background: $secondary !important;
            box-shadow: 0px 4px 0px #ca8809 !important;
            color: $white !important;        
            @include transform(translateY(-4px));
            &::before {
                bottom: -4px;
            }
        }
    }
    &.btn-white {
        color: $blue !important;
        background-color: $white !important;
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background: $white !important;
            box-shadow: 0px 4px 0px $blue !important;
            color: $blue !important;        
            @include transform(translateY(-4px));
            &::before {
                bottom: -4px;
            }
        }
    }
}

.btn-link {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 0;
    position: relative;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    &::before {
        content: '';
        height: 1px;
        background: $primary;
        width: 0;
        display: inline-block;
        @include transition(0.2s, ease-in-out);
        position: absolute;
        bottom: 2px;
        left: 0;
    }
    &:hover, &:focus {
        color: $primary;
        &::before {
            width: 70%;
        }
    }
    &.link-white {
        color: $white;
        &::before { 
            background: $white;
        }
        &:hover, &:focus {
            color: $white;
        }
    }
}

.btn-arrow-link {
    color: $blue;
    @include inline-flex;
    font-size: 16px;
    font-weight: 500;
    padding-right: 25px;
    position: relative;
    text-decoration: none;
    @media (max-width: 767px) {
        font-size: 14px;
        padding-right: 20px;
    }
    &::before {
        background-image: url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(0 74 112)"/></svg>');       
        background-repeat: no-repeat;
        background-size: contain;     
        content: '';
        width: 16px;
        height: 12px;
        position: absolute;
        right: 0;
        top: calc(50% - 6px);
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            width: 14px;
            height: 10px;
            top: calc(50% - 5px);
        }
    }
    &:hover, &:focus {
        color: $primary;
        &::before {
            background-image: url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(156 203 64)"/></svg>');     
            @include transform(translateX(5px));
        }
    }
    &.is-white {
        color: $white;
        background: url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(255 255 255)"/></svg>') no-repeat calc(100% - 10px) center;
        &:hover, &:focus {
            color: $white;
        }
    }
}

@-webkit-keyframes fakebounce {
    0% { left: calc(100% - 32px); }
    50% { left: -24px }
    75% { left: -4px }
    88% { left: -18px }
    to { left: -16px }
}

@keyframes fakebounce {
    0% { left: calc(100% - 32px); }
    50% { left: -24px }
    75% { left: -4px }
    88% { left: -18px }
    to { left: -16px }
}

.form-group {
    margin-bottom: 15px;
    position: relative;    
    &.with-icon {
        .icon {
            position: absolute;
            left: 10px;
            bottom: 14px;
        }
        .form-control {
            padding-left: 36px;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="text"],
    input[type="password"],
    input,
    textarea,
    select,
    .form-control {
        padding: 5px 10px;
        @include border-radius(0);
        background: $white;
        border: 1px solid #E4E4E4;
        color: $black;
        font-weight: 400;
        height: 44px;
        width: 100%;
        font-size: 14px;
        &::placeholder {
            color: rgba($black, 0.6)
        }
        &.error {
            border-color: #FF0000;
        }  
        &:focus {
            border-color: rgba($primary, 0.8);
            box-shadow: none;
            outline: 0 none;
        }
    }
    .error-msg {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 12px;
        color: #FF0000;
    }
    textarea.form-control {
        height: auto;
    }
    select, .form-select {
        background: $white url('data:image/svg+xml; utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0" fill="black"/></svg>') no-repeat calc(100% - 10px) center;
        background-size: 10px;
    }
    label {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 7px;
        line-height: 1;
        span {
            color: #FF0000;
        }
    }
    &.input-group {
        @include flexbox;
        @include flex-wrap(nowrap);
        @include border-radius(0);
        .input-group-text {
            @include border-radius(0);
            font-size: 14px;
            line-height: 1;
            padding: 5px 15px;
            min-width: 65px;
            @include justify-content(center);
            background-color: #E4E4E4;
            color: $black;
        }
    }
}
.form-check {
    padding-left: 30px;
    line-height: 1.3;
    .form-check-input {
        width: 18px;
        height: 18px;
        border-color: #E4E4E4;
        @include border-radius(2px);
        margin-left: -28px;
        &:checked {
            background-color: $black;
            border-color: $black;
        }
    }
    .form-check-label {
        color: $black;
        cursor: pointer;
        font-size: 15px;
    }
}

.icw-slide-dots {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    bottom: -30px;
    li {
        line-height: 0.7;
        margin: 0 2px;
        @include inline-flex;
        button {
            margin: 0;
            opacity: 1;
            width: 8px;
            height: 8px;
            @include border-radius(15px);
            background: $black;
            &.is-active {
                @include transform(scale(1));
                background: $primary;
                width: 25px;
                height: 10px;
            }
        }
    }
    &.is-light {
        li {
            button {
                background: #F9CDC5;
                &.is-active {
                    background: $primary;
                }
            }
        }
    }
}

.splide__arrows {
    .splide__arrow {
        width: 45px;
        height: 45px;
        @include transition(0.2s, ease-in-out);
        opacity: 1;
        @include border-radius(50%);
        border: 1px solid $black;
        @media (max-width: 1400px) {
            width: 35px;
            height: 35px;
        }
        svg {
            display: none;
        }
        &.splide__arrow--prev {
            left: -60px;
            background: $white url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 5.74953C17.4142 5.74953 17.75 6.08532 17.75 6.49953C17.75 6.91374 17.4142 7.24953 17 7.24953V5.74953ZM0.4697 7.02986C0.1768 6.73697 0.1768 6.26209 0.4697 5.9692L5.2426 1.19623C5.5355 0.903339 6.0104 0.903339 6.3033 1.19623C6.5962 1.48912 6.5962 1.964 6.3033 2.25689L2.0607 6.49953L6.3033 10.7422C6.5962 11.0351 6.5962 11.51 6.3033 11.8029C6.0104 12.0958 5.5355 12.0958 5.2426 11.8029L0.4697 7.02986ZM17 7.24953H1V5.74953H17V7.24953Z" fill="rgb(0 0 0)"/></svg>') no-repeat center center;
            @media (max-width: 1400px) {
                left: -50px;
            }
            @media (max-width: 767px) {
                left: -10px;
            }
        }
        &.splide__arrow--next {
            right: -60px;
            background: $white url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(0 0 0)"/></svg>') no-repeat center center;
            @media (max-width: 1400px) {
                right: -50px;
            }
            @media (max-width: 767px) {
                right: -10px;
            }
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        &:hover {            
            opacity: 1;
            border-color: $primary;
            &.splide__arrow--prev {
                background: $primary url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 5.74953C17.4142 5.74953 17.75 6.08532 17.75 6.49953C17.75 6.91374 17.4142 7.24953 17 7.24953V5.74953ZM0.4697 7.02986C0.1768 6.73697 0.1768 6.26209 0.4697 5.9692L5.2426 1.19623C5.5355 0.903339 6.0104 0.903339 6.3033 1.19623C6.5962 1.48912 6.5962 1.964 6.3033 2.25689L2.0607 6.49953L6.3033 10.7422C6.5962 11.0351 6.5962 11.51 6.3033 11.8029C6.0104 12.0958 5.5355 12.0958 5.2426 11.8029L0.4697 7.02986ZM17 7.24953H1V5.74953H17V7.24953Z" fill="rgb(255 255 255)"/></svg>') no-repeat center center;
            }
            &.splide__arrow--next {
                background: $primary url('data:image/svg+xml; utf8,<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.74878C0.585787 5.74878 0.25 6.08457 0.25 6.49878C0.25 6.91299 0.585786 7.24878 1 7.24878L1 5.74878ZM17.5303 7.02911C17.8232 6.73622 17.8232 6.26134 17.5303 5.96845L12.7574 1.19548C12.4645 0.902586 11.9896 0.902586 11.6967 1.19548C11.4038 1.48837 11.4038 1.96325 11.6967 2.25614L15.9393 6.49878L11.6967 10.7414C11.4038 11.0343 11.4038 11.5092 11.6967 11.8021C11.9896 12.095 12.4645 12.095 12.7574 11.8021L17.5303 7.02911ZM1 7.24878L17 7.24878L17 5.74878L1 5.74878L1 7.24878Z" fill="rgb(255 255 25"/></svg>') no-repeat center center;
            }
        }
    }
}

.check-list {
    li {
        @include flexbox;
        font-size: 16px;
        line-height: normal;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
        &::before {
            content: '';
            background: url(../images/icons/icon-check.svg) no-repeat center center;
            background-size: contain;
            width: 19px;
            height: 19px;
            flex: none;
            display: inline-block;
            margin-right: 10px;
            @media (max-width: 767px) {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
        }
        .info {
            h3 {
                margin-bottom: 8px;
                font-family: $bodyfont;
                font-size: 20px;
                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }
    &.is-white {
        li {
            &::before {
                filter: brightness(0) invert(1);
            }
        }
    }
    &.with-border {
        li {
            border: 1px solid $white;
            padding: 10px;
            @include border-radius(30px);
        }
    }
    &.two-col-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 30px;
        li {
            margin-bottom: 0;
            &::before {
                margin-top: 0;
            }
        }
        @media (max-width: 1200px) {
            grid-gap: 15px 12px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.header-note {
	background-color: $blue;
	text-align: center;	
	.container {
        max-width: initial;
        overflow-x: auto;
        padding: 22px 15px;
        &::-webkit-scrollbar { 
            width: 4px; 
            height: 8px; 
            background-color:#fafafa; 
        }
        &::-webkit-scrollbar-thumb { 
            background-color:rgba(0,0,0,0.2); 
        }
        @media (max-width: 767px) {
            padding: 15px;
        }
    }
    .note-info {
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(nowrap);
        @media (max-width: 767px) {
        }
        .note-text {
            color: $white;
            font-size: 18px;
            font-weight: 600;
            white-space: nowrap;
            @media (max-width: 992px) {
                font-size: 16px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        .btn-link {
            color: $primary;
            margin-left: 10px;
            white-space: nowrap;
        }
    }
}
.main-header {   
	position: sticky; 
	left: 0; 
	right: 0; 
	z-index: 10; 
	top: 0; 
	@include transition(0.3s, ease-in-out); 
	background-color: $white; 
    height: 90px;
    @media (max-width: 767px) {
        height: 70px;
    }
    &.fixed-header {
        background: $white;
    }
    .offcanvas {
        background-color: $white;
        --bs-offcanvas-width: 330px;
        .btn-close {
            filter: invert(1);
            opacity: 1;
        }
        .offcanvas-title {
            img {
                max-height: 70px;
            }
        }
    }
    .navbar {
        background: transparent;
        padding: 12px 0;
        height: 90px;
        @media (max-width: 767px) {
            height: 70px;
        }
        & > .container {
            height: 100%;
            flex-wrap: unset;
        }
        .navbar-toggler {
            padding: 0;
            margin-right: 10px;
            border: none;
            span {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgb(0 0 0)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');                
                @include transition(0.2s, ease-in-out);
            }
            &:hover, &:focus {
                span {
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgb(156 203 64)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
                }
            }
        }
        .navbar-brand {
            padding: 0;
            margin: 0;
            margin-top: 75px;
            @media (max-width: 1440px) {
                margin-top: 35px;
            }
            @media (max-width: 767px) {
                margin-top: 15px;
            }
            img {
                max-height: 140px;
                @media (max-width: 1440px) {
                    max-height: 100px;
                }                
                @media (max-width: 767px) {
                    max-height: 70px;
                }
            }
        }
        .call-action {
            line-height: 1;
            margin-top: 20px;
            span {
                font-size: 12px;
                display: block;
                line-height: 1;
                margin-bottom: 5px;
                color: $white;
            }
        }
        .btn {
            @media (max-width: 992px) {                         
                padding: 0 15px;
            }
        }
        .navbar-nav {
            @media (min-width: 1200px) {
                @include align-items(center);
            }
            & > li {
                margin: 0 8px;
                @media (max-width: 1440px) {
                    margin: 0 5px;
                }
                @media (max-width: 1200px) {
                    margin: 8px 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $black;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0;
                    position: relative;
                    @media (max-width: 1440px) {
                        font-size: 15px;
                    }
                    @media (max-width: 1200px) {
                        @include inline-flex;
                    }
                    &::before {
                        content: '';
                        height: 1px;
                        background: $primary;
                        width: 0;
                        display: inline-block;
                        @include transition(0.2s, ease-in-out);
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                    }
                    &.btn {
                        min-width: auto;  
                        padding: 0 25px; 
                        margin-left: 20px;
                        @media (max-width: 1440px) {                            
                            padding: 0 15px; 
                        }
                        @media (max-width: 992px) {
                            width: 100%;
                            margin-top: 20px;
                            margin-left: 0;
                            @include justify-content(center);
                        }
                        &::before {
                            content: none;
                        }
                    }
                    &:hover, &:focus {  
                        color: $primary;
                        &::before {
                            width: 70%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    & > a {
                        @media (min-width: 992px) {
                            @include inline-flex;
                            @include align-items(center);
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                width: 10px;
                                height: 5px;
                                display: inline-block;
                                background-size: contain !important;
                                margin-top: 2px;
                                margin-left: 5px;
                                @include transition(0.2s, ease-in-out);
                            }
                        }
                    }
                    .arrow {
                        background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                        background-size: 10px !important;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        float: right;
                        @include transition(0.2s, ease-in-out);
                        cursor: pointer;
                        @media (min-width: 992px) {
                            display: none;
                        }
                        &.is-active {
                            @include transform(rotate(180deg));
                        }
                        &:hover, &:focus {                            
                            background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(156 203 64)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                        }
                    }
                    .sub-menu {
                        @media (max-width: 992px) {
                            display: none;
                            @include transform(unset);
                            width: 100% !important;
                            background: rgba($black, 0.03);
                            margin-top: 10px;
                            padding: 20px;
                            @include border-radius(5px);
                        }
                        @media (min-width: 992px) {
                            @include opacity(0);
                            visibility: hidden;
                            position: absolute;
                            @include border-radius(5px);
                            @include box-shadow(0px 4px 6.5px rgba(0, 0, 0, 0.1));
                            border: none;     
                            background: $white;
                            padding: 15px 15px;
                            left: 0;
                            z-index: 1;
                            top: calc(100% + 10px);
                            @include transition(0.2s, ease-in-out);
                            @include transform(translateY(5px));
                            min-width: 200px;
                        }
                        li {
                            &:first-child {
                                a {
                                    @media (max-width: 992px) {
                                        padding-top: 0;
                                    }
                                }
                            }
                            &:last-child {
                                a {
                                    margin-bottom: 0;
                                    @media (max-width: 992px) {
                                        padding-bottom: 0;
                                        border-bottom: 0;
                                    }
                                }
                            }
                            a {
                                font-size: 14px;
                                padding: 12px 15px;
                                @include border-radius(5px);
                                margin-bottom: 8px;
                                line-height: 1;
                                &::before {
                                    content: none;
                                }
                                @media (min-width: 992px) {
                                    background: rgba($black, 0.03);                                    
                                }
                                @media (max-width: 1200px) {
                                    font-size: 13px;
                                }
                                @media (max-width: 992px) {
                                    padding: 12px 0;
                                    border-bottom: 1px solid rgba(0,0,0,0.03);
                                    margin: 0;
                                    display: block;                    
                                    @include border-radius(0px);
                                }
                                &:hover, &:focus {
                                    @media (min-width: 992px) {
                                        background: rgba($black, 0.05);
                                        color: $primary;
                                    }
                                    @media (max-width: 992px) {
                                        color: $primary;
                                        &::before {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            &.current-menu-item {
                                a {
                                    @media (min-width: 992px) {
                                        background: rgba($white, 0.18);
                                        color: $primary;
                                    } 
                                    @media (max-width: 992px) {
                                        color: $primary;
                                        &::before {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover, &:focus {   
                        & > a {
                            &::after {
                                @include transform(rotate(180deg));
                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(156 203 64)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            }
                        }                  
                        .sub-menu {
                            @media (min-width: 992px) {
                                @include opacity(1);
                                visibility: visible;
                                z-index: 99;
                                @include transform(translateY(0px));
                            }
                        }
                    }
                    &.active, &.current-menu-item {
                        & > a {
                            &::after {
                                background: url('data:image/svg+xml; utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="rgb(156 203 64)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            }
                        }    
                    }
                }  
                &:hover, &:focus {  
                    @media (min-width: 992px) {
                        & > a {
                            color: $primary;
                            &::before {
                                width: 70%;
                                right: auto;
                                left: 0;
                            }
                        }
                    }
                }
                &.active, &.current-menu-item {   
                    & > a {
                        color: $primary;
                        &::before {
                            width: 70%;
                            right: auto;
                            left: 0;
                        }
                    } 
                }             
            }
        }
    }
}
.main-footer {
    color: $white;
    .footer-top-block {
        background: #5D860E;
        overflow: hidden;
        padding: 80px 10%;
        margin: 0 -10%;  
        background-image: url(../images/img-footer-vector.svg);
        background-position: bottom right;
        background-repeat: no-repeat;
        @media (max-width: 1500px) {
            padding: 50px 5%;
            margin: 0 -5%
        }
        @media (max-width: 767px) {
            padding: 50px 8%;
            margin: 0 -8%
        }
        @media (max-width: 600px) {
            padding: 30px 15px;
            margin: 0 -15px;
        }
        .inner-content {
            @include flexbox;
            @include align-items(center);
            @media (max-width: 767px) {
                @include flex-direction(column);
            }
        }
        .section-title { 
            margin-bottom: 0;   
            max-width: 760px; 
            @media (max-width: 767px) {
                margin-bottom: 30px;
                text-align: center;
            }        
            h2 {
                margin-bottom: 0;
            }        
        }
        .action {
            margin-left: auto;
            max-width: 310px;
            @media (max-width: 767px) {
                margin: 0 auto;
            }
            .btn {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer-bottom-block {
        background: #01061B;
        padding: 100px 10% 20px;
        margin: 0 -10%;  
        @media (max-width: 1500px) {
            padding: 100px 5% 20px;
            margin: 0 -5%
        }
        @media (max-width: 767px) {
            padding: 50px 8% 20px;
            margin: 0 -8%
        }
        @media (max-width: 600px) {
            padding: 50px 15px 20px;
            margin: 0 -15px;
        }
        .logo-content-block {
            @include flexbox;
            @include align-items(center);
            gap: 30px;
            @media (max-width:767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
                gap: 20px;
                margin-bottom: 30px;
            }
            .logo {
                &::before {
                    content: none;
                }
                img {
                    max-width: 100px;
                }
            }
            .sort-info {
                font-size: 16px;
                color: $white;
                max-width: 550px;
                @media (max-width: 1200px) {
                    max-width: 450px;
                }
                @media (max-width: 992px) {                    
                    font-size: 14px;
                }
            }
        }
        a {
            color: $white;
            position: relative;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 992px) {
                font-size: 14px;
            }
            &::before {
                content: '';
                height: 1px;
                background: $primary;
                width: 0;
                display: inline-block;
                @include transition(0.2s, ease-in-out);
                position: absolute;
                bottom: -1px;
                left: 0;
            }
            &:hover, &:focus {
                color: $primary;
                &::before {
                    width: 70%;
                }
            }
        }
        .main-menu-block {            
            margin-top: 50px;
            @media (max-width: 767px) {                    
                margin-top: 30px;
            }
            .footer-menu {
                @include flex-wrap(wrap);
            }
        }
        .footer-menu {
            li {
                &:not(:last-child) {
                    margin-bottom: 15px;
                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
            }
            &.d-flex {
                @include flexbox;
                gap: 8px 25px;
                @media (max-width: 767px) {                    
                    gap: 8px 15px;
                }
                li {
                    margin-bottom: 0;
                }
            }
        }
        .social-menu {
            @include flexbox;
            @include align-items(center);
            gap: 10px;
            @media (max-width: 1200px) {
                margin-top: 20px;
            }
            a {
                width: 28px;
                height: 28px;
                flex: none;
                @include inline-flex;
                @include justify-content(center);
                @include align-items(center);
                border: 1px solid $white;
                @include border-radius(50%);
                @include transition(0.2s, ease-in-out);
                &::before {
                    content: none;
                }
                &:hover, &:focus {
                    background: $primary;
                    border-color: $primary;
                }
            }
        }
        .privacy-menu {
            @include flexbox;
            @include align-items(center);    
            @media (max-width: 992px) {
                margin-top: 15px;
            }   
            li {   
                padding: 0 10px;  
                border-right: 1px solid $white;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }   
                a {
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }
        .copyright-block {
            margin-top: 20px;
            padding-top: 20px;
            font-size: 12px;
            border-top: 1px solid rgba($white, 0.4);
        }
    }
}

.breadcrumb-nav {
    .breadcrumb {
        .breadcrumb-item {
            text-transform: capitalize;
            & + .breadcrumb-item::before {
                color: $black;
            }
            a {
                color: $black;
                position: relative;
                @include transition(0.3s, ease-in-out);
                &::before {
                    content: '';
                    height: 1px;
                    background: $primary;
                    width: 0;
                    display: inline-block;
                    @include transition(0.2s, ease-in-out);
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                }
                &:hover {
                    color: $primary;
                    &::before {
                        width: 70%;
                    }
                }
            }
            &.active {
                color: $primary;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }
    }
}

.icw-sticky {
    background: linear-gradient(90deg, $blue 34%, $primary 100%);
    color: #fff;
    position: sticky;
    bottom: 0;
    padding: 30px;
    z-index: 99;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
    .event-sticky-info {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 15px;
        @include align-items(center);
        @include justify-content(space-between); 
        @media (max-width: 992px) {
            grid-template-columns: 100%;
        }
    }
    .close-sticky{
        position: absolute;
        top: 8px;
        right: 15px;
        color: $white;
        font-size: 30px;
        line-height:100%;   
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 992px) {
            top: 3px;
        }
    }
    .event-info {
        @include flexbox;
        @include align-items(center);
        .desc {
            .title {
                font-size: 24px;
                font-weight: 600;
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
            .date {
                font-size: 16px;
                font-weight: 500;
                @include inline-flex;
                @include align-items(center);
                line-height: 1;
                margin-top: 10px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                .icon-calendar {
                    background: url(../images/icons/icon-calendar.svg) no-repeat center;
                    background-size: contain;
                    margin-right: 10px;
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                }
            }
        }
    }
    .timer-sticky{
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        text-align: center;
        div {
            flex: none;
            line-height: 1;
        }
        .countdown-number{
            background: rgba($black, 0.3);
            padding: 10px 15px;
            font-weight: 500;
            font-size: 22px;
            min-width: 60px;
            @include border-radius(10px);
            @media (max-width: 767px) {
                font-size: 20px;
            }
            .countdown-text{
                font-size: 14px;
                font-weight: 400;
                display: block;
                color: $white;
                padding-top: 8px;
            }
        }   
        .dots {
            padding: 0 10px;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .event-content {
        @include flexbox;
        @include align-items(center);
        gap: 40px;
        @media (max-width: 992px) {
            margin-top: 30px;
            @include justify-content(space-between);
        }
        @media (max-width: 575px) {
            @include flex-direction(column);
            @include align-items(flex-start);
            gap: 30px;
        }
    }
}
