.main-section {
    position: relative;
    padding: 150px 0;
    @media (max-width: 992px) {        
        padding: 100px 0;
    }
    @media (max-width: 767px) {        
        padding: 50px 0;
    }
    .container {
        position: relative;
    }
}
.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
    &.is-flex {
        @media (min-width: 1200px) {
            @include flexbox;
            @include justify-content(space-between);
            .title, .sort-info {
                margin-bottom: 0;
            }
        }
    }
    .tag {
        color: $primary;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .title {        
        margin-bottom: 20px;
        span {
            font-weight: 900;
            color: $primary;
        }
    }
    .sort-info {
        &.mw-600 {
            max-width: 600px;
        }
        &.mw-500 {
            max-width: 500px;
        }
    }
    .action {
        margin-top: 30px;
        @include flexbox;
        gap: 10px 30px;
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
}
.with-outer-content-block {
    padding: 150px 10%;
    margin: 0 -10%;  
    @media (max-width: 1500px) {
        padding: 120px 5%;
        margin: 0 -5%
    }
    @media (max-width: 767px) {
        padding: 50px 8%;
        margin: 0 -8%
    }
    @media (max-width: 600px) {
        padding: 50px 15px;
        margin: 0 -15px;
    }
}
.page-header {
    .with-outer-content-block {
        background-color: $gray;
        background-image: var(--bg-img);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .header-inner-content {
        max-width: 750px;
        background: $white;
        padding: 80px;
        border-left: 15px solid $primary;
        .section-title {
            margin-bottom: 0;
            max-width: 600px;
            .sort-info {
                font-size: 22px;
            }
            .action {
                max-width: 500px;
                .btn {
                    width: 100%;
                }
            }
        }
    }
}
.partner-block {
    .title {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        font-weight: 500;
        max-width: 450px;
        margin: 0 auto;
        position: relative;
        &::before {
            content: '';
            background: rgba($black, 0.1);
            height: 1px;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        span {
            font-size: 20px;
            color: $blue;
            padding: 0 10px;
            background: $white;
        }
    }
    .logo-block {
        @include flexbox;
        
    }
}