.main-section {
    position: relative;
    padding: 150px 0;
    @media (max-width: 992px) {        
        padding: 100px 0;
    }
    @media (max-width: 767px) {        
        padding: 50px 0;
    }
    .container {
        position: relative;
    }
}
.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
    &.is-flex {
        @media (min-width: 1200px) {
            @include flexbox;
            @include justify-content(space-between);
            .title, .sort-info {
                margin-bottom: 0;
            }
        }
    }
    .tag {
        color: $primary;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .title {        
        margin-bottom: 20px;
        span {
            font-weight: 900;
            color: $primary;
        }
        @media (min-width: 1200px) {   
            margin-top: -15px;
        }
    }
    .sort-info {
        margin-bottom: 30px;
        line-height: 1.3;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        &.mw-600 {
            max-width: 600px;
        }
        &.mw-500 {
            max-width: 500px;
        }
        small {
            font-size: 18px;
            line-height: 1.5;
            display: inline-block;
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        strong {
            font-size: 25px;
            line-height: 1.5;
            display: inline-block;
            @media (max-width: 1400px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
    .contact-info {
        margin-top: 40px;
        @media (max-width: 767px) {
            margin-top: 25px;
        }
    }
}
.contact-info {
    @include flexbox;
    @include align-items(center);
    gap: 15px;
    span {
        font-size: 14px;
    }
    .call-action {
        line-height: 1;
        span {
            font-size: 12px;
            display: block;
            line-height: 1;
            margin-bottom: 5px;
        }
    }
}
.page-header {
    background-color: #F8F8F8;
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
    overflow: hidden;
    @media (max-width: 992px) {
        padding-top: 65px;
    }
}
.page-header-block {
    padding: 100px 0 200px;
    @media (max-width: 992px) {
        padding: 70px 0 150px;
    }
    @media (max-width: 767px) {
        padding: 50px 0 100px;
    }
    &.pb-100 {
        padding-bottom: 100px;
        @media (max-width: 992px) {
            padding-bottom: 70px;
        }
        @media (max-width: 767px) {
            padding-bottom: 50px;
        }
    }
    .section-title {
        z-index: 3;
        position: relative;
        @media (max-width: 992px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        &.text-center {
            max-width: 660px;
            margin: 0 auto;
            .sort-info {                
                margin: 0 auto 40px;
            }
            .contact-info {                
                @include justify-content(center);
                @media (max-width: 575px) {
                    @include flex-direction(row);
                    @include align-items(center);
                    gap: 10px;
                }
            }
        }
        .tag {
            background: $primary;
            color: $white;
            font-size: 18px;
            padding: 8px 15px;
            line-height: 1;
            display: inline-block;
            @include border-radius(30px);
        }
        .title {
            color: $primary;
            @media (min-width: 1200px) {                
                white-space: nowrap;
                margin-top: -10px;
            }
            span {
                font-size: 75px;
                color: $white;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 65px;
                }
                @media (max-width: 767px) {
                    font-size: 45px;
                }
            }
        }
        .sort-info {
            color: $white;
            font-size: 22px;
            max-width: 550px;
            @media (max-width: 992px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        .contact-info {
            color: $white;
            .call-action span {
                text-align: left;
            }
        }
    }
    .image-block, .video-block {        
        @include border-radius(25px);
        img {
            height: 100%;
        }
    }
    .splide {           
        .splide__track {
            @include border-radius(25px);
        }
        .icw-slide-dots {
            bottom: -30px;
            @include justify-content(center);
        }
        .splide__slide {
            max-height: 400px;
            @media (max-width: 992px) {                
                max-height: 300px;
            }
        }
    }
    &.is-inner-page {
        .section-title {
            .title {
                color: $white;
                font-size: 90px;
                font-weight: 600;
                @media (max-width: 992px) {
                    font-size: 70px;
                }
                @media (max-width: 767px) {
                    font-size: 50px;
                }
            }
            .sort-info {
                strong {
                    color: $primary; 
                }
            }
        }
    }
}
.home-page-header {
    .page-header-block {
        padding: 100px 0 300px;
        @media (max-width: 992px) {
            padding: 70px 0 200px;
        }
        @media (max-width: 767px) {
            padding: 50px 0 150px;
        }
    }
    & + .section-overlap {
        margin-top: -200px;
        @media (max-width: 992px) {
            margin-top: -130px;
        }
        @media (max-width: 767px) {
            margin-top: -140px;
        }
    }
}
.auto-width-slider {
    @media (min-width: 992px) {
        margin-left: -50px;
        width: calc(100% + 60%);
    }
    .splide__track {
        @media (max-width: 992px) {
            overflow: visible;
        }
    }
    .icw-slide-dots {
        @include justify-content(flex-start !important);
        padding-left: 250px !important;
        bottom: -30px;
        @media (max-width: 992px) {    
            @include justify-content(center !important);            
            padding-left: 0 !important;
        }
    }
}
.gallery-slider {
    .splide__track {
        overflow: visible;
    }
    .image-block {
        @include border-radius(0);
        display: inline-block;
    }
}
.is-video {
    position: relative;
    .play-icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        background-size: contain !important;
        background: url(../images/icons/icon-play.svg) no-repeat center center;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        @include transition(0.2s, ease-in-out);
        &.icon-sm {
            width: 50px;
            height: 50px;
        }
    }   
    &:hover, &:focus {
        img, video {
            @include transform(scale(1.05));
        }
        .play-icon {
            @include transform(translate(-50%, -50%) scale(1.1));
        }
    }
}
.image-block, .video-block {
    height: 100%;
    overflow: hidden;
    position: relative;
    img, video {
        width: 100%;
        @include transition(0.3s, ease-in-out);
    }
    &.ratio-4x3 {
        --bs-aspect-ratio: 56%;
    }    
    &:hover, &:focus {
        img, video {
            @include transform(scale(1.05));
        }
        .play-icon {
            @include transform(translate(-50%, -50%) scale(1.1));
        }
    }
}
.video-block {
    cursor: pointer;    
}

.blog-meta-info {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    gap: 15px;
    margin-bottom: 15px;
    .blog-meta-badge {
        color: var(--cat-text-color);
        font-size: 12px;
        background: var(--cat-bg);
        padding: 3px 10px;
        @include border-radius(30px);
        @include inline-flex;
        width: max-content;
        z-index: 3; 
        position: relative;   
        @include transition(0.2s, ease-in-out);      
        &:hover, &:focus {
            background: var(--cat-text-color);
            color: $white;
        }
    }
}
.info-card {
    padding: 20px;
    background: $white;
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    &.is-icon-left {
        @include flex-direction(row);
        gap: 10px;
        .icon {
            width: 22px;
            height: 22px;
            flex: none;
        }
    }
    &.is-number-card {
        .icon {
            width: 60px;
            height: 60px;
            flex: none;
            background: $primary;
            font-size: 36px;
            color: $white;
            font-weight: 700;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            line-height: 0.5;
            @include border-radius(50%);
            margin-bottom: 10px;
            margin-top: -50px;
        }
    }
    .card-content {
        h3 {
            font-family: $bodyfont;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 5px;
        }
        .sort-info {
            font-size: 16px;
        }
    }
}

.feedback-card {
    background: $white; @include flexbox;
    @include flex-direction(column);
    height: 100%;
    .feedback-content {
        padding: 20px;
        flex: 1 1 auto;
        .title {
            font-size: 20px;
            color: $black;
            margin-bottom: 20px;
            font-family: $bodyfont;
            @media (max-width: 992px) {                
                font-size: 18px;
            }
        }
        .feedback-star {
            line-height: 0.7;
        }
        .sort-info {
            font-size: 16px;
            margin-top: 20px; 
            @media (max-width: 992px) {                
                font-size: 16px;
            }
        }
    }
    .feedback-user {
        background: $primary;
        padding: 15px 20px;
        .user-info {
            @include flexbox;
            @include align-items(center);
            .user-img {
                margin-right: 10px;
                img {
                    width: 28px;
                    height: 28px;
                    flex: none;
                    @include border-radius(50%);
                }
            }
            .name {
                font-size: 16px;
                color: $white;
                font-weight: 500;
            }
            &:hover, &:focus {
                .name {
                    opacity: 0.8;
                }
            }
        }
    }
}

.post-slider-section {
    overflow: hidden;
    .post-slider {
        .splide__track {
            overflow: visible;
        }
        .splide__arrows .splide__arrow {
            &:disabled {
                opacity: 0;
            }
        }
        .icw-slide-dots {
            bottom: -30px;
        }
    }
}

.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    @include transition(0.2s, ease-in-out);
    .card-img {
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 4/3;
            @include transition(0.2s, ease-in-out);
        }
        .image-block {
            @include border-radius(0);
        }
    }
    .card-slider {
        position: relative;
        z-index: 3;
        max-width: 500px;
        min-width: 500px;
        overflow: hidden;
        @media (max-width: 1440px) {
            max-width: 400px;
            min-width: 400px;
        }
        @media (max-width: 992px) {
            max-width: 300px;
            min-width: 300px;
        }
        @media (max-width: 767px) {
            max-width: 100%;
        }
        .image-block {
            @include border-radius(0);
            max-height: 320px;
            @media (max-width: 767px) {
                max-height: 250px;
            }
        }
        .icw-slide-dots  {
            bottom: 20px;
        }
        &:hover {
            .splide__arrows .splide__arrow {       
                &.splide__arrow--prev {
                    left: 20px;
                }
                &.splide__arrow--next {
                    right: 20px;
                }
            }
        }
    }
    .card-body {
        background: $white;
        padding: 20px;
        color: $black;
        @include flexbox;
        @include flex-direction(column);
        @include transition(0.2s, ease-in-out);        
        .date-time {
            color: rgba($black, 0.6);
            font-size: 12px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            margin-bottom: 15px;
            .icon-time {
                background: url('data:image/svg+xml; utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.375V6.5L8.0625 7.4375M12.125 6.5C12.125 9.60663 9.60663 12.125 6.5 12.125C3.3934 12.125 0.875 9.60663 0.875 6.5C0.875 3.3934 3.3934 0.875 6.5 0.875C9.60663 0.875 12.125 3.3934 12.125 6.5Z" stroke="black" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                background-size: contain;
                width: 12px;
                height: 12px;
                display: inline-block;
                margin-right: 5px
            }
            span {
                @include inline-flex;
                @include align-items(center);
            }
        }
        .title {
            font-size: 22px;
            font-family: $bodyfont;
            margin-bottom: 20px;
            font-weight: 600;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 767px) { 
                margin-bottom: 15px;
            }
            a {
                color: $black;
                @include transition(0.2s, ease-in-out);
            }
        }
        .sort-info {
            font-size: 16px;
            flex: 1 1 auto;
            margin-bottom: 10px;
            p {
                font-size: 16px;
                margin-bottom: 10px;
                line-height: 1.3;
            }
            @media (max-width: 992px) {
                font-size: 14px;
                p {
                    font-size: 14px;
                }
            }
        }
        .card-action {
            margin-top: 10px;
            .btn-arrow-link {
                font-size: 16px;
                font-weight: 500; 
                @include transition(0.2s, ease-in-out);
            }
            .contact-info {
                z-index: 3;
                position: relative;
                span {
                    color: rgba($black, 0.2);
                }
                .call-action {
                    span {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }
            .user-info {
                @include flexbox;
                @include align-items(center);
                .user-img {
                    margin-right: 10px;
                    img {
                        width: 28px;
                        height: 28px;
                        flex: none;
                        @include border-radius(50%);
                    }
                }
                .name {
                    font-size: 14px;
                    color: rgba($black, 0.6);
                    font-weight: 500;
                }
            }
        }
    }
    &.is-horizontal {
        @include flex-direction(row);
        @media (max-width: 767px) {
            @include flex-direction(column);
        }
        .card-img {
            overflow: hidden;
            max-width: 500px;
            min-width: 500px;
            max-height: 320px;
            @media (max-width: 1440px) {
                max-height: 100%;
                max-width: 400px;
                min-width: 400px;
            }
            @media (max-width: 992px) {
                max-height: 100%;
                max-width: 300px;
                min-width: 300px;
            }
            @media (max-width: 767px) {
                max-width: 100%;
                max-height: 250px;
            }
            img {                
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .card-body {
            margin: 30px 0 30px 30px;
            padding: 30px;
            @media (max-width: 992px) {                
                margin: 20px 0 20px 20px;
                padding: 20px;
            }
            @media (max-width: 767px) {                
                margin: 0;
                padding: 20px;
            }
        }
    }
    &:hover, &:focus {
        @include box-shadow(0 10px 10px 0 rgba(0,0,0,0.05));
        .card-img {
            img {
                @include transform(scale(1.1));
            }
        }
        .card-body { 
            .title {
                color: $primary;
                a {
                    color: $primary;
                }
            }
        }
        .card-footer {
            .btn-arrow-link {
                background-position: 100% center;
            }
        }
        &.is-horizontal {
            @include box-shadow(none);
            .card-body {
                @include box-shadow(0 10px 10px 0 rgba(0,0,0,0.05));
            }
        }
    }
}

.team-card {
    position: relative;
    overflow: hidden;
    .user-img {
        img {     
            width: 100%;       
            @include transition(0.2s, ease-in-out);
        }
    }
    .user-info {
        margin: 20px;
        background: $white;
        padding: 20px 30px;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: calc(100% - 40px);
        h3 {
            font-size: 20px;
            font-family: $bodyfont;
            font-weight: 500;
            margin-bottom: 5px;
            @include transition(0.2s, ease-in-out);
        }
        .designation {
            font-size: 14px;
        }
    }
    .user-hover {
        position: absolute;
        top: 0;
        right: -100px;
        width: 70px;
        height: 100%;
        @include flexbox;
        @include justify-content(center);
        background: $white;                
        @include transition(0.2s, ease-in-out);
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        padding: 20px;
        @include box-shadow(0 5px 15px 0 rgba($black, 0.5));
        .social-list {
            .social-item {
                display: inline-block;
                line-height: 0.7;
                margin-bottom: 10px;
                .icon {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-size: contain !important;
                    @include transition(0.2s, ease-in-out);
                    &.icon-linkedin {
                        background: url(../images/icons/icon-linkedin.svg) no-repeat center center;
                    }
                    &:hover {
                        @include transform(scale(1.05));
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        .user-img {
            img {
                @include transform(scale(1.1));
            }
        }
        .user-info {
            h3 {
                color: $primary;
            }
        }
        .user-hover {
            opacity: 1;
            visibility: visible;
            right: 0;
        }
    }
}
.counter-block {
    max-width: 1000px;
}
.with-bg-counter-block {
    padding: 50px 0;
    max-width: 100%;
    .section-title {
        @media (max-width: 1400px) and (min-width: 767px) {
            max-width: 50%;
        }
        h2 {
            font-size: 46px;
        }
    }
    .counter-box {
        background: $white;
        color: $primary;
        padding: 40px;
        @include border-radius(30px);
        text-align: center;
        height: 100%;
        @media (max-width: 1400px) {
            padding: 30px;
        }
        @media (max-width: 992px) {
            padding: 20px;
        }
        h3 {
            font-size: 68px;
            font-weight: 500; 
            @media (max-width: 1400px) {
                font-size: 55px;
            }
        }
        .info-text {
            font-size: 30px;
            margin-bottom: 0;
            line-height: 1;
            @media (max-width: 1400px) {
                font-size: 25px;
            }
            @media (max-width: 992px) {
                font-size: 20px;
            }
        }
    }
}
.counter-box {
    .count-number {
        font-size: 150px;
        font-weight: 400;
        line-height: 0.9;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
            font-size: 120px;
        }
        @media (max-width: 992px) {
            font-size: 90px;
        }
        @media (max-width: 767px) {
            font-size: 65px;
        }
        span {
            display: inline-block;
        }
    }
    .info-text {
        font-size: 40px;
        line-height: 0.9;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
            font-size: 30px;
        }
        @media (max-width: 992px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    .btn-arrow-link {
        z-index: 3;
        position: relative;
        &:hover {
            opacity: 0.9;
        }
    }
    &.is-small {
        .count-number {
            font-size: 22px;
            font-family: $bodyfont;
            line-height: 1.3;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
            span {
                display: inline-block;
            }
        }
        .info-text {
            font-size: 16px;
            font-family: $bodyfont;
            line-height: 1.3;
            max-width: 370px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
}
.logo-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }
    &.logo-lg-list {
        grid-template-columns: repeat(6, 1fr);        
        @media (max-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 575px) {
            grid-template-columns: repeat(2, 1fr);
        }
        .logo-item {
            aspect-ratio: 1/1;
            img {
                max-height: 100%;
            }
        }
    }
    .logo-item {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
        flex-grow: 1;
        background: $white;
        padding: 20px;
        border: 1px solid transparent;
        @include transition(0.1s, ease-in-out);
        img {
            max-height: 56px;
            @include transition(0.1s, ease-in-out);
        }
        &.is-overlay-hover {
            position: relative;
            img {
                @media (max-width: 992px) {
                    min-height: auto;
                }
            }
            .hover-text {
                position: absolute;
                width: 100%;
                height: 100%;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                background: rgba($black, 0.1);                
                @include transition(0.2s, ease-in-out);
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover, &:focus {
            border-color: #E4E4E4;
            @include transform(translateY(-5px));
            &.is-overlay-hover {
                @include box-shadow(inset 0 0 0 1px #E4E4E4);
                .hover-text { 
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.icon-box {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    padding: 30px;
    position: relative;
    @media (max-width: 992px) {
        padding: 20px;
    }
    &.with-border {
        border: 1px solid rgba($primary, 0.7);
        text-align: center;
    }
    .icon {
        margin-bottom: 20px;
        img {
            width: 82px;
            height: 82px;
            flex: none;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 992px) {
                width: 65px;
                height: 65px;
            }
        }
    }
    .info {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    .arrow {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 34px;
        height: 34px;
        flex: none;
        display: inline-block;
        background: url('data:image/svg+xml; utf8,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.375 27.625L27.625 6.375M27.625 6.375L11.6875 6.375M27.625 6.375V22.3125" stroke="rgb(236 82 54)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: contain;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 992px) {
            width: 25px;
            height: 25px;
        }
    }
    &:hover, &:focus {
        .icon {
            img {
                @include transform(scale(1.1));
            }
        }
        .info { 
            @include opacity(0.9);
        }
        .arrow {
            @include transform(translate(10px, -10px));
        }
    }
}

.form-block {
    background: $black;
    @include border-radius(10px);
    background: $black;
    height: 100%;
    padding: 50px;
    @media (max-width: 992px) {
        padding: 30px;
    }
}

.contact-form-section {
    .content-block {
        background: $primary;
        padding: 50px;
        color: $white;
        @media (max-width: 992px) {
            padding: 30px;
        }
    }
    .form-block {
        @include border-radius(0);
    }
}

.img-text-box-list-section {
    &.with-vector {
        &::before {
            bottom: -5%;
            @media (max-width: 992px) {
                content: none;
            }
        }
    }
	.img-text-box-lists {		
		.row:not(:last-child) {
			margin-bottom: 150px;
            @media (max-width: 992px) {
                margin-bottom: 100px;
            }
            @media (max-width: 767px) {
                margin-bottom: 50px;
            }
		}
	}
	.image-block {
        max-width: 700px;
		@include transition(0.2s, ease-in-out);
		img {
			width: 100%;
		}
	}
    @media (max-width: 992px) {
        .section-title {
            margin-top: 30px;
        }
    }
    .flex-lg-row-reverse {
        @media (min-width: 992px) {
            .image-block {
                margin-left: auto;
            }
        }
    }
}

.number-card-section {
    .number-card-content {
        & > * {
            margin-top: 70px;
            @media (max-width: 767px) {
                margin-top: 60px;
            }
        }
    }
}

.collapse-block {
    margin-left: auto;
    max-width: 750px;
    .collapse-item {
        padding: 20px;
        background: $white;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        @media (max-width: 767px) {
            padding: 15px;
        }
        &.is-open {
            .collapse-title {                
                &:after {
                    @include transform(rotate(0deg));
                    filter: unset;
                }
            }
        }
        &:hover, &:focus {
            @include box-shadow(0 5px 5px rgba($black, 0.03));
            .collapse-title {
                h3 {
                    color: $secondary;
                }
                &:after {
                    filter: unset;
                }
            }
        }
    
        .collapse-title {
            @include flexbox();
            @include align-items(flex-start);
            text-align: left;
            cursor: pointer;
            background-color: transparent;
            border: none;
            width: 100%;
            padding: 0;		
            @include transition(0.2s, ease-in-out);
            &:after {
                content: "";
                width: 16px;
                height: 16px;
                flex: none;
                margin-left: auto;
                background: url(../images/icons/icon-close.svg) no-repeat center center;
                background-size: 16px;
                @include transition(0.2s, ease-in-out);
                @include transform(rotate(45deg));
                filter: brightness(0);
                @media (max-width: 767px) {
                    width: 12px;
                    height: 12px;
                }
            }
            h3 {
                color: $black;
                font-size: 18px;
                font-family: $bodyfont;
                font-weight: 500;
                line-height: 1.3;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
        .card-content {
            color: $black;
            font-size: 16px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            a {
                font-size: 16px;
                text-decoration: underline;
                text-underline-offset: 4px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
        .collapse-body {
            margin-top: 12px;
            padding-right: 40px;
            
        }
    }
}

.offcanvas-project-detail {
    --bs-offcanvas-height: 600px;
    padding: 50px 0;
    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 16px;
        height: 16px;
        padding: 0;
    }
    .offcanvas-body {
        padding: 0;
        .project-detail-block {
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(flex-end);
            @media (max-width: 767px) {
                @include flex-direction(column-reverse);
                @include align-items(flex-start);
            }
            .section-title {
                .title {
                    font-family: $bodyfont;
                    font-weight: 600;
                    margin-top: 0;
                }
                .sort-info {
                    max-width: 800px;
                }
                .location {
                    @include flexbox;
                    @include align-items(center);
                    font-size: 16px;
                    .icon {
                        display: inline-block;
                        line-height: 0.7;
                        &:hover, &:focus {
                            .icon-location {
                                filter: unset;
                            }
                        }
                    }
                    .icon-location {
                        background: url(../images/icons/icon-location.svg) no-repeat center center;
                        background-size: contain;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        flex: none;
                        filter: brightness(0);
                        margin-right: 5px;
                        @include transition(0.2s, ease-in-out);
                    }
                }
            }
            .logo {
                width: 150px;
                height: 150px;
                flex: none;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                border: 1px solid #D9D9D9;
                @include border-radius(5px);
                padding: 20px;
                margin-left: 20px;
                @include transition(0.2s, ease-in-out);
                @media (max-width: 767px) {
                    margin-left: 0;
                    margin-bottom: 20px;
                }
                img {
                    width: 100%;
                    @include transition(0.2s, ease-in-out);
                }
                &:hover, &:focus {
                    @include box-shadow(inset 0 0 0 1px #D9D9D9);
                }
            }
        }
        .project-img-grid {
            margin-top: 30px;
            .image-list {
                @include flexbox;
                @include align-items(center);
                gap: 20px;
                padding: 5px;
                overflow: hidden;
                overflow-x: auto;                
                &::-webkit-scrollbar { width:6px; height: 8px; background-color:#fafafa; }
                &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.2); }
                .img-item {
                    @include border-radius(12px);
                    overflow: hidden;
                    flex-shrink: 0;
                    img {
                        @include transition(0.2s, ease-in-out);
                        object-fit: cover;
                        object-position: center;
                        height: 270px;
                        @media (max-width: 767px) {
                            height: 200px;
                        }
                    }
                    &:hover, &:focus {
                        img {
                            @include transform(scale(1.05));
                        }
                    }
                }
            }
        }
          
    }
}
.feedback-section {
    .feedback-slider {
        margin-bottom: 40px;
        @media (max-width: 992px) {                
            margin-bottom: 20px;
        }
        .icw-slide-dots {
            bottom: -40px;
            padding: 0;
            @include justify-content(flex-start);
        }
    }
}