/* ---------- Header Contacts ---------- */
.wrapper-contacts {
    margin: 0 -28px;
    .contact-item {
        position: relative;
        margin: 0 28px;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        &:not(:last-child) {
            margin: 0 0 0 28px;
            padding: 0 28px 0 0;
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 4px;
                position: absolute;
                right: 0;
                left: initial;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
        .contact-item-title {
            margin-right: 3px;
            font-weight: 600;
        }
    }

    &.top-bar-contacts {
        display: inline-block;
        vertical-align: top;
        padding: 5px 0 4px;
    }
}