/* ---------- Header Contacts ---------- */
.wrapper-info {
    margin: 0 -15px;
    .top-bar-additional-text {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        &:not(:last-child) {
            margin: 0 15px;
        }
        .additional-text-title {
            font-weight: 600;
        }
    }
}