/* ---------- Header User Menu ---------- */
ul.top-bar-menu {
    @include flex(row, wrap, flex-start, flex-start);
    padding: 5px 0 4px;
    margin: 0 -18px;
    list-style: none;
    li {
        margin: 0 18px;
        padding: 0;
        &:before {
            display: none;
            content: none;
        }
    }
    li {
        &:not(:last-child) {
            margin: 0 0 0 18px;
            padding: 0 18px 0 0;
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 4px;
                position: absolute;
                right: 0;
                left: initial;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
    }
    a {
        display: block;
    }
}