/* ---------- Header Loader ---------- */

.page-loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1030;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.page-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100px;
    .page-loader-logo {
        position: relative;
        z-index: 2;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}
.woocommerce .loader:before {
    content: none;
    display: none;
}
.page-loader-inner{
    animation-name: pulsate;
    -webkit-animation-name: pulsate;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
@-webkit-keyframes pulsate {
    50% {
        -webkit-transform: scale(0.85, 0.85);
        transform: scale(0.85, 0.85);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes pulsate {
    50% {
        -webkit-transform: scale(0.85, 0.85);
        transform: scale(0.85, 0.85);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}