.main-header {   
    background: $bodybg;  
    padding: 20px;
    z-index: 1040;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%; 
    @media (max-width: 767px) {
        padding: 10px 15px;
    }
    .navbar {
        border-radius: 15px;
        border: 1px solid #E7EEFF;
        padding: 15px 25px;
        background: $white;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
        @media (max-width: 767px) {
            padding: 10px;
            @include border-radius(10px);
        }
        .navbar-brand {
            padding: 0;
            margin: 0;
            img {
                max-height: 50px;
                max-width: 135px;
                @media (max-width: 767px) {
                    max-height: 35px;
                }
                @media (max-width: 575px) {
                    max-height: 28px;
                }
            }
        }
        .navbar-nav {
            margin-left: 100px;
            @media (max-width: 1600px) {
                margin-left: 70px;
            }
            @media (max-width: 1440px) {
                margin-left: 40px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
            .nav-item {
                padding: 0 10px;
                @media (max-width: 1600px) {
                    padding: 0 8px;
                }
                .nav-link {
                    font-size: 16px;
                    color: $black;
                    padding: 0;
                    @media (max-width: 1440px) {
                        font-size: 14px;
                    }
                }
                &:hover {
                    .nav-link {
                        color: $primary;
                    }
                }
                &.dropdown {
                    .dropdown-toggle {
                        font-size: 16px;
                        color: $black;
                        position: relative;
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                        &::after {
                            filter: brightness(0);
                        }
                        &.show {
                            &::after {
                                @include transform(rotate(180deg))
                            }
                        }   
                    }
                    &:hover, &:focus {
                        .dropdown-toggle {
                            color: $primary;
                        }
                    }
                    .dropdown-menu {
                        @include transition(0.3s, ease-in-out);
                        li {
                            a {
                                font-size: 14px;
                                padding: 10px 15px;
                                color: $black;
                                @include transition(0.3s, ease-in-out);                                
                            }
                        }              
                    }
                }
            }
        }
        .search-form {
            margin-left: 40px;
            margin-right: 25px;
            @media (max-width: 1440px) {
                margin-left: 20px;
                margin-right: 15px;
            }
        }
        .header-right-block {
            @include flexbox;
            @include align-items(center);
            margin-left: auto;            
            .header-dropdown {
                border-left: 1px solid rgba(#001926, 0.1);   
                .dropdown-toggle { 
                    .icon {
                        @include box-shadow(none);
                        @include border-radius(0);
                        margin: 0 10px;      
                        background: transparent;
                        position: relative;
                        @media (max-width: 1440px) {
                            width: 35px;
                            height: 35px;
                            margin: 0 5px;
                        }
                        @media (max-width: 575px) {
                            width: 25px;
                            height: 25px;
                            margin: 0 2px;
                        }
                        svg {
                            width: 24px;
                            height: 24px;
                            @media (max-width: 1440px) {
                                width: 18px;
                                height: 18px;
                            }
                            @media (max-width: 575px) {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }                
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out); 
                        }
                    }   
                    .number {
                        position: absolute;
                        font-size: 8px;
                        color: $white;
                        width: 12px;
                        height: 12px;
                        flex: none;
                        @include border-radius(50%);
                        @include inline-flex; 
                        @include align-items(center); 
                        @include justify-content(center);
                        background: #82D973;
                        top: 6px;
                        right: 6px;
                        @media (max-width: 1440px) {
                            top: 3px;
                            right: 3px;
                        }
                        @media (max-width: 575px) {
                            width: 10px;
                            height: 10px;
                            font-size: 7px;
                            top: 1px;
                            right: 1px;
                        }
                        &.bg-red {
                            background: #f00;
                        }
                    }
                    &::after {
                        content: none;
                    }
                }
                .dropdown-menu {                    
                    min-width: 280px;
                    @media (min-width: 1440px) {
                        left: 18px;
                    }
                    @media (min-width: 767px) {
                        left: 12px;
                    }
                    &[data-bs-popper="static"] {
                        position: absolute;
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
            .profile-dropdown { 
                border-left: 1px solid rgba(#001926, 0.1);
                padding: 0 20px;
                @media (max-width: 1440px) {
                    padding: 0 15px;
                }
                @media (max-width: 575px) {
                    padding: 0 10px;
                }
                .dropdown-toggle {
                    @include flexbox;
                    @include align-items(center);
                    &::after {
                        content: none;
                    }
                    .user-img {
                        width: 45px;
                        height: 45px;
                        flex: none;
                        @include inline-flex;
                        @include align-items(flex-end);
                        @include justify-content(center);
                        @include border-radius(50%);
                        background: #FFC20E;
                        overflow: hidden;
                        margin-right: 15px; 
                        @media (max-width: 1440px) {
                            width: 35px;
                            height: 35px;
                        }
                        @media (max-width: 767px) {
                            margin-right: 0;
                        }
                        @media (max-width: 575px) {
                            width: 25px;
                            height: 25px;
                        }
                        img {
                            @include transition(0.3s, ease-in-out);
                        }
                    }              
                }
                .user-name { 
                    display: none;                  
                    .name {
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
                        @include transition(0.3s, ease-in-out);
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                    }
                    .post {
                        font-size: 12px;
                        color: #000;
                        @media (max-width: 1440px) {
                            font-size: 10px;
                        }
                    }
                }
                .dropdown-menu {
                    min-width: 180px;
                    left: 20px;
                    @include transition(0.3s, ease-in-out);
                    @media (max-width: 767px) {
                        right: 0;
                        left: auto;
                    }
                    li {
                        border-bottom: none;
                        .icon {
                            @include box-shadow(none);
                            width: 18px;
                            height: 18px;
                            @include border-radius(0);
                            background: transparent;
                        }                       
                        &.with-bg {                    
                            background: #F8F8F8;
                            &.border-top {
                                border-top: 1px solid #E7EEFF;   
                            }
                            &.border-bottom {
                                border-bottom: 1px solid #E7EEFF;
                            }
                        }
                        &:hover, &:focus {
                            &.with-bg {
                                background: rgba(235,241,255,0.7);
                            }
                        }
                        .text-red {
                            svg {
                                path {
                                    fill: #F20000;
                                }
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        .user-name {
                            .name {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .setting-dropdown {
                .dropdown-toggle {   
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    flex: none;
                    .icon {
                        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                    }
                    @media (max-width: 1440px) {
                        .icon {
                            width: 38px;
                            height: 38px;
                            border-radius: 8px;
                        }
                    }
                    @media (max-width: 575px) {
                        .icon {
                            width: 25px;
                            height: 25px;
                            border-radius: 3px;
                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    &::after, &:before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    @include transition(0.3s, ease-in-out);
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
            .search-dropdown {
                padding: 0 12px;
                @media (max-width: 575px) {
                    padding: 0 8px;
                }
                .dropdown-toggle { 
                    height: 38px; 
                    @media (max-width: 575px) {
                        height: 25px; 
                    }
                    .icon {
                        width: 18px;
                        height: 18px;
                        @media (max-width: 575px) {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    &::after, &:before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                    .search-form {
                        margin: 0;
                        min-width: 250px;
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
        }
        .navbar-toggler {
            @media (max-width: 1200px) {
                border-radius: 10px;
                background: #FFF;
                border: none;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                width: 40px;
                height: 40px;
                margin-right: 12px;                
                padding: 0;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                flex: none;
                @include flex-direction(column);
                @media (max-width: 575px) {
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                    border-radius: 3px;
                }
                span {
                    width: 20px; 
                    height: 1px; 
                    margin: 3px 0; 
                    background-color: $black; 
                    display: block; 				
                    position: relative; 
                    @include transition(0.3s, ease-in-out);    
                    @media (max-width: 575px) {
                        width: 16px; 
                        margin: 2px 0;
                    }               
                }
            }
            &.is-open {
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg)); top: 7px;
					}
					&:nth-child(2) {
						@include opacity(0); visibility: hidden;
					}
					&:nth-child(3) {
						@include transform(rotate(-135deg)); top: -7px;
					}
                    @media (max-width: 575px) {
                        &:nth-child(1) {
                            @include transform(rotate(135deg)); top: 5px;
                        }
                        &:nth-child(2) {
                            @include opacity(0); visibility: hidden;
                        }
                        &:nth-child(3) {
                            @include transform(rotate(-135deg)); top: -5px;
                        }
                    }  
				}				
			}
        }
    }
}