.main-header {
    border-radius: 15px;
    border: 1px solid #E7EEFF;
    background: #FFF;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 15px 25px;
    z-index: 1040;
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: calc(100% - 40px);
    width: 100%;
    @media (max-width: 1600px) {
        padding: 15px;
    }
    @media (max-width: 1200px) {
        top: 10px;
        left: 10px;
        max-width: calc(100% - 20px);
    }
    @media (max-width: 575px) {
        max-width: 100%;
        left: 0;
        top: 0;
        border-radius: 0px;
        padding: 10px;
    }
    &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: #f8f8f8;
        z-index: -1;
    }
    
    .navbar {
        padding: 0;
        .navbar-brand {
            padding: 0;
            margin: 0;
            img {
                max-height: 50px;
                max-width: 135px;
                @media (max-width: 1440px) {
                    max-height: 45px;
                }
                @media (max-width: 575px) {
                    max-height: 38px;
                }
            }
        }
        .navbar-nav {
            margin-left: 100px;
            @media (max-width: 1600px) {
                margin-left: 70px;
            }
            @media (max-width: 1440px) {
                margin-left: 40px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
            .nav-item {
                padding: 0 10px;
                @media (max-width: 1600px) {
                    padding: 0 8px;
                }
                .nav-link {
                    font-size: 16px;
                    color: $black;
                    padding: 0;
                    @media (max-width: 1440px) {
                        font-size: 14px;
                    }
                }
                &:hover {
                    .nav-link {
                        color: $primary;
                    }
                }
                &.dropdown {
                    .dropdown-toggle {
                        font-size: 16px;
                        color: $black;
                        position: relative;
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                        &::after {
                            width: 10px; 
                            height: 12px; 
                            filter: brightness(0);
                            margin-left: 5px;
                            @include transition(0.3s, ease-in-out);
                        }
                        &.show {
                            &::after {
                                @include transform(rotate(180deg))
                            }
                        }   
                    }
                    &:hover, &:focus {
                        .dropdown-toggle {
                            color: $primary;
                            &::after {
                                @include transform(rotate(180deg))
                            }
                        }
                        .dropdown-menu { 
                            @include transform(translateY(3px) !important);
                            @include opacity(1);
                            visibility: visible;
                        }
                    }
                    .dropdown-menu {
                        display: block;
                        @include opacity(0);
                        visibility: hidden;
                        @include transform(translateY(10px) !important);
                        @include transition(0.3s, ease-in-out);
                        li {
                            padding: 10px 15px;   
                            a {
                                font-size: 14px;
                                color: $black;
                                @include transition(0.3s, ease-in-out);                                
                            }
                        }
                    }
                }
            }
        }
        .search-form {
            margin-left: 40px;
            margin-right: 25px;
            @media (max-width: 1600px) {
                margin-left: 30px;
                margin-right: 15px;
            }
            @media (max-width: 1440px) {
                margin-left: 20px;
                margin-right: 12px;
            }
        }
        .header-right-block {
            @include flexbox;
            @include align-items(center);
            margin-left: auto;
            .header-dropdown {
                border-left: 1px solid rgba(#001926, 0.1);
                padding: 0 20px;
                @media (max-width: 1600px) {
                    padding: 0 15px;
                }
                @media (max-width: 1440px) {
                    padding: 0 12px;
                }
                .dropdown-toggle {
                    height: 45px;
                    flex: none;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    position: relative;
                    @include transition(0.3s, ease-in-out);  
                    .icon {
                        width: 24px;
                        height: 24px;
                        @include box-shadow(none);
                    }      
                    @media (max-width: 1600px) {
                        height: 42px;
                    }
                    @media (max-width: 1440px) {
                        height: 38px;
                    }                    
                    svg {
                        @media (max-width: 1600px) {
                            width: 18px;
                            height: 24px;
                        }
                        path {
                            @include transition(0.3s, ease-in-out); 
                        }
                    }   
                    .number {
                        position: absolute;
                        font-size: 8px;
                        color: $white;
                        width: 12px;
                        height: 12px;
                        flex: none;
                        @include border-radius(50%);
                        @include inline-flex; 
                        @include align-items(center); 
                        @include justify-content(center);
                        background: #82D973;
                        top: 6px;
                        right: -3px;
                        &.bg-red {
                            background: #f00;
                        }
                    }
                    &::after {
                        content: none;
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
            .profile-dropdown {
                border-left: 1px solid rgba(#001926, 0.1);
                padding: 0 20px;
                @media (max-width: 1600px) {
                    padding: 0 15px;
                }
                @media (max-width: 1440px) {
                    padding: 0 12px;
                }
                .dropdown-toggle {
                    @include flexbox;
                    @include align-items(center);
                    &::after {
                        content: none;
                    }
                    .user-img {
                        width: 45px;
                        height: 45px;
                        flex: none;
                        @include inline-flex;
                        @include align-items(flex-end);
                        @include justify-content(center);
                        @include border-radius(16px);
                        background: #FFC20E;
                        overflow: hidden;
                        margin-right: 15px;
                        @media (max-width: 1600px) {
                            width: 42px;
                            height: 42px;
                        }
                        @media (max-width: 1440px) {
                            width: 38px;
                            height: 38px;
                            margin-right: 10px;
                        }
                        @media (max-width: 767px) {
                            margin-right: 0px;
                        }
                        img {
                            max-height: 40px;
                            @media (max-width: 1440px) {
                                max-height: 38px;
                            }
                            @include transition(0.3s, ease-in-out);
                        }
                    }              
                }
                .user-name { 
                    display: none;                  
                    .name {
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
                        @include transition(0.3s, ease-in-out);
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                    }
                    .post {
                        font-size: 12px;
                        color: #000;
                        @media (max-width: 1440px) {
                            font-size: 10px;
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                    li {
                        border-bottom: none;
                        padding: 8px 15px;
                        .icon {
                            @include box-shadow(none);
                            width: 18px;
                            height: 18px;
                            @include border-radius(0);
                            background: transparent;
                        }                       
                        &.with-bg {                    
                            background: #F8F8F8;
                            &.border-top {
                                border-top: 1px solid #E7EEFF;   
                            }
                            &.border-bottom {
                                border-bottom: 1px solid #E7EEFF;
                            }
                        }
                        &:hover, &:focus {
                            &.with-bg {
                                background: rgba(235,241,255,0.7);
                            }
                        }
                        .text-red {
                            svg {
                                path {
                                    fill: #F20000;
                                }
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        .user-name {
                            .name {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .setting-dropdown {
                .dropdown-toggle {
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                    width: 40px;
                    height: 40px;
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    flex: none;
                    @media (max-width: 1440px) {
                        width: 38px;
                        height: 38px;
                        .icon {
                            width: 38px;
                            height: 38px;
                        }
                    }
                    &::after, &:before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
            .search-dropdown {
                padding: 0 12px;
                .dropdown-toggle { 
                    height: 38px; 
                    .icon {
                        width: 18px;
                        height: 18px;
                    }
                    &::after, &:before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                    .search-form {
                        margin: 0;
                        min-width: 250px;
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
        }
        .navbar-toggler {
            @media (max-width: 1200px) {
                border-radius: 10px;
                background: #FFF;
                border: none;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                width: 40px;
                height: 40px;
                margin-right: 12px;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                flex: none;
                @include flex-direction(column);
                span {
                    width: 20px; 
                    height: 1px; 
                    margin: 3px 0; 
                    background-color: $black; 
                    display: block; 				
                    position: relative; 
                    @include transition(0.3s, ease-in-out);                   
                }
            }
            &.is-open {
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg)); top: 7px;
					}
					&:nth-child(2) {
						@include opacity(0); visibility: hidden;
					}
					&:nth-child(3) {
						@include transform(rotate(-135deg)); top: -7px;
					}
				}				
			}
        }
    }
}