.main-sidebar {    
    position: fixed;
    top: 122px;
    left: 0;
    width: 310px;
    padding: 10px 20px 20px;
    z-index: 1040;
    height: 100%;
    max-height: calc(100vh - 122px);    
    background: rgba(#F8F8F8, 0.8);  
    backdrop-filter: blur(12px);
    
    @include transition(0.3s, ease-in-out);
    &.is-minimize {
        width: 106px;
        .sidebar-content-block {  
            background: $white;
        }
        .sidebar-menu ul li a {
            margin-bottom: 0;
        }
        .collapse-block {
            .collapse-header {
                @include box-shadow(none);
                .icon {
                    @include transition(0.3s, ease-in-out);
                }
                .text, .action { 
                    display: none;
                }                 
                &:hover {
                    .icon {
                        @include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
                    }
                    @include box-shadow(none);
                }
            }
        }
        .accordion {
            display: none;
            white-space: nowrap;
        }
        .sidebar-footer-action {
            @include justify-content(center);
            .sidebar-collapse-action {
                margin-right: 0;
            }
            .btn.btn-primary {
                display: none;
            }
        }
    }
    @media (max-width: 1200px) {
        @include transform(translateX(-120%));
        width: 290px;
        @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
        &.is-open {
            @include transform(translateX(0%));
        }
    }
    @media (max-width: 767px) {
        top: 82px;
        max-height: calc(100vh - 82px);
    }
    @media (max-width: 575px) {
        top: 70px;
        max-height: calc(100vh - 70px);
    }
    .sidebar-content-block {          
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include border-radius(12px);
        height: 100%;        
    }
    .sidebar-menu {
        flex: 1 1 auto;
        overflow: hidden;
        overflow-y: auto;
        height: calc(100% - 100px);
        @media (max-width: 1200px) {
            height: calc(100% - 70px);
        }
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 2px;
            height: 2px;
            border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #EBF1FF;
            border-radius: 15px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 15px;
        }
        ul {
            li {   
                &:last-child {
                    margin-bottom: 0;
                }      
                a {
                    padding: 10px;
                    color: $black;
                    @include border-radius(12px);
                    @include transition(0.3s, ease-in-out);
                    @include flexbox;
                    @include align-items(center);
                    .icon {      
                        margin-right: 15px;
                        svg {
                            path {
                                stroke: #D5870C;
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    a {
                        background: $white;
                        @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
                    }
                }
                &.active {                    
                    a {
                        font-weight: 600;
                        background: $white;
                        @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
                        .icon {
                            border-color: #448E4A !important;
                            background: #448E4A !important;
                            svg {
                                path {
                                    stroke: $white !important;
                                }
                            }
                        }
                    }
                }  
            }
        }
    }
    .sidebar-footer-action {
        margin-top: 50px;
        @include flexbox;
        @include align-items(center);
        @media (max-width: 1200px) {
            margin-top: 20px;
        }
        .sidebar-collapse-action {
            margin-right: 12px;           
            height: 50px;
            @include flexbox;
            @include align-items(center);
            cursor: pointer;
            @include transition(0.3s, ease-in-out);
            svg {
                path {                        
                    @include transition(0.3s, ease-in-out);
                }
                line {
                    @include transition(0.3s, ease-in-out);
                }
            }
            &:hover, &:focus {
                svg {
                    path {                        
                        fill: #4FCB8D;
                    }
                    line {
                        stroke: #4FCB8D;
                    }
                }
            }
        }
        .btn.btn-primary {
            @include border-radius(65px);
            background: #115C51;
            border-color: #115C51;
            font-size: 24px;  
            min-height: 50px;          
            width: 100%;   
            &:hover, &:focus {
                background: transparent;
                color: #115C51 !important;
                svg {
                    path {
                        fill: #115C51;
                    }
                }
            }
        }
    }
    .collapse-block {
        .collapse-header {
            padding: 10px;
            color: $black;
            @include border-radius(12px);
            @include transition(0.3s, ease-in-out);
            @include flexbox;
            @include align-items(center);            
            .icon {      
                border-color: $primary;
                background: $primary;
                margin-right: 15px;    
                @media (max-width: 1200px) {
                    margin-right: 10px;
                }            
                svg {
                    path {
                        stroke: $white;
                    }
                }
            }
            .text {
                display: block;
                white-space: nowrap;
            }
            .action {
                @include inline-flex;
            }
           
            &:hover, &:focus {
                background: $white;
                @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
            }
        }
        .card-body {
            margin-bottom: 10px;    
            & > ul {
                padding: 10px 0;
                li {
                    a {
                        padding: 10px 20px;
                        border-radius: 0;
                        box-shadow: none;
                        &:hover, &:focus {
                            background: rgba(#EBF1FF, 0.7);
                            
                        }
                    }
                }
            }
        }
    }
    .accordion {       
        .accordion-item {
            .accordion-body {
                padding: 0;
                padding-top: 10px;
                .accordion-menu-list {
                    li {
                        padding-left: 25px;
                        .form-check.only-icon label {
                            font-size: 12px;
                            line-height: normal;
                        }
                        & > ul {
                            margin-left: 23px;
                            li {
                                position: relative;
                                padding-left: 10px;
                                &::before {
                                    content: '';
                                    width: 3px;
                                    height: 3px;
                                    @include border-radius(50%);
                                    display: block;
                                    position: absolute;
                                    top: calc(50% - 1px);
                                    left: 0;
                                    background: $black;
                                }
                                &:not(:last-child) {
                                    .form-check { 
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                        a {
                            font-size: 12px;
                            padding: 0;
                            position: relative;
                            z-index: 1;
                            @include box-shadow(none);                                        
                            .sm-icon {
                                margin-right: 5px;
                                margin-top: -2px;
                                width: 13px;
                                height: 13px;
                                flex: none;
                                svg {
                                    path {
                                        @include transition(0.3s, ease-in-out);
                                    }
                                }
                            }
                        }
                        &:hover, &:focus {
                            a {
                                @include box-shadow(none);
                                color: $primary;                                            
                                .sm-icon {
                                    svg {
                                        path {
                                            stroke: $primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}