/********** TechnUm Contact Widget **********/
.widget_industrium_contacts_widget {
    .industrium-contacts-widget-logo {
        a {
            font-size: 22px;
            font-weight: 700;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &:not(:first-child) {
            margin-top: 22px;
        }
    }
    .widget-socials {
        &:not(:first-child) {
            margin-top: 22px;
        }
    }
    .widget-title +  .widget-socials {
        margin-top: 17px;
    }
    .footer-widget-wrapper {
        .industrium-contacts-widget-logo {
            margin-top: 5px;
        }
    }
    .field-label {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        margin-bottom: 5px !important;
    }
    .industrium-contacts-widget-field {
        position: relative;
        &:not(:first-child) {
            margin-top: 21px;
        }
    }
    .industrium-contacts-widget-email {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .industrium-contacts-widget-link {
        margin-top: 20px;
        a {
            line-height: 1.5em;
            position: relative;
            padding: 0 0 0 32px;
            &:before {
                position: absolute;
                left: 0;
                top: 2px;
                font-family: 'fontello';
                content: '\e82b';
                font-size: 27px;
            }
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -3px;
                width: calc(100% - 32px);
                height: 2px;
                background-color: #fff;
                @include transition(background-color .3s, width .3s);
            }
            &:hover {
                &:after {
                    width: 0;
                }
            }
        }
    }
    .industrium-contacts-widget-copyright {
        &:not(:first-child) {
            margin-top: 35px;
        }
        p {
            font-size: 14px;
            line-height: 1.7143em;
        }
    }
}