/********** Mailchimp for WordPress Widget **********/
#form-preview {
    @include box-sizing;
}
#form-preview,
.widget_mc4wp_form_widget,
.elementor-widget-industrium_mailchimp,
.elementor-widget-wp-widget-mc4wp_form_widget,
.widget {
    .mc4wp-form {
        .mc4wp-form-fields {
            position: relative;
            input[type="text"],
            input[type="tel"],
            input[type="number"],
            input[type="url"],
            input[type="email"] {
                padding-right: 75px;
            }
            input[type="submit"],
            button {
                font-weight: 600;
                font-size: 0.875em;
                text-transform: none;
                text-decoration: underline;
                height: 48px;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;
                background-image: none;
                &:after {
                    display: none;
                }
            }
        }
    }
}