/********** WordPress Standard Meta Widget **********/
.widget_meta {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            font-weight: 700;
            padding: 0;
            letter-spacing: -0.03em;
            @include transition(all .3s);            
            &:not(:first-child) {
                margin: 0.83333em 0 0;
            }
            .footer-widgets & {
                &:not(:first-child) {
                    margin: 0.5em 0 0;
                }
            }
        }
    }
}

.sidebar {
    .widget_meta {
        ul {
            li {
                &:before {
                    display: block;
                    left: 0;
                    top: 0.15em;
                    font-family: 'fontello';
                    content: '\e82d';
                    font-size: 55.5555%;
                    font-weight: 400;
                    line-height: inherit;
                    background: none;
                    opacity: 0;
                    @include transition(color .3s, opacity .3s);
                }
                &:hover {
                    padding: 0 0 0 1.3333em;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}