/********** TechnUm Featured Posts Widget **********/
.widget_industrium_featured_posts_widget {
    .featured-posts-wrapper {
        padding: 4px 0 0;
        .featured-posts-item {
            @include flex(row, nowrap, flex-start, flex-start);
            &:not(:first-child) {
                margin-top: 23px;
            }
            .featured-posts-item-img {
                width: 70px;
                margin: 6px 25px 0 0;
                @include flex-shrink(0);
                img {
                    position: relative;
                    @include border-radius(2px);
                }
            }
            .featured-posts-item-description {
                width: 100%;
                line-height: 1.625em;
                .featured-posts-item-link {
                    font-weight: 500;
                    letter-spacing: -0.015em;
                    line-height: 1;
                }
                .featured-posts-item-date {
                    display: block;
                    font-size: 87.5%;
                    line-height: 1.5em;
                    font-weight: 500;
                    margin: 8px 0 0;
                    letter-spacing: -0.02em;
                }
            }
        }
    }
}