/********** Instagram Feed Widget **********/
.widget_instagram-feed-widget,
.widget {
    #sb_instagram,
    &#sb_instagram {
        &:not(:first-child) {
            margin-top: 8px;
        }
        #sbi_images {
            margin: -5px;
            width: calc(100% + 10px);
            .sbi_item {
                padding: 5px !important;
            }
            .sbi_photo {
                overflow: hidden;
                @include border-radius(5px);
            }
        }
    }
    #sbi_mod_error {
        line-height: 1.5em;
        float: none !important;
    }
}

//[instagram-feed num=3 cols=3 imagepadding=0 imageres=auto disablemobile=true showheader=false showbutton=false showfollow=false]