*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfont-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &:focus-visible {
        outline: 3px solid $secondary !important;
        @include border-radius(4px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

h1, .h1 {
    font-size: 75px;
    font-family: $font-oswald;
    font-weight: 900;
    letter-spacing: 1px;
    @media (max-width: 992px) {
        font-size: 60px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
    }
}
h2, .h2 {
    font-size: 70px;
    font-family: $font-oswald;
    font-weight: 900;
    letter-spacing: 1px;
    @media (max-width: 992px) {
        font-size: 55px;
    }
    @media (max-width: 767px) {
        font-size: 35px;
    }
}
h3, .h3 {
    font-size: 40px;
    font-family: $font-oswald;
    font-weight: 900;
    @media (max-width: 992px) {
        font-size: 32px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

.bg-primary {
    background-color: $primary !important;
}
.bg-light-primary {
    background-color: rgba($primary, 0.2) !important;
}
.bg-secondary {
    background-color: $secondary !important;
}
.bg-light-secondary {
    background-color: rgba($secondary, 0.1) !important;
}
.bg-black {
    background-color: $black;
}
.text-primary {
    color: $primary !important;
}
.text-secondary {
    color: $secondary !important;
}
.text-black {
    color: $black;
}
.btn {
    min-height: 60px;
	padding: 5px 30px;
	font-weight: 500;
	font-size: 18px;
    min-width: 240px;
	@include transition(0.3s, ease-in-out);
	@include border-radius(0);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);
    &.btn-primary{
		color: $white;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $primary;
			border: 1px solid $primary;
		}
	}
	&.btn-secondary{
		color: $white;
		border: 1px solid transparent;
		background-color:$secondary;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $black;
			border: 1px solid $secondary;
		}
	}
	&.btn-black {
		color: $white;
		border: 1px solid transparent;
		background-color:$black;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $black;
			border: 1px solid $black;
		}
	}
}

.main-content-wrapper {
    margin-top: 120px;
    @media (max-width: 992px) {
        margin-top: 80px;
    }
}

.main-section {
    padding: 100px 0;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}

.main-header {
    z-index: 100;
    position: fixed; 
    top: 0;
    width: 100%;
    background: $white;
    @include transition(0.3s, ease-in-out);
    &.fixed-header {
        @include box-shadow(0 8px 20px 0px rgba($black, 0.1));
    }
    .navbar {
        padding: 0;     
        .container {
            @include align-items(flex-start); position: relative;
            @media (max-width: 767px) {
                padding-right: 0px;
            }
        }   
    }
    .logo {
        display: block;
        padding: 30px 0;
        @media (max-width: 767px) {
            padding: 20px 0;
        }
        img {
            width: 100%;
            max-height: 60px;
            @media (max-width: 767px) {
                max-height: 40px;
            }
        }
    }
    .main-menu {
        margin-left: auto;
        position: relative;
        flex-basis: auto;
        @include flexbox;
        ul {
            @include flexbox; 
            @include align-items(flex-start);
            li {
                a {
                    padding: 35px 50px 25px;
                    color: $white;
                    font-family: $font-oswald;
                    display: block;
                    font-size: 20px;
                    font-weight: 500;
                    @include transition(0.3s, ease-in-out); 
                    position: relative; 
                    @media (max-width: 767px) {
                        padding: 20px;
                        font-size: 18px;
                    }
                    // &::before {
                    //     content: '';
                    //     width: 0;
                    //     height: 2px;
                    //     background: $black;
                    //     display: block;
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0;
                    //     @include transition(0.3s, ease-in-out);
                    // } 
                    &:hover, &:focus {
                        color: $black;
                        // &::before {
                        //     width: 100%;
                        // }
                    }                  
                    &.toggle-btn {
                        background: $black;
                        @include flexbox;
                        @include align-items(center);
                        // &::before {
                        //     background: $secondary;
                        // }
                        .toggle-action {
                            margin-left: 30px;
                            @media (max-width: 767px) {
                                margin-left: 15px;
                            }
                            span { 
                                width: 30px; 
                                height: 2px; 
                                margin: 5px 0px; 
                                @include transition(0.3s, ease-in-out); 
                                background: $white; 
                                display: block;
                            }
                        }
                        &:hover, &:focus, &.toggle {
                            color: $secondary;
                            // &::before {
                            //     width: 100%;
                            // }
                            .toggle-action {
                                span { 
                                    background: $secondary; 
                                }
                            }
                        }      
                        &.toggle { 
                            .toggle-action {
                                span {
                                    &:first-child {
                                        @include transform(translateY(7px) rotate(45deg)); 
                                        }
                                    &:nth-child(2) { 
                                        @include opacity(0); 
                                    }
                                    &:last-child {  
                                        @include transform(translateY(-7px) rotate(-45deg)); 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .collapse-menu {
        position: absolute; 
        top: 90px;      
        right: 12px;    
        z-index: 2;
        width: 100%;
        @include transform(scaleY(0));
        transform-origin: top;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            top: 67px;     
            right: 0;
        }
        &.open {
            @include transform(scaleY(1));
        }
        ul {
            width: 350px;  
            margin-left: auto;          
            background: $black;  
            padding: 10px 0;
            li {
                a {
                    padding: 15px 20px;
                    display: block;
                    font-family: $font-oswald;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    color: $white;
                    @include transition(0.3s, ease-in-out); 
                    @media (max-width: 767px) {
                        font-size: 16px;
                        padding: 10px 20px;
                    }
                    &:hover, &:focus {
                        color: $secondary;
                    }
                }
            }
        }
    }
}

.main-footer {
    .copyright-block {
        text-align: center;
        padding: 30px 0;
        strong {
            color: $secondary;
        }
    }
}

.g-15 {
    margin: 0 -15px;
    .col {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: 992px) { 
        margin: 0 -12px;
        .col {
            margin-top: 30px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.news-card {
    border: none;
    @include border-radius(0);
    .card-image {
        position: relative;
        width: 100%;
        overflow: hidden;
        &::before {
            display: block;
            padding-top: 56.25%;
            content: '';
        }
        img {
            @include transition(0.3s, ease-in-out);
        }
    }
    .card-body {
        padding: 20px 0;
        h3 {
            font-size: 20px;
            font-weight: 500;
            color: $black;
            margin-bottom: 15px;
            @include transition(0.3s, ease-in-out);
        }
        .sort-info {
            font-size: 16px;
        }
    }
    .card-footer {
        border: none;
        background: transparent;
        padding: 0;
        .more-link {
            font-size: 16px;
            font-weight: 600;
            background-image: url(../images/icon-arrow-right.svg); 
            background-position: 100% 65%;
            background-repeat: no-repeat;
            background-size: 6px;
            padding-right: 15px;
            color: $secondary;
            @include transition(0.3s, ease-in-out);
        }
    }
    &:hover, &:focus {
        .card-image {
            img {
                @include transform(scale(1.05));
            }
        }
        .card-body {
            h3 {
                color: $secondary;
            }
        }
        .card-footer {
            .more-link {
                padding-right: 20px;
            }
        }
    }
}