.elementor-element-overlay {
    ul {
        > li {
            &:before {
                left: initial;
                right: initial;
            }
        }
    }
}
.elementor_library-template-default {
    .header,
    .page-title-container,
    .footer,
    .post-meta-header,
    .post-title,
    .post-meta-footer,
    .top-bar,
    .mobile-header-menu-container,
    .mobile-header,
    .sidebar {
        display: none !important;
    }
}
.elementor-editor-active {
    .header.sticky-header-on.sticky-ready.sticky-active,
    .mobile-header.sticky-header-on.sticky-ready.sticky-active {
        .sticky-wrapper {
            position: relative;
            display: none;
            opacity: 0;
        }
    }
    .sticky-header {
        position: relative;
        display: none;
        opacity: 0;
    }
    .content-wrapper:hover {
        z-index: 4;
        position: relative;
    }
}
.elementor-widget-wrap {
    .elementor-widget {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
.elementor-widget-container {
    .industrium_archive_listing_wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.elementor-section + .elementor-section {
    margin-top: 80px;
}

.elementor-section {
    &.elementor-section-row-wrap {
        > .elementor-container {
            > .elementor-row {
                flex-wrap: wrap;
            }
        }
    }
}
.elementor-section-stretched {
    > .elementor-container {
        padding: 0 20px;
        &.elementor-column-gap-no {
            padding: 0;
            .elementor-section {
                > .elementor-container {
                    padding: 0 20px;
                    &.elementor-column-gap-no {
                        padding: 0;
                    }
                }
            }
        }        
    }
}
.elementor-section-stretched {
    &.elementor-section-container-padding-remove {
        > .elementor-container {
            padding: 0;
            .elementor-section {
                > .elementor-container {
                    padding: 0;
                }
            }
        }
    }
    > .elementor-container.elementor-column-gap-no {
        .elementor-inner-section.elementor-section-container-padding-remove {
            > .elementor-container {
                padding: 0;
            }
        }
    }    
}

.elementor-row {
    display: flex;
    width: 100%;
}

.elementor-column-gap- {
    &narrow {
        > .elementor-row {
            > .elementor-column {
                > .elementor-element-populated {
                    padding: 5px;
                }
            }
        }
    }
    &default {
        > .elementor-row {
            > .elementor-column {
                > .elementor-element-populated {
                    padding: 10px;
                }
            }
        }
    }
    &extended {
        > .elementor-row {
            > .elementor-column {
                > .elementor-element-populated {
                    padding: 15px;
                }
            }
        }
    }
    &wide {
        > .elementor-row {
            > .elementor-column {
                > .elementor-element-populated {
                    padding: 20px;
                }
            }
        }
    }
    &wider {
        > .elementor-row {
            > .elementor-column {
                > .elementor-element-populated {
                    padding: 30px;
                }
            }
        }
    }
}
.elementor-column-gap-default {
    > .elementor-row {
        margin: -10px;
        width: calc(100% + 20px);
    }
}
.elementor-column-gap-narrow {
    > .elementor-row {
        margin: -5px;
        width: calc(100% + 10px);
    }
}
.elementor-column-gap-extended {
    > .elementor-row {
        margin: -15px;
        width: calc(100% + 30px);
    }
}
.elementor-column-gap-wide {
    > .elementor-row {
        margin: -20px;
        width: calc(100% + 40px);
    }
}
.elementor-column-gap-wider {
    > .elementor-row {
        margin: -30px;
        width: calc(100% + 60px);
    }
}

.elementor-section-content-top {
    > .elementor-container {
        > .elementor-row {
            @include align-items(flex-start);
            align-content: flex-start;
        }
    }
}
.elementor-section-content-bottom {
    > .elementor-container {
        > .elementor-row {
            @include align-items(flex-end);
            align-content: flex-end;
        }
    }
}
.elementor-section-content-middle {
    > .elementor-container {
        > .elementor-row {
            @include align-items(center);
            align-content: center;
        }
    }
}
.elementor-section-content-space-between {
    > .elementor-container {
        > .elementor-row {
            align-content: space-between;
        }
    }
}
.elementor-section-content-space-around {
    > .elementor-container {
        > .elementor-row {
            align-content: space-around;
        }
    }
}
.elementor-section-content-space-evenly {
    > .elementor-container {
        > .elementor-row {
            align-content: space-evenly;
        }
    }
}

@media (min-width: 768px) {
    .elementor-section + .elementor-section {
        margin-top: 120px;
    }
    .elementor-section-stretched {
        > .elementor-container {
            padding: 0 30px;
            &.elementor-column-gap-no {
                padding: 0;
                .elementor-section {
                    > .elementor-container {
                        padding: 0 30px;
                        &.elementor-column-gap-no {
                            padding: 0;
                        }
                    }
                }
            }        
        }
    }
}

@media (max-width: 991px) {
    .elementor-row {
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .elementor-section-full_width {
        > .elementor-container {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    }
    .elementor-section-stretched {
        > .elementor-container {
            padding: 0 40px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            &.elementor-column-gap-no {
                padding: 0;
                .elementor-section {
                    > .elementor-container {
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        padding: 0 40px;
                        &.elementor-column-gap-no {
                            padding: 0;
                        }
                    }
                }
            }        
        }
    }
}

@media (min-width: 1280px) {
    .elementor-section + .elementor-section {
        margin-top: 150px;
    }
}

/* ---------- Dropcaps ---------- */
.elementor-widget-text-editor {
    &:not(.elementor-drop-cap-view-default) {
        .elementor-drop-cap {
            margin-top: 0.36em;
            margin-bottom: 0.1em;
            font-size: 1.5em;
        }
        .elementor-drop-cap-letter {
            width: 1.6667em !important;
            height: 1.6667em !important;
            line-height: 1.6667em;
            font-size: 1em;
            font-weight: 700;
            text-align: center;
        }
    }
}

/* ---------- Lightbox ---------- */
.elementor-lightbox .elementor-lightbox-image,
.elementor-lightbox .elementor-video-container {
    @include border-radius(0 !important);
}
.elementor-lightbox .elementor-lightbox-image {
    @include align-self(unset);
}

.elementor-slideshow__header {
  @include box-sizing;
}

/* ---------- Elementor Animation ---------- */

@keyframes slideInUpLeft {
    from {
        @include transform(translate(-50%, -50%));    
    }
    to {
        @include transform(translate(0, 0));
    }
}
.industrium_slide_in_up_left {
    animation-name: slideInUpLeft;
    animation-timing-function: ease-out;
}

@keyframes slideInUpRight {
    from {
        @include transform(translate(50%, -50%));    
    }
    to {
        @include transform(translate(0, 0));
    }
}
.industrium_slide_in_up_right {
    animation-name: slideInUpRight;
    animation-timing-function: ease-out;
}

@keyframes clipInDown {
    from {
        clip-path: inset(0 0 100% 0);
        -webkit-clip-path: inset(0 0 100% 0);
    }
    to {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
}
.industrium_clip_in_down {
    animation-name: clipInDown;
    animation-timing-function: ease-out;
}

@keyframes clipInUp {
    from {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
}
.industrium_clip_in_up {
    animation-name: clipInUp;
    animation-timing-function: ease-out;
}

@keyframes image_clip_right {
    from {
        clip-path: inset(0 100% 0 0);
        -webkit-clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
}

@keyframes image_clip_left {
    from {
        clip-path: inset(0 0 0 100%);
        -webkit-clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
    }
}

.image_clip_right,
.image_clip_left {
    .elementor-widget-container {
        animation-duration: inherit;            
        img {
            animation-name: image_clip_right;
            animation-duration: inherit;
            animation-timing-function: ease-out;
        }
    }
}

.image_clip_right {
    .elementor-widget-container {
        img {
            animation-name: image_clip_right;
        }
    }
}

.image_clip_left {
    .elementor-widget-container {
        img {
            animation-name: image_clip_left;
        }
    }
}