/********** 404 Page **********/
.error-404-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    @include flex(column, nowrap, flex-start, center);
    text-align: center;
    padding: 35px 20px;
    -webkit-background-size: cover;
    background-size: cover;
    @include box-sizing;
    overflow: hidden;
    .error-404-header {
        .logo-container {
            margin: 0;
        }
    }
    .error-404-image {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        &:not(:first-child) {
            margin-top: 58px;
        }
    }
    .error-404-inner {
        padding: 40px 0;
        .error-404-content {
            max-width: 630px;
            margin: 0 auto;
        }
        .error-404-title {
            font-size: 30px;
        }
        .error-404-button {
            position: relative;
            z-index: 2;
            font-size: 0;
            line-height: 1;
            &:not(:first-child) {
                margin: 34px 0 0;
            }
            .industrium-button {
                min-width: 91px;
            }
        }
        .error-404-info-text {
            font-size: 16px;
            line-height: 30px;
            &:not(:first-child) {
                margin: 20px 0 0;
            }
        }
        .wrapper-socials {
            &:not(:first-child) {
                margin: 70px 0 0;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .error-404-container {
        padding: 60px 40px 25px;
        .error-404-inner {
            padding: 15vw 0 54px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .error-404-container {
        .error-404-inner {
            .error-404-title {
                font-size: 50px;
            }
            .error-404-info-text {
                &:not(:first-child) {
                    margin: 15vh 0 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .error-404-container {
        .error-404-inner {
            .error-404-info-text {
                &:not(:first-child) {
                    margin: 20px 0 0;
                }
            }
        }
    }
}