/********** Search Result Page **********/
.search-form {
    position: relative;
    padding: 4px;
    .search-form-field {
        background: none;
        outline: none;
        padding: 8px 55px 8px 0;
        height: 48px;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        @include box-sizing;
        &::-webkit-input-placeholder {
            opacity: 1;
        }

        &:-moz-placeholder {
            opacity: 1;
        }

        &::-moz-placeholder {
            opacity: 1;
        }

        &:-ms-input-placeholder {
            opacity: 1;
        }
    }
    .search-form-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 8px;
        top: 8px;
        bottom: 8px;
        z-index: 2;
        text-align: center;
        font: 400 normal 19px/20px 'fontello';
        cursor: pointer;
        @include transition(color .3s);
        &:before {
            content: '\e81b';
        }
    }
}
.industrium-no-results-title {
    text-align: center;
}
.industrium-no-result-search-form {
    max-width: 800px;
    margin: 0 auto;
    .search-form-icon {
        bottom: initial;
        top: 15px;
        right: 20px;
    }
}