/********** WooCommerce Active Filters Widget **********/
.woocommerce .widget_layered_nav_filters,
.woocommerce.widget_layered_nav_filters,
.woocommerce-page .widget_layered_nav_filters {
    ul {
        margin: 0 -5px;
        font-size: 0;
        line-height: 1;
        &:first-child {
            margin-top: -10px;
        }
        .chosen {
            display: inline-block;
            vertical-align: top;
            margin: 10px 5px 0;
            a {
                font-size: 12px !important;
                line-height: 20px;
                font-weight: 600;
                padding: 5px 11px;
                @include transition(background-color .3s, color .3s, color .3s);
                @include border-radius(3px);
                display: block;
                vertical-align: top;
                cursor: pointer;
                text-transform: uppercase;
                text-decoration: none;
                &:before {
                    content: '\e803';
                    font: 700 normal 9px/1 'fontello';
                    background: none;
                    width: auto;
                    height: auto;
                    @include border-radius(0);
                    display: inline-block;
                    vertical-align: middle;
                    margin: -3px 10px 0 0;
                    color: #e95151;
                }
            }
        }
    }
}