*,::after,::before {box-sizing: border-box;list-style: none;text-decoration: none;}
html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {display: block;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfont-color;
    font-size: 18px;
	font-weight: 400;
    position: relative;
    line-height: 1.5;
	overflow-x: hidden;
	// min-height: 100vh;
	// @include flexbox();
	// @include flex-direction(column);
    
	@media (min-width:992px) {
		&.is-visible {
			overflow: hidden;
		}
	}
	@media (max-width:767px) {
		font-size: 15px;
	}

	scrollbar-width: thin;
    &::-webkit-scrollbar {
        background-color:transparent;
        width:10px; height: 10px;
        border-radius:16px;
    }
    &::-webkit-scrollbar-track {
        background-color:rgba(#404040, 0.05)
    }
    &::-webkit-scrollbar-track:hover {
        background-color:rgba(#404040, 0.15)
    }
    &::-webkit-scrollbar-thumb {
        background-color:rgba(#404040, 0.60);
        border-radius:16px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color:rgba(#404040, 0.80);
    }
    &::-webkit-scrollbar-button {display:none}

	::selection {
        color: #000;
        background: $gold;
	}
}

// Header
.main-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    top: 0;
    @include transition(0.2s, ease-in-out);
    background: $white;
    .navbar {
        @include transition(0.2s, ease-in-out);
        padding-top: 15px;
        padding-bottom: 15px;
        &.container {
            @include flexbox; 
            @include align-items(center);
        }
        .menu-list {
            margin: 0 auto;
            @media (max-width: 992px) {
                overflow-y: auto;
                width: 100%;
                display: block;
                background-color: $white;
                position: absolute;
                max-height: calc(100vh - 60px);
                top: -1000px;
                left: 0;
                right: 0;
                z-index: -1;
                @include transition(0.2s, ease-in-out);                   
            }            
            .mainMenu {
                @include flexbox; 
                @include align-items(center);
                @include flex-direction(row);
                @media (max-width: 992px) {                   
                    @include flex-direction(column);      
                    max-width: 720px;  
                    margin: 0 auto;       
                    padding: 0 12px;         
                }
                @media (max-width: 767px) {
                    max-width: 540px;
                }
                li {
                    margin: 0 8px;
                    padding: 5px 10px;
                    position: relative;
                    a {
                        @include inline-flex;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $darkgary;
                        @include transition(0.2s, ease-in-out);
                        position: relative;
                        &::before {
                            content: '';
                            width: 0%;
                            background: $brightblue;
                            height: 1px;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            @include transition(0.2s, ease-in-out);
                        }
                        &:hover, &:focus {
                            color: $brightblue;
                            &::before {
                                width: 50%;
                            }
                        }
                    }
                    &.current-menu-item {
                        & > a {
                            color: $brightblue;
                            &::before {
                                width: 50%;
                            }
                        }
                    }
                    &.menu-item-has-children {  
                        a {                            
                            @include align-items(center);                            
                        }                      
                        @media (min-width: 992px) {
                            & > a:after {
                                vertical-align: middle;
                                content: "";
                                background: url(../images/icons/arrow-down.svg) no-repeat center right;
                                background-size: contain;
                                width: 12px;
                                height: 12px;
                                margin-left: 8px;
                                display: inline-block;
                                @include transition(0.2s, ease-in-out);
                                filter: grayscale(1) brightness(0) contrast(1);
                            }
                        }
                        .arrow {
                            @media (min-width: 992px) {
                                display: none;
                            }
                            position: absolute;
                            right: 0;
                            width: 25px;
                            cursor: pointer;
                            &::after {
                                vertical-align: middle;
                                content: "";
                                background: url(../images/icons/arrow-down.svg) no-repeat center right;
                                background-size: contain;
                                width: 12px;
                                height: 12px;
                                margin-left: 8px;
                                display: inline-block;
                                @include transition(0.2s, ease-in-out);
                                filter: grayscale(1) brightness(0) contrast(1);
                            }
                            &.is-active {
                                &::after {
                                    @include transform(translateY(3px));
                                    filter: inherit;
                                }
                            }
                            &:hover, &:focus, &:focus-visible {
                                &::after {
                                    filter: inherit;
                                }
                            }
                        }
                        .sub-menu {                
                            @media (min-width: 992px) {
                                @include opacity(0);
                                visibility: hidden;
                                @include transition(0.2s, ease-in-out);
                                position: absolute;
                                background-color: #fefefe;
                                left: 0;
                                padding: 15px 20px;
                                margin: 12px 0 0 0;
                                z-index: 90;
                                min-width: 255px;
                                @include box-shadow(0 2px 10px 4px rgba(0,0,0,0.1));
                                @include border-radius(10px);
                                @include transform(translateY(10px));
                                li {
                                    margin: 0 !important;
                                    padding: 0 0 15px;
                                    &:last-child {
                                        padding-bottom: 0;
                                    }
                                    &.menu-item-has-children::after {
                                        position: absolute;
                                        content: "";
                                        background: url(../images/icons/arrow-down.svg) no-repeat center right;
                                        background-size: contain;
                                        width: 12px;
                                        height: 12px;
                                        right: -0px;
                                        top: 7px;
                                        @include transition(0.2s, ease-in-out);
                                        @include transform(rotate(270deg));
                                        filter: grayscale(1) brightness(0) contrast(1);
                                    }
                                    a {
                                        font-size: 15px;
                                        &::after {
                                            content: none;
                                        }
                                        &:hover, &:focus {
                                            color: $brightblue;
                                        }
                                    }
                                }
                                .sub-menu {
                                    @include opacity(0 !important);
                                    @include transform(translateY(0px) !important);
                                    margin: 0 0 0 20px;
                                    left: 100%;
                                    top: 15px;
                                }                                
                                & > li:hover, & > li:focus, & > li:focus-visible {
                                    &.menu-item-has-children::after { 
                                        filter: inherit;
                                        right: -5px;
                                    }
                                    .sub-menu {
                                        @include opacity(1 !important);
                                        z-index: 99 !important;
                                        @include transform(translateY(-30px) !important);
                                    }
                                }
                            }
                        }
                        &:hover, &:focus, &:focus-visible {
                            & > a {
                                color: $brightblue;
                                &::after {
                                    @include transform(translateY(3px));
                                    filter: inherit;
                                }
                                &::before {
                                    width: 50%;
                                }
                            }
                            ul {
                                @include opacity(1);
                                visibility: visible;
                                z-index: 95;
                            }
                            & >.sub-menu {
                                @media (min-width: 992px) { 
                                    @include transform(translateY(0px));
                                }
                            }
                        }
                        &.current-menu-item {
                            & > a {
                                &::after {
                                    filter: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 992px) {
            padding-top: 10px;
            padding-bottom: 10px;
            .menu-list { 
                .mainMenu {     
                    & > li {
                        margin: 0;
                        padding: 10px 0;
                        width: 100%;
                        &.menu-item-has-children {
                            .sub-menu {
                                padding-top: 8px;
                                min-width: 100%;
                            }
                        }
                    }
                    .sub-menu {
                        display: none;
                        li {
                            padding-bottom: 8px;
                            padding-left: 10px;
                            margin: 0 !important;
                            margin-left: 10px !important;
                        }
                    }
                }
            }  
            .brand-logo {
                img {
                    max-height: 40px;
                }
            }          
            .sidebar-icon {
                display: inline-block;
                cursor: pointer;
                border: none;
                padding: 0;
                background-color: transparent;
                z-index: 10;
                width: 30px;
                span {
                    width: 25px;
                    height: 2px;
                    margin: 5px 0;
                    background-color: $darkgary;
                    @include border-radius(2px);
                    display: block;
                    left: 0;
                    top: 0;
                    position: relative;
                    @include transition(0.2s, ease-in-out);
                    &:nth-child(1) {
                        width: 13px
                    }                
                    &:nth-child(3) {
                        width: 18px
                    }
                }
                &:hover, &:focus, &:focus-visible {
                    span {
                        background: $dawnblue;
                    }
                }
                &.is-visible {
                    span {
                        &:nth-child(1) {                            
                            @include transform(rotate(135deg));
                            width: 25px;
                            top: 7px
                        }
                        &:nth-child(2) {
                            @include opacity(0);
                            left: -20px;
                            width: 20px
                        }
                        &:nth-child(3) {
                            @include transform(rotate(-135deg));
                            width: 25px;
                            top: -7px
                        }
                    }                
                }
            }            
        }
    }  
    &.is-visible {
        .menu-list {
            top: 100%;
        }
    } 
}

.bg-overly {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	@include opacity(0);
	@include transition(0.2s, ease-in-out);
	&.is-visible {
		@include opacity(1);
		visibility: visible;
	}
}

// footer
.main-footer {
	background-color: #666666;
	padding: 50px 0;
	
    @media (max-width:991px) {
		padding: 40px 0;
	}
	
	.footer-grid-menu {
        text-align: left;
        .footer-menu {
            @include flexbox(); 
			@include flex-wrap(wrap); 
			@include justify-content(flex-start);
            padding: 0;
            margin: 0;
            li.menu-item-has-children {
                flex: 1 0 0%;
                @media (max-width: 767px) {
					flex: 0 0 auto;
    				width: 50%;
				}
                .sub-menu {
                    padding: 0;
                    li {
                        margin-bottom: 5px;
                        &.footer-title {
                            color: #e4d28f;
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 10px;
                            margin-top: 15px;
                            @media (max-width: 992px) {
                                font-size: 18px;
                            }
                        }
                        a {
                            color: $white;
                            font-size: 16px;
                            text-decoration: none;
                            position: relative;
                            @include transition(0.2s, ease-in-out);
                            &::before {
                                content: '';
                                width: 0%;
                                background: $lightblue;
                                height: 1px;
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                @include transition(0.2s, ease-in-out);
                            }
                            @media (max-width: 992px) {
                                font-size: 14px;
                            }
                            &:hover, &:focus {
                                color: $lightblue;
                                &::before { 
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright-block {
        margin-top: 40px;
        .copyright-text {
            color: $white;
            font-size: 16px;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

.back-to-top {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: $dawnblue;
	text-align: center;
	position: fixed;
	z-index: 8;
	right: 20px;
	bottom: -100px;
	-webkit-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	-moz-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	@include border-radius(6px);
	&:hover, &:focus {
		@include opacity(0.8);
	}
	&.visible {
        opacity: 1;
        bottom: 25px;
	}
	svg {
		width: 16px;
		height: 16px;
	}

	@media (max-width:767px) {
		display: none !important;
	}
}


.page404{ 
    text-align: center;
    .page404-title {
        font-size: 150px; color: $dawnblue; line-height: 1;
    }
    .description {
        font-size: 16px;
        margin-bottom: 30px;
    }
}


// .icons {
// 	background-size: contain !important;
//     display: inline-block;
// 	&.icon-facebook {
// 		background: url(../images/icons/facebook.svg) no-repeat center center;
// 		width: 18px;
//         height: 18px;
// 		@include transition(0.2s, ease-in-out);
// 	}
// 	&.icon-linkedin {
// 		background: url(../images/icons/linkedin.svg) no-repeat center center;
// 		width: 18px;
//         height: 18px;
// 		@include transition(0.2s, ease-in-out);
// 	}
// 	&.icon-twitter {
// 		background: url(../images/icons/twitter.svg) no-repeat center center;
// 		width: 18px;
//         height: 18px;
// 		@include transition(0.2s, ease-in-out);
// 	}
// 	&.icon-instagram {
// 		background: url(../images/icons/instagram.svg) no-repeat center center;
// 		width: 18px;
//         height: 18px;
// 		@include transition(0.2s, ease-in-out);
// 	}
// 	&.icon-youtube {
// 		background: url(../images/icons/youtube.svg) no-repeat center center;
// 		width: 18px;
//         height: 18px;
// 		@include transition(0.2s, ease-in-out);
// 	}
// }


/*-------------------------------------
INPUT
---------------------------------------*/
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select {
    padding: 0 15px;
    font-size: 14px;
    // letter-spacing: 0.1em;
    color: #333;
    height: 44px; 
    width: 100%;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-family: $bodyfont; 
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  input[type="text"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #888888;
  }
  input[type="text"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  textarea:-moz-placeholder,
  select:-moz-placeholder {
    color: #888888;
  }
  input[type="text"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: #888888;
  }
  input[type="text"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #888888;
  }
  input[type="text"]:focus,
  input[type="search"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    border-color: #0f8ed5;
  }
  input[type="number"] {
    padding: 0 0 0 20px;
  }
  textarea {
    height: auto;
    padding-top: 15px;
  }
  select {
    max-width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: 98%;
    background-position: calc(100% - 15px);
  }
  select::-ms-expand {
    display: none;
  }
  input[type="submit"],
  input[type="button"],
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .alert { margin: 0 0 1rem; padding: .75em 1em; color:#fff; border:0px !important; position: relative; font-weight: 600;
	border-radius:3px;
	-webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;
	.close{
        position: absolute;
        top: 8px;
        right: 20px;
        color: inherit;
        font-size: 20px;
        font-weight: 500;
    }
  }
  
  .alert-success{background: #40bb2b;}
  .alert-info{background: #1cc7f1;}
  .alert-warning{background: #ffac39; color:#000;}
  .alert-danger{background: #F44336;}

  .text-required {color: #F44336; font-size: 14px;}

// CF7  Plugin CSS
.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;width:1px;margin:-1px;padding:0;border:0;word-wrap:normal!important}.wpcf7 form .wpcf7-response-output{margin:2em .5em 1em;padding:.2em 1em;border:2px solid #00a0d2}.wpcf7 form.init .wpcf7-response-output,.wpcf7 form.resetting .wpcf7-response-output,.wpcf7 form.submitting .wpcf7-response-output{display:none}.wpcf7 form.sent .wpcf7-response-output{border-color:#46b450}.wpcf7 form.failed .wpcf7-response-output,.wpcf7 form.aborted .wpcf7-response-output{border-color:#dc3232}.wpcf7 form.spam .wpcf7-response-output{border-color:#f56e28}.wpcf7 form.invalid .wpcf7-response-output,.wpcf7 form.unaccepted .wpcf7-response-output,.wpcf7 form.payment-required .wpcf7-response-output{border-color:#ffb900}.wpcf7-form-control-wrap{position:relative}.wpcf7-not-valid-tip{color:#dc3232;font-size:1em;font-weight:400;display:block}.use-floating-validation-tip .wpcf7-not-valid-tip{position:relative;top:-2ex;left:1em;z-index:100;border:1px solid #dc3232;background:#fff;padding:.2em .8em;width:24em}.wpcf7-list-item{display:inline-block;margin:0 0 0 1em}.wpcf7-list-item-label::before,.wpcf7-list-item-label::after{content:" "}.wpcf7-spinner{visibility:hidden;display:inline-block;background-color:#23282d;opacity:.75;width:24px;height:24px;border:none;border-radius:100%;padding:0;margin:0 24px;position:relative}form.submitting .wpcf7-spinner{visibility:visible}.wpcf7-spinner::before{content:'';position:absolute;background-color:#fbfbfc;top:4px;left:4px;width:6px;height:6px;border:none;border-radius:100%;transform-origin:8px 8px;animation-name:spin;animation-duration:1000ms;animation-timing-function:linear;animation-iteration-count:infinite}@media (prefers-reduced-motion:reduce){.wpcf7-spinner::before{animation-name:blink;animation-duration:2000ms}}@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@keyframes blink{from{opacity:0}50%{opacity:1}to{opacity:0}}.wpcf7 input[type="file"]{cursor:pointer}.wpcf7 input[type="file"]:disabled{cursor:default}.wpcf7 .wpcf7-submit:disabled{cursor:not-allowed}.wpcf7 input[type="url"],.wpcf7 input[type="email"],.wpcf7 input[type="tel"]{direction:ltr}.wpcf7-reflection>output{display:list-item;list-style:none}.wpcf7-reflection>output[hidden]{display:none}

  .form-contact-us {
    .wpcf7-form-control-wrap {margin-bottom: 20px; display: block; position: relative;}
    .wpcf7-textarea, 
    .wpcf7-text, 
    .wpcf7-select {background: #fff;}

    .wpcf7-not-valid-tip {position: absolute; right: 5px; top: 5px; font-size: 12px; font-weight: 600;}
  }

  .wpcf7 form:not(.init) .wpcf7-response-output {
    margin: 15px 0px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border: 0px !important;
    text-align: center;
    background: #ffac39;
    line-height: 1.4;
	font-weight: 600;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;
}

.wpcf7 form.init .wpcf7-response-output,.wpcf7 form.resetting .wpcf7-response-output,.wpcf7 form.submitting .wpcf7-response-output {
    display: none
}

.wpcf7 form.sent .wpcf7-response-output {
    background: #40bb2b
}

.wpcf7 form.failed .wpcf7-response-output,.wpcf7 form.aborted .wpcf7-response-output {
    background: #F44336
}

.wpcf7 form.spam .wpcf7-response-output {
    background: #f56e28
}

.wpcf7 form.invalid .wpcf7-response-output,.wpcf7 form.unaccepted .wpcf7-response-output,.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffac39
}

.grecaptcha-badge {
	right: -300px !important;
}

// Tooltip
.tooltip {
	z-index: 1080;
	display: block;
	padding: 0.4rem;
	font-style: normal;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	white-space: normal;
	word-spacing: normal;
	line-break: auto;
	word-wrap: break-word;
	opacity: 0;
}
.tooltip.show {
    opacity: 0.9;
}
.tooltip .tooltip-arrow {
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}
.tooltip .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
    bottom: 0;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    top: -1px;
    border-width: 0.4rem calc(0.8rem * 0.5) 0;
    border-top-color: #000;
}

/* rtl:begin:ignore */
.bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    right: -1px;
    border-width: calc(0.8rem * 0.5) 0.4rem calc(0.8rem * 0.5) 0;
    border-right-color: #000;
}

/* rtl:end:ignore */
.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
    top: 0;
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    bottom: -1px;
    border-width: 0 calc(0.8rem * 0.5) 0.4rem;
    border-bottom-color: #000;
}

/* rtl:begin:ignore */
.bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    left: -1px;
    border-width: calc(0.8rem * 0.5) 0 calc(0.8rem * 0.5) 0.4rem;
    border-left-color: #000;
}

/* rtl:end:ignore */
.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


// Button
.btn {
	min-height: 40px;
	padding: 10px 30px;
	font-weight: 700;
	font-size: 16px;
	min-width: 180px;
	@include transition(0.3s, ease-in-out);
	@include border-radius(5px);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	&.mw-200 {
		max-width: 200px;
		width: 100%;
	}
	@media (max-width:767px) {
		font-size: 14px;
		padding: 10px 15px;
		min-height: 44px;
	}
	.btn-icon {
		margin-right: 10px;
		max-width: 18px; max-height: 18px;
	}
	&.btn-white {
		color: $darkgary;
		border: 1px solid transparent;
		background-color:$white;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $white;
			border: 1px solid $white;
			.btn-icon {
				filter: none;
				-webkit-filter: none;
			}
		}
	}
	&.btn-purple {
		color: $white;
		border: 1px solid transparent;
		background-color:$purple;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $purple;
			border: 1px solid $purple;
			.btn-icon {
				filter: none;
				-webkit-filter: none;
			}
		}
	}
	&.btn-brightblue {
		color: $white;
		border: 1px solid transparent;
		background-color:$brightblue;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $brightblue;
			border: 1px solid $brightblue;
			.btn-icon {
				filter: none;
				-webkit-filter: none;
			}
		}
	}
}

/* Common CSS */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        list-style-type: none;        
    }
}

a {
    color: $gold;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $purple;
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid $brightblue !important;
        @include border-radius(2px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

h1, .h1 {
    font-size: 65px;
    font-weight: 500;
    color: $brightblue;
    font-family: $bodyfont;
    text-transform: uppercase;
    @media (max-width: 992px) {
        font-size: 55px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
    }
}
h2, .h2 {
    font-size: 48px;
    font-family: $font-merriweather;
    font-weight: 300;
    color: $darkgary;
    @media (max-width: 992px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 32px;
    }
}
h3, .h3 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: $gold;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 30px;
    }
    @media (max-width: 767px) {
        font-size: 26px;
    }
}
h4, .h4 {
    font-size: 32px;
    font-weight: 700;
    color: $purple;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 24px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
    }
}
h5, .h5 {
    font-size: 28px;
    font-weight: 700;
    color: $darkgary;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}
.event-date {
    font-weight: 500;
    color: $purple;
    font-style: italic;
}
.intro-text, .quotes {
    color: $dawnblue;
    font-weight: 400;
}
.sort-info {
    color: $black;
    &.font-lg {
        font-size: 22px;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}
.sub-title {
    color: $brightblue;
    font-weight: 500;
    text-transform: uppercase;
}

.bg-gold {
    background-color: $gold;
    * {
        color: $white;
    }
}
.bg-brightblue {
    background-color: $brightblue !important;    
}

.bg-triangle-shape {
    overflow: hidden;   
    background: linear-gradient(to right,  rgba($gold, 0.1) 0%,rgba($gold, 0.1) 50%,$gold 50%,$gold 100%);
    @media (max-width: 992px) {
        background: linear-gradient(to bottom,  rgba($gold, 0.1) 0%,rgba($gold, 0.1) 50%,$gold 50%,$gold 100%);
    }
    .triangle-shape {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-color: $gold;
            padding-bottom: 140%;
            width: 60%;
            bottom: 0;
            left: 0;
            transform: rotate(6.5deg);
            transform-origin: left bottom;
            z-index: -1;
            @media (max-width: 1200px) {
                left: -3%;
                transform: rotate(4.5deg);
            }
            @media (max-width: 992px) {
                top: 0;
                bottom: auto;
                left: -8%;
                width: 140%;
                transform: rotate(-4.5deg);
            }
        }
    }
}

.text-purple {
    color: $purple !important;
}

.masonry-card-layout {
    column-count: 2;
    column-gap: 30px;
    @media (max-width: 992px) {
        column-count: 1;
    }
    .info-card {
        margin-bottom: 30px;
    }
}

.main-content-wrapper {
    margin-top: 64px;
    @media (max-width: 992px) {
        margin-top: 56px;
    }
}

.main-section {
    padding: 80px 0;
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    ul {
        li {
            color: $black;
            @include inline-flex; 
            @include align-items (flex-start);
            width: 100%;
            padding-bottom: 10px;
            @media (max-width: 767px) {
                padding-bottom: 8px;
            }
            a {
                color: $brightblue;
                font-weight: 500;
                position: relative;
                &::before {
                    content: ''; 
                    width: 0;
                    height: 1px;
                    background-color: $darkgary;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    display: inline-block;
                    @include transition(0.2s, ease-in-out);
                }
                &:hover {
                    color: $darkgary;
                    &::before {
                        width: 70%;
                    }
                }
            }
            &::before {
                content: ''; 
                width: 8px; 
                height: 8px; 
                flex: none;
                background-color: $gold; 
                display: inline-block;
                margin-right: 12px;
                margin-top: 10px;
                @media (max-width: 767px) {
                    width: 6px; 
                    height: 6px; 
                    margin-top: 9px;
                }
            }
        }
    }
}