// @import url('//fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Sans:wght@300;400;500;700&display=swap');

/* Variables */
$bodyfont: 'Noto Sans', sans-serif;
$bodyfont-color: #000000;
$white: #ffffff;
$black: #000000;
$darkgary: #404040;
$dawnblue:#377a9e;
$brightblue:#00a4ca;
$lightblue:#c2e6e9;
$gold:#c9a41e;
$purple:#42196e;

$font-merriweather: 'Merriweather', serif;


/* Mixins */
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($box-shadow) {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin transition($duration, $ease) {
  -webkit-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  transition: all $duration $ease;
}
@mixin opacity($value) {
  -moz-opacity: $value;
  -khtml-opacity: $value;
  -webkit-opacity: $value;
  opacity: $value;
}
@mixin transform($value) {
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}
@mixin appearance($value) {
  -moz-appearance: $value;
  -webkit-appearance: $value;
  -o-appearance: $value;
  -ms-appearance: $value;
  appearance: $value;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

/* display: flex */
@mixin flexbox() {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@mixin inline-flex {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
}
@mixin justify-content($justify) {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: $justify;
}
@mixin align-items($align) {
  -webkit-box-align: $align;
   -ms-flex-align: $align;
   align-items: $align;
}
@mixin flex-direction($direction) {
  -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: $direction;
   flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
// Display Order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}