.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 30px; 
    }
    h1, h2 {
        margin-bottom: 20px;
    }
}

.content-center {
    text-align: center;
}

.content-grid {
    background-color: $white;
    @include border-radius(20px);
    padding: 20px;
    @include box-shadow(0 4px 20px 5px rgba(0, 0, 0, 0.1));
    .intro-text {
        font-size: 24px;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
}
.row.g-15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-top: -30px;
    & > * {
        margin-top: 30px;
        padding: 0 15px !important;
    }
}

.icon-box {
    padding: 20px;
    @include transition(0.2s, ease-in-out);
    @include border-radius(15px);
    height: 100%;
    position: relative;
    &.left-icon-box {
        @include flexbox;
        @include justify-content(flex-start);
        @media (max-width: 520px) {
            display: block;
        }
        .box-image {            
            width: 90px;
            margin-right: 30px; 
            img {
                @include transition(0.2s, ease-in-out);
            }           
            @media (max-width: 767px) {
                width: 70px;
                margin-right: 20px;    
            }
            @media (max-width: 520px) {
                margin-right: 0px;
                margin-bottom: 20px;
            }
        }
    }
    &.bg-icon-box {
        background-color: var(--bg-color, $brightblue);
        @include flexbox;
        @include flex-direction(column);
        .box-info {
            flex: 1 1 auto;
        }
        h3 {
            color: $white;
            text-transform: unset;
            font-weight: 700;
        }
        .sort-info {
            color: $white;
        }
        &:hover, &:focus {
            @include box-shadow(0 4px 20px 5px rgba(0,0,0,0.1));
            @include transform(translateY(-5px)); 
        }
    }
    .box-image {
        width: 60px;
        flex: none;
        img {
            width: 100%;
        }
    }
    h3 {
        color: $brightblue;
        font-size: 28px;
        margin-bottom: 15px;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 767px) {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }
    .sort-info {
        max-width: 450px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    } 
    .box-action {
        margin-top: 30px;
    }   
}
a.icon-box {
    &:hover, &:focus {
        @include box-shadow(0 4px 20px 5px rgba(0,0,0,0.1));
        @include transform(translateY(-5px));        
        .box-image {
            img {
                filter: grayscale(1) brightness(0.5);
            }
        }
        h3 {
            color: $darkgary;
        }
    }
}

.info-card {
    background: $white;
    @include box-shadow(0 4px 20px 5px rgba(0,0,0,0.1));
    padding: 20px;
    .card-info {
        h3 {
            font-size: 28px;
            font-weight: 700;
            color: $purple;
            text-transform: unset;
        }
    }
    .card-action {
        margin-top: 20px;
    }
}

.hero-header {
    min-height: 80vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #05092e;
    * {
        color: $white;
    }
    .container {
        height: calc(100% - 30px);
    }
    .logo-image {
        max-width: 750px;
        margin: 0 auto;
    }
    h1 {
        font-size: 65px;
        margin-top: 50px;
        margin-bottom: 0;
        @media (max-width: 992px) {
            font-size: 55px;
            margin-top: 30px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
}
.section-content-grid {
    .content-grid {
        margin-bottom: -110px;
        @media (max-width: 767px) {
            margin-bottom: -80px;
        }
    }
}
.section-icon-content {
    &.pt-110 {
        padding-top: 110px;
        @media (max-width: 767px) {
            padding-top: 80px;
        }
    }
    
    .section-title {
        h2 {
            color: #797979;
        }
    }
}
.section-infocard-content {
    .action {
        margin-top: 60px;
        text-align: center;
        &.border-bottom {
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 50px;
        }
    }
}