.hero-header {
    min-height: 80vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    * {
        color: $white;
    }
    .container {
        height: calc(100% - 30px);
    }
    .logo-image {
        max-width: 750px;
        margin: 0 auto;
    }
    h1 {
        font-size: 65px;
        margin-top: 50px;
        margin-bottom: 0;
        @media (max-width: 992px) {
            font-size: 55px;
            margin-top: 30px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
}
.section-content-grid {
    .content-grid {
        margin-bottom: -110px;
        @media (max-width: 767px) {
            margin-bottom: -80px;
        }
    }
}
.section-icon-content {
    padding-top: 110px;
    @media (max-width: 767px) {
        padding-top: 80px;
    }
    .section-title {
        h2 {
            color: #797979;
        }
    }
}