.container {
	@media (max-width:991px) {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
ul {
    padding: 0;
    margin: 0;
}
a {
    color: $gold;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $purple;
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid $brightblue !important;
        @include border-radius(2px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

h1, .h1 {
    font-size: 65px;
    font-weight: 500;
    color: $brightblue;
    font-family: $bodyfont;
    text-transform: uppercase;
    @media (max-width: 992px) {
        font-size: 55px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
    }
}
h2, .h2 {
    font-size: 48px;
    font-family: $font-merriweather;
    font-weight: 300;
    color: $darkgary;
    @media (max-width: 992px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 32px;
    }
}
h3, .h3 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: $gold;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 30px;
    }
    @media (max-width: 767px) {
        font-size: 26px;
    }
}
h4, .h4 {
    font-size: 28px;
    font-weight: 700;
    color: $purple;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 24px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
    }
}
h5, .h5 {
    font-size: 24px;
    font-weight: 700;
    color: $darkgary;
    font-family: $bodyfont;
    @media (max-width: 992px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}
.event-date {
    font-weight: 500;
    color: $purple;
    font-style: italic;
}
.intro-text, .quotes {
    color: $dawnblue;
    font-weight: 400;
}
.sort-info {
    color: $black;
    &.font-lg {
        font-size: 22px;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}
.sub-title {
    color: $brightblue;
    font-weight: 500;
    text-transform: uppercase;
}

.bg-gold {
    background-color: $gold;
    * {
        color: $white;
    }
}
.bg-brightblue {
    background-color: $brightblue !important;    
}

.bg-triangle-shape {
    overflow: hidden;   
    background: linear-gradient(to right,  rgba($gold, 0.1) 0%,rgba($gold, 0.1) 50%,$gold 50%,$gold 100%);
    @media (max-width: 992px) {
        background: linear-gradient(to bottom,  rgba($gold, 0.1) 0%,rgba($gold, 0.1) 50%,$gold 50%,$gold 100%);
    }
    .triangle-shape {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-color: $gold;
            padding-bottom: 140%;
            width: 60%;
            bottom: 0;
            left: 0;
            transform: rotate(6.5deg);
            transform-origin: left bottom;
            z-index: -1;
            @media (max-width: 1200px) {
                left: -3%;
                transform: rotate(4.5deg);
            }
            @media (max-width: 992px) {
                top: 0;
                bottom: auto;
                left: -8%;
                width: 140%;
                transform: rotate(-4.5deg);
            }
        }
    }
}

.text-purple {
    color: $purple !important;
}

.masonry-card-layout {
    @media (min-width: 992px) {
        column-count: 2;
        column-gap: 30px;
        .info-card {
            display: block;
        }
    }
    @media (max-width: 992px) {
        @include flexbox; 
        overflow: hidden; 
        overflow-x: auto;
        margin-left: -10px;
        margin-right: -10px;
    }
    .info-card {
        margin-bottom: 30px;
        @include border-radius(0);
        @media (max-width: 992px) {
            width: 100%;
            min-width: 600px;
            margin: 15px 10px;
            height: unset;
        }
        @media (max-width: 767px) {
            min-width: 500px;
        }
        @media (max-width: 420px) {
            min-width: 280px;
        }
    }
}

// Button
.btn {
	min-height: 40px;
	padding: 8px 25px;
	font-weight: 700;
	font-size: 16px;
	min-width: 160px;
	@include transition(0.3s, ease-in-out);
	@include border-radius(5px);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
    &::before {
        content: none !important;
    }
	&.mw-200 {
		max-width: 200px;
		width: 100%;
	}
	@media (max-width:767px) {
		font-size: 14px;
		padding: 10px 15px;
		min-height: 44px;
	}
	&.btn-white {
		color: $darkgary;
		border: 1px solid transparent;
		background-color:$white;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $white;
			border: 1px solid $white;
		}
	}
	&.btn-purple {
		color: $white;
		border: 1px solid transparent;
		background-color:$purple;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $purple;
			border: 1px solid $purple;
		}
	}
	&.btn-yellow {
		color: $white;
		border: 1px solid transparent;
		background-color: $gold;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $gold;
			border: 1px solid $gold;
		}
	}
	&.btn-brightblue {
		color: $white;
		border: 1px solid transparent;
		background-color:$brightblue;
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $brightblue;
			border: 1px solid $brightblue;
		}
	}
}

.main-content-wrapper {
    margin-top: 64px;
    @media (max-width: 992px) {
        margin-top: 56px;
    }
}

.main-section {
    padding: 80px 0;
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    ul.dot-list {
        li {
            color: $black;
            @include inline-flex; 
            @include align-items (flex-start);
            width: 100%;
            padding-bottom: 10px;
            @media (max-width: 767px) {
                padding-bottom: 8px;
            }
            a {
                color: $brightblue;
                font-weight: 500;
                position: relative;
                &::before {
                    content: ''; 
                    width: 0;
                    height: 1px;
                    background-color: $darkgary;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    display: inline-block;
                    @include transition(0.2s, ease-in-out);
                }
                &:hover {
                    color: $darkgary;
                    &::before {
                        width: 70%;
                    }
                }
            }
            &::before {
                content: ''; 
                width: 8px; 
                height: 8px; 
                flex: none;
                background-color: $gold; 
                display: inline-block;
                margin-right: 12px;
                margin-top: 10px;
                @media (max-width: 767px) {
                    width: 6px; 
                    height: 6px; 
                    margin-top: 9px;
                }
            }
        }
    }
}

.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 30px; 
    }
    h1, h2 {
        margin-bottom: 20px;
    }
}

.content-center {
    text-align: center;
}

.content-grid {
    background-color: $white;
    @include border-radius(20px);
    padding: 30px;
    @include box-shadow(0 4px 20px 5px rgba(0, 0, 0, 0.1));
    .intro-text {
        font-size: 24px;
        @media (max-width: 992px) {
            margin-bottom: 20px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
}

.row.g-15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-top: -30px;
    @media (max-width: 992px) {
        margin-top: -20px;
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    & > * {
        margin-top: 30px;
        padding: 0 15px !important;
        @media (max-width: 992px) {
            margin-top: 20px;
            padding: 0 10px !important;
        }
    }
}

.icon-box {
    padding: 20px;
    @include transition(0.2s, ease-in-out);
    @include border-radius(15px);
    height: 100%;
    position: relative;
    &.no-bg {
        padding: 0;
        background: transparent;
    }
    &.left-icon-box {
        @include flexbox;
        @include justify-content(flex-start);
        @media (max-width: 520px) {
            display: block;
        }
        .box-image {            
            width: 90px;
            margin-right: 20px; 
            img {
                @include transition(0.2s, ease-in-out);
            }           
            @media (max-width: 767px) {
                width: 70px;
                margin-right: 20px;    
            }
            @media (max-width: 520px) {
                margin-right: 0px;
                margin-bottom: 20px;
            }
        }
    }    
    .box-image {
        width: 60px;
        flex: none;
        img {
            width: 100%;
        }
    }
    h3 {
        color: $brightblue;
        font-weight: 500;
        margin-bottom: 15px;
        @include transition(0.2s, ease-in-out);
        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
    .sort-info {
        max-width: 450px;
        margin-bottom: 15px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    } 
    .box-action {
        margin-top: 10px;
    }   
}
a.icon-box {
    &:hover, &:focus {
        @include box-shadow(0 4px 20px 5px rgba(0,0,0,0.1));
        @include transform(translateY(-5px));        
        .box-image {
            img {
                filter: grayscale(1) brightness(0.5);
            }
        }
        h3 {
            color: $darkgary;
        }
    }
}

.info-card {
    background: $white;
    @include box-shadow(0 4px 12px 5px rgba(0,0,0,0.1));
    padding: 25px;
    height: 100%;
    border: none;
    @include border-radius(15px);
    @include transition(0.2s, ease-in-out);
    .card-body {
        flex: 1 1 auto;
        padding: 0;
        h3 {
            line-height: 1;
            text-transform: unset;
            margin-bottom: 15px;
            @media (max-width: 767px) {
                min-width: 500px;
            }
        }
    }
    .card-footer{
        margin-top: 20px;
        padding: 0;
        border-top: none;
        background: transparent;
    }
    &.with-bg {
        background-color: var(--bg-color, $brightblue);
        .card-body {
            h3 {
                color: $white;
                text-transform: unset;
                font-weight: 700;
            }
            .sort-info {
                color: $white;
            }
        }
        &:hover, &:focus {
            @include transform(translateY(-5px)); 
        }
    }
    
}

.splide__list {
    padding: 0;
    margin: 0;
    .splide__slide {
        &::before {
            content: none;
        }
    }   
}
.splide__arrow {
    background: transparent;
    opacity: 1;
    @include transition(0.2s, ease-in-out);
    svg {
        width: 36px;
        height: 36px;
        fill: none;
        path {
            stroke-width: 3px;
            stroke: $white;
            @include transition(0.3s, ease-in-out);
        }
    }
    &--prev {
        left: -40px;
        &:hover, &:focus {
            left: -45px;
            @media (max-width: 992px) {
                left: -30px;
            }
        }
        @media (max-width: 992px) {
            left: -25px;
        }
    }
    &--next {
        right: -40px;
        @media (max-width: 992px) {
            right: -25px;
        }
        &:hover, &:focus {
            right: -45px;            
            @media (max-width: 992px) {
                right: -30px;
            }
        }
    }
    &:hover, &:focus, &:hover:not(:disabled) {
       opacity: 0.7;
    }
}

.event-slider {
    margin-left: -15px;
    margin-right: -15px;
    .splide__slide {
        padding: 15px 15px 25px;
    }
    
    @media (max-width: 992px) {
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
}

.event-slide {
    @include box-shadow(0 4px 12px 5px rgba(0,0,0,0.1));
    padding: 25px;
    @include transition(0.2s, ease-in-out);
    @include border-radius(15px);
    background: $white;
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    .event-info {
        flex: 1 1 auto;
        h3 {
            color: $purple;
            line-height: 1;
            margin-bottom: 10px;
        }
        .date {
            color: $purple;
            font-weight: 600;
            font-size: 28px;
            line-height: 1;
            font-style: italic;
            margin-bottom: 10px;
            @media (max-width: 992px) {
                font-size: 24px;
            }
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
        .sort-info {
            color: $black;
            & > * {
                color: $black;
            }
        }
    }
    .event-action {
        margin-top: 25px;
        .btn {
            margin-right: 20px;
        }
    }
}

.hero-header {
    min-height: 80vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #05092e;
    * {
        color: $white;
    }
    .container {
        height: calc(100% - 30px);
    }
    .logo-image {
        max-width: 750px;
        margin: 0 auto;
    }
    h1 {
        font-size: 65px;
        margin-bottom: 0;
        @media (max-width: 992px) {
            font-size: 55px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
}

.section-content-grid {
    .content-grid {
        margin-bottom: -110px;
        @media (max-width: 767px) {
            margin-bottom: -80px;
        }
    }
}

.section-icon-content {
    &.pt-110 {
        padding-top: 110px;
        @media (max-width: 767px) {
            padding-top: 80px;
        }
    }
    
    .section-title {
        h2 {
            color: #797979;
        }
    }
}

.section-infocard-content {
    .action {
        margin-top: 40px;
        text-align: center;
        @media (max-width: 767px) {
            margin-top: 20px;
        }
        &.border-bottom {
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 50px;
            @media (max-width: 767px) {
                padding-bottom: 40px;
            }
        }
    }
}

.section-events-slider {
    .section-title {
        margin-bottom: 30px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
}

.section-bg-content {
    .section-title {
        padding: 80px 0;
        @media (max-width: 992px) {
            padding: 50px 0 80px;
        }
        @media (max-width: 420px) {
            padding: 50px 0;
        }
        .sub-title {
            text-transform: unset;
            color: $purple;
            font-size: 42px;
            @media (max-width: 1200px) {
                font-size: 40px;
            }
            @media (max-width: 767px) {
                font-size: 32px;
            }
        }
    }
    .sort-info {
        padding: 80px 0;
        padding-left: 120px;
        color: $white;
        @media (max-width: 1200px) {
            padding-left: 70px;
        }
        @media (max-width: 992px) {
            padding-left: 0px;
            padding: 40px 0 50px;
        }
    }
}


.logos-content-block {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 30px 20px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(8, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    @media (max-width: 420px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

