:root {
	--bs-primary: #4B5563;
}
*,::after,
::before {
	box-sizing: border-box; 
	list-style: none; 
	text-decoration: none;
}
html {
    font-family: sans-serif; 
	-webkit-text-size-adjust: 100%; 
	-webkit-tap-highlight-color: transparent;
}
article, 
aside, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section {
    display: block;
}
hr {
    box-sizing: content-box; 
	height: 0; 
	overflow: visible;
}
body {
    margin: 0; 
	padding: 0; 
	font-family: $bodyfont; 
	color: $bodyfontcolor; 
	font-size: $bodyfontsize; 
	font-weight: 400;
	position: relative; 
	line-height: 1.5; 
	overflow-x: hidden; 
	min-height: 100vh; 
	@include flexbox(); 
	@include flex-direction(column);
    &.is-toggle {
        overflow: hidden;
    }
	@media (max-width: 992px) {
		font-size: 16px;
	}
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width:1441px) {
		max-width: 1440px;
	}
	@media (max-width:1199px) {
		max-width: 100%;		
	}
}

.bg-tooltip-primary {
	--bs-tooltip-bg: var(--bs-primary);
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    text-decoration: none;
	text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $black;
        // text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

[type="submit"] {
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
    }
}


p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img{
    max-width:100%;
	height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}

.pt-0 {padding-top: 0px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-100 {padding-top: 100px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-100 {padding-bottom: 100px !important;}

@media (max-width: 767px) {
	.m-pt-0 {padding-top: 0px !important;}
	.m-pt-25 {padding-top: 25px !important;}
	.m-pt-50 {padding-top: 50px !important;}
	.m-pt-80 {padding-top: 80px !important;}
	.m-pt-100 {padding-top: 100px !important;}

	.m-pb-0 {padding-bottom: 0px !important;}
	.m-pb-25 {padding-bottom: 25px !important;}
	.m-pb-50 {padding-bottom: 50px !important;}
	.m-pb-80 {padding-bottom: 80px !important;}
	.m-pb-100 {padding-bottom: 100px !important;}
}

.bg-lightblue {
	background-color: #F4FAFF;
}

.mw-650 {
	max-width: 650px;
	margin: 0 auto;
}

.btn {
	min-height: 40px;
	padding: 10px 20px;
	font-weight: 500;
	font-size: 14px;
	min-width: 120px;
	@include transition(0.1s, ease-in-out);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	@include border-radius(5px);
	line-height: 1;
	&.btn-no-rounded {
		@include border-radius(0px);
	}
	&.btn-primary{
		color: $white !important;
		border: 1px solid $primary;
		background-color:$primary;		
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $primary !important;
			border: 1px solid $primary;			
		}
	}
	&.btn-primary-outline {
		color: $primary !important;
		border: 1px solid $primary;
		background-color: transparent;
		
		&:hover, &:focus, &:active{
			background-color: $primary;
			color: $white !important;
			border: 1px solid $primary;
		}
	}
	&.btn-primary-white {
		color: $primary !important;
		border: 1px solid $white;
		background-color:$white;		
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $white !important;
			border: 1px solid $white;			
		}
	}
	&.btn-black-white {
		color: $black !important;
		border: 1px solid $white;
		background-color:$white;		
		&:hover, &:focus, &:active{
			background-color: transparent;
			color: $white !important;
			border: 1px solid $white;			
		}
	}
}
.btn-link-arrow {
	@include inline-flex;
	@include align-items(center);
	font-weight: 500;
	font-size: 14px;
	background: url('data:image/svg+xml; utf8,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.45737H11M11 4.45737L7.25 0.571655M11 4.45737L7.25 8.34308" stroke="rgb(79 70 229)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
	background-repeat: no-repeat !important;
	background-size: 12px !important;
	background-position: calc(100% - 5px) center !important;
	padding-right: 23px;
	line-height: 1;
	@include transition(0.1s, ease-in-out);
	&:hover, &:focus {
		background: url('data:image/svg+xml; utf8,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.45737H11M11 4.45737L7.25 0.571655M11 4.45737L7.25 8.34308" stroke="rgb(28 39 76)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		background-position: calc(100%) center !important;
	}
	&.txt-black {
		color: $bodyfontcolor;
		background: url('data:image/svg+xml; utf8,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.45737H11M11 4.45737L7.25 0.571655M11 4.45737L7.25 8.34308" stroke="rgb(28 39 76)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		&:hover, &:focus {
			color: $primary;
			background: url('data:image/svg+xml; utf8,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.45737H11M11 4.45737L7.25 0.571655M11 4.45737L7.25 8.34308" stroke="rgb(79 70 229)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		}
	}
}

h1, .h1 {
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 20px;
	@media (max-width: 992px) {
		font-size: 40px;
		margin-bottom: 15px;
    }
	@media (max-width: 767px) {
		font-size: 32px;
    }
}

h2, .h2 {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 20px;
	@media (max-width: 992px) {
		font-size: 28px;
    }
	@media (max-width: 767px) {
		font-size: 24px;
    }
}

h3, .h3 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
	@media (max-width: 992px) {
		font-size: 20px;
    }
}

h4, .h4 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 15px;
	@media (max-width: 767px) {
		font-size: 16px;
    }	
}

h5, .h5 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	@media (max-width: 767px) {
		font-size: 16px;
    }	
}

.main-header {
	position: fixed; 
	left: 0; 
	right: 0; 
	z-index: 10; 
	top: 0; 
	@include transition(0.1s, ease-in-out); 
	background-color: $white; 
	&.fixed-header {
		background: rgba($white, .95);
		backdrop-filter: blur(3px);
	}
	.navbar {		
		padding: 15px 0;
		@media (max-width: 767px) {
			padding: 10px 0;
		}
		.navbar-brand {
			padding: 0;
			margin-right: 40px;
			img {
				max-height: 49px;
				@media (max-width: 767px) {
					max-height: 40px;
				}
			}
		} 
	}
	ul {
		list-style-type: none;
		@include flexbox;
		@include align-items(center);
		li {
			padding: 0 12px;
			a {
				font-size: 14px;
				color: $black;
				position: relative;
				@include transition(0.1s, ease-in-out);
				&::after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    content: "";
                    height: 2px;
					width: 0;
					background-color: $black;
                    @include transition(0.1s, ease-in-out);
                }
				&:hover, &:focus,&.active {
					font-weight: 700;
					&::after {
                       	width: 100%;
                    }
				}
			}
		}
	}
	.right-menu {
		margin-left: auto;
		ul {
			li {
				&:last-child {
					padding-right: 0;
				}
				a {
					&.btn {
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
	.toggle-sidebar {
		display: none;
	}
	@media (max-width: 992px) {
        .toggle-sidebar {
            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 5px 0 5px 5px;
            background-color: transparent;
            z-index: 10;
            width: 30px;
			margin-left: 5px;
            span {
                width: 25px;
                height: 2px;
                margin: 5px 0;
                background-color: $black;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                display: block;
                left: 0;
                top: 0;
                position: relative;
				@include transition(0.3s, ease-in-out);
                &:nth-child(1) {
                    width: 13px;
                }

                &:nth-child(3) {
                    width: 18px;
                }
            }
			&:hover, &:focus {
				span {
					background-color: $primary;
				}
			}
			&.is-toggle {
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg));
						width: 25px;
						top: 7px;
						left: -2px;
					}
	
					&:nth-child(2) {
						-moz-opacity: 0;
						-khtml-opacity: 0;
						-webkit-opacity: 0;
						opacity: 0;
						left: 0;
						width: 20px;
					}
	
					&:nth-child(3) {
						@include transform(rotate(-135deg));
						width: 25px;
						top: -7px;
						left: -2px;
					}
				}
			}
        }
		.navbar-collapse { 
			position: fixed;
			top: 79px;
			left: 0;
			display: block;
			width: 100%;
			height: calc(100vh - 79px);	
			background: $white;
			overflow-y: auto;
			@include transform(translateX(-100%));
			@include transition(0.3s, ease-in-out);
			@media (max-width: 767px) {
				top: 60px;
				height: calc(100vh - 60px);	
			}
			ul {
				display: block;
				max-width: 720px;
				margin: 15px auto;
				padding: 0 15px;
				@media (max-width: 767px) {
					max-width: 540px;
				}
				li {
					padding: 8px 0;
				}
			}
		}
		&.is-toggle {
			.navbar-collapse { 
				@include transform(translateX(0));
			}
		}
    }
}

.bg-overly {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	z-index: 9; 
	background-color: rgba(0, 0, 0, 0.5); 
	visibility: hidden; 
	@include opacity(0); 
	@include transition(0.3s, ease-in-out);
	&.is-visible {
		@include opacity(1); 
		visibility: visible;
	}
}

.main-footer {
	background: $black; 
	padding: 50px 0;
	color: $white;
	@media (max-width: 767px) {
		padding: 30px 0;
	}
	.footer-logo-block {
		.footer-logo {
			margin-bottom: 20px;
			display: inline-block;
			img {
				max-height: 50px;
			}
		}
		.sort-info {
			max-width: 620px;
			font-size: 14px;
			@media (max-width: 767px) {	
				margin-bottom: 15px;
			}
		}
	}
	.footer-menu-block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding-top: 30px;
		margin-top: 30px;
		border-top: 1px solid $white;
		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 767px) {	
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.footer-menu {
		ul {
			@include flexbox;
			@include align-items(center);
			@media (max-width: 767px) {	
				@include justify-content(center);
			}
			li {
				padding: 3px 15px;
				border-right: 1px solid $white;
				line-height: 0.7;
				@media (max-width: 767px) {	
					padding: 3px 10px;
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: 0;
					padding-right: 0;
				}
				a {
					font-size: 14px;
					color: $white;
					position: relative;					
					&::after {
						position: absolute;
						bottom: -4px;
						left: 0;
						content: "";
						height: 2px;
						width: 0;
						background-color: rgba($white, .75);
						@include transition(0.1s, ease-in-out);
					}
					&:hover, &:focus,&.active {
						color: rgba($white, .75);
						&::after {
							   width: 100%;
						}
					}
				}
			}
		}
	}
	.copyright-block {
		@media (max-width: 992px) {			
			grid-column: 1 / -1;
		}
		.copyright-text {
			font-size: 14px;
			color: $white;
			text-align: center;
			@media (max-width: 992px) {
				margin-top: 15px;
			} 
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
	}
	.social-menu-block {
		ul {
			@include flexbox;
			@include align-items(center);
			@include justify-content(flex-end);
			@media (max-width: 767px) {	
				@include justify-content(center);
				margin-top: 25px;
			}
			li {
				padding: 0 8px;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.design-by {
		display: none;
	}

}

.back-to-top {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: $primary;
	text-align: center;
	position: fixed;
	z-index: 8;
	right: 20px;
	bottom: -100px;
	-webkit-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	-moz-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	@include border-radius(6px);
	&:hover, &:focus {
		@include opacity(0.8);
	}
	&.visible {
        opacity: 1;
        bottom: 25px;
	}
	svg {
		width: 16px;
		height: 16px;
	}

	@media (max-width:767px) {
		display: none !important;
	}
}