#adminmenu li.wp-menu-separator{
    background:#c89e5f;
}

.acf-repeater table.acf-table .acf-row:nth-child(2n) .acf-row-handle{
    background:#e7e7e7;
}

.acf-repeater table.acf-table .acf-row .acf-row-handle span{
    font-size:22px;
    font-weight:bold;
}

.acf-repeater table.acf-table .acf-row:nth-child(2n) > td{
    background:#f3f3f3;
}

tr.status-draft{
    background:pink !important;
}


/* .main_1_plan table tr:nth-child(even) td[data-name^="range_1_"],
.main_1_plan table tr:nth-child(even) td[data-name^="range_3_"]{
    background:#e0e0e0 !important;
} */

.extra-spacing input{
    word-spacing:20px;
}