.enlighter-t-dracula {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #000000;
    font-family: monospace;
    div.enlighter>div {
        background-color: #000000;
        font-size: 16px;
    }
    .enlighter-code {
        padding: 25px 15px 20px 15px;
        background-color: #000000;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .enlighter-c0 {
        color: #6A8D57;
    }
    .enlighter-k0 {
        color: #C284B9;
    }
    .enlighter-text {
        color: #9EDCFC;
    }
    .enlighter-k1, .enlighter-e0 {
        color: #C284B9;
    }
    .enlighter-g1 {
        color: #EAD232;
    }
    .enlighter-m1, .enlighter-m0 {
        color: #D2D4AB;
    }
    .enlighter-e1, .enlighter-e3, .enlighter-n1 {
        color: #50BCA3;
    }
    .enlighter-s0 {
        color: #9EDCFC;
    }
} 