body {
   #main .blog-article-content .wp-caption {
    &[id^="code"],
    &[id*="code"] {
       overflow: visible;
    }
   }
}

body .enlighter-default.enlighter-t-dracula {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #000000;
    font-family: monospace;

    div.enlighter>div {
        background-color: #000000;
        font-size: 16px;
    }
    .enlighter span {
        font-size: 16px;
    }
    .enlighter-code {
        padding: 30px 0px 15px 0px;
        background-color: #000000;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .enlighter-c0 {
        color: #6A8D57;
    }
    .enlighter-k0 {
        color: #C284B9;
    }
    .enlighter-text {
        color: #9EDCFC;
    }
    .enlighter-k1, .enlighter-e0, .enlighter-k3 {
        color: #C284B9;
    }
    .enlighter-g1 {
        color: #EAD232;
    }
    .enlighter-m1, .enlighter-m0 {
        color: #D2D4AB;
    }
    .enlighter-e1, .enlighter-e3, .enlighter-n1 {
        color: #50BCA3;
    }
    .enlighter-s0 {
        color: #9EDCFC;
    }

    .enlighter-btn:hover {
        color: #fff;
        background-color: #7962FE;
    }
} 

body .enlighter-default.enlighter-t-enlighter {
    border-radius: 15px;    
    background-color: #FDFDFF;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #E7E3FA;
    div.enlighter>div::before {
        background-color: #E7E3FA;
        padding: 10px 15px 0px 15px;
        border: none;
        width: 25px;
        min-width: 25px;
        color: #787792;
    }
   
    div.enlighter>div:LAST-CHILD::before {
        padding: 10px 15px 25px 15px;
    }
    div.enlighter>div:first-child::before {
        padding: 25px 15px 0px 15px;
    }
    .enlighter-code {
        border-radius: 15px;
    }
    .enlighter span{
        font-weight: 400;
    }
    .enlighter-k0{
        color: #684BFE;
    }
    .enlighter-text{
        color: #05E5AD;
    }
    .enlighter-c0 {
        color: #01012A;
    }
    .enlighter-s0{
        color: #FF6B9C;
    }
    .enlighter-m0{
        color: #01012A;
    }
    .enlighter-m1{
        color: #01012A;
    }
    .enlighter-g1{
        color: #A4B200;
    }
    .enlighter-n1{
        color: #05E5AD;
    }
   .enlighter-k1{
        color: #FE44CA;
   }
   .enlighter-k3{
        color: #684BFE;
   }
   .enlighter-c0{
        color: #00840D;
   }
   .enlighter-n1:first-child{
        color: #000000;
   }
   .enlighter-n1 {
        color: #00875F;
   }
  
}
