footer#site-footer {
  background-color: $text-alt;
}
// .blog,.single-post, body.error404 {
//     .site-footer{
//         @media (max-width:1023px) {
//             margin-top: -58vh !important;
//             .ellipse-inner {
//                 padding-top: 26rem !important;
//             }
//         }
//         @media (max-width:575px) {
//             margin-top: -72vh !important;
//             .ellipse-inner {
//                 padding-top: 35rem !important;
//             }
//             .ellipse{
//                 background-size: cover;
//             }
//         }
//         @media (max-width:480px) {
//             .ellipse-inner {
//                 padding-top: 28rem !important;
//             }
//         }
//     }
// }

.site-footer {
  position: relative;
  // padding-top: 48%;
  margin-top: -41em;
  background-color: initial !important;
  pointer-events: none;
  * {
    line-height: 1.5;
  }
  @include mobile {
    margin-top: -46vh;
  }

  @media (max-width: 1023px) {
    padding-top: 0;
  }
  .ellipse {
    // position: absolute;
    width: 100%;
    padding: 38rem 0 5rem;
    background-image: url(/wp-content/uploads/2023/03/blog-footer-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    backdrop-filter: initial;
    @include mobile {
      background-image: url(/wp-content/uploads/2023/03/blog-footer-mobile.png);
      padding: 3rem 0 24.3em;
    }
    @media (max-width: 1023px) {
      padding: 130px 0 40px;
      position: relative !important;
      background-size: 100% 100%;
    }
    &-inner {
      padding-top: 100px;
      // top: 54%;
      // position: absolute;
      // left: 0;
      // right: 0;
      // bottom: 0;
      position: relative;
      pointer-events: all;
      z-index: 1;
      @include mobile {
        // top: 20em;
        padding: 0 6rem;
      }
      @media (max-width: 1550px) {
        padding-top: 50px;
      }
      @media (max-width: 1023px) {
        position: relative;
        top: auto !important;
      }
    }
  }
  @media only screen and (min-width: 1330px) and (max-width: 1550px) {
    margin-top: -38em;
  }
  @media only screen and (min-width: 1023px) and (max-width: 1329px) {
    margin-top: -37em;
  }
  .container {
    max-width: 1100px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    // width: 70rem;
    .site-footer--grid {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
      }
    }
  }
  .footer-menu-title {
    display: inline-block;
    font-size: 14px;
    color: #9b8afc !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include mobile {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  .footer-menu {
    padding: 0;
    margin: 0;
    font-size: 14px;
    li {
      margin-bottom: 8px;
    }
  }
  // @include mobile{
  //     .footer-menu1{
  //         order: 1;
  //     }
  //     .footer-menu2{
  //         order: 3;
  //     }
  //     .footer-menu3{
  //         order: 2;
  //     }
  // }
  // .footer-menu4{
  //     @include mobile{
  //         order: 4;
  //     }
  // }

  .site-footer--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 10rem;
    @include mobile {
      flex-direction: column-reverse;
    }
    // @media only screen and (min-width: 1023px) and (max-width: 1329px) {
    //     margin-top: 3rem;
    // }
    // @include mobile{
    //     margin-top: 6rem;
    // }
    .footer-copyright {
      p {
        color: #a0a0b8;
        font-size: 1.4rem;
        margin: 0;
      }
      @include mobile {
        margin-top: 15px;
      }
    }
    .footer-menu {
      a {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .footer-social {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    flex-wrap: wrap;

    a {
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 10px;
      margin-bottom: 15px;
      @media (max-width: 600px) {
        margin-right: 5px;
      }
      &:last-child {
        margin-right: 0px;
      }
      img {
        max-height: 24px;
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    svg {
      height: 20px;
      @include mobile {
        height: 16px;
      }
      * {
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
      }
    }
  }

  .footer-info {
    border-top: 1px solid #ebe9f6;
    padding: 34px 0;

    p {
      color: #fff;
      font-size: 14px;

      a {
        color: #fff;
        text-decoration: underline;
        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }

  .footer-software-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #ebe9f6;
    padding: 34px 0;

    &.footer-flex-column {
      flex-wrap: wrap;
      gap: 25px;
      // flex-direction: column;
      // gap: 25px;
      // align-items: flex-start !important;
      @media (max-width: 992px) {
        gap: 25px;
      }
    }
    @media (max-width: 575px) {
      // text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 20px 10px;

      // &.footer-bottom {
      //     flex-direction: column-reverse;
      //     gap: 0px 10px;
      // }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      gap: 20px;
    }
    .title-text {
      color: #fff;
      font-size: 14px;
      margin-right: 16px;

      margin: 0 0 10px;
      display: block;
      // @media (min-width:768px) and (max-width:992px) {
      //     text-align:right;
      //     line-height: 1;
      // }
      // @media (max-width:767px) {

      // }
    }
    .footer-item {
      // display: inline-flex;
      // align-items: center;
      // @media (max-width:767px) {
      display: block;
      // }
      // @media (min-width:576px) and (max-width:767px) {
      //     width: 50%;
      //     text-align: left;
      // }
    }
    .footer-software {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 14px;
      span {
        display: inline-flex;
        // margin-right: 14px;
        flex: none;
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        display: inline-flex;
        flex: none;
        // margin-right: 14px;
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;

        &:hover,
        &:focus {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          z-index: 9;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .site-footer--content {
      .footer-menu {
        // margin-right: 40px;
        a {
          color: #a0a0b8;
          &:hover {
            color: #ffffff;
          }
          @media (max-width: 1023px) {
            // margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      @include mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .footer-menu {
          margin-right: 0;
        }
      }
      @media (min-width: 576px) and (max-width: 1023px) {
        // -webkit-box-align: end;
        // -ms-flex-align: end;
        // align-items: flex-end;
        .footer-copyright {
          margin-top: 5px;
        }
      }
    }

    &.footer-bottom {
      @include flex-wrap(wrap);
      @media (min-width: 992px) {
        @include align-items(center);
      }

      @media (max-width: 992px) {
        gap: 10px;
        .m-order-1 {
          order: 1;
          width: 100%;
          flex: 1 1 auto;
          margin-bottom: 20px;
        }
        .m-order-2 {
          order: 2;
        }
        .m-order-3 {
          order: 3;
        }
      }

      @media (max-width: 575px) {
        @include justify-content(center);
        .m-order-2 {
          order: 3;
        }
        .m-order-3 {
          order: 2;
        }
      }
    }

    .site-footer--logos {
      gap: 15px;
      @include flexbox();
      @include align-items(center);
      @include flex-wrap(nowrap);

      a {
        display: block;
        @include transition(0.1s, ease-in-out);

        &:hover,
        &:focus {
          opacity: 0.8;
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          z-index: 2;
        }
      }

      img {
        width: auto;
        max-height: 48px;
        vertical-align: bottom;
        @media (max-width: 475px) {
          max-height: 40px;
        }
      }
    }
  }

  a {
    color: #fff;
    transition: all 0.2s ease-in-out;
    text-underline-offset: 4px;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }

    .coming-soon-label {
      border-radius: 30px;
      background: #05e5ad;
      font-size: 8px;
      font-weight: 700;
      color: #01012a;
      display: inline-block;
      padding: 2px 5px;
      margin-left: 5px;
    }
  }
  li.current_page_item:not(.hash-menu) > a {
    color: #fff;
    text-decoration: underline;
  }
  .ellipse-inner {
    @media (max-width: 991px) {
      padding: 0px !important;
    }
  }

  &.site-footer-light {
    padding-top: 0;
    margin-top: 0;
    .ellipse,
    .ellipse-inner {
      position: inherit;
      top: auto;
      right: auto;
      left: auto;
      transform: none;
      padding: 0px;
    }
    .footer-social {
      a {
        &:hover {
          svg {
            path {
              fill: var(--icon-hover-color, #684bfe);
            }
          }
        }
      }
    }
    @media (max-width: 1023px) {
      padding-top: 100px;
      background-image: url(../images/footer-light-bg-m.png) !important;
      background-position: center top;
      background-size: 100% 100px;
      background-color: transparent !important;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        left: -35px;
        top: -15px;
        width: 90px;
        height: 90px;
        background: url(../images/circle-img-3.png) no-repeat center center;
        background-size: contain;
      }
      @media (max-width: 575px) {
        background-size: 100% 60px;
        padding-top: 60px;
      }
    }
    .ellipse {
      background-image: url(../images/footer-light-bg.png) !important;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 150px;
      @media (max-width: 1023px) {
        padding-top: 0px;
        padding-bottom: 40px;
        background-image: none !important;
        background-color: #faf9ff;
      }
      @media (max-width: 575px) {
        padding-top: 30px;
      }
    }
    .site-footer--grid {
      margin-bottom: 34px;
      @media (max-width: 1023px) {
        gap: 20px 10px;
      }
    }
    .footer-software-block {
      .title-text {
        color: #01012a;
      }
      .footer-menu {
        a {
          &:hover {
            color: #684bfe;
          }
        }
      }
    }
    .site-footer--content {
      margin: 0;
      .footer-copyright {
        p {
          margin: 0;
          font-size: 1.4rem;
        }
      }
      a {
        color: #a0a0b8;
      }
    }
    a {
      color: #01012a;
      &:hover,
      &:focus {
        color: #684bfe;
      }
    }
    li.current_page_item > a {
      color: #684bfe;
    }

    .footer-info p {
      color: #01012a;

      a {
        color: #684bfe;
        &:hover,
        &:focus {
          color: #684bfe;
        }
      }
    }
  }

  &.site-footer-inline-dark {
    padding-top: 0;
    margin-top: 0;
    .ellipse,
    .ellipse-inner {
      position: inherit;
      top: auto;
      right: auto;
      left: auto;
      transform: none;
    }
    .ellipse-inner {
      padding-top: 0px !important;
    }
    @media (max-width: 1023px) {
      padding-top: 100px;
      background-color: #26265e !important;
      background-image: url(../images/footer-gark-bg-m.png) !important;
      background-position: center top;
      background-size: 100% 100px;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        left: -35px;
        top: -15px;
        width: 90px;
        height: 90px;
        background: url(../images/circle-img-3.png) no-repeat center center;
        background-size: contain;
      }
      @media (max-width: 575px) {
        background-size: 100% 60px;
        padding-top: 60px;
      }
    }
    .ellipse {
      background-color: #050433;
      background-image: url(../images/footer-dark-bg.png) !important;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 150px;
      @media (max-width: 1023px) {
        padding-top: 0px;
        padding-bottom: 40px;
        background-image: none !important;
        background-color: #26265e;
      }
      @media (max-width: 575px) {
        padding-top: 30px;
      }
    }
    .site-footer--grid {
      margin-bottom: 34px;
      @media (max-width: 1023px) {
        gap: 20px 10px;
      }
    }
    .site-footer--content {
      margin: 0;
      .footer-copyright {
        p {
          margin: 0;
          font-size: 1.4rem;
        }
      }
    }

    .footer-software-block,
    .footer-info {
      border-top-color: rgba(#ebe9f6, 0.2);
    }
  }

  &.site-footer-inline-mask {
    margin-top: -150px;
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
      margin-top: -100px;
    }
    &::before {
      content: '';
      position: absolute;
      background: url(../images/circle-img-3.png) no-repeat center center;
      background-size: contain;
      width: 140px;
      height: 140px;
      z-index: 2;
      top: 5%;
      left: -50px;
      @media (max-width: 1200px) {
        top: 2%;
      }
      @media (max-width: 992px) {
        left: -30px;
        width: 80px;
        height: 80px;
      }
      @media (max-width: 767px) {
        top: 1%;
      }
    }
    .ellipse {
      position: relative;
      background-image: none;
      padding: 100px 0 50px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, rgba(31, 31, 255, 0.1), rgba(31, 31, 255, 0.1)), linear-gradient(0deg, rgba(1, 1, 42, 0.4), rgba(1, 1, 42, 0.4)), linear-gradient(105.87deg, rgba(255, 255, 255, 0.4) 3.04%, rgba(255, 255, 255, 0) 99.23%);
        background-blend-mode: overlay, normal, normal, normal;
        backdrop-filter: blur(40px);
        border-radius: 55% 55% 0 0 / 75% 75% 0 0;
        transform: scaleX(1.5);
        z-index: 1;
        background-blend-mode: overlay, normal, normal, normal;
        backdrop-filter: blur(40px);
        box-shadow: inset -6px 6px 0px -6px rgba(31, 31, 255, 0.1), inset 8px 8px 0px -8px rgba(1, 1, 42, 0.4), inset 2px 2px 0px -2px #fff, inset 0px -6px 0px -4px rgba(#6447ff, 0), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
        @media (max-width: 1200px) {
          border-radius: 45% 50% 0 0 / 50% 45% 0 0;
        }
        @media (max-width: 992px) {
          border-radius: 75% 90% 0 0 / 55% 65% 0 0;
        }
        @media (max-width: 767px) {
          border-radius: 80% 80% 0 0 / 25% 25% 0 0;
        }
      }
    }
    .ellipse-inner {
      padding-top: 40px;
    }
  }

  // &--bottom-line{
  //     text-align:center;
  //     font-size:1.4rem;
  // }
}

.is-site-footer-inner {
  padding-bottom: 300px !important;
  @media (max-width: 767px) {
    padding-bottom: 150px !important;
  }
}

.two-cols-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .footer-software-block {
    flex-direction: column;
  }

  & > *:not(:first-child) {
    place-content: end;
    padding-inline-start: 2.5rem;

    @media (max-width: 767px) {
      padding-inline-start: 0;
      place-content: start;
    }
  }
}
