* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  // @media only screen and (min-width: 2561px) {
  //     font-size: 13px;
  // }
  // @media only screen and (min-width: 1921px) and (max-width: 2560px) {
  //     font-size: 12px;
  // }
  // @media only screen and (min-width: 1450px) and (max-width: 1920px) {
  //     font-size: 9px;
  // }
  // @media only screen and (min-width: 1024px) and (max-width: 1150px) {
  //     font-size: 9px;
  // }
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 1.8rem;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
  background: #01012a;
  @include mobile {
    font-size: 4vw;
  }
  &.is-light{
    background-color: #FFFFFF !important;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      width: 100%;
      height: 45rem;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(182deg, #C3B9FF -85%, rgba(200, 191, 255, 0.92) -66%, rgba(255, 255, 255, 0) 78%);
      // background: linear-gradient(180deg, #C3B9FF -85%, rgba(200, 191, 255, 0.90) -65%, rgba(#F3F1EE, 0) 75%);
    }
  }
}

main {
  margin: 0;
  // > section:first-of-type{
  //     padding-top: 14rem;
  //     @include mobile{
  //         padding-top: 10.4rem;
  //     }
  // }
}

.container {
  // width: 110rem;
  // width: 82vw;
  margin: 0 auto;
  // @media only screen and (min-width: 2561px) {
  //     width: 200rem;
  // }
  // @media only screen and (min-width: 1921px) and (max-width: 2560px) {
  //     width: 180rem;
  // }
  // @media only screen and (min-width: 1601px) and (max-width: 1920px) {
  //     width: 150rem;
  // }
  @media only screen and (min-width: 1441px) {
    width: 138rem;
  }
  @media only screen and (min-width: 1141px) and (max-width: 1440px) {
    width: 110rem;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1140px) {
    width: 100rem;
  }
  @include mobile {
    width: 100%;
    margin: 0;
  }
}
.container-lg {
  max-width: 130rem;
  margin: 0 auto;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.container-big {
  max-width: 145rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.container-100 {
  width: 100%;
  max-width: 100%;
}
.container-inner {
  max-width: 115rem;
  margin: 0 auto;
  padding-right:2rem;
  padding-left: 2rem;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.container-fix {
  max-width: 100rem;
  margin: 0 auto;
  padding-right:2rem;
  padding-left: 2rem;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.slideUp {
  transform: translateY(-9rem);
  -webkit-transform: translateY(-9rem);
  -moz-transform: translateY(-9rem);
  -ms-transform: translateY(-9rem);
  -o-transform: translateY(-9rem);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  
  body.show-header-strip & {
    transform: translateY(-4.5rem);
    -webkit-transform: translateY(-4.5rem);
    -moz-transform: translateY(-4.5rem);
    -ms-transform: translateY(-4.5rem);
    -o-transform: translateY(-4.5rem);
  }
}

.slideDown {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.share-box {
  background: #fff;
  border-radius: 1rem;
  padding: 1.7rem 2rem 1.7rem 4rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  width: 41rem;
  > span {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $main-font;
    margin-inline-end: auto;
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: $text;
  font-weight: 400;
  font-family: $main-font;
  line-height: 1;
  margin: 0;
}
.h1,
.h2.h3.h4 {
  margin: 0;
}
.h1-bold {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 5.6rem;
  @include mobile {
    font-size: 8vw;
  }
}

h2,
.h2 {
  font-size: 4rem;
  font-weight: 700;
  @include mobile {
    font-size: 8vw;
  }
}

h3,
.h3 {
  font-size: 2.6rem;
  color: $text-heading;
  font-weight: 700;
  @include mobile {
    font-size: 6vw;
  }
}

h4,
.h4 {
  font-size: 1.4rem;
  color: $heading-alt;
  font-weight: 700;
  @include mobile {
    font-size: 3.2vw;
  }
}

p {
  font-family: $main-font;
  // font-size: 1.8rem;
  line-height: 132%;
  font-weight: 400;
  color: $text;
}

ul,
ol {
  font-size: 1.8rem;
  line-height: 180%;
  font-weight: 400;
  color: $black;
  list-style-type: none;
  > li:not(:first-child) {
    // margin-top: 2em
  }
  @include mobile {
    &.list-2 {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
    &.list-3 {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
    &.list-4 {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

section {
  position: relative;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $text;
  font-family: $main-font;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-underline-offset:2px;
  text-decoration-thickness: 2px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

::placeholder {
  opacity: 1;
  color: $text;
}


.p-0{padding:0!important}
.pt-0{padding-top:0!important}
.pt-1{padding-top:.25rem!important}
.pt-2{padding-top:.5rem!important}
.pt-3{padding-top:1rem!important}
.pt-4{padding-top:1.5rem!important}
.pt-5{padding-top:3rem!important}
.pb-0{padding-bottom:0!important}
.pb-1{padding-bottom:.25rem!important}
.pb-2{padding-bottom:.5rem!important}
.pb-3{padding-bottom:1rem!important}
.pb-4{padding-bottom:1.5rem!important}
.pb-5{padding-bottom:3rem!important}

.m-0{margin:0!important}
.mt-0{margin-top:0!important}
.mt-1{margin-top:.25rem!important}
.mt-2{margin-top:.5rem!important}
.mt-3{margin-top:1rem!important}
.mt-4{margin-top:1.5rem!important}
.mt-5{margin-top:3rem!important}
.mb-0{margin-bottom:0!important}
.mb-1{margin-bottom:.25rem!important}
.mb-2{margin-bottom:.5rem!important}
.mb-3{margin-bottom:1rem!important}
.mb-4{margin-bottom:1.5rem!important}
.mb-5{margin-bottom:3rem!important}

.d-none{display:none!important}
.d-block{display:block!important}
@media (min-width: 768px) {
  .d-md-block {display: block !important;}
}
@media (min-width: 992px) {
  .d-lg-block {display: block !important;}
}

.d-m-md-block {display: none !important;}
@media (max-width: 992px) {
  .d-m-md-none {display: none !important;}
  .d-m-md-block {display: block !important;}
}

.d-m-block {display: none !important;}
@media (max-width: 767px) {
  .d-m-block {display: block !important;}
  .d-m-sm-none {display: none !important;}
}

@media (max-width: 480px) {
  .d-m-xs-none {display: none !important;}
}

.d-m-inline-block {display: none !important;}
@media (max-width: 767px) {
  .d-m-inline-block {display: inline-block !important;}
  .d-m-sm-none {display: none !important;}
}

.pb-50{padding-bottom:50px!important}
.pb-100{padding-bottom:100px!important}
.pt-50{padding-top:50px!important}
.pt-100{padding-top:100px!important}
.pt-150{padding-top:150px!important}
.pt-200{padding-top:200px!important}
.mb-50{margin-bottom:50px!important}
.mt-50{margin-top:50px!important}

@media (max-width: 767px) {
  body .m-pt-50{padding-top:50px!important}
  body .m-pt-100{padding-top:100px!important}
  body .m-pt-150{padding-top:150px!important}
  body .m-pb-50{padding-bottom:50px!important}
}

.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}

.text-nowrap {white-space: nowrap;}
.text-uppercase {text-transform:uppercase;}

.txt-pink {color: #FF6B9C !important; }
.txt-purple {color: #7962FE !important; }
.txt-green {color: #05E5AD !important; }
.txt-theme {color: #01012A !important; }
.txt-black {color: #000 !important; }
.txt-white, .text-white {color: #fff !important; }

.mw-900 {
  max-width: 900px;
  margin: 0 auto;
}
.mw-full {
  max-width: 100% !important;
  margin: 0 auto;
}

body .pointer-events-none {
  pointer-events:none;
  cursor: not-allowed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
} 

.txt-blur {
  filter: blur(5px);pointer-events: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.icw-shadow-pulse {animation: icw-shadow-pulse 1s infinite; }
 @keyframes icw-shadow-pulse {
   0% {
     box-shadow: 0 0 0 0px rgba(#05E5AD, 0.4);
   }
   100% {
     box-shadow: 0 0 0 12px rgba(#05E5AD, 0);
   }
 }

.alert { 
  margin: 0 0 1rem; padding: .75em 1em; color:#fff; border:0px !important; position: relative; font-size: 1.5rem;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;
}
  
.alert-success{background: #40bb2b;}
.alert-info{background: #1cc7f1;}
.alert-warning{background: #ffac39; color:#000;}
.alert-danger{background: #F44336;}

.btn {
  border-radius: 30px;
  padding: 1.1rem 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  display: inline-block;
  transition: 0.3s all ease;
  cursor: pointer;

  &:active {
    transform: translateY(3px);
  }

  @media(max-width: 575px) {
      &.btn-full-m {
        width: 100%;
        text-align: center;
      }
  }

  &.btn-big {
    padding: 1.5rem 5rem;
  }

  &.btn-arrow {
    position: relative;
    @include inline-flex;
	  @include align-items(center);
    color: #7962fe;
    &:after {
			content: "";
			display: block;
      margin-left: 8px;
			width: 26px;
			height: 13px;
			background: url(../icons/btn-arrow-right.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
      // position: absolute;
      // right: 0;

		}
		&:hover, &:focus, &:active {
      color: #604ae0;
			&:after {
				transform: translateX(5px);
			}
		}
  }
}
.main-btn {
  background: #7962fe;
  border: 1px solid #7962fe;
  &:hover, &:focus {
    background: #604ae0;
  }
}
.btn-green {
  border: 1px solid $green;
  background-color: $green;
  color: $text-alt;
  &:hover, &:focus {
    background: #00bd85;
  }
}
.btn-outline-purple {
  border-radius: 30px;
  border: 2px solid #9B8AFC;
  color: #9B8AFC !important;
  text-transform: uppercase;
  &:hover, &:focus {
    color: #fff !important;
    background: #9b8afc;
  }
}
.btn-grey {
  background: linear-gradient(0deg, rgba(1, 1, 42, 0.4), rgba(1, 1, 42, 0.4)),
    linear-gradient(
      105.87deg,
      rgba(255, 255, 255, 0.4) 3.04%,
      rgba(255, 255, 255, 0) 99.23%
    );
  backdrop-filter: blur(40px);
  border: 1px solid #b2b0e7;
  display: flex;
  gap: 1rem;
  &:hover {
    background: transparent;
    color: #7962fe;
  }
  img {
    width: 2rem;
  }
}

.btn-group {
  @include flexbox; 
  @include align-items(center); 
  @include justify-content(center); 
  @include flex-wrap(wrap);
  gap: 15px;
}

.decorative-image {
  pointer-events: none;
  user-select: none;
}

.hidden-content {
  display: none;
}

.desktop {
  @include mobile {
    display: none !important;
  }
}

.mobile {
  display: none;
  @include mobile {
    display: initial;
  }
}

.gradient-text {
  background: linear-gradient(
    90.73deg,
    #ff6b9c -32.52%,
    #9b8afc 31.93%,
    #9b8afc 61.46%,
    #05e5ad 110.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 0.3rem;
}

.badge-coming-soon {
  border-radius: 30px;
  background: #05E5AD;
  font-size: 12px;
  font-weight: 700;
  color: #01012A;
  display: inline-block;
  padding: 5px 15px;
  line-height: 1.5
}

.a-link {
  color: #684bfe;
  text-decoration: underline;
  &:hover {
    text-decoration: initial;
  }
}

.text-bigger {
  font-size: 2.6rem;
  @include mobile {
    font-size: 5vw;
  }
}
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem 0;
  &:after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.show-op {
  transition: 1s all ease;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.btn-flex{
    gap: 1rem;
    display: flex;
    justify-content: center;
}
.vscode {
  background: #684bfe;
  a {
    color: #fff;
  }
}
.pycharm {
  background: #321bb2;
  a {
    color: #fff;
  }
}
.twitter-tweet{
  iframe{
    min-height: 40rem;
    width: 100%;
  }
}
.select2-results__option--selectable {
  margin: 1rem 0;
}
.select2.select2-container.select2-container--classic {
  width: 100% !important;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin-bottom:20px;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}


.b-radius-10 {border-radius: 10px;}
.b-radius-20 {border-radius: 20px;}
.b-radius-30 {border-radius: 30px;}


// icw css start
.icons {
	background-size: contain !important;
	display: inline-block;
    transition: all 0.2s ease-in-out;
	&.icon-location {
		background: url(../icons/location.svg) no-repeat center center;
		width: 20px;
		height: 20px;
	}
    &.icon-arrow-right {
		background: url(../icons/arrow-right.svg) no-repeat center center;
		width: 23px;
		height: 23px;
	}
}
.bg-circle-img{
  position: relative;
  z-index: 1;
  @media (max-width:991px) {
    &:after,&::before{
      display: none;
    }
  }
  &:after{
    content: "";
    position: absolute;
    right: -5%;
    top: 13%;
    width: 220px;
    height: 220px;
    z-index: -1;
    background: url(../images/circle-img-1.png) no-repeat center;
    background-size: contain;
  }
  &::before{
    content: "";
    position: absolute;
    left: -40px;
    top: 35%;
    width: 90px;
    height: 90px;
    z-index: -1;
    background: url(../images/circle-img-2.png) no-repeat center;
    background-size: contain;
  }
}

.text-center{
  text-align: center;
}
.main-section{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    @media (max-width:991px) {
      padding: 50px 0;
    }
    .container{
        padding: 0 15px;
    }
    p{
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 15px;
      *:last-child{
        margin-bottom: 0;
      }
    }
}
.is-light{
  font-size: 1.8rem;
  @media (max-width:991px) {
    font-size: 1.6rem;
  }
  h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    color: #01012A;
    line-height: 1.2;
  }
  main, main p {
    color: #01012A; 
  }
  .site-header{
    .main-menu li {
      a {
          color: #000000;
      }
    }
  }
}


.section-title{
  margin-bottom: 30px;
  .gradient-text {
    background: linear-gradient(90deg, #684BFE 8.97%, #E178E7 75.42%, #05E5AD 100.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
    @media (max-width:991px) {
        margin-bottom: 20px;
    }
    h1,.h1, h2,.h2,h3,.h3{
        margin-bottom: 20px;
        padding: 0;
    }
    h1,.h1{
        font-size: 64px;
        font-weight: 700;
        line-height: 1.2;
        @media (max-width:991px) {
        font-size: 32px;
        margin-bottom: 15px;
        }
    }
    h2,.h2{
        font-size: 40px;
        font-weight: 700;
        @media (max-width:991px) {
        font-size: 26px;
        margin-bottom: 15px;
        }
    }
    .gradient-text{
        display: inline-block;
        vertical-align: middle;
    }
    .sort-info{
        font-weight: 400;
        font-size: 20px;
        color: #01012A;
        margin-bottom: 20px;
        @media (max-width:991px) {
        font-size: 16px;
        }
        p{
        color: #01012A;
        margin: 0;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        }
    }
}
.check-list{
  line-height: normal;
  padding: 0;
  margin: 0;
  @media (max-width:991px) {
    font-size: 1.6rem;
  }
  * {
    color: #67677e;
  }
  li{
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    transition: all 0.2s ease-in-out;
    @media (max-width:991px) {
      margin-bottom: 12px;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        background: url(../icons/check-icon.svg) no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-in-out;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
}
.back-btn{
  color: #8E8EA7;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  position: relative;
  transition: all .2s ease-in-out;
  @media (max-width:991px) {
    font-size: 16px;
  }
  &:hover{
    color: #684BFE;
  }
  &::before{
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
    background: transparent url('../icons/arrow-left.svg') center center no-repeat;
  }
}


.w-iframe{
  iframe{
      width: 100%;
  }
}

.back-to-top {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #7962FE;
	text-align: center;
	position: fixed;
	z-index: 8;
	right: 20px;
	bottom: -100px;
	-webkit-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	-moz-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	@include border-radius(6px);
	&:hover, &:focus {
		@include opacity(0.8);
	}
	&.visible {
        opacity: 1;
        bottom: 25px;
	}
	svg {
		width: 16px;
		height: 16px;
	}

	// @media (max-width:767px) {
	// 	display: none !important;
	// }
}

.is-overflow-auto {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  scrollbar-width: thin;
  
  &::-webkit-scrollbar {
      background-color: transparent;
      width: 6px;
      height: 6px;
      border-radius: 16px;
  }
  &::-webkit-scrollbar-thumb {
      background-color: #9898aa;
      border-radius: 16px;
  }
  &::-webkit-scrollbar-track {
      background-color: #eeeeee;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.table-theme {
  padding: 0px;
  font-size: 14px;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  @include border-radius(5px);

  strong, b {
    color: #01012A;
  }

  thead {
    background: #684BFE;
    tr {
      th {
        padding: 10px;
        color: #fff;
        font-weight: 700;
        background: #684BFE;

        * {
          color: #fff;
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          padding-left: 30px;
        }
        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding-right: 30px;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #E9E6FA;
      td {
        padding: 10px;
        color: #53537B;
        vertical-align:text-top;
      }
    }
  }
}


.icw-gallery-grids {

    display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		margin-bottom: 40px;
	
		@media (max-width:767px) {
			-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2, 1fr);
		}

		a.icw-gallery-item {
			&:hover, &:focus {
				@include box-shadow(0 0 20px rgba(157,96,251,0.30));
				@include transform (scale(1.02));
				text-decoration:none;
			}
		}

    &.icw-gallery-columns-medium {
        .icw-gallery-item {
            min-height: 15rem;
            img {
              -o-object-fit: cover; 
              object-fit: cover; 
              object-position:top;
              height: 15rem;
               width: 100%;
            }
        }
    }
    &.icw-gallery-columns-2 {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);  
    }
    @media (min-width:768px) {
        &.icw-gallery-columns-4 {
            -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(4, 1fr);  
        }
        &.icw-gallery-columns-5 {
            -ms-grid-columns: (1fr)[5];
            grid-template-columns: repeat(5, 1fr);   
        }
    }

  a.icw-gallery-item {
      border: 1px solid #f7f7f7; 
      @include border-radius(12px);
      @include transition(0.3s, ease-in-out);
      position: relative;
      @include box-shadow(0 0 10px rgba(0,0,0,0.02));
      overflow: hidden;
      display: block;
      text-decoration:none !important;
      color: #000 !important;
      &:hover, &:focus {
        @include box-shadow(0 0 20px rgba(157,96,251,0.30));
        text-decoration:none !important;
        color: #000;
      }
  }

  div.icw-gallery-item {
      border: 1px solid #f7f7f7; 
      @include border-radius(12px);
      position: relative;
      @include box-shadow(0 0 10px rgba(0,0,0,0.02));
      overflow: hidden;
      display: block;
      text-decoration:none;
      color: #000;

      &:hover, &:focus {
        text-decoration:none;
        color: #000;
      }
  }

	.icw-gallery-img {
		img {
			margin: 0px;
			padding: 0px;
			border: 0px;
			width: 100%;
		}
	}

	.icw-gallery-caption {
		display: block;
		padding: 10px;
		font-size: 14px;
		font-weight: normal;
	}
}

.icw-gallery-sider {
  width: 100%;
  height: auto;

  .swiper-wrapper {
    // background: #faf9ff;
    border-radius: 28px;
  }
  .swiper-slide {
    a {
      display: block;
    }
    img {
      width: 100% !important;
      min-width: 100% !important;
      height: auto;
      border-radius: 28px;
      vertical-align:text-top;
      // object-fit: cover;
    }
  }

  .icw-swiper-pagination {
    height: 50px;
    bottom: 0px !important;
    background-color: #fff;
    padding-top: 1rem;
    position: relative !important;
  }

  .swiper-buttons {
    @include flexbox; 
    @include align-items(center); 
    @include justify-content(flex-end); 
    position: relative !important;
    height: 54px;
    margin-bottom: 30px;

    @media(max-width: 767px) {
      @include justify-content(center); 
    }
  }

  .icw-swiper-button-next,
  .icw-swiper-button-prev {
    position: static !important;

    width: 54px;
    height: 54px;
    background-color: #F2F0FF;
    border-radius: 50px;
    margin:0px 8px !important;
    padding: 5px;
    border: 0px;
    outline: none;
    cursor: pointer;
    @include transition(0.3s, ease-in-out);
    @include flexbox; 
    @include align-items(center); 
    @include justify-content(center); 

    svg {
      @include transition(0.3s, ease-in-out);
    }

    &:hover, &:focus {
      background-color: #e1ddf8;
      svg {
        transform: translateX(-5px);
      }
    }


    &.swiper-button-disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .icw-swiper-button-next {
    
    @media(max-width: 767px) {
      margin-right: 0 !important;
    }
    &:hover, &:focus {
      svg {
        transform: translateX(5px);
      }
    }
  }

  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background: #05e5ad;
    opacity: 1;
    border-radius: 20px;
    outline: none;
    @include transition(0.3s, ease-in-out);
    &:hover, &:focus {
      opacity: 0.8;
    }

    &.swiper-pagination-bullet-active {
      background: #684bfe;
      width: 1.7rem;
    }
  }
  
}


/*You can use [title] selector as well*/
[data-title] {
  @media (min-width:1025px) {
    position: relative;
    &:hover, &:focus {
      &::before {
        content: attr(data-title);
        position: absolute;
        bottom: -32px;
        display: inline-block;
        padding: 4px 6px;
        border-radius: 4px;
        background: #01012A;
        color: #fff;
        font-size: 11px;
        font-family: sans-serif;
        white-space: nowrap;
        left: 0px;
        z-index: 1;

        .site-header & {
          bottom: -26px;
          left: 10px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 5px;
        z-index: -1;
        display: inline-block;
        color: #fff;
        border: 8px solid transparent;	
        border-bottom: 8px solid #01012A;

        .site-header & {
          left: 20px;
        }
      }
    }

    &.icwtip {
      z-index: 1;
      &:hover, &:focus {
        z-index: 2;
        &::before {
            bottom: -28px;
        }
        &::after {
            bottom: -11px;
        }
      }
    }

    &.icwtip-center {
      z-index: 1;
      &:hover, &:focus {
        z-index: 2;
        &::before {
            left: auto;
            bottom: -28px;
            background:#979797;
        }
        &::after {
            left: auto;
            bottom: -11px;
            border-bottom: 8px solid#979797;
        }
      }
    }
  }
}


.overflow-hidden {
  overflow: hidden !important;
}

.icw--modal {  
  width: 500px;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.7);
  @include transition(0.3s, ease-in-out);
  &.show {
    z-index: 1055;
    opacity: 1;
    visibility: visible;
    .icw--modal-wrapper {
      // @include transform(scale(1));
      // @include transition(0.5s, ease-in-out);
      -webkit-animation:gzoomIn .3s ease;animation:gzoomIn .3s ease;
    }
  }
  .icw--modal-wrapper {
    max-width: 350px;    
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 100%;
    position: relative;
    z-index: 9;
    
    // @include transform(scale(0));
    // @include transition(0.5s, ease-in-out);
    &.icw--modal-green {    
      .modal-content {
        border: 2px solid #05e5ad;
       }
    }

    // Blog Post

    &.icw--modal-onload {      
      max-width: 1100px;
      @media (max-width: 767px) {
        max-width: 350px;
      }

      .icw--modal-close { 
        top: -8px;
        right: -8px;
      }

      .icw--modal-content {
        padding: 100px !important;
        width: 100%;
        height: auto;
        background: url(../images/popup-bg.png) no-repeat bottom right, linear-gradient(0deg, #01012A 0%, #01012A 100%), linear-gradient(92deg, rgba(26, 18, 126, 0.50) 21.31%, rgba(39, 29, 168, 0.00) 64.89%) ;
        background-size: cover;
        border-radius: 40px;
        position: relative;
        @media (max-width: 992px) {
          padding: 70px 50px !important;
        }
        @media (max-width: 767px) {
          border-radius: 25px;              
          padding: 50px 30px !important;
          background: url(../images/popup-bg-m.png) no-repeat bottom right, linear-gradient(0deg, #01012A 0%, #01012A 100%), linear-gradient(92deg, rgba(26, 18, 126, 0.50) 21.31%, rgba(39, 29, 168, 0.00) 64.89%);
          background-size: 100% 100%;
          min-height: 600px;
        }
        @media (max-width: 375px) {
          padding: 40px 20px !important;
        }
        &::before {
          content: '';
          background: url(../images/modal-vector.png) no-repeat center;
          background-size: contain;
          width: 50px;
          height: 95px;
          display: block;
          position: absolute;
          top: 30px;
          left: 0px;
          @media (max-width: 767px) {
            background: url(../images/modal-vector-m.png) no-repeat center;
            top: 0px;
            left: 30px;
            width: 105px;
            height: 50px;
          }
        }
        .two-content-block {
          display: grid;
          grid-template-columns: repeat(2, calc(50% - 25px));
          grid-gap: 50px;
          @include align-items(center);
          width: 100%;
          @media (max-width: 992px) {
            grid-gap: 30px;
            grid-template-columns: repeat(2, calc(50% - 15px));
          }
          @media (max-width: 767px) {
            grid-template-columns: repeat(1, 100%);
          }
        }
        .section-title {
          margin-bottom: 0;
          h2 {
            font-size: 60px;
            margin-bottom: 50px;
            letter-spacing: -0.6px;
            line-height: 1.2;
            @media (max-width: 1200px) {
              font-size: 50px;
            }
            @media (max-width: 992px) {
              font-size: 40px;
              margin-bottom: 40px;
            }
            @media (max-width: 767px) {
              font-size: 32px;
              text-align: center;
            }
          }
          .check-list {
            li {
              margin-bottom: 12px;
              color: rgba(#FFFFFF, 0.6);
              &::before {
                top: 2px;
              }
            }
          }
        }
        .modal-action-block {
          text-align: right;
          .modal-action {
            background: url(../images/modal-btn-bg.png) no-repeat center center;
            background-size: 100% 100%;
            padding: 30px;
            @include flexbox;
            @include align-items(center);
            gap: 25px;
            max-width: 350px;
            margin-left: auto;
            &:hover {
              .btn {
                background: #00bd85;
              }
            }
            @media (max-width: 992px) {
              padding: 15px;
              gap: 15px;
              max-width: 290px;
              img {
                width: 30px;
              }
            }
            @media (max-width: 767px) {
              padding: 20px;
              gap: 15px;
              max-width: 290px;
              @include justify-content(center);
              img {
                width: 40px;
              }
            }
            @media (max-width: 375px) {
              padding: 15px;
              img {
                width: 30px;
              }
            }
            &:not(:last-child) {
              margin-bottom: 30px;
            }
            .btn {
              padding: 12px 16px;
              font-size: 16px;
              text-transform: none;
              width: 100%;
              text-align: center;
              color: #321bb2;
              @media (max-width: 992px) {
                font-size: 14px;
              }
              @media (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .icw--modal-close {
      --size: 30px;
      position: absolute;
      top: calc(var(--size) / 2 * -1);
      right: calc(var(--size) / 2 * -1);
      border: 0;
      background: #7962FE;
      color: #fff;
      font-weight: bold;
      width: var(--size);
      height: var(--size);
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      font-size: 14px;
      line-height: 1;
      padding: 0px;
      margin: 0px;
      &:hover, &:focus {
        background: #8a76ff;
    }
    }
    .icw--modal-content {
      padding: 25px !important;
      @include border-radius(10px);
      background: #ffffff;
      position: relative;
      @media(max-width: 375px) {
        padding: 20px !important;
      }
    }
  }

  .icw--modal-bg {
    top: 0; left: 0;
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}
@-webkit-keyframes gzoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}to{opacity:1}}
@keyframes gzoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}to{opacity:1}}
@-webkit-keyframes gzoomOut{from{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}to{opacity:0}}
@keyframes gzoomOut{from{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}to{opacity:0}}


body .dropdown-download--cta {
  .header-dropdown {
    display: inline-block !important;
  }
  .btn-has {
    gap: 10px;
    color: #000 !important;
    font-size: 1.4rem !important;
    &::before {
      background-size: 16px;
      margin-right:5px;

    }
  }
  .dropdown {
    height: 42px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    li {
      a {
        display: block;
        padding: 0rem 1rem;
        color: #01012A;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        gap: 1.5rem;
        min-width: 19rem;
        padding: 0rem 2rem;
        font-weight: 600;
        display:block;
        img{
            width: 2rem;
            flex: none;
            margin-right:10px;
        }
      }

      ul {
        position: absolute;
        display: none;
        margin: 0px;
        padding: 0px;
        li:last-of-type {
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    
    }
    &:hover {
      ul {
        visibility: visible;
        display: block;
        &:first-of-type {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          font-weight: 600;
        }
      }
    } 

  }
}