.site-header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  background-color: transparent;
  transition: 0.2s all ease;

  &--wrapper {
    padding: 1rem 5rem;

    @media (max-width: 1600px) and (min-width: 1024px) {
      padding: 1rem 3rem;
    }

    @include mobile {
      padding: 2rem 15px;
    }
  }

  &--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-flex {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &-logo {
      // width: 16.5rem;
      position: relative;

      // @include mobile {
      //   width: 33vw;
      // }
      .image-wrapper {
        width: 100%;
      }

      a {
        display: inline-block;

        @include mobile {
          display: block;
        }
      }

      img {
        width: 100%;
      }

      @media (max-width: 767px) {
        svg {
          width: auto;
          height: 56px;
        }
      }

    }

    &-nav {
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
    }

    &-cta-right {
      @include inline-flex;
      margin-left: auto;
      // display: flex;
      // align-items: stretch;
      gap: 1rem;

      @media (max-width: 1439px) and (min-width: 1024px) {
        flex-wrap: wrap;
      }

      @media (max-width: 570px) {
        .icw-h-xs {
          display: none !important;
        }
      }


      a.btn-grey {
        display: flex;
        gap: 1rem;
        align-items: center;
        white-space: nowrap;
        padding: 10px 16px;
        @include transition(0.1s, ease-in-out);

        @media (max-width: 1439px) and (min-width: 1024px) {
          padding: 6.5px 14px;
          letter-spacing: -0.25px;
          gap: 0.5rem;
        }

        &:hover,
        &:focus {
          img {
            filter: none;
          }

          background-color: #fff;
        }

        img {
          width: 2rem;
          filter: brightness(0) invert(1);
          transition: none;
        }
      }

      .btn-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 12px 5px;
        @include transition(0.1s, ease-in-out);
        color: #000;
        transform: none !important;
        background: transparent !important;
        border: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        @media (max-width: 1439px) and (min-width: 1024px) {
          padding: 6.5px 14px;
          letter-spacing: -0.25px;
          gap: 0.5rem;
        }

        &:hover,
        &:focus {
          opacity: 0.8;
          color: #000;
        }

        &:active {
          transform: none !important;
        }

        body.is-dark & {
          color: #fff;

          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }

  &.active {
    background-color: #fff;
    box-shadow: 0px 10px 80px rgba(106, 77, 244, 0.2);

    .site-header--wrapper {
      padding: 0.5rem 5.5rem;
    }

    .site-header--menu {
      .site-header--menu-logo {
        .image-wrapper {
          width: 70%;
        }

        .maccabi-wrapper {
          opacity: 0;
          pointer-events: none;
          user-select: none;
        }
      }

      .btn-white {
        background-color: #f6f6fb;

        &:hover,
        &:focus {
          background-color: $pink;
        }
      }
    }
  }
}

.header-active {
  background: rgba(250, 250, 255, 0.75);
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  transition: 0.2s all ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  ul.main-menu {
    li {
      a {
        color: #000;
      }
    }
  }

  .site-header--menu-cta-right .btn-link {
    color: #000 !important;

    &:hover,
    &:focus {
      color: #000 !important;
    }
  }
}

.mobile-menu-wrapper {
  display: none;
}

@include mobile {
  .mobile-menu-lines {
    position: relative;
    margin-left: 15px;

    >div {
      height: 4px;
      background: #7962fe;
      width: 7vw;
      margin-bottom: 0.6rem;
    }

    div:last-child {
      margin-bottom: 0;
    }
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
    transition: transform 0.4s linear;
    z-index: 9999999;
    height: 100vh;
    overflow-y: auto;
    background-color: #231d67;
    background-image: url(../images/mobile-header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    padding: 1.6rem 15px;

    .mobile-header-flex {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;

      .mobile-menu-trigger {
        color: white;
        font-size: 7vw;
      }

      .mobile-header-logo {

        // width: 33vw;
        // width: 16rem;
        img {
          width: 100%;
        }

        @media (max-width: 767px) {
          svg {
            width: auto;
            height: 56px;
          }
        }
      }
    }

    .menu {
      ul {
        padding: 0;
        margin: 10vw 0;

        li {
          padding-bottom: 2rem;

          a {
            font-size: 2.2rem;
          }
        }
      }
    }

    .mobile-header-cta {
      margin-top: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      gap: 2rem;

      a.btn-grey {
        display: flex;
        justify-content: center;
      }
    }

    .marketplace-download-plan {
      justify-content: space-between;
    }
  }
}

.ajax-codium-user-data-logout {}

.header-note {
  background: linear-gradient(90deg, #6347ff 20.45%, #05e4ac 84.65%);
  text-align: center;
  padding: 12px 0;

  .note-info {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    overflow: auto;

    .note-text {
      white-space: nowrap;
      padding: 0px 15px;
    }

    @media (max-width: 767px) {
      font-size: 13px;
      letter-spacing: -0.03rem;
    }

    @media (max-width: 375px) {
      font-size: 10px;
      letter-spacing: -0.03rem;
    }

    a {
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
    }

    a:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.menu-item-has-children {
  position: relative;

  &:hover,
  &.hover,
  &:focus,
  &:focus-visible {
    .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    @media (min-width: 1024px) {
      .arrow:after {
        opacity: (1);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

        // -webkit-filter:none !important;
        // filter:none !important;
      }
    }
  }

  .arrow {
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 5px;

    @media (min-width: 1024px) {

      &:hover,
      &:focus,
      &:focus-visible {
        +.sub-menu {
          opacity: 1;
          visibility: visible;
          transform: none;
        }
      }
    }

    @media (max-width: 1023px) {
      position: absolute;
      right: 0;
      z-index: 1;
      text-align: center;
      width: 25px;
      margin: 0;
      height: 25px;
      top: 0px;
    }

    &.is-active {
      &:after {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
    }

    &:after {
      content: '';
      background: url(../icons/chev-down.svg) no-repeat center right;
      background-position: center;
      background-size: 13px;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;

      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      @media (min-width: 1024px) {
        // opacity: (0.7);

        // -webkit-filter: brightness(0) invert(0);
        // filter: brightness(0) invert(0);

        // body:not(.is-light) & {
        //   -webkit-filter: brightness(0) invert(1);
        //   filter: brightness(0) invert(1);
        // }
        body.is-dark .site-header:not(.header-active) & {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
        }

        body.is-dark .header-active & {
          -webkit-filter: none;
          filter: none;
        }
      }

      @media (max-width: 1023px) {
        body:not(.is-light) & {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
        }

        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
    }
  }

  ul.sub-menu {
    padding: 15px 0;
    margin: 0;
    min-width: 100%;
    width: 100%;

    @media (min-width: 1024px) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      position: absolute;
      background-color: #fefefe;
      left: 0;
      padding: 15px 20px;
      margin: 12px 0 0 0;
      z-index: 99;
      min-width: 280px;

      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
      //-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
      //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
      box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);

      &:before {
        content: attr(data-rel);
        color: #8e8ea7;
        font-size: 12px;
        text-transform: capitalize;
      }
    }

    @media (max-width: 1023px) {
      display: none;
    }

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 10px;
      border-bottom: 1px solid #e8e8ee;

      @media (max-width: 1023px) {
        padding-left: 15px;
        border-bottom-color: rgba(255, 255, 255, 0.4);
      }

      &:last-child {
        // margin-bottom: 0;
        border-bottom: none;
      }

      &.menu-item-btn {
        padding: 0px;
        border: 0px;
        margin-bottom: 10px;

        &>a {
          padding: 15px 10px;
          background: #F4F2FF;
          @include border-radius(8px);

          @media (max-width: 1023px) {
            background: rgba(244, 242, 255, 0.22);
          }

          span.menu-name {
            @include inline-flex;
            @include align-items(center);
            @include justify-content(space-between);
            width: 100%;
          }

          &::after {
            content: none;
          }

          .coming-soon-label {
            border-radius: 30px;
            background: #05E5AD;
            font-size: 8px;
            font-weight: 700;
            color: #01012A;
            display: inline-block;
            padding: 2px 5px;
            margin-left: 5px;
          }
        }
      }

      &.menu-item-label {
        &>a {
          padding: 0;

          span.menu-name {
            @include inline-flex;
            @include align-items(center);
            @include justify-content(space-between);
            width: 100%;
          }

          &::after {
            content: none;
          }

          .coming-soon-label {
            border-radius: 30px;
            background: #05E5AD;
            font-size: 8px;
            font-weight: 700;
            color: #01012A;
            display: inline-block;
            padding: 2px 5px;
            margin-left: 5px;
          }
        }
      }

      // menu-item-info
      span.menu-item-info {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);

        small {
          font-size: 10px;
          line-height: 0;
        }
      }

      a {
        font-size: 16px;
        line-height: 1.5;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        color: #000;
        position: relative;
        width: 100%;
        padding-right: 25px;

        @media (max-width: 1023px) {
          color: #fff;
        }

        span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;

          img {
            min-width: 20px;
            width: 20px;
            height: 20px;
            flex: none;
            margin-right: 15px;

            @media (max-width: 1023px) {
              -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1);
            }
          }
        }

        @media (max-width: 1023px) {
          color: #fff !important;
        }

        &:hover,
        &:focus {
          color: #01012a;
          font-weight: 700;

          &::after {
            transform: translateX(5px);
            opacity: 1;
          }
        }

        &::after {
          content: '';
          position: absolute;
          background: url(../icons/arrow-right.svg) no-repeat center center;
          background-size: 18px;
          width: 22px;
          height: 22px;
          right: 0;
          top: 0;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;

          @media (max-width: 1023px) {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &.sub-menu-wider {
      ul.sub-menu {
        min-width: 320px;
      }
    }
  }
}

.header-dropdown {
  display: none;
  position: relative;

  @media (min-width: 1023px) {
    display: inline-block;
  }

  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    color: #01012a;
    font-family: 'CentraNo1', sans-serif;
  }

  .btn-has {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;

    &::before {
      vertical-align: middle;
      content: '';
      background: url(../icons/dropdown-arrow.svg) no-repeat center left;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    position: absolute;
    background-color: #fff;
    border: 2px solid #05e5ad;
    left: 0;
    right: 0;
    padding: 10px 22px;
    margin: 10px 0 0 0;
    z-index: 9;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    //-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
    box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);

    li {
      padding: 12px 0;
      border-bottom: 1px solid #e8e8ee;

      &:last-child {
        border-bottom: none;
      }
    }

    .dropdown-item {
      display: flex;
      align-items: center;

      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      color: #01012a !important;
      font-weight: 700;

      &:hover,
      &:focus {
        color: #5c40f9 !important;
        text-decoration: underline !important;
      }

      img {
        margin-right: 12px;
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &.hover {
    .btn-has {
      color: #000;

      &::before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

.herder-popup {
  display: none;
  position: relative;

  @media (max-width:1024px) {
    display: inline-block;
  }

  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    color: #01012a;
    font-family: 'CentraNo1', sans-serif;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-around);
    position: relative;

    &::before {
      vertical-align: middle;
      content: '';
      background: url(../icons/dropdown-arrow.svg) no-repeat center left;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-top: 2px;
      margin-right: 16px;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    img {
      margin-right: 12px;
    }
  }
}

.ginner-container {
  padding: 0 15px;

  .gslide-inline {
    @include border-radius(8px);
    background-color: transparent;
    -webkit-box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
    box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
  }
}

.mini-popup {
  padding: 15px !important;
  @include border-radius(9px);
  background: #ffffff;

  &.mini-popup-green {

    border: 2px solid #05e5ad;
  }

  .icon-img {
    margin-bottom: 15px;
    line-height: 0.7;

    img {
      margin-right: 10px;
      max-height: 24px;
    }
  }

  .popup-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .pop-info {
    font-size: 15px;
    color: #01012A;
    margin-bottom: 15px;
  }

  .hbspt-form {
    .hs-form-field {
      label {
        color: #01012A;
        font-size: 14px;
        margin-bottom: 1rem;
        display: block;
        font-weight: 600;
      }

      input {
        width: 100%;
        border: 2px solid #684bfe;
        border-radius: 8px;
        padding: 1rem;
        font-size: 16px;
        color: #01012A;
        background: #e9e9e9;
        margin-bottom: 5px;
      }

      .hs-error-msgs {
        padding: 0;
        margin: 0;
        line-height: normal;

        .hs-error-msg {
          padding: 0;
          font-size: 13px;
          color: #ff5722;
        }
      }
    }

    .hs-submit {
      input[type=submit] {
        background: #05e5ad;
        border: 1px solid #05e5ad;
        color: #01012a;
        padding: 0.8rem 3rem !important;
        border-radius: 21px;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 0px;
        width: auto;
        @include transition(0.3s, ease-in-out);

        &:hover,
        &:focus,
        &:focus-visible {
          background: #00bd85;
        }
      }
    }
  }
}

.marketplace-download {
  @include inline-flex;
  @include flex-wrap(nowrap);
  column-gap: 1rem;

  @include mobile {
    // margin: 0 -4px;
    @include flexbox;
    @include flex-wrap(wrap);
    column-gap: inherit;
    gap: 10px;
  }
}

.marketplace-value {
  @include inline-flex;
  @include align-items(center);
  padding: 5px 18px;
  @include border-radius(30px);
  height: 100%;
  background: rgba(#fff, 0.3);
  border: 1px solid #D8D4EE;
  position: relative;
  @include transition(0.1s, ease-in-out);

  body.is-dark .site-header:not(.header-active) & {
    backdrop-filter: blur(40px);
  }

  @include mobile {
    // width: 48.5%;
    // height: 40px;
    // flex-grow: 1;
    // @include justify-content(center);
    // margin: 0 4px;

    background: linear-gradient(0deg, rgba(1, 1, 42, 0.4), rgba(1, 1, 42, 0.4)),
      linear-gradient(105.87deg,
        rgba(255, 255, 255, 0.4) 3.04%,
        rgba(255, 255, 255, 0) 99.23%);
    border-color: #b2b0e7;

    // &:first-child {
    //   width: 50%;
    // }
  }

  img,
  svg {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-right: 12px;
    flex: none;

    @media (max-width: 1320px) {
      margin-right: 8px;
    }
  }

  .download {
    @include inline-flex;
    @include align-items(center);
    border-left: 1px solid #D8D4EE;
    padding-left: 10px;
    height: 100%;

    @media (max-width: 1320px) {
      padding-left: 8px;
    }

    .icon-star {
      background: url(../icons/star.svg) no-repeat center center;
      width: 15px;
      height: 15px;
      background-size: contain;
      display: inline-block;
      margin-right: 5px;
    }

    span {
      font-size: 16px;
      color: #01012A;

      body.is-dark .site-header:not(.header-active) & {
        color: #fff;
      }

      font-weight: 700;

      @media (max-width: 1320px) {
        font-size: 14px;
      }

      @include mobile {
        color: #ffffff;
      }
    }
  }

  &:hover,
  &:focus {
    background: #fff;
    border-color: #b2b0e7;

    .download span {
      color: #7962fe !important;
    }
  }

  .badge {
    background: #684BFE;
    color: #fff;
    padding: 3px 8px 2px;
    border-radius: 10px;
    position: absolute;
    font-size: 9px;
    line-height: 1;
    top: -8px;
    left: 10px;
  }

  #main & {
    padding: 3px 18px;

    @include mobile {
      background: rgba(#fff, 0.3);
      border: 1px solid #D8D4EE;

      .download span {
        color: #01012A;
      }
    }
  }
}

.marketplace-btn-group {
  @include border-radius(30px);
  background: rgba(#fff, 0.3);
  border: 1px solid #D8D4EE;

  @include flexbox();
  @include align-items(center);

  .hline {
    padding: 0 5px;
    @include flexbox();
    @include align-items(center);
  }

  .marketplace-value {
    background: rgba(#fff, 0);
    border: 0px;

    &:hover,
    &:focus {
      background: #fff;

      .download span {
        color: #7962fe !important;
      }
    }
  }

  @include mobile {
    width: 50%;
    height: 40px;

    .hline {
      height: 40px;
    }
  }

  @media (max-width:600px) {
    width: 100%;
  }
}

.user-profile-menu {

  // margin-left: 15px;
  @include mobile {
    margin-left: auto;
    margin-right: 0px;
    @include flexbox;
    position: relative;
  }

  &:hover,
  &.hover,
  &:focus,
  &:focus-visible {
    .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
      display: block;
    }
  }

  .profile-name {
    border: none;
    background: transparent !important;
    // border: 1px solid #05E5AD;
    // background: #05E5AD;
    // color: #01012A;
    // width: 40px;
    // height: 40px;
    // flex: none;
    // @include border-radius(50%);
    // @include inline-flex;
    // @include align-items(center);
    // @include justify-content(center);
    // font-size: 14px;
    // font-weight: 600;
    cursor: pointer;

    .arrow {
      position: relative;
      height: auto !important;

      &:after {
        -webkit-filter: none !important;
        filter: none !important;

        body.is-dark .site-header:not(.header-active) & {
          -webkit-filter: brightness(0) invert(1) !important;
          filter: brightness(0) invert(1) !important;
        }
      }
    }

  }

  ul.sub-menu {
    right: auto;
    left: 0;
    padding: 20px;

    @media (max-width: 570px) {
      right: 0;
      left: auto;
    }

    @include mobile {
      opacity: 0;
      top: 100%;
      visibility: hidden;
      @include transition(0.2s, ease-in-out);
      position: absolute;
      background-color: #fefefe;
      padding: 15px 15px;
      margin: 12px 0 0 0;
      z-index: 99;
      min-width: 250px;
      @include border-radius(8px);
      @include transform(translateY(10px));
      @include box-shadow(0px 69px 140px rgba(143, 136, 182, 0.45));
    }

    .menu-item {
      font-size: 16px;
      padding: 15px 0px;
      line-height: normal;
      gap: 10px;
      @include flex-direction(column);
      border-bottom: 1px solid #E0E0E0;

      &:first-child {
        padding-top: 0;
        gap: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      @include mobile {}

      .name {
        font-size: 14px;
        color: #717171;
        margin-bottom: 4px;
      }

      .user-email {
        color: #272727;
        font-size: 16px;
        font-weight: bold;
      }

      .plan-menu {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);

        span {
          color: #8F8FA8;
          font-size: 12px;
          text-transform: uppercase;
        }

        .plan-name {
          background: #05E5AD;
          color: #2C2C2C;
          font-weight: 600;
          padding: 4px 8px;
          font-size: 10px;
          @include border-radius(30px);
          text-transform: capitalize;

          &.plan-style-Free {}

          &.plan-style-Trial {
            background: linear-gradient(91deg, #48FED2 0%, #05AFE5 99.67%);
          }

          &.plan-style-Teams {
            background: linear-gradient(269deg, #8D64FF 1.16%, #BB9BFF 98.84%);
          }

          &.plan-style-Enterprise {
            background: linear-gradient(90.76deg, #BEB7FF 0%, #05E5AD 99.67%);
          }
        }
      }

      a {
        color: #272727 !important;

        @include mobile {
          font-size: 14px;

          &::after {
            content: '';
            position: absolute;
            background: url(../icons/arrow-right.svg) no-repeat center center;
            background-size: 18px;
            width: 22px;
            height: 22px;
            right: 0;
            top: 0;
            opacity: 0;
            @include transition(0.2s, ease-in-out);
            filter: unset;
          }

          &:hover,
          &:focus {
            &::after {
              -webkit-transform: translateX(5px);
              transform: translateX(5px);
              opacity: 1;
            }
          }
        }
      }

      .menu-signout {
        .menu-name {
          font-weight: 400;

          svg {
            margin-right: 8px;
            filter: brightness(0);
            @include transition(0.2s, ease-in-out);
          }
        }

        &::after {
          content: none;
        }

        &:hover,
        &:focus {
          color: #ff0000 !important;

          .menu-name {
            font-weight: 400;

            svg {
              filter: unset;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1299px) {
  .site-header--menu .header-flex {
    gap: 3rem;
  }

  .site-header--menu-cta-right {
    .btn {
      font-size: 14px;
      padding: 6px 12px;
      letter-spacing: -0.5px;
    }

    .btn-has::before {
      background-size: 13px;
      margin-right: 0px;
    }

    .user-profile-menu .profile-name {
      margin-right: 0px !important;
    }

    a.btn-grey {
      img {
        width: 16px;
      }
    }

    .header-dropdown {
      .dropdown-menu {
        padding: 10px;

        li {
          padding: 5px 0;

          .dropdown-item {
            font-size: 14px;
            white-space: nowrap;
          }
        }
      }
    }

    .marketplace-value {
      padding: 5px 10px;

      img,
      svg {
        min-width: 14;
        min-height: 14px;
        max-width: 14;
        max-height: 14px;
        margin-right: 4px;
      }

      .download {
        padding-left: 4px;

        .icon-star {
          width: 9px;
          height: 9px;
          margin-right: 3px;
        }

        span {
          font-size: 11px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}

.homepage-hero-action {
  padding-top: 30px;
}

.section-marketplace-download-plan {
  display: flex;
  justify-content: center;

  .marketplace-download-plan {
    padding-top: 0px;

  }
}

.marketplace-download-plan {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;

  // flex-wrap: wrap;
  @media (max-width: 475px) {
    justify-content: space-between;
    gap: 10px;
  }

  .marketplace-value {
    padding: 0 !important;
    background: transparent !important;
    border: 0px !important;

    @include mobile {
      flex-grow: 0;
      @include justify-content(flex-start);

      // height: inherit !important;
      @media (max-width: 475px) {
        @include justify-content(space-between);
      }
    }

    .m-icon,
    img,
    svg {
      flex: none;
      min-width: 24px;
      min-height: 24px;
      max-width: 24px;
      max-height: 24px;
      margin-right: 8px;
      align-self: baseline;
    }

    .download {
      padding-left: 0;
      border: 0;

      span {
        color: #fff;

        @media (max-width: 1023px) {
          color: #fff !important;
        }
      }

      .icon-star {
        margin-left: 5px;
        margin-right: 0px;
      }
    }

  }

  &.with-border {
    border-bottom: 1px solid #363663;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }

  // big-style
  &.big-style {
    .marketplace-value {
      @media (min-width: 475px) {

        .m-icon,
        img,
        svg {
          flex: none;
          min-width: 40px;
          min-height: 40px;
          max-width: 40px;
          max-height: 40px;
          margin-right: 12px;
          align-self: baseline;
        }

        .download {
          .icon-star {
            width: 24px;
            height: 24px;
          }

          span {
            font-size: 26px;
            margin-left: 10px;
          }
        }
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        .m-icon,
        img,
        svg {
          align-self: center;
        }
      }
    }
  }

  &.big-top-style {
    .marketplace-value {
      @media (min-width: 475px) {

        .m-icon,
        img,
        svg {
          flex: none;
          min-width: 40px;
          min-height: 40px;
          max-width: 40px;
          max-height: 40px;
          margin-right: 12px;
          align-self: center;
        }

        .download {
          .icon-star {
            width: 24px;
            height: 24px;
          }

          span {
            font-size: 26px;
            margin-left: 10px;
          }
        }
      }

      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  }


  &.big-top-style-m {
    @media (max-width: 767px) {
      .marketplace-value {

        .m-icon,
        img,
        svg {
          flex: none;
          min-width: 32px;
          min-height: 32px;
          max-width: 32px;
          max-height: 32px;
          margin-right: 12px;
          align-self: center;
        }

        .download {
          .icon-star {
            width: 16px;
            height: 16px;
          }

          span {
            font-size: 18px;
            margin-left: 0px;
          }
        }

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
      }
    }
  }

  @media (min-width: 1025px) {

    [data-title]:hover::after,
    [data-title]:focus::after {
      bottom: -15px;
    }
  }
}