.site-header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  background-color: transparent;
  transition: 0.2s all ease;
  &--wrapper {
    padding: 1rem 5rem;
    @include mobile {
      padding: 2rem 2rem;
    }
  }
  &--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-flex {
      display: flex;
      align-items: center;
      gap: 5rem;
    }
    &-logo {
      width: 16rem;
      position: relative;
      // @include mobile {
      //   width: 33vw;
      // }
      .image-wrapper {
        width: 100%;
      }
      a {
        display: inline-block;
        @include mobile {
          display: block;
        }
      }
      img {
        width: 100%;
      }
    }
    &-nav {
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
    }

    &-cta-right {
      display: flex;
      align-items: stretch;
      column-gap: 1rem;

      a.btn-grey {
        display: flex;
        gap: 1rem;
        align-items: center;
        &:hover,
        &:focus {
          img {
            filter: none;
          }
        }
        img {
          width: 2rem;
          filter: brightness(0) invert(1);
          transition: all 0.2s ease-in-out;
        }
      }
    }
    /*
    &-cta {
      display: flex;
      align-items: stretch;
      column-gap: 1rem;
      a.btn-grey {
        display: flex;
        gap: 1rem;
        align-items: center;
        &:hover{
          img{
            filter: none;
          }
        }
        img {
          width: 2rem;
          filter: brightness(0) invert(1);
          transition: all 0.2s ease-in-out;
        }
      }
      .dropdown {
        height: 2.5rem;
        list-style-type: none;
        padding: 0;
        margin: 0 1rem 1rem;
        li {
          visibility: hidden;
          position: relative;
          z-index: 10;
          margin: 0;
          padding: 0;
          background-color: #05E5AD;
          padding: 0.5rem 0rem;
          &:hover {
            a {

            }
            img{
                // filter: invert(21%) sepia(72%) saturate(2867%) hue-rotate(241deg) brightness(110%) contrast(96%);
            }
          }
          a {
            display: block;
            padding: 0rem 1rem;
            color: #01012A;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            gap: 2rem;
            min-width: 19rem;
            padding: 0rem 2rem;
            font-weight: 600;
            img{
                width: 2rem;
            }
            &:active {
            //   font-size: 0.8em;
            //   background-color: #1bd6bc1a;
            }
          }
        }
        &:hover li {
          visibility: visible;
        //   transition: 0.1s all ease;
          &:first-of-type {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            // background-color: #56beb0;
            // z-index: 15;
            font-weight: 600;
            // transition: 0.1s all ease;
          }
        }
      }
      li:first-of-type {
        visibility: visible;
        // border-top: 1px solid #1bd6bc;
        border-radius: 20px;
        // transition: background-color 200ms;
      }
      li:last-of-type {
        // border-bottom: 1px solid #1bd6bc;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-bottom: 1rem;
      }
      &:hover{
        li.getest{
            a {
                color: #5C40F9;
            }
            img{
                filter: invert(21%) sepia(72%) saturate(2867%) hue-rotate(241deg) brightness(110%) contrast(96%);
            }
        }
      }

      li.vscode{
        background: #684BFE;
        padding: 0.8rem 0;
        a{
            color: #fff;
        }
      }
      li.pycharm{
        background:#321BB2;
        padding: 0.8rem 0;
        a{
            color: #fff;
        }
      }
    }
    */
  }

  &.active {
    background-color: #fff;
    box-shadow: 0px 10px 80px rgba(106, 77, 244, 0.2);
    .site-header--wrapper {
      padding: 0.5rem 5.5rem;
    }
    .site-header--menu {
      .site-header--menu-logo {
        .image-wrapper {
          width: 70%;
        }
        .maccabi-wrapper {
          opacity: 0;
          pointer-events: none;
          user-select: none;
        }
      }
      .btn-white {
        background-color: #f6f6fb;
        &:hover,
        &:focus {
          background-color: $pink;
        }
      }
    }
  }
}

.header-active {
  background: rgba(250, 250, 255, 0.75);
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  transition: 0.2s all ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  ul.main-menu {
    li {
      a {
        color: #000;
      }
    }
  }
}

.mobile-menu-wrapper {
  display: none;
}
@include mobile {
  .mobile-menu-lines {
    position: relative;
    > div {
      height: 4px;
      background: #7962fe;
      width: 7vw;
      margin-bottom: 0.6rem;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
    transition: transform 0.4s linear;
    z-index: 9999999;
    height: 100vh;
    overflow-y: auto;
    background-image: url(https://www.codium.ai/wp-content/uploads/2023/03/mobile-header-bg2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 1.6rem 2rem;
    .mobile-header-flex {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      .mobile-menu-trigger {
        color: white;
        font-size: 7vw;
      }
      .mobile-header-logo {
        // width: 33vw;
        width: 16rem;
        img {
          width: 100%;
        }
      }
    }
    .menu {
      ul {
        padding: 0;
        margin: 10vw 0;
        li {
          padding-bottom: 2rem;
          a {
            font-size: 2.2rem;
          }
        }
      }
    }
    .mobile-header-cta {
      margin-top: 5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      a.btn-grey {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.header-note {
  background: linear-gradient(90deg, #6347ff 20.45%, #05e4ac 84.65%);
  text-align: center;
  padding: 12px 0;
  .note-info {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    overflow: auto;
    .note-text {
      white-space: nowrap;
      padding: 0px 15px;
    }
    @media (max-width: 767px) {
      font-size: 13px;
      letter-spacing: -0.03rem;
    }
    @media (max-width: 375px) {
      font-size: 10px;
      letter-spacing: -0.03rem;
    }
    a {
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
    }
    a:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.menu-item-has-children {
  position: relative;
  &:hover,
  &.hover,
  &:focus,
  &:focus-visible {
    .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
    @media (min-width: 1024px) {
      .arrow:after {
        opacity: (1);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

        // -webkit-filter:none !important;
        // filter:none !important;
      }
    }
  }
  .arrow {
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 5px;
    @media (min-width: 1024px) {
      &:hover,
      &:focus,
      &:focus-visible {
        + .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: none;
        }
      }
    }
    @media (max-width: 1023px) {
      position: absolute;
      right: 0;
      z-index: 1;
      text-align: center;
      width: 25px;
      margin: 0;
      height: 25px;
      top: 0px;
    }
    &.is-active {
      &:after {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
    }
    &:after {
      content: '';
      background: url(../icons/chev-down.svg) no-repeat center right;
      background-position: center;
      background-size: 13px;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;

      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      @media (min-width: 1024px) {
        // opacity: (0.7);

        // -webkit-filter: brightness(0) invert(0);
        // filter: brightness(0) invert(0);

        // body:not(.is-light) & {
        //   -webkit-filter: brightness(0) invert(1);
        //   filter: brightness(0) invert(1);
        // }
        body.is-dark .site-header:not(.header-active) & {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
        }
        body.is-dark .header-active & {
          -webkit-filter: none;
          filter: none;
        }
      }

      @media (max-width: 1023px) {
        body:not(.is-light) & {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
        }
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
    }
  }
  ul.sub-menu {
    padding: 15px 0;
    margin: 0;
    min-width: 100%;
    width: 100%;
    @media (min-width: 1024px) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      position: absolute;
      background-color: #fefefe;
      left: 0;
      padding: 15px 30px;
      margin: 12px 0 0 0;
      z-index: 99;
      min-width: 265px;

      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
      //-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
      //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
      box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);

      &:before {
        content: attr(data-rel);
        color: #8e8ea7;
        font-size: 12px;
        text-transform: capitalize;
      }
    }
    @media (max-width: 1023px) {
      display: none;
    }
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 0px;
      border-bottom: 1px solid #e8e8ee;

      @media (max-width: 1023px) {
        padding-left: 15px;
        border-bottom-color: rgba(255, 255, 255, 0.4);
      }
      &:last-child {
        // margin-bottom: 0;
        border-bottom: none;
      }
      a {
        font-size: 16px;
        line-height: 1.5;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        color: #000;
        position: relative;
        width: 100%;
        padding-right: 25px;
        @media (max-width: 1023px) {
          color: #fff;
        }

        span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;

          img {
            min-width: 20px;
            width: 20px;
            height: 20px;
            flex: none;
            margin-right: 20px;
            @media (max-width: 1023px) {
              -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1);
            }
          }
        }

        @media (max-width: 1023px) {
          color: #fff !important;
        }
        &:hover,
        &:focus {
          color: #01012a;
          font-weight: 700;
          &::after {
            transform: translateX(5px);
            opacity: 1;
          }
        }

        &::after {
          content: '';
          position: absolute;
          background: url(../icons/arrow-right.svg) no-repeat center center;
          background-size: 18px;
          width: 22px;
          height: 22px;
          right: 0;
          top: 0;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;

          @media (max-width: 1023px) {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

.header-dropdown {
  display: inline-block;
  position: relative;

  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    color: #01012a;
    font-family: 'CentraNo1', sans-serif;
  }
  .btn-has {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;

    &::before {
      vertical-align: middle;
      content: '';
      background: url(../icons/dropdown-arrow.svg) no-repeat center left;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    position: absolute;
    background-color: #fff;
    border: 2px solid #05e5ad;
    left: 0;
    right: 0;
    padding: 10px 22px;
    margin: 10px 0 0 0;
    z-index: 9;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    //-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);
    box-shadow: 0px 69px 140px rgba(143, 136, 182, 0.45);

    li {
      padding: 12px 0;
      border-bottom: 1px solid #e8e8ee;
      &:last-child {
        border-bottom: none;
      }
    }

    .dropdown-item {
      display: flex;
      align-items: center;

      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      color: #01012a;
      font-weight: 700;

      &:hover,
      &:focus {
        color: #5c40f9;
        text-decoration: underline !important;
      }
      img {
        margin-right: 12px;
      }
    }
  }
  &:hover,
  &:focus,
  &:focus-visible,
  &.hover {
    .btn-has {
      color: #000;

      &::before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}
