.main-content-wrapper {
	flex: 1 1 auto;
	padding-top: 88px;
	@media (max-width:1199px) {
		padding-top: 77px;
	}
}
.main-section {
    position: relative;
    padding: 100px 0;
    @media (max-width: 992px) {        
        padding: 70px 0;
    }
    @media (max-width: 767px) {        
        padding: 50px 0;
    }
    .container {
        position: relative;
    }
}
.section-title {
	margin-bottom: 40px;
	@media (max-width:991px) {
		margin-bottom: 30px;
	}

	.tagline {
		font-size: 16px;
		font-weight: 700;
		color: $primary;
		margin-bottom: 15px;
		@include inline-flex; @include align-items(center);
		@media (max-width:991px) {
			font-size: 14px;
		}
	}
	.sort-info {
		margin-bottom: 30px;
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
	}
	.sort-info {

		color: rgba(#002B31, 0.6);
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.action {
		// margin-top: 40px;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 15px;
		@media (max-width: 992px) {
			// margin-top: 30px;
		}
		// .btn {
		// 	margin-right:  20px;
		// 	&:last-child {
		// 		margin-right: 0;
		// 	}
		// 	@media (max-width: 767px) {
		// 		margin-right: 15px;
		// 	}
		// }
	}
	& *:last-child {
        margin-bottom: 0px !important;
    }

	.form-group {
		margin-bottom: 24px !important;
	}
}