.angel-card{
    height: 100%;
    &--wrapper{
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: 100%;
        .image-wrapper{
            // height: 20rem;
            // width: 100%;
            img{
                display: block;
                width: 12rem;
                height: 12rem;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
        .content-wrapper{
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;
            // @include mobile{
            //     width: 50%;
            //     margin: 0 auto;
            // }
            .angel-name{
                color: $text;
                font-size: 26px;
                font-weight: 700;
                white-space: nowrap;
                line-height: 1.5;
                @include mobile{
                    font-size: 20px;
                }
            }
            .angel-logo{
                display: block;
                width: 9rem;
                height: 2rem;
                object-fit: contain;
                margin: 0 auto;
            }
            .angel-companies{
                color: $text;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 1.5;
                @include mobile{
                    font-size: 11px;
                }
            }
            a.linkedin-url{
                margin-top: auto;
            }
        }
    }
}