.article-card {
  height: 100%;
  @include mobile {
    text-align: left;
  }
  &--wrapper {
    display: flex;
    flex-direction: column;
    // gap: 1em;
    height: 100%;
    .image-wrapper {
      // height: 20rem;
      // width: 100%;
      position: relative;
      padding-top: 66%;

      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;

      .thumb-overlay {
        position: absolute;
        top: -0.15rem;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: url(https://www.codium.ai/wp-content/uploads/2023/03/thumb-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
      }
      img {
        display: block;
        //width: 100%;
        //height: 20rem;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      color: #01012a;
      padding: 24px 0 0;

      // @include mobile{
      //     gap: 3vw;
      // }
      h3 {
        color: #01012a;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        // @include mobile{
        //     font-size: 4.4vw;
        // }
      }
      .excerpt {
        color: #1e0f71;
        @include mobile {
          font-size: 4vw;
          line-height: 1.2;
        }
      }
      .post-actions {
        margin-top: 0;
      }

      .post-meta {
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        color: #01012a;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        &.align-between {
          @include justify-content(space-between);
        }

        .post-author {
          @include flexbox();
          @include align-items(center);
          margin-right: 12px;

          img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            @include border-radius(50%);
          }
        }

        .post-date {
          color: #01012a;
          @include opacity(0.6);
        }

        .post-terms {
          font-size: 13px;
          color: #684bfe;
          font-weight: 700;
          letter-spacing: 0.5px;
          text-transform: uppercase;
        }

        .post-time {
          color: #01012a;
          font-size: 14px;
          @include opacity(0.6);
          @include flexbox();
          @include align-items(center);
          svg {
            margin-right: 7px;
          }
        }
      }
      .read-more {
        margin-top: 1em;
        color: #684bfe;
        font-weight: 700;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
        // @include mobile{
        //     font-size: 4vw;
        // }
      }
    }

    &:hover,
    &:focus {
      .image-wrapper {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
      }
      .read-more {
        text-decoration: underline;
      }
    }
  }
}
