body {
  .section-title {
    &.text-left {
      h2 {
        &.gradient-text {
          margin-bottom: 1rem;
        }
      }
    }

    h2 {
      line-height: 1;

      span {
        font-weight: 700 !important;
        line-height: inherit !important;
      }
    }

    .sort-info {
      font-size: 1.6rem;
      line-height: 1.363 !important;

      @include desktop {
        font-size: 2.2rem;
        line-height: 1.363 !important;
      }

      &.-big {
        font-size: 2.2rem;

        @include desktop {
          font-size: 2.6rem !important;
          line-height: 120% !important;
        }
      }

      &.text-white {
        color: var(--grey-400) !important;
      }

      & > div {
        line-height: inherit !important;
        opacity: 1 !important;
      }

      p.text-white {
        color: var(--grey-400) !important;
      }
    }

    .sort-info-action {
      @include desktop {
        margin-top: 4rem !important;
      }
    }

    .gradient-text {
      background: var(--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}