*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    font-weight: 500;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    @media (max-width: 992px) {
        font-size: 18px;
    }

    @media (max-width: 767px) {
        background-color: $white;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body ::selection {
    color: #fff;
    background: #0371EE
}

:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}

.pt-0 {padding-top: 0px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-100 {padding-top: 100px !important;}
.pt-120 {padding-top: 120px !important;}
.pt-150 {padding-top: 150px !important;}

.mt-0 {margin-top: 0px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-100 {margin-top: 100px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-100 {padding-bottom: 100px !important;}
.pb-120 {padding-bottom: 120px !important;}
.pb-150 {padding-bottom: 150px !important;}

.mb-0 {margin-bottom: 0px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-100 {margin-bottom: 100px !important;}

@media (max-width: 767px) {
	.m-pt-0 {padding-top: 0px !important;}
	.m-pt-25 {padding-top: 25px !important;}
	.m-pt-40 {padding-top: 40px !important;}
	.m-pt-50 {padding-top: 50px !important;}
	.m-pt-80 {padding-top: 80px !important;}
	.m-pt-100 {padding-top: 100px !important;}

    .m-mt-0 {margin-top: 0px !important;}
    .m-mt-50 {margin-top: 50px !important;}
    .m-mt-100 {margin-top: 100px !important;}

	.m-pb-0 {padding-bottom: 0px !important;}
	.m-pb-25 {padding-bottom: 25px !important;}
	.m-pb-40 {padding-bottom: 40px !important;}
	.m-pb-50 {padding-bottom: 50px !important;}
	.m-pb-80 {padding-bottom: 80px !important;}
	.m-pb-100 {padding-bottom: 100px !important;}

    .m-mb-0 {margin-bottom: 0px !important;}
    .m-mb-50 {margin-bottom: 50px !important;}
    .m-mb-100 {margin-bottom: 100px !important;}
}

.max-w-750 {max-width: 750px;}
.max-w-800 {max-width: 800px;}

.clear {clear: both;}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
}

a {
    color: $gray;
    text-decoration: underline;
    word-break:break-word;
    text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid $primary !important;
        @include border-radius(12px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img {
    max-width:100%;
    height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container, .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
    &.container-big {
        max-width: 1550px;
        margin: 0 auto;
    }    
}

.g-15 {
    --bs-gutter-y: 1.5rem;
    --bs-gutter-x: 1.5rem;
    @media (max-width: 767px) {
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;    
    }
}
.g-20 {
    --bs-gutter-y: 2rem;
    --bs-gutter-x: 2rem;
    @media (max-width: 767px) {
        --bs-gutter-y: 1.5rem;
        --bs-gutter-x: 1.5rem;  
    }
}

.b-radius{
    @include border-radius(24px);
}
.b-radius-b{
    @include border-radius(0 0 24px 24px);
}
.b-radius-t{
    @include border-radius(24px 24px 0 0);
}

.b-radius-dark{
    border: 10px solid $black;
    @include border-radius(24px);
}
.b-radius-light{
    border: 10px solid #fff;
    @include border-radius(24px);
}

.tag {
    border: 1px solid $black;
    @include border-radius(25px);
    padding: 8px 16px;
    font-size: 16px;
    color: $black;
    display: inline-block;
    @media (max-width: 767px) { 
        font-size: 14px;
    }
}

.tag-icon {
    background: linear-gradient(180deg, rgba(111, 132, 153, 0.3) 0%, #202535 100%);
    box-shadow: inset 0px 4px 8px rgba(127, 135, 153, 0.5);
    @include border-radius(8px);
    width: 56px;
    height: 56px;
    flex: none;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    img {
        width: 16px;
        height: 16px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

.btn {
	min-height: 44px;
	font-weight: 600;
	font-size: 18px;
    position: relative;
    border: 1px solid transparent;
	@include transition(0.2s, ease-in-out);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	line-height: 1;
	@include border-radius(12px);
    padding: 4px 25px;
    white-space: nowrap;   
    &.with-arrow-icon {       
        &::after {
            content: '';   
            background-image: url('data:image/svg+xml; utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1646 3.02658H7.46094V0.783203H23.1646V3.02658Z" fill="rgb(0 160 227)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1634 0.783203L23.1632 16.4869H20.9199V0.783215L23.1634 0.783203Z" fill="rgb(0 160 227)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.4953 3.49894L2.77922 23.2149L0.857422 21.2932L20.5734 1.57715L22.4953 3.49894Z" fill="rgb(0 160 227)"/></svg>');
            background-size: contain !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;  
            @include transition(0.3s, ease-in-out);
            width: 14px;
            height: 14px;  
            flex: none;
            transform-origin: center center;
            margin-left: 10px;
        }
    }
    &:hover, &:focus, &:active {
        &.with-arrow-icon {
            &::after {
                @include transform(rotate(45deg));
            }
        }
    } 	
	&.btn-sm {
		min-height: 40px;
	}
	&.btn-primary {
		color: $white !important;
		border-color: transparent;
		background-color:$primary;
        &::after {
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
        }
        &:hover, &:focus, &:active {
            background-color: #1a135f !important;
        }
	}
	&.btn-white {
		color: $black !important;
		border-color: $white;
		background-color: $white;
        &::after {
            filter: brightness(0);
            -webkit-filter: brightness(0);
        }
        &:hover, &:focus, &:active {
            border-color: $white;
            color: $black !important;            
            background-color: rgba($white, 0.8);
        }
	}
	&.btn-dark {
		color: $white !important;
		border-color: $darkblack;
		background-color: $darkblack;
        &::after {
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
        }
        &:hover, &:focus, &:active {
            background: transparent;
            color: $darkblack !important;
            &::after {
                filter: brightness(0);
                -webkit-filter: brightness(0);
            }
        }
	}
	&.btn-outline-dark {
		color: $darkblack !important;
		border-color: $darkblack;
		background-color: $white;
        &::after {
            filter: brightness(0);
            -webkit-filter: brightness(0);
        }
        &:hover, &:focus, &:active {
            color: $white !important;
            background-color: $darkblack;
            &::after {
                filter: brightness(0) invert(1);
                -webkit-filter: brightness(0) invert(1);
            }
        } 
	}
	&.btn-outline-primary {
		color: $primary !important;
		border-color: $primary;
		background-color: $white;
        &:hover, &:focus, &:active {
            color: $white !important;        
        }
	}
}

.btn-link {
	color: $primary;
	font-weight: bold;
	position: relative;
	z-index: 3;
	text-decoration: none;
	padding: 0;
	@include inline-flex;
	@include align-items(center);
	@include transition(0.3s, ease-in-out);
    text-underline-offset: 5px;    

	&:hover, &:focus, &:active, &:focus-visible {
        color: $primary !important;
        text-decoration: underline;
        text-decoration-color:$primary !important;
        -moz-text-decoration-color:$primary !important;
    }
	&:hover,&:focus{
		color: $primary;
	}

	&.text-sm {
		font-size: 14px;
		&.with-icon {
			&:after {
				width: 10px;
				height: 10px;
			}
		}
	}

	&.btn-link-primary {
		color: $primary;
		&:hover, &:focus, &:active, &:focus-visible {
			color: red;
		}
		&:hover,&:focus{
			color: red;
		}
	}
    &.with-underline {
        overflow: hidden;
        &::before {
            content: '';
            background-color: $primary;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            height: 1.5px;
            margin-left: -110%;
            display: flex;
            position: absolute;
            bottom: 1px;
            left: 0;
            transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            will-change: transform;
            @include transition(0.3s, ease-in-out);
        }
        &:hover, &:focus {
            text-decoration: none;
            &::before {
                transform: translate3d(150%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }
        }
    }
	&.with-back-arrow {
		line-height: 1;
		&::after {
			content: "";
			display: block;
			margin-left: 8px;
			width: 12px;
			height: 12px;
            background: url('data:image/svg+xml; utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1646 3.02658H7.46094V0.783203H23.1646V3.02658Z" fill="rgb(0 160 227)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1634 0.783203L23.1632 16.4869H20.9199V0.783215L23.1634 0.783203Z" fill="rgb(0 160 227)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.4953 3.49894L2.77922 23.2149L0.857422 21.2932L20.5734 1.57715L22.4953 3.49894Z" fill="rgb(0 160 227)"/></svg>') no-repeat center center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
            filter: brightness(0);
		}
		&:hover, &:focus, &:active, &:focus-visible {
			&::after {
				@include transform(rotate(45deg));
				filter: unset;
			}
		}
	}
}

.btn-only-arrow {
    width: 68px;
    height: 68px;
    display: block;
    background: $white;
    border: 1px solid $gray;
    @include border-radius(16px);
    position: relative;
    @media (max-width: 767px) {
        width: 48px;
        height: 48px;
    }
    .arrow-icon {
        width: 12px;
        height: 12px;
        display: inline-block;
        z-index: 2;
        background: url('data:image/svg+xml,<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 6.00009H3.414L5.707 8.29309C5.80251 8.38534 5.87869 8.49568 5.9311 8.61769C5.98351 8.73969 6.0111 8.87091 6.01225 9.00369C6.0134 9.13647 5.9881 9.26815 5.93782 9.39105C5.88754 9.51394 5.81329 9.62559 5.7194 9.71949C5.6255 9.81338 5.51385 9.88763 5.39095 9.93791C5.26806 9.98819 5.13638 10.0135 5.0036 10.0123C4.87082 10.0112 4.7396 9.9836 4.6176 9.93119C4.49559 9.87878 4.38525 9.8026 4.293 9.70709L0.293 5.70709C0.199874 5.6142 0.125988 5.50385 0.0755749 5.38236C0.0251617 5.26087 -0.000787735 5.13063 -0.000787735 4.99909C-0.000787735 4.86756 0.0251617 4.73731 0.0755749 4.61582C0.125988 4.49433 0.199874 4.38398 0.293 4.29109L4.293 0.291092C4.48077 0.103583 4.73534 -0.00165213 5.00071 -0.00146459C5.26607 -0.00127706 5.52049 0.104318 5.708 0.292092C5.89551 0.479865 6.00074 0.734435 6.00056 0.999799C6.00037 1.26516 5.89477 1.51958 5.707 1.70709L3.414 4.00009H11C11.2652 4.00009 11.5196 4.10545 11.7071 4.29298C11.8946 4.48052 12 4.73488 12 5.00009C12 5.26531 11.8946 5.51966 11.7071 5.7072C11.5196 5.89473 11.2652 6.00009 11 6.00009Z" fill="rgba(9 10 12)"/></svg>') center center;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        @include transition(0.3s, ease-in-out);
        @include transform(rotate(180deg));
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
    }
        
    &:hover, &:focus {
        background: $black;
        .arrow-icon {
           filter: invert(1);
        }
    }
}

.video-bg-block {
    img, video {     
        pointer-events: none;   
        position: absolute;
        top: 0;
        left: 0;   
        height: 100%;
        width: 100%; 
        background: $black;
        object-fit: cover;
        &::-webkit-media-controls {
            display: none;
        }
    }

    &.is-logovideo {
        @media (max-width: 767px) {
            display: none;
        }
        img, video {
            max-width: 860px;
            height: 600px;
            object-position: top center;
            left: calc(50% - 430px);
            z-index: -1;
            top: 220px;
            opacity: 0.5;
            @media (max-width: 992px) {
                max-width: 650px;
                height: 400px;
                top: 150px;
                left: calc(50% - 325px);
            }
        }
    }
}

.full-width-block {
    position: relative;
    @include border-radius(24px);
    overflow: hidden;
    padding: 100px 0;
    margin: 0 20px;
    background-image: var(--bg-image, none);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        @include border-radius(16px);
        padding: 50px 0;  
        margin: 0;
    }
    &.py-50 {
        padding: 50px 0;

        @media (max-width: 768px) {
            padding-top: 32px;
        }

        @media (min-width: 1440px) {
            max-width: 1408px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .section-title {
        z-index: 3;
        position: relative;
    }
    &.bottom-video-content {       
        @media (max-width: 575px) {
            padding-bottom: 300px;
            .video-bg-block {
                img, video {
                    object-position: bottom center;
                }
            }
        }
    }
}

.video-player-block {	
	max-width: 100%;
	@include border-radius(24px);
	position: relative;
	overflow: hidden;
	.play-icon {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include transition(0.3s, ease-in-out);
		svg {
			width: 56px;
			height: 56px;
			flex: none;
			@include border-radius(50%);
			@include transition(0.3s, ease-in-out);
			@include transform(scale(1));
			z-index: 2;
			&:hover {
				@include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));
				@include transform(scale(1.1));
			}
		}
		&.d-hide {
			opacity: 0;
		}

		&::after {
			content: '';
			top: 0;
			left: 0;
			@include border-radius(32px);
			opacity: 0.025;
			background: #002B31;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
    video {
        vertical-align:bottom;
        max-width: 100%;
        object-fit: cover;
    }
}

.image-block {
    img {
        @include border-radius(24px);
    }
    &.with-border {
        img {
            @include border-radius(24px);
            border: 1px solid $gray;
            @include box-shadow(0px 8px 12px rgba(29, 32, 38, 0.05));
        }
    }
    &.with-tl-br-shodow {
        position: relative;
        z-index: 1;
        margin: 40px;
        @media (max-width: 767px) {
            margin: 0;
        }
        img {
            width: 100%;
        }
        &::before {
            content: '';
            width: 50%;
            height: 50%;
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            z-index: -1;
            background: #0371EE;
            mix-blend-mode: plus-lighter;
            filter: blur(40px);
            border-radius: 24px;
            transform: rotate(180deg);
            @media (max-width: 767px) {
                filter: blur(15px); 
                top: 0;
            }
        }
        &::after {
            content: '';
            width: 50%;
            height: 50%;
            display: block;
            position: absolute;
            right: 0;
            bottom: 3px;
            z-index: -1;
            background: #0371EE;
            mix-blend-mode: plus-lighter;
            filter: blur(40px);
            border-radius: 24px;
            transform: rotate(180deg);
            @media (max-width: 767px) {
                filter: blur(15px);
                bottom: 0;
            }
        }
    }
    &.is-outside-img {
        width: 60vw;
        margin-left: -13vw;
    }
}

h1, .h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    @media (max-width: 1200px) { 
        font-size: 54px;
    }
    @media (max-width: 767px) { 
        font-size: 40px;
    }
}
h2, .h2 {
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 1200px) { 
        font-size: 36px;
    }
    @media (max-width: 767px) { 
        font-size: 28px;
    }
}
h3, .h3 {
    font-size: 32px;
    font-weight: 600;
    @media (max-width: 1200px) { 
        font-size: 24px;
    }
}
h4, .h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    @media (max-width: 1200px) { 
        font-size: 20px;
    }
}
h5, .h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.splide {
    padding-bottom: 45px;
}

.icw-pagination {
    gap: 5px;
    bottom: 0;
    li {
        line-height: 0.7;
    }
    .splide__pagination__page {
        width: 10px;
        height: 10px;
        flex: none;
        @include border-radius(20px);
        @include transform(scale(1));
        @include transition(0.3s, ease-in-out);
        opacity: 1;
        margin: 0;
        background: $primary;
        border: 1px solid transparent;
        &.is-active {
            width: 22px;
            border-color: $primary;
            background: transparent !important;
            @include transform(scale(1));
        }
    }
    &.is-dark {
        .splide__pagination__page {
            background: $black;
        }
    }
    &.is-top {
        bottom: auto;
        top: -65px;
        right: 0;
        left: auto;
        padding-right: 0;
    }
}
.icw-arrows {
    .splide__arrow {
        width: 68px;
        height: 68px;
        background: $white;
        border: 1px solid $gray;
        @include border-radius(16px);
        @media (max-width: 767px) {
            bottom: -60px;
            top: auto;
            left: calc(50% - 65px);
            width: 58px;
            height: 58px;
        }
        &::before {
            content: '';
            width: 60px;
            height: 60px;
            position: absolute;
            top: 3px;
            left: 3px;
            border: 1px solid $black;
            background: $white;
            @include box-shadow(0px 2px 4px rgba(11, 32, 55, 0.45));
            @include border-radius(12px);
            @include transition(0.3s, ease-in-out);
            @media (max-width: 767px) {
                width: 50px;
                height: 50px;
            }
        }
        &::after {
            content: '';
            width: 12px;
            height: 12px;
            display: inline-block;
            z-index: 2;
            background: url('data:image/svg+xml,<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 6.00009H3.414L5.707 8.29309C5.80251 8.38534 5.87869 8.49568 5.9311 8.61769C5.98351 8.73969 6.0111 8.87091 6.01225 9.00369C6.0134 9.13647 5.9881 9.26815 5.93782 9.39105C5.88754 9.51394 5.81329 9.62559 5.7194 9.71949C5.6255 9.81338 5.51385 9.88763 5.39095 9.93791C5.26806 9.98819 5.13638 10.0135 5.0036 10.0123C4.87082 10.0112 4.7396 9.9836 4.6176 9.93119C4.49559 9.87878 4.38525 9.8026 4.293 9.70709L0.293 5.70709C0.199874 5.6142 0.125988 5.50385 0.0755749 5.38236C0.0251617 5.26087 -0.000787735 5.13063 -0.000787735 4.99909C-0.000787735 4.86756 0.0251617 4.73731 0.0755749 4.61582C0.125988 4.49433 0.199874 4.38398 0.293 4.29109L4.293 0.291092C4.48077 0.103583 4.73534 -0.00165213 5.00071 -0.00146459C5.26607 -0.00127706 5.52049 0.104318 5.708 0.292092C5.89551 0.479865 6.00074 0.734435 6.00056 0.999799C6.00037 1.26516 5.89477 1.51958 5.707 1.70709L3.414 4.00009H11C11.2652 4.00009 11.5196 4.10545 11.7071 4.29298C11.8946 4.48052 12 4.73488 12 5.00009C12 5.26531 11.8946 5.51966 11.7071 5.7072C11.5196 5.89473 11.2652 6.00009 11 6.00009Z" fill="rgba(9 10 12)"/></svg>') center center;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            @include transition(0.3s, ease-in-out);
        }
        &.splide__arrow--next {
            &::after { 
                @include transform(rotate(180deg));
            }
            @media (max-width: 767px) {
                left: auto;
                right: calc(50% - 65px);
            }
        }
        &:hover, &:focus {
            &::before {
                background: $black;
            }
            &::after {
                filter: invert(1);
            }
        }
        &:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
        svg {
            display: none;
        }
    }
}


.social-list {
    ul {
        @include flexbox;
        @include align-items(center);
        gap: 12px;
        li {
            a {
                width: 38px;
                height: 38px;
                flex: none;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(50%);
                border: 1px solid rgba($black, 0.2);
                padding-bottom: 0;
                svg {
                    path {
                        @include transition(0.3s, ease-in-out);
                    }
                }
                &::before {
                    content: none;
                }
                &:hover, &:focus {
                    background: $black;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
    &.is-light {
        ul {
            li {
                a {
                    border: 1px solid rgba($white, 0.2);
                    svg {
                        path {
                            fill: #F2F2F2;
                        }
                    }
                    &:hover, &:focus {
                        background: $primary;
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header
body.is-visible {
    overflow: hidden;
}
.header-note {
    z-index: 1000;
    position: relative;
    background: $darkblack;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-align: center;
}
.main-header {    
    position: sticky;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 99;
    background: $white;
    overflow: hidden;
    &.fixed-header {
        @include box-shadow(0 2px 12px 0 rgba(0,0,0,.3));
    }
    .container {
        @media (max-width: 767px) {
            max-width: 100%;
            padding-right: 0;
        }
    }
    .navbar {
        padding: 0;
        .navbar-brand {
            @include flexbox;
            padding: 0;
            z-index: 10;
            @media (max-width: 1200px) {
                margin-right: 8px;
            }
            img {
                pointer-events: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                max-height: 70px;
                @media (max-width: 992px) {
                    max-height: 40px;
                }
            }
        }       
        .mainMenu {
            & > li {
                margin: 0 10px;
                @media (max-width: 1200px) {
                    margin: 0 7px;
                }
                @media (max-width: 992px) {
                    margin: 5px 0;
                }
                a {
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    @include transition(0.3s, ease-in-out);
                    position: relative;
                    padding-bottom: 2px;
                    overflow: hidden;
                    display: inline-block;
                    color: $white;
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                    &::before {
                        content: '';
                        background-color: $primary;
                        justify-content: flex-end;
                        align-items: flex-start;
                        width: 100%;
                        height: 1.5px;
                        margin-left: -110%;
                        display: flex;
                        position: absolute;
                        bottom: 1px;
                        left: 0;
                        transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                        transform-style: preserve-3d;
                        will-change: transform;
                        @include transition(0.3s, ease-in-out);
                    }
                    @media (min-width: 992px) {
                        @include flexbox;
                        @include align-items(center);
                        color: $black;
                    }
                }
                &.current-menu-item,
                body.single-post &.current_page_parent,
                &:hover, &:focus {
                    & > a {
                        color: $primary;
                        &::before {
                            transform: translate3d(150%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                            transform-style: preserve-3d;
                        }
                    }
                }
            }
            li {
                &.menu-item-has-children {
                    position: relative;
                    @media (min-width: 992px) {
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -25px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    & > a {
                        text-decoration: none;
                        @media (min-width: 992px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.36719 1L4.86719 4.5L1.36719 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                background-size: contain !important;
                                display: inline-block;
                                width: 10px;
                                height: 7px;
                                margin-left: 8px;  
                                @include transition(0.1s, ease-in-out);
                            }
                        }
                    }
                    &.current-menu-item, body.single-post &.current_page_parent {
                        & > a {
                            @media (min-width: 992px) {
                                &::after {
                                    content: '';
                                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"><path d="M11.3327 0.66626L5.99935 5.99959L0.666016 0.66626" stroke="rgb(0 160 227)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                }
                            }
                        }
                    }
                    .arrow {
                        @media (min-width: 992px) {
                            display: none;
                        }
                        @media (max-width: 992px) {
                            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"><path d="M11.3327 0.66626L5.99935 5.99959L0.666016 0.66626" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                            background-size: 10px;
                            width: 20px;
                            height: 20px;
                            flex: none;
                            display: block;
                            float: right;
                            margin-top: 5px;
                            @include transition(0.1s, ease-in-out);
                            &.is-active {
                                @include transform(rotate(180deg));
                            }
                        }
                    }
                    .sub-menu {
                        @media (min-width: 992px) {
                            box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06);
                            transition: visibility 0.1, opacity 0.1, transform 0.1;
                            position: absolute;
                            display: block;
                            opacity: 0;
                            top: 0;
                            transform-origin: 50% 0;
                            pointer-events: none;
                            transform: rotateX(-20deg) translateZ(0) translate3d(0, 37px, 0) !important;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            will-change: transform, box-shadow;
                            background: $white;
                            padding: 10px;
                            min-width: 200px;
                            @include border-radius(12px);
                            margin-top: 15px;
                            &::before {
                                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l256 0c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z" fill="white"/></svg>');
                                position: absolute;
                                top: 0;
                                left: 28px;
                                right: auto;
                                width: 18px;
                                height: 18px;
                                transition: top 0.1 ease;
                            }
                        }
                        @media (max-width: 992px) {
                            display: none;
                            padding-top: 10px;
                            margin-bottom: 20px;
                        }
                        li {
                            a {
                                font-size: 14px;
                                padding: 10px 15px;
                                display: block;
                                @include border-radius(5px);
                                line-height: 1;
                                @include transition(0.1s, ease-in-out);
                                @media (min-width: 992px) {
                                    color: $black;                                    
                                    &:hover, &:focus {
                                        background: rgba($primary, 0.1);
                                        color: $primary;
                                    }
                                }
                                @media (max-width: 992px) {
                                    color: $white;     
                                    font-size: 13px; 
                                    padding: 12px 15px;
                                    background: #393939; 
                                    margin-bottom: 10px;                             
                                    &:hover, &:focus {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        & > a {
                            @media (min-width: 992px) {
                                &::after {
                                    @include transform(rotate(180deg));
                                    background: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.36719 1L4.86719 4.5L1.36719 1" stroke="rgb(0 160 227)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                                }
                            }
                        }
                        .sub-menu {
                            @media (min-width: 992px) {                        
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                transform: rotateX(0deg) translateZ(0) translate3d(0, 37px, 5px) !important;
                                &::before {
                                    top: -15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-right {
            margin-left: 10px;
            @media (max-width: 1200px) {
                margin-left: 8px;
            }
        }
        .sidebar-toggler {           
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            width: 80px;
            height: 80px;
            background: $darkblack;
            border: none;
            @include border-radius(0);
            z-index: 10;
            position: relative;
            padding: 0;
            @media (max-width: 992px) {
                width: 50px;
                height: 50px;
            }
            .line-animation {                
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column);
                width: 28px;
                margin: 0 auto;
                gap: 8px;
            }
            .line {
                width: 18px;
                height: 2px;
                background: $white;
                display: block;
                translate: none; 
                rotate: none; 
                scale: none; 
                transform: translate(0px, 0px); 
                &.line-top {
                    opacity: 1; 
                    visibility: inherit;
                    align-self: flex-start;
                    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
                }
                &.line-bottom {
                    opacity: 1; 
                    visibility: inherit;
                    align-self: flex-end;
                    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
                }
                &.line-cross-1 {
                    opacity: 0; 
                    visibility: hidden;
                    position: absolute;  
                    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out 0.2s;   
                    transition-delay: 0.1s; 
                }
                &.line-cross-2 {
                    opacity: 0; 
                    visibility: hidden;
                    position: absolute;
                    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out 0.2s;     
                    transition-delay: 0.1s; 
                }
            }
            &.is-visible {
                .line {
                    &.line-top {
                        transform: translate(0px, 5px);
                        opacity: 0;
                        visibility: hidden;
                    }
                    &.line-bottom {
                        transform: translate(0px, -5px);
                        opacity: 0;
                        visibility: hidden;
                    }
                    &.line-cross-1 {
                        width: inherit;
                        transform: rotate(45deg);
                        opacity: 1;
                        visibility: inherit;
                    }
                    &.line-cross-2 {
                        width: inherit;
                        transform: rotate(135deg);
                        opacity: 1;
                        visibility: inherit;
                    }
                }
            }
		}
        .header-collapse-menu { 
            position: absolute;
            top: 0;
            right: 0;
            height: 130px;
            width: 0;
            transition: width 0.3s ease, height 0.5s ease 0.3s;
            background: $darkblack;
            @media (max-width: 767px) {
                position: fixed;
                height: 100px;
            }
            .collapse-menu-wrapper {
                margin-top: 80px;
                height: 100%; 
                @include flexbox;
                @include flex-direction(column); 
                @media (max-width: 767px) {
                    margin-top: 120px;
                }
                .collapse-menu-block {
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease;
                    margin: 0 0 40px;
                    transform: translate(10px, 0);
                    height: calc(100% - 270px);
                    @include flexbox;
                    @include flex-direction(column); 
                    @media (max-width: 767px) {
                        margin: 0 15px 30px;
                        height: calc(100% - 240px);
                    }
                    .full-logo {
                        margin: 0 40px 40px;
                        flex: 1 1 auto;
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                    .collapse-menu-content {
                        overflow: hidden;
                        overflow-y: auto;  
                        padding: 0 40px;
                        @media (max-width: 767px) {
                            padding: 0;
                        }
                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                            height: 5px;
                            @include border-radius(16px);
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #9b9b9b;
                            @include border-radius(16px);
                        }
                        &::-webkit-scrollbar-track {
                            background-color: #eeeeee;
                            @include border-radius(16px);
                        }     
                        .mainMenu {
                            margin-bottom: 40px;
                            @media (min-width: 992px) {
                                display: none;
                            }
                        }
                        .contact-info {
                            .widget-block {
                                margin-bottom: 30px;
                                @media (max-width: 992px) {
                                    margin-bottom: 20px;
                                }
                                .widget-title {
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: $primary;
                                    margin-bottom: 5px;
                                    text-transform: uppercase;
                                    @media (max-width: 992px) {
                                        font-size: 12px;
                                    }
                                }
                                .widget-content {
                                    a {
                                        color: $white;
                                        font-weight: 400;
                                        font-size: 16px;
                                        @media (max-width: 992px) {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            .action {
                                margin-top: 30px;
                            }
                        }
                    }
                }
                .collapse-menu-footer {
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease;
                    border-top: 2px solid $primary;
                    padding: 30px 40px;
                    transform: translate(10px, 0);
                    @media (max-width: 992px) {
                        padding: 20px 30px;
                    }
                    .social-list {
                        ul {
                            @include justify-content(center);
                        }
                    }
                }
            }
        }
    }
    &.is-visible { 
        overflow: unset;
        .header-collapse-menu {
            width: 375px;
            height: 100vh !important;
            @media (max-width: 767px) {
                width: 100%;
            }
            .collapse-menu-wrapper {
                .collapse-menu-block {
                }
            }
            &.height-expanded {
                .collapse-menu-wrapper {
                    .collapse-menu-block {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0 , 0);
                    }
                    .collapse-menu-footer { 
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0 , 0);
                    }
                }
            }
        }
    }
    &.fixed-header {
        .navbar .header-collapse-menu {
            height: 80px;
            @media (max-width: 767px) {
                height: 50px;
            }
            .collapse-menu-wrapper .collapse-menu-block {
                height: calc(100% - 220px);
                @media (max-width: 767px) {
                    height: calc(100% - 170px);
                }
            }
        }
        @media (max-width: 767px) {
            .navbar .header-collapse-menu .collapse-menu-wrapper {
                margin-top: 60px;
            }
        }
    }
}


// Footer
.main-footer {
    z-index: 4;
    position: relative;
    background: $white;
    overflow: hidden;
    border-top: 2px solid rgba($darkblack, 0.05);
    .footer-content-block {
        border-bottom: 2px solid rgba($darkblack, 0.05);
        @media (max-width: 992px) {
            padding: 30px 0;
            &.border-bottom-0 {
                border-bottom: 2px solid rgba($darkblack, 0.05) !important;
            }
        }
        .footer-content-row {
            display: grid;
            grid-template-columns: 400px auto;
            @media (min-width: 1440px) {
                grid-template-columns: 450px auto;
            }
            @media (max-width: 1200px) {
                grid-template-columns: 300px auto;
            }
            @media (max-width: 992px) {
                grid-template-columns: 100%;
            }
            .footer-content-sm-col {
                padding: 40px 30px;
                padding-left: 0;
                border-right: 2px solid rgba($darkblack, 0.05);
                @media (max-width: 992px) {
                    padding: 0;
                    border-right: none;
                }
            }
            .footer-content-lg-col {
                padding: 40px 30px;
                padding-right: 0;
                @media (max-width: 992px) {
                    padding: 0;
                }
            }
        }
    }
    a {
        font-size: 16px;
        font-weight: 400;
        color: $darkblack;
        text-decoration: none;
        @include transition(0.3s, ease-in-out);
        overflow: hidden;
        position: relative;
        padding-bottom: 2px;
        overflow: hidden;
        @include inline-flex;
        @include align-items(center);
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        &::before {
            content: '';
            background-color: $primary;
            justify-content: flex-end;
            align-items: flex-start;
            width: 100%;
            height: 1.5px;
            margin-left: -110%;
            display: flex;
            position: absolute;
            bottom: 1px;
            left: 0;
            transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            will-change: transform;
            @include transition(0.3s, ease-in-out);
        }  
        &:hover, &:focus, &.current-menu-item {
            color: $primary;
            &::before {
                transform: translate3d(150%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }
        }
    }
    .footer-logo { 
        &::before {
            content: none;
        }    
        @media (max-width: 992px) {
           margin-bottom: 30px;
        }       
        img {
            max-height: 175px;
            @media (max-width: 992px) {
                max-height: 110px;
            }
        }
    }
    .footer-content {
        p {
            font-size: 28px;
            font-weight: 500;
            color: $darkblack;
            margin-bottom: 40px;
            @media (max-width: 992px) {
                font-size: 18px;
                margin-bottom: 20px;
            } 
        }
        .btn-link {
            font-size: 28px;
            color: $darkblack;
            font-weight: 600;
            overflow: unset;
            @media (max-width: 992px) {
                font-size: 20px;
            } 
            &::before {
                content: none;
            }
            &::after {
                width: 24px;
                height: 24px;
                @media (max-width: 992px) {
                    width: 16px;
                    height: 16px;
                } 
            }
            &:hover, &:focus {
                color: $primary;
            }
        }
    }
    .footer-info-block {
        @include flexbox;
        gap: 80px;
        @media (max-width: 1200px) {
            gap: 40px;
        }
        @media (max-width: 992px) {
            font-size: 20px;
            // margin-bottom: 40px;
            gap: 20px 40px;
            @include flex-wrap(wrap);
        } 
        .footer-info {
            .f-title {
                font-size: 12px;
                font-weight: 600;
                color: $darkblack;
                text-transform: uppercase;
            }
            ul {
                li {
                    p {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    } 
    .footer-menu-list {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        gap: 10px 18px;
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
            columns: 120px 2;
            display: block;
        }
        li {
            @media (max-width: 767px) {
                padding-bottom: 10px;
            }
            a {
                font-weight: 500;
                font-size: 15px;    
                line-height: normal;
            }
            &.current-menu-item {
                > a {
                    color: $primary;
                    &::before {
                        transform: translate3d(150%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                        transform-style: preserve-3d;
                    }
                }
            }
        }
    }
    .social-list {
        @media (max-width: 992px) {
            padding-top: 30px;
            position: relative;
            &::before {
                content: '';
                width: 200%;
                height: 2px;
                display: block;
                background: rgba(25,25,25,0.05);
                position: absolute;
                top: 0;
                left: -20%;
            }
            ul {
                @include justify-content(center);
            }
        }
    }
    .copyright-text {
        font-size: 12px;
        color: $darkblack;
        // margin-bottom: 5px;
        @media (max-width: 992px) {

        }
    }
    .menu-footer-inline {
        ul {
            @include flexbox;
            @include align-items(center);
            @include flex-wrap(wrap);
            gap: 10px 20px;
            @media (max-width: 992px) {
                
            }
            li {
                a {
                    font-size: 11px;
                    font-weight: 700;
                    color: $darkblack;
                    &:hover, &:focus {
                        color: $primary;
                    }
                }
            }
        }
    }
    .brand-logo-content {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        gap: 25px;
        height: 100%;
        @media (max-width: 992px) {
            @include justify-content(center);
        }
        img {
            max-height: 30px;
        }
    }
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

// Footer goto
@-webkit-keyframes border-transform {
	0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
.icw-progress-goto {
	position: fixed;
	right: 20px;
	bottom: 60px;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: block;
	border-radius: 40px;
	box-shadow: inset 0 0 0 2px #0371EE3b;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;

	&.active-progress {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	&::after {
		position: absolute;
		content:  url(../images/icons/arrow-up.svg);
		text-align: center;
		line-height: 40px;
		font-size: 26px;
		color: #fbb12c;
		left: 0px;
		top: -5px;
		height: 40px;
		width: 40px;
		cursor: pointer;
		display: block;
		z-index: 1;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}

	// &:hover::after {opacity: 0;}
	&:hover::after {
		opacity: 1;
		@include transform(translateY(-5px));
	}

	svg path {fill: none;}

	svg.progress-circle path {
		stroke: #0371EE;
		stroke-width: 4;
		box-sizing: border-box;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}
}

.grecaptcha-badge {
	right: -300px !important;
}


// UI
.grid {
    display: grid;
    &.grid-col-2 {
        grid-template-columns: repeat(2, 1fr);
        @media (max-width:992px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.check-list {
    li {
        @include flexbox;
        @include align-items(flex-start);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $black;
        @media (max-width:992px) {
            font-size: 18px;
        }
        &::before {
            content: '';
            background: url(../images/icons/icon-check-circle.svg) no-repeat center center;
            background-size: contain;
            width: 21px;
            height: 21px;
            flex: none;
            display: inline-block;
            margin-right: 8px;
            margin-top: 5px;
            @media (max-width:992px) {
                width: 18px;
                height: 18px;
            }
        }
    }
} 



// 404
.error-404-section {	
	// background: #F5F5F5;
	.section-title {
		.tag {
			display: inline-block;
			font-size: 13px;
			font-weight: 700;
			color: #7177F8;
			letter-spacing: -0.13px;
			padding: 3px 12px;
			@include border-radius(27px);
			background: #F5F8FB;
			margin-bottom: 20px;
		}
		.sort-info {
			color: rgba(#fff, 0.6);	
		}
		.card-image-block {		
			margin-bottom: 40px;
			@media (max-width: 767px) {	
				margin-bottom: 30px;
				img {
					max-width: 80%;
				}
			}
		}
	}
}

// post-password-form
.icw-password-form {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 999;
	background: rgba(#000, 0.95);

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);

	font-size: 22px;
	color: #fff;

	.protected-post-form p {padding: 0px; margin: 0px;}
}