.main-section {
    padding: 100px 0;
}
.section-title {
    h1, h2 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #27274e;
    }
    .sort-info {
        margin-bottom: 20px;
        strong {
            font-weight: 500;
        }
        p {
            color: #424270;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}
.hero-section {
    padding: 0;
    position: relative;
    .video-wrapper {
        min-height: 100vh;
        #background-video {
            height: 100%;
            width: 100%;
            -webkit-object-fit: cover;
            -moz-object-fit: cover;
            -ms-object-fit: cover;
            object-fit: cover;
            object-position: 100% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .section-title {
        z-index: 9;
        position: relative;
        color: $white;
        max-width: 650px;
        padding: 150px 0 280px;
        @media (max-width: 767px) {
            max-width: 300px;
            padding: 60px 0 40px;
        }
        h1 {
            color: #f9fafc;
        }
        .action {
            margin-top: 100px;
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
    }
}
.bg-gradient-section {
    .bg-gradient-block{
        padding: 100px;
        @include border-radius(8px);
        @include transform(scale(0.95));
        @include transition(0.3s, ease-in-out);
        .section-title {
            h2 {
                color: #f9fafc;
            }
            .sort-info {
                p {
                    color: #d7e4ff;
                }
            }
        }
    }
}

.logo-list-block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    column-gap: 35px;
    .logo {
        margin-top: 20px;
        img {
            max-height: 65px;
            @include transition(0.3s, ease-in-out);
        }
        &:hover {
            img {
                @include transform(scale(1.05));
            }
        }
    }
}