.main-section {
    padding: 100px 0;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
    &.with-shadow {
        @include box-shadow(0 22px 50px rgba(132, 153, 194, .55));
        z-index: 10;
        position: relative;
    }
}
.section-title {
    margin-bottom: 30px;
    &.mw-960 {
        max-width: 960px;
        margin: 0 auto;
    }
    &.mw-400 {
        max-width: 400px;
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
    &.mw-500 {
        max-width: 500px;
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
    .tag {
        color: #d7e4ff;
        font-size: 20px;
        margin-bottom: 5px;
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    h1, h2 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #27274e;
        @media (max-width: 992px) {
            margin-bottom: 10px;
        }
        @media (max-width: 767px) {            
            br {
                display: none;
            }
        }
    }
    .sort-info {
        margin-bottom: 20px;
        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
        @media (max-width: 767px) {            
            br {
                display: none;
            }
        }
        strong {
            font-weight: 600;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    .action {
        margin-top: 50px;
        @media (max-width: 992px) {
            margin-top: 30px;
        }
    }
}
.hero-section {
    padding: 0;
    position: relative;
    .video-wrapper {
        min-height: 100vh;
        @media (max-width: 767px) {
            min-height: auto;
        }
        #background-video {
            height: 100%;
            width: 100%;
            -webkit-object-fit: cover;
            -moz-object-fit: cover;
            -ms-object-fit: cover;
            object-fit: cover;
            object-position: 100% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .section-title {
        z-index: 9;
        position: relative;
        color: #f9fafc;
        max-width: 650px;
        padding: 180px 0 280px;
        @media (max-width: 1200px) {
            padding: 150px 0 150px;
        }
        @media (max-width: 992px) {
            padding: 150px 0 70px;
            max-width: 350px;
        }
        @media (max-width: 767px) {
            max-width: 300px;
            padding: 150px 0 60px;
        }
        h1 {
            color: #f9fafc;
        }
        .action {
            margin-top: 100px;
            @media (max-width: 1200px) {
                margin-top: 70px;
            }
            @media (max-width: 992px) {
                margin-top: 60px;
            }
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
    }
}

.page-hero-section {
    background-image: var(--bg-img);
    background-color: #507be3;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
    min-height: 80vh;
    @include flexbox;
    @include align-items(center);
    padding: 0;
    @media (max-width: 767px) {
        background-image: var(--bg-img-m);
        background-position: 50% 100%;
        min-height: 600px;
        @include align-items(flex-start);
    }
    .section-title {
        z-index: 9;
        position: relative;
        color: #f9fafc;
        max-width: 400px;
        padding: 200px 0 100px;
        @media (max-width: 1200px) {
            padding: 120px 0 50px;
        }
        h1 {
            color: #f9fafc;
        }
        .action {
            margin-top: 100px;
            @media (max-width: 1200px) {
                margin-top: 70px;
            }
            @media (max-width: 992px) {
                margin-top: 60px;
            }
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
    }
}

.bg-gradient-section {
    .bg-gradient-block{
        padding: 100px;
        @include border-radius(8px);
        @include transform(scale(0.95));
        @include transition(0.3s, ease-in-out);
        @media (max-width: 1200px) {
            padding: 60px;
        }
        @media (max-width: 992px) {
            padding: 40px;
        }
        @media (max-width: 767px) {
            padding: 20px;
        }
        .section-title {
            h2 {
                color: #f9fafc;
            }
            .sort-info {
                p {
                    color: #d7e4ff;
                }
            }
        }
    }
}

.logo-list-block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    column-gap: 35px;
    @media (max-width: 1200px) {
        column-gap: 25px;
    }
    .logo {
        margin-top: 20px;
        img {
            max-height: 65px;
            @include transition(0.3s, ease-in-out);
            @media (max-width: 1200px) {
                max-height: 45px;
            }
        }
        &:hover {
            img {
                @include transform(scale(1.05));
            }
        }
    }
}

.grid-list-section {
    .grid-row {
        &.two-grid-col {
            grid-template-columns: 1fr 3fr;
            @media (max-width: 1440px) {
                grid-gap: 30px;
            }
            @media (max-width: 1200px) {
                grid-template-columns: 100%;
            }
        }
    }
    .grid-list-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        @media (max-width: 1440px) {
            grid-gap: 30px;
        }
        @media (max-width: 1200px) {
            grid-gap: 15px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
    }
}

.blog-post-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 -12px;
    @media (max-width: 992px) {
        gap: 20px;
        margin: 0 -10px;
    }
    @media (max-width: 767px) {
        overflow: hidden;
        overflow-x: auto;
        margin: 0;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .post-card {
        flex: 0 0 calc(25% - 25px);
        @media (max-width: 1200px) {
            flex: 0 0 calc(33.33% - 25px);
        }
        @media (max-width: 992px) {
            flex: 0 0 calc(33.33% - 20px);
        }
        @media (max-width: 767px) {
            flex: 0 0 calc(250px - 20px);
        }
    }
}

.cta-section {
    padding: 30px 30px 100px !important;
    @media (max-width: 992px) {
        padding: 15px 15px 100px !important;
    }
}

.cta-block {
    background-image: url(../images/img-footer-cta-bg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include border-radius(8px);
    padding: 80px 80px 100px;
    @media (max-width: 992px) {
        padding: 40px 40px 50px;
    }
    @media (max-width: 767px) {
        padding: 20px 20px 30px;
    }
    .section-title {
        h2 {
            font-size: 72px;
            @media (max-width: 1200px) {
                font-size: 50px;
            }
            @media (max-width: 992px) {
                font-size: 30px;
                br {
                    display: block;
                }
            }
            @media (max-width: 767px) {
                font-size: 24px;
            }
        }
    }
}

.img-text-box-list-section {    
    .img-text-box-lists {
        padding: 70px 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        @media (max-width: 992px) {
            padding: 50px 0;
        }
        @media (max-width: 767px) {
            padding: 20px 0;
        }
        .two-grid-col {
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .section-title {
            max-width: 600px;
            margin-bottom: 0;
            @media (max-width: 767px) {
                max-width: 100%;
            }
            .sort-info {
                font-weight: 500;
                margin-bottom: 0;
            }
        }
        .image-block {
            @media (max-width: 767px) {
                img {
                    width: 100%;
                }
            }
        }
        &.left-img {
            @media (max-width: 767px) {
                .content-block {
                    order: 1;
                }
                .image-block {
                    order: 2;
                    @media (max-width: 767px) {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.full-width-section {
    overflow: hidden;
    &.bg-gradient {
        .section-title {
            h2 {
                color: #f9fafc;
            }
        }
    }
    .section-title {
        max-width: 630px;
        .sort-info {
            max-width: 380px;
        }
    }
    &.outside-right {
        position: relative;
        .image-block {
            width: 50vw;
            position: absolute;
            right: -50px;
            bottom: 0;
            line-height: 0.7;
            @media (min-width: 993px) {
                img {
                    max-width: 95%;
                    min-height: 350px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: left top;
                    object-position: left top;
                }
            }
        }
    }
}
.comparison-card-section {
    .comparison-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        max-width: 1280px;
        margin: 0 auto;
        @media (max-width: 992px) {
            grid-gap: 20px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}