.clinic-slider{
    height: 341px;
}

.clinic-slider .splide__track{
    height: 100%;
}

.clinic-slider .splide__list{
    align-items: center;
}

.clinic-slider .splide__slide.is-visible.is-active{
    transform: translate(0px, 19px);
}

.clinic-slider .splide__slide{
    transition-property: transform;
    transition-timing-function: all;
    transition-duration: 0.6s;
}

.clinic-slider .splide__slide .clinic-slider__content .clinic-slider__content-img{
    width: 217.19px;
    height: 270.81px;
}


@media screen and (min-width: 480px) {
    .clinic-slider{
        height: 503px;
    }

    .clinic-slider .splide__slide:not(.is-visible.is-active) .clinic-slider__content{
        padding: 52px 0px;
    }

    .clinic-slider .splide__slide:not(.is-visible.is-active) .clinic-slider__content .clinic-slider__content-img{
        width: 320px;
        height: 399px;
    }
    
    .clinic-slider .splide__slide.is-active.is-visible .clinic-slider__content .clinic-slider__content-img{
        width: 440px;
        height: 503px;
    }

    .clinic-slider .splide__slide .clinic-slider__content .clinic-slider__content-img{
        object-fit: cover;
        object-position: center;
        transition-property: transform, height, width, top;
        transition-timing-function: all;
        transition-duration: 0.6s;
    }

    .clinic-slider .splide__slide.is-visible.is-active{
        transform: translate(0px);
    }

    .clinic-slider .splide__slide.is-visible.is-prev{
        transform: translate(0px, -24px);
    }

    .clinic-slider .splide__slide.is-visible.is-next{
        transform: translate(0px, 24px);
    }
}