/********** Gallery Elementor Widget **********/
.elementor-image-gallery {
    .gallery {
        margin: 0 -30px -30px 0;
        .gallery-item {
            padding: 0 30px 30px 0;
            .gallery-icon {
                overflow: initial;
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                }
            }
            .gallery-caption {
                padding: 36px 0 0;
            }
            img {
                width: 100%;
            }
        }
    }
}