/********** Heading Elementor Widget **********/
.industrium-heading {
    position: relative;
    .industrium-subheading {
        display: block;
        font-size: 0.8888em;
        font-weight: 500;
        &:before {
            content: '.';
            margin-right: 3px;
        }
        &.no-dot {
            &:before {
                display: none;
            }
        }
    }
    .industrium-heading-content {
        display: block;
        position: relative;
        &:not(:first-child) {
            margin-top: 0.2em;
        }
    }
}