/********** Icon List Elementor Widget **********/
.elementor-icon-list-items {
    .elementor-icon-list-item {
        padding: 0;
        &:before {
            content: none;
            display: none;
        }
        .elementor-icon-list-icon {
            position: relative;
        }
    }
}

.elementor-widget {
    .elementor-icon-list-items {
        .elementor-icon-list-item {
            &,
            > a,
            > .item-wrapper,
            > .item-wrapper > a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
            }
        }
    }    
}