/********** Progress Bar Elementor Widget **********/
.elementor-widget-progress {
    .elementor-widget-container {
        .elementor-title {
            font-weight: 500;
            letter-spacing: -0.03em;
        }
        .elementor-progress-wrapper {
            @include border-radius(0);
            &:not(:first-child) {
                margin-top: 2px;
            }
            &.progress-info {
                .elementor-progress-bar {
                    background-color: #005aac;
                }
            }
            &.progress-success {
                .elementor-progress-bar {
                    background-color: #00dcae;
                }
            }
            &.progress-warning {
                .elementor-progress-bar {
                    background-color: #ffe401;
                }
            }
            &.progress-danger {
                .elementor-progress-bar {
                    background-color: #ea7562;
                }
            }
        }
        .elementor-progress-bar {
            @include border-radius(inherit);
            height: 4px;
            line-height: 1em;
            font-weight: 500;
            font-size: 18px;
            display: block;
        }
        .elementor-progress-text {
            display: none;
        }
        .elementor-progress-percentage {
            position: absolute;
            right: -0.2857em;
            left: auto;
            top: calc(-1em - 10px);
            padding: 0;
            font-weight: 500;
            letter-spacing: -0.03em;
        }
    }
}