/********** Special Text Elementor Widget **********/
.elementor-widget-industrium_special_text {
    .special-text-wrapper {
        position: relative;
        .special-text {
            display: inline-block;
            vertical-align: top;
        }
        .special-text-effect-stroke {
            position: absolute;
            left: 0.03em;
            top: -0.03em;
            z-index: -1;
        }
    }
    .special-text {
        white-space: nowrap;
        font-size: 50px;
        line-height: 1.2em;
        font-weight: 700;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .elementor-widget-industrium_special_text {
        .special-text {
            font-size: 100px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .elementor-widget-industrium_special_text {
        .special-text {
            font-size: 200px;
        }
    }
}