/********** Step Elementor Widget **********/
.industrium-step-widget {
    .step-item {
        position: relative;
        padding: 25px 35px 60px 45px;
        .step-bg-number {
            position: absolute;
            font-size: 100px;
            letter-spacing: -0.03em;
            line-height: 1;
            font-weight: 700;
            margin-left: -0.07em;
            margin-right: -0.07em;
            top: -0.3em;
            right: initial;
            left: 45px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .step-number {
            font-size: 16px;
            line-height: 1.5em;
            font-weight: 500;
            text-align: right;
            &:not(:last-child) {
                margin-bottom: 55px;
            }
        }
    }
    .step-title {
        margin: 0;
        line-height: 1.16666em;
        @include transition(color .3s);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}