/********** Testimonial Slider Elementor Widget **********/
.industrium-testimonial-carousel-widget {
    .testimonial-carousel-wrapper {
        .author-name {
            display: block;
            font-size: 18px;
            line-height: 1.5em;
            font-weight: 600;
        }
        .author-position {
            font-size: 18px;
            line-height: 1.5em;
            display: block;
            font-weight: 600;
            &:not(:first-child) {
                margin: 1px 0 0;
            }
        }
        .testimonials-slider-container {
            margin: 0 -15px;
        }
        .owl-item {
            outline: none;
        }
        .testimonials-slider {
            position: relative;
        }
        .testimonials-heading {
            .title-icon {
                font-size: 42px;
            }
            .industrium-heading {
                &:not(:first-child) {
                    margin-top: 20px;
                }                
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        .testimonial-item {
            padding: 0 15px;
            .testimonial-photo {
                @include flex-shrink(0);
                img {
                    display: block;
                    @include border-radius(50%);
                    position: relative;
                }
            }
            .author-info {
                text-align: left;
            }
            .author-container {
                @include flex(row, nowrap, flex-start, center);
                &:not(:first-child) {
                    margin: 40px 0 0;
                }
            }
            .testimonial {
                font-size: 18px;
                line-height: 1.7778em;
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
            &.slider-item-type-1 {
                .testimonial-photo {
                    width: 90px;
                    margin: 0 29px 0 0;
                }
            }
            &.slider-item-type-2 {
                .testimonial-photo {
                    width: 68px;
                    margin: 0 22px 0 0;
                }
            }
            .testimonial-footer {
                .owl-dots {
                    margin-top: 0;
                }
            }
        }
        .testimonial-carousel-type-2 & {
            .author-name {
                display: inline-block;
            }
            .author-position {
                display: inline-block;
                &:not(:first-child) {
                    &:before {
                        content: '/';
                        display: inline-block;
                        margin: 0 4px;
                    }
                }
            }
            .owl-dots {
                margin-top: 0;
                .owl-dot {
                    margin: 10px; 
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .industrium-testimonial-carousel-widget {
        .testimonial-carousel-wrapper {
            .testimonial-item {
                .testimonial-item {
                    text-align: left;
                    .author-container {
                        @include flex(row, nowrap, flex-start, center);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .industrium-testimonial-carousel-widget {
        .testimonial-carousel-wrapper {
            .testimonial-item {
                .testimonials-slider-container {
                    margin: 0 -30px;
                }
                .testimonial-item {
                    padding: 0 30px;
                }
            }
        }
    }
}