/********** Video Elementor Widget **********/
.elementor-widget-video {
    .elementor-widget-container {
        margin: 0 auto;
    }
    .elementor-custom-embed-image-overlay {
        &:before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .elementor-custom-embed-play {
        @include transition(all .3s);
        background-image: none;
        text-align: center;
        outline: none;
        width: 106px;
        height: 106px;        
        pointer-events: auto;
        z-index: 2;
        svg {
            width: 106px;
            height: 106px;
            stroke-width: 2px;
            fill: none;
            filter: none;
            opacity: 1;
        }
    }
}