/********** Video Button Elementor Widget **********/
.industrium_video_button_widget {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    .eicon-play {
        width: 80px;
        height: 80px;
        text-align: center;
        border: none;
        font-size: 21px;
        line-height: 60px;
        cursor: pointer;
        padding: 0 0 0 5px;
        opacity: 1;
        @include box-shadow(none);
        @include flex(row, nowrap, center, center);
        &:before {
            display: none;
        }
        svg {
            opacity: 1;
            stroke-width: 2px;
            filter: none;
            fill: none;
            width: 1em;
            height: 1em;
            @include transition(stroke .3s);
        }
    }
}

.industrium_video_button_container {
    font-size: 0;
    line-height: 1;
}