.main-content-wrapper {
    margin-top: 66px;
}

.hero-header {
    padding: 50px 0px;
    background: linear-gradient(90deg, #0F3D8B 43.02%, rgba(15, 61, 139, 0.48) 98.71%);

    .row {
        @media (max-width:767px) {
            @include align-items(center);
            @include flex-direction(column-reverse);
        }
    }

    .section-title {
        h1 {
            line-height: 1.1;
        }

        color: #ffffff;

        strong {
            color: $secondary;
        }
    }

    .sub-title {
        color: #ffffff;
        font-size: 28px;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: 991px) {
            font-size: 24px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    .hero-img {
        text-align: right;

        @media (max-width:767px) {
            text-align: center;
            margin-bottom: 20px;

            img {
                max-width: 50%;
            }
        }
    }
}

.cta-section {
    padding: 30px 0px;
    background-color: $secondary;

    a {
        position: relative;
        z-index: 1;
        font-size: 16px;
        font-weight: 500;
        display: inline-flex;
        transition: all .2s ease-in-out;
        color: $black;
        text-decoration: none;
    }

    .icon-content-item {
        .info-dec {
            position: relative;

            &:hover {
                color: $primary;

                &::before {
                    width: 50%;
                    left: 0;
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: -2px;
                background: $primary;
                width: 0;
                height: 1px;
                transition: all .2s ease-in-out;
            }
        }
    }

    .contact-text {
        display: inline-flex;
    }

    .btn {
        color: #ffffff;
    }

    .cta {
        align-items: center;
    }

    .sort-info {
        font-size: 24px;
        font-weight: 500;

        @media (max-width:767px) {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    .action-block {
        display: inline-flex;
        align-items: center;

        .icon-content-item {
            display: inline-flex;
            margin-left: 30px;
            align-items: center;
        }

        .card-title {
            font-size: 14px;
        }

        .info-dec {
            font-size: 18px;
            font-weight: 500;
        }

        .icon-with-bg {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;
        }
    }
}

.bg-white {
    background-color: $white;
}

.bg-gray {
    background-color: #F6F6F6;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-secondary-light {
    background-color: #DFFFFF;
}

.bg-praimary-light {
    background-color: #F3F7FC;
}

.gradient-bg {
    background: linear-gradient(90deg, #0F3D8B 43%, rgba(15, 61, 139, 0.48) 98%);
}

.main-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;

    @media (max-width: 1350px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.logos-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .splide__slide {
        text-align: center;
    }
}

.img-infocard-section {
    .card-image-block {
        background-color: #F1F5FB;
        border-radius: 12px;

        @media (max-width:767px) {
            margin-bottom: 20px;
        }
    }

    .card {
        border: none;
        border-radius: 12px;
        margin-bottom: 25px;

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 28px;
            color: $primary;
            font-weight: 500;

            @media (max-width:991px) {
                font-size: 16px;
            }
        }

        .card-info {
            margin-bottom: 20px;
            font-size: 18px;

            @media (max-width:991px) {
                font-size: 14px;
            }
        }
    }
}

.infocard-grid-section {
    .section-title {
        text-align: center;

        h2 {
            color: $primary;
        }
    }

    .sort-info {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }

    .card {
        // height: 100%;
        border: none;

        @media (max-width:767px) {
            margin-bottom: 20px;
        }
    }

    .card-block {
        @media (min-width:767px) {
            margin-bottom: 20px;
        }
    }

    .info-card {
        border-top: 5px solid $secondary;

        @media (min-width:768px) {
            height: 100%;
        }

        .card-title {
            h3 {
                font-size: 20px;
                font-weight: 500;
                color: $primary;
                margin-bottom: 10px;

                @media (max-width:991px) {
                    font-size: 16px;
                }
            }
        }

        .card-text {
            flex: 1 1 auto;
            margin-bottom: 10px;

            .sort-info {
                font-size: 18px;
                color: $black;
                font-weight: 400;
                margin-bottom: 10px;
                text-align: left;

                @media (max-width:991px) {
                    font-size: 14px;
                }
            }
        }

        .card-icon {
            margin-bottom: 10px;
            height: 65px;
            width: 65px;

            img {
                height: 100%;
            }
        }
    }
}

.testimonial-section {
    .section-title {
        h2 {
            color: $primary;
        }
    }

    .sort-info {
        max-width: 950px;
        margin-bottom: 40px;

    }

    .card {
        color: $white;
        background-color: $primary;
        text-align: center;
        border-radius: 24px;
        padding: 50px 50px;

        @media (max-width:991px) {
            padding: 20px 20px;
        }

        @media (max-width:767px) {
            margin-bottom: 20px;

        }

        .card-title {
            h3 {
                color: $white;
                margin-bottom: 0px;
                line-height: 1.1;
            }
        }

        .sub-title {
            color: $secondary;
            margin-bottom: 20px;
        }

        .card-img-top {
            margin-bottom: 20px;
            text-align: center;
            background: url("../../upload/testi-bg.png");
            padding: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 150px;

            img {
                border-radius: 100px;
                height: 100%;
            }

            @media (max-width:991px) {
                padding: 15px;
            }

            @media (max-width:767px) {
                padding: 20px;
            }
        }

    }
}

.counter-section {
    .section-title {
        display: flex;
        margin-bottom: 50px;
        justify-content: space-between;

        h2 {
            margin-bottom: 0px;
            color: $primary;
        }
    }

    .counter {
        text-align: center;

        p {
            font-size: 20px;
        }

        @media (max-width:991px) {
            margin-bottom: 20px;
        }
    }
}

.cta-block-section {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;

    @media (max-width: 991px) {
        min-height: 400px;
    }

    @media (max-width: 767px) {
        min-height: 300px;
    }

    .card {
        position: absolute;
        bottom: 50px;
        left: 50px;
        max-width: calc(100vw - 30px);
        width: 460px;
        background-color: $primary;
        border: none;
        color: $white;
        @media (max-width: 575px) {
            left: 15px;
        }
        .card-body {
            border-radius: 25px;
            padding: 30px;

        }

        .card-title {
            margin-bottom: 10px;
        }

        .sort-info {
            margin-bottom: 20px;
        }
    }
}