// Post categories
.post-categories {
    margin: 0 -5px -5px 0;
    font-size: 0;
    line-height: 1;
    .post-category-item {
        display: inline-block;
        margin: 0 5px 5px 0;
        font-size: 14px;
        line-height: 1;
        font-weight: 500;
        padding: .2308em .7692em .2308em 0;
        text-align: center;
        @include transition(color .3s);
        &:before {
            content: '.';
            display: inline-block;
            margin-right: 4px;
        }
    }
}