/*********** Pagination ***********/
.content-pagination {
    &:not(:first-child) {
        margin-top: 40px;
    }
    .pagination {
        display: block;
        position: relative;
        z-index: 2;
    }
    .nav-links {
        font-size: 0;
        line-height: 1;
        text-align: center;
    }
    .page-numbers,
    .post-page-numbers {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        min-width: 50px;
        height: 50px;
        font-size: 18px;
        position: relative;
        line-height: 50px;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        margin: 0 -1px 0 0;
        @include box-sizing;
        @include transition(all, .3s);
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            width: 100%;
            @include transition(height .3s);
            z-index: -1;
        }
        &:hover {
            z-index: 2;
            &:after {
                height: 100%;
            }
        }
        &.dots {
            cursor: default;
            border-right: none;
            border-left: none;
            background: none;
            @include box-shadow(none);
            min-width: 46px;
            margin: 0 0 0 1px;
            &:after {
                display: none;
            }
        }
        &.current {
            cursor: default;
            z-index: 3;
            &:after {
                height: 100%;
            }
        }
        .button-icon {
            display: inline-block;
            vertical-align: top;
            font: 400 normal 10px/50px 'fontello';
        }
        &.prev {
            .button-icon {
                &:before {
                    content: '\e80d';
                }
            }
        }
        &.next {
            .button-icon {
                &:before {
                    content: '\e824';
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
   .content-pagination {
        &:not(:first-child) {
            margin-top: 75px;
        }
    }
}