:root {
	--bs-primary: #1E4397;
}
*,
::after,
::before {
	box-sizing: border-box; 
    list-style: none; 
    text-decoration: none;
}
html {
    font-family: sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
}
article, 
aside, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section {
    display: block;
}
hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
}
body {
    margin: 0; 
    padding: 20px; 
    background: $bodybg;
    font-family: $bodyfont; 
    color: $black; 
    font-size: $bodyfontsize; 
    font-weight: 400; 
    position: relative; 
    line-height: 1.5; 
    overflow-x: hidden; 
    min-height: 100vh; 
    @include flexbox(); 
    @include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: $primary;
    text-decoration: none;
	text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}
p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}
img{
    max-width:100%;
	height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}
.icon, .sm-icon {
    display: inline-block; 
    line-height: 0.7;
}
.text-red {
    color: #F20000 !important;
}
.bg-lightorange {
    background: #FFEEE0 !important;
    &.with-border {
        border-color: #FFCB79 !important;
    }
    svg {
        path {
            stroke: #FFCB79 !important;
        }
    }
}
.bg-lightgreen {
    background: #E4F4D8 !important;
    &.with-border {
        border-color: #90CC54 !important;
    }
    svg {
        path {
            stroke: #90CC54 !important;
        }
    }
}
.bg-lightpurple {
    background: #E4ECFD !important;
    &.with-border {
        border-color: #9DBDFF !important;
    }
    svg {
        path {
            stroke: #9DBDFF !important;
        }
    }
}
.border-lightorange { 
    border-color: #FFCB79;
}
.border-lightgreen { 
    border-color: #90CC54;
}
.border-lightpurple { 
    border-color: #9DBDFF;
}

.btn {
	min-height: 32px;
	padding: 5px 20px;
	font-weight: 500;
	font-size: 14px;
	@include transition(0.3s, ease-in-out);
	@include border-radius(5px);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	@media (max-width:767px) {
		font-size: 13px;
		padding: 5px 18px;
	}
	&.with-icon {
		svg {
            margin-left: 10px;
            path {
                @include transition(0.3s, ease-in-out);
            }
        }
	}
	&.btn-primary{
		color: $white !important;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $primary !important;
			border: 1px solid $primary;
		}
	}
}
.btn-link {
	color: $primary;
	font-weight: 500;
	position: relative;
	z-index: 3;
    font-size: 12px;
	text-decoration: none;
	@include inline-flex;
	@include align-items(center);
	@include transition(0.3s, ease-in-out);
	&:hover, &:focus, &:active {
		color: $primary;
		box-shadow: none !important;
		text-decoration: none;
	}
	&:hover,&:focus{
		color: $primary;
		&:before {
			width: 50%;
		}
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0px;
		background: $primary;
		width: 0;
		height: 1px;
		@include transition(0.3s, ease-in-out);
	}
	&.with-icon {
		&:after {
			content: "";
			display: block;
			margin-left: 8px;
			width: 16px;
			height: 16px;
			background: url(../images/icons/btn-arrow.svg) no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
		}
		&:hover, &:focus, &:active {
			&:after {
				margin-left: 12px;
			}
		}
	}
}
.dropdown {
    .dropdown-toggle {
        @include inline-flex;
        @include align-items (center);
        font-size: 12px;
        color: #898989;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0px;
            background: $primary;
            width: 0;
            height: 1px;
            @include transition(0.3s, ease-in-out);
        }
        &::after {
            border: none;
            background: url(../images/icons/dropdown-toggle-arrow.svg) no-repeat center center;
            background-size: contain;
            width: 10px;
            height: 10px;
            margin-left: 5px;
        }
        &:hover, &.show, &:focus {
            &:before {
                width: 100%;
            }
        }
    }
    .dropdown-menu {
        border-radius: 10px;
        border: 1px solid #E7EEFF;
        background: #FFF;
        box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.12);
        padding: 8px;
        min-width: 180px;
        display: block;
        @include opacity(0);
        visibility: hidden;
        @include transform(translateY(10px));
        @include transition(0.3s, ease-in-out);
        li {
            border-bottom: 1px solid #EBF1FF;
            padding: 8px 5px;     
            line-height: 1;       
            &:last-child {
                border-bottom: none;
            }            
            a {
                color: $black;
                font-size: 14px;
                padding: 0;
                @include inline-flex;
                @include align-items(center);
                width: auto;
                @include transition(0.3s, ease-in-out);  
                position: relative;   
                z-index: 1;  
                .icon {
                    margin-right: 10px;
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: -2px;
                    background: $primary;
                    width: 0;
                    height: 1px;
                    @include transition(0.3s, ease-in-out);
                }         
                &:hover {
                    color: $primary;
                    background: transparent;
                    .icon {
                        svg {
                            path {
                                fill: $primary;
                            }
                        }
                    }
                    &:before {
                        width: 100%;
                    }
                }
            }
            
        }
    }
    &:hover, &:focus {
        .dropdown-menu {
            @include transform(translateY(3px));
            @include opacity(1);
            visibility: visible;
        }
    }
}

.card {
    border: none;
    @include border-radius(0px);
    padding: 0;                                
}
.accordion-item, .collapse-item { 
    .action {
        width: 20px;
        height: 20px;
        flex: none;                                            
        margin-left: auto; 
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center); 
        .arrow {
            background: url(../images/icons/dropdown-toggle-arrow-black.svg) no-repeat center center; 
            background-size: contain;                                 
            @include transition(0.3s, ease-in-out);
            @include transform(rotate(180deg));
        }              
    }
    .collapsed {
        .action {
            .arrow {
                @include transform(rotate(0deg));
            }
        }
    }
}
.accordion {
    .accordion-item {
        border: none;
        @include border-radius(0px);
        border-bottom: 1px solid #EBF1FF;
        padding: 10px 15px;
        .accordion-header {
            @include flexbox;
            @include align-items(center);
            .accordion-title {
                color: #4FCB8D;
                font-size: 16px;
                font-weight: 500;
                @include flexbox;
                @include align-items(center);
                margin-right: 15px;
                .icon {
                    margin-top: -2px;
                    margin-right: 8px;
                }
            }
            .action {
                @include border-radius(5px);
                border: 1px solid #EBF1FF;  
                .arrow {
                    width: 8px;  
                    height: 8px;   
                }
            }            
            
        }
    }
}
.collapse-item {
    .collapse-header {
        @include flexbox;
        @include align-items(center);
        @include border-radius(12px);
        margin-bottom: 10px;
        background: $white;
        .collapse-title {
            margin-right: 15px;
        }
        .action {            
            margin-right: 5px; 
            .arrow {
                width: 12px; 
                height: 12px;       
            }
        }
        &[aria-expanded='true'] { 
            @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
            .collapse-title { 
                font-weight: 600;
                .icon {
                    border-color: #448E4A !important;
                    background: #448E4A !important;
                    svg {
                        path {
                            stroke: $white !important;
                        }
                    }
                }
            }
        }
    }
}

.search-form {
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background: #F8F8F8; 
    @include flexbox;
    @include align-items(center);
    padding: 0 15px;
    max-width: 240px;
    @media (max-width: 1440px) {
        max-width: 180px;
    }
    &:hover {
        .btn-icon { 
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
    .btn-icon {
        padding: 0;
        @include transition(0.3s, ease-in-out);
        svg {
            path {
                @include transition(0.3s, ease-in-out);
            }
        }
        &:hover, &:focus {
            @include transform(scale(1.2));
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
    .form-control {
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 15px;
        font-size: 15px;
        color: $black;
        letter-spacing: 0.3px;
        height: 43px;
        @media (max-width: 1600px) {
            height: 40px;
        }
        @media (max-width: 1440px) {
            height: 36px;
        }
        &::placeholder {
            color: #A0AEC0;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.main-header {
    border-radius: 15px;
    border: 1px solid #E7EEFF;
    background: #FFF;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 15px 25px;
    z-index: 1040;
    @media (max-width: 1600px) {
        padding: 15px;
    }
    .navbar {
        padding: 0;
        .navbar-brand {
            padding: 0;
            margin: 0;
            img {
                min-height: 50px;
                min-width: 135px;
                @media (max-width: 1440px) {
                    min-width: 120px;
                }
            }
        }
        .navbar-nav {
            margin-left: 100px;
            @media (max-width: 1600px) {
                margin-left: 70px;
            }
            @media (max-width: 1440px) {
                margin-left: 40px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
            .nav-item {
                padding: 0 10px;
                @media (max-width: 1600px) {
                    padding: 0 8px;
                }
                .nav-link {
                    font-size: 16px;
                    color: $black;
                    padding: 0;
                    @media (max-width: 1440px) {
                        font-size: 14px;
                    }
                }
                &:hover {
                    .nav-link {
                        color: $primary;
                    }
                }
                &.dropdown {
                    .dropdown-toggle {
                        font-size: 16px;
                        color: $black;
                        position: relative;
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                        &::after {
                            width: 10px; 
                            height: 12px; 
                            filter: brightness(0);
                            margin-left: 5px;
                            @include transition(0.3s, ease-in-out);
                        }
                        &.show {
                            &::after {
                                @include transform(rotate(180deg))
                            }
                        }   
                    }
                    &:hover, &:focus {
                        .dropdown-toggle {
                            color: $primary;
                            &::after {
                                @include transform(rotate(180deg))
                            }
                            &:before {
                                width: 100%;
                            }
                        }
                        .dropdown-menu { 
                            @include transform(translateY(3px));
                            @include opacity(1);
                            visibility: visible;
                        }
                    }
                    .dropdown-menu {
                        display: block;
                        @include opacity(0);
                        visibility: hidden;
                        @include transform(translateY(10px));
                        @include transition(0.3s, ease-in-out);
                        li {
                            border-bottom: none;
                            a {
                                font-size: 16px;
                                color: $black;
                                @include transition(0.3s, ease-in-out);
                                &:hover {
                                    color: $primary;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-form {
            margin-left: 40px;
            margin-right: 25px;
            @media (max-width: 1600px) {
                margin-left: 30px;
                margin-right: 15px;
            }
            @media (max-width: 1440px) {
                margin-left: 20px;
                margin-right: 12px;
            }
        }
        .header-right-block {
            @include flexbox;
            @include align-items(center);
            margin-left: auto;
            .header-dropdown {
                border-left: 1px solid rgba(#001926, 0.1);
                padding: 0 20px;
                @media (max-width: 1600px) {
                    padding: 0 15px;
                }
                @media (max-width: 1440px) {
                    padding: 0 12px;
                }
                .dropdown-toggle {
                    height: 45px;
                    flex: none;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    position: relative;
                    @include transition(0.3s, ease-in-out);        
                    @media (max-width: 1600px) {
                        height: 42px;
                    }
                    @media (max-width: 1440px) {
                        height: 38px;
                    }                    
                    svg {
                        @media (max-width: 1600px) {
                            width: 18px;
                            height: 24px;
                        }
                        path {
                            @include transition(0.3s, ease-in-out); 
                        }
                    }   
                    .number {
                        position: absolute;
                        font-size: 8px;
                        color: $white;
                        width: 12px;
                        height: 12px;
                        flex: none;
                        @include border-radius(50%);
                        @include inline-flex; 
                        @include align-items(center); 
                        @include justify-content(center);
                        background: #82D973;
                        top: 6px;
                        right: -3px;
                        &.bg-red {
                            background: #f00;
                        }
                    }
                    &::after, &::before {
                        content: none;
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
            .profile-dropdown {
                border-left: 1px solid rgba(#001926, 0.1);
                padding: 0 20px;
                @media (max-width: 1600px) {
                    padding: 0 15px;
                }
                @media (max-width: 1440px) {
                    padding: 0 12px;
                }
                .dropdown-toggle {
                    @include flexbox;
                    @include align-items(center);
                    &::after, &::before {
                        content: none;
                    }
                    .user-img {
                        width: 45px;
                        height: 45px;
                        flex: none;
                        @include inline-flex;
                        @include align-items(flex-end);
                        @include justify-content(center);
                        @include border-radius(16px);
                        background: #FFC20E;
                        overflow: hidden;
                        margin-right: 15px;
                        @media (max-width: 1600px) {
                            width: 42px;
                            height: 42px;
                        }
                        @media (max-width: 1440px) {
                            width: 38px;
                            height: 38px;
                            margin-right: 10px;
                        }
                        img {
                            max-height: 40px;
                            @media (max-width: 1440px) {
                                max-height: 38px;
                            }
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                    .user-name {
                        .name {
                            font-size: 16px;
                            font-weight: 700;
                            color: #000;
                            @include transition(0.3s, ease-in-out);
                            @media (max-width: 1440px) {
                                font-size: 14px;
                            }
                        }
                        .post {
                            font-size: 12px;
                            color: #000;
                            @media (max-width: 1440px) {
                                font-size: 10px;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    padding: 15px 0;
                    li {
                        border-bottom: none;
                        padding: 8px 15px;
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                        &.with-bg {                    
                            background: #F8F8F8;
                            &.border-top {
                                border-top: 1px solid #E7EEFF;     
                                margin-top: 8px;     
                                padding-top: 15px;              
                            }
                            &.border-bottom {
                                border-bottom: 1px solid #E7EEFF;
                                margin-bottom: 8px;
                                padding-bottom: 15px;
                            }
                        }
                        .text-red {
                            svg {
                                path {
                                    fill: #F20000;
                                }
                            }
                            &::before {
                                background: #F20000;
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        .user-name {
                            .name {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .setting-dropdown {
                .dropdown-toggle {
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                    width: 40px;
                    height: 40px;
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    flex: none;
                    @media (max-width: 1440px) {
                        width: 38px;
                        height: 38px;
                    }
                    &::after, &:before {
                        content: none;
                    }
                    svg {
                        path {
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
                &:hover, &:focus {
                    .dropdown-toggle {
                        svg {
                            path {
                                stroke: #448E4A;
                            }
                        }   
                    }
                }
            }
        }
        .navbar-toggler {
            @media (max-width: 1200px) {
                border-radius: 10px;
                background: #FFF;
                border: none;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.11);
                width: 40px;
                height: 40px;
                margin-left: 12px;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                flex: none;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column);
                span {
                    width: 20px; 
                    height: 1px; 
                    margin: 3px 0; 
                    background-color: $black; 
                    display: block; 				
                    position: relative; 
                    @include transition(0.3s, ease-in-out);                   
                }
            }
            &.is-open {
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg)); top: 7px;
					}
					&:nth-child(2) {
						@include opacity(0); visibility: hidden;
					}
					&:nth-child(3) {
						@include transform(rotate(-135deg)); top: -7px;
					}
				}				
			}
        }
    }
}

.bg-overly {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	z-index: 9; 
	background-color: rgba(0, 0, 0, 0.5); 
	visibility: hidden; 
	@include opacity(0); 
	@include transition(0.3s, ease-in-out);
	&.is-open {
		@include opacity(1); 
		visibility: visible;
	}
}

.main-sidebar {
    max-width: 275px;
    max-height: calc(100vh - 155px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    @include transition(0.3s, ease-in-out);
    z-index: 1040;
    position: relative;
    background: #f8f8f8;
    
    @media (max-width: 1200px) {
        @include transform(translateX(-100%));
        border-radius: 15px;
        border: 1px solid #E7EEFF;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
        padding: 15px;
        &.is-open {
            @include transform(translateX(0));
        }
    }
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
        height: 6px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #9898aa;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
        background-color: #eeeeee;
        border-radius: 15px;
    }
    .sidebar-menu {
        ul {
            li {                
                margin-bottom: 5px;          
                &:last-child {
                    margin-bottom: 0;
                }      
                a {
                    padding: 10px;
                    color: $black;
                    @include border-radius(12px);
                    @include transition(0.3s, ease-in-out);
                    @include flexbox;
                    @include align-items(center);
                    .icon {
                        border-radius: 12px;
                        border: 1px solid #FFCB79;
                        background: #FFEEE0;
                        padding: 8px;
                        margin-right: 15px;
                        svg {
                            path {
                                stroke: #D5870C;
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    a {
                        background: $white;
                        @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
                    }
                }
                &.active {                    
                    a {
                        font-weight: 600;
                        background: $white;
                        @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
                        .icon {
                            border-color: #448E4A !important;
                            background: #448E4A !important;
                            svg {
                                path {
                                    stroke: $white !important;
                                }
                            }
                        }
                    }
                }  
                .accordion {
                    .accordion-item {
                        .accordion-body {
                            padding: 0;
                            padding-top: 10px;
                            .accordion-menu-list {
                                li {
                                    padding-left: 27px;
                                    a {
                                        font-size: 12px;
                                        padding: 0;
                                        padding-right: 20px;
                                        position: relative;
                                        z-index: 1;
                                        @include box-shadow(none);
                                        background: url(../images/icons/icon-check.svg) no-repeat center right;
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            z-index: -1;
                                            left: 0;
                                            bottom: 0px;
                                            background: $primary;
                                            width: 0;
                                            height: 1px;
                                            @include transition(0.3s, ease-in-out);
                                        }
                                        .sm-icon {
                                            margin-right: 5px;
                                            margin-top: -2px;
                                            width: 13px;
                                            height: 13px;
                                            flex: none;
                                            svg {
                                                path {
                                                    @include transition(0.3s, ease-in-out);
                                                }
                                            }
                                        }
                                    }
                                    &:hover, &:focus {
                                        a {
                                            @include box-shadow(none);
                                            color: $primary;
                                            &::before {
                                                width: 100%;
                                            }
                                            .sm-icon {
                                                svg {
                                                    path {
                                                        stroke: $primary;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .btn-action {
        margin-top: 50px;
        .btn.btn-primary {
            @include border-radius(65px);
            background: #115C51;
            border-color: #115C51;
            font-size: 24px;
            &:hover, &:focus {
                background: transparent;
                color: #115C51 !important;
                svg {
                    path {
                        fill: #115C51;
                    }
                }
            }
        }
    }
}