:root {
	--bs-primary: #1E4397;
}
*,
::after,
::before {
	box-sizing: border-box; 
    list-style: none; 
    text-decoration: none;
}
html {
    font-family: sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
}
article, 
aside, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section {
    display: block;
}
hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
}
body {
    margin: 0; 
    padding: 20px; 
    background: $bodybg;
    font-family: $bodyfont; 
    color: $black; 
    font-size: $bodyfontsize; 
    font-weight: 400; 
    position: relative; 
    line-height: 1.5; 
    overflow-x: hidden; 
    min-height: 100vh; 
    @include flexbox(); 
    @include flex-direction(column);
    &.is-open {
        overflow: hidden;
    }
    @media (max-width: 1200px) {
        padding: 10px; 
    }
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: $primary;
    text-decoration: none;
	text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}
p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}
img{
    max-width:100%;
	height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}

.sm-icon {
    display: inline-block; 
    line-height: 0.7;
}
.icon {
    width: 45px;
    height: 45px;
    flex: none;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(12px);
    background: #FFF;
    border: 1px solid transparent;
    @include box-shadow(0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02));
    .svg {
        width: 24px;
        height: 24px;
    }
}

.text-red {
    color: #F20000 !important;
}

.row.g-15 {
    margin-left: -15px;
    margin-right: -15px;
    & > *{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Background Color(with-border) */
.bg-lightorange {
    background: #FFEEE0 !important;
    &.with-border {
        border-color: #FFCB79 !important;
    }
    svg {
        path {
            stroke: #FFCB79 !important;
        }
    }
}
.bg-lightgreen {
    background: #E4F4D8 !important;
    &.with-border {
        border-color: #90CC54 !important;
    }
    svg {
        path {
            stroke: #90CC54 !important;
        }
    }
}
.bg-lightpurple {
    background: #E4ECFD !important;
    &.with-border {
        border-color: #9DBDFF !important;
    }
    svg {
        path {
            stroke: #9DBDFF !important;
        }
    }
}
/* Background Color(with-border) - End */

/* Border Color */
.border-lightorange { 
    border-color: #FFCB79;
}
.border-lightgreen { 
    border-color: #90CC54;
}
.border-lightpurple { 
    border-color: #9DBDFF;
}
/* Border Color - End */

/* Button */
.btn {
	min-height: 32px;
	padding: 7px 20px 5px;
	font-weight: 500;
	font-size: 14px;
	@include transition(0.3s, ease-in-out);
	@include border-radius(5px);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	@media (max-width:767px) {
		font-size: 13px;
		padding: 5px 18px;
	}
	&.with-icon {
		svg {
            margin-left: 10px;
            path {
                @include transition(0.3s, ease-in-out);
            }
        }
	}
	&.btn-primary{
		color: $white !important;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: $white;
			color: $primary !important;
			border: 1px solid $primary;
		}
	}
}
/* Button - End */

/* Button(With Arrow) */
.btn-link {
	color: $primary;
	font-weight: 500;
	position: relative;
	z-index: 3;
    font-size: 12px;
	text-decoration: none;
	@include inline-flex;
	@include align-items(center);
	@include transition(0.3s, ease-in-out);
	&:hover, &:focus, &:active {
		color: $primary;
		box-shadow: none !important;
		text-decoration: none;
	}
	&:hover,&:focus{
		color: $primary;
	}
	&.with-icon {
		&:after {
			content: "";
			display: block;
			margin-left: 8px;
			width: 16px;
			height: 16px;
			background: url('data:image/svg+xml;utf8,<svg width="15" height="7" viewBox="0 0 15 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2187 0.84375L13.875 3.5M13.875 3.5L11.2187 6.15625M13.875 3.5L1.125 3.5" stroke="rgba(68, 142, 74, 1)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
			background-size: contain;
			@include transition(0.3s, ease-in-out);
		}
		&:hover, &:focus, &:active {
			&:after {
				margin-left: 12px;
			}
		}
	}
}
/* Button(With Arrow) - End */

/* Dropdown */
.dropdown {
    .dropdown-toggle {
        @include inline-flex;
        @include align-items (center);
        font-size: 12px;
        color: #898989;
        z-index: 1;
        &::after {
            border: none;
            background: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.49386 5.24109C4.77288 5.54626 5.226 5.54626 5.50502 5.24109L9.07645 1.33484C9.35547 1.02966 9.35547 0.534058 9.07645 0.228882C8.79743 -0.0762939 8.34431 -0.0762939 8.06529 0.228882L4.99832 3.58337L1.93136 0.231323C1.65234 -0.0738528 1.19922 -0.0738528 0.920201 0.231323C0.641183 0.536499 0.641183 1.0321 0.920201 1.33728L4.49163 5.24353L4.49386 5.24109Z" fill="rgba(137, 137, 137, 1)"/></svg>') no-repeat center center;
            background-size: contain;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            @include transition(0.3s, ease-in-out);  
        }
        &.show {
            &::after {
                @include transform(rotate(180deg))
            }
        }
    }
    .dropdown-menu {
        @include border-radius(10px);
        border: 1px solid #E7EEFF;
        background: $white;
        box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.12);
        min-width: 180px;
        padding: 0;@include opacity(0);
        visibility: hidden;
        display: block;
        @include transition(0.3s, ease-in-out);      
        &.show {
            @include opacity(1);
            visibility: visible;
        }  
        li {
            padding: 8px 12px;     
            line-height: 1;   
            @include transition(0.3s, ease-in-out);    
            &:first-child {
                @include border-radius(10px 10px 0 0);
            }
            &:last-child {
                border-bottom: none;
                @include border-radius(0 0 10px 10px);
            }            
            .dropdown-item {
                color: $black;
                font-size: 13px;
                padding: 0;
                @include inline-flex;
                @include align-items(center);
                width: auto;
                position: relative;   
                z-index: 1;  
                .icon {
                    margin-right: 10px;
                }                
            }
            &:hover {                
                background: rgba(#EBF1FF, 0.7);
            }
            
        }
    } 
}
/* Dropdown - End */

.basic-info-box {
    padding: 20px;
    border: 1px solid transparent;
    @include border-radius(15px);
    margin-bottom: 30px;
    @include flexbox;
    @include align-items(center);
    .title-info {
        .title {
            font-size: 14px;
        }
        span {
            display: block;
            font-weight: 600;
            font-size: 18px;
            color: #2D3748;
            line-height: 1;
            margin-top: 5px;
        }
    }
    .icon {
        margin-left: auto;
    }
}

.card {
    @include border-radius(15px);
    background: $white;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    padding: 15px;
    .card-header {
        background: $white;
        padding: 0 0 15px;
        border-bottom: 1px solid #EBF1FF;
        @include flexbox;
        @include align-items(center);   
        .icon {            
            margin-right: 15px;
        }
        .title {
            font-size: 16px;
            font-weight: 600;
            span {
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                margin-left: 20px;
            }
        }
        .right-side-content {
            margin-left: auto;
        }
        .dropdown {
            .dropdown-toggle {
                @include border-radius(5px);
                border: 1px solid #F3F3F3;
                padding: 7px 10px;
                font-size: 11px;
                color: #898989;
            }
            .dropdown-menu {               
                min-width: 120px;
                &.show {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    .card-body {
        padding: 20px 0;
        .table-block {
            table {
                empty-cells: show;
                tr {
                    border: none;
                    &:first-child { 
                        td {
                            padding-top: 0;
                        }
                    }
                    &:last-child { 
                        td {
                            padding-bottom: 0;
                        }
                    }
                    td {
                        border: none;
                        font-size: 14px;
                        padding: 5px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            text-align: right;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
    .card-footer {
        background: transparent;
        border: none;
        padding: 0;
    }
}

.info-with-bg {
    border-radius: 10px;
    background: #F8FAFB;
    padding: 15px;
}

.schedule-time {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 40px;
    .time {
        font-weight: 500;
        font-size: 24px;
    }
}

/* Accordion */
.accordion {
    .accordion-item {
        border: none;
        @include border-radius(0px);
        border-bottom: 1px solid #EBF1FF;
        padding: 10px 15px;
        .accordion-header {
            @include flexbox;
            @include align-items(center);
            .accordion-title {
                color: #4FCB8D;
                font-size: 16px;
                font-weight: 500;
                @include flexbox;
                @include align-items(center);
                margin-right: 15px;
                .icon {
                    margin-top: -2px;
                    margin-right: 8px;
                    width: 18px;
                    height: 18px;
                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            .action {
                @include border-radius(5px);
                border: 1px solid #EBF1FF;  
                .arrow {
                    width: 8px;  
                    height: 8px;   
                }
            }            
            
        }
    }
}
/* Accordion - End */

/* Collapse */
.collapse-block {
    .collapse-header {
        @include flexbox;
        @include align-items(center);
        @include border-radius(12px);
        margin-bottom: 10px;
        background: $white;
        .collapse-title {
            margin-right: 15px;
            @include flexbox;
            @include align-items(center);
        }
        .action {            
            margin-right: 5px; 
            .arrow {
                width: 12px; 
                height: 12px;       
            }
        }
        &[aria-expanded='true'] { 
            @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.02));
            .collapse-title { 
                font-weight: 600;
                .icon {
                    border-color: #448E4A !important;
                    background: #448E4A !important;
                    svg {
                        path {
                            stroke: $white !important;
                        }
                    }
                }
            }
        }
    }
    .collapse {
        .card {
            border: none;
            @include border-radius(0px);
            padding: 0;                                
        }
    }
}
/* Collapse - End */

.accordion-item, .collapse-block { 
    .action {
        width: 20px;
        height: 20px;
        flex: none;                                            
        margin-left: auto; 
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center); 
        .arrow {
            background: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.49386 5.24109C4.77288 5.54626 5.226 5.54626 5.50502 5.24109L9.07645 1.33484C9.35547 1.02966 9.35547 0.534058 9.07645 0.228882C8.79743 -0.0762939 8.34431 -0.0762939 8.06529 0.228882L4.99832 3.58337L1.93136 0.231323C1.65234 -0.0738528 1.19922 -0.0738528 0.920201 0.231323C0.641183 0.536499 0.641183 1.0321 0.920201 1.33728L4.49163 5.24353L4.49386 5.24109Z" fill="rgba(0, 0, 0, 1)"/></svg>') no-repeat center center; 
            background-size: contain;                                 
            @include transition(0.3s, ease-in-out);
            @include transform(rotate(180deg));
        }              
    }
    .collapsed {
        .action {
            .arrow {
                @include transform(rotate(0deg));
            }
        }
    }
}

/* Search Input */
.search-form {
    @include border-radius(8px);
    border: 1px solid #E2E8F0;
    background: #F8F8F8; 
    @include flexbox;
    @include align-items(center);
    padding: 0 15px;
    max-width: 240px;
    @media (max-width: 1440px) {
        max-width: 180px;
    }
    &:hover {
        .btn-icon { 
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
    .btn-icon {
        padding: 0;
        @include transition(0.3s, ease-in-out);
        svg {
            path {
                @include transition(0.3s, ease-in-out);
            }
        }
        &:hover, &:focus {
            @include transform(scale(1.2));
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
    .form-control {
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 15px;
        font-size: 15px;
        color: $black;
        letter-spacing: 0.3px;
        height: 43px;
        @media (max-width: 1600px) {
            height: 40px;
        }
        @media (max-width: 1440px) {
            height: 36px;
        }
        &::placeholder {
            color: #A0AEC0;
        }
        &:focus {
            box-shadow: none;
        }
    }
}
/* Search Input - End */

/* CheckBox */
.form-check {
    font-size: 12px;
    min-height: auto;   
    margin-bottom: 8px; 
    label {
        cursor: pointer;
        @include transition(0.3s, ease-in-out);
    }
    svg {
        width: 13px;
        height: 13px;
        path { 
            @include transition(0.3s, ease-in-out);
        }
    }
    &:hover, &:focus {
        label {
            color: $primary;
        }
        svg {
            path {
                stroke: $primary;
            }
        }
    }
    .icon, .sm-icon {
        margin-right: 5px;
    }
    .form-check-input { 
        width: 20px;
        height: 20px;
        margin-top: 0;
        border: 1px solid #EBF1FF;
        @include border-radius(5px);
        &:focus {
            @include box-shadow(none);
        }
        &:checked[type=checkbox] {
            background-image: url('data:image/svg+xml;utf8,<svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.25092 6.55774L9.99617 0.8125L10.88 1.69638L4.25092 8.32549L0.273438 4.34805L1.15732 3.46417L4.25092 6.55774Z" fill="rgba(255, 255, 255, 1)"/></svg>');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10px;                 
        }
        &:checked {
            background: $primary;
            border-color: $primary;
        }
    }
    &.right-checkbox {
        padding-right: 20px;
        padding-left: 0;
        .form-check-input {
            float: right;
            margin-right: -20px;
            margin-left: 0;
        }
    }
    &.only-icon {
        .form-check-input {
            border: none;
            &:checked[type=checkbox] {
                background-image: url('data:image/svg+xml;utf8,<svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.25092 6.55774L9.99617 0.8125L10.88 1.69638L4.25092 8.32549L0.273438 4.34805L1.15732 3.46417L4.25092 6.55774Z" fill="rgba(17, 92, 81, 1)"/></svg>');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 13px;                 
            }
            &:checked {
                background: transparent;
                border-color: transparent;
            }
        }
    }
}
/* CheckBox - End */

.bg-overly {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	z-index: 9; 
	background-color: rgba(0, 0, 0, 0.5); 
	visibility: hidden; 
	@include opacity(0); 
	@include transition(0.3s, ease-in-out);
	&.is-open {
		@include opacity(1); 
		visibility: visible;
	}
}