.main-content-wrapper {
    margin-top: 135px; 
    min-height: 100vh;  
    @include border-radius(15px);
    @media (max-width: 1200px) {
        margin-top: 10px;
    }
}
.content-wrapper {
    padding-left: 300px;
}