.form-content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative; 
    &.is-top-img {
        padding-top: 180px;
        @media (max-width: 767px) {       
            padding-top: 120px;
        }
        .media-block {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            @media (max-width: 992px) {
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }
    .icw-form-block {
        padding: 20px;
        background: linear-gradient(0deg, rgba(160, 179, 201, 0.19), rgba(160, 179, 201, 0.19)), rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(17.2px);
        @media (max-width: 992px) {
            padding: 15px;
        }
        .form-content {
            background: $white;
            backdrop-filter: blur(17.2px);
            padding: 50px;
            @media (max-width: 992px) {
                padding: 30px;
            }
            @media (max-width: 767px) {
                padding: 20px;
            }
            h3 {
                margin-bottom: 30px;
            }
            .icw-form {
                height: 300px;
            }
        }
    }
}