.main-content-wrapper {
    background-color: $white;
}

// Main Section CSS
.main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 992px) { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) { 
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }

    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
			.sort-info {
				color: $white !important;
			}
		}
		.text-color {
			color: $white !important;
		}
    }

    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }

    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-578 {
        .section-title {
            max-width: 578px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
            &.text-center {
                margin: auto;
            }
        }
    }

    @media (max-width:767px) {
		&.m-container-full {
			.container {max-width: 100%;}
		}
		&.m-text-center .section-title {
			text-align: center !important;
		}

		&.m-row-column-reverse {
			& > .container > .row {
				@include flex-direction(column-reverse);
			}
		}

        &.bg-none-m {
            background-image:none !important;
        }

        &.b-radius-dark, &.b-radius-light {
            @include border-radius(0 0 24px 24px);
        }
	}
}

.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) { 
        margin-bottom: 30px;
    }
    &.text-center {
        margin: 0 auto 50px;
        @media (max-width: 767px) { 
            margin: 0 auto 30px;
        }
    }
    &.sticky-title {
        position: sticky;
        top: 150px;
    }
    &.d-flex {
        @include align-items(flex-start);
        flex: 1;
        gap: 30px;
        @media (max-width: 992px) { 
            @include flex-direction(column);
            gap: 20px;
        }
        & > * {
            flex-grow: 1;
            flex-basis: 0;
            margin-bottom: 0 !important;
        } 
    }
    .tag-line {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        margin-bottom: 10px;
        @media (max-width: 767px) { 
            margin-bottom: 10px;
        }
    }

    h1, h2, h3 {
        margin-bottom: 20px;
        @media (max-width: 767px) { 
            margin-bottom: 15px;
        }
    }
    .sort-info {
        margin-bottom: 30px;  
    }

    .action {
        margin-top: 25px;
    }
}

.hero-header {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 200px 0 100px;
    @media (max-width: 992px) {  
        padding: 150px 0 80px;
    }
    @media (max-width: 767px) {  
        padding: 150px 0 50px;
    }
    @include flexbox;
    & > .container {
        min-height: 100%;
        @include flexbox;
        @include flex-direction(column);
    }
    .hero-content-wrapper {
        flex: 1 1 auto;
    }
    .hero-title {
        position: relative;
        z-index: 3;
        max-width: 650px;
        @media (max-width: 992px) {  
            margin-top: 40px;
        }
        &.text-center {           
            margin: 0 auto 50px;
        }
        .tag-line {
            margin-bottom: 10px;
            font-weight: 600;
        }
        h1 {
            margin-bottom: 0px;
        }
        .sort-info {
            margin-top: 20px;
            font-size: 20px;
            @media (max-width: 1200px) {  
                font-size: 18px;
            }
        }
        .action {            
            margin-top: 40px;
        }
    }
    .trusted-logo-block { 
        @media (min-width: 992px) {
            max-width: 560px;
        }
        margin-top: 50px;
        .title {
            color: $white;
        }
        .logo-item {
            opacity: 0.5;
            @include transition(0.3s, ease-in-out);
            &:hover {
                opacity: 1;
            }
        }
    }
}

// Trusted Logo Section
.trusted-logo-block {
    position: relative;
    z-index: 1;
    .title {
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.4px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        @media (max-width: 992px) {            
            padding-bottom: 30px;
        }
        span {
            color: $primary;
        }
    }
    .logo-style-slider {        
        &.is-grid-logo {            
            padding: 0; 
            @media (min-width: 992px) {
                mask-image: unset;
                .splide__list {             
                    display: grid;   
                    grid-template-columns: repeat(4, 1fr);
                    gap: 30px 50px;
                    .splide__slide {
                        flex: 1 1 auto;
                    }
                }
                .logo-item {
                    img {
                        width: auto;
                        max-height: 30px;
                    }
                }
            } 
        }
    }
}
.logo-style-slider {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
}
.logo-list-block {
    margin-top: 50px;
    z-index: 3;
    position: relative;
    @media (max-width: 992px) {
        margin-top: 30px;
    }    
    .logo-list {
        @include flexbox;
        @include flex-direction(row);
        gap: 65px;
        @media (max-width: 1200px) {
            gap: 25px;
        }
        .logo-item {  
            flex: none;
            display: inline;
            span {
                display: inline-block;
                transform-origin: center;
                transform-box: fill-box;                
                img {
                    // aspect-ratio: 3/2;
                    @include transition(0.3s, ease-in-out);
                    max-height: 30px;
                    &:hover, &:focus {
                        @include transform(scale(1.05));
                    }
                }
            }
        }
    }
}