.main-content-wrapper {
    background-color: $white;
}

// Main Section CSS
.main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 992px) { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) { 
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }

    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
			.sort-info {
				color: $white !important;
			}
		}
		.text-color {
			color: $white !important;
		}
    }

    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }

    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-578 {
        .section-title {
            max-width: 578px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
            &.text-center {
                margin: auto;
            }
        }
    }

    @media (max-width:767px) {
		&.m-container-full {
			.container {max-width: 100%;}
		}
		&.m-text-center .section-title {
			text-align: center !important;
		}

		&.m-row-column-reverse {
			& > .container > .row {
				@include flex-direction(column-reverse);
			}
		}

        &.bg-none-m {
            background-image:none !important;
        }

        &.b-radius-dark, &.b-radius-light {
            @include border-radius(0 0 24px 24px);
        }
	}
}

.hero-header {
    min-height: 100vh;
    position: relative;
}