.main-content-wrapper {
    background-color: $white;
    z-index: 1;
}

// Main Section CSS
.main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 992px) { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) { 
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }

    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
			.sort-info {
				color: $white !important;
			}
		}
		.text-color {
			color: $white !important;
		}
    }

    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }

    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
        }
    }
    &.section-title-mw-560 {
        .section-title {
            max-width: 560px;
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
        }
    }

    @media (max-width:767px) {
		&.m-container-full {
			.container {max-width: 100%;}
		}
		&.m-text-center .section-title {
			text-align: center !important;
		}

		&.m-row-column-reverse {
			& > .container > .row {
				@include flex-direction(column-reverse);
			}
		}

        &.bg-none-m {
            background-image:none !important;
        }

        &.b-radius-dark, &.b-radius-light {
            @include border-radius(0 0 24px 24px);
        }
	}
}

// Section Title CSS
.section-title {
    margin-bottom: 50px;
    @media (max-width: 767px) { 
        margin-bottom: 40px;
    }
    &.text-center {
        margin: 0 auto 50px;
        @media (max-width: 767px) { 
            margin: 0 auto 40px;
        }
    }
    &.sticky-title {
        position: sticky;
        top: 150px;
    }
    &.d-flex {
        @include align-items(flex-start);
        flex: 1;
        gap: 30px;
        @media (max-width: 992px) { 
            @include flex-direction(column);
            gap: 20px;
        }
        & > * {
            flex-grow: 1;
            flex-basis: 0;
            margin-bottom: 0 !important;
        }
        .sort-info {
            max-width: 550px;
        } 
    }
    .tag-line {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        margin-bottom: 10px;
        @media (max-width: 767px) { 
            margin-bottom: 10px;
        }
    }

    h1, h2, h3 {
        margin-bottom: 20px;
        @media (max-width: 767px) { 
            margin-bottom: 15px;
        }
    }
    .sort-info {
        // margin-bottom: 30px;  
        .icon-list {
            margin-top: 30px;
            max-width: 550px;
        }
    }

    .action {
        margin-top: 30px;
        @media (max-width: 767px) { 
            margin-top: 20px;
            .btn {
                width: 100%;
            }
        }
    }
}

// User Info CSS
.user-info {
    @include flexbox;
    @include align-items(center);
    .user-img {
        @include border-radius(50%);
        margin-right: 25px;
        @media (max-width: 992px) {
            margin-right: 15px;
        }
        img {
            @include border-radius(50%);
            width: 80px;
            height: 80px;
            flex: none;
            @media (max-width: 992px) {
                width: 50px;
                height: 50px;
            }
            @media (max-width: 767px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    .user-detail {
        .name {
            font-size: 24px;
            color: $black;
            font-weight: 500;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        span {
            font-size: 16px;
            color: $black;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

// Hero Header
.hero-header {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 200px 0 100px;
    @media (max-width: 992px) {  
        padding: 150px 0 80px;
    }
    @media (max-width: 767px) {  
        padding: 150px 0 50px;
    }
    @include flexbox;
    & > .container {
        min-height: 100%;
        @include flexbox;
        @include flex-direction(column);
    }
    .hero-content-wrapper {
        flex: 1 1 auto;
    }
    .hero-title {
        position: relative;
        z-index: 3;
        max-width: 650px;
        @media (max-width: 992px) {  
            margin-top: 40px;
        }
        &.text-center {           
            margin: 0 auto 50px;
        }
        .tag-line {
            margin-bottom: 10px;
            font-weight: 600;
        }
        h1 {
            margin-bottom: 0px;
        }
        .sort-info {
            margin-top: 20px;
            font-size: 20px;
            @media (max-width: 1200px) {  
                font-size: 18px;
            }
        }
        .action {            
            margin-top: 40px;
            @media (max-width: 767px) {
                margin-top: 30px;
                .btn {
                    width: 100%;
                }
            }
        }
    }
    .media-block {
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
            img {
                max-width: 80%;
            }
        }
    }
    .trusted-logo-block { 
        margin-top: 50px;
        @media (min-width: 992px) {
            max-width: 560px;
        }
        .title {
            color: $white;
        }
        @media (max-width: 992px) {
            .logo-item {
                img {
                    max-height: 30px;
                    width: auto;
                }
            }
        }
    }
}

// Page header
.page-header {
    background-color: transparent;
    border: none;
    padding: 180px 0 150px;
    position: relative;
    overflow: hidden;
    .container {
        position: relative;
        z-index: 2;
    }

    .page-title {       
        position: relative;
        z-index: 3;
        &.text-center {           
            margin: 0 auto 50px;
        }
        .tag-line {
            margin-bottom: 20px;
            font-weight: 600;
        }
        .sort-info {
            max-width: 750px;
            font-size: 20px;
            &.font-lg {
                font-size: 45px;
            }
        }
        .action {            
            margin-top: 30px;
            @media (max-width: 767px) {
                .btn {
                    width: 100%;
                }
            }
        }
    }
}

// Trusted Logo Section
.trusted-logo-block {
    position: relative;
    z-index: 1;
    .title {
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.4px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        @media (max-width: 992px) {            
            padding-bottom: 30px;
        }
        span {
            color: $primary;
        }
    }
    .logo-style-slider {        
        &.is-grid-logo {            
            padding: 0; 
            @media (min-width: 992px) {
                mask-image: unset;
                .splide__list {             
                    display: grid;   
                    grid-template-columns: repeat(4, 1fr);
                    gap: 30px 50px;
                    .splide__slide {
                        flex: 1 1 auto;
                    }
                }
                .logo-item {
                    img {
                        width: auto;
                        max-height: 30px;
                    }
                }
            } 
        }
    }
}
.logo-style-slider, .footer-logo-style-slider {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
}
.logo-list-block {
    margin-top: 50px;
    z-index: 3;
    position: relative;
    @media (max-width: 992px) {
        margin-top: 30px;
    }    
    .logo-list {
        @include flexbox;
        @include flex-direction(row);
        gap: 65px;
        @media (max-width: 1200px) {
            gap: 25px;
        }
        .logo-item {  
            flex: none;
            display: inline;
            span {
                display: inline-block;
                transform-origin: center;
                transform-box: fill-box;                
                img {
                    // aspect-ratio: 3/2;
                    @include transition(0.3s, ease-in-out);
                    max-height: 30px;
                    &:hover, &:focus {
                        @include transform(scale(1.05));
                    }
                }
            }
        }        
        a.logo-item {
            opacity: 0.5;
            @include transition(0.3s, ease-in-out);
            &:hover {
                opacity: 1;
            }
        }
    }
}

// Center Content Section
.center-content-section {
    .logo-block {
        text-align: center;
        margin-bottom: -45px;
        @media (max-width: 992px) {
            margin-bottom: -55px;
        }
        img {
            max-width: 650px;
            width: 100%;
        }
    }
    .section-title {
        max-width: 1000px;
        margin: 1px auto 0 !important;
        @media (max-width: 992px) {
            margin: 2px auto 0 !important;
        }       
        h2 {
            font-size: 45px;
            @media (max-width: 992px) {
                font-size: 55px;
            }
        }
    }
    .logo-block + .section-title {
        &.text-center {
            @media (max-width: 767px) {
                .sort-info, .action {
                    text-align: left;
                }
            }
        }
    }
}

// Info Card
.info-card {
	position: relative;
	height: 100%;
    border: none;
    overflow: hidden;
	@include border-radius(0);
	@include flexbox;
	@include flex-direction(column);
    @include transition(0.3s, ease-in-out);
    .card-img { 
        margin-bottom: 15px;
        img {
            width: auto;
            max-height: 60px;
        }
    }
    .card-body {
        padding: 0;
        @include flexbox;
        @include flex-direction(column);
        .card-title, h3 {
			font-weight: 600;
			font-size: 22px;
            margin-bottom: 15px;
            font-family: $bodyfont;
            @include transition(0.3s, ease-in-out);
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
        h3 {
            margin-bottom: 0;
        }
		.card-info {
            flex: 1 1 auto;
		}
        .card-action {
            margin-top: 15px;            
            @include transition(0.3s, ease-in-out);
            @media (min-width: 992px) {
                opacity: 0;
                visibility: hidden;
                @include transform(translateY(30px));
            }           
            a {    
                display: block;
                &:hover, &:focus, &:active {
                    .btn-link-arrow {
                        background-size: 0% 1px;
                        transition-delay: 0s;
                        --stroke-dashoffset: 26;
                        --stroke-duration: .3s;
                        --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
                        --stroke-delay: .195s;
                        &::before {
                            opacity: 0;
                            transition-delay: 0s;
                        }
                    }
                }
            }
        }
    }
    .card-footer{
        margin-top: 20px;
        padding: 0;
        border-top: none;
        background: transparent;

        .btn-link-arrow {
            font-size: 14px;
        }
    }
    
    &.is-flex-title {
        .card-title {
            @include flexbox;
            @include align-items(center);
            .card-img {
                width: auto;
                margin-bottom: 0;
                margin-right: 20px; 
                @media (max-width: 767px) {
                    margin-right: 15px; 
                }
                img {
                    max-height: 40px;
                    max-width: 100%;
                }
            }
            h3 {
                margin-bottom: 0;
            }
        }
    }

	&.only-icon-title-card {
		.card-img {
			margin-bottom: 20px;
		}
		h3 {
			margin-bottom: 0;
		}
	}
    
    &.icon-left-card {
        @include flexbox;
        gap: 30px;
        @media (min-width: 992px) {
            @include flex-direction(row);
        }
        .card-img {
            max-width: 60px;
        }
	}
    &.with-bg {
        background: rgba($white, 0.6);
        padding: 40px;
        @media (max-width: 992px) {
            padding: 30px;
        }
        @media (max-width: 767px) {
            padding: 20px;
        }
    }
	&.is-hover {
		&:hover, &:focus {
			@include box-shadow(0 10px 20px rgba(0,0,0,0.05));
            @include transform(translateY(-10px));
            .card-title {
                color: $primary;
            }
            .card-action {
                @media (min-width: 992px) {                    
                    opacity: 1;
                    visibility: visible;
                    @include transform(translateY(0px));
                }    
            }
		}
	}
}

// Info List Card
.info-list-card {	
	.card-icon {
		margin-bottom: 15px;
        img { 
            vertical-align: baseline; 
            margin-top: 2px;
        }
	}
	.card-title {
        font-weight: 700;
		margin-bottom: 5px;
        font-size: 18px;
		@media (max-width: 992px) {
			font-size: 16px;
		}
        .font-lg {
            font-size: 30px;
            @media (max-width: 992px) {
                font-size: 24px;
            }
        }

		a {
			color: $primary;
			position: relative;
			z-index: 3;
			text-decoration: none;
			@include inline-flex;
			@include align-items(center);
			@include transition(0.3s, ease-in-out);
            overflow: hidden;
			&:hover, &:focus, &:active {
				color: $primary;
			}
			&:hover,&:focus{
				color: $primary;
                &::before {
                    transform: translate3d(150%, 0px, 0px);
                    transform-style: preserve-3d;
                }
			}
			&::before {
                content: '';
                background-color: $primary;
                justify-content: flex-end;
                align-items: flex-start;
                width: 100%;
                height: 1.5px;
                margin-left: -110%;
                display: flex;
                position: absolute;
                bottom: 1px;
                left: 0;
                transform: translate3d(0%, 0px, 0px);
                transform-style: preserve-3d;
                will-change: transform;
                @include transition(0.1s, ease-in-out);
            }  
		}
	}
	.card-info {
		font-size: 16px;
        padding-bottom: 15px;
		@media (max-width: 767px) {
			font-size: 14px;
            padding-bottom: 5px;
		}
        p:not(:last-child) {
            margin-bottom: 5px;
        }
	}
    
	&.icon-left-card {
		@include flexbox();
		.card-icon{
			margin-right: 8px;
			margin-bottom: 0;
			flex: none;
		}
	}
	&.xs-icon-left-card {
		@media (max-width:575px) {
			@include flexbox();
			text-align: left !important;
			.card-icon{
				margin-right: 15px;
				margin-bottom: 0;
				flex: none;
                img {
                    max-width: 20px;
					min-width: 20px;
                }
				&.w-40 {
					img {
                        max-width: 40px;
					    min-width: 40px;
                    }
				}
			}
		}
	}
    &.with-bg {
        background: rgba(#F3F4F9, 0.6);
        padding: 20px;
    }

    &.only-card-title {
        .card-content {
            align-self: center;
        }
        .card-title {
            font-size: 18px;
            font-weight: 400;
            margin: 0px;
            @media (max-width:575px) {
                font-size: 16px;
            }
        }
        .card-icon {
            img { 
                vertical-align:middle;
                margin-top: -2px;
                position: relative;
            }
        }
    }
}

// Process Card
.process-content-wrapper {
    counter-reset: card-counter;
    position: relative;
    &::before {
        content: '';
        background: url('data:image/svg+xml, <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 50L16.8152 45.0979C30.6577 41.0623 41.4495 30.1877 45.3789 16.3147L50 0L54.2116 15.8444C58.0309 30.2128 69.1839 41.4779 83.5134 45.4407L100 50L84.8361 53.601C69.5658 57.2273 57.6063 69.0898 53.856 84.3302L50 100L45.2779 82.9745C41.1908 68.2382 29.394 56.9029 14.5065 53.4067L0 50Z" fill="rgb(22 52 108)"/></svg>') no-repeat center center;
        background-size: contain;
        width: 54px;
        height: 54px;
        flex: none;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        z-index: 1;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
        }
    }
    &::after {
        content: '';
        width: 1px;
        height: 100%;
        display: inline-block;
        background: rgba($black, 0.2);
        position: absolute;
        top: 0;
        left: 26px;
        @media (max-width: 767px) {
            left: 20px;
        }
    }
    &.is-icon-sticky {
        &::before {
            position: sticky;
            top: 120px;
            @media (max-width: 767px) {
                top: 90px;
            }
        }
    }
    .progress-bar {
        width: 1px;
        height: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 26px;
        background: $primary;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            left: 20px;
        }
    }
    .process-content-block { 
        padding-left: 100px;
        @media (max-width: 767px) {
            padding-left: 55px;
        }  
    }
    .process-card {
        counter-increment: card-counter;
        margin-bottom: 100px;
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }  
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }  
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: counter(card-counter);
            position: absolute;
            bottom: 0;
            right: 15px;
            font-family: $font-merriweather;
            font-size: 265px;
            color: rgba($white, 0.15);
            display: inline-block;
            line-height: 0.9;
        }
    }
}
.process-card {
    position: relative;
    padding: 30px;
    // background-image: url(../images/img-process-card-bg.png), var(--card-bg-color);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    @include transition(0.3s, ease-in-out);
    @media (max-width: 767px) {
        padding: 20px;
    }
    &.bg-blue-gradient {
        background-image: url(../images/img-process-card-bg.png), linear-gradient(102.56deg, #24B6DB -2.44%, #007B9A 95.63%);
    }
    &.bg-red-gradient {
        background-image: url(../images/img-process-card-bg.png), linear-gradient(102.64deg, #DC435C 3.28%, #7D1627 96.64%);
    }
    &.bg-yellow-gradient {
        background-image: url(../images/img-process-card-bg.png), linear-gradient(282.82deg, #DFB93B 4.19%, #9F8A42 100%);
    }
    .card-title {
        font-size: 27px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    .card-action {
        margin-top: 25px;
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(30px)); 
        @include transition(0.3s, ease-in-out);           
        a {            
            &:hover, &:focus, &:active {
                .btn-link-arrow {
                    background-size: 0% 1px;
                    transition-delay: 0s;
                    --stroke-dashoffset: 26;
                    --stroke-duration: .3s;
                    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
                    --stroke-delay: .195s;
                    &::before {
                        opacity: 0;
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
    &:hover, &:focus, &.active {
        @include box-shadow(0 10px 20px rgba(0,0,0,0.2));
        .card-action { 
            opacity: 1;
            visibility: visible;
            @include transform(translateY(0px));
        }
    }
}

// content-with-background-block
.content-with-background-block {
    padding: 80px;
    @media (max-width: 992px) {
        padding: 50px;
    }
    @media (max-width: 767px) {
        padding: 25px;
    }
    &.bg-white {
        background-color: rgba(255, 255, 255, 0.6) !important;
        backdrop-filter: blur(7px);
    }
    &.bg-img {
        background-image: url(../images/img-content-section-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        & > * {
            color: $white;
        }
    }
    .media-block {
        // @media (max-width: 992px) {
        //     margin-bottom: 40px;
        // }
    }
    .section-title {      
        @media (max-width: 992px) {
            margin-bottom: 0px;
        }
    }
}

//
.image-animation-block {
    .image-content-wrapper {
        &:not(:last-child) {
            margin-bottom: 30px;
            @media (max-width: 767px) {                
                margin-bottom: 12px;
            }
        }
    }
    .image-group {
        @include flexbox;
        @include align-items(Center);
        @include justify-content(center);
        gap: 30px;
        transition: transform 0.2s ease-out;
        @media (max-width: 767px) {                
            gap: 12px;
        }
        img {            
            width: auto;
            max-height: 310px;
            object-fit: cover;
            object-position: center;
            @include transition(0.2s, ease-in-out);
            @media (max-width: 767px) {                
                max-height: 130px;
            }
            &:hover {
                @include transform(scale(1.02));
            }
        }
    }
}
