.main-content-wrapper {
	flex: 1 1 auto;
	padding-top: 95px;
	@media (max-width:1199px) {
		padding-top: 72px;
	}
}

.main-section {
    position: relative;
    padding-top: 100px;
	padding-bottom: 100px;
    z-index: 1;
    @media (max-width: 1350px) {
		padding-top: 70px;
		padding-bottom: 70px;
    }
	@media (max-width: 992px) {
		padding-top: 50px;
		padding-bottom: 50px;
    }
	&.bg-blue {
		background-color: $blue;
		* {
			color: $white;
		}
	}
	&.bg-secondary {
		background-color: $secondary;
	}

	&.custom-bg {
		background-color:var(--gs-bg, #fff) !important;
	}

	&.bottom-right-vector {
		overflow: hidden;
		background-image: url(../images/bottom-right-vector.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 300px;
		@media (max-width: 992px) {
			background-size: 200px;
		}
		@media (max-width: 767px) {
			background-size: 120px;
		}
	}

	&.bg-half-blue {
		position: relative;
		&::after {
            content: '';
            width: 100%;
            height: 40%;
            background: $blue;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            
        }
	}

	.content-info {
		margin-bottom: 30px;
	}
}

.page-header {
	background: $secondary;
	background-repeat: no-repeat;
	background-position: 70% bottom;
	background-size: contain;
	padding: 40px 0;
	color: $white;
	@media (max-width:767px) {
		padding: 25px 0;
	}
	.tagline {
		color: $white !important;
	}
	h1 {
		font-weight: 700;
		color: $white;
		word-break: break-word;	
	}
	.sort-info {
		color: $white;
		margin: 15px auto;
		max-width: 1000px;
	}
	.post-header-title {
		text-align: center;
		font-weight: bold;
	}
}

.section-title {
	margin-bottom: 40px;
	@media (max-width:991px) {
		margin-bottom: 30px;
	}
	&.mw-560 {
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
	}
	&.mw-750 {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	.tagline {
		font-size: 16px;
		font-weight: 600;
		color: $black;
		margin-bottom: 15px;
		@include inline-flex; @include align-items(center);
		@media (max-width:991px) {
			font-size: 14px;
		}
	}
	h1, h2 {
		span {
			position: relative;
			background-image: linear-gradient(transparent calc(100% - 10px), #E3BE97 10px);
			background-repeat: no-repeat;
			background-size: 100% 88%;
			transition: background-size .6s;
			@media (max-width: 1440px) {
				background-image: linear-gradient(transparent calc(100% - 8px), #E3BE97 8px);
			}			
			@media (max-width: 992px) {
				background-image: linear-gradient(transparent calc(100% - 6px), #E3BE97 6px);
			}			
		}
	}
	.sort-info {
		margin-bottom: 30px;
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
	}
	.sort-info {
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.action {
		margin-top: 40px;
		@media (max-width: 992px) {
			margin-top: 30px;
		}
		.btn {
			margin-right:  20px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-right: 15px;
			}
			@media (max-width: 575px) {
				margin-right: 8px;
			}
		}
	}
	& * :last-child {
        margin-bottom: 0px !important;
    }

	.form-group {
		margin-bottom: 24px !important;
	}
}

.sort-info {
	.action {
		.btn {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-right: 10px;
			}
		}
	}
}

.image-content-block{
	@media (min-width:1200px) {
		.row-gap { 
			margin-right: -4rem; 
			margin-left: -4rem 
		}
		.row-gap > [class^="col"], 
		.row-gap > [class*=" col"] { 
			padding-right: 4rem; 
			padding-left: 4rem 
		}
	}
	.card-image-block {		
		@media (max-width: 767px) {
			max-width: 80%;
			margin: 0 auto;
		}
		& + .content-info {
			margin-top: 30px;
		}
		img {
			@include border-radius(10px);
		}
		&.front-bottom-right-vector {
			&::before {
				content: '';
				background: url(../images/vactor-img.png) no-repeat center center;
				background-size: contain;
				width: 160px;
				height: 140px;
				position: absolute;
				right: -55px;
				bottom: -20px;
				@media (max-width: 1200px) {
					width: 80px;
					height: 90px;
					right: -25px;
					bottom: -20px;
				}
			}
		}
		&.front-bottom-left-vector {
			&::before {
				content: '';
				background: url(../images/vactor-img.png) no-repeat center center;
				background-size: contain;
				width: 205px;
				height: 185px;
				position: absolute;
				left: -55px;
				bottom: -58px;
				@media (max-width: 1200px) {
					width: 100px;
					height: 90px;
					left: -25px;
					bottom: -20px;
				}
			}
		}
		&.back-bottom-right-vector {
			&::before {
				content: '';
				background: url(../images/vactor-img.png) no-repeat center center;
				background-size: contain;
				width: 280px;
				height: 250px;
				position: absolute;
				right: -80px;
				bottom: -85px;
				z-index: -1;
				@media (max-width: 1200px) {
					width: 140px;
					height: 120px;
					right: -35px;
					bottom: -50px;
				}
				@media (max-width: 767px) {
					bottom: -30px;
					right: -40px;
				}
			}
		}
		@media (max-width:767px) {
			margin-bottom: 30px;
		}
		&.right-image {
			@media (min-width:768px) {
				text-align: right;
			}
		}
	}
	.section-title {
		margin: 0;
	}
}

.image-content-fixed {
	.card-image-block{
		position: sticky;
		top: 180px;
		@media (max-width:991px) {
			top: 115px;
		}
	}
}

.info-card {
	&.icon-left-card {
		@include flexbox();
		.card-icon{
			margin-right: 15px;
			margin-bottom: 0;
			flex: none;
		}
	}
	&.xs-icon-left-card {
		@media (max-width:575px) {
			@include flexbox();
			.card-icon{
				margin-right: 15px;
				margin-bottom: 0;
				flex: none;
				&.w-40 {
					max-width: 40px;
					min-width: 40px;
				}
			}
		}
	}
	&.team-card {
		&:hover, &:focus, &:focus-visible {
			.card-icon {
				@include transform(translateY(5px));
			}
			.action {
				opacity: 1;
				visibility: visible;
			}
		}
		&.text-center {
			.social-list {
				ul {
					@include justify-content(center);
				}
			}
		}
		.card-icon {
			@include transition(0.3s, ease-in-out);
			max-height: 80px;
    		min-height: 80px;
			img {
				@include border-radius(50%);
				max-height: 80px;
			}
		}
		h3 {
			margin-bottom: 2px;
		}
		.position-text {
			font-size: 18px;
		}
		.card-info {
			font-size: 16px;
			margin: 10px 0 15px;
		}
		.social-list {
			margin-bottom: 20px;
			ul {
				@include flexbox;
				@include align-items(center);
				li {
					margin-right: 15px;
					line-height: 0.7;
					a {
						@include inline-flex;
					}
				}
			}
		}
		.action {
			visibility: hidden;
			opacity: 0;
			@include transition(0.3s, ease-in-out);
		}
	}
	.card-icon {
		margin-bottom: 15px;
		max-height: 60px;
        min-height: 60px;
		&.w-40 {
			max-height: 40px;
       		min-height: 40px;
			img{
				max-height: 40px;
			}
		}
		img{
			max-height: 60px;
		}
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
		@media (max-width:767px) {
			max-height: 50px;
        	min-height: 50px;
			img{
				max-height: 50px;
			}
		}
	}
	.btn-link {
		margin-top: 15px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 10px;
		@media (max-width:991px) {
			font-size: 18px;
			margin-bottom: 8px;
		}
		@media (max-width: 767px) {
			font-size: 16px;
		}

		a {
			color: $black;
			position: relative;
			z-index: 3;
			text-decoration: none;
			@include inline-flex;
			@include align-items(center);
			@include transition(0.3s, ease-in-out);
			&:hover, &:focus, &:active {
				color: $primary;
				box-shadow: none !important;
				text-decoration: none;
			}
			&:hover,&:focus{
				color: $primary;
				&:before {
					width: 50%;
				}
			}
			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 0;
				bottom: -3px;
				background: $primary;
				width: 0;
				height: 1px;
				@include transition(0.3s, ease-in-out);
			}
		}
	}
	.sort-info {
		font-size: 16px;
		@media (max-width:575px) {
			font-size: 14px;
		}
	}
}

.client-slide {
	height: 100%;
	background: #FFF3E3;
	background-color: var(--bg-color, #FFF3E3);
	@include border-radius(0px 0px 0px 30px);
	padding: 30px;
	@include flexbox;
	@include flex-direction(column);
	@media (max-width: 767px) {
		padding: 20px;
		margin: 0 8px;
	}
	.rating-star {
		margin-bottom: 25px;
	}
	.client-msg {
		font-size: 16px;
		color: $black;
        @include flexbox();
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1 1 auto;
		margin-bottom: 25px;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.clinet-info {
        @include inline-flex;
		@include align-items(center);
		.img {
			width: 52px;
			height: 52px;
			flex: none;
			@include border-radius(50%);
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			margin-right: 15px;
			overflow: hidden;
			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
				margin-right: 8px;
			}
		}
		.name{
			.user-name{
				font-weight: 600;
				font-size: 16px;
				color: $black;
				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
			.category {
				font-weight: 400;
				font-size: 16px;
				color: $black;
				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
		}
	}
}

.customer-review-slider, .team-slider { 
	.splide__track {
		overflow: visible;
	} 
}
.testimonial-slider {
	.slick-dots {		
		li {			
			&.slick-active {
				button {					
					&::before {
						background: $white;
					}
				}
			}
			button {
				&::before {
					background: rgba($white, 0.2);
					@include opacity(1);
				}
			}
		}
	}
}

.team-item {
	position: relative;
	height: 100%;
	overflow: hidden;
	@include flexbox();
	@include flex-direction(column);
	@include transition(0.3s, ease-in-out);
	min-width: 250px;
	max-width: 100%;
	@media (max-width: 767px) {
		min-width: 200px;
		max-width: 200px;
	}
	&:hover,&:focus {
		.action { 
			opacity: 1;
			visibility: visible;
		}
		.team-social-info {
			left: initial;
			right: 0;
			ul {
				li {
					left: 0;
					@include transform(translateY(0));
					&:nth-child(2n+1) {
						-webkit-transition-delay: 0.15s;
						transition-delay: 0.15s;
					}
					&:nth-child(2n+2) {
						-webkit-transition-delay: 0.2s;
						transition-delay: 0.2s;
					}
					&:nth-child(2n+3) {
						-webkit-transition-delay: 0.25s;
						transition-delay: 0.25s;
					}
				}
			}
		}
	}
	
	.card-img {
		display: block;
		position: relative;
		overflow: hidden;
		@include border-radius(0px 0px 0px 40px);
		img{
			margin: 0 auto;
			width: 100%;
		}
	}
	.card-content {
		@include flexbox();
		@include align-items(flex-start);
		@include flex-direction(column);
		margin-top: 20px;
	}
	h3 {
		font-size: 20px;
		font-weight: 600;
		color: $black;
		margin-bottom: 3px;
		@include transition(0.3s, ease-in-out);
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
	.position-text {
		font-size: 18px;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.action {
		@include flexbox;
		@include align-items(center);
		margin-top: 15px;
		opacity: 0;
		visibility: hidden;
		@include transition(0.3s, ease-in-out);
		@media (max-width: 767px) {
			display: block;
		}
		.btn {
			padding: 5px 15px;
			font-size: 14px;
			min-height: 36px;
			margin-right: 10px;
			@media (max-width: 767px) {
				margin-bottom: 5px;
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
				margin-bottom: 0px;
			}
			&.btn-link {
				padding: 0;
				&::after {
					width: 7px;
					height: 10px;
				}
			}
		}
	}
	.team-social-info {
		position: absolute;
		width: 38px;
		height: 100%;
		left: initial;
		right: -72px;
		top: 0;
		overflow: hidden;
		transition: all 0.3s;
		z-index: 2;
		text-align: center;
		background: #F8F4EC;
		ul {
			position: relative;
			height: 100%;
			width: 100%;
			margin: 0;
			@include flexbox;
			@include flex-direction(column);
			@include flex-wrap(nowrap);
			@include justify-content(flex-end);
			@include align-items(center);
			li {
				margin: 15px 0;
				left: -100%;
				position: relative;
				-webkit-transition: all 0.3s 0.15s;
				transition: all 0.3s 0.15s;
				display: inline-block;
				vertical-align: middle;
				padding: 0;
				line-height: 0.7;
				a {
					@include inline-flex;
					@include align-items(center);
					@include justify-content(center);
				}
			}
			
			
		}
	}
	&.team-sm-item {
		.card-img {
			max-width: 100px;
			@include border-radius(0px 0px 0px 30px);
			img{
				margin: 0 auto;
				width: 100%;
			}
		}
		.sort-info {
			margin-top: 15px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.team-social-info {
			width: 24px;
			background: $white;
			ul {
				li {
					margin: 5px 0;
					a {
						.icons {
							width: 15px;
							height: 15px;
						}
					}
				}
				
				
			}
		}
	}
} 
.team-slider {  
	@media (max-width: 767px) {
		.is-active {
			.team-item {
				.action { 
					opacity: 1;
					visibility: visible;
				}
				.team-social-info {
					left: initial;
					right: 0;
					ul {
						li {
							left: 0;
							@include transform(translateY(0));
							&:nth-child(2n+1) {
								-webkit-transition-delay: 0.15s;
								transition-delay: 0.15s;
							}
							&:nth-child(2n+2) {
								-webkit-transition-delay: 0.2s;
								transition-delay: 0.2s;
							}
							&:nth-child(2n+3) {
								-webkit-transition-delay: 0.25s;
								transition-delay: 0.25s;
							}
						}
					}
				}
			}
		}
	}
}

.tab-slider-block {	
	.tab-image-slider {
		margin-right: 50px;
		@media (max-width: 1200px) {
			margin-right: 20px;
		}
		@media (max-width: 992px) {
			max-width: 60%;
			margin: 0 auto 40px;
		}
		@media (max-width: 575px) {
			max-width: 100%;
			margin: 0 auto 40px;
		}
		.splide__track {
			@include border-radius(10px)
		}
		.splide__list {	
			@include border-radius(10px);
			.slide-img-block {
				img {
					width: 100%;
				}
			}
		}
	}
	.tab-nav-slider {
		.splide__list {
			flex-direction: column;
			li {
				width: 100% !important;				
				margin-bottom: 40px;
				border: none !important;
				@media (max-width: 767px) {
					margin-bottom: 20px;
				}
				.slide-content {
					position: relative;
					padding-left: 20px;
					@media (max-width: 767px) {
						padding-left: 15px;
					}
					&::before {
						content: '';
						width: 2px;
						height: 0;
						background: $black;
						position: absolute;
						left: 0;
						top: 0;
						@include transition(0.3s, ease-in-out);
					}
					&.with-img {
						@include flexbox;
						@include align-items(flex-start);
						padding-left: 0;
						&::before {
							left: 80px;
							@media (max-width: 767px) {
								left: 55px;
							}
						}
						.icon-img {
							width: 60px;
							height: 60px;
							flex: none;
							@include border-radius(5px);
							overflow: hidden;
							margin-right: 20px;
							@media (max-width: 767px) {
								width: 40px;
								height: 40px;
								margin-right: 15px;
							}
							img {
								width: 100%;
								height: 100%;
								@include transition(0.3s, ease-in-out);
							}
						}
						.info {
							padding-left: 20px;
							@media (max-width: 767px) {
								padding-left: 15px;
							}
						}
					}
				}	
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					.slide-content {
						h3 {
							color: $primary;
						}
						&.with-img {
							.icon-img {
								img {
									@include transform(scale(1.1));
								}
							}
						}
					}
				}
				&.is-active, &:focus, &:focus-visible {
					.slide-content {
						&::before {
							height: 100%;							
						}
						&.with-img {
							.icon-img {
								img {
									@include transform(scale(1.1));
								}
							}
						}
						h3 {
							color: $primary;
						}
					}
				}
			}
		}
	}
	.slide-content {
		h3 {
			font-size: 30px;
			margin-bottom: 10px;	
			line-height: 1;
			@include transition(0.3s, ease-in-out);
			@media (max-width: 1200px) {
				font-size: 24px;
			}
			@media (max-width: 767px) {
				font-size: 20px;
			}
		}
		.sort-info {
			font-size: 16px;
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
	}
}

.single-testimonial-block {
	.card-image-block {
		margin-right: 80px;
		@media (max-width: 1200px) {
			margin-right: 20px;
		}
		@media (max-width: 767px) {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 30px;
		}
		&.with-video {
			position: relative;
			.icon-play {
				position: absolute;
				top: 50%;
				left: 50%;
				padding: 10px 20px;
				background: rgba(0, 0, 0, 0.3);
				@include border-radius(10px);
				@include flexbox;
				@include align-items(center);
				@include justify-content(center);
				@include transform(translate(-50%, -50%));
				@include transition(0.3s, ease-in-out);
				z-index: 3;
				@media (max-width: 992px) {
					padding: 8px 15px;
				}
				svg {
					width: 55px;
					height: 55px;
					@include transition(0.3s, ease-in-out);
					@media (max-width: 992px) {
						width: 45px;
						height: 45px;
					}
					@media (max-width: 767px) {
						width: 35px;
						height: 35px;
					}
				}
			}
			.video-thumbnail-block {
				position: relative;
				&::before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					background: rgba(0, 0, 0, 0.4);
					border-radius: 15px;
					-moz-border-radius: 15px;
					-webkit-border-radius: 15px;
					z-index: 1;
				}
			}
			&:hover, &:focus {
				.icon-play { 
					@include box-shadow(0px 0px 20px 5px rgba(255,255,255,0.3));
				}
			}
		}
	}
	.section-title {
		margin-bottom: 0;
		.rating-star {
			margin-bottom: 30px;
			@media (max-width: 1200px) {
				margin-bottom: 20px;
			}
		}
		h2 {
			font-size: 24px;
			margin-bottom: 30px;
			@media (max-width: 1200px) {
				font-size: 20px;
				margin-bottom: 20px;
			}
			@media (max-width: 767px) {
				font-size: 18px;
			}
		}
		.sort-info {
			.user-details {
				@include flexbox;
				@include align-items(center);
				.user-info {
					padding-right: 20px;
					border-right: 1px solid $black;
					.user-name {
						font-size: 16px;
						font-weight: 600;
						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
					.position-text {
						font-size: 14px;
						@media (max-width: 767px) {
							font-size: 12px;
						}
					}
				}
			}
			.logo-icon {
				margin-left: 20px;
				max-height: 40px;
			}
		}
	}
}

.marquee-wrapper {	
	position: absolute;
	top: 0;
	right: 20px;
	width: 43%;
	@media (max-width: 767px) {
		position: relative;
		width: 100%;
		margin-top: 30px;
		right: 0;
	}
	.marquee-block {
		@include flexbox;
		@include justify-content(flex-end);
		@include flex-direction(column);
		gap: 15px;
		margin: auto;
		@media (max-width: 767px) { 
			height: 400px;
			
		}
		&.marquee-vertical-block {
			@include flex-direction(row);			
		}		
		.marquee-group {
			@include flexbox;
			overflow: hidden;
			user-select: none;
			gap: 15px;	
			@media (max-width: 767px) { 
				mask-image: linear-gradient( var(--mask-direction, to right),
					rgba(0, 0, 0, 0),
					rgba(0, 0, 0, 1) 20%,
					rgba(0, 0, 0, 1) 80%,
					rgba(0, 0, 0, 0)
				);		
			}
			&.marquee-vertical {
				--mask-direction: to bottom;
				flex-direction: column;
				.marquee-inner {
					flex-direction: column;
					animation-name: scroll-y;
				}
			}
			&.marquee-reverse {
				.marquee-inner {
					animation-direction: reverse;
					animation-delay: -3s;
				}
			}
			.marquee-inner {
				flex-shrink: 0;
				display: flex;
				align-items: center;
				gap: 15px;
				min-width: 100%;
				animation: scroll-x 60s linear infinite;
				.marquee-item {
					flex: none;				
					width: 100%;
					max-width: 320px;
					max-height: 340px;
					overflow: hidden;
					@include border-radius(10px);
					img {
						@include border-radius(10px);
						width: 100%;
					}
				}
			}			
		}
	}
}

.collapse-block {
	margin-top: 50px;	
	@media (max-width: 767px) {
		margin-top: 20px;
	}
}

.collapse-item {
	padding: 20px 0;
	border-bottom: 1px solid $black;
	&.is-open {
		.collapse-title{
			&:after {
				@include transform(rotate(180deg));
			}
		}
	}
	&:hover {
		.collapse-title {
			h3 {
				color: $primary;
			}
			&:after { 
				filter: unset;
			}
		}
	}
	&:first-child {
		border-top: 1px solid $black;
	}
	.collapse-title {
		@include flexbox();
		@include align-items(center);
		text-align: left;
		cursor: pointer;
		background-color: transparent;
		border: none;
		width: 100%;
		padding: 0;
		@include border-radius(4px);		
		&:after {
			content: "";
			width: 32px;
			height: 32px;
			-webkit-box-flex: 0;
			-ms-flex: none;
			flex: none;
			margin-left: auto;
			background: url(../images/icons/collapse-arrow.svg) no-repeat center center;
			background-size: contain;
			filter: brightness(0);
			@include transition(0.2s, ease-in-out);
			@media (max-width:991px) {
				width: 25px;
				height: 25px;
			}
		}
		h3 {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 0;
			@include transition(0.3s, ease-in-out);
			@media (max-width:767px) {
				font-size: 16px;
			}
		}
	}
	.card-content {
		color: $black;
		font-size: 16px;
		@media (max-width:767px) {
			font-size: 14px;
		}
	}
	.collapse-body {
		margin-top: 10px;
	}
}


@keyframes scroll-x {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes scroll-y {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.logo-block {
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
	@media (max-width: 992px) {
		@include flex-wrap(wrap);
	}
	.logo-img {
		overflow: hidden;
		margin: 15px 30px 0;
		@media (max-width: 992px) {
			margin: 8px 10px;
		}
		img {
			max-height: 75px;
		}
	}
}

.content-icon-grid-list {
	.section-title {
		margin-bottom: 60px;
		margin-left: 0;
		margin-right: auto;
	}
	.action {
		margin-top: 50px;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
		.btn {
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.center-icon-grid-list {
		.section-title {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.info-card {
			text-align: center;
		}
		.action {
			text-align: center;
		}
	}
}

.hero-section {
	overflow: hidden;
	min-height: calc(100vh - 87px);
	@include flexbox;
	@include align-items(center);	
	background-repeat: no-repeat;
	background-position: 70% center;
	.section-title {
		margin-bottom: 0;
		* {
			color: $white;
		}
	}
	@media (max-width: 767px) {
		min-height: auto;
		padding-bottom: 0;
		background-size: 70%;
		background-position: 90% 20%;
	}
	&.hero-section-style-2 {
		padding: 80px 0;
		min-height: calc(80vh - 87px);
		@media (max-width: 767px) {
			padding: 50px 0;
		}
		.with-border-block {
			border: 1px solid $white;
		}
		.section-title { 
			padding: 50px;
			@media (max-width: 767px) {
				padding: 30px;
			}
		}
		.image-content-block {	
			text-align: right;
			max-height: 100%;	
			overflow: hidden;
			img {
				@include border-radius(0);
				height: auto;
				width: 100%;
			}
		}
	}
	
}

.logo-section {
    padding: 50px 0;
}

.testimonial-section, .expect-team-section {
	overflow: hidden;
}

.faq-section {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 100% 100%;
	@media (max-width: 1200px) {
		background-size: contain;
	}
	.action {
		margin-top: 40px;
		text-align: center;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
	}
}

.cta-section {
    background-image: url(../images/cta-bg-img.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    padding: 50px 0;
    @media (max-width: 767px) {
        background-image: url(../images/cta-m-bg-img.png);
        background-position: calc(100% + 150px) center;
        background-size: 50%;
    }
    @media (max-width: 420px) {
        background-position: calc(100% + 100px) center;
    }
    * {
        color: $white;
    }
    .section-title {
        margin-bottom: 0;
    }
}