.slider-block {
    padding: 120px 0;
    text-align: center;
}

.slider-block .section-title {
    max-width: 1000px;
    margin: 0 auto 70px;
}

.splide__track{
    height: 100%;
    padding: 0 50px;
}

.splide__list {
    align-items: center;
    
}

.splide__slide {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.splide__slide .image-block {
    margin: 0 20px;
}

.splide__slide:not(.is-visible.is-active) .image-block{
    padding: 40px 0px;
}

.splide__slide.is-visible.is-active{
    transform: translate(0px, 25px) ;
    -webkit-transform: translate(0px, 25px) ;
    -moz-transform: translate(0px, 25px) ;
    -ms-transform: translate(0px, 25px) ;
    -o-transform: translate(0px, 25px) ;
}


.splide__slide .image-block img{
   
    transition-property: transform, height, width, top;
    transition-timing-function: all;
    transition-duration: 0.3s;
    width: 100%;
}
.splide__slide.is-visible.is-active{
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    z-index: 5;
}
.splide__slide.is-visible.is-active .image-block {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.splide__slide.is-visible.is-prev{
    transform: translate(0px, -24px);
}

.splide__slide.is-visible.is-next{
    transform: translate(0px, 24px);
}