:root {
	--bs-primary: #98754F;
}
*,::after,
::before {
	box-sizing: border-box; 
	list-style: none; 
	text-decoration: none;
}
html {
    font-family: sans-serif; 
	-webkit-text-size-adjust: 100%; 
	-webkit-tap-highlight-color: transparent;
}
article, 
aside, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section {
    display: block;
}
hr {
    box-sizing: content-box; 
	height: 0; 
	overflow: visible;
}
body {
    margin: 0; 
	padding: 0; 
	font-family: $bodyfont; 
	color: $bodycolor; 
	font-size: $bodyfontsize; 
	font-weight: 400; 
	position: relative; 
	line-height: 1.5; 
	overflow-x: hidden; 
	min-height: 100vh; 
	@include flexbox(); 
	@include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
}
.container, .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}


.bg-tooltip-primary {
	--bs-tooltip-bg: var(--bs-primary);
}
.text-primary {
	color: $primary !important;
}
.text-secondary {
	color: $secondary !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-yellow {
	background-color: $lightyellow !important;
}
.bg-lightyellow {
	background-color: #FEFDFC !important;
}
.bg-secondary {
	background-color: $secondary !important;
}


ul {
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    text-decoration: none;
	text-underline-offset: 4px;
    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

.wp-block-button__link {
    color: #fff;
    background-color: $primary;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: 10px calc(1.333em + 2px);
    font-size: 16px;
	font-weight: 600;
	@include transition(0.3s, ease-in-out);

	&:hover, &:focus {
		color: #fff;
		background-color: $secondary;
	}
}

.disabled,
[disabled] {
	pointer-events: none;
}

button.btn {
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}

.button,
.btn {
	min-height: 48px;
	padding: 5px 30px;
	font-weight: 500;
	font-size: 15px;
	@include transition(0.3s, ease-in-out);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	line-height: 0.7;
	@include border-radius(7px);
	cursor: pointer;
	
	&.btn-small {
		font-size: 12px !important;
		padding: 5px 15px !important;
		min-height: 34px;
		line-height: 1;
	}

	&.btn-primary{
		color: $white !important;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: #1E42DD;
			color: $white !important;
			border: 1px solid #1E42DD;
		}
	}
	&.btn-primary-outline {
		color: $primary !important;
		border: 1px solid $primary;
		background-color: $darkblack;
		color: $white !important;
		&:hover, &:focus, &:active{
			background-color: #1E42DD;
			color: $white !important;
			border: 1px solid #1E42DD;
		}
	}

	&.btn-success{
		color: #fff !important;
		border-color: #14b550;
		background-color: #14b550;
		&:hover, &:focus, &:active{
			background-color: #14b550;
			color: #fff !important;
			border-color: #14b550;
			opacity: 0.8;
		}
	}
	&.btn-warning{
		color: #fff !important;
		border-color:#ED9615;
		background-color:#ED9615;
		&:hover, &:focus, &:active{
			background-color:#ED9615;
			color: #fff !important;
			border-color:#ED9615;
			opacity: 0.8;
		}
	}
	&.btn-danger{
		color: #fff !important;
		border-color: #DB222A;
		background-color: #DB222A;
		&:hover, &:focus, &:active{
			background-color: #DB222A;
			color: #fff !important;
			border-color: #DB222A;
			opacity: 0.8;
		}
	}
	&.btn-secondary {
		color: #5A5A5A !important;
		border-color: #b7b7b7 !important;
		background-color: #fff !important;
		&:hover, &:focus, &:active{
			background-color: #385DFF !important;
			color: #fff !important;
			border: 1px solid #385DFF !important;
		}
	}

	&[readonly],
	&[disabled] {
		cursor: default;
		pointer-events: none;
		opacity: 0.8;
	}
}

.btn-icon {
	gap: 15px;
	display: flex !important;
	@include align-items(center);
	@include justify-content(center);

	.is-icon {
		flex: none;
		width: 24px;
		height: 24px;
		min-width: 24px;
		@include transition(0.3s, ease-in-out);
		svg {
			max-height: 24px;
		}
	}

	&:hover, &:focus {
		.is-icon {
			@include transform(translateX(5px));
		}
	}
}

.btn-full {
	display: flex;
	width: 100%;
}

.btn-flex-center {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img{
    max-width:100%;
	height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}

.h1,h1 {
    font-size: 2.125rem;
    line-height: 42px;
    font-weight: 700
}
h2, .h2 {
	
}

h3, .h3 {

}

h4, .h4 {
}

h5, .h5 {
}


.ul-list{
	padding-left: 24px;
	margin: 0px 0px 20px;
	li {
		list-style: disc;
		margin-bottom: 8px;
		&::marker {
			color: $primary;
			font-size: 22px;
			line-height: 1;
		}
	}
}
.ol-list {
	padding-left: 20px;
	margin: 0px 0px 30px;
	@media (max-width:991px) {
		margin-bottom: 25px;
	}
	li {
		padding-left: 5px;
		list-style: decimal;
		margin-bottom: 8px;
		&::marker {
			color: $primary;
			font-weight: 500;
		}
	}
}

.row.gutters-20 { 
	@media (min-width:1200px) {
		margin-right: -20px; margin-left: -20px;
	}
	>* {
		margin-top: 40px;
		@media (max-width:991px) {
			margin-top: 20px;
		}
	}
}
.row.gutters-20 > [class^="col"], 
.row.gutters-20 > [class*=" col"] { 
	@media (min-width:1200px) {
		padding-right: 20px; padding-left: 20px;
	}
}


.p-0{padding:0!important}
.pt-0{padding-top:0!important}
.pt-1{padding-top:.25rem!important}
.pt-2{padding-top:.5rem!important}
.pt-3{padding-top:1rem!important}
.pt-4{padding-top:1.5rem!important}
.pt-5{padding-top:3rem!important}
.pb-0{padding-bottom:0!important}
.pb-1{padding-bottom:.25rem!important}
.pb-2{padding-bottom:.5rem!important}
.pb-3{padding-bottom:1rem!important}
.pb-4{padding-bottom:1.5rem!important}
.pb-5{padding-bottom:3rem!important}

.m-0{margin:0!important}
.mt-0{margin-top:0!important}
.mt-1{margin-top:.25rem!important}
.mt-2{margin-top:.5rem!important}
.mt-3{margin-top:1rem!important}
.mt-4{margin-top:1.5rem!important}
.mt-5{margin-top:3rem!important}
.mb-0{margin-bottom:0!important}
.mb-1{margin-bottom:.25rem!important}
.mb-2{margin-bottom:.5rem!important}
.mb-3{margin-bottom:1rem!important}
.mb-4{margin-bottom:1.5rem!important}
.mb-5{margin-bottom:3rem!important}

.pt-15 {padding-top: 15px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-100 {padding-top: 100px !important;}

.pb-15 {padding-bottom: 15px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-100 {padding-bottom: 100px !important;}

@media (max-width: 767px) {
	.m-pt-0 {padding-top: 0px !important;}
	.m-pt-25 {padding-top: 25px !important;}
	.m-pt-50 {padding-top: 50px !important;}
	.m-pt-80 {padding-top: 80px !important;}
	.m-pt-100 {padding-top: 100px !important;}

	.m-pb-0 {padding-bottom: 0px !important;}
	.m-pb-25 {padding-bottom: 25px !important;}
	.m-pb-50 {padding-bottom: 50px !important;}
	.m-pb-80 {padding-bottom: 80px !important;}
	.m-pb-100 {padding-bottom: 100px !important;}
}


.icw-badge {text-align: center; white-space: nowrap; vertical-align: baseline; line-height: 1; font-size: 12px; font-weight: 600; padding: 4px 8px; border-radius: 5px; background-color: #c0c0c0; color: #8a8a8a;}
.icw-badge.icw-badge-primary {background-color: #385DFF; color: #fff;}
.icw-badge.icw-badge-secondary {background-color: #6c757d; color: #000;}
.icw-badge.icw-badge-success {background-color: #14B550; color: #fff;}
.icw-badge.icw-badge-danger {background-color: #DB222A; color: #fff;}
.icw-badge.icw-badge-warning {background-color: #ED9615; color: #fff;}
.icw-badge.icw-badge-info {background-color: #0dca; color: #000;}
.icw-badge.icw-badge-light {background-color: rgb(248,249,250); color: #000;}
.icw-badge.icw-badge-dark {background-color: #212529; color: #fff;}

.course-status {
	position: absolute;
	z-index: 9;
	top: 15px;
	background-color: #385DFF;
	border-radius: 0 15px 15px 0;
	color: #fff;
	text-align: center;
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1;
	letter-spacing: 0.23px;		
	
	&.icw-status-secondary {background-color: #6c757d; color: #000;}
	&.icw-status-success {background-color: #14B550; color: #fff;}
	&.icw-status-danger {background-color: #DB222A; color: #fff;}
	&.icw-status-warning {background-color: #ED9615; color: #fff;}
}


.ratio{position:relative;width:100%; @include flexbox();}
.ratio::before{display:block;padding-top:var(--bs-aspect-ratio);content:""}
.ratio>*{position:absolute;top:0;left:0;width:100%;height:100%}
.ratio-1x1{--bs-aspect-ratio:100%}
.ratio-4x3{--bs-aspect-ratio:75%}
.ratio-16x9{--bs-aspect-ratio:56.25%}
.ratio-21x9{--bs-aspect-ratio:42.8571428571%}


.foreach-count {
	padding: 20px 0px;
	font-size: 13px;
	color: #9B9C9F;
}

.loading-action {
	width: 15px;
    height: 15px;
    border: 2px solid;
    border-color: #fff rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
	margin-right: 10px;
	vertical-align:middle;

	&.loading-gray {
		border-color: #9B9C9F rgba(0, 0, 0, 0);
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.icw-tab-wrapper {

	&.icw-tab-header {
		padding-top: 30px;
	}

	.icw-tabs {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;

		.icw-tab-link {
			list-style: none;
			padding: 5px 0px;
			cursor: pointer;
			font-weight: 500;
			transition: all ease 0.5s;
			border-bottom: 2px solid transparent;
			margin: 0 30px 0 0;
			@include transition(0.3s, ease-in-out);
			flex-wrap: wrap;
			font-size: 14px;

			@media (max-width:768px) {
				margin-right: 20px;
			}

			a {
				color: $black;
			}

			&:hover {
				color: #000;
				border-color: #000;
			}

			&.active {
				color: $primary;
				border-color: $primary;
				a {
					color: $primary;
				}
			}
		  }
	}
	 
	  .icw-tab-content-wrapper {
		padding: 25px 0px 0;
	  }
	  
	  .icw-tab-content {
		display: none;
		&.active {
			display: block;
		  }
	  }
}
  


.back-to-top {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: $primary;
	text-align: center;
	position: fixed;
	z-index: 8;
	right: 20px;
	bottom: -100px;
	-webkit-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	-moz-transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	transition: bottom .4s cubic-bezier(.7,0,.3,1) 0ms;
	@include border-radius(6px);
	&:hover, &:focus {
		@include opacity(0.8);
	}
	&.visible {
        opacity: 1;
        bottom: 25px;
	}
	svg {
		width: 16px;
		height: 16px;
	}

	@media (max-width:767px) {
		display: none !important;
	}
}

@-webkit-keyframes border-transform {
	0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
  
.icw-progress-goto {
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: block;
	border-radius: 40px;
	box-shadow: inset 0 0 0 2px #ee4a6327;
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;

	&.active-progress {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	&::after {
		position: absolute;
		content:  url(../images/arrow-down.svg);
		text-align: center;
		line-height: 40px;
		font-size: 26px;
		color: #ee4a62;
		left: 0px;
		top: -5px;
		height: 40px;
		width: 40px;
		cursor: pointer;
		display: block;
		z-index: 1;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}

	// &:hover::after {opacity: 0;}
	&:hover::after {
		opacity: 1;

		@include transform(translateY(-5px));
	}

	svg path {fill: none;}

	svg.progress-circle path {
		stroke: #ee4a62;
		stroke-width: 4;
		box-sizing: border-box;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}
}
  

.grecaptcha-badge {
	right: -300px !important;
}

.page404{ 
    padding: 150px 0px 150px; text-align: center;
    h1 {
        font-size: 150px; color: $primary; line-height: 1; margin: 50px;
    }
    .description {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.icw-d-block {display: block !important;}
.icw-d-inline-block {display: inline-block !important;}
.icw-d-none {display: none !important;}

label {font-size: 14px; font-weight: 500;}
input:not([type="checkbox"]), select, textarea, .input {
    display: inline-block;
    font-family: inherit;
    font-style: inherit;
    font-size: 14px;
    height: 41px;
    outline: 0;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #d6d9dd;
    border-radius: 6px;
    box-shadow: none;
    padding: 0 12px;
    color: #5a5a5a;
	width: 100%;
	
	&:focus:not(:disabled),
	&:focus-within:not(:disabled) {
		border: 1px solid #9d9ea0;
	}
	&[readonly],
	&[disabled] {
		cursor: default;
		pointer-events: none;
		background-color: #f5f5f5;
	}
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    padding-right: 40px;
}
[type="checkbox"] {
	accent-color:$primary;
	width: 18px;
	height: 18px;
	flex: none;
}

.form-checkbox {
	@include flexbox();
	@include align-items(center);
	gap: 10px;
	label {
		font-size: 13px;
		font-weight: normal;
	}
	a {
		text-decoration: underline;
		&:focus, &:hover {
			text-decoration: underline;
			color: $secondary;
		}
	}
}

.form-is-loading {
	position: relative;

	.loading-action {
		position: absolute;
		right: 5px; top: 13px;
		border-color:#9E9E9E transparent;
	}
}

.form-controls {
	.form-col {
		margin-bottom: 16px;
	}
	hr {
		border: 0px;
		border-bottom: 1px solid #ededed;
		margin: 18px 0px 20px;
		padding: 0px;
	}
	.form-grid-col2 {
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: 480px) {
			grid-gap: 20px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.form-flex-col {
		@include flexbox();
		// @include align-items(center);
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		gap: 20px;

		.flex-col {
			flex-grow: 1;
			flex-basis: 100px;
		}
	}

	.form-fields {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 16px;
		@include align-items(center);

		
		@media (min-width: 767px) {
			grid-gap: 20px;
			grid-template-columns:200px auto 120px;
		}

		.label {
			font-weight: 500;
			color: #000;
			span {
				color: #ff0707;
			}
		}
	}

	span.error {
		color: #ff0707;
    	font-size: 11px;
	}
	input.error {
		border-color: #ff0707;	
	}
}


/* icw-postbox-datatable */
.icw-postbox-datatable {
	table.dataTable {
		margin: 10px 0px;
	}
}
body .dataTables_wrapper {
	.dataTables_processing {width: 100%;}



    .dataTables_length {
        margin-bottom: 10px;
		label {
			@include flexbox();
			@include align-items(center);
			gap: 10px;
			font-size: 12px;
		}
        select {
			border: 1px solid  #e4e4e7;
			height: 30px;
			padding: 0 8px;
			@include border-radius(4px);
			background-size: 9px; 
			appearance: none;
			width: 60px;
			background-position: right 0.75rem center;
			flex: none;
		}
    }
    .dataTables_filter {
        margin-bottom: 10px;
		label {
			font-size: 0;
			input {
				border: 1px solid  #e4e4e7;
				height: 30px;
				padding: 0 8px;
				padding-left: 30px !important;
				@include border-radius(4px);
				font-size: 12px;
				background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none" fill-rule="evenodd"><path d="M-1-1h22v22H-1z"/><path stroke="rgb(155 156 159)" stroke-width="2" d="M21 21l-4.8-4.8M10.714 3c4.26 0 7.715 3.453 7.715 7.714 0 4.26-3.46 7.715-7.72 7.715S3 14.97 3 10.71 6.452 3 10.713 3z" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
				background-repeat: no-repeat;
				background-position: 8px center;
			}
		}
        input {
            height: 24px; line-height: 1; font-size: 12px;
        }
		input[type=search] {
			background-size: 14px;
			background-position: left 5px center;
			padding-left: 26px !important;
			margin: 0px;
		}
    }
	.dataTable {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		thead {
			tr {
				border: none;
				th {
					font-size: 14px !important;
					font-weight: 500;
					color: #1e2132;
					border: none;
					border-bottom: 1px solid #e4e4e7;
					padding: 12px 15px;
					@media (max-width: 767px) {
						padding: 10px;
						font-size: 13px !important;
					}
					&.sorting {
						background: url(../images/icons/icon-sort-arrows.svg) no-repeat;
						background-size: 10px;
						background-position: right center !important;
						padding-right: 15px;
						&.sorting_desc {
							background: url(../images/icons/icon-sort-down.svg) no-repeat;
							background-size: 8px;
						}
						&.sorting_asc {
							background: url(../images/icons/icon-sort-up.svg) no-repeat;
							background-size: 8px;
						}
					}
				}
			}
		}
		tbody {
			tr {
				&:hover {
					td {
						background: #f4f4f5;
					}
				}
				td {
					border: none;
					border-bottom: 1px solid #e4e4e7;
					background: #ffffff;
					box-shadow: none !important;
					padding: 15px;
					white-space: nowrap;
					font-size: 14px !important;
					@media (max-width: 767px) {
						padding: 10px;
						font-size: 13px !important;
					}
				}
			}
		}
	}
	.dataTables_info {
		font-size: 12px;
		padding-top: 20px;
		@media (max-width: 767px) {
			padding-top: 15px;
		}
	}
    .dataTables_paginate {
		font-size: 12px;
		padding-top: 20px;
		@media (max-width: 767px) {
			padding-top: 15px;
		}
		span {
			@include inline-flex;
		}
		.paginate_button {
			width: 24px;
			height: 24px;
			padding: 0;
			border: 1px solid transparent !important;
			@include inline-flex;
			@include align-items(center);
			@include justify-content(center);
			@include border-radius(4px !important);
			@include transition(0.3s, ease-in-out);

			margin-left: 5px;
			&:hover {
				border-color: #e4e4e7 !important;
				background: transparent !important;
				color: #385dff !important;
			}
			&.current {
				border-color: #e4e4e7 !important;
			}
			&.previous, &.next {
				width: auto;
				&:hover {
					border-color: transparent !important;
				}
			}

			&.active {
				background: #000 !important;
				color: #fff !important;
			}
		}
	}

    table.dataTable>thead>tr>th, 
    table.dataTable>thead>tr>td {
        // padding:10px 5px;
        font-weight: 600;
        font-size: 12px !important;
        color: #000;
    }
	table.dataTable>tbody>tr>td {
        // padding:10px 5px;
        font-size: 13px !important;
        color: #000;
    }
	table.dataTable thead>tr>th.sorting:before,
	table.dataTable thead>tr>th.sorting::after {display: none;}
	tbody td select {height: 30px; font-size: 13px;}
}

body div#message {
	&.bpro-error {
		& p:empty {display: none !important;}
		p {
			background: transparent;
			border: none;
			margin-bottom: 10px;	
			color: #fff;
		}
		a {
			color: #ffe500 !important;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	&.icw-bpro-not-approved {
		position: fixed !important;
		width: 100%;
		min-width: 100vw;
		height: 100vh;
		z-index: 99999;
		background-color: #000000fa;
		border: 0px;

		.container {
			padding: 100px 15px;
		}

		& + #page {
			display: none !important;
		}
	}
}


body.is-toggle {
	overflow: hidden;
}

.main-header {
	left: 0; 
	right: 0; 
	z-index: 10; 
	top: 0; 
	@include transition(0.1s, ease-in-out); 
	background-color: $white; 		
	position: sticky; 
	box-shadow: 0 1px 0 0 rgba(139,141,157,.05),0 0 1px 0 rgba(65,71,108,.15);
	&.fixed-header {
		box-shadow: 0 1px 0 0 rgba(139,141,157,.05),0 5px 10px 0 rgba(65,71,108,.15);	
	}
	@media (max-width:767px) {
		&.is-toggle {
			.toggle-menu {
				// left: 0px;
				@include transform(translateX(0px))
			}
		}
	}
	.navbar {	
		& > .container {
			@include flexbox;
			@include align-items(center);
		}
		.navbar-brand {
			padding: 0;
			margin-right: 40px;	
			padding: 10px 0;
			line-height: 0.7;
			img {
				max-height: 55px;
			}
		} 
	}
	.left-menu {
		@include flexbox;
		align-self: stretch;
		@media (max-width: 767px) {
			min-height: calc(100vh - 75px); 
			overflow-y: auto; width: 100%; 
			max-width: 290px; 
			display: block; 
			padding: 15px 15px 30px; 
			background-color: $white; 
			position: fixed; 
			top: 0; 
			right: 0px; 
			bottom: 0; 
			z-index: 99; 
			margin-top: 75px; 
			// @include transition(0.3s, ease-in-out);
			@include transform(translateX(100%));
			ul {
				@include flex-direction(column);
				// max-width: 540px;
				width: 100%;
				margin: 0 auto;
			}
		}
	}
	ul {
		list-style-type: none;
		@include flexbox;
		align-self: stretch;
		li {			
			position: relative;
			@media (min-width: 767px) {
				margin: 0 5px;
				&::after {
					position: absolute;
					bottom: 0px;
					left: 0;
					content: "";
					height: 2px;
					width: 0;
					background-color: #385dff;
					@include transition(0.2s, ease-in-out);
				}
			}
			a {
				font-size: 14px;
				color: #1e2132;
				@include transition(0.2s, ease-in-out);
				height: 100%;
				@include flexbox;
				@include align-items(center);
				padding: 8px 0px;
				@media (min-width: 767px) {
					padding: 0 10px;
					&::before {
						content: '';
						padding: 17px 15px;
						@include border-radius(6px);
						display: block;
						width: 100%;
						position: absolute;
						left: 0;
						background: transparent;
						z-index: -1;
					}
					&:hover, &:focus {
						&::before {
							background: #f2f4f5;
							@media (max-width: 767px) {
								background: transparent;
								color: #385DFF;
							}
						}
					}
				}
			}
			&.current-menu-item {
				a {
					font-weight: 600;
					letter-spacing: -.24px;
				}
				&::after {
					width: 100%;
				}
			}
			@media (min-width:767px) {
				&:hover, 
				&:focus, 
				&:focus-visible {
					> ul.sub-menu {
						@include opacity(1); 
						visibility: visible; 
						@include transform(translateY(0px)); 
						z-index: 99;
					}
				}
			}
			&.menu-item-has-children {
				hr {
					margin: 8px 15px;
					padding: 0;
					border: 0;
					height: 1px;
					background: #D6D9DD;
				}
				.arrow {
					position: absolute; 
					top: 08px;
					right: 0; 
					width: 25px;
					margin-left: auto;
					text-align: right;
					&.is-active {
						&:after {
        					@include transform(rotate(0deg));
                        }
					}
					&:after {
						vertical-align: middle; 
						content: ""; 
						background: url('data:image/svg+xml; utf8,<svg width="100%" height="100%" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.67379 1.0566C0.869052 0.861341 1.18564 0.861341 1.3809 1.0566L2.99952 2.67523L4.61997 1.05642C4.81533 0.861261 5.13191 0.861421 5.32708 1.05678C5.52224 1.25214 5.52208 1.56873 5.32672 1.76389L2.99916 4.08908L0.67379 1.76371C0.478528 1.56845 0.478528 1.25187 0.67379 1.0566Z" fill="rgb(30 33 50)"></path></svg>') no-repeat center right; 
						background-size: contain; 
						width: 10px; 
						height: 10px; 
						display: inline-block; 
						@include transition(0.3s, ease-in-out);
						@include transform(rotate(-90deg));
                    }
					@media (min-width:767px) {
						display: none;
					}
				}
				@media (min-width:767px) {	
					& > a {						
						&::after {
							vertical-align: middle; 
							content: ""; 
							background: url('data:image/svg+xml; utf8,<svg width="100%" height="100%" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.67379 1.0566C0.869052 0.861341 1.18564 0.861341 1.3809 1.0566L2.99952 2.67523L4.61997 1.05642C4.81533 0.861261 5.13191 0.861421 5.32708 1.05678C5.52224 1.25214 5.52208 1.56873 5.32672 1.76389L2.99916 4.08908L0.67379 1.76371C0.478528 1.56845 0.478528 1.25187 0.67379 1.0566Z" fill="rgb(30 33 50)"></path></svg>') no-repeat center right; 
							background-size: contain; 
							width: 10px; 
							height: 8px; 
							margin-left: 8px;
							display: inline-block; 
							@include transition(0.3s, ease-in-out);
							opacity: 0.8;
						}
					}
					&:hover, &:focus {
						& > a  {
							&::after {
								@include transform(rotate(180deg)); 
								opacity: 1;
							}
						}
					}
				} 
				.sub-menu {
					@media (max-width:767px) {
						display: none;
						padding-left: 10px;
						&.is-active {
							display: block;
						}
					}
					@media (min-width:767px) {
						background: $white;
						box-shadow: 0 6px 24px 0 rgba(0,0,0,.12),0 3px 8px 0 rgba(0,0,0,.06);
						@include border-radius(10px);
						list-style: none;
						padding: 10px 0;
						position: absolute;
						left: 10px;
						top: -webkit-calc(100% - 15px);
    					top: calc(100% - 15px);
						margin: 0;
						min-width: 200px;
						opacity: 0;
						visibility: hidden;
						z-index: 100;
						@include flex-direction(column);
					}
					li {
						margin: 0;
						&::after {
							content: none;
						}
						@media (min-width: 767px) {
							&.menu-item-has-children {							
								& > a {
									@include flexbox;
									@include align-items(center);
									position: relative;			
									&::before {
										content: none;
									}						
									&::after {
										vertical-align: middle; 
										content: ""; 
										background: url('data:image/svg+xml; utf8,<svg width="100%" height="100%" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.67379 1.0566C0.869052 0.861341 1.18564 0.861341 1.3809 1.0566L2.99952 2.67523L4.61997 1.05642C4.81533 0.861261 5.13191 0.861421 5.32708 1.05678C5.52224 1.25214 5.52208 1.56873 5.32672 1.76389L2.99916 4.08908L0.67379 1.76371C0.478528 1.56845 0.478528 1.25187 0.67379 1.0566Z" fill="rgb(30 33 50)"></path></svg>') no-repeat center right; 
										background-size: contain; 
										width: 10px; 
										height: 8px; 
										margin-left: auto;
										display: inline-block; 
										@include transform(rotate(-90deg));
										@include transition(0.3s, ease-in-out);
										opacity: 0.8;										
									}									
								}
							}
						}
						a {
							font-size: 13px;
							@include border-radius(6px);
							padding: 10px 15px;
							margin: 0 8px;
							&::before {
								content: none;
							}	
							@media (max-width: 767px) {
								padding: 8px 0;
							}
							&:hover, &:focus {
								background: #f2f4f5;
								@media (max-width: 767px) {
									color: #385DFF;
									background: transparent;
									font-weight: 600;
								}
							}
						}
						.sub-menu {
							@include transform(translateY(0px)); 
							position: absolute; 
							margin: 0px; 
							border: 0px;
							left: calc(100% - 5px);
							top: 0px;
							min-width: 180px;
							@media (max-width: 767px) {
								padding: 0 !important;
								margin-left: 12px;
								left: 0;
								position: relative;
								a {
									&:hover, &:focus {
										color: #385DFF;
									}
								}
							}
							li {
								padding-bottom: 0px;
							}
							a {
								font-size: 13px;
								&::before {
									content: none;
								}	
							}
						}
					}
				}
			}
			&.profile-menu {
				& > .arrow {
					display: none !important;
				}
				
				&:hover, &:focus {
					& > a::before {
						background: #f2f4f5;
					}
				}
				& > a {
					padding: 0 10px !important;
					&::before {
						content: '';
						@include border-radius(6px);
						display: block;
						width: 100%;
						position: absolute;
						left: 0;
						background: transparent;
						z-index: -1;
						padding: 20px 15px;
					}
					span.profile-link {
						display: block;
						@include flexbox;
						@include align-items(center);
					}
					.username {
						margin-right: 10px;
						font-weight: 600;
						color: #1e2132;
						padding: 0;
						max-width: 130px;
						display: -webkit-box;
						overflow : hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
					img {
						width: 28px;
						height: 28px;
						flex: none;
						@include border-radius(50%);
					}
				} 
				.sub-menu {
					.user-info {
						@include flexbox;
						@include align-items(center);
						.user-img {
							overflow: hidden;
							@include border-radius(50%);
							width: 28px;
							height: 28px;
							flex: none;
							margin-right: 8px;
							img {
								width: 100%;
							}
						}
						.user-data {
							span {
								padding: 0;
								display: block;
								&.username {
									font-weight: 600;
									color: #1e2132;
									font-size: 14px;
									margin-bottom: 2px;
									display: -webkit-box;
									overflow : hidden;
									text-overflow: ellipsis;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
								}
								&.mention {
									color: #9b9c9f;
									font-size: 12px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									max-width: 115px;
								}
							}
						}
					}
					li > a  {
						& > svg {
							width: 16px;
							height: 16px;
							flex: none;
							margin-right: 8px;
						}
					}
				}
			}
			&.menu-item-has-btn {
				@include flexbox;
				@include align-items(center);

				a.btn {
					@include flexbox;
					@include align-items(center);
					height: auto;
					padding: 5px 15px;
					min-height: 42px;
					svg {
						width: 18px;
						min-width: 18px;;
						height: 18px;
						flex: none;
						flex: none;
						margin-right: 8px;
						* {stroke:#fff; stroke-width: 40px;}
					}
				}
			}
		}
	}
	.right-menu {
		margin-left: auto;
		@include flexbox;
		align-self: stretch;
		ul {
			@media (max-width: 767px) {
				li {
					a {
						padding: 8px 10px !important;
					}
					&:hover, &:focus {
						& > a {
							color: #385dff;
						}
					}
				}
			}
			li.menu-item-has-children {
				margin: 0;
				.arrow {
					@media (max-width: 767px) {
						display: block;
						right: 15px;
						&::after {
							width: 10px;
						}
					}
				}
				& > a > span {
					&::after {
						content: none;
					}
				}
				&:hover, &:focus {
					@media (max-width: 767px) {
						& > .arrow {
							&::after {
								@include transform(rotate(0deg));
							}
						}
					}
					ul {
						visibility: visible;
						opacity: 1;
						display: block;
					}
				}
				ul {
					right: 0;
					left: auto;
					background: $white;
					box-shadow: 0 6px 24px 0 rgba(0,0,0,.12),0 3px 8px 0 rgba(0,0,0,.06);
					@include border-radius(10px);
					list-style: none;
					padding: 10px 0;
					position: absolute;
					top: -webkit-calc(100% - 15px);
					top: calc(100% - 15px);
					margin: 0;
					min-width: 200px;
					opacity: 0;
					visibility: hidden;
					z-index: 100;
					@include flex-direction(column);
					.menu-item-has-children {
						.sub-menu {
							left: auto;
							right: calc(100% - 10px);
							display: none;
							@media (max-width: 767px) {
								left: 0;
								margin-left: 25px;
								box-shadow: none;
								a {
									padding: 5px 10px !important;
								}
							}
						}
						&:hover, &:focus {
							ul {
								visibility: visible;
								opacity: 1;
								display: block;
							}
						}
					}
				}
			}
		}
	}
	.toggle-sidebar {
		display: none;
	}
	@media (max-width: 767px) {
        .toggle-sidebar {
			display: inline-block;
            cursor: pointer;
            border: none;
            padding: 7px 10px;
            background-color: transparent;
            z-index: 11;
            width: auto;
			@include border-radius(6px);
            span {
                width: 20px;
                height: 2px;
                margin: 5px 0;
                background-color: $black;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                display: block;
                left: 0;
                top: 0;
                position: relative;
				@include transition(0.3s, ease-in-out);
                &:nth-child(1) {
                    width: 13px;
                }

                &:nth-child(3) {
                    width: 12px;
                }
            }
			&:hover, &:focus {
				background: #f2f4f5;
				span {
					background-color: $primary;
				}
			}
			&.is-toggle {
				padding: 7px 8px 7px 12px;
				span {
					&:nth-child(1) {
						@include transform(rotate(135deg));
						width: 20px;
						top: 7px;
						left: -2px;
					}
	
					&:nth-child(2) {
						-moz-opacity: 0;
						-khtml-opacity: 0;
						-webkit-opacity: 0;
						opacity: 0;
						left: 0;
						width: 20px;
					}
	
					&:nth-child(3) {
						@include transform(rotate(-135deg));
						width: 20px;
						top: -7px;
						left: -2px;
					}
				}
			}
        }
    }
}
.bg-overly {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
	@include opacity(0);
   	@include transition(0.3s, ease-in-out);
	&.is-toggle {
		@include opacity(1);
		visibility: visible;
	}
}
.main-footer {
	padding: 30px 0;
	.footer-logo {
		margin-bottom: 20px;
		img {
			max-height: 60px;
		}
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	.footer-menu-block {
		@include flexbox;
		@include align-items(center);
		gap: 30px;
		@media (max-width: 767px) {
			gap: 0;
			@include flex-direction(column);
		}
		.copyright-block {
			font-size: 12px;
			color: #5a5a5a;
			@media (max-width: 767px) {
				order: 2;
			}
		}
		.footer-menu {
			@media (max-width: 767px) {
				order: 1;
				margin-bottom: 10px;
			}
			ul {
				@include flexbox;
				gap: 30px;
				@media (max-width: 767px) {
					gap: 20px;
				}
				li {
					a {
						font-size: 14px;
						color: #5a5a5a;
						letter-spacing: -.24px;
						text-underline-offset: 4px;
						
						&:hover, &:focus {
							color: #385dff;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

// icw-login-register-block
.icw-login-register-block {
	// background: rgba(209, 222, 233, 0.65);
	padding: 15px;
	background: #fff;	
	max-width: 500px;
	margin: auto;

	h1 {
		font-size: 1.75rem;
		line-height: normal;
		font-weight: 700;
		color: #000;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		a {
			font-size: 12px;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	span.error {
		color: #ff0707;
    	font-size: 11px;
	}

	.forgotten-pass {
		a {
			font-size: 13px;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	.btn {
		cursor: pointer;
		color: $white !important;
		border: 1px solid transparent;
		background-color:$primary;
		&:hover, &:focus, &:active{
			background-color: #1E42DD;
			color: $white !important;
			border: 1px solid #1E42DD;
		}
	}

	.form-info {
		p {
			font-style: italic;
    		font-size: 16px;
		}
	}
}

#responce-messages {
	.error-msg, .success-msg{ 
		border-radius: 8px;
		font-size: 14px;
		text-align: center;
	}
}


.vertical-tab-grid {
	display: grid;
	grid-template-columns: 230px auto;
	grid-gap: 30px;
}

.icw-vertical-tab-wrapper {
	.icw-vertical-tabs {
		.icw-tab-link {
			@include border-radius(6px);
			margin-bottom: 5px;
			a {
				font-size: 14px;
				@include flexbox;
				@include align-items(center);
				@include border-radius(6px);
				color: #1e2132;
				padding: 13px 20px;
				@include transition(0.3s, ease-in-out);
				.icon {
					width: 16px;
					height: 16px;
					background-size: contain !important;
					margin-right: 10px;
					&.icon-pencil {
						background: url(../images/icon-pencil.svg) no-repeat center center;
					}
					&.icon-image {
						background: url(../images/icon-image.svg) no-repeat center center;
					}
					&.icon-profile {
						background: url(../images/icon-profile.svg) no-repeat center center;
					}
				}
			}
			&:hover, &:focus {
				a {
					background: #f2f4f5;
				}
			}
			&.active {
				a {
					background: #385dff;
					color: #fafbfd;
					.icon {
						filter: brightness(0) invert(1);
					}
				}
			}
		}
	}
}

.courses-grid {
	&.courses-grid-columns-1 {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 15px;
	}
}

.courses-entry-card {
	display: grid;
	grid-template-columns: 180px auto;
	background: #fff;
    border: 1px solid #D6D9DD;
	width: 100%;
	@include border-radius(10px);
	position: relative;
	@include transition(0.2s, ease-in-out);
	@media (max-width: 992px) {
		grid-template-columns: 300px auto;
	}
	@media (max-width: 767px) {
		display: block;
	}
	.courses-card-img {
		position: relative;		
		width: 100%;
		line-height: 0.7;
		@include border-radius(10px 0 0 10px);
		overflow: hidden;
		@media (max-width: 767px) {
			max-width: 100%;
			min-width: auto;
			@include border-radius(10px 10px 0 0);
		}		
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center center;
			object-position: center center;
			@include transition(0.2s, ease-in-out);
		}
	}
	.course-card-body {
		display: grid;
		grid-template-columns: auto 150px 250px;
		@include align-items(flex-start);
		padding: 20px;
		gap: 50px;
		@media (max-width: 1200px) {
			gap: 20px;
			padding: 20px;
			grid-template-columns: auto 110px 180px;
		}
		@media (max-width: 992px) {
			padding: 15px;
			grid-template-columns: 50% 50%;
		}
		@media (max-width: 767px) {
			gap: 25px;
			@include flexbox;
			@include flex-direction(column);
		}
		.course-card-title {
			@media (max-width: 992px) {
				grid-column: 1/-1;
			}
			.course-categories {
				padding: 8px 14px;
				font-size: 12px;
				line-height: 1;
				color: #747474;
				background-color: #eceef1;
				border-radius: 50px;
				font-weight: 500;
				display: inline-block;
				margin-bottom: 8px; 
			}
			.course-title {
				margin: 0;
				font-size: 18px;
    			margin-bottom: 12px;
				@media (max-width: 1200px) {
					font-size: 16px;
				}
				a {
					color: #000;
    				text-underline-offset: 5px;
					@include transition(0.2s, ease-in-out);
					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 1;
						content: "";
					}
				}
			}
			.course-venue {
				font-size: 14px;
				@include flexbox;
				@include align-items(center);
				gap: 6px;
				color: #5a5a5a;
				line-height: 1;
				@media (max-width: 767px) {
					font-size: 12px;
				}
				.icon {
					background-size: contain; 
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-top: -1px;
					&.icon-location {
						background: url(../images/icon-location.svg) no-repeat center center;
					}
					@media (max-width: 767px) {
						width: 12px;
						height: 12px;
					}
				}
			}
		}		
		.instructor-info {
			.instructor-avatar {
				min-width: 36px;
				width: 36px;
				height: 36px;
				margin-right: 8px;
			}
			.instructor-data {
				line-height: normal;
				small {
					font-size: 10px;
				}
				strong {
					@media (max-width: 1200px) {
						font-size: 14px;
					}
				}
			}
		}
		.course-meta-date {
			min-width: 150px;
			small {
				color: #5a5a5a;
				line-height: 1;
				margin-bottom: 3px;
    			font-size: 10px;
				display: block;
			}
			strong {
				font-size: 16px;
				@media (max-width: 1200px) {
					font-size: 14px;
				}
				@media (max-width: 767px) {					
					br {
						display: none;
					}
				}
			}
		}
	}
	&:hover, &:focus {
		@include box-shadow(0 3px 24px 0 rgba(18, 43, 70, 0.08));
		.courses-card-img { 
			img {
				@include transform(scale(1.1));
			}
		}
		.course-card-title {
			.course-title {
				a {
					color: #385DFF;
					text-decoration: underline;
				}
			}
		}
	}
}

.courses-table-block {
	overflow: hidden;
	overflow-x: auto;
	table {
		width: 100%;
		border: none;
		border-spacing: 0px;
		@media (max-width: 1200px) {
			min-width: 1050px;
		}
		@media (max-width: 767px) {
			min-width: 900px;
		}
		.text-center {
			text-align: center !important;
		}
		thead {
			tr {
				th {
					font-size: 14px;
					font-weight: 500;
					color: #1e2132;
					border: none;
					border-bottom: 1px solid #e4e4e7;
					padding: 12px 10px;
					text-align: left;
					@media (max-width: 767px) {
						padding: 10px 8px;
						font-size: 12px;
					}
					&:first-child {
						padding-left: 0;
						white-space: nowrap;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
		tbody {
			tr {
				&:hover {
					td {
						background: #f4f4f5;
					}
				}
				td {
					border: none;
					border-bottom: 1px solid #e4e4e7;
					background: #ffffff;
					font-size: 14px !important;
					padding: 10px;
					@media (max-width: 767px) {
						padding: 10px 8px;
						font-size: 12px !important;
					}
					&:first-child {
						padding-left: 0;
						width: 80px;
					}
					&:last-child {
						padding-right: 0;
					}
					.thumb-img {
						max-width: 80px;
						line-height: 0.7;
						overflow: hidden;
						@include border-radius(5px);
						img {
							@include transition(0.2s, ease-in-out);
						}
						@media (max-width: 767px) {
							width: 80px;
						}
					}
					.title {
						font-size: 16px;
						font-weight: 600;
						color: #000;
						margin: 0;
						max-width: 300px;
						text-underline-offset: 4px;
						@include transition(0.2s, ease-in-out);
						@media (max-width: 767px) {
							font-size: 14px;
							max-width: 200px;
						}
						&:hover, &:focus {
							color: #385DFF;
							text-decoration: underline;
						}
					}
					.category {
						line-height: 1;
						color: #747474;
						font-weight: 500;
					}
					.course-status {
						display: inline-block;
						position: relative;
						@include border-radius(15px);
						white-space: nowrap;
						margin: 0;
						top: unset;
						font-size: 10px;
						padding: 5px 10px;
					}
					.course-venue {
						@include flexbox;
						@include align-items(center);
						gap: 6px;
						color: #5a5a5a;
						line-height: 1;
						white-space: nowrap;
						font-weight: 500;
						.icon {
							background-size: contain; 
							display: inline-block;
							width: 14px;
							height: 14px;
							margin-top: -1px;
							@media (max-width: 767px) {
								width: 12px;
								height: 12px;
							}
							&.icon-location {
								background: url(../images/icon-location.svg) no-repeat center center;
							}
						}
					}
					.course-meta-date {
						font-weight: 500;
						white-space: nowrap;
						small {
							color: #5a5a5a;
							line-height: 1;
							margin-bottom: 3px;
							font-size: 10px;
							display: block;
						}
						strong {
							font-size: 14px;
						}
					}
					.instructor-info {
						max-width: 180px;
						.instructor-avatar {
							min-width: 30px;
							width: 30px;
							height: 30px;
							margin-right: 8px;
						}
						.instructor-data {
							small {
								font-size: 10px;
							}
							strong {
								font-size: 14px;
								@media (max-width: 767px) {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.member-card-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	@media (max-width: 992px) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 575px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.mamber-card {
	border: 1px solid #d6d9dd;
	@include border-radius(6px);
	@include transition(0.2s, ease-in-out);
	padding: 5px;
	position: relative;
	.member-img {
		margin-bottom: 5px;
		@include border-radius(6px);
		overflow: hidden;
		line-height: 0.7;
		img {
			width: 100%;
			@include border-radius(6px);
			@include transition(0.2s, ease-in-out);
		}
	}
	.member-info {
		text-align: center;
		padding: 10px 5px;
		.role {
			margin-bottom: 10px;
			span {
				font-size: 12px;
				font-weight: 500;
				color: rgba(0, 0, 0, 0.5);
				padding: 5px 10px;
				line-height: 1;
				background-color: #eceef1;
				border-radius: 50px;
				display: inline-block;
			}
		}
		.name {
			font-size: 18px;
			display: block;
			margin-bottom: 10px;
			font-weight: 700;
			color: #000000;
			text-underline-offset: 5px;
			@include transition(0.2s, ease-in-out);
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				content: "";
			}
		}
		.email {
			font-size: 14px;
			color: #5a5a5a;
		}
	}
	&:hover, &:focus {
		@include box-shadow(0 3px 24px 0 rgba(18, 43, 70, 0.08));
		.member-img {
			img {
				@include transform(scale(1.05));
			}
		}
		.member-info {
			.name {
				color: #385dff;
			}
		}
	}
}