.main-content-wrapper {
	flex: 1 1 auto;
}

.main-section {
    position: relative;
    // padding: 50px 0;
   
	&.bg-white {
		background-color: $white;
	}
	&.bg-gray {
		background-color: #f8f8f8;
	}
	&.bg-gold {
		background-color: $primary;
	}
	&.bg-blue {
		background-color: $secondary;
		* {color: $white;}
	}
	&.bg-light-gray {
		background-color: #F4F6FC;
	}
	.bg-yellow {
		background-color: $lightyellow !important;
	}
	.bg-lightyellow {
		background-color: #FEFDFC !important;
	}

	&.gradient-bg {
		background: -o-linear-gradient(135deg, #e3e3e3 0%, #ffffff 100%);
		background: linear-gradient(135deg, #e3e3e3 0%, #ffffff 100%);
	}

	&.custom-bg {
		background-color:var(--gs-bg, #fff) !important;
	}

	&.bottom-right-vector {
		overflow: hidden;
		background-image: url(../images/bottom-right-vector.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 300px;
		@media (max-width: 992px) {
			background-size: 200px;
		}
		@media (max-width: 767px) {
			background-size: 120px;
		}
	}

	&.bg-half-blue {
		position: relative;
		&::after {
            content: '';
            width: 100%;
            height: 40%;
            background: $blue;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            
        }
	}

	&.bg-faq {
		background-image: url(../images/faq-bg.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: cover;
	}

	.content-info {
		margin-bottom: 30px;
	}
}


.page-header {
	background: $secondary;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding: 50px 0;
	color: $white;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow: hidden;

	.container {padding-left: 20px; padding-right: 20px;}

	@media (max-width:767px) {
		padding: 35px 0;

		.container {padding-left: 20px; padding-right: 20px;}

		&.course-header {
			padding: 35px 0 150px;
		}
	}

	.page-header-title {
		margin: 0;
		// max-width: 1000px;

		@media (min-width:992px) { 
			padding-right: 325px;
		}
		@media (min-width:1200px) { 
			padding-right: 375px;
		}
		
		&.text-center {
			margin: 0 auto;
		}
		&.text-right {
			margin: 0 0 0 auto;
		}
	}

	.tagline {
		color: $white !important;
		margin-bottom: 10px;
	}
	h1 {
		font-weight: 700;
		color: $white;
		word-break: break-word;	
		margin: 0 0 20px;

		span {
			position: relative;
			background-image: linear-gradient(transparent calc(100% - 10px), #E3BE97 10px);
			background-repeat: no-repeat;
			background-size: 100% 88%;
			transition: background-size .6s;
			@media (max-width: 1440px) {
				background-image: linear-gradient(transparent calc(100% - 8px), #E3BE97 8px);
			}			
			@media (max-width: 992px) {
				background-image: linear-gradient(transparent calc(100% - 6px), #E3BE97 6px);
			}			
		}
	}
	.sort-info {
		color: $white;
		margin-bottom: 30px;
		@media (max-width:991px) {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.action {
		margin-top: 40px;
		@media (max-width: 992px) {
			margin-top: 30px;
		}
		.btn {
			margin-right:  20px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-right: 15px;
			}
		}
	}
	& * :last-child {
        margin-bottom: 0px !important;
    }
	.post-header-title {
		
	}

	.back-action {
		color: $white;
		margin-bottom: 15px;
		
		.btn-link {
			color: $white;
			text-underline-offset: 4px;
			&::before {
				filter: contrast(0.2) brightness(100);
			}
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}

.section-title {
	margin-bottom: 40px;
	@media (max-width:991px) {
		margin-bottom: 30px;
	}
	&.mw-560 {
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
	}
	&.mw-750 {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	.tagline {
		font-size: 16px;
		font-weight: 600;
		color: $primary;
		margin-bottom: 15px;
		@include inline-flex; @include align-items(center);
		@media (max-width:991px) {
			font-size: 14px;
		}
	}
	h1, h2 {
		span {
			position: relative;
			background-image: linear-gradient(transparent calc(100% - 10px), #E3BE97 10px);
			background-repeat: no-repeat;
			background-size: 100% 88%;
			transition: background-size .6s;
			@media (max-width: 1440px) {
				background-image: linear-gradient(transparent calc(100% - 8px), #E3BE97 8px);
			}			
			@media (max-width: 992px) {
				background-image: linear-gradient(transparent calc(100% - 6px), #E3BE97 6px);
			}			
		}
	}
	.sort-info {
		margin-bottom: 30px;
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
	}
	.sort-info {
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.action {
		margin-top: 40px;
		@media (max-width: 992px) {
			margin-top: 30px;
		}
		.btn {
			margin-right:  20px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-right: 15px;
			}
		}
	}
	& * :last-child {
        margin-bottom: 0px !important;
    }

	.form-group {
		margin-bottom: 24px !important;
	}
}

.sort-info {
	.action {
		.btn {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 767px) {
				margin-right: 10px;
			}
		}
	}
}

.hero-home  {
	position: relative;
	z-index: 1;
	padding: 50px 0;

	@media (max-width:820px) {
		@include flex-direction(column-reverse);

		.wp-block-image .alignright {
			float: none;
    		margin: 0 auto;	
			max-width: 80%;	
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		margin-left: -50vw;
		background: #d1dee9a3;
		z-index: -1;
	}
}

// Course
.course-secondary-header {
	margin-bottom: 20px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(flex-end);
	@include flex-wrap(wrap);

	gap: 15px;

	.is-course-search-loading {
		position: relative;

		.loading-action {
			position: absolute;
			right: 5px; top: 13px;
			border-color:#9E9E9E transparent;
		}
	}
	
	@media (max-width:575px) {
		.select-wrap, .select-wrap select {
			width:100%;
		}
	}
}
.instructor-info {
	@include flexbox();
	@include align-items(center);

	.instructor-avatar {
		min-width: 38px;
		width: 38px;
		height: 38px;
		margin-right: 15px;
		background: #575861;
		border-radius: 50px;
		padding: 5px;
		svg {
			vertical-align: middle;
			color: #fff;
		}
	}
	.instructor-data {
		line-height: 1;
		small {display: block; margin-bottom: 5px; font-size: 11px; font-weight: 500; text-transform: uppercase; opacity: 0.7;}
		strong {display: block; font-size: 16px;}
	}
}

.instructor-datainfo {

	.instructor-info-title {
		@include flexbox();
	
		.instructor-avatar {
			min-width: 120px;
			width: 120px;
			height: 120px;
			margin-right: 30px;
			background: #dedede;
			border-radius: 50%;
			padding: 20px;
			svg {
				vertical-align: middle;
				width: 100%;
				color: $primary;
			}
		}
		.instructor-data {
			padding-top: 10px;
			.instructor-data-head {

				@include flexbox();
				@include flex-direction(column);
				line-height: 1;

				small {margin-bottom: 5px; font-size: 11px; font-weight: 500; text-transform: uppercase; opacity: 0.7;}
				h3 {font-size: 26px; margin-bottom: 5px;}

			}

			.instructor-designation {
				font-size: 14px;
				color: $primary;
			}

			.instructor-meta {
				margin-top: 15px;
				@include inline-flex;
				@include flex-wrap(wrap);
				@include align-items(center);

				em {
					opacity: 0.3;
					font-style: normal !important;
					padding: 0px 5px;
				}

				.meta-box {
					@include inline-flex;
					gap: 10px;
					
					svg {
						width: 18px;
						height: 18px;
						color: $primary;
					}
				}
			}

		}
		.instructor-data-bio {
			margin-top: 15px;
		}
	}
	
}

.course-details-section {
	padding: 50px 0;

	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 370px;
	grid-gap: 50px;

	@media (max-width:1200px) {
		grid-template-columns: 1fr 320px;
		grid-gap: 30px;
	}

	@media (max-width:768px) {
		grid-template-columns: 1fr;
		grid-gap: 30px;

		.course-content {
			order: 2;
		}
		.course-sidebar {
			order: 1;
		}
	}


	.course-content {

	}
	.course-sidebar {

		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.07);
		padding: 15px;
		height: fit-content;

		position: relative;
		margin-top: -150px;
		z-index: 2;

		@media (max-width:1200px) { 
			margin-top: -120px;
		}
	}

	.course-sidebar-preview {
		.course-image {
			border-radius: 5px;
			overflow: hidden;
		}
	}
	.course-sidebar-content {
		padding: 30px 15px 20px;

		@media (max-width:768px) { 
			padding: 20px 0px 20px;
		}
	}

	.course-widget-title {
		font-size: 16px;
		margin:0 0 15px;
	}

	.course-meta-info {
		margin: 0px 0px 15px;
		padding: 0px;

		li {
			display: grid;
			grid-template-columns: 24px 1fr 1fr;
			grid-gap: 15px;
			padding: 10px 0;

			& + li {
				border-top: 1px solid #F5F5F5;
			}
		}


		.info-icon {
			.lnr {
				font-size: 20px;
			}
		}
		.info-title {
			
		}
		.info-value {
			margin-left: auto;
			font-size: 14px;
			text-align: right;
			line-height:1.5;
			color: #000;
			font-weight: 500;

			&.course-price {
				font-size: 20px !important;
				color: #4caf50;
			}
		}

	}
	.course-sidebar-action {
		padding-top: 15px;
		.btn, .button {
			width: 100%;
		}
	}

	.form-select {
		width: 100%;
		font-size:14px;
		letter-spacing: -1px;
	}
}

.courses-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;

	@media (min-width:993px) {
		&.courses-grid-columns-4 {
			-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 20px;
		}
	}

	@media (max-width:992px) {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	@media (max-width:575px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
	}

	.grid-column-full {
		grid-column:1/5;
	}

	.course-entry {
		background: #fff;
		border: 1px solid #D6D9DD;
		border-radius: 10px;
		overflow: hidden;

		@include flexbox();
		@include flex-direction(column);

		&:hover {
			box-shadow: 0 3px 24px 0 rgba(18,43,70,.08);

			.course-entry-img .course-thumb-img img {
				@include transform(scale(1.05));
			}
		}

		.course-entry-img {
			overflow: hidden;
			position: relative;

			.course-thumb-img {
				img {
					@include transition(0.3s, ease-in-out);
					@include transform(scale(1));
				}
			}
		}
		.course-entry-body {
			padding: 15px 20px 0 !important;
			// flex: 1 1 auto!important;
			flex-grow:1;

			.course-title {
				font-size: 18px;
				margin-bottom: 15px;
				list-style: 1.3;

				a {
					color: #000;
					text-underline-offset: 4px;
					&:hover, &:focus {
						color: $primary;
						text-decoration: underline;
					}
				}
			}
		}
		.course-entry-action {
			padding: 0 20px 20px;
			.instructor-info {
				margin-top: 0px !important;
			}
			.button {
				padding: 10px 15px;
			}
		}

		.course-categories {
			margin-bottom: 15px;

			span {
				padding: 8px 14px;
				font-size: 12px;
				line-height: 1;
				color: var(--cat-color, #747474);
				background-color: var(--cat-color-bg, #eceef1);
				border-radius: 50px;
				font-weight: 500;
				display: inline-block;
				margin-right: 8px;
			}
		}

		.course-meta-info {
			margin-bottom: 15px;

			&.flex-col2 {
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
				@include flex-wrap(wrap);
			}

			.instructor-info {
				margin-top: 20px;
			}

			.course-price {
				font-size: 16px !important;
				color: #4caf50;
			}

			.course-venue {
				font-size: 12px;

				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
				gap: 6px;
			}
		}

		.course-meta-date {
			line-height: normal;
			small {margin-bottom: 3px; font-size: 10px;}
			strong {font-size: 14px; font-weight: 500;}
		}

		.instructor-info {
			.instructor-avatar {
				min-width: 28px;
				width: 28px;
				height: 28px;
				margin-right: 10px;
				padding: 5px;
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				opacity: 0.7;
			}
			.instructor-data {
				small {margin-bottom: 3px; font-size: 10px;}
				strong {font-size: 14px; font-weight: 500;}
			}
		}
	}
}

.collapse-item {
	// padding: 10px 0;
	// border-bottom: 1px solid #E6EAEA;
	box-shadow: 0px 10px 50px 0px rgba(26,46,85,0.07);
	margin-bottom: 10px;

	&:first-child {
		padding-top: 0px;
	}

	&.is-open {
		.collapse-title{
			h3 {
				color: $primary;
				font-weight: 700;
				margin: 5px 0 0;
			}
			&:after {
				@include transform(rotate(45deg));
			}
		}
	}
	&:hover, &:focus {
		.collapse-title {
			h3 {
				color: $primary;
			}
			&:after {
				filter: brightness(0);
			}
		}
	}

	.collapse-title {
		@include flexbox();
		@include align-items(flex-start);
		text-align: left;
		cursor: pointer;
		background-color: #fff;
		border: none;
		width: 100%;
		padding: 0;
		@include border-radius(4px);	
		padding: 12px 15px;

		&:after {
			content: "";
			width: 24px;
			height: 24px;
			-webkit-box-flex: 0;
			-ms-flex: none;
			flex: none;
			margin-left: auto;
			background: url(../images/collapse.svg) no-repeat center center;
			background-size: contain;
			@include transition(0.2s, ease-in-out);
			margin-top: 3px;
		}
		h3 {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 0;
			@media (max-width:767px) {
				font-size: 16px;
				padding-right: 50px;
			}
		}
	}
	.card-content {
		a {
			font-size: 16px;
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}
	.collapse-body {
		margin-top: 20px;
		padding: 0px 40px 15px 15px;
		
	}
}

.wp-block-details {
	box-shadow: 0px 10px 50px 0px rgba(26,46,85,0.07);
	margin-bottom: 10px;
	&[open] {
		summary {
			color: $primary;
			&::before { 
				background-color:$primary;
				color: #fff;
			}
		}
	}
	summary {
		color: #000;
		font-weight: 700;

		background-color: #fff;
		border: none;
		width: 100%;
		padding: 0;
		@include border-radius(4px);	
		padding: 12px 15px;

		position: relative;
		@include flexbox();
		@include align-items(center);

		&::before {
			content: 'Q';
			background-color: #e4eaf7;
			color: #373737;
			font-weight: 600;
			border-radius: 50px;
			width: 24px;
			height: 24px;
			margin-right: 12px;
			line-height: 1;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}


		& + :first-child {
			margin-top: 15px;
		}
	}

	p {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
	}
	ul{
		padding-left: 40px;
        margin: 0px 0px 20px;
		li {
			list-style: disc;
			margin-bottom: 10px;
			&::marker {
				color: $primary;
				font-size: 22px;
    			line-height: 1;
			}
		}
	}
	ol {
        padding-left: 20px;
        margin: 0px 0px 30px;
		@media (max-width:991px) {
			margin-bottom: 25px;
		}
		li {
			padding-left: 5px;
			list-style: decimal;
			margin-bottom: 10px;
			&::marker {
				color: $primary;
				font-weight: 500;
			}
		}
	}
}

.course-recent-post {
	background: #ecf2f6;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding: 50px 0;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow: hidden;
	margin-bottom: 50px;
}


.units-dashboard-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;

	@media (max-width:767px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}

.btn-file:before{margin: 0 10px 0 5px;}
a[href$=".docx"]:before, a[href$=".doc"]:before {content:url(../images/icons/docx.png);}
a[href$=".pttx"]:before, a[href$=".ptt"]:before {content:url(../images/icons/pttx.png);}
a[href$=".xlsx"]:before, a[href$=".xls"]:before {content:url(../images/icons/xlsx.png);}
a[href$=".pdf"]:before {content:url(../images/icons/pdf.png);}
a[href$=".txt"]:before {content:url(../images/icons/document.png);}
a[href$=".zip"]:before, a[href$=".rar"]:before {content:url(../images/icons/zip.png);}


// Blog / News
.blog-section {
	padding: 50px 0;
	@media (max-width:767px) {
		padding: 20px 0 40px;
	}
}
.single-header {
	padding: 50px 0;
	@media (max-width:767px) {
		padding: 20px 0 40px;
	}
	h1.post-title {
		font-weight: 700;
		word-break: break-word;	
		margin: 30px 0px 30px;
		@media (max-width:767px) {
			margin: 30px 0px 50px;
		}
	}

	.post-image {
		@include border-radius(20px);
		overflow: hidden;
		padding: 0px;
		margin: 0px;

		&.ratio-4x2 {
			--bs-aspect-ratio:50%;
		}
	}

	.is-shape-lt {
		position: relative;
		margin-top: 70px;
		@media (max-width:767px) {
			margin-top: 40px;
		}

		&::before {
			content: '';
			background: url(../images/shape-right-primary.svg) top right no-repeat;
			background-size: contain !important;
			position: absolute;
			right: 0px;
			width: 616px;
			height: 265px;
			top: -35%;
			@media (max-width: 1300px) {
				top: -40%;
			}

			@media (max-width: 992px) {
				top: -30%;
				width: 50%;
			}
		}
	}
}

.main-category-nav {
	padding: 60px 0px;

	@media (max-width:767px) {
		padding: 25px 0 10px;

		.container {
			margin: 0px;
			padding: 0px;
			max-width: 100%;
			.category-navs {
				padding-left:15px;
				padding-right:15px;
			}
		}
	}

	.category-navs {
		width: 100%;
		padding-bottom: 25px;
		border-bottom: 1px solid #E6EAEA;

		@media (max-width:767px) {
			padding-bottom: 15px;
		}

			overflow-y: auto;
			scrollbar-width: thin;
			
			&::-webkit-scrollbar {
				background-color: transparent;
				width: 4px;
				height: 4px;
				border-radius: 16px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #e4e4e4;
				border-radius: 16px;
				&:hover {
					background-color: #000 !important;
				}
			}
			&::-webkit-scrollbar-track {
				background-color: rgba(#e4e4e4, 0.2);
			}
	}

	.category-nav {
		// @include inline-flex;
		@include flexbox();
		@include align-items(center);
		// @include justify-content(center);
		@include flex-wrap(nowrap);
		
		li {
			margin-right: 50px;
			@media (max-width:767px) {
				margin-right: 20px;
			}
		}

		a {
			text-decoration: none;
			color:rgba(#002B31, 0.6);
			white-space: nowrap;

			&:hover, &:focus {
				color: var(--cat-color, $secondary);
				text-decoration: underline;
			}

			&.active {
				font-weight: bold;
				color: #000;
				text-decoration: underline;
			}
		}

	}

}

.post-meta-author {
	@include flexbox();
	@include align-items(center);
	.post-avatar {
		flex: none;
	}
	.post-data {
		margin-left: 15px;
		.post-user-name {
			font-weight: 600;
			font-size: 18px;
			color: #002B31;
			margin-bottom: 0;
		}
		.post-date {
			font-weight: 400;
			font-size: 16px;
			display: block;
			margin: 0px;
			color: rgba(#002B31, 0.6);
		}
	}
	img {
		width: 44px;
		height: 44px;
		object-fit: cover;
		margin: 0px;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		@include border-radius(100%);
		background: #fff;
	}
}

.blog-meta-info {
	@include flexbox(); 
	@include align-items(center);
	@include flex-wrap(wrap);
	gap: 15px;

	.blog-meta-badge {
		padding: 10px 14px;
		font-size: 13px;
		line-height: 1;
		// color: #7177F8;
		// background-color: #F5F8FB;

		color: var(--cat-color, #7177F8);
		background-color: var(--cat-color-bg, #F5F8FB);

		border-radius: 50px;
		font-weight: 700;
	}
	a.blog-meta-badge {
		@include transition(0.2s, ease-in-out);
		text-decoration: none;

		&:hover, &:focus {
			background: var(--cat-color, $primary);
			color: $white;
		}
	}

	.date-time {
		font-size: 13px;
		color: rgba(#002B31, 0.6);
	}
}

.blog-post-hero {
	
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-gap: 30px;

	@media (min-width:768px) {
		-ms-grid-columns: 1fr 30px 55fr 30px 45fr;
		grid-template-columns: 55fr 45fr;
	}
	

	.post-thumb-img {
		overflow: hidden;
		@include border-radius(20px);
		display: block;
		position: relative;
		@include transition(0.2s, ease-in-out);
		img{
			width: 100%;
			object-fit: cover;
			object-position: center;
		}

		&:hover, &:focus {
			@include box-shadow(0 0 15px rgba(0,0,0,0.2));
			@include transform (scale(1.03));
		}
	}
	
	.blog-post-inner {
		@media (max-width:1199px) {
			padding: 0px 15px;
		}
	}

	.post-title{
		font-weight: bold;
		font-size: 36px;
		margin: 40px 0 20px;
		color: #002B31;
		display: inline-block;

		@media (max-width:767px) {
			margin: 20px 0 15px;
		}
		a{
			@include transition(0.2s, ease-in-out);
			color: #002B31;
			text-decoration: none;
			text-underline-offset: 5px;

			&:hover, &:focus {
				color: $secondary;
				text-decoration: none;
			}
		}
	}
	.post-content {
		margin-bottom: 40px;
		@media (max-width:767px) {
			margin-bottom: 20px;
		}
	}
	
	.post-meta-time {
		font-size: 13px;
		color: rgba(#002B31, 0.6);
	}
	
}

.blog-post {
	position: relative;
	height: 100%;
	// overflow: hidden;
	@include flexbox();
	@include flex-direction(column);
	@include border-radius(20px);
	
	// border: 1px solid #eeeeee;
	background: #fff;

	&:hover, &:focus {
		// border-color: $primary;
		// @include box-shadow(0 0 15px rgba(0,0,0,0.2));
		// @include transform (scale(1.1));

		.post-thumb-img {
			@include transform (scale(1.03));
		}
	}

	.post-thumb-img {
		overflow: hidden;
		@include border-radius(20px);
		position: relative;
		z-index: 2;
		@include transition(0.3s, ease-in-out);

		img{
			width: 100%;
			object-fit: cover;
			object-position: center;
			vertical-align: bottom;
		}
	}
	
	.blog-post-inner {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 20px;
		position: relative;
		z-index: 1;
		@include flexbox();
		@include flex-direction(column);
		@media (max-width:1199px) {
			padding: 15px;
		}
	}

	.z-up {
		position: relative;
		z-index: 9;
	}
	
	.post-title{
		font-weight: 600;
		font-size: 22px;
		margin: 20px 0;
		@media (max-width:767px) {
			margin: 15px 0;
		}
		a{
			@include transition(0.3s, ease-in-out);
			color: #002B31;
			text-decoration: none;
			&:hover, &:focus {
				color: $secondary;
				text-decoration: none;
			}
		}
	}
	.post-content {
		margin-bottom: 20px;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		@media (max-width:767px) {
			margin-bottom: 15px;
		}
	}
	.post-meta-block {
		margin-top: auto;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	.post-action-block {
		margin-left: auto;
		svg{
			width: 24px;
			fill: $primary;
		}
	}
}

.single-section {
	padding-bottom: 100px;

    @media (max-width: 1350px) {
		padding-bottom: 50px;
    }
	@media (max-width: 767px) {
		padding-bottom: 40px;
    }

	.single-row-grid {
		display: -ms-grid;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;

		@media (min-width:992px) {
			grid-gap: 60px;
			grid-template-columns: 1fr 280px;

			&.job-single-row-grid {
				grid-template-columns: 1fr 340px;
			}
		}
	}

	.post-sidebar {
		position: sticky;
		top: 95px;
	}

	.post-aside-cta {
		background: #F1FAF9;
		text-align: center;
		padding: 40px 30px;
		@include border-radius(16px);
		margin-bottom: 30px;

		h3 {
			font-size: 22px;
		}
		p {
			font-size: 14px;
			color: rgba(#002B31, 0.6);
		}
	}

	.form-aside-job {
		background: #F1FAF9;
		padding: 40px 30px;
		@include border-radius(16px);
		margin-bottom: 30px;

		h3 {
			font-size: 22px;
		}
		p {
			font-size: 14px;
			color: rgba(#002B31, 0.6);
		}
	}
}

.post-content {

	figure{
		margin-bottom: 30px;
		@media (max-width:991px) {
			margin-bottom: 25px;
		}
	}
	.wp-caption {
		width: auto !important;
		margin-bottom: 30px;
		.wp-caption-text {
			padding-top: 10px;
			font-size: 12px;
			color: rgba(#002B31, 0.6);
		}

		a {
			display: block;
			&:hover, &:focus {
			opacity: 0.8;
			cursor: zoom-in;	
			}
		}
	}

	img {
		max-width: 100%;
		object-fit: cover;
		border-radius: 20px;
	}
	p{
		margin-bottom: 20px;
	}
	h2,h3,h4,h5,h6{
		margin-bottom: 20px;
	}
	& > h2:not(:first-child),& > h3:not(:first-child),& > h4:not(:first-child),& > h5:not(:first-child),& > h6:not(:first-child){
		margin-top: 30px;
	}

	ul{
		padding-left: 20px;
        margin: 0px 0px 30px;
		@media (max-width:991px) {
			margin-bottom: 25px;
		}
		li {
			list-style: disc;
			margin-bottom: 10px;
			&::marker {
				color: $primary;
				font-size: 22px;
    			line-height: 1;
			}

			ul {
				margin: 5px 0px 20px;
				li {
					list-style: disc;
					margin-bottom: 5px;
					&::marker {
						color: $secondary;
						font-weight: 500;
						font-size: 18px;
					}
				}
			}
			ol {
				margin: 5px 0px 20px;
				li {
					margin-bottom: 5px;
					&::marker {
						color: $secondary;
						font-weight: 500;
						font-size: 15px;
					}
				}
			}
		}
	}
	ol {
        padding-left: 20px;
        margin: 0px 0px 30px;
		@media (max-width:991px) {
			margin-bottom: 25px;
		}
		li {
			padding-left: 5px;
			list-style: decimal;
			margin-bottom: 10px;
			&::marker {
				color: $primary;
				font-weight: 500;
			}

			ul {
				margin: 5px 0px 20px;
				li {
					list-style: disc;
					margin-bottom: 5px;
					&::marker {
						color: $secondary;
						font-weight: 500;
						font-size: 18px;
					}
				}
			}
			ol {
				margin: 5px 0px 20px;
				li {
					margin-bottom: 5px;
					&::marker {
						color: $secondary;
						font-weight: 500;
						font-size: 15px;
					}
				}
			}
		}
	}

	iframe {
		max-width: 100%;
		border-radius: 20px;
	}

	.table-responsive {
		margin-bottom: 30px;
		max-width: calc(100vw - 30px);
	}
	table {
		padding: 0px; font-size: 14px; border-collapse: collapse; text-align: left; margin-bottom: 30px; width: 100%; border: 1px solid #b5ddd8;
		@include border-radius(5px); 
		thead {
			background: #45e0cf; 
			tr {
				th {
					padding: 8px 15px; color: #002B31; font-weight: 700; word-break:initial;
					& * {color: #002B31;}
				}
			}
		} 
		tbody {
			tr {
				&:nth-child(even){
					background: #F1FAF9;
				}
				td {	
					padding: 8px 15px; color: $black; word-break:initial;
				}
			}
		} 
		@media(max-width: 1200px) {
			thead tr th, tbody tr td {
				padding: 8px 15px;
			}
		}
		@media(max-width: 767px) {
			thead tr th, tbody tr td {
				font-size: 14px;
			}
		}
	}
}

blockquote {
	position: relative;
	padding:0 0 0 28px;
	margin-bottom: 20px;
	background: transparent;
	border: 0;
	color: #33555A;
	font-size: 16px;

	@media (max-width: 767px) {
		padding:0 0 0 20px;
		font-size: 14px;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		background-color: $secondary;
		width: 4px;
		height: 100%;
		border-radius: 10px;
	}

	a {
		color: $secondary;
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.post-navigation{
	width:100%;
	display:block; 
	padding-top: 50px;
	margin-bottom:30px;
	@media(max-width: 767px) {
		padding-top: 30px;
		margin-bottom:20px;
	}

	.navigation {
		width: 100%;
		display: block;
		&:last-child {
			margin-bottom: 0;
		}
		.screen-reader-text {
			font-size: 13px;
			font-weight: 500;
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
			padding-bottom: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $black;
		}
		.nav-links {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			overflow-wrap: break-word;
			word-wrap: break-word;
			hyphens: auto;
			.nav-previous {
				flex: 1;
				width: 50%;
				border-right: 1px solid #eee;
				position: relative;
				line-height: 1.3;
				padding-right: 20px;
				display: grid;
				grid-template-columns: 10px 1fr;
				grid-gap: 10px;
				align-items: baseline;
				&:before {
					content: "«";
					color: #002B31;
					display: inline-block;
					font-family: arial;
					line-height: 1;
				}
			}
			.nav-next {
				flex: 1;
				width: 50%;
				padding-left: 20px;
				text-align: right;
				position: relative;
				line-height: 1.3;
				display: grid;
				grid-template-columns: 1fr 10px;
				grid-gap: 10px;
				align-items: baseline;

				&:after{content: "»"; display: inline-block; color: #002B31; font-family: arial; line-height: 1;}
			}

			a {
				color: $secondary; 
				text-decoration: none; 
				font-size: 13px; 
				text-underline-offset: 4px;
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
	
	.page-links{width:100%;display:block;border-top:1px solid #eee;padding-top:20px; }
}


.share-socials {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);

	span { font-weight: 600;}
	.social-media-icons {
		@include flexbox();
		@include align-items(center);
		@include flex-wrap(wrap);
		gap: 10px;

		list-style: none !important;
		margin: 15px 0px 0px !important; padding: 0px !important;
		
		li{
			list-style: none !important;
			margin: 0px !important;
			padding: 0px !important;
			a{
				display: block;
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				@include transition(0.3s, ease-in-out);
				padding: 0px;

				svg {
					width: 28px;
					height: 28px;
				}

				&:focus, &:hover {
					color: $black;
					opacity: 0.8;
					svg, path {
						// fill : #000
					}
				}
				
			}
		}
	}
}


/* SIDEBAR */
.sidebar{
	width: 100%; display: block; 
	padding-bottom: 50px;
	@media (min-width:992px) {
		padding-left: 40px;
	}
	.widget{width: 100%; @include flexbox(); @include flex-wrap(wrap); margin-bottom: 30px; font-size: 13px;
		@media (min-width:992px) {
			border: 20px solid #f3f6fa; background: #fff; padding: 20px; 
		}
	}
	.widget-title{ width: 100%; display: block; border-bottom: 1px solid #f3f6fa; font-size: 13px; font-weight: 700; text-transform: uppercase; color: $primary; letter-spacing: 2px; padding-top:10px; padding-bottom: 20px; margin-bottom: 20px;}
	
	ul{width:100%; display:block; margin:0; padding:0; font-size:14px;
		li{width:100%; display:block; margin-bottom:10px; list-style:none; color:#727479;
			ul{padding-left:20px;}
			a { margin:0; color:$black; 
				&:hover,&:focus {
					color: $primary;
				}
			}
		}
	}
}

.widget_icw_recent_posts .media{overflow:hidden;display:flex;align-items:center; margin-bottom:15px;}
.widget_icw_recent_posts .pull-left{float:left;height:60px;width:60px;}
.widget_icw_recent_posts .pull-left img{min-height:60px;min-width:60px; -webkit-border-radius: 15px;-webkit-border-bottom-left-radius: 4px;}
.widget_icw_recent_posts .media-body{padding-left:10px;}
.widget_icw_recent_posts .media-body a, .widget_icw_recent_posts a.media{color:#000;}
.widget_icw_recent_posts .media-body a:hover, .widget_icw_recent_posts a:hover.media{color:$primary;}

/* PAGINATION */
.pagination{ width: 100%; @include flexbox(); @include flex-wrap(wrap); margin: 0;
	.page-item{display: inline-block;
		.page-link{ height: 60px; line-height: 60px; padding: 0 40px; border-radius: 0 !important; font-size: 12px; font-weight: 600; color: $black; outline: none !important;
			&:focus{outline: none !important;}}}}

/* DEFAULT WP PAGINATION */
.icw-pagination {
    padding: 50px 0px;
    text-align: center;
    @include flexbox(); @include flex-wrap(wrap); @include justify-content(center);
}
.page-numbers{height: 45px; line-height: 45px; display: inline-block; padding: 0 20px; border-radius: 4px !important; font-size: 12px; font-weight: 600; color: $black; outline: none !important; border: 1px solid #dee2e6; margin: 0px 2px 4px;
	&.current{background: $primary; color: #fff;}
	&:hover{ background: $primary; color: #fff; text-decoration: none;}}


// Unit's Dashboard
.units-dashboard {
	background: #fafbfd;
	.icw-tab-wrapper {
		padding-top: 30px;
		.icw-tabs {
			.icw-tab-link {
				font-size: 14px;
				a {
					color: $black;
				}
				&.active {
					border-color: $primary;
					a {
						color: $primary	;
					}
				}
			}
		}
	}
}
.page-title {
	margin: 30px 0;
	h1 {
		font-size: 30px;
		margin: 0;
	}
}
.grid-block {
	margin-bottom: 40px;
	.title {
		@include flexbox;
		@include align-items(center);
		margin-bottom: 20px;
		h2 {
			font-size: 24px;
			margin: 0;
		}
		.icw-badge {
			margin-left: 10px;
			font-size: 18px;
			padding: 5px 10px;
		}
	}
}
.grid-row {
	display: grid;
	grid-gap: 30px;
	grid-row-gap: 30px;
	&.grid-two-col {
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: 767px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.card-block {
	border: 1px solid rgb(228, 228, 231);
	background: #ffffff;
	@include border-radius(10px);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	padding: 30px;
	min-width: 0;
	@media (max-width: 992px) {
		padding: 20px;
	}
	.card-title {
		margin-bottom: 20px;
		border-bottom: 1px solid rgb(228, 228, 231);
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
		h3 {
			margin: 0;
			font-size: 20px;
			margin-bottom: 20px;
			line-height: 1;
			@media (max-width: 767px) {
				margin-bottom: 15px;
			}
		}
	}
	.card-body {
		.card-field {
			@include flexbox;
			@include align-items(center);
			padding: 10px 0;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
			.label {
				color: #9B9C9F;
				font-size: 14px;
				width: 50%;
				@media (max-width: 992px) {
					width: auto;
				}
			}
			.data {
				color: #5A5A5A;
				font-size: 14px;
				@media (max-width: 992px) {
					margin-left: auto;
				}
			}
		}
		.card-info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
			@media (max-width: 1440px) {
				gap: 15px;
			}
			@media (max-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
				& > :first-child {
					grid-column: 1 / -1;
				}
			}
			.card-field {
				display: block;
				padding: 0;
				&:not(:last-child) {
					border-right: 1px solid rgb(228, 228, 231);
				}
				@media (max-width: 992px) {
					&:first-child {
						border-right: none;
						border-bottom: 1px solid rgb(228, 228, 231);
						margin-bottom: 10px;
						padding-bottom: 10px;
						text-align: center;
					}
				}
				.label {
					width: 100%;
					margin-bottom: 15px;
					font-size: 16px;
					color: $black;
					small {
						color: #9B9C9F;
					}
					@media (max-width: 1440px) {
						font-size: 14px;
					}
				}
				.data {
					font-size: 22px;
					color: $black;
					letter-spacing: -1px;
					.icw-badge {
						font-size: 22px;
						padding: 5px 10px;
					}
					@media (max-width: 1440px) {
						font-size: 20px;
						.icw-badge {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}