.bp-feedback {
	@include flexbox;
    @include align-items(stretch);
	box-shadow: none;
    border: 1px solid #d6d9dd;
    background-color: $white;
    @include border-radius(6px);
    color: #5a5a5a;
	span.bp-icon {
		@include flexbox;
		@include align-items(center);
		@include border-radius(5px 0 0 5px);
		color: #fff;
		position: relative;
		padding: 0 5px;
		width: 100%;
		max-width: 40px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 16px;
	}
	p, .bp-info {
		font-size: 14px;
		line-height: 1.5;
		padding: 10px;
		color: #5a5a5a;
	}
	&.success {
		span.bp-icon {
			background-color: #14b550;
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="white"/></svg>');
		}
	}
	&.loading {
		span.bp-icon {
			background-color: #ed9615;
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" fill="white"/></svg>');
		}
	}
	&.help {
		span.bp-icon {
			background-color: #385dff;
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M367.2 412.5C335.9 434.9 297.5 448 256 448s-79.9-13.1-111.2-35.5l58-58c15.8 8.6 34 13.5 53.3 13.5s37.4-4.9 53.3-13.5l58 58zm90.7 .8c33.8-43.4 54-98 54-157.3s-20.2-113.9-54-157.3c9-12.5 7.9-30.1-3.4-41.3S425.8 45 413.3 54C369.9 20.2 315.3 0 256 0S142.1 20.2 98.7 54c-12.5-9-30.1-7.9-41.3 3.4S45 86.2 54 98.7C20.2 142.1 0 196.7 0 256s20.2 113.9 54 157.3c-9 12.5-7.9 30.1 3.4 41.3S86.2 467 98.7 458c43.4 33.8 98 54 157.3 54s113.9-20.2 157.3-54c12.5 9 30.1 7.9 41.3-3.4s12.4-28.8 3.4-41.3zm-45.5-46.1l-58-58c8.6-15.8 13.5-34 13.5-53.3s-4.9-37.4-13.5-53.3l58-58C434.9 176.1 448 214.5 448 256s-13.1 79.9-35.5 111.2zM367.2 99.5l-58 58c-15.8-8.6-34-13.5-53.3-13.5s-37.4 4.9-53.3 13.5l-58-58C176.1 77.1 214.5 64 256 64s79.9 13.1 111.2 35.5zM157.5 309.3l-58 58C77.1 335.9 64 297.5 64 256s13.1-79.9 35.5-111.2l58 58c-8.6 15.8-13.5 34-13.5 53.3s4.9 37.4 13.5 53.3zM208 256a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" fill="white"/></svg>');
		}
	}
	&.error {
		span.bp-icon {
			background-color: #db222a;
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="white"/></svg>');
		}
	}
	&.info,
	&.warning {
		span.bp-icon {
			background-color: #ed9615;
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="white"/></svg>');
		}
	}
}

.group-separator-block {
    background: #ffffff;
    border: 1px solid #d6d9dd;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;

	.group-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		@include justify-content(space-between);
		@include flex-wrap(wrap);

		gap: 20px;

		border-bottom: 1px solid #d6d9dd;
		margin: 0 0 30px;
		padding: 0px 0 10px;

		h2, .entry-title {
			font-size: 20px;
			color: #000;
			margin: 0px;
			padding: 0px;
		}
	}
}


.course-dropdown-select {
	position: relative;
	margin-top: 15px;
	.course-date-toggle {
		border: 1px solid rgba(0, 0, 0, 0.4);
		background: rgba(0, 0, 0, 0.02);
		position: relative;
		display: grid; 
		grid-template-columns: auto 45%;
		text-align: left;
		padding: 12px 0;
		@include border-radius(6px);
		width: 100%;
		&::after {
			content: '';
			background-image: url('data:image/svg+xml; utf8,<svg width="100%" height="100%" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.67379 1.0566C0.869052 0.861341 1.18564 0.861341 1.3809 1.0566L2.99952 2.67523L4.61997 1.05642C4.81533 0.861261 5.13191 0.861421 5.32708 1.05678C5.52224 1.25214 5.52208 1.56873 5.32672 1.76389L2.99916 4.08908L0.67379 1.76371C0.478528 1.56845 0.478528 1.25187 0.67379 1.0566Z" fill="rgb(30 33 50)"></path></svg>');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			width: 10px;
			height: 10px;
			position: absolute;
			top: calc(50% - 5px);
			right: 10px;
			@include transition(0.2s, ease-in-out);
		}
		&.active {
			&::after {
				@include transform(rotate(180deg));
			}
		}
	}
	.course-date {
		padding: 0 15px;
		height: 100%;
		&:not(:last-child) {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		strong {
			font-size: 11px;
			display: block;
			color: rgba(0, 0, 0, 0.5);
			margin-bottom: 5px;
			padding-top: 8px;
			&:first-child {
				padding-top: 0;
			}
		}
		.value {
			color: #000;
			font-size: 13px;
			display: block;
			line-height: 1.3;
		}
	}
	.course-dropdown-date {
		background: #fff;
		-webkit-box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.12), 0 3px 8px 0 rgba(0, 0, 0, 0.06);
		box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.12), 0 3px 8px 0 rgba(0, 0, 0, 0.06);
		@include border-radius(10px);
		padding: 10px 0;
		width: 100%;
		position: absolute;
    	top: calc(100% + 5px);
		@include transition(0.1s, ease-in-out);
		@include transform(translateY(5px));
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		max-height: 400px;
		overflow: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 5px;
			height: 5px;
			border-radius: 16px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #c1c1c1;
			border-radius: 16px;
		}
		&::-webkit-scrollbar-track {
			background-color: #eeeeee;
		}
		li {
			padding: 8px 0;
			&:not(:last-child) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
			&:hover, &:focus, &.active {
				background: #f2f4f5;
			}
			&.active {
				background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" fill="rgb(56 93 255)"/></svg>');
				background-size: 12px;
				background-repeat: no-repeat;
				background-position:  calc(100% - 5px) 5px; 
			}
			.course-info { 
				border: none;
			}
		}
		.course-date-item {
			display: grid; 
			grid-template-columns: auto 40%;
			background: transparent;
			border: none;
			text-align: left;
			width: 100%;
			padding: 0;

			.course-date {
				
				strong {
					font-size: 10px;
					margin-bottom: 3px;
					padding-top: 8px;
					&:first-child {
						padding-top: 0;
					}
				}
				.value {
					font-size: 12px;
					line-height: 1.2;
				}
				small {
					opacity: 0.8;
				}
			}

		}
		&.active {
			opacity: 1;
			visibility: visible;
			@include transform(translateY(0px));
		}
	}
}

.course-date-splide {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	@include border-radius(6px);
	.splide__arrow {
		width: 15px;
		height: 15px;
		background: #eceef1;
		border: 1px solid rgba(0, 0, 0, 0.1);
		svg {
			width: 7px;
			height: 7px;
		}
		&.splide__arrow--next {
			top: auto;
			bottom: -18px;
		}
		&.splide__arrow--prev {
			top: -18px;
		}
	}	
	.splide__track {
		@include border-radius(6px);
	}
	.course-date {
		padding: 0 15px;
		height: 100%;
		&:not(:last-child) {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		strong {
			font-size: 11px;
			display: block;
			color: rgba(0, 0, 0, 0.5);
			margin-bottom: 5px;
			padding-top: 8px;
			&:first-child {
				padding-top: 0;
			}
		}
		.value {
			color: #000;
			font-size: 13px;
			display: block;
			line-height: 1.3;
		}
	}	
	.course-date-item {
		display: grid; 
		grid-template-columns: auto 40%;
		text-align: left;
		width: 100%;
		padding: 0;
		white-space: nowrap;
		border: 1px solid rgba(0, 0, 0, 0.4);
		background: rgba(0, 0, 0, 0.02);
		@include border-radius(6px);
		padding: 12px 0;
		cursor: pointer;
		&.active {
			background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" fill="rgb(56 93 255)"/></svg>');
			background-size: 12px;
			background-repeat: no-repeat;
			background-position:  calc(100% - 5px) 5px; 
		}
	}
}