html body.post-type-archive-glossary,
body.single-glossary {
       
        @media (min-width:992px) {
        .mainMenu {
            /*
            & > li.current_page_parent:not(.menu-item-object-glossary) {
                > a {
                    // color: #fff;
                    &:hover, &:focus {
                        color: $primary !important;
                    }
                }
            }
            */
            & > li.menu-item-object-glossary > a {
                color: $primary !important;
            }
            /*
            .sub-menu {
                & > li.current_page_parent:not(.menu-item-object-glossary) {
                    > a {
                        color: #fff !important;
                        background: rgba(241, 250, 249, 0.02) !important;
                        &:hover, &:focus {
                            color: $primary !important;
                            background: rgba(241, 250, 249, 0.12) !important;
                        }
                    }
                }
                & > li.menu-item-object-glossary > a {
                    color: #3FE0D0 !important;
                    background: rgba(241, 250, 249, 0.12);
                }
            }
            */
        }
        }

        @media (max-width:992px) {
        .mainMenu {
            /*
            & > li.current_page_parent:not(.menu-item-object-glossary) {
                > a {
                    color: #fff;
                    &:hover, &:focus {
                        color: $primary;
                    }
                }
            }
                */
            & > li.current-menu-parent {
                > a {
                    color: $primary !important;  
                }
            }
            & > li.menu-item-object-glossary > a {
                color: $primary;
            }
            /*
            .sub-menu {
                & > li.current_page_parent:not(.menu-item-object-glossary) {
                    > a {
                        color: #fff !important;
                        &:hover, &:focus {
                            color: $primary;
                        }
                    }
                }
                & > li.menu-item-object-glossary > a {
                    color: $primary !important;
                }
            }
            */
        }
    }
    .main-footer {
        /*
        li.current_page_parent:not(.menu-item-object-glossary) {
            > a {
                color: #99AAAD;
                text-decoration: none;
                &:hover, &:focus {
                    color: $primary;
			        text-decoration: underline;
                }
            }
        }
        */
        li.menu-item-object-glossary > a {
            color: $primary;
            text-decoration: underline; 
        }
    }
}
.back-link {
    @include inline-flex;
    @include align-items(center);
    font-size: 16px;
    color: #C8D0D9;
    text-decoration: none;
    @include transition(0.3s, ease-in-out);
    .icon-back-arrow {
        width: 40px;
        height: 40px;
        background: url('data:image/svg+xml; utf8,<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5059 5.99997H3.91986L6.21286 8.29297C6.30837 8.38522 6.38455 8.49556 6.43696 8.61757C6.48937 8.73957 6.51696 8.87079 6.51811 9.00357C6.51926 9.13635 6.49396 9.26803 6.44368 9.39092C6.3934 9.51382 6.31915 9.62547 6.22525 9.71936C6.13136 9.81326 6.01971 9.88751 5.89681 9.93779C5.77392 9.98807 5.64224 10.0134 5.50946 10.0122C5.37668 10.0111 5.24546 9.98348 5.12346 9.93107C5.00145 9.87866 4.89111 9.80248 4.79886 9.70697L0.79886 5.70697C0.705733 5.61408 0.631847 5.50373 0.581434 5.38224C0.531021 5.26075 0.505072 5.1305 0.505072 4.99897C0.505072 4.86743 0.531021 4.73719 0.581434 4.6157C0.631847 4.49421 0.705733 4.38386 0.79886 4.29097L4.79886 0.290969C4.98663 0.103461 5.2412 -0.0017742 5.50657 -0.00158666C5.77193 -0.00139913 6.02635 0.104196 6.21386 0.291969C6.40137 0.479743 6.5066 0.734313 6.50642 0.999677C6.50623 1.26504 6.40063 1.51946 6.21286 1.70697L3.91986 3.99997H11.5059C11.7711 3.99997 12.0254 4.10533 12.213 4.29286C12.4005 4.4804 12.5059 4.73475 12.5059 4.99997C12.5059 5.26519 12.4005 5.51954 12.213 5.70708C12.0254 5.89461 11.7711 5.99997 11.5059 5.99997Z" fill="white"/></svg>') no-repeat center center;
        box-shadow: 0px 2px 2px 0px #0B20375E;
        border: 1px solid #C8D0D9;
        display: inline-block;
        @include border-radius(8px);
        margin-right: 16px;
        @include transition(0.3s, ease-in-out);
    }
    &:hover, &:focus {
        color: $white;
        .icon-back-arrow { 
            background-position: 7px center;
        }
    }
}
.alphabet-block{
    overflow: hidden;
    margin: 0 0 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #C8D0D9;
    @media (max-width: 767px) {        
        padding-bottom: 30px;
    }
    .alphabet {
        margin: 0;
        list-style: none;    
        @include flexbox;  
        @include align-items(flex-start);
        @include justify-content(space-evenly);
        text-transform: uppercase;
        -ms-flex-pack: distribute;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        overflow-y: hidden; 
        gap: 8px;
        padding-bottom: 5px;
        @media (max-width: 1440px) {
            @include justify-content(flex-start);
        }
        &::-webkit-scrollbar { 
            height: 5px; 
        }
        &::-webkit-scrollbar-track { 
            background: $gray; 
        }
        &::-webkit-scrollbar-thumb { 
            background: $gray50; 
            @include border-radius(3px);
        }
        &::-webkit-scrollbar-thumb:hover { 
            background: $gray75;
        }
        li {
            cursor: default;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            position: relative;
            &.current span{
                color: #ffffff; 
                background: $dark;
                border-color: $dark
            }
            &:not(.active) {
                span {
                    cursor: default; 
                    color: #B0BAC6; 
                    pointer-events: none;
                    background: #F7F8F9;
                    border-color: #F7F8F9;
                }
            }
            span {
                font-size: 12px;
                font-weight: 400;
                cursor: pointer;
                @include flexbox;  
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(7px);
                font-family: $font-jetbrains;
                color: #65717F;
                @include transition(0.3s, ease-in-out);
                background: $white;
                border: 1px solid #C8D0D9;
                width: 40px;
                height: 40px;
                flex: none;
                font-weight: 500;
                &:hover, &:focus {
                    color: $white; 
                    background: $dark;
                    border-color: $dark;
                }
            }
        }
    
    }
}
.result-status {
	@include align-items(center);
    margin-bottom: 40px;
    display: none;
    &.show {
        @include flexbox;
    }
    .btn {
        margin-left: auto; 
        width: 130px;
        &:hover, &:focus {
            background: transparent;
            color: $dark !important;
        }
    }
    &:not(.show) > span {
        display: none;
    }
    .showing {
        display: inline-block; 
        font-size: 14px;
    }
    #showing {
        font-weight: bold; 
        display: inline-block; 
        padding-left: 5px; 
        text-transform: uppercase;
    }
}
.glossary-row {
    columns: 320px 3;
    column-gap: 40px;
    margin-top: 60px;
    @media (max-width: 767px) {        
        margin-top: 40px;
    }
    .glossary-col {
        display: none;
        &.show {
            display: block;
        }
        &:last-child {
            .glossary-item { 
                padding-bottom: 0;
            }
        }
        .glossary-item {
            -moz-column-break-inside: avoid;
            break-inside: avoid;
            padding: 0 0 40px;
            position: relative;
            display: grid;
            grid-column-gap: 15px;
            grid-template-columns: 40px auto;
            span {
                background: $white;
                border: 1px solid #C8D0D9;
                width: 40px;
                height: 40px;
                flex: none;
                font-size: 12px;
                font-weight: 500;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(7px);
                font-family: $font-jetbrains;
                color: #65717F;
                @include transition(0.3s, ease-in-out);
            }
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    a {
                        color: #002B31;
                        text-decoration: none;
                        text-underline-offset: 4px;
                        @include transition(0.3s, ease-in-out);
                        &:hover, &:focus {
                            color: $primary;
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:hover, &:focus {
                span {
                    background: $dark;
                    border-color: $dark;
                    color: $white;
                }
            }
        }
    }
}


.related-glossary {
    margin: 50px auto 0px;
    h2 {font-size: 22px; color: #002B31; font-weight: bold; margin-bottom: 20px;}
}
.related-list {
    padding-bottom: 30px; float: left; width: 100%;

    a {
        background: #F5F8FB;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        color: #7177F8;
        display: inline-block;
        margin: 0 12px 15px 0;
        float: left;
        text-align: center;
        -webkit-transition: background .2s ease-in-out;
        -moz-transition: background .2s ease-in-out;
        -o-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;

        &::after {display: none;}

        &:hover, &:focus {
            background: #7177F8;
            color: #fff;
        }
    }
}


@media only screen and (max-width: 1024px) {
	.alphabet li { min-width: 34px;}
	.result-status { margin-bottom: 20px;}
	.result-status .showing {padding-left: 0px;}

	.glossary-row .glossary-col ul li a {font-size: 16px;}
}