.main-content-wrapper {
   
}
.main-section {
    padding: 100px 0;
    @media (max-width: 992px) { 
        padding: 60px 0;
    }
    &.overtide-top {
        margin-top: -100px;
        position: relative;
        padding-top: 150px;
        @media (max-width: 1200px) {
            padding-top: 110px;
        }
        @media (min-width: 992px) {
            &::before {
                content: '';
                background: $dark;
                filter: blur(25.25px);
                height: 50px;
                width: 100%;
                display: block;
                position: absolute;
                top: -30px;
            }
        }
    }
}
.section-title {
    max-width: 750px;
    margin-bottom: 50px;
    @media (max-width: 767px) { 
        margin-bottom: 40px;
        max-width: 320px;
    }
    &.text-center {
        margin: 0 auto 50px;
        @media (max-width: 767px) { 
            margin: 0 auto 40px;
        }
    }
    .tag {
        border: 1px solid $dark300;
        @include border-radius(25px);
        font-family: $font-jetbrains;
        padding: 8px 16px;
        font-size: 16px;
        color: $dark;
        display: inline-block;
        margin-bottom: 30px;
        @media (max-width: 767px) { 
            font-size: 14px;
        }
    }
    h1, h2, h3 {
        margin-bottom: 25px;
        color: $dark;
    }
    .action {
        margin-top: 25px;
    }
}
.page-header {
    padding: 180px 0;
    position: relative;
    // overflow: hidden;
    background: $dark;
    @media (max-width: 992px) { 
        padding: 120px 0 70px;
    }
    @media (max-width: 767px) { 
        padding: 100px 0 50px;
    }
    .home-header-bg-block { 
        img, video {        
            position: absolute;
            top: 0;
            left: 0;   
            height: 100%;
            width: 100%; 
            background: $dark;
            object-fit: cover;
            @media (max-width: 992px) {
                height: calc(100% - 400px);
            }
        }
    }
    .hero-title {
        position: relative;
        z-index: 3;
        text-align: center;
        max-width: 700px;
        margin: 0 auto 50px;
        h1 {
            color: $white;
            margin-bottom: 20px;
        }
        .sort-info {
            color: $gray75;
            margin-bottom: 30px;
        }
    }
    .hero-slider-block {
        z-index: 2;
        position: relative;
        .splide__track {
            @include border-radius(24px);
        }
        .image-block {
            text-align: center;
        }
    }
    .trusted-logo-block {
        position: relative;
        margin-top: -25%;
        z-index: 1;
        @media (max-width: 1200px) {
            margin-top: -30%;
        }
        @media (max-width: 992px) {
            margin-top: 0;
            padding-top: 70px;
        }
        .title {
            font-family: $font-jetbrains;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1.8px;
            padding-bottom: 20px;
            position: relative;
            z-index: 1;
            span {
                color: $bottlegreen;
            }
            @media (max-width: 992px) {
                text-align: center;
            }
            &::after {
                content: '';
                height: 1px;
                background: rgba($white, 0.15);
                display: block;
                position: absolute;
                width: 100vw;
                left: calc(-50vw + 49%);
                bottom: 0;
                z-index: -1;
            }
        }
    }
}
.logo-list-block {
    margin-top: 50px;
    z-index: 3;
    position: relative;
    @media (max-width: 992px) {
        margin-top: 30px;
    }    
    .logo-list {
        @include flexbox;
        @include flex-direction(row);
        gap: 65px;
        @media (max-width: 1200px) {
            gap: 25px;
        }
        .logo-item {  
            flex: none;
            display: inline;
            span {
                display: inline-block;
                transform-origin: center;
                transform-box: fill-box;                
                img {
                    aspect-ratio: 3/2;
                    @include transition(0.3s, ease-in-out);
                    &:hover, &:focus {
                        @include transform(scale(1.05));
                    }
                }
            }
        }
    }
}
.logo-mask-slider {
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
    -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
    mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
    mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
}
.logo-slider {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    overflow: hidden; 
    margin-left: -15px;
    margin-right: -15px;
    .auto-slider {
        flex-shrink: 0;
        @include justify-content(space-around);
        animation: scrollx 25s linear infinite; 
        gap: 0;
        .logo-item {            
            padding: 0 30px;
            span {
                img {
                    aspect-ratio: unset;
                    min-height: 25px;
                }
            }
        }
    }
}
@keyframes scrollx {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    } 
}
.section-use-case {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    @include border-radius(0 0 24px 24px);
    @media (max-width: 992px) { 
        background-image: unset !important;
    }
}

.tab-block {
    .nav-tabs {
        border: 1px solid $gray400;
        padding: 12px;
        @include border-radius(24px);
        max-width: 750px;
        margin: 0 auto 40px;
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(nowrap);
        gap: 8px;
        overflow: hidden;
        overflow-x: auto;
        @media (max-width: 767px) {
            padding: 8px;
        }
        .tab-link {
            flex: 1;
            background: $dark;
            border: 1px solid $dark300;
            @include border-radius(16px);
            height: 65px;
            padding: 5px 15px;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            @include inline-flex;
            @include align-items(center);
            @include justify-content(center);
            @include transition(0.3s, ease-in-out);
            white-space: nowrap;
            @media (max-width: 767px) {
                height: 48px;
            }
            .icon {
                margin-right: 8px;
                @include transition(0.3s, ease-in-out);
                width: 16px;
                height: 16px;
                flex: none;
                line-height: 0.7;
            }
            &:hover, &:focus, &.active {
                background: $white;
                color: $dark;
                .icon {
                    filter: invert(1);
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            &.show {
                display: block;
            }
            .section-title {
                @media (min-width: 992px) {
                    margin-bottom: 0;
                }
                .tag {
                    padding: 0;
                    border: none;
                    @media (max-width: 992px) {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

.user-info {
    @include flexbox;
    @include align-items(center);
    .user-img {
        @include border-radius(50%);
        margin-right: 25px;
        @media (max-width: 992px) {
            margin-right: 15px;
        }
        img {
            @include border-radius(50%);
            width: 80px;
            height: 80px;
            flex: none;
            @media (max-width: 992px) {
                width: 50px;
                height: 50px;
            }
            @media (max-width: 767px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    .user-detail {
        .name {
            font-size: 24px;
            color: $dark;
            font-weight: 500;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        span {
            font-size: 16px;
            color: $dark300;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

.section-benefits {
    position: relative;
    overflow: hidden;
    .video-bg-block {
        @media (max-width: 767px) {
            display: none;
        }
        img, video {
            max-width: 860px;
            height: 600px;
            object-position: top center;
            left: calc(50% - 430px);
            z-index: -1;
            top: 220px;
            opacity: 0.5;
            @media (max-width: 992px) {
                max-width: 650px;
                height: 400px;
                top: 150px;
                left: calc(50% - 325px);
            }
        }
    }
    .section-title {
        margin-bottom: 100px;
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
    .info-card {
        .card-body {
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(flex-end);
        }
    }
    .benefits-splide-slider {
        @media (min-width: 767px) {
            .splide__slide {
                margin-bottom: 24px;
            }
        }
        @media (max-width: 767px) { 
            .splide__track {
                overflow: visible;
            }
        }
        .info-card {
            @media (max-width: 767px) {
                max-height: 300px;
                min-height: 300px;
            } 
        }
        .image-block {
            img {
                width: 100%;
            }
        }
    }
}
.info-card {
    padding: 40px;
    background: $white;
    border: 1px solid $gray75;
    @include box-shadow(0px 8px 12px rgba(29, 32, 38, 0.05));
    @include border-radius(24px);
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @media (max-width: 992px) {
        padding: 25px;
    }
    .card-icon {
        margin-bottom: 25px;
        img {
            width: 95px;
            height: 95px;
            flex: none;
            @media (max-width: 992px) {
                width: 65px;
                height: 65px;
            }
        }
    }
    .card-body {        
        h3 {
            margin-bottom: 15px;
            color: $dark;
            @media (max-width: 992px) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        .sort-info {
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

.testimonials-splide-slider {
    @media (max-width: 767px) {
        padding-bottom: 60px;
    }
    .splide__track {
        max-width: 850px;
        margin: 0 auto;
    }
}
.testimonial-card {
    max-width: 850px;
    margin: 0 auto;
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @media (max-width: 1200px) {
        max-width: 650px;
    }
    @media (max-width: 992px) {
        max-width: 450px;
    }
    .card-icon {
        margin-bottom: 30px;
        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
        .icon-quote {
            background: url(../images/icons/icon-quote.svg) no-repeat center center;
            background-size: contain;
            width: 80px;
            height: 60px;
            display: inline-block;
            @media (max-width: 992px) {
                width: 55px;
                height: 40px;
            }
        }
    }
    .card-body {
        margin-bottom: 50px;
        flex: 1 1 auto;
        @media (max-width: 992px) {
            margin-bottom: 35px;
        }
        .sort-info {
            font-size: 32px;
            @media (max-width: 1200px) {
                font-size: 28px;
            }
            @media (max-width: 992px) {
                font-size: 18px;
            }
        }
    }
    .card-footer {
        border-top: 1px solid $gray75;
        padding-top: 25px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        .user-info {
            @media (max-width: 767px) {
                @include flex-direction(column);
                @include align-items(flex-start);
            }
            .user-detail {
                @media (max-width: 767px) { 
                    max-width: 120px;
                    .name {
                        font-size: 20px;
                    }
                }
            }
        }
        .logo {
            text-align: right;
            @media (max-width: 767px) { 
                img {
                    max-width: 80%;
                }
            }
        }
    }
}

.with-gradient-border-bg-block {
    background: linear-gradient(0deg, rgba(85, 129, 180, 0.19), rgba(85, 129, 180, 0.19)), rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(17.2px);
    max-width: 560px;
    margin: 0 auto;
    @include border-radius(32px);
    padding: 16px;
    @media (max-width: 767px) {
        padding: 8px;
    }
    .content-block {
        @include border-radius(24px);
        padding: 50px;
        color: $white;
        background: $dark;
        @media (max-width: 767px) {
            padding: 30px;
        }
    }
}
.story-card {  
    height: 100%;
    @include flexbox;
    @include flex-direction(column);      
    .card-body {
        flex: 1 1 auto;
        h3 {
            color: $white;
        }
        .sort-info {
            color: $gray75;
        }
        .logo-block {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            padding-top: 25px;
            margin-top: 25px;
        }
    }
    .card-footer {
        @include flexbox;
        @include align-items(flex-end);
        @include justify-content(space-between);
        margin-top: 70px;
        @media (max-width: 767px) {
            margin-top: 55px;
        }
    }
}
.counter-block {
    .title {
        font-family: $font-jetbrains;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    .count {
        font-size: 48px;
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }
}

.section-blog-post {
    @media (max-width: 992px) {
        .row {
            @include flex-wrap(nowrap);
            overflow: hidden;
            overflow-x: auto;
            & > .col {
                max-width: 300px;
            }
        }
    }
}
.blog-meta-info {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    gap: 15px;
    margin-bottom: 15px;
    .blog-meta-badge {
        color: $dark;
        font-size: 12px;
        font-weight: 500;
        background: $gray;
        border: 1px solid $gray75;
        font-family: $font-jetbrains;
        text-transform: uppercase;
        padding: 7px 16px 5px;
        @include border-radius(8px);
        @include inline-flex;
        width: max-content;
        z-index: 3; 
        position: relative;   
        @include transition(0.3s, ease-in-out);     
        text-decoration: none;
        @media (max-width:767px) {
            font-size: 10px;
        } 
        &:hover, &:focus {
            background: $gray75;
        }
    }
}
.post-card {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    .card-img {
        @include border-radius(16px);
        margin-bottom: 25px;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 240px;
            @include border-radius(16px);
            @include transition(0.3s, ease-in-out);
        }
    }
    .card-body {
        flex: 1 1 auto;
        margin-bottom: 25px;
        .blog-meta-info {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            margin-bottom: 10px;
            .date {
                color: $dark300;
                font-size: 14px;
                padding-right: 20px;
            }
        }
        h3 {
            font-size: 32px;
            letter-spacing: 0.8px;
            margin: 0;
            @media (max-width:767px) {
                font-size: 24px;
            }
            a {
                color: $dark;
                text-decoration: none;
                @include transition(0.3s, ease-in-out);
            }
        }
    }
    .card-footer {
        border-top: 1px solid $gray75;
        padding-top: 25px;
        .written-by {
            font-family: $font-jetbrains;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1.8px;
            color: $dark300;
            margin-bottom: 8px;
        }
        .user-info {
            .user-img {
                margin-right: 12px;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            .user-detail {
                .name {
                    font-size: 16px;
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            img {
                @include transform(scale(1.05));
            }
        }
        .card-body {
            h3 {
                a {
                    color: $primary;
                }
            }
        }
    }
}
.use-case-splide-slider {
    padding: 0;
    .icw-pagination {
        bottom: -100px;
        @media (max-width: 767px) {
            bottom: -70px;
        }
    }
}

.collapse-item {
	padding: 25px 30px;
	border: 1px solid $gray75;
    @include border-radius(16px);
    margin-bottom: 15px;
    @media (max-width:767px) {
        padding: 24px;
    }
	.collapse-title {
		@include flexbox();
		@include align-items(center);
		text-align: left;
		cursor: pointer;
		background-color: transparent;
		border: none;
		width: 100%;
		padding: 0;
		@include border-radius(4px);
		h3 {
			font-size: 32px;
			margin-bottom: 0;
            color: $dark;
            margin-right: 30px;
            max-width: 530px;
            @media (max-width:767px) {
                font-size: 24px;
            }
		}
        .collapse-btn {
            width: 68px;
            height: 68px;
            flex: none;
            background: $white;
            border: 1px solid $gray75;
            @include border-radius(16px);
            position: relative;
            z-index: 1;
            margin-left: auto;
            @media (max-width: 767px) {
                width: 48px;
                height: 48px;
            }
            &::before {
                content: '';
                width: 60px;
                height: 60px;
                position: absolute;
                top: 3px;
                left: 3px;
                border: 1px solid $dark;
                background: $white;
                @include box-shadow(0px 2px 4px rgba(11, 32, 55, 0.45));
                @include border-radius(12px);
                @include transition(0.3s, ease-in-out);
                @media (max-width: 767px) {
                    width: 40px;
                    height: 40px;
                }
            }
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                display: inline-block;
                z-index: 2;
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7H9V1C9 0.4 8.6 0 8 0C7.4 0 7 0.4 7 1V7H1C0.4 7 0 7.4 0 8C0 8.6 0.4 9 1 9H7V15C7 15.6 7.4 16 8 16C8.6 16 9 15.6 9 15V9H15C15.6 9 16 8.6 16 8C16 7.4 15.6 7 15 7Z" fill="rgb(9 10 12)"/></svg>') center center;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                @include transition(0.3s, ease-in-out);
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 6px);
            }
        }
	}
	.card-content {
        max-width: 530px;
		a {
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}
	.collapse-body {
		margin-top: 12px;
		padding-right: 40px;		
	}
    &:hover, &:focus {
        .collapse-btn {
            &::before {
                background: $dark;
            }
            &::after {
                filter: invert(1);
            }
        }
    }
    &.is-open {
        .collapse-btn {
            &::before {
                background: $dark;
            }
            &::after {
                background: url('data:image/svg+xml,<svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0H1C0.4 0 0 0.4 0 1C0 1.6 0.4 2 1 2H15C15.6 2 16 1.6 16 1C16 0.4 15.6 0 15 0Z" fill="white"/></svg>') center center;
            }
        }
        &:hover, &:focus { 
            .collapse-btn {
                &::after {
                    filter: invert(0);
                }
            }
        }
    }
}

.section-cta {
    background-repeat: no-repeat;
    background-position: center bottom;
}