.one-pager-page .page-header {
    padding: 0;
    min-height: auto;
    .page-title {
        padding: 0;
        .logo {
            margin-bottom: 80px;
            img {
                max-height: 32px;
            }
        }
    }
}
.list-box-block {
    &.grid-view {
        display: grid;
        grid-template-columns: repeat(var(--grid-col), 1fr);
        gap: 24px;
        visibility: visible;
    }
    &.splide.grid-view  {
        display: flex;       
        padding: 30px 0 !important; 
        .splide__track {
            overflow: visible;
            width: 100%;
        }
        .splide__list {
            display: grid;
            grid-template-columns: repeat(var(--grid-col), 1fr);
            gap: 20px;
            visibility: visible;
        }
    }
    &.slider-view {
        .logo-item { 
            margin: 20px 0;           
        }
        .splide__track {
            @include border-radius(8px);
        }
    }
    .logo-item {
        @include box-shadow(0px 12px 12px 0px rgba(191, 172, 159, 0.18));
        background: #FFFFFF;
        @include border-radius(8px);
        padding: 30px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        min-width: 130px;
        @include transition(0.3s, ease-in-out);
        img {
            max-height: 50px;
            max-width: 55px;
        }
    }
    a.logo-item {        
        &:hover, &:focus {
            box-shadow: 0px 22px 39px 0px rgba(191, 172, 159, 0.38);
            @include transform(translateY(-5px));
        }
    }
}