.one-pager-page {
    .main-section {
        min-height: auto;
        background-repeat: no-repeat;
        .section-title {
            .logo {
                margin-bottom: 80px;
                @media (max-width: 992px) {
                    margin-bottom: 40px;
                }
                img {
                    max-height: 32px;
                    @media (max-width: 767px) {
                        max-height: 30px;
                    }
                }
            }
        }
    }
    .outside-img-section {
        .section-title {
            padding: 100px 0;
            @media (max-width: 992px) {
                padding: 70px 0; 
            }
            @media (max-width: 767px) {
                padding: 50px 0 30px; 
            }
        }
    }
    .full-width-slider-section {
        margin: 8px;
        @include border-radius(24px);
    }
    .main-footer {
        padding: 40px 0; 
        @media (max-width: 767px) {
            padding: 30px 0; 
        }
        .footer-logo {
            img {
                max-height: 30px;
            }
        }
        .footer-menu-inline {
            color: #F8F6F6;
            font-size: 22px;
            font-weight: 400;
            justify-content: flex-end;
            @media (max-width: 992px) {
                font-size: 18px;
                justify-content: flex-start;
            }
            @media (max-width: 767px) {
                font-size: 14px;
                margin-top: 20px;
            }
            a {
                text-transform: capitalize;
                font-size: 22px;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 18px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.list-box-block {
    display: grid;
    grid-template-columns: repeat(var(--grid-col, 8), 1fr);
    gap: 24px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
    }
    @media (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
    @media (max-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    & > a, & > div {
        box-shadow: 0px 22px 39px 0px rgba(191, 172, 159, 0.18);
        background: #FFFFFF;
        border-radius: 8px;
        padding: 30px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include transition(0.3s, ease-in-out);
        @media (max-width: 992px) {
            padding: 20px;
        }
        img {
            max-height: 50px;
            max-width: 55px;
            @media (max-width: 992px) {
                max-height: 40px;
                max-width: 45px;
            }
        }
    }
    & > a {        
        &:hover, &:focus {
            box-shadow: 0px 22px 39px 0px rgba(191, 172, 159, 0.38);
            @include transform(translateY(-5px));
        }
    }
}
.one-pager-page .logo-slider {
    margin: 0;
    @media (min-width: 992px) {
        // mask-image: unset;
    }
    .auto-slider {
        @media (min-width: 992px) {
            // animation: none;
            // @include justify-content (space-between);
            // width: 100%;
        }
        .logo-item {
            padding: 0 50px;
            @media (max-width: 992px) {
                padding: 0 30px;
            }
            @media (max-width: 767px) {
                padding: 0 20px;
            }
            img {
                max-width: 250px;
                max-height: 65px;
                @media (max-width: 992px) {
                    max-width: 180px;
                    max-height: 40px;
                }
            }
        }
    }
}