body {
  &.home {
    .hero-header {
      background: #111419 !important;
    }

    .bg-logovideo {
      .section-title.text-center {
        margin-bottom: 106px;

        @media (max-width: 992px) {
          margin-bottom: 40px;
        }
      }

      .video-bg-block {
        &:before {
          content: "";
          position: absolute;
          left: calc(50% - 430px);
          top: 220px;
          width: 100%;
          max-width: 860px;
          height: 600px;
          background: linear-gradient(0deg, white 20%, rgba(255, 255, 255, 0) 70%);

          @media (max-width: 992px) {
            top: 150px;
            left: calc(50% - 325px);
            height: 400px;
            max-width: 650px;
          }
        }
      }
    }

    .bg-ctavideo,
    .full-width-block {
      @media (max-width: 768px) {
        border-radius: 16px;
      }
    }

    .bg-ctavideo {
      @media (min-width: 1440px) {
        max-width: 1408px;
        margin-left: auto;
        margin-right: auto;
      }

      .container {
        @media (min-width: 1440px) {
          max-width: 1240px;
        }
      }
    }

    .full-width-block {
      &.py-50 {
        @media (max-width: 768px) {
          padding-top: 32px;
        }

        @media (min-width: 1440px) {
          max-width: 1408px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .progress-content-block {
      .progress-content-wrapper {
        .position-sticky-bar {
          @media (min-width: 1200px) {
            padding-bottom: 80px;
          }
        }
        .progress-content-step .content .image-block img {
          border-radius: 15px;
        }
      }
    }

    .testimonials-section {
      background: url("../images/bg-testimonials.png") no-repeat 50% 50% / 700px 750px !important;

      @media (min-width: 768px) {
        background-size: 100% 100% !important;
      }

      .splide__slide {
        user-select: text;
      }
    }

    .benefits-section {
      .info-card {
        border: unset;
        position: relative;
        overflow: hidden;
        min-height: 330px;
        background-color: transparent;

        @media (min-width: 768px) {
          min-height: 270px;
        }

        @media (min-width: 1200px) {
          min-height: 460px;
        }

        &:before {
          content: '';
          background-color: #090A0C;
          position: absolute;
          top: 1px;
          left: 1px;
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          border-radius: 24px;
          z-index: -1;
        }

        .card-icon {
          position: relative;
          z-index: 1;
        }

        .card-hover {
          position: absolute;
          inset: 0;
          background-color: #DEE5EC;
          padding: 93px 15px 15px;
          display: flex;
          justify-content: center;
          transform: translateY(100%);
          transition: transform 0.25s linear;
          border: 1px solid #C8D0D9;
          font-size: 14px;
          line-height: 18px;
          border-radius: 24px;

          @media (min-width: 768px) {
            padding: 100px 25px 25px;
          }

          @media (min-width: 992px) {
            padding: 135px 48px 40px;
            line-height: 1.7;
          }

          @media (min-width:1200px) {
            font-size: 20px;
            padding-top: 160px;
          }

          p {
            @media (min-width: 992px) {
              max-width: 95%;
            }
          }
        }

        .card-body {
          transition: all .35s ease-in-out;

          h2,
          h3 {
            color: #fff;
          }

          .sort-info {
            color: #EBEDF0;

            @media (min-width: 1200px) {
              max-width: 90%;
            }
          }
        }

        &:hover {
          .card-hover {
            transform: translateY(0);
          }

          .card-body {
            transform: translateY(10px);
          }
        }
      }

      .image-block {
        height: 100%;

        img {
          border: unset !important;
          box-shadow: 0px 2px 0px #E1E2E5;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .metrics-section {
      @media (min-width: 1400px) {
        padding-top: 72px;
        padding-bottom: 116px;
      }

      .section-title {
        @media (min-width: 1200px) {
          margin-bottom: 150px;
        }
      }

      .splide__track--draggable {
        user-select: unset !important;
      }

      .metrics-splide-slider {
        @media (min-width: 1400px) {
          padding-bottom: 20px;
        }

        .splide__list {
          @media (min-width: 1400px) {
            justify-content: center;
          }
        }

        .splide__slide {
          margin-right: 24px !important;

          &:last-child {
            margin-right: 0 !important;
          }

          .slide-with-border {
            max-width: 320px;
            padding: 34px;
            border: 1px solid rgba(255, 255, 255, .15);
            border-radius: 24px;
			text-align: center;

            @media (min-width: 768px) {
              max-width: 384px;
              padding: 48px 39px 40px 39px;
            }

            &::before,
            &::after {
              content: none;
            }

            h3 {
              width: 100%;
              min-height: 99px;
              margin-bottom: 32px;
              padding-bottom: 8px;
              color: #EBEDF0;
              font-size: 24px;
              line-height: 30px;
              border-bottom: 1px solid rgba(255, 255, 255, .15);

              @media (min-width: 768px) {
                min-height: 145px;
                margin-bottom: 40px;
                padding-bottom: 24px;
                font-size: 32px;
                line-height: 40px;
              }
            }

            .counter-block {
              margin-top: 0;
              margin-bottom: 24px;
              padding-top: 0;
              border: unset;

              .title {
                display: inline-grid;
                align-items: center;
                grid-template-columns: 16px 1fr;
                gap: 12px;
                margin-bottom: 4px;

                @media (min-width: 768px) {
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: .1em;
                }

                .icon {
                  display: flex;
                  align-items: center;
                  margin-right: 0;
                }
              }

              .count {
                font-size: 88px;
                line-height: 1;
              }
            }

            .image-block {
              img {
                border-radius: 24px;
              }
            }
          }
        }
      }
    }

    .image-content-block {
      .container {
        @media (min-width: 1400px) {
          max-width: 1250px;
          margin-left: auto;
          margin-right: auto;
        }

        &>.row {
          @media (min-width: 1400px) {
            display: grid;
            grid-template-columns: 1fr 578px;
            width: 100%;
          }

          &>.col-md-6 {
            @media (min-width: 1400px) {
              width: unset;
              max-width: unset;
            }
          }
        }
      }

      .col-lg-5 {
        @media (min-width: 1200px) {
          padding-left: 0;
          padding-right: 0;
        }

        .sort-info {
          @media (min-width: 1200px) {
            max-width: unset;
          }

          p {
            @media (min-width: 1200px) {
              font-size: 18px;
              line-height: 32px;
            }
          }
        }
      }
    }

    .progress-section {
      &:after {
        display: none;
      }

      .progress-content-step:not(:first-child) {
        .section-title {
          opacity: 0.2;
          transition: opacity 1.2s 0.2s;
        }
      }

      .image-block {
        &:has(.progress-content-img.is-active:not(:nth-child(2)):not(:nth-child(1))) {
          .progress-content-img:nth-child(1) {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      .progress-content-step {
        &.is-active {
          .section-title {
            opacity: 1;
          }
        }
      }
    }

    .testimonials-section {
      .testimonial-card {
        .sort-info {
          font-size: 24px;
          line-height: 1.66;

          @media (max-width: 992px) {
            font-size: 18px;
          }
        }
      }
    }

    .bg-ctavideo {
      position: relative;
      background: #020204 !important;

      &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background-image: url("../images/success-gradient-pattern-mobile.png");
        background-size: cover;

        @media (min-width: 575px) {
          background-image: url("../images/success-gradient-pattern.svg");
        }

      }

      >.container {
        padding-bottom: 273px;

        @media (min-width: 575px) {
          padding-bottom: 0;
        }
      }

      .video-bg-block {
        video {
          left: 0;
          right: 0;
          height: auto;
          bottom: 0;
          top: unset;

          @media (min-width: 575px) {
            left: unset;
            height: 100%;
            width: 62%;
          }
        }
      }
    }

    .tabs-section {
      .image-block {
        &.with-tl-br-shodow {

          &:before,
          &:after {
            opacity: 0;
            transition: opacity 0.1s;
          }
        }

        &.is-loaded {

          &:before,
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  .footer-logos {
	border-top: 1px solid rgba(255, 255, 255, .1);
	padding-top: 30px;
	margin-top: 30px;

	@media (min-width: 992px) {
	  margin-top: 50px;
	  padding-top: 50px;
	}

	&__container {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 30px;
	  align-items: center;

	  @media (min-width: 768px) {
		justify-content: flex-end;
	  }

	  @media (min-width: 992px) {
		gap: 65px;
	  }

	}
  }
}