.text-blue,
.text-primary   {color: $primary !important;}
.text-white     {color: $white !important;}

.text-skyblue   {color: $skyblue !important;}
.text-darkred     {color: $darkred !important;}
.text-yellow     {color: $yellow !important;}


.bg-white {
	background-color: $white !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-dark {
    background-color: $black !important;
    & > * {
        color: $white;
    }
    .section-title {
        .tag-line {
            color: $white;
            .tag {
                background: transparent;
                border-color: $black;
            }
        }
        h1, h2, h3 {
            color: $white;
        }
        .sort-info {
            color: $gray;
        }
    }
}
.bg-gray {
    background-color: $gray !important;
}
.bg-lightgray {
    background-color: $lightgray !important;
}
.bg-custom {
    background: var(--header-bg, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bg-gradient-with-img {
    background-image: linear-gradient(270deg, rgba(22, 52, 108, 0) 9.16%, rgba(22, 52, 108, 0.4) 31.98%, #16346C 81.92%), var(--bg-img, none);
    background-size: cover;
    background-position: center right;
    background-size: cover;
}

.bg-line {
    position: relative;
    &::before {
        content: '';
        background-image: url(../images/bg-line.png);
        background-position: top right;
        background-size: contain;
        width: 525px;
        height: 100%;
        display: block;
        position: absolute;
        right: 20%;
        top: 0;
        z-index: 1;
    }
}

.is-shape-logo {
    background-image: url(../images/bg-logo.png);
    background-repeat: no-repeat;
    background-size: 580px;
    &.is-tr {        
        background-position: calc(100% - 15%) 100px;
        @media (max-width: 1440px) {
            background-position: calc(100% - 5%) 100px;
            background-size: 450px;
        }
        @media (max-width: 992px) {
            background-position: calc(100% - 15px) 30px;
            background-size: 350px;
        }
    }
}

.is-diamond-shape {  
    position: relative;  
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        display: block;
        width: 500px;
        height: 450px;
        z-index: -1;
        @media (max-width: 992px) {
            width: 400px;
            height: 350px;
        }
        @media (max-width: 767px) {        
            content: none;
        }
    }
    &.is-br {       
        &::before {
            background-image: url(../images/img-shape-diamond-br.png); 
            background-position: bottom right;
            bottom: -25%;
            right: 0;
        }
    }
    &.is-bl {       
        &::before { 
            background-image: url(../images/img-shape-diamond-bl.png); 
            background-position: bottom left;
            bottom: 0;
            left: 0;
        }
    }
}
.is-right-world-shape {  
    position: relative;  
    &::before {
        content: '';
        background-image: url(../images/img-shape-world.png); 
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
        @media (max-width: 992px) {
            width: 400px;
            height: 350px;
        }
        @media (max-width: 767px) {        
            width: 300px;
            height: 250px;
            opacity: 0.5;
        }
    }
}

.main-content-wrapper {
    body.bg-none & {
        background-color: transparent;  
    }
    body.bg-gray & {
        background: $black;
    }
}
.main-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 992px) { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) { 
        padding-top: 40px;
        padding-bottom: 40px;
    }
    & > * {
        z-index: 2;
        position: relative;
    }
    &.bg-none:not(.bg-custom) {
        background-image:none !important;
    }
    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }
		.section-title {
			*:not(a, a > *) {
				color: #fff;
			}
			a:not(.btn) {
				color: $primary;
				&:hover, &:focus {
					color: $black;
				}
			}
			.sort-info {
				color: $white !important;
			}
		}
		.text-color {
			color: $white !important;
		}
    }

    &.bg-custom {
		background-color:var(--gs-bg, #fff) !important;
	}
	
	&.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }
		.section-title {
			*:not(a) {
				color: var(--gs-text, #fff);
			}
		}
    }

    &.is-dark {
        
    }

    &.hr-top {border-top: 1px solid #f0f7ff;}
	&.hr-bottom {border-bottom: 1px solid #f0f7ff;}

    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-578 {
        .section-title {
            max-width: 578px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
            &.text-center {
                margin: auto;
            }
        }
    }

    @media (max-width:767px) {
		&.m-container-full {
			.container {max-width: 100%;}
		}
		&.m-text-center .section-title {
			text-align: center !important;
		}

		&.m-row-column-reverse {
			& > .container > .row {
				@include flex-direction(column-reverse);
			}
		}

        &.bg-none-m {
            background-image:none !important;
        }

        &.b-radius-dark, &.b-radius-light {
            @include border-radius(0 0 24px 24px);
        }
	}
}

.section-title {
    // max-width: 750px;
    margin-bottom: 50px;
    @media (max-width: 767px) { 
        margin-bottom: 40px;
    }
    &.text-center {
        margin: 0 auto 50px ;
        @media (max-width: 767px) { 
            margin: 0 auto 40px;
        }
    }
    &.d-flex {
        @include align-items(flex-start);
        .left-content {
            min-width: 50%;
            h1, h2, h3 {
                margin-bottom: 0;
            }
        }
        .right-content {
            margin-left: auto;
            margin-top: 10px;
            .social-list {
                @include flexbox;
                @include align-items(center);
                gap: 10px;
                li {
                    a {
                        width: 40px;
                        height: 40px;
                        flex: none;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        border: 1px solid rgba($black, 0.1);
                        @include border-radius(8px);
                        @include transition(0.3s, ease-in-out);
                        svg {
                            width: 14px;
                            height: 14px;
                            @include transition(0.3s, ease-in-out);
                        }
                        &:focus, &:hover {
                            background: $primary;
                            border-color: $primary;
                            svg {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 992px) {
            @include flex-direction(column);
        }
    }
    
    &.section-title-mw-400 {
        .section-title {
            max-width: 400px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-500 {
        .section-title {
            max-width: 520px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-700 {
        .section-title {
            max-width: 700px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
            &.text-center {
                margin: auto;
            }
        }
    }
    &.is-right-line {
        h2 {
            &::after {
                content: '';
                width: 120px;
                height: 1px;
                background: $black;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
    &.no-line-tag {
        .tag-line {
            &::after {
                content: none;
            }
        }
    }
    .tag-line {
        font-size: 20px;
        font-weight: 600;
        color: $darkblack;
        margin-bottom: 20px;
        @media (max-width: 767px) { 
            margin-bottom: 10px;
            font-size: 18px;
        }
        &::after {
            content: '';
            width: 60px;
            height: 1px;
            background: $black;
            display: inline-block;
            margin-left: 5px;
        }
    }

    h1, h2, h3 {
        margin-bottom: 30px;
        color: $black;
        span {
            color: $skyblue;
        }
        @media (max-width: 767px) { 
            margin-bottom: 15px;
        }
    }
    .line {
        width: 120px;
        height: 1px;
        background-color: $black;
        display: inline-block;
    }
    .sort-info {
        margin-bottom: 30px;
        color: $darkblack;
    }

    .action {
        margin-top: 25px;
    }
}

// Hero 
.hero-header {
    padding: 180px 0 150px;
    position: relative;
    @media (max-width: 992px) { 
        padding: 200px 0 80px;
    }
    @media (max-width: 767px) { 
        padding: 200px 0 40px;
        z-index: 1;
    }

    .hero-header-fix {
        img, video {        
            position: absolute;
            top: 0;
            left: 0;   
            height: calc(100% - 130px);
            width: 100%; 
            background: $black;
            object-fit: cover;
            @media (min-width: 768px) {
                // @include border-radius(24px);
            }
            @media (max-width: 992px) {
                height: calc(100% - 400px);
            }
        }
    }

    .hero-title {
        position: relative;
        z-index: 3;
        max-width: 900px;
        &.text-center {           
            margin: 0 auto 50px;
        }
        h1 {
            color: $white;
            margin-bottom: 20px;
        }
        .sort-info {
            color: $white;
        }
        .action {            
            margin-top: 30px;
        }
    }
    .hero-slider-block {
        z-index: 5;
        position: relative;
        padding-bottom: 50px;
        width: 50%;
        margin: auto;
        @media (max-width: 992px) {
            width: 80%;
        }
        @media (max-width: 767px) {
            padding-bottom: 30px;
            width: 100%;
        }
        .splide__track {
            @include border-radius(16px);
            @media (max-width: 767px) {
                @include border-radius(12px);
            }
        }
        .image-block {
            text-align: center;
            img {
                width: 100%;
                @include border-radius(16px);
                @media (max-width: 767px) {
                    @include border-radius(12px);
                }
            }
        }
        .hero-splide-slider {
            padding-bottom: 0;
            .splide__pagination {
                bottom: -50px;
                @media (max-width: 767px) {
                    bottom: -40px;
                }
            }
        }
    } 
    .trusted-logo-block {  
        padding-top: 100px; 
        @media (max-width: 992px) { 
            padding-top: 80px; 
        }
        .splide {
            padding-bottom: 0;
        }
    }
}

// Page header
.page-header {
    // --bg-hero-img: url('../images/img-inner-page-header-bg.png'); /* Default background image */
    // @media (max-width: 767px) {
    //     --bg-hero-img-m: url('../images/img-inner-page-header-bg-m.png'); /* Mobile Default background image */
    // }
    
    min-height: 600px;
    max-height: 600px;
    background-color: $primary;
    background-image: url('../images/img-inner-page-header-bg.jpg');
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: 100% 100% !important;
    border: none;
    color: $white;
    padding: 130px 0;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, rgba(22, 52, 108, 0) 9.16%, rgba(22, 52, 108, 0.4) 31.98%, #16346C 81.92%);
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
    }

    @media (max-width: 992px) {
        padding: 80px 0 100px;
        // min-height: 420px;
    }
    @media (max-width: 767px) {
        background-image: url('../images/img-inner-page-header-bg-m.png');
        padding: 80px 0 120px;
        @include border-radius(0 0 24px 24px);
    }

    &::after {
        content: '';
        width: 600px;
        height: 440px;
        background-image: url(../images/img-inner-page-diamond-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        display: block;
        position: absolute;
        bottom: -80px;
        right: 10%;
        @media (max-width: 767px) {
            width: 100%;
            height: 150px;
        }
    }

    .page-title {
        padding-top: 70px;
        @media (max-width: 992px) {
            padding-top: 60px;
        }
        @media (max-width: 767px) {
            padding-top: 40px;
        }
        .tag-line {
            margin-bottom: 15px;
        }
        h1 {
            margin-bottom: 25px;
        }
        .sort-info {
            color: $gray;
        }
        .action {
            margin-top: 30px;
        }

        &.text-center {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &.video-header {
        position: relative;
        background-image: none;
        @include border-radius(0);
        @media (max-width: 992px) {
            // padding-top: 170px;
        }
        @media (max-width: 767px) {
            padding-bottom: 80px;
        }
        // &::before {
        //     content: "";
        //     background-color: #111419;
        //     position: absolute;
        //     left: 0px; right: 0px;
        //     top: 0px; bottom: 0;
        //     z-index: 1;
        //     @include border-radius(24px);
        // }
        &::after { 
            content: none;
            left: 0;    
            margin: 0 auto;
        }
        .page-title {
            z-index: 2;
            position: relative;
        }
        .video-bg-block {
            position: absolute;
            left: 0px; 
            right: 0px;
            top: 0px; 
            bottom: 0;
            @include border-radius(0);

            video, .videoembed {
                filter: contrast(105%);
                @include border-radius(0);
                @media (min-width: 992px) {
                    object-fit: cover;
                }
            }
        }
    }
    &.page-header-style-2 {    
        padding: 135px 0 100px;  
        max-height: 600px;
        @media (min-width: 992px) {
            margin-left: 100px; 
        }    
        @media (min-width: 1500px) {
            margin-left: 150px; 
            padding: 135px 0 150px;
        }   
        @media (min-width: 1700px) {
            margin-left: 200px; 
        }
        .page-title {
            padding-top: 110px;
            margin-bottom: 30px;
            @media (max-width: 1200px) {
                max-width: 600px;
                padding-top: 0px;
            }
        }
        .header-left-logo {
            position: absolute;
            bottom: 150px;
            left: -60px;
            z-index: 1;
            max-width: 120px;
            @media (min-width: 1500px) {
                max-width: 140px;
                left: -70px;
            } 
            @media (min-width: 1700px) {
                max-width: 180px;
                left: -90px;
            } 
            @media (max-width: 992px) {
               display: none;
            } 
            img {
                width: 100%;
            }
        }
    }
}

.breadcrumb-nav {
    margin-bottom: 30px;
    opacity: 0.75;
    .breadcrumb {
        .breadcrumb-item {
            font-size: 14px;
            color: $white;
            a {
                text-decoration: none;
                color: $white;
                @include transition(0.3s, ease-in-out);
                &:hover, &:focus {
                    color: rgba($white, 0.7);
                    text-decoration: underline;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item {
            &::before {
                content: '-';
                color: $white;
            }
        }
    }
}

// Trusted Logo Section
.trusted-logo-block {
    position: relative;
    z-index: 1;
    .title {
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.4px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        @media (max-width: 992px) {            
            padding-bottom: 30px;
        }
        span {
            color: $skyblue;
        }
    }
}
.logo-style-slider {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
}
.logo-list-block {
    margin-top: 50px;
    z-index: 3;
    position: relative;
    @media (max-width: 992px) {
        margin-top: 30px;
    }    
    .logo-list {
        @include flexbox;
        @include flex-direction(row);
        gap: 65px;
        @media (max-width: 1200px) {
            gap: 25px;
        }
        .logo-item {  
            flex: none;
            display: inline;
            span {
                display: inline-block;
                transform-origin: center;
                transform-box: fill-box;                
                img {
                    // aspect-ratio: 3/2;
                    @include transition(0.3s, ease-in-out);
                    max-height: 30px;
                    &:hover, &:focus {
                        @include transform(scale(1.05));
                    }
                }
            }
        }
    }
}

// Content Block
.content-block {
    p {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0
        }
    }
    ul, ol {
        margin-top: 20px;
        margin-bottom: 30px
    }
}

// Morden Card
.morden-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    @include border-radius(24px);
    min-height: 380px;
    padding: 30px;
    background-color: var(--bg-color, #E8F8FF);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (max-width: 992px) {
        min-height: 300px;
    }
    &.is-bg-img {
        background-image: var(--bg-img);
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        color: var(--text-color, $darkblack);
        .card-title {
            margin-bottom: 20px
        }
        .sort-info {
            margin-top: auto;
            font-size: 20px;
            font-weight: 500
        }
    }
}

// Scroll Content Animation
.scroll-content-animation-block  {
    overflow: hidden;
    @include border-radius(30px);
    @media (min-width: 768px) {
        // padding: 20px !important;
        // margin: 0 -20px !important;
    }
    .scroll-content-wrapper {
        height: 700px;
        @media (min-width: 768px) {
            height: 600px;
        }
    }
    .process-card-content {
        position: relative;
        width: 100%;
        height: 100%;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
    }
}

// Process Card
.process-card {
    width: 100%;
    height: 100%;
    @include flexbox;
    gap: 45px;
    position: absolute;
    @include align-items(center);
    inset: 0%;
    background: $white;
    border: 1px solid #E8E8E8;
    padding: 100px;
    @include border-radius(30px);
    overflow: hidden;
    margin-bottom: 100px;
    z-index: 2;
    @media (max-width: 992px) {  
        padding: 50px;  
        margin-bottom: 50px;
    }
    @media (max-width: 767px) {      
        padding: 30px;    
        @include flex-direction(column);
        border: 1px solid transparent;
    }
    .card-body {
        width: 50%;
        height: 100%;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        gap: 20px;
        @media (max-width: 767px) {        
            width: 100%;
            order: 2;            
            @include justify-content(flex-start);
        }
        .tag-line {
            font-size: 20px;
            font-weight: 600;
            color: #636363;
            &::after {
                content: '';
                width: 60px;
                height: 1px;
                background: $black;
                display: inline-block;
                margin-left: 5px;
            }
        }
        .card-title {
            span {
                color: $skyblue;
            }
        }
    }
    .card-img {
        width: 50%;  
        text-align: right;        
        @media (max-width: 767px) {        
            width: 100%;
            text-align: center;
            order: 1;
        }
        img { 
            object-fit: cover;
        }
    }
}

// Animation Text
.animation-text {    
    width: 100%;    
    position: relative;
    .animation-line {
        color: rgba($black, 0.2) !important;
        background: linear-gradient(to right, $black, $black) no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 0%;
        transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    }
}


// Team Section
.team-section {
    overflow: hidden;
    .team-splide {
        padding-bottom: 0;
        .splide__track {
            overflow: visible
        }
    }
}
.team-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    padding: 40px;
    @include border-radius(6px);
    background: $white;
    @include transition(0.3s, ease-in-out);
    position: relative;
    @media (max-width: 992px) {
        max-width: 300px;
    }
    .card-img {
        margin-bottom: 30px;
        overflow: hidden;
        img {
            @include transition(0.3s, ease-in-out);
        }
    }
    .card-body {
        .card-title {
            font-size: 14px;
            font-weight: 500;
            color: #121C22;
            margin-bottom: 10px;
            @include transition(0.3s, ease-in-out);
            a {
                color: #121C22;
                text-decoration: none;
            }
        }
        .sort-info {
            color: #121C22;
            font-weight: 500;
            margin-bottom: 10px;
            flex: 1 1 auto;
        }
        .action {
            z-index: 3;
            position: relative;
        }
    }
    &:hover, &:focus {
        @include transform(translateY(-10px));
        @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.05));
        .card-img {
            img {
                @include transform(scale(1.05));
            }
        }
        .card-body {
            .card-title {
                color: $skyblue;
                font-weight: 600;
                a {
                    color: $skyblue;
                    font-weight: 600;
                }
            }
        }
    }
}

// Swap Card
.swap-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    @include border-radius(24px);
    min-height: 460px;
    max-width: 330px;
    padding: 30px;
    background-color: var(--bg-color, #E8F8FF);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (max-width: 992px) {
        min-height: 300px;
        min-width: 260px;
        max-width: 260px;
    }
    &.is-bg-img {
        background-image: var(--bg-img);
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        color: var(--text-color, $darkblack);
        .card-title {
            margin-bottom: 20px
        }
        .sort-info {
            margin-top: auto;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.swap-card-section {
    .swap-card-block {
        overflow: hidden;
        overflow-x: auto;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(nowrap);
        gap: 20px;
        @media (max-width: 767px) {            
            @include justify-content(flex-start);
            padding: 0 30px;
            margin: 0 -30px;
        }
        & > div {
            padding: 30px 0px;
        }
    }
}

// CTA Section
.cta-block {
    @include border-radius(25px);
    background-color: $skyblue;
    padding: 50px 100px;
    @media (max-width: 992px) { 
        padding: 40px 30px;
    }
    .section-title {
        @media (max-width: 767px) { 
            text-align: center;
        }
        h2 {
            color: $white;
        }
        .sort-info {
            color: $white;
        }
    }
    .image-block {
        @media (max-width: 767px) { 
            margin-bottom: 30px;
            text-align: center;
            img {
                max-width: 180px;
            }
        }
    }
}
// User Info 
.user-info {
    @include flexbox;
    @include align-items(center);
    .user-img {
        @include border-radius(50%);
        margin-right: 25px;
        @media (max-width: 992px) {
            margin-right: 15px;
        }
        img {
            @include border-radius(50%);
            width: 80px;
            height: 80px;
            flex: none;
            @media (max-width: 992px) {
                width: 50px;
                height: 50px;
            }
            @media (max-width: 767px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    .user-detail {
        .name {
            font-size: 24px;
            color: $black;
            font-weight: 500;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        span {
            font-size: 16px;
            color: $black;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}

// Tabs Section
.tabs-section {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    @include border-radius(0 0 24px 24px);

    @media (max-width: 992px) { 
        background-image: unset !important;
    }

    .tab-pane {
        h3 {
          @media (min-width: 1440px) {
            max-width: 90%;
          }
        }
      }
}
.with-bg-shodow-image {
    padding: 16px;
    background-image: url(../images/img-with-bg-shodow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    @media (max-width: 767px) {        
        padding: 8px;
    }
}
.tab-block, .thumbnail-slider-block {
    .tab-nav-block {
        overflow: hidden;
        overflow-x: auto;
        margin: 0 auto 40px;     
        max-width: 750px;
        @media (max-width: 575px) {
            padding: 0 20px;
            margin-right: -20px;
            margin-left: -20px;
        }
    }
    .nav-tabs, .useCase-thumbnail-splide-slider {
        border: 1px solid $gray;
        padding: 12px;
        @include border-radius(24px);
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(nowrap);
        gap: 12px;  
        @media (max-width: 992px) {
            min-width: 690px;
        }
        @media (max-width: 767px) {
            padding: 8px;
            gap: 8px;
        }
        .tab-link, .thumbnail-btn {
            flex: 1;
            background: $black;
            border: 1px solid $black;
            @include border-radius(16px);
            height: 56px;
            padding: 5px 25px;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            @include inline-flex;
            @include align-items(center);
            @include justify-content(center);
            @include transition(0.3s, ease-in-out);
            white-space: nowrap;
            @media (max-width: 992px) {
                height: 48px;
                padding: 5px 15px;
            }
            .icon {
                margin-right: 8px;
                @include transition(0.3s, ease-in-out);
                width: 16px;
                height: 16px;
                flex: none;
                line-height: 0.7;
            }
            &:hover, &:focus, &.active {
                background: $white;
                color: $black;
                .icon {
                    filter: invert(1);
                }
            }
        }
        .splide__slide {
            &:last-child {
                margin-right: 0 !important;
            }
            &.is-active {
                .thumbnail-btn { 
                    background: $white;
                    color: $black;
                    .icon {
                        filter: invert(1);
                    }
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            &.show {
                display: block;
            }
            .section-title {
                @media (min-width: 992px) {
                    margin-bottom: 0;
                }
                .tag {
                    padding: 0;
                    border: none;
                    @media (max-width: 992px) {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}
.use-case-splide-slider {
    .section-title {
        @media (min-width: 992px) {
            margin-bottom: 0;
        }
        .tag {
            padding: 0;
            border: none;
            @media (max-width: 992px) {
                margin-bottom: 25px;
            }
        }
    }
}

// Info Card
.info-card {
    padding: 30px;
    background: $white;
    border: 1px solid rgba($primary, 0.2);
    @include border-radius(24px);
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @media (max-width: 992px) {
        padding: 20px;
    }
    .card-icon {
        margin-bottom: 20px;
        img {
            width: auto;
            max-height: 60px;
            flex: none;
            @media (max-width: 992px) {
                max-height: 40px;
            }
        }
    }
    .card-body {        
        h3 {
            margin-bottom: 15px;
            color: $black;
            font-size: 22px;
            font-weight: 700;
            font-family: $bodyfont;
            @media (max-width: 992px) {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .sort-info {
            font-size: 18px;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
}
a.info-card {
    &:hover, &:focus {        
        @include box-shadow(0px 8px 12px rgba(29, 32, 38, 0.05));
    }
}

.img-text-box-lists {
    @media (min-width: 992px) {
        .section-title {
            margin-left: 50px;
        }
    }
    .flex-reverse {
        @media (min-width: 992px) {
            flex-direction: row-reverse; 
            .section-title {
                margin-right: 50px;
            }
        }
    }
}

// FAQ
.collapse-item {
	padding: 25px 30px;
	border: 1px solid $gray;
    @include border-radius(16px);
    margin-bottom: 15px;
    @media (max-width:767px) {
        padding: 24px;
    }
	.collapse-title {
		@include flexbox();
		@include align-items(center);
		text-align: left;
		cursor: pointer;
		background-color: transparent;
		border: none;
		width: 100%;
		padding: 0;
		@include border-radius(4px);
		h3 {
			font-size: 32px;
			margin-bottom: 0;
            color: $black;
            margin-right: 30px;
            // max-width: 530px;
            @media (max-width:767px) {
                font-size: 24px;
            }
		}
        .collapse-btn {
            width: 68px;
            height: 68px;
            flex: none;
            background: $white;
            border: 1px solid $gray;
            @include border-radius(16px);
            position: relative;
            z-index: 1;
            margin-left: auto;
            @media (max-width: 767px) {
                width: 48px;
                height: 48px;
            }
            &::before {
                content: '';
                width: 60px;
                height: 60px;
                position: absolute;
                top: 3px;
                left: 3px;
                border: 1px solid $black;
                background: $white;
                @include box-shadow(0px 2px 4px rgba(11, 32, 55, 0.45));
                @include border-radius(12px);
                @include transition(0.3s, ease-in-out);
                @media (max-width: 767px) {
                    width: 40px;
                    height: 40px;
                }
            }
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                display: inline-block;
                z-index: 2;
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7H9V1C9 0.4 8.6 0 8 0C7.4 0 7 0.4 7 1V7H1C0.4 7 0 7.4 0 8C0 8.6 0.4 9 1 9H7V15C7 15.6 7.4 16 8 16C8.6 16 9 15.6 9 15V9H15C15.6 9 16 8.6 16 8C16 7.4 15.6 7 15 7Z" fill="rgb(9 10 12)"/></svg>') center center;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                @include transition(0.3s, ease-in-out);
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 6px);
            }
        }
	}
	.card-content {
        // max-width: 530px;
		a {
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}
	.collapse-body {
		margin-top: 12px;
		padding-right: 80px;		
	}
    &:hover, &:focus {
        .collapse-btn {
            &::before {
                background: $black;
            }
            &::after {
                filter: invert(1);
            }
        }
    }
    &.is-open {
        .collapse-btn {
            &::before {
                background: $black;
            }
            &::after {
                background: url('data:image/svg+xml,<svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0H1C0.4 0 0 0.4 0 1C0 1.6 0.4 2 1 2H15C15.6 2 16 1.6 16 1C16 0.4 15.6 0 15 0Z" fill="white"/></svg>') center center;
            }
        }
        &:hover, &:focus { 
            .collapse-btn {
                &::after {
                    filter: invert(0);
                }
            }
        }
    }
}

// Col Image + Text
.image-content-block {
    .row:not(:last-child) {
        margin-bottom: 100px;
        @media (max-width: 992px) { 
            margin-bottom: 70px;
        }
        @media (max-width: 767px) { 
            margin-bottom: 50px;
        }
    }
	@media (min-width:1200px) {
		.row-gap { 
			--bs-gutter-y: 5rem;
			--bs-gutter-x: 5rem;
		}
        // .col-info {
        //     .sort-info {
        //         max-width: 465px;  
        //     }
        // }
	}
	.card-image-block {	
		position: relative;	
		@media (max-width: 767px) {
			// max-width: 80%;
			// margin: 0 auto;
		}
		& + .content-info {
			margin-top: 30px;
		}
		img {
			@include border-radius(24px);
		}
		@media (max-width:767px) {
			margin-bottom: 30px;
		}
		&.right-image {
			@media (min-width:768px) {
				text-align: right;
			}
		}
	}
	.section-title {
		margin: 0;
        @media (max-width: 767px) { 
            margin-bottom: 40px;
        }
	}
}

// About Us
.counter-content-block {
    position: relative;
    padding: 50px 100px;
    border: 1px solid $gray;
    position: relative;
    @media (max-width: 992px) {
        padding: 50px 30px;
    }
    @media (max-width: 767px) {
        padding: 40px;
    }
    &::before, &::after {
        content: '';
        width: 20px;
        height: 20px;
        background: #F7F8F9;
        border: 1px solid #C8D0D9;
        @include border-radius(2px);
        display: inline-block;
        position: absolute;
        top: -10px;
        left: -10px;
        @media (max-width: 767px) {
            width: 16px;
            height: 16px;
            top: -8px;
            left: -8px;
        }
    }
    &::after {
        right: -10px;
        left: auto;
        @media (max-width: 767px) {
            right: -8px;
            left: auto;
        }
    }
    .sm-square-vector {
        &::before, &::after {
            content: '';
            width: 20px;
            height: 20px;
            background: #F7F8F9;
            border: 1px solid #C8D0D9;
            @include border-radius(2px);
            display: inline-block;
            position: absolute;
            bottom: -10px;
            left: -10px;
            @media (max-width: 767px) {
                width: 16px;
                height: 16px;
                bottom: -8px;
                left: -8px;
            }
        }
        &::after {
            right: -10px;
            left: auto;
            @media (max-width: 767px) {
                right: -8px;
                left: auto;
            }
        }
    }
    .sm-square-center-vector {
        &::before, &::after {
            content: '';
            width: 20px;
            height: 20px;
            background: #F7F8F9;
            border: 1px solid #C8D0D9;
            @include border-radius(2px);
            display: inline-block;
            position: absolute;
            top: -10px;
            left: calc(50% - 10px);
            @media (max-width: 767px) {
                width: 16px;
                height: 16px;
                top: -8px;
                left: calc(50% - 8px);
            }
        }
        &::after {
            bottom: -10px;
            top: auto;
            @media (max-width: 767px) {
                bottom: -8px;
                top: auto;
            }
        }
    }
}
.animate-counter-block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    gap: 20px;
    @media (max-width: 767px) {
        @include flex-wrap(wrap);
    }
    .counter-box {
        min-width: 210px;
        .counter {
            font-size: 88px;
            color: $primary;
            font-weight: 400;
            margin-bottom: 15px;
            @media (max-width: 992px) {
                font-size: 64px;
            }
            @media (max-width: 767px) {
                font-size: 56px;
            }
        }
        .info-text {
            color: $gray;
        }
    }
}

// Gallery 
.gallery-splide-slider {
    padding-bottom: 0;
    .splide__track {
        overflow: visible;
        .splide__list {
            @include align-items(center);
        }
    }
    .splide__slide {
        height: 100%;
        @include flexbox;
        @include align-items(center);
        @media (max-width: 767px) {
            max-width: 250px;
        }
        .gallery-image {
            @include border-radius(16px);
            box-shadow: 0px 2px 0px #E1E2E5;
            img {
                @include border-radius(16px);
                @include transition(0.3s, ease-in-out);

                width: 100%;
                max-width: 375px;
                height: auto;
                &.is-portrait {
                    max-width: none;
                    height: 440px;  
                    @media (max-width: 767px) {
                        height: 300px; 
                    }
                }

            }
            &:hover, &:focus {
                img {
                    @include transform(scale(1.05));
                }
            }
        }
    }
}

.media-card {
    margin: 0 50px;
    position: relative;
    @media (max-width: 1200px) {
        margin: 0 25px;
    }
    @media (max-width: 992px) {
        margin: 0;
    }
    @media (max-width: 767px) {        
        max-width: 300px;   
        margin: 0 auto;
    }
    .card-icon-img {
        @include border-radius(16px);
        overflow: hidden;
        margin-bottom: 20px;  
    }
    .card-img {
        @include border-radius(16px);
        overflow: hidden;
        margin-bottom: 30px;
        @media (max-width: 992px) {
            margin-bottom: 20px; 
        }
        img {
            width: 100%;
            @include border-radius(16px);
            @include transition(0.3s, ease-in-out);
        }
    }
    .card-body {
        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            a {
                text-decoration: none;
                color: $black;
            }

            small {
                font-size: 12px;
                font-weight: 500;
                color: $black;
                letter-spacing: 1.8px;
                margin-bottom: 20px; 
                margin-top: 10px;
                display: block;
                @media (max-width: 992px) {
                    margin-bottom: 15px; 
                }
            }
        }
        
        .sort-info {
            font-size: 16px;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
    &.if-link-hover:hover, 
    &.if-link-hover:focus {
        .card-img {
            img {
                @include transform(scale(1.08));
            }
        } 
        .card-body {
            h3 {
                a {
                    color: $primary;
                }
            }
        }
    }
}

.single-content {
    h2, h3, h4, h5 {
        color: $black;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    h2, .h2 {
        font-size: 40px;
        line-height: 1.2;
        @media (max-width: 1200px) { 
            font-size: 36px;
        }
        @media (max-width: 767px) { 
            font-size: 30px;
        }
        &.font-sm {
            font-size: 24px;
            @media (max-width: 767px) { 
                font-size: 20px;
            }
        }
    }
    h3, .h3 {
        font-size: 24px;
    }

    ol:not(.splide__list), ul:not(.splide__list) {
        margin: 0;
        padding: 0;
    }
    ul:not(.splide__list) {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 30px;
        li {
            list-style-type: disc;
            margin-bottom: 8px;
        }
    }
    a {
        color: $primary;
    }
    .marker-list {
        padding-left: 35px !important;
        margin-bottom: 20px !important;
        li:where([data-marker]) {
            position: relative;
            margin-bottom: 10px;
            &::before {
                content: attr(data-marker);
                margin-right: 10px;
                position: absolute;
                left: -35px;
                font-weight: 600;
            }
            .marker-list {
                padding-left: 45px;
                margin-top: 10px;
                li {
                    &::before {
                        left: -45px;
                    }
                }
            }
        }
    }
    u {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    body.single & img {
        width: 100%;
        @include border-radius(16px);
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 20px;
    }
    blockquote {
        background: $gray;
        padding: 50px 40px 50px 130px;
        font-size: 22px;
        @include border-radius(20px);
        margin: 40px 0 50px;
        background-image: url(../images/icons/icon-quote.svg);
        background-repeat: no-repeat;
        background-position: 40px 45px;
        background-size: 45px;
        line-height: 1.5;
        @media (max-width: 767px) { 
            padding: 70px 20px 20px;
            background-position: 20px 20px;
            background-size: 32px;
            font-size: 18px;
        }
        .user-info-content {
            border-top: 1px solid #C8D0D9;
            margin-top: 40px;
            padding-top: 25px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            @media (max-width: 767px) { 
                @include flex-direction(column);
                @include align-items(flex-start);
            }
            .user-info {
                .user-img {
                    margin-right: 12px;
                    img {
                        width: 56px;
                        height: 56px;
                        margin: 0;
                    }
                }
                .user-detail {
                    .name {
                        font-size: 16px;
                    }
                    span {
                        font-size: 14px;
                        display: block;
                    }
                }
            }
            .logo {
                text-align: right;
                @media (max-width: 767px) { 
                    margin-top: 24px;
                    text-align: left;
                }
                img {
                    margin: 0;
                    @include border-radius(0px);
                }
                @media (max-width: 767px) { 
                    img {
                        max-width: 80%;
                    }
                }
            }
        }
    }
    
    .post-sticky-content {  
        .sort-info {
            h3, .h3 {
                font-size: 18px;
                font-weight: 600;
            }
        }   
    }
}

// Contact Us Page
body .main-section.sticky-header-section{
    padding-top: 60px;
    padding-bottom: 160px;
    &.sticky-header {
        z-index: 10 !important;
    }
}
.sticky-header-content {
    top: 80px;
    width: 100%;
    display: block;
    z-index: 5;
    @include transition(0.3s, ease-in-out);
    &.fixed {
        position: fixed;
        padding: 30px 0;
    }
    .contact-time-details {
        @include flexbox;
        @include align-items(center);
        text-decoration: none;
        .contact-time {
            font-size: 80px;
            font-weight: 900;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $primary;
            -webkit-text-fill-color: transparent;
            @include transition(0.3s, ease-in-out);
            @include flexbox;
            @include align-items(center);
            span {
                display: inline-block;
                line-height: 1;
            }
            .time-separator {
                line-height: 0.7;
                margin-top: -10px;
                margin-bottom: 5px;
                animation: blink 1.5s infinite;
            }
        }
        &:hover, &:focus, &.active {
            .contact-time {                
                -webkit-text-fill-color: $primary;
            }
        }
        .contact-detail {
            color: $black;
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            margin-left: 15px;
            .contact-city {
                color: rgba($black, 0.6);
                font-size: 18px;
                margin-top: 5px;
            }
        }
    }
}
@keyframes blink {
    0% { opacity: 1 }
    1% { opacity: 0 }
    50% { opacity: 0 }
    51% { opacity: 1 }
}
.contact-information {
    .image-block {
        img {
            aspect-ratio: 4/3;
            max-height: 500px;
        }
    }
    .address-info {
        .tag-line {
            font-size: 24px;
        }
        h2 {
            color: $primary;
            margin-bottom: 20px
        }
        .details {
            @include flexbox;
            gap: 35px;
            margin-bottom: 20px;
            .title {
                font-size: 22px;
                font-weight: 500;
                color: $primary;
                min-width: 85px;
                margin-top: -5px;
            }
            .content {
                line-height: normal;
                a {
                    color: $black;
                    font-weight: 600;
                    text-decoration: none;
                    background-image: linear-gradient(to right, $primary 0%, $primary 100%);
                    background-position: 0 100%;
                    background-repeat: no-repeat;
                    background-size: 0 1px;
                    @include transition(0.3s, ease-in-out);
                    &:hover {
                        color: $primary;
                        background-size: 100% 1px;
                    }
                }
            }
        }
        .action {
            margin-top: 30px;
        }
    }
}