*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    overflow-x: hidden;
    @media (max-width:991px) {
        font-size: 16px;
        &.is-visible {
            overflow: hidden;
        }
    }
}
:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}

.tooltip {
    pointer-events: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
font-family: $bodyfont;
}

a {
    color: $purple;
    text-decoration: none;
    word-break:break-word;
    &:focus,
    &:hover {
        color: $white;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    &:last-child{
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

img {
    max-width:100%;
    height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

.container {
	padding-left: 15px;
	padding-right: 15px;
    .row {
        margin-left: -15px;
        margin-right: -15px;
        & > * {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

h1, .h1 {
    font-size: 78px;
    font-family: $font-poppins;
    letter-spacing: -0.03em;
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    @media (max-width: 992px) {
        font-size: 50px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
    &.font-sm {
        font-size: 56px;
        @media (max-width: 992px) {
            font-size: 42px;
        }
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }
}

h2, .h2 {
    font-size: 48px;
    font-family: $font-poppins;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin: 0;
    line-height: 1.3;
    @media (max-width: 992px) {
        font-size: 36px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
}
h3, .h3 {
    font-size: 28px;
    font-family: $font-poppins;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin: 0;
    line-height: normal;
    @media (max-width: 992px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.btn {
    min-height: 56px;
    padding: 0 25px;
    font-weight: 600;
    font-size: 18px;
    min-width: 126px;
    @include transition(0.2s, ease-in-out);
    @include border-radius(5px);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @media (max-width: 992px) {       
        font-size: 16px; 
        min-height: 50px;
    }
    &.btn-primary {
        color: $white;
        background-color:$purple;
        border:1px solid $purple;
        box-shadow: 0px 10px 40px rgba($purple, 0.6);
        &:hover, &:focus, &:active,
        &:not(:disabled):not(.disabled).active, 
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active:focus, 
        &:not(:disabled):not(.disabled):active:focus {
            background-color: #7f35f8 !important;
            color: $white !important;
            border-color:#7f35f8 !important;
            box-shadow: 0px 10px 40px rgba(#7f35f8, 0.6);
        }
    }
}

.dropdown {
    .dropdown-toggle {
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        padding: 15px 30px;
        gap: 10px;
        @include border-radius(5px);
        background: #1E1951;
        color: #9896AD;
        font-size: 18px;
        font-family: $font-inter;
        font-weight: 600;
        @media (max-width: 992px) {
            padding: 10px 20px;
            font-size: 16px;
        }
    }
    .dropdown-menu {
        @include border-radius(5px);
        @include box-shadow(0 10px 20px 0 rgba(255,255,255,0.2));
        border: 1px solid rgba($purple, 0.2);     
        background: #1E1951;
        width: 100%;
        li {
            a {
                font-size: 16px;
                font-weight: 400;
                font-family: $font-inter;
                padding: 10px 20px;
                color: #9896AD;
                &:hover, &:focus, &.active {
                    color: $white;
                    background: rgba(143, 74, 255, 0.1);
                }
            }
        }
    }
}

/* Default Form Styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"],
input,
textarea,
select,
.form-control,
.hs-input {
    padding: 15px 25px;
    @include border-radius(5px);
    background: #3C376F;
    border: 1px solid transparent;
    color: $white;
    font-weight: 500;
    height: 60px;
    width: 100%;
    min-height: 37px;
    font-family: $font-inter;
    font-size: 16px;
    @media(max-width: 992px){
        height: 50px;
        font-size: 15px;
        padding: 10px 15px;
    }  
    &.error {
        border-color: #f44336;
    }  
    &:focus {
        border-color: rgba($purple, 0.2);
        box-shadow: none;
        outline: 0 none;
    }
}
.hs-button {
    margin-bottom: 0px !important;
}
textarea.hs-input {
    min-height: 150px;
}
label {
    color: #9896AD !important;
    background: transparent;
    border: none;
}
.hs-form-required,
.required {
    padding: 0 0 0 5px;
    color: #C8C8C8;
}
.hs-error-msgs {
    padding-left: 0;
    margin-bottom: 5px;
    line-height: 1;
    padding: 0px !important;
    li {
        list-style-type: none;
        label {
            color: #f44336 !important;
            margin-bottom: 0;
            font-size: 12px !important;
            background: transparent !important;
        }
    }
}

.hs-form input[type=submit]  {
    color: $white !important;
    background-color:$purple;
    border:1px solid $purple;
    height: 60px;
    min-height: 60px;
    padding: 0 25px;
    font-weight: 600;
    font-size: 18px;
    min-width: 120px;
    font-family: $font-inter;
    @include transition(0.3s, ease-in-out);
    @include border-radius(5px);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);   
    @media (max-width: 992px) {       
        font-size: 16px; 
        min-height: 50px;
        height: 50px;
    }
    &:hover, &:focus, &:active,
    &:not(:disabled):not(.disabled).active, 
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active:focus, 
    &:not(:disabled):not(.disabled):active:focus {
        background-color: #7f35f8 !important;
        color: $white !important;
        border-color:#7f35f8 !important;
        box-shadow: 0px 10px 40px rgba(#7f35f8, 0.6);
    }
    &.disabled,
    &:disabled {
        background-color: rgba($purple, 0.8) !important;
        border-color: transparent !important;
        color: $white !important;
        pointer-events: none;
    }
}

.form-with-slider-labels {
    $label-displacement: 1px;
    @media(max-width: 992px){
        $label-displacement: 3px;
    }  
    .hs-form {
        .hs-form-field {
            margin: 15px 0;
            position: relative;
            label {
                position: absolute;
                left: 20px;
                top: 10px;
                color: #9896AD;
                font-size: 18px;
                padding: 5px 5px 0;
                @media(max-width: 992px){
                    left: 10px;
                    padding: 3px 5px 0;
                    font-size: 16px;
                }  
            }
            &.has-focus, &.has-value {
                > label {
                    top: $label-displacement;
                    color: #9896AD;
                    font-size: 13px;
                    @media(max-width: 992px){
                        font-size: 12px;
                    }
                }
                .hs-input {
                    padding: 20px 25px 0 !important;
                    @media(max-width: 992px){
                        padding: 18px 15px 0 !important;
                    }
                }
                textarea.hs-input {
                    padding: 25px 25px 15px !important;
                    @media(max-width: 992px){
                        padding: 24px 15px 15px !important;
                    }
                }
            }
            &.not-focused {
                > label {
                    top: 10px;
                }
            }
            .hs-error-msgs {
                li {
                    label {
                        top: 0;
                        left: 0;
                        position: relative;
                    }
                }
            }
        }
        .hs-input {
            margin-bottom: 0;
            &.error {
                border: 1px solid #A94442;
            } 
        }
        .hs_error_rollup {
            text-align: center;
            margin-bottom: 20px;
            padding: 0;
        }
    }
}

.bg-purple-glow {
    position: relative;
    &::before {
        content: '';
        width: 430px;
        height: 430px;
        background: #090679;
        filter: blur(150px);
        display: block;
        position: absolute;
        left: -215px;
        z-index: -1;
    }
}
.bg-pink-glow {
    position: relative;
    &::after {
        content: '';
        width: 430px;
        height: 430px;
        background: rgba(#CD58F7, 0.4);
        filter: blur(150px);
        display: block;
        position: absolute;
        right: -215px;
        top: -100px;
        z-index: -1;
        @media (max-width: 767px) {  
            top: 100px;
        }
    }    
    &.glow-bottom {
        &::after {
            top: auto;
            bottom: 200px;
        }
    }
}
.bg-pink-glow-left {
    position: relative;
    &::before {
        content: '';
        width: 430px;
        height: 430px;
        background: rgba(#CD58F7, 0.4);
        filter: blur(150px);
        display: block;
        position: absolute;
        left: -70px;
        top: 60px;
        z-index: -1;
        @media (max-width: 767px) {  
            top: 100px;
        }
    }
}

.icw-pagination {
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    @include border-radius(8px);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    @media (max-width: 992px) {
        margin-top: 40px;
    }
    span, a {
        width: 40px;
        height: 40px;
        flex: none;
        font-size: 14px;
        color: #9896AD;
        font-weight: 600;
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        font-family: $font-inter;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
        &.current {
            background: $purple;
            color: $white;
        }
        .icon { 
            @include transition(0.3s, ease-in-out);
            border: none;
        }
        .icon-next {
            background: url(../images/icons/arrow-right.svg) no-repeat center center;
            background-size: 7px;
        }
        .icon-prev {
            background: url(../images/icons/arrow-left.svg) no-repeat center center;
            background-size: 7px;
        }
        &.next, &.prev {
            &:hover, &:focus {
                background: $purple;
                .icon {
                    filter: brightness(0) invert(1);
                }
            }
        }
        &:hover, &:focus {
            color: $white;
        }
    }
}

.main-header { 
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
    max-width: 100vw;
    background: #0A053D;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .navbar {
        padding: 12px 0;
        @media (max-width:992px) {
            & > .container {
                @include justify-content(flex-start);
            }
        }
        .navbar-brand {
            display: inline-block;
            line-height: 0.7;
            img {
                max-height: 35px;
                @media (max-width: 767px) {
                    max-height: 30px;
                }
            }
        }
        .navbar-nav {
            width: 100%;
            @media (min-width: 992px) {
                @include justify-content(center);
                @include align-items(center);
            }
            & > li {
                padding: 0 15px;
                display: inline-block;
                @media (max-width: 1200px) {
                    padding: 0 10px;
                }
                @media (max-width: 1200px) {
                    padding: 10px 0;
                }
                & > a {
                    font-size: 14px;
                    font-weight: 600;
                    color: $white;
                    position: relative;
                    z-index: 1;
                    padding: 0;
                    @include inline-flex;
                    @include align-items(center);
                    @include transition(0.2s, ease-in-out);
                    &::before {
                        content: '';
                        height: 1px;
                        background: $purple;
                        width: 0;
                        display: inline-block;
                        @include transition(0.2s, ease-in-out);
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    .arrow {
                        position: relative; 
                        float: right; 
                        width: 25px;
                        &.is-active {
                            &:after {
                                @include transform(rotate(180deg));
                            }
                        }
                        &:after {
                            vertical-align: middle; 
                            content: ""; 
                            background: url(../images/icons/icon-down.svg) no-repeat center right; 
                            background-size: contain; 
                            width: 12px; 
                            height: 10px; 
                            margin-left: 7px; 
                            display: inline-block; 
                            @include transition(0.2s, ease-in-out);
                            filter: brightness(0) invert(1);
                        }
                        @media (min-width:1200px) {
                            display: none;
                        }
                    }
                    @media (min-width:1200px) {
                        & > a {
                            &:after {
                                vertical-align: middle; 
                                content: ""; 
                                background: url(../images/icons/icon-down.svg) no-repeat center right; 
                                background-size: contain; 
                                width: 10px; 
                                height: 7px; 
                                margin-top: 2px;
                                margin-left: 8px; 
                                display: inline-block; 
                                @include transition(0.2s, ease-in-out);
                                filter: brightness(0) invert(1);
                            }
                        }
                        &:hover, &:focus {
                            > a {
                                &:after {
                                    @include transform(rotate(180deg)); 
                                    filter: inherit; 
                                    -webkit-filter: inherit;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .sub-menu {
                        @media (min-width: 992px){
                            @include opacity(0);
                            visibility: hidden;
                            position: absolute;
                            @include border-radius(5px);
                            @include box-shadow(0 10px 20px 0 rgba(255,255,255,0.2));
                            border: 1px solid rgba($purple, 0.2);     
                            background: #1E1951;
                            width: 100%;
                            padding: 8px 0;
                            left: 15px;
                            z-index: 1;
                            top: calc(100% + 10px);
                            @include transition(0.2s, ease-in-out);
                            @include transform(translateY(5px));
                            min-width: 180px;
                                                       
                        }
                        @media (max-width: 992px) {                            
                            display: none;
                            margin-left: 0px;
                            padding: 8px 0;
                            background: #1E1951;
                            margin-top: 10px;
                            @include transform(unset);
                            min-width: 100% !important;
                            @include border-radius(5px);
                        }
                        li {
                            padding: 8px 20px;
                            display: block;
                            line-height: 1;
                            a {
                                font-size: 14px;
                                font-weight: 400;
                                padding: 0;
                                display: inline-block;
                                color: $white;
                                position: relative;
                                width: auto;
                                vertical-align: middle;
                                @include transition(0.2s, ease-in-out);
                                &::before {
                                    content: '';
                                    height: 1px;
                                    background: $purple;
                                    width: 0;
                                    display: inline-block;
                                    @include transition(0.2s, ease-in-out);
                                    position: absolute;
                                    bottom: -2px;
                                    left: 0;
                                }
                                &:hover, &:focus, &.active {
                                    color: $purple;
                                    &::before {
                                        width: 100%;
                                        right: auto;
                                        left: 0;
                                    }
                                }
                            }
                        } 
                    }
                    &:hover, &:focus {                       
                        .sub-menu {
                            @include opacity(1);
                            visibility: visible;
                            z-index: 99;
                            @include transform(translateY(0px));
                        }
                    }
                }
            
                &:hover, &:focus {   
                    & > a {
                        color: $purple;
                        &::before {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    } 
                }
            }
        }
        .navbar-nav-right {
            margin-left: auto;
            @media (max-width: 991px) {        
                margin-top: 25px;
            }
            a {
                @include inline-flex;
                line-height: 0.7;
                font-size: 14px;   
                white-space: nowrap;    
                min-height: 44px;    
                padding: 0 20px; 
                .icon-discord {
                    background: url(../images/icons/icon-discord.svg) no-repeat center center;
                    background-size: contain;
                    width: 17px;
                    height: 17px;
                    display: inline-block;
                    margin-right: 8px;
                }        
            }
        }
        .navbar-toggler {
            border: none;
            background: transparent;
            padding: 0;
            margin-right: 30px;
            span {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
            }
        }
        @media (max-width: 992px) {
            .offcanvas {
                background-color: #0A053D; 
            }
        }
    }
}