.page-header-section {
    background-color:#002A73; 
    padding:90px 0 175px;
    
    @media (max-width:991px){
        padding: 50px 0 140px;
    }

    .section-title{
        margin-bottom:0;
        h1{color:#fff;margin-bottom:0}

        @media (min-width: 992px){
            text-align:center
        }
    }
}
.section-title {     
    h1 {
        color: #007DFC; font-size: 78px; font-family: $font-merriweather; position: relative; padding-bottom: 24px; margin-bottom: 60px;
        @media (max-width: 1440px){
            font-size: 60px; margin-bottom: 50px;
        }
        @media (max-width: 992px){
            font-size: 48px;
        }
        @media (max-width: 767px){
            font-size: 36px; margin-bottom: 40px;
        }
        &::after {
            content: ''; height: 10px; width: 500px; background: #007DFC; @include border-radius(3px); display: inline-block; position: absolute; bottom: 0; left: 0;
        }
    }
}

.coresets-section{
    padding: 0px !important;
    margin-top: -90px;
    position: relative;
    z-index: 9;
    // @media (max-width:991px) {
    //     padding: 50px 0 0;
    //     margin-bottom: 50px;
    // }

    &.coresets-sticky {
        transition: top 0.5s ease-in-out;
        -webkit-transition: top 0.5s ease-in-out;
        -moz-transition: top 0.5s ease-in-out;
        -ms-transition: top 0.5s ease-in-out;
        -o-transition: top 0.5s ease-in-out;
        &.scroll-down,&.scroll-up {
            position: fixed;
            background-color: #fff;
            width: 100%;
            z-index: 9;
            border-bottom: 1px solid #EBEBEB;
            .container {
                max-width: 100%;
            }
            .row {
                margin-top: 0px !important;
                margin-bottom: 0px !important;  
                .col-12 {
                    padding: 0px;
                }
            }
            .card-items {
                overflow-x: auto;
                overflow-y: hidden;
                @include flexbox();
                @include flex-wrap(nowrap);
                @include justify-content(center);
                // margin-left: -20px;
                // margin-right: -20px;
                scroll-snap-type: x mandatory;
                scroll-padding: 0px;

                padding: 15px 15px !important;
                @media (max-width:991px) {
                    @include justify-content(flex-start);
                    padding: 10px 15px !important;
                }
            
                .col-card {
                    width: auto;
                    margin: 0px;
                    flex: 0;
                }
            }
            .card-item {
                padding: 10px;
                h2 {
                    font-size: 14px;
                    padding: 10px;
                    margin-bottom: 0px;
                    white-space: nowrap;    
                    @include inline-flex;
                    .icons{
                        display: block;
                    }
                    span{
                        display: none;
                    }
                }
                .action-btn {
                    opacity: 0;
                    font-size: 0px;
                    padding: 0px;
                    height: 0;
                }
                .btn-video{
                    z-index: 1;
                }

                &:hover, &:focus {
                    color: $primary;
                }

                @media (max-width:767px) {
                    @include border-radius(10px);
                }
            }
        }
        
        &.scroll-down {
            top: -170px; 
        }
        &.scroll-up {
            top: 170px;
            @media (max-width:991px) {
                top: 160px;
            }
            @media (max-width:767px) {
                top: 155px;
            }
        }
    }
    


    @media (max-width: 575px) {
        background-color:#002A73; 
     &::before {
        content: "";
        background-color:#fff; 
        position: absolute;
        height: 80px;
        left: 0px;
        right: 0px;
        bottom: -2px;
     }   
    }

    .section-title{
        margin-bottom: 90px;
        @media (min-width:992px) {
            text-align: center;
        }
        @media (max-width:991px) {
            margin-bottom: 50px;
        }
        h1{
            color: $white;
        }
    }
    .card-items{
       
        @media (max-width: 992px) and (min-width: 575px) {
            overflow-y: auto;
            @include flexbox();
            @include flex-wrap(nowrap);
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
            // scroll-snap-type: x mandatory;
            // scroll-padding: 0px;

            .col-md-3{
                width: 240px;
            }
           
        }
        @media (max-width: 575px) {
        
        }
        // .col-md-3{
        //     scroll-snap-align: start;
        //     scroll-snap-stop: always;
        // }
        &::-webkit-scrollbar {
            height: 5px;
            margin-left: 20px;
        }
        &::-webkit-scrollbar-track {
            @include border-radius(5px);
            background-color: #EBEBEB;
        }
        &::-webkit-scrollbar-thumb {
            background: $black;
            @include border-radius(5px);
        }
    }
    .card-item{
        position: relative;
        text-align: left;
        background: $white;
        padding: 30px;
        height: 100%;
        @include flexbox();
        @include flex-direction(column);
        @include border-radius(20px);
        @include box-shadow(10px 10px 50px rgba(0, 0, 0, 0.05));
        @media (max-width:991px) {
            padding: 30px 20px;
        }
        &:hover, &:focus {
            @include box-shadow(10px 15px 50px rgba(0, 0, 0, 0.15)); 
        }
        h2{
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 20px;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            @media (max-width:991px) {
                font-size: 18px;
            }
            span{
                display: inline-block;
                vertical-align: middle;
            }
            .icons{
                display: none;
                margin: 0 0 0 10px;
                -webkit-box-flex: 0;
                -ms-flex: none;
                flex: none;
            }
        }
        .action-btn{
            @include flexbox();
            @include justify-content(space-between);
            .icons{
                margin-right: 5px;
            }
        }
        .btn-link{
            font-size: 14px;
            font-weight: 600;
            position: inherit;
            @media (max-width:580px) {
                font-size: 12px;
            }
     
            &:after{margin-left: 0; width: 100%; height: 100%; background: none;background-size: auto;}
            &:before{display: none;}
            span:before {content: "";position: absolute;z-index: -1;left: 0;bottom: 0px;background: #002A73;width: 0;height: 1px;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
            &.with-icon span:after {top: 3px;content: "";position: absolute;right: 0;display: block;width: 18px;height: 18px;background: url("https://dataheroes.ai/wp-content/uploads/2023/01/arrow-right.svg") no-repeat center;background-size: contain;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
            &:hover span::after, &:focus span::after {right: -5px;}
            &:hover span:before, &:focus span:before {width: 50%;}
            span {position: relative;}

            &:hover,&:focus {
                span{
                    &::after{
                        right: -5px;
                    }
                }
            }
            span{
                z-index: 1;
                padding-right: 24px;
                &::after{
                    position: absolute;
                    right: 0;
                }
            }
        }
	a.btn-video{ z-index: 5;}
        .btn-video{
            @include inline-flex;
            @include align-items(center);
            font-weight: 600;
            position: relative;
            font-size: 14px;
            color: $primary;
            @media (max-width:580px) {
                font-size: 12px;
            }
            &:hover,&:focus{
                color: $primary;
                span{
                    &:before {
                        width: 50%;
                    }
                }
            }
            span{
                position: relative;
                z-index: 1;
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 0px;
                    background: $primary;
                    width: 0;
                    height: 1px;
                    @include transition(0.3s, ease-in-out);
                }
            }
        }
    }
}



.data-section{
    color: #43474A;
    // padding-top: 240px;
    // margin-top: -200px;
    
    @media (max-width:991px) {
        padding-bottom: 20px;
    }
    h2{
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 30px; 
        font-family: $font-merriweather;
        @media (max-width:991px) {
            font-size: 36px;
            margin-bottom: 20px;
        }
        @media (max-width:767px) {
            font-size: 28px;
        }
    }
    h3 {
        font-family: $font-merriweather; font-weight: 900 !important; font-size: 36px;
        @media (max-width:991px) {
            font-size: 28px;
        }
        @media (max-width:767px) {
            font-size: 20px;
        }
    } 
    img{
        vertical-align: middle;
    }
    .lower-alpha{
        li{
            list-style: lower-alpha;
        }
    }
    .video-block{
        margin-bottom: 40px;
        border: 1px solid #dddddd;
        overflow: hidden;
        @include box-shadow(0 0px 6px rgba(0, 0, 0 , 0.1));
        @include border-radius(10px);
        @media (max-width:991px) {
            margin-bottom: 30px;
        }
        video{
            width: 100%;
            vertical-align: middle;
        }
    }
    .img-block{
        margin-bottom: 40px;
        margin-top: 40px;
        text-align: center;
        @media (max-width:991px) {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
    .image-block{
        text-align: center;
        margin-bottom: 40px;
        @media (max-width:991px) {
            margin-bottom: 30px;
        }
    }
    p{
        color: #43474A;
        font-weight: 400;
        margin-bottom: 20px;
        a{
            text-decoration: underline;
            font-weight: 600;
            &:hover,&:focus{
                text-decoration: none;
            }
        }
        span{
            color: $primary;
            font-weight: 700;
        }
    }
    .icon-content-block{
        margin: 40px 0;
        @media (max-width:991px) {
            margin: 20px 0;
        }
        .image-block{
            margin-bottom: 15px;
            max-height: 90px;
            min-height: 90px;
            @include flexbox();
            @include align-items(center);
        }
        h3{
            font-weight: 900;
            font-size: 36px;
            color: #24292D;
            margin-bottom: 15px; 
            font-family: $font-merriweather;
            @media (max-width:991px) {
                font-size: 20px;
            }
        }
    }
    ol{
        margin: 0 0 30px;
        padding-left: 20px;
        @media (max-width:991px) {
            margin-bottom: 20px;
        }
        li{
            list-style: decimal;
            margin-bottom: 10px;
            .image-block{
                margin-left: -20px; margin-bottom: 40px;
                margin-top: 40px;
            }
            p {
                line-height: 1.8;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            span{
                color: $primary;
                font-weight: 700;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &::marker{
                margin-right: 10px;
            }
        }
    }
    ul{
        margin: 0 0 30px;
        padding-left: 20px;
        @media (max-width:991px) {
            margin-bottom: 20px;
        }
        li{
            list-style: disc;
            margin-bottom: 10px;
            span{
                color: $primary;
                font-weight: 700;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .column-box{
        margin-bottom: 40px;
        margin-top: 40px;
        @media (max-width:991px) {
            margin-bottom: 25px;
            margin-top: 25px;
        }
        .title-text{
            font-weight: 500;
            font-size: 18px;
            color: $secondary;
            font-style: italic;
        }
        .column-item{
            border: 1px solid #EBEBEB;
            padding: 40px;
            min-height: 130px;
            @media (max-width:991px) {
                padding: 25px;
                min-height: auto;
            }
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
            ~ .column-item{
                border-top: transparent;
            }
        }
    }

    .video-block .ratio{position:relative;margin: 0 -1px;}
    .video-block .ratio.ratio-16x9::before{display:block;padding-top:56.25%;content:""}
    .video-block .ratio>*{position:absolute;top:0;left:0;width:100%;height:100%}
    .video-block .ratio iframe{border:0}
    .highlight-bg-block {
        background: #E4EBF4; @include border-radius(20px); border-bottom: 5px solid #007DFC; text-align: center; padding: 40px; margin: 35px 0;
        @media (max-width:991px) {
            padding: 30px;
        }
        @media (max-width:767px) {
            padding: 15px;
        }
        h2 {
            margin-bottom: 0; font-size: 36px;
            @media (max-width:991px) {
                font-size: 28px;
            }
            @media (max-width:767px) {
                font-size: 20px;
            }
            span {
                color: #007DFC; background: url(../images/border-curve-img.svg) no-repeat center bottom; padding: 0 10px 8px; background-size: contain;
                @media (max-width:767px) {
                    padding: 0 8px 5px;
                }
            }
        }
    }
}
