.hero-section {
    margin-top: 92px; position: relative; overflow: hidden; padding: 0 !important;
    @media (max-width:1366px) { 
        margin-top: 82px;
    }
    @media (max-width: 420px) { 
        margin-top: 62px;
    }
    &::after {
        position: absolute; content: ""; width: 45vw; height: 100%; right: 0; top: 0; bottom: 0; z-index: -1; background: #1E4397 url(../images/hero-img.png) no-repeat center center; background-size: 100% 100%;
        @media (max-width: 767px) { 
            width: 100%; height: 400px; 
        }       
        @media (max-width: 575px) { 
            height: 300px; 
        }       
    }
    &::before {
        position: absolute; content: ""; width: 775px; height: 775px; background: #E5F2F2; opacity: 0.8; filter: blur(75px); bottom: -100px; left: -110px; z-index: -1;
        @media (max-width: 992px) { 
            width: 650px; height: 650px;
        }
        @media (max-width: 767px) { 
            width: 500px; height: 500px;
        }
    }
    .section-title {
        padding: 180px 0; margin-bottom: 0;
        @media (max-width:1200px) { 
            padding: 150px 0;
        }
        @media (max-width: 992px) { 
            padding: 100px 0;
        }
        @media (max-width: 767px) { 
            padding: 470px 0 70px;
        }
        @media (max-width: 575px) { 
            padding: 350px 0 50px;
        }
        .sort-info {
            margin-bottom: 40px;
            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
        .action-block {
            @include flexbox; @include align-items(center);
            @media (max-width: 420px) { 
                display: block;
            }
        }
        .icon-content-item {
            @include flexbox; @include align-items(center); text-decoration: none; color: $black; margin-left: 25px;
            @media (max-width: 420px) {
                margin-left: 0px; margin-top: 25px;
            }
            .icon-img {
                margin-right: 17px;
                .icons {
                    background-size: contain !important; display: inline-block !important;
                    &.icon-phone {
                        background: url(../images/icons/icon-phone.svg) no-repeat center center; width: 36px; height: 36px;
                        @media (max-width: 992px) {
                            width: 30px; height: 30px;
                        }
                    }
                }
            }
            .card-details {
                .card-title {
                    font-weight: 400; font-size: 12px;
                }
                .info-dec {
                    font-weight: 500; font-size: 18px; position: relative;
                    @media (max-width: 992px) {
                        font-size: 16px;
                    }
                    &::before {
                        content: ""; position: absolute; z-index: -1; left: 0; bottom: 0px; background: $primary; width: 0; height: 1px; @include transition(0.3s, ease-in-out);
                    }
                }
            }
            &:hover {
                .card-details {
                    .info-dec {
                        color: $primary;
                        &::before { 
                            width: 50%;
                        }
                    }
                }
            }
        }
        .rating-img {
            position: absolute; bottom: 40px; left: 51%;
            @media (max-width: 1200px) {
                left: 48%;
                img {
                    max-width: 180px;
                }
            }
            @media (max-width: 767px) {
                bottom: auto; top: 42%; left: auto; right: 10%;
            }
            @media (max-width: 575px) {
                top: 35%; right: 5%;
                img {
                    max-width: 150px;
                }
            }
            @media (max-width: 420px) {
                top: 30%; 
            }
        }
    }
}

