body {
    padding: 0;
    margin: 0;
}
.filter-slider-section {
    padding: 100px 0;
    font-family: 'Montserrat', sans-serif;
    .container {
        max-width: 1640px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .filter-action {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px 24px;
        margin-bottom: 16px;
        @media (max-width: 575px) {
            gap: 10px;
        }
        .filter-action-btn {
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            color: #ffffff;
            background: #6815FF;
            border: 1px solid #6815FF;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            padding: 10px 35px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 575px) {
                padding: 10px 18px;
            }
            &:hover, &:focus {
                background: #4600c6;
                border-color: #4600c6;
            }
        }
    }
    .filter-box {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 26px;
        row-gap: 16px;
        margin-bottom: 16px;
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
        }
        @media (max-width: 374px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .filter-category-dropdown {
            position: relative;
            .dropdown-toggle {
                border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                background-color: #F8F8F8;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none"><rect width="5.65669" height="1.41417" rx="0.707086" transform="matrix(-0.707104 0.707109 -0.707104 -0.707109 8 1)" fill="black"/><rect width="5.65669" height="1.41417" rx="0.707086" transform="matrix(-0.707104 -0.707109 0.707105 -0.707109 4 5)" fill="black"/></svg>');
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: calc(100% - 24px) center;
                padding: 10px 24px;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                gap: 8px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 0.7;
                cursor: pointer;
                position: relative;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                @media (max-width: 767px) {
                    font-size: 14px;
                    padding: 12px 15px;
                    background-position: calc(100% - 15px) center;                    
                }
                .dropdown-filter-input-icon {
                    width: 16px;
                    height: 16px;
                    flex: none;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border: 1px solid #6815FF;
                    &.selected {
                        background: #6815FF;
                    }
                    @media (max-width: 767px) {
                        width: 12px;
                        height: 12px;
                    }
                }
                .icon {
                    line-height: 0.7;
                    display: inline-block;
                    @media (max-width: 767px) {
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
                &:hover, &:focus {
                    border-color: #c5c5c5;
                }
            }
            .dropdown-menu {
                border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                background: #DFDFDF;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                padding-top: 40px;
                display: none;
                ul {
                    margin: 0;
                    padding: 10px 0;
                    list-style-type: none;
                    @media (max-width: 767px) {
                        padding: 8px 0;
                    }
                    li {
                        label {
                            padding: 10px 24px;
                            display: -webkit-box;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-justify-content: space-between;
                            -moz-justify-content: space-between;
                            -ms-justify-content: space-between;
                            justify-content: space-between;
                            -ms-flex-pack: space-between;
                            -webkit-align-items: center;
                            -moz-align-items: center;
                            -ms-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            font-size: 16px;
                            color: #000000;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;
                            @media (max-width: 767px) {
                                font-size: 14px;
                                padding: 8px 15px;
                            }
                            &:hover, &:focus {
                                color: #6815FF;
                                background: rgba(198, 198, 198, 0.30);
                            }
                            .filter-checkbox {
                                margin: 0;
                                width: 16px;
                                height: 16px;
                                flex: none;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;
                                border: 1px solid #000;
                                -webkit-appearance: none;
                                appearance: none;
                                -webkit-transition: all 0.3s ease-in-out;
                                -moz-transition: all 0.3s ease-in-out;
                                -o-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out;
                                &:checked {
                                    background: #000000;
                                }
                            }
                        }
                    }
                }
            }
            &.dropdown-open {
                .dropdown-toggle {                    
                    z-index: 12;
                }
                .dropdown-menu.dropdown-active {
                  display: block;
                }
            }
        }
    }
    .filter-slider-block {
        border-radius: 24px;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        background: #F8F8F8;
        padding: 65px 23px;
        @media (max-width: 767px) {
            padding: 35px 15px;
        }
        .filter-slide-box {
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border: 4px solid #C6C6C6;
            padding: 10px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            @media (max-width: 1200px) {
                border-width: 3px;
                padding: 7px;
            }
            @media (max-width: 767px) {
                border-width: 2px;
                padding: 5px;
            }
            .inner-content {
                border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                background: #C6C6C6;
                position: relative;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 260px;
                    border-radius: 0 0 8px 8px;
                    background: linear-gradient(0deg, #C6C6C6 0%, rgba(198, 198, 198, 0.00) 96.35%);
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                .slide-img {
                    border-radius: 8px;
                    -moz-border-radius: 8px;
                    -webkit-border-radius: 8px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .slide-action {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -moz-transform: translate(-50%, -50%);  
                    -webkit-transform: translate(-50%, -50%);  
                    -o-transform: translate(-50%, -50%);  
                    -ms-transform: translate(-50%, -50%); 
                    transform: translate(-50%, -50%);
                    .action {
                        border-radius: 8px;
                        -moz-border-radius: 8px;
                        -webkit-border-radius: 8px;
                        background: rgba(0, 0, 0, 0.20);
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(10px);
                        padding: 15px;
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        color: #ffffff;
                        text-transform: uppercase;
                        text-decoration: none;
                        -moz-opacity: 0;
                        -khtml-opacity: 0;
                        -webkit-opacity: 0;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        @media (max-width: 767px) {
                            font-size: 14px;
                            padding: 10px;
                        }
                        &:hover, &:focus {
                            color: #97F123;
                            .icon svg {
                                -moz-transform: scale(1.1);  
                                -webkit-transform: scale(1.1);  
                                -o-transform: scale(1.1);  
                                -ms-transform: scale(1.1); 
                                transform: scale(1.1);
                            }
                        }
                        .icon {
                            display: block;                          
                            svg {
                                width: 14px;
                                -webkit-transition: all 0.3s ease-in-out;
                                -moz-transition: all 0.3s ease-in-out;
                                -o-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out;  
                                @media (max-width: 767px) {
                                    width: 12px;
                                }
                            }
                        }
                    }
                }
                .slide-content {
                    position: absolute;
                    bottom: 25px;
                    width: calc(100% - 30px);
                    text-align: center;
                    padding: 0 15px;
                    h3 {
                        font-size: 36px;
                        font-weight: 700;
                        text-shadow: 0px 0px 5px rgba(23, 23, 25, 0.20);
                        text-transform: uppercase;
                        color: #000;
                        margin: 0 0 8px;
                        line-height: 1;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        @media (max-width: 1440px) {
                            font-size: 26px;
                        }
                        @media (max-width: 767px) {
                            font-size: 20px;
                        }
                    }
                    .category {
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #FFF;
                        @media (max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                }
            }
           
        }
        .swiper-slide-active {
            .filter-slide-box { 
                border-color: #6815FF;
                .inner-content { 
                    background: #6815FF;
                    &::before {
                        background: linear-gradient(0deg, #6815FF 0%, rgba(104, 21, 255, 0.00) 100%);
                    }
                    .slide-action {
                        .action {
                            -moz-opacity: 1;
                            -khtml-opacity: 1;
                            -webkit-opacity: 1;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .slide-content {
                        h3 {
                            color: #97F123;
                        }
                    }
                }
            }
        }
    }
}