.main-section {
    padding: 100px 0;
    @media (max-width: 992px) {
        padding: 70px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}
.section-title {
    margin-bottom: 50px;
    @media (max-width: 992px) {
        margin-bottom: 40px;
    }
    &.is-border-thin {
        border-width: 1px !important;
    }
    &.is-top-border-line {
        padding-top: 30px;
        border-top: 5px solid var(--line-color, $primary);
        @media (max-width: 992px) {
            padding-top: 20px;
        }
    }
    &.is-only-info-line {
        .sort-info {
            padding-left: 40px;
            border-left: 5px solid var(--line-color, $primary);
            @media (max-width: 767px) {
                padding-left: 20px;
            }
        }
        &.mw-500 {
            .sort-info {
                max-width: 500px;
                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
        }
    }
    &.is-only-info-line {
        .sort-info {
            padding-left: 40px;
            border-left: 5px solid var(--line-color, $primary);
            @media (max-width: 767px) {
                padding-left: 20px;
            }
        }
        &.mw-500 {
            .sort-info {
                max-width: 500px;
                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
        }
    }
    &.is-title-line-center {
        .title {
            position: relative;
            z-index: 1;
            span {
                background: var(--bg-color, $white);
                padding: 0 40px;
                @media (max-width: 992px) {
                    padding: 0 20px;
                }
                @media (max-width: 767px) {
                    padding: 0 10px;
                }
            }
            &::before, &::after {
                content: '';
                height: 5px;
                width: 100%;
                background: var(--line-color, $primary);
                display: block;
                position: absolute;
                top: calc(50% - 3px);
                z-index: -1;
            }
        }
    }
    &.is-full-title-left-line {
        border-right: 5px solid var(--line-color, $primary);
        padding: 10px 40px 10px 10px;
        @media (max-width: 767px) {
            padding: 10px 20px 10px 10px;
        }
        .tag-line {
            @include justify-content(flex-end);      
            padding-left: 20px;   
            span {
                padding-left: 30px;
            }   
            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background: var(--line-color, $primary);
                display: block;
                z-index: -1;
            }
        }
    }
    &.text-right {
        text-align: right;
        .tag-line {
            @include justify-content(flex-end);
        }
        .sort-info {
            text-align: justify;
        }
    }
    &.mw-850 {
        max-width: 850px;
        margin: 0 auto 50px;
        @media (max-width: 992px) {
            margin: 0 auto 40px;
        }
    }
    .tag-line {
        color: $blue;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 1.5px;
        @include flexbox;
        @include align-items(center);
        white-space: nowrap;
        &.is-line-right {
            span {
                padding-right: 20px;
            }
            &::after {
                content: '';
                height: 5px;
                width: 100%;
                background-color: var(--line-color, $primary);
            }
        }
    }
    .h1, h1, .h2, h2 {
        margin-bottom: 20px;
        color: $secondary;
        letter-spacing: 2.5px;
        line-height: normal;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .sort-info {
        font-size: 22px;
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
        strong {
            color: $secondary;
            font-weight: 600;
            letter-spacing: 0.3px;
        }
    }
    .action {
        margin-top: 50px;
        @media (max-width: 992px) {
            margin-top: 30px;
        }
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }
}
.page-header {
    background-image: var(--header-bg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    padding: 300px 0 150px;
    @include flexbox;
    @include align-items(center);
    min-height: 600px;
    @media (max-width: 1200px) {
        padding: 250px 0 100px;
    }
    @media (max-width: 992px) {
        min-height: 450px;
    }
    @media (max-width: 767px) {
        padding: 150px 0 70px;
        min-height: 300px;
    }
    & > * {
        z-index: 1;
    }
    .section-title {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        h1 {
            color: $primary;
            letter-spacing: 1.5px;
            strong {
                color: $white;
            }
        }
        .action {
            margin-top: 70px;
            @media (max-width: 992px) {
                margin-top: 50px;
            }
            @media (max-width: 767px) {
                margin-top: 30px;
            }
        }
    }
}
blockquote {
    font-size: 45px;
    font-style: italic;
    margin: 0;
    @media (max-width: 1200px) {        
        font-size: 35px;
    }
    @media (max-width: 767px) {        
        font-size: 25px;
    }
    strong {
        color: $primary !important;
        font-weight: 700;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}
$info_card_hover_padding:20px;
.info-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    &.is-card-content-bottom {
        position: relative;
        height: auto;
        .card-image {
            img {                
                aspect-ratio: 1/1;
                width: 100%;
                object-fit: cover;
            }
        }
        .hover-text {
            position: absolute;
            bottom: $info_card_hover_padding;
            width: calc(100% - #{2 * $info_card_hover_padding});
            height: calc(100% - #{2 * $info_card_hover_padding});
            left: $info_card_hover_padding;
            border: 1px solid $primary;
            @include flexbox;
            @include transition(0.3s, ease-in-out);
            @include align-items(flex-end);
            .content {
                background: rgba($primary, 0.8);
                color: $secondary;
                font-weight: 700;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                text-align: center;
                line-height: normal;
                padding: 10px;
                width: 100%;
                height: 75px;
                @include transition(0.3s, ease-in-out);
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                z-index: 1;
                @media (max-width: 1400px) {
                    font-size: 16px;
                }
                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }
            
        }
        &.is-no-padding {
            .hover-text {
                .content {
                    margin-bottom: -($info_card_hover_padding + 1);
                    background: $primary;
                    width: calc(100% + #{2 * ($info_card_hover_padding + 1)});
                    margin-left: -($info_card_hover_padding + 1);
                    margin-right: -($info_card_hover_padding + 1);
                }
            }
        }
    }
    &.is-left-icon {
        @include flex-direction(row);
    }
    &.with-bg {
        background: $white;
        border: 1px solid $secondary;
        padding: 25px;
        @include transition(0.3s, ease-in-out);
        @media (max-width: 1200px) {     
            padding: 15px;
        }
        .card-icon {            
            background: #FFF8DD;
            padding: 10px;   
            margin-right: 20px;
            min-width: 115px;
            max-width: 115px;
            max-height: 125px;
            @include flexbox;
            @include align-items(center);
            @media (max-width: 1200px) {        
                margin-right: 15px;
                min-width: 95px;
                max-height: 110px;
            }
            span {
                display: block;
            }
            img {
                height: 95px;
                width: 100%;
                @media (max-width: 1200px) {   
                    height: 85px;
                }
            }
            &.is-left {
                span {
                    margin-left: -20px;
                }
            }
            &.is-right {
                span {
                    margin-right: -20px;
                }
            }
        }
        .card-body {
            @include flexbox;
            @include align-items(center);
            color: $secondary;
            h3 {
                font-size: 22px;
                font-weight: 900;
                margin-bottom: 0;
                line-height: normal;
                @include transition(0.3s, ease-in-out);
                @media (max-width: 1400px) {        
                    font-size: 20px;
                }
                @media (max-width: 1200px) {   
                    font-size: 18px;
                }
            }
        }
    }
}
a.info-card {
    &.is-hover-animation {
        &:hover, &:focus {
            .hover-text {               
                .content {
                    height: 100%;
                }
            }
        }
        &.is-no-padding {
            &:hover, &:focus {
                .hover-text {
                    .content {
                        height: calc(100% + #{2 * ($info_card_hover_padding + 1)});
                    }
                }
            }
        }
    }
    &.with-bg { 
        &:hover, &:focus { 
            @include box-shadow(0px 5px 5px 5px rgba(0, 0, 0, 0.05));
            @include transform(translateY(-5px));
            .card-body {
                h3 {
                    color: $primary;
                }
            }
        }
    }
}
.practice-card {
    .info-card {
        &.is-hover-animation {
            .hover-text {
                border: 1px solid #B9D1E9;
                .content {
                    background: #B9D1E9;
                }
            }
        }
    }
    .info-card-details {
        display: none;
    }
    &.active {
        position: sticky;
        top: 120px;
        @media (max-width: 767px) {
            top: 100px;
        }
        .info-card {
            &.is-hover-animation {
                .hover-text {
                    border: 1px solid $primary;
                    .content {
                        background: $primary;
                    }
                }
            }
        }
        .info-card-details {
            display: block;
        }
    }
}
.info-card-details {
    padding: 20px 10px;
    text-align: center;
    @media (max-width: 992px) {
        padding: 15px 0;
    }
    .sort-info {
        color: $secondary;
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        padding: 0 20px;
        @media (max-width: 1200px) {
            font-size: 16px;
            padding: 0 10px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            padding: 0;
        }
    }
    .title {
        background: $secondary;
        padding: 10px 15px;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        margin: 15px 0;
    }
    ul {
        li {
            padding: 5px 0;
            color: $secondary;
            font-weight: 700;
            a {
                color: $secondary;
                @include transition(0.3s, ease-in-out);
                &:hover, &:focus {
                    color: $primary;
                }
            }
        }
    }
}

.client-review-section {
    .blockquote-block {
        max-width: 650px;
        padding: 30px;
        padding-right: 0;
        border-left: 5px solid $primary;
        line-height: 1.1;
        margin-left: auto;
        @media (max-width: 1200px) {        
            max-width: 450px;
            padding: 20px;
        }
        @media (max-width: 767px) {        
            max-width: 100%;
        }
    }
}

.filter-form-block {
    margin-bottom: 50px;
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
    .form-group {
        select {
            text-transform: uppercase;
            option {
                text-transform: capitalize;
                font-size: 16px;
                background: $white;
                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }
        }
    }
}