@font-face {
	font-family: 'CentraNo1';
	font-weight: 400;
	font-display: swap;
	font-fallback: Serif;
	src: url('fonts/CentraNo1-Book.woff2') format('woff2'),
		url('fonts/CentraNo1-Book.woff') format('woff'),
		url('fonts/CentraNo1-Book.eot?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'CentraNo1';
	font-weight: 700;
	font-display: swap;
	font-fallback: Serif;
	src: url('fonts/CentraNo1-Bold.woff2') format('woff2'),
		url('fonts/CentraNo1-Bold.woff') format('woff'),
		url('fonts/CentraNo1-Bold.eot?#iefix') format('embedded-opentype');
}
