/* body.single-product .product-three-col-benefits-section .container .benefits {max-width: 1080px; display: inline-flex; margin: 0px auto; gap: 0px 80px;}
body.single-product .product-three-col-benefits-section .container .benefits .forty.col-benefit .ben-col {width: 100% !important;}
body.single-product .product-three-col-benefits-section .container .benefits .col-benefit .text-center img {width: 185px; max-width: 185px; min-width: 185px;} */

body header .menu-site-menu-container ul li.current-menu-item > a,
body.single-product header .menu-site-menu-container ul li.menu-item-product > a  {color: #FD5939 !important;}

body.single-product .product-three-col-benefits-section .container .benefits {
    max-width: 1240px;
    width: 100%;
    display: grid;
    margin: 0px auto;
    gap: 0px 80px;
    grid-template-columns: repeat(3, 1fr);
}
body.single-product .product-three-col-benefits-section .container .benefits div {width: auto !important;}
body.single-product .product-three-col-benefits-section .container .benefits .col-benefit .text-center img {
    width: 275px; max-width: 275px; min-width: 275px;
}

@media (max-width: 1100px) and (min-width: 992px) {
    body.single-product .product-three-col-benefits-section .container .benefits {
        gap: 0px 50px;
    }
    body.single-product .product-three-col-benefits-section .container .benefits .col-benefit .text-center img {
        width: 220px; max-width: 220px; min-width: 220px;
    }
}
@media only screen and (max-width: 991px) { 
    body.single-product .product-three-col-benefits-section .container .benefits {
        gap: 0px 50px;
    }
    body.single-product .product-three-col-benefits-section .container .benefits .col-benefit .text-center img {
        width: 200px; max-width: 200px; min-width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    body.single-product .product-three-col-benefits-section .container .benefits {grid-template-columns: repeat(1, 1fr);}
    body.single-product .product-three-col-benefits-section .container .benefits .forty.col-benefit {margin-bottom:2rem !important}
}

.fw-video-section .full .featured-video {height: auto;}
.fw-video-section .full .featured-video .video-thumbnail-image {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}
.fw-video-section .featured-video-wrap .featured-video {
    border-radius: 15px; 
    overflow: hidden;
}

.featured-video-wrap {max-width: 1400px; margin: 0 auto;}
.featured-video-wrap .icw-embed-responsive-item {
    width: 100%;
    height: unset; 
    aspect-ratio: 16/9;
  }

.icw-note-content {padding: 20px; text-align: center;}
.icw-note-content a { text-decoration: underline; text-underline-offset: 4px;}
.icw-note-content a:hover, .icw-note-content a:focus {text-decoration: none;}

.icw-list {margin: 0px !important; padding: 0px !important;}
.icw-list li {display: grid; grid-template-columns: 35px 1fr; margin: 0px !important; padding: 0px 0px 10px !important;}
.icw-list strong {font-family: sans-serif;}

body.page-id-847 .faq-section .main-inner-wrap .content-inner-wrap:first-child,
body.page-id-847 .faq-section .left-side.text-wrap {display: none !important;}

.double-hero-beige .autoplay-video {width: 100%; padding-right: 15%;}
.double-hero-beige .autoplay-video video {width: 100%;}

@media only screen and (max-width: 767px) { 
    .double-hero-beige .autoplay-video {width: 100%; padding-right:0px;}  
}

@-webkit-keyframes scroll-anim {
	0% {background-position: 0 0;}
    100% {background-position: -2991px 0px;}
}
@keyframes scroll-anim {
	0% {background-position: 0 0;}
    100% {background-position: -2991px 0px;}
}
@-webkit-keyframes scroll-wave {
	0% {left: 0;}
    100% {left: -1868.5px;}
}
@keyframes scroll-wave {
	0% {left: 0;}
    100% {left: -1868.5px;}
}
body.home section.double-hero-beige:before,
body.page .two-col-left-image-section:before,
section.--bg-scroll-wave:before {
    background-image: url(../../images/home-scroll-bg.svg) !important;
    background-repeat: repeat-x !important;
    background-size:auto !important;
    -webkit-animation: scroll-anim 30s linear infinite;
            animation: scroll-anim 30s linear infinite;
}
body.home .product-card-toggler-beige-section:after {
    -webkit-animation: scroll-wave 35s linear infinite;
            animation: scroll-wave 35s linear infinite;
}
@media only screen and (max-width: 767px) { 
    body.home section.double-hero-beige:before,
    body.page .two-col-left-image-section:before {
        background-size: cover !important;
        height: 80vh;
    }
}
body.postid-219 table.variations th.label[style="visibility: visible;"],
body.postid-677 table.variations th.label[style="visibility: visible;"],
body.postid-785 table.variations th.label[style="visibility: visible;"]{display: none !important;}
body .image-right-two-column-beige-section {background-position: bottom center;}

section.--bg-scroll-wave:before {
    content: '';
    position: absolute;
    top: -2%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: top right;
}
section.--bg-wave:before {
    content: '';
    position: absolute;
    top: -2%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: 60% 0%;
    background-image: url(../../images/home-scroll-bg.svg) !important;
    background-repeat: repeat-x !important;
    background-size:auto !important;
}

section.--bg-page:before {
    content: '';
    position: absolute;
    top: -2%;
    left: -140%;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: top center;
    background-image: url(../../images/home-scroll-bg.svg) !important;
    background-repeat: repeat-x !important;
    background-size: contain !important;
}

.contnet-text-section {
    position: relative;
    font-size: 18px;
}
.contnet-text-section p {margin-bottom: 2rem; line-height: 1.5;}
.contnet-text-section strong {font-variation-settings: "wght" 600;}

.pb-200 {padding-bottom: 200px;}

/* testimonials */
.row-grid-50-50 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}
.col-grid {}

.testimonials-list {margin-top: 3rem; padding: 0 50px;}
.testimonials-list hr {width: 100%; display: block; margin: 50px 0; border-bottom: 1px solid #231D20;}
.testimonial-list * {font-size: 16px;}

.player-wrap {background: #000000;}

@media only screen and (min-width: 1400px) {
    .row-grid-50-50 {
        -ms-grid-columns: 1fr 6rem 1fr;
        grid-gap: 6rem;
    } 
    .testimonials-list {margin-top: 6rem; padding: 0 6rem;} 
}
@media only screen and (max-width: 767px) {
    .row-grid-50-50 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }  
    .testimonials-list {margin-top: 50px; padding:0px;}
    .testimonials-list hr {margin: 20px 0;}
}