/* Main column width */
body.post-type-page .wp-block {
    max-width: none;
}

/* Width of "wide" blocks */
body.post-type-page .wp-block[data-align='wide'] {
    max-width: none;
}

/* Width of "full-wide" blocks */
body.post-type-page .wp-block[data-align='full'] {
    max-width: none;
}

body.wp-admin .block-editor-block-list__layout h1, body.wp-admin .block-editor-block-list__layout .h1 {
	font-weight: 600;
	font-size: 55px;
	margin-bottom: 25px;
	color: #000;
	
}
body.wp-admin .block-editor-block-list__layout h1 strong, body.wp-admin .block-editor-block-list__layout .h1 strong {
    color: #1E4397;
}

body.wp-admin .block-editor-block-list__layout h2, body.wp-admin .block-editor-block-list__layout .h2 {
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 20px;
	color: #000;
	
}

body.wp-admin .block-editor-block-list__layout h3, body.wp-admin .block-editor-block-list__layout .h3 {
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 25px;
	color: #000;
	line-height: 1.4;	
}

body.wp-admin #wpbody-content h4, body.wp-admin #wpbody-content .h4 {
	font-weight: 600;
	color: #000;
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 1.4;	
}

body.post-type-post .is-root-container figure{margin-bottom:30px}
body.post-type-post .is-root-container img{width:100%;-o-object-fit:cover;object-fit:cover}
body.post-type-post .is-root-container p {margin-bottom:20px;line-height:1.4}
body.post-type-post .is-root-container h2,
body.post-type-post .is-root-container h3,
body.post-type-post .is-root-container h4,
body.post-type-post .is-root-container h5,
body.post-type-post .is-root-container h6{padding-top:10px;margin-bottom:20px;line-height:1.2}
body.post-type-post .is-root-container a{color:#1E4397;opacity:1;font-weight:500}
body.post-type-post .is-root-container a:hover,body.post-type-post .is-root-container a:focus{text-decoration:underline}
body.post-type-post .is-root-container ul{padding-left:20px;margin-bottom:30px}
body.post-type-post .is-root-container ul li{list-style:disc;margin-bottom:5px}
body.post-type-post .is-root-container ol{padding-left:20px;margin-bottom:30px}
body.post-type-post .is-root-container ol li{padding-left:5px;list-style:decimal;margin-bottom:5px}
body.post-type-post .is-root-container blockquote{background-color:#f7f7f7;border-left:4px solid #1E4397;padding:30px;font-weight:600;margin-bottom:30px}
body.post-type-post .is-root-container blockquote p:last-child{margin-bottom:0}