.pr-services-template .page-header{
	text-align:center;
}
.pr-services-template .page-header .sort-info{
	text-align:center;
	margin:10px auto;
}
.pr-with-blue-bg:before{
	position: absolute;
    content: "";
    width: 40vw;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #1E4397;
    background: linear-gradient(45deg, #1E4397, #3CACE4, #1E4397, #3CACE4);
    background-size: 1000% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.pr-with-blue-bg-right:after{
	position: absolute;
    content: "";
    width: 40vw;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #1E4397;
    background: linear-gradient(45deg, #1E4397, #3CACE4, #1E4397, #3CACE4);
    background-size: 1000% 100%;
    -webkit-animation: gradient 16s linear infinite;
    animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.blueText{
	color:#1E4397;
}
.pr-custom-section .col-lg-7{
	max-width:900px!important;
	width:100%!important;
	margin:0 auto!important;
}
.pr-custom-section .section-title h2,
.pr-custom-section .section-title .sort-info{
	text-align:center;
	
}
.pr-custom-section .helper-item-block .helper-item{
	border:0px;
	align-items: start;
}

.pr-custom-section .helper-item-block .helper-item .helper-img {
    width: 10%;
}
.pr-custom-section .helper-item-block .helper-item .content-block{
	width:90%;
}
.pr-custom-section .helper-item-block .helper-item .helper-img img{
	height: auto;
    object-fit: unset;
}
.pr-faq-section .collapse-item .collapse-title::before{
	display:none;
}
.pr-faq-section .collapse-item .collapse-title h3{
	position:relative;
	padding-left:50px;
	color:#1E4397;
}
.pr-faq-section .collapse-item .collapse-title h3 span{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	font-weight: 500;
    font-size: 24px;
	color:#1E4397;
}
.pr-faq-section .collapse-item .card-content{
	margin-left:50px;
}
.pr-cardinfogrid-section .helper-item-block .helper-item {
	border:0px;
}
.pr-cardinfogrid-section .helper-item-block .helper-item .content-block{
	width:100%;
	padding:30px 30px 20px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 1;
}

.custom-bg1{
	background:#FFFFFF url('../images/custom-background.png') no-repeat top center;
	background-size:cover;
}
.custom-bg2{
	background:#FFFFFF url('../images/custom-background-2.png') no-repeat top center;
	background-size:cover;
}

.box {
   background-color: #ffffff;
    height: 100%;
	position:relative;
}
.box:before{
	z-index:1;
	width:100%;
	height:5px;
	position:absolute;
	top:0px;
	left:0px;
	content:"";
	background: rgb(30,67,151);
	background: linear-gradient(90deg, rgba(30,67,151,1) 0%, rgba(60,172,228,1) 78%);
}
.row.display-flex [class*='col-'] {
    
}
@media only screen and (max-width: 768px) {
	.pr-custom-section .helper-item-block .helper-item .helper-img{
		margin-top:13px!important;
	}
}
@media only screen and (max-width: 767px) {
	.pr-with-blue-bg:before,
	.pr-with-blue-bg-right:after{
		width: 100%!important;
		height: 35vh!important;
	}
	.section-title{
		margin-top:20px!important;
	}

}
@media only screen and (max-width: 575px){
	.pr-custom-section .helper-item-block .helper-item .helper-img{
		width:100%!important;
		display:block!important;
		text-align:center!important;
	}
	.pr-custom-section .helper-item-block .helper-item .helper-img img{
		margin:0 auto!important;
		width:100%!important;
		max-width:60px!important;
	}
	.pr-custom-section .helper-item-block .helper-item .content-block{
		width:100%!important;
		display:block!important;
		text-align:center!important;
	}
}
