/*********** Grid Blog Archive ***********/
.archive-listing-wrapper.grid-listing {
    margin: 0 -20px -50px;
    .grid-item {
        padding: 0 20px;
        margin: 0 0 50px;
        @include box-sizing;
    }
}
.grid-blog-item-wrapper {
    &:not(.industrium-format-quote) {
        .blog-item {
            .post-meta-header {
                &:not(:first-child) {
                    .post-meta-item-date {
                        margin-top: -56px;
                    }
                }
            }
            .post-labels {
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
            .post-title {
                line-height: 1.5em;
                &:not(:first-child) {
                    margin-top: 5px;
                }
            }
            .post-content {
                &:not(:first-child) {
                    margin-top: 8px;
                }
            }
            .post-meta-item-author {
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
}